@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject IStringLocalizer<SharedResource> Localizer
@{
    var cultureItems = LocOptions.Value.SupportedUICultures.Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName }).OrderBy(l => l.Text).ToList();
    var emptyItem = new SelectListItem { Value = "", Text = "" };
    cultureItems.Insert(0, emptyItem);
    cultureItems.RemoveAll(t => t.Value == "en");
}
<div class="page-content translations">
     @*todo: use page status*@
    <div id="statusMessage" class="alert alert-dismissible alert-danger collapse mb-4" role="alert">
        <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="message">&nbsp;</span>
    </div>
    <div class="d-flex">
        <div class="form-group float-label">
            <label for="Locale">@Localizer["Language"]</label>
            @(Html.Kendo().DropDownList()
                                .Name("Locale")
                                .HtmlAttributes(new { @class = "nav-item mr-2 k-control", style = "width: 200px;" })
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .BindTo(cultureItems)
                                .Events(events => events
                                    .Open("function() {this.element.getKendoDropDownList().list.find('li.k-item').first().hide();}")
                                    .Change("searchTranslations")
                                )
                )
        </div>
        <div class="form-group float-label">
            <label for="System">@Localizer["System"]</label>
            @(Html.Kendo().DropDownList()
                                    .Name("System")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "nav-item mr-2 k-control", style = "width: 200px;" })
                                    .AutoBind(true)
                                    .Height(500)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetSystems", "Translations");
                                        });

                                    })
                                    .Events(e => e
                                        .Change("searchTranslations")
                                    )
            )

        </div>
        <div class="form-group float-label">
            <label for="Menu">@Localizer["Menu"]</label>
            @(Html.Kendo().DropDownList()
                                    .Name("Menu")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .HtmlAttributes(new { @class = "nav-item mr-2 k-control", style = "width: 400px;" })
                                    .AutoBind(false)
                                    .Height(500)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetMenuItems", "Translations").Data("function() { return {system: $('#System').val()};}");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .CascadeFrom("System")
                                    .Events(e => e.Change("searchTranslations"))
               )
        </div>
        <div class="form-group float-label">
            <label for="searchTxt">@Localizer["Search Text"]</label>
            <input id="searchTxt" type="text" class="nav-item mr-2 form-control form-control-sm" />
        </div>

    </div>
    <div class="row">
        <div class="col pb-2">
            <div class="pb-2 d-flex justify-content-between">
                <div>
                    @*<input id="AllowEN" name="AllowEN" type="checkbox" style="height:auto; margin-top: 10px;" />
                        <label for="AllowEN" style="padding-top: 5px; padding-left: 10px;">Allow editing of EN values</label>
                        &nbsp;&nbsp;&nbsp;&nbsp;*@
                    <input id="EmptyOnly" name="EmptyOnly" type="checkbox" style="height:auto; margin-top: 10px;" checked />
                    <label for="EmptyOnly" style="padding-top: 5px; padding-left: 10px;">@Localizer["Display empty values only"]</label>
                </div>
                <div class="pr-5">
                    @*<a id="refreshCache" class="nav-link" href="#">
                        <i class="far fa-sync pr-3"></i><span>Refresh Cache</span>
                    </a>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        @(Html.Kendo().Grid<LocalizationRecords>()
            .Name("gridTranslations")
            .Columns(columns =>
            {
                columns.Bound(t => t.Key).Title(Localizer["Key"]).Width(450);
                    columns.Bound(t => t.LocalizationCulture).Title(Localizer["Localization Culture"]).Width(100);
                    columns.Bound(t => t.Text).Width(450).Title(Localizer["Text"])
                    .Editable("isTranslationEditable")
                    .HtmlAttributes(new { @class = "translationValue editable-cell" });
                columns.Bound(t => t.ResourceKey).Title(Localizer["Resource Key"]).Width(350);
            })
            .ToolBar(toolbar =>
            {
                //toolbar.Create();
                toolbar.Save().Text(Localizer["Save changes"]).CancelText(Localizer["Cancel changes"]);                
                toolbar.Excel().Text(Localizer["Export to Excel"]);
            })
            .Editable(editable => editable.Mode(GridEditMode.InCell))
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Pageable(pager => pager.AlwaysVisible(false).PageSizes(true).Refresh(true))
            .Sortable(sort => sort.AllowUnsort(false))
            .Excel(excel => excel.FileName("Translations.xlsx").AllPages(true))
            .Events(e => e.DataBound("onTranslationsDataBound"))
            .AutoBind(false)
            .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                //.ServerOperation(false)
                .Read(read => read.Action("TranslationsGrid_Read", "Translations").Data("getTranslationsGridFilter"))
                .Update(update => update.Action("TranslationsGrid_Update", "Translations"))
                .Model(model =>
                {
                    model.Id(t => t.Id);
                    model.Field(t => t.Id).DefaultValue(1).Editable(false);
                    model.Field(t => t.Key).Editable(false);
                    model.Field(t => t.LocalizationCulture).Editable(false);
                    model.Field(t => t.Text).Editable(true);
                    model.Field(t => t.ResourceKey).Editable(false);
                })
                .Sort(sort => sort.Add(u => u.Key))
                .PageSize(10)
                .Events(events => events.RequestEnd("onTranslationsRequestEnd"))
            )
    )
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".translations").floatLabels();
    })
</script>