@using Microsoft.EntityFrameworkCore
@model TmkCountryLawDetailViewModel
@inject ISystemSettings<DefaultSetting> Settings
@inject IStringLocalizer<CountryLawResource> Localizer
@inject ICountryLookupViewModelService CountryLookupService
@inject IEntityService<AppSystem> SystemService
@{
    var settings = await Settings.GetSetting();

    var id = Model.CountryLawID;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];

    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
    var childViewModel = new CountryLawChildViewModel { Id=Model.CountryLawID, CanDeleteChild=Model.CanDeleteChild, Country=Model.Country,CaseType = Model.CaseType, Permission = detailPagePermission };

    var pageId = ViewData["PageId"];
    var saveAction = detailPagePermission.CanEditRemarksOnly ? "SaveRemarks" : fullModify ? "Save" : "";

    var allSystems = await SystemService.QueryableList.OrderBy(s => s.SystemName).ToListAsync();
    var selectedSystems = string.IsNullOrEmpty(Model.Systems)
        ? new HashSet<string>()
        : new HashSet<string>(Model.Systems.Split("; "));
}

<form cpi-detail-form action="@saveAction">
    <input type="hidden" asp-for="CountryLawID" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>
    <div class="page-content  detail cpiMainEntry">
        <div class="form-row">
            <div class="col-md-2">
                <div class="form-group float-label">
                    <label asp-for="Country"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="Country" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AuxiliaryWithLink(
                            name: "Country",
                            labels: new string[] { countryLabel, countryNameLabel },
                            columns: new string[] { "Country", "CountryName" },
                            onChange: "function(e) {pageHelper.onComboBoxChangeDisplayName(e,'CountryName');}",
                            defaultValue: Model.Country,
                            validationMessage: Localizer["Country field is required."]
                            ))
                        <span asp-validation-for="Country"></span>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label asp-for="CountryName"></label>
                    <input type="text" id="Country_@(pageId)_Name" class="form-control form-control-sm" readonly="readonly" asp-for="CountryName" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-2">
                <div class="form-group float-label">
                    <label asp-for="CaseType"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="CaseType" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AuxiliaryWithLink(
                            name: "CaseType",
                            labels: new string[] {Localizer["Case Type"], Localizer["Description"] },
                            columns: new string[] {"CaseType", "Description"},
                            action: "GetCaseTypesList",
                            controller: "CaseType",
                            onChange: "function(e) {pageHelper.onComboBoxChangeDisplayName(e,'Description');}",
                            defaultValue: Model.CaseType,
                            validationMessage: Localizer["Case Type field is required."]
                            ))
                        <span asp-validation-for="CaseType"></span>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label asp-for="CaseTypeDescription"></label>
                    <input type="text" id="CaseType_@(pageId)_Name" class="form-control form-control-sm" readonly="readonly" asp-for="CaseTypeDescription" />
                </div>
            </div>
        </div>
        @*<div class="form-row">
        </div>*@
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="mb-1">@Localizer["Systems"]</label>
                    <input type="hidden" name="Systems" id="SystemsHidden" value="@Model.Systems" />
                    <div class="border rounded p-2 d-flex flex-wrap">
                        @foreach (var system in allSystems)
                        {
                            var isChecked = selectedSystems.Contains(system.SystemName);
                            var cbId = "sys_" + system.SystemName;
                            <div class="custom-control custom-checkbox mr-3 mb-1">
                                <input type="checkbox" class="custom-control-input system-checkbox"
                                       id="@cbId" value="@system.SystemName"
                                       @(isChecked ? "checked" : "")
                                       @(isReadOnly ? "disabled" : "") />
                                <label class="custom-control-label" for="@cbId">
                                    @system.SystemName <span class="text-muted small">(@system.SystemType)</span>
                                </label>
                            </div>
                        }
                        @if (!isReadOnly)
                        {
                            <div class="custom-control custom-checkbox mr-3 mb-1 border-left pl-3">
                                <input type="checkbox" class="custom-control-input" id="toggleAllSystems"
                                       @(selectedSystems.Count == allSystems.Count && allSystems.Count > 0 ? "checked" : "") />
                                <label class="custom-control-label font-weight-bold" for="toggleAllSystems">@Localizer["All"]</label>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @if (!isReadOnly)
        {
            <script>
                (function () {
                    var $form = $("[cpi-detail-form]");
                    function updateSystemsHidden() {
                        var selected = [];
                        $(".system-checkbox:checked").each(function () { selected.push($(this).val()); });
                        $("#SystemsHidden").val(selected.join("; "));
                        $form.trigger("markDirty");
                    }
                    $(".system-checkbox").on("change", function () {
                        updateSystemsHidden();
                        var total = $(".system-checkbox").length;
                        var checked = $(".system-checkbox:checked").length;
                        $("#toggleAllSystems").prop("checked", checked === total);
                    });
                    $("#toggleAllSystems").on("change", function () {
                        var selectAll = $(this).is(":checked");
                        $(".system-checkbox").prop("checked", selectAll);
                        updateSystemsHidden();
                    });
                })();
            </script>
        }
    </div>
    <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" id="tmkCountryLaw-tab" role="tablist">
        @if (!addMode)
        {
            <li class="nav-item">
                <a class="nav-link active" id="countryLawDetailLawActionsTab" data-toggle="tab" role="tab" aria-controls="countryLawDetailLawActionsContent" aria-selected="true" href="#countryLawDetailLawActionsTabContent">@Localizer["Law Actions"] </a>
            </li>
        }
        @if (!addMode)
        {
            <li class="nav-item">
                <a class="nav-link" id="countryLawDetailLawHighlightsTab" data-toggle="tab" role="tab" aria-controls="countryLawDetailLawHighlightsTabContent" aria-selected="false" href="#countryLawDetailLawHighlightsTabContent">@Localizer["Law Highlights"]</a>
            </li>
        }
        @if (!addMode && Model.HasDesignatedCountries)
        {
            <li class="nav-item">
                <a class="nav-link" id="countryLawDetailDesigCountriesTab" data-toggle="tab" role="tab" aria-controls="countryLawDetailDesigCountriesTabContent" aria-selected="false" href="#countryLawDetailDesigCountriesTabContent">@Localizer["Designated Countries"]</a>
            </li>
        }
        @if (!addMode)
        {
            <li class="nav-item">
                <a class="nav-link" id="countryLawDetailWebLinksTab" data-toggle="tab" role="tab" aria-controls="countryLawDetailWebLinksTabContent" aria-selected="false" href="#countryLawDetailWebLinksTabContent">@Localizer["Web Links"]</a>
            </li>
        }
    </ul>
    <div class="tab-content">
        @if (!addMode)
        {
            <div class="tab-pane page-content show active" id="countryLawDetailLawActionsTabContent" role="tabpanel" aria-labelledby="countryLawDetailLawActions">
                @await Html.PartialAsync("_GridCountryDue", childViewModel)
            </div>

        }
        @if (!addMode)
        {
    <div class="tab-pane page-content px-1 py-1" id="countryLawDetailLawHighlightsTabContent" role="tabpanel" aria-labelledby="countryLawDetailLawHighlightsTab">
        @*<div>
            @Model.Remarks
        </div>*@
        <div class="form-row">
            <div class="col">
                <textarea class="form-control form-control-sm" rows="12" asp-for="Remarks" asp-is-readonly=true></textarea>
            </div>
        </div>
    </div>
        }

        @if (!addMode && Model.HasDesignatedCountries)
        {
            <div class="tab-pane page-content" id="countryLawDetailDesigCountriesTabContent" role="tabpanel" aria-labelledby="countryLawDetailDesigCountriesTab">
                @await Html.PartialAsync("_GridDesignatedCountry", childViewModel)
            </div>
        }
        @if (!addMode)
        {
            <div class="tab-pane page-content" id="countryLawDetailWebLinksTabContent" role="tabpanel" aria-labelledby="countryLawDetailWebLinksTab">
                @await Component.InvokeAsync("GridWebLinks", new WebLinksGridOptions { Id = Model.CountryLawID, Module = "tmkcountrylaw", Controller = "CountryLaw" })
            </div>
        }
    </div>
    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
        </div>
    }
</form>
<div class="cpiContainerPopup"></div>

<script>
    tmkCountryLawPage.editableGrids = [
        {
            name: 'tmkCountryDueGrid', isDirty: false, filter: tmkCountryLawPage.getKeyFields, afterSubmit: tmkCountryLawPage.updateRecordStamps
        },
        {
            name: 'tmkDesCaseTypeGrid', isDirty: false, filter: tmkCountryLawPage.getKeyFields, afterSubmit: tmkCountryLawPage.updateRecordStamps
        }
    ];
    tmkCountryLawPage.tabsLoaded = [];
    tmkCountryLawPage.tabChangeSetListener();

</script>
