@model TmkCountryLawDetailViewModel
@inject ISystemSettings<DefaultSetting> Settings
@inject IStringLocalizer<CountryLawResource> Localizer
@inject ICountryLookupViewModelService CountryLookupService
@{
    var settings = await Settings.GetSetting();

    var addMode = string.IsNullOrEmpty(Model.Country) && string.IsNullOrEmpty(Model.CaseType);

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];

    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    bool isReadOnlyRemarks = !(fullModify || detailPagePermission.CanEditRemarksOnly);
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
    var childViewModel = new CountryLawChildViewModel { Id=0, CanDeleteChild=Model.CanDeleteChild, Country=Model.Country, CaseType = Model.CaseType, Permission = detailPagePermission };

    var pageId = ViewData["PageId"];
    var saveAction = detailPagePermission.CanEditRemarksOnly ? "SaveRemarks" : fullModify ? "Save" : "";
}

<form cpi-detail-form action="@saveAction">
    <input type="hidden" asp-for="Country" />
    <input type="hidden" asp-for="CaseType" />
    <input type="hidden" name="CopyOptions" value="@(ViewBag.CopyOptions ?? "")" />
    <input type="hidden" name="OriginalSystems" value="@(addMode ? "__NEW__" : (string.IsNullOrEmpty(Model.Systems) ? "__EMPTY__" : Model.Systems))" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>
    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col-md-2">
                <div class="form-group float-label">
                    <label asp-for="Country"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="Country" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AuxiliaryWithLink(
                            name: "Country",
                            labels: new string[] { countryLabel, countryNameLabel },
                            columns: new string[] { "Country", "CountryName" },
                            onChange: "function(e) {pageHelper.onComboBoxChangeDisplayName(e,'CountryName');}",
                            defaultValue: Model.Country,
                            validationMessage: Localizer["Country field is required."]
                            ))
                        <span asp-validation-for="Country"></span>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label asp-for="CountryName"></label>
                    <input type="text" id="Country_@(pageId)_Name" class="form-control form-control-sm" readonly="readonly" asp-for="CountryName" />
                </div>
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <div class="form-check">
                    @if (isReadOnly)
                    {
                        <input type="checkbox" class="k-checkbox" asp-for="AutoGenDesCtry" disabled="disabled" />
                        <input type="hidden" asp-for="AutoGenDesCtry" />
                    }
                    else
                    {
                        <input type="checkbox" class="k-checkbox" asp-for="AutoGenDesCtry" />
                    }
                    <label class="k-checkbox-label" asp-for="AutoGenDesCtry"></label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-2">
                <div class="form-group float-label">
                    <label asp-for="CaseType"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="CaseType" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AuxiliaryWithLink(
                            name: "CaseType",
                            labels: new string[] {Localizer["Case Type"], Localizer["Description"] },
                            columns: new string[] {"CaseType", "Description"},
                            action: "GetCaseTypesList",
                            controller: "CaseType",
                            onChange: "function(e) {pageHelper.onComboBoxChangeDisplayName(e,'Description');}",
                            defaultValue: Model.CaseType,
                            validationMessage: Localizer["Case Type field is required."]
                            ))
                        <span asp-validation-for="CaseType"></span>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label asp-for="CaseTypeDescription"></label>
                    <input type="text" id="CaseType_@(pageId)_Name" class="form-control form-control-sm" readonly="readonly" asp-for="CaseTypeDescription" />
                </div>
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <div class="form-check">
                    @if (isReadOnly)
                    {
                        <input type="checkbox" class="k-checkbox" asp-for="AutoUpdtDesTmkRecs" disabled="disabled" />
                        <input type="hidden" asp-for="AutoUpdtDesTmkRecs" />
                    }
                    else
                    {
                        <input type="checkbox" class="k-checkbox" asp-for="AutoUpdtDesTmkRecs" />
                    }
                    <label class="k-checkbox-label" asp-for="AutoUpdtDesTmkRecs"></label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group float-label">
                    <label asp-for="Systems"></label>
                    @await Html.PartialAsync("~/Views/Shared/_SystemsDropdown.cshtml", null, new ViewDataDictionary(ViewData) {
                        { "SystemsValue", Model.Systems },
                        { "SystemsPrefix", "tmkCL" },
                        { "SystemsAction", Url.Action("GetSystemList") },
                        { "SystemsReadOnly", isReadOnlyRemarks }
                    })
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" id="tmkCountryLaw-tab" role="tablist">
        @if (!addMode)
        {
            <li class="nav-item">
                <a class="nav-link active" id="countryLawDetailLawActionsTab" data-toggle="tab" role="tab" aria-controls="countryLawDetailLawActionsContent" aria-selected="true" href="#countryLawDetailLawActionsTabContent">@Localizer["Law Actions"] </a>
            </li>
        }
        @if (!addMode && Model.HasDesignatedCountries)
        {
            <li class="nav-item">
                <a class="nav-link" id="countryLawDetailDesigCountriesTab" data-toggle="tab" role="tab" aria-controls="countryLawDetailDesigCountriesTabContent" aria-selected="false" href="#countryLawDetailDesigCountriesTabContent">@Localizer["Designated Countries"]</a>
            </li>
        }
    </ul>
    <div class="tab-content">
        @if (!addMode)
        {
            <div class="tab-pane page-content show active" id="countryLawDetailLawActionsTabContent" role="tabpanel" aria-labelledby="countryLawDetailLawActions">
                @await Html.PartialAsync("_GridCountryDue", childViewModel)
            </div>
        }
        @if (!addMode && Model.HasDesignatedCountries)
        {
            <div class="tab-pane page-content" id="countryLawDetailDesigCountriesTabContent" role="tabpanel" aria-labelledby="countryLawDetailDesigCountriesTab">
                @await Html.PartialAsync("_GridDesignatedCountry", childViewModel)
            </div>
        }
    </div>
    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.UserID" date-created="@Model.DateCreated" updated-by="@Model.UserID" last-update="@Model.LastUpdate" t-stamp="null"></vc:record-stamps>
        </div>
    }
</form>
<div class="cpiContainerPopup"></div>

<script>
    tmkCountryLawPage.afterInsert = function (result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    tmkCountryLawPage.editableGrids = [
        {
            name: 'tmkCountryDueGrid', isDirty: false, filter: tmkCountryLawPage.getKeyFields, afterSubmit: tmkCountryLawPage.updateRecordStamps
        },
        {
            name: 'tmkDesCaseTypeGrid', isDirty: false, filter: tmkCountryLawPage.getKeyFields, afterSubmit: tmkCountryLawPage.updateRecordStamps
        }
    ];
    tmkCountryLawPage.tabsLoaded = [];
    tmkCountryLawPage.tabChangeSetListener();

</script>

<script>
    $(document).ready(function() {
        $('.page-nav.add-record').off('click').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = $(this).data('url');
            if (url) pageHelper.openLink(url, true);
        });
    });
</script>
