@model PageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@{
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
}
<div class="tab-content search page-content">
    <div class="tab-pane show active" id="countryDueSearchMainTabContent" aria-labelledby="countryDueSearchMainTab" role="tabpanel">
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Country">@Localizer["Country"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Country" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="CaseType">@Localizer["Case Type"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "CaseType" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="ActionType">@Localizer["Action Type"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "ActionType" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="ActionDue">@Localizer["Action Due"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "ActionDue" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="BasedOn">@Localizer["Based On"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "BasedOn" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Indicator">@Localizer["Indicator"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Indicator" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="SystemName">@Localizer["Systems"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "SystemName", controller = "System", area = "Shared", action = "GetPicklistData" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="UserID">@Localizer["User ID"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "UserID" })
                </div>
            </div>
        </div>
    </div>
</div>
