@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings

@{
    var settings = await Settings.GetSetting();
    int id = Model;
    bool addMode = id == 0;
    var noRecord = id < 0;
    var systemType = ViewData["SystemType"];

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    bool fullModify = detailPagePermission.CanEditRecord && !noRecord;        // no edit remarks only for letters
    bool isReadOnly = !fullModify;

    var dataSourceMsg = Localizer["Select the tree node, and drag the data source from the grid to that node."];
    var nodeDropEvent = "function(e) { letterSetup.treeDropNode(e, letId); }".Replace("letId", id.ToString());
}

<div class="p-2">
    <div class="form-row pl-2 pb-2">
        <span style="font-size: smaller; font-style: italic;">@dataSourceMsg</span>
    </div>
    <div class="form-row">
        <div id="divDataSourceGrid" class="col-2 pl-2 pr-2">
            @(Html.Kendo().Grid<LetterDataSourceViewModel>()
                .Name("dataSourceGrid")
                .Columns(column =>
                {
                    column.Bound(ds => ds.DataSourceId).Hidden();
                    column.Bound(ds => ds.DataSourceDescMain).Width(150);
                })
                .AutoBind(false)
                .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                .Pageable(page => page.PageSizes(true).Refresh(true))
                .Scrollable()
                .Sortable(sortable => sortable.SortMode(GridSortMode.SingleColumn).ShowIndexes(true))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(ds => ds.DataSourceId);
                    })
                    .Read(read => read.Action("GridRead", "LetterDataSource").Data($"{{systemType: '{systemType}'}}"))
                    .Events(events =>
                    {
                        events.Error("pageHelper.onGridError");
                    })
                    .PageSize(15)
                    .Sort(sort => sort.Add(ds => ds.DataSourceDescMain))
                )
                .HtmlAttributes(new { @class = "k-grid-border" })
            )
        </div>
        <div id="divDataSourceTree" class="col-2">
            <span style="font-style:italic; font-size: small; font-weight: bold;" class="pt-2 pb-2">@Localizer["This Letter's Data Sources"]</span>
            <div class="border p-2" style="height:90%;" id="letterTreeSection"
                 data-tree-drop-url="@Url.Action("AddRecordSource", "LetterDataSource")"
                 data-tree-update-url="@Url.Action("UpdateRecordSource", "LetterDataSource")"
                 data-tree-remove-url="@Url.Action("DeleteRecordSource", "LetterDataSource")">
                @(Html.Kendo().TreeView()
                    .Name("dataSourceTree")
                    .TemplateId("treeTemplate")
                    .DragAndDrop(true)
                    .DataTextField("text")
                    .LoadOnDemand(false)
                    .DragAndDrop(true)
                    .DataSource(dataSource => dataSource
                        .Read(read => read
                            .Action("GetFamilyTree", "LetterDataSource", new { LetId = id })
                        )
                    )
                    .Events(events => events
                        .Drop(nodeDropEvent)
                    )
                )
            </div>

        </div>
        <div class="col-8">
            <div class="form-row">
                <span style="font-style:italic; font-size: small; font-weight: bold;" class="pt-2 pb-2">@Localizer["This Letter's Data Filter"]</span>
                <div class="pl-2 pr-2">
                    @await Html.PartialAsync("_GridFilter.cshtml", id)
                </div>
            </div>
        </div>
    </div>
</div>
<ul id="treeMenu">
    <li id="removeNode">@Localizer["Remove node"]</li>
</ul>

<script id="treeTemplate" type="text/kendo-ui-template">
    # if (!item.hasChildren) { #
    <span class='no-children'>
        # } #
        #: item.text #
        # if (!item.hasChildren) { #
    </span>
    # } #
</script>


<script>
    $(document).ready(function () {
        var fullModify = @(fullModify ? "true" : "false");

        if (fullModify) {
            // make grid draggable
            $("#dataSourceGrid").kendoDraggable({
                filter: "tr",
                hint: function (element) {                  // UI hint for dragged item
                    return element.clone().css({
                        "opacity": 0.6,
                        "background-color": "#84a4b3"       // this is: var(--grid-hover)
                    });
                }
            });

            // make treeview droppable
            $("#dataSourceTree").kendoDropTarget({
                drop: function (e) {
                    letterSetup.treeDropGrid(e, @id);
                }
            });

            @*$("#dataSourceTree").kendoDropTarget({
                drop: function (e) {
                    letterSetup.dataSourceTreeDrop(e, @id);
                }
            });*@

            // select root node
            treeView = $("#dataSourceTree");
            treeView.data("kendoTreeView").select(treeView.find(".k-item").first());

            // attach context menu to leaf node (no-children)
            $("#treeMenu").kendoContextMenu({
                target: "#dataSourceTree",
                filter: ".k-in .no-children",
                select: function (e) {
                    letterSetup.removeDataSourceNode(e, @id);
                }
            });
        }
        else {
            $("#treeMenu").hide();
        }
    });
</script>

<style>
    .k-treeview .k-item {
        font-size: small;
    }

    #dataSourceGrid .k-grid-content {
        min-height: 100px;
        max-height: 370px;
    }

    /*li[data-uid='#=item.uid#'] span.k-state-hover {
        background-color: var(--grid-hover) !important;
    }

    li[data-uid='#=item.uid#'] span.k-state-selected {
        background-color: var(--grid-hover) !important;*/
    /*box-shadow: inset 0 0 1px 1px gray;*/
    /*}*/

</style>