@model int
@inject IStringLocalizer<SharedResource> Localizer



<div id="previewContainer" data-letter-id="@Model" data-preview-url="@Url.Action("LetterPreview", "LetterSetup")"
     data-gen-title="@Localizer["Generate Letter"]"
     data-gen-log-message="@Localizer["Please confirm that you want to preview and log this letter:"]"
     data-gen-nolog-message="@Localizer["Please confirm that you want to preview this letter without logging:"]">
    <div class="form-row p-2">
        <div class="col">
            <div class="form-check float-left">
                <button id="refreshButton" type="button" class="btn pr-4"><i class="fa fa-sync pr-2"></i>@Localizer["Refresh"]</button>
                <input type="checkbox" class="k-checkbox" id="includeGenerated" name="includeGenerated" checked>
                <label class="k-checkbox-label" for="includeGenerated">@Localizer["Include Previously Generated"]</label>
            </div>
            <div class="float-right">
                <button id="generateLetterButton" type="button" class="btn btn-primary pr-2"><i class="fal fa-file-plus pr-2"></i>@Localizer["Preview & Log"]</button>
                <button id="previewLetterButton" type="button" class="btn btn-primary pl-2"><i class="fal fa-search pr-2"></i>@Localizer["Preview Only"]</button>
            </div>
        </div>


    </div>
    <div id="previewGrid"></div>
    <input type="hidden" id="previewSelection" />
</div>


<style>
    #previewGrid .k-grid-content {
        min-height: 100px;
        max-height: 300px;
    }
 
</style>

<script>
    $(document).ready(function () {
        letterSetup.initializePreview({
            previewContainerId: "previewContainer",
            previewGridId: "previewGrid"
        });

    });
</script>
