@model LetterPageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@{
    var pageId = Model.PageId;
    var systemType = ViewBag.SystemType;
}

<ul class="nav nav-tabs refine-search nav-tabs-vertical" role="tablist">
    <li class="nav-item">
        <a id="@(pageId)MainTab" href="#@(pageId)MainTabContent" class="nav-link active" data-toggle="tab" role="tab"
           aria-controls="@(pageId)MainTabContent" title="@Localizer["Main"]">@Localizer["Main"]</a>
    </li>
</ul>

<div class="accordion-content show">
    <div class="tab-pane show form-sidebar active" id="@(pageId)MainTabContent" aria-labelledby="@(pageId)MainTab" role="tabpanel">
        <form cpi-detail-form form-name="letterSearchForm">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group float-label">
                        <label for="LetName">@Localizer["Letter Name"]</label>
                        @await Component.InvokeAsync("ComboBox", new { name = "LetName", action = "GetLetterNames", controller = "LetterSetup", area = "Shared", screen = pageId,data=$"{{systemType:'{systemType}'}}"})
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group float-label">
                        <label for="LetCatId">@Localizer["Category"]</label>
                        @await Component.InvokeAsync("ComboBox", new { name = "LetterCategory.LetCatDesc", textProperty = "LetCatDesc", controller = "LetterCategory", area = "Shared", action = "GetCategoryList", screen = pageId })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group float-label">
                        <label for="LetSubCatId">@Localizer["Sub Category"]</label>
                        @await Component.InvokeAsync("ComboBox", new
                            {
                                name = "LetSubCatId",
                                textProperty = "LetSubCat",
                                valueProperty = "LetSubCatId",
                                controller = "LetterSubCategory",
                                area = "Shared",
                                action = "GetLetterSubCategoryList",
                            })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group float-label">
                        <label for="Tags">@Localizer["Tags"]</label>
                        @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                   {
                       Controller = "Letter",
                       Area = "Shared",
                       Action = "GetTagPickListData",
                       Name = "Tag",
                       DataTextProperty = "Tag",
                       DataValueProperty = "Tag",
                   })
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
