@model LetterMainDetailViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings

@{
    var settings = await Settings.GetSetting();

    var id = Model.LetId;
    var addMode = id == 0;
    var noRecord = id < 0;
    var systemType = Model.SystemType;
    ViewData["SystemType"] = systemType;            // save, some children partial views will use this info

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord;        // no edit remarks only for letters
    bool isReadOnly = !fullModify || noRecord;

    var pageId = ViewData["PageId"];

    var letterTemplateAction = "GetTemplateList";
    var letterTemplateController = "LetterTemplate";

    if (settings.IsSharePointIntegrationOn)
    {
        letterTemplateAction = "GetLetterTemplateList";
        letterTemplateController = "SharePointGraph";
    }
    var qeSetupUrl = Url.Action("DetailLink", "QuickEmailSetup", new { area = "Shared", id = "actualValue" });
}


<form cpi-detail-form action="Save">
    <input type="hidden" asp-for="LetId" />
    <input type="hidden" asp-for="SystemType" />
    <input type="hidden" asp-for="CopySourceLetId" />

    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col col-4">
                <div class="form-group float-label">
                    <label asp-for="LetName" class="required"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="LetName" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="LetName"></span>
                </div>
            </div>
            <div class="col col-4">
                <div class="form-group float-label">
                    <label asp-for="ScreenName" class="required"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="ScreenName" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new
                            {
                                name = "ScreenId",
                                action = "GetScreenBySystem",
                                controller = "SystemScreen",
                                area = "Shared",
                                data = "letterSetup.getScreenFilter('" + systemType + "')",
                                defaultValue = Model.ScreenId == 0 ? "" : Model.ScreenId.ToString(),
                                defaultText = Model.ScreenName,
                                textProperty = "ScreenName",
                                valueProperty = "ScreenId",
                                screen = pageId,
                                required = true
                            })
                        ;

                        <span asp-validation-for="ScreenId"></span>
                    }
                </div>
            </div>
            <div class="col col-4">
                <div class="form-group float-label">
                    <label asp-for="LetCatId" class="required"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="LetCatDesc" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new
                            {
                                name = "LetCatId",
                                action = "GetCategoryListBySystem",
                                controller = "LetterCategory",
                                area = "Shared",
                                defaultValue = Model.LetCatId == 0 ? "" : Model.LetCatId.ToString(),
                                defaultText = Model.LetCatDesc,
                                textProperty = "LetCatDesc",
                                valueProperty = "LetCatId",
                                screen = pageId,
                                required = true,
                                data = $"{{system: '{Model.SystemType}'}}"
                            })
                        ;
                        <span asp-validation-for="LetCatId"></span>
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-4">
                <div class="form-group float-label">
                    <label asp-for="TemplateFile" class="required"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="TemplateFile" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new
                            {
                                name = "TemplateFile",
                                action = letterTemplateAction,
                                controller = letterTemplateController,
                                area = "Shared",
                                data = $"{{sys: '{systemType}'}}",
                                defaultValue = Model.TemplateFile,
                                defaultText = Model.TemplateFile,
                                textProperty = "Value",
                                valueProperty = "Value",
                                screen = pageId,
                                required = true
                            })
                        ;
                        <span asp-validation-for="TemplateFile"></span>
                    }

                </div>
            </div>
            @if (settings.IsSharePointIntegrationOn)
            {
                <div class="col col-1">
                    <a class="fal fa-pencil-alt pt-3 edit-template" data-template-file="@Model.TemplateFile" data-system-type="@Model.SystemType"
                       data-retry-msg="@Localizer["Please try it again after the SharePoint authentication."]" title="@Localizer["Edit Template"]" style="cursor:pointer"></a>
                </div>
            }
            <div class="col">
                <div class="form-group float-label">
                    <div class="custom-control custom-checkbox pt-3">
                        <input asp-for="HasImage" class="custom-control-input" asp-is-readonly="@isReadOnly" />
                        <label asp-for="HasImage" class="custom-control-label"></label>
                    </div>
                    <span asp-validation-for="HasImage"></span>
                </div>
            </div>
            @if (settings.IsESignatureOn)
            {
                <div class="col">
                    <div class="form-group float-label">
                        <div class="custom-control custom-checkbox pt-3">
                            <input asp-for="ForSignature" class="custom-control-input" asp-is-readonly="@isReadOnly" />
                            <label asp-for="ForSignature" class="custom-control-label"></label>
                        </div>
                        <span asp-validation-for="ForSignature"></span>
                    </div>
                </div>


                <div class="col col-4">
                    <div class="form-group float-label">
                        <label asp-for="SignatureQESetupName"></label>
                        @if (isReadOnly)
                        {
                            <input type="text" class="form-control form-control-sm" asp-for="SignatureQESetupName" disabled />
                        }
                        else
                        {
                            @await Component.InvokeAsync("ComboBox", new
                                {
                                    name = "SignatureQESetupId",
                                    action = "GetQEForSignatureTemplates",
                                    controller = "QuickEmailSetup",
                                    area = "Shared",
                                    defaultValue = Model.SignatureQESetupId == 0 ? "" : Model.SignatureQESetupId.ToString(),
                                    defaultText = Model.SignatureQESetupName,
                                    textProperty = "TemplateName",
                                    valueProperty = "QESetupID",
                                    screen = pageId,
                                    data = "letterSetup.getScreenId",
                                    showLinkButton = true,
                                    linkButtonURL = qeSetupUrl
                                })
                            <span asp-validation-for="SignatureQESetupId"></span>
                        }


                    </div>
                </div>

            }

        </div>
        <div class="form-row">
            <div class="col col-4">
                <div class="form-group float-label">
                    <label asp-for="LetSubCatId"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="LetSubCat" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new
                            {
                                name = "LetSubCatId",
                                action = "GetLetterSubCategoryList",
                                controller = "LetterSubCategory",
                                area = "Shared",
                                defaultValue = Model.LetSubCatId == 0 ? "" : Model.LetSubCatId.ToString(),
                                defaultText = Model.LetSubCat,
                                textProperty = "LetSubCat",
                                valueProperty = "LetSubCatId",
                                screen = pageId,
                                required = false
                            })
                        ;
                        <span asp-validation-for="LetCatId"></span>
                    }
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" id="letterTab" role="tablist">
        <li class="nav-item @(addMode ? "d-none" : null)">
            <a class="nav-link active" id="dataSourceTab" data-toggle="tab" role="tab" aria-controls="dataSourceTabContent" aria-selected="true" href="#dataSourceTabContent">@Localizer["Data Source"]</a>
        </li>
        <li class="nav-item @(addMode ? "d-none" : null)">
            <a class="nav-link" id="letterTagTab" data-toggle="tab" role="tab" aria-controls="letterTagTabContent" aria-selected="false" href="#letterTagTabContent">@Localizer["Tags"]</a>
        </li>
        <li class="nav-item @(addMode ? "d-none" : null)">
            <a class="nav-link" id="userDataTab" data-toggle="tab" role="tab" aria-controls="userDataTabContent" aria-selected="false" href="#userDataTabContent">@Localizer["User Data"]</a>
        </li>
        <li class="nav-item @(addMode ? "d-none" : null)">
            <a class="nav-link" id="userFilterTab" data-toggle="tab" role="tab" aria-controls="userFilterTabContent" aria-selected="false" href="#userFilterTabContent">@Localizer["User Filters"] </a>
        </li>
        <li class="nav-item @(addMode ? "d-none" : null)">
            <a class="nav-link" id="fieldListTab" data-toggle="tab" role="tab" aria-controls="fieldListTabContent" aria-selected="false" href="#fieldListTabContent">@Localizer["Field List"] </a>
        </li>
        <li class="nav-item @(addMode ? "d-none" : null)">
            <a class="nav-link" id="previewTab" data-toggle="tab" role="tab" aria-controls="previewTabContent" aria-selected="false" href="#previewTabContent">@Localizer["Preview"] </a>
        </li>

        <li class="nav-item">
            <a class="nav-link @(string.IsNullOrEmpty(Model.Remarks) ? null : "has-remarks")" id="remarksTab" data-toggle="tab" role="tab" aria-controls="remarksTabContent" aria-selected="false" href="#remarksTabContent">@Localizer["Remarks"]</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="dataSourceTabContent" role="tabpanel" aria-labelledby="dataSourceTab">
            @await Html.PartialAsync("_DataSource.cshtml", id)
        </div>
        <div class="tab-pane" id="letterTagTabContent" role="tabpanel" aria-labelledby="letterTagTab">
            @await Html.PartialAsync("_GridLetterTag.cshtml", id)
        </div>
        <div class="tab-pane" id="userDataTabContent" role="tabpanel" aria-labelledby="userDataTab">
            @await Html.PartialAsync("_GridUserData.cshtml", id)
        </div>
        <div class="tab-pane" id="userFilterTabContent" role="tabpanel" aria-labelledby="userFilterTab">
            @await Html.PartialAsync("_GridFilterUser.cshtml", id)
        </div>
        <div class="tab-pane" id="fieldListTabContent" role="tabpanel" aria-labelledby="fieldListTab">
            @await Html.PartialAsync("_GridFieldList.cshtml", id)
        </div>
        <div class="tab-pane" id="previewTabContent" role="tabpanel" aria-labelledby="previewTab">
            @await Html.PartialAsync("_GridPreview.cshtml", id)
        </div>
        <div class="tab-pane page-content cpiMainEntry" id="remarksTabContent" role="tabpanel" aria-labelledby="remarksTab">
            <div class="form-row">
                <div class="col">
                    <textarea class="form-control form-control-sm" rows="12" asp-for="Remarks" asp-is-readonly="@isReadOnly">Remarks</textarea>
                </div>
            </div>
        </div>

    </div>
    @if (!addMode && Model.tStamp != null)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
        </div>
    }
</form>

<form action="@Url.Action("Generate", "Letter", new {Area = "Shared"})" method="post" id="letterForm">
    <input type="hidden" name="letterFormParams" id="letterFormParams" />
</form>


<script>
    $(document).ready(function () {
        letterSetup.initializeDetailPage({
            detailContainer: "@pageId",
            id: @id,
            addMode: @(id == 0 ? "true" : "false"),
            readOnly: @(isReadOnly ? "true" : "false"),
            recordStampsUrl: "@Url.Action("GetRecordStamps", new { id = id })",
            systemType: "@systemType"
        });

    });
</script>

