@model string
@using Microsoft.Extensions.Options
@inject IStringLocalizer<SharedResource> Localizer
@inject SignInManager<CPiUser> SignInManager
@inject UserManager<CPiUser> UserManager
@inject ISystemSettings<DefaultSetting> Settings
@inject IOptions<CPiIdentitySettings> IdentitySettings
@inject IAuthorizationService AuthorizationService
@{
    var identitySettings = IdentitySettings.Value;
    //hide if 2FA is required but disabled by user
    //or if SSO is required
    var isLocked = User.SSORequired() || User.TwoFactorRequired();
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var user = await UserManager.GetUserAsync(User);
}
<div class="manage-nav sidebar-nav p-3">
    <ul class="nav nav-pills cpi-nav-vertical flex-column">
        <li class="nav-item">
            <a asp-action="Profile" class="nav-link @(Model == ManageNavPages.Profile ? "active" : "")">
                <span class="fad fa-user-alt fa-fixed-width"></span>@Localizer["Profile"]
            </a>
        </li>
        @if (!(user.CannotChangePassword ?? false))
        {
            <li class="nav-item">
                <a asp-action="ChangePassword" class="nav-link @(Model == ManageNavPages.ChangePassword ? "active" : "")">
                    <span class="fad fa-unlock-alt fa-fixed-width"></span>@Localizer["Password"]
                </a>
            </li>
        }
        @if (hasExternalLogins)
        {
            <li class="nav-item">
                <a asp-action="ExternalLogins" class="nav-link @(Model == ManageNavPages.ExternalLogins ? "active" : "")">
                    <span class="fad fa-user-lock fa-fixed-width"></span>@Localizer["External Logins"]
                </a>
            </li>
        }
        <li class="nav-item">
            <a asp-action="TwoFactorAuthentication" class="nav-link @(Model == ManageNavPages.TwoFactorAuthentication ? "active" : "")">
                <span class="fad fa-mobile-android-alt fa-fixed-width"></span>@Localizer["Two-Factor Authentication"]
            </a>
        </li>
        @if (!isLocked)
        {
            <li class="nav-item">
                <a asp-action="Settings" class="nav-link @(Model == ManageNavPages.Settings ? "active" : "")">
                    <span class="fad fa-cog fa-fixed-width"></span>@Localizer["Settings"]
                </a>
            </li>
        }
    </ul>
</div>
