@model TwoFactorAuthenticationViewModel
@using System.Security.Claims
@using Microsoft.Extensions.Options
@inject IOptions<CPiIdentitySettings> CPiIdentitySettings
@inject IStringLocalizer<SharedResource> Localizer
@{
    var identitySettings = CPiIdentitySettings.Value;
    var show2FARequiredWarning = User.TwoFactorRequired();
}
<div class="page-content">
    @if (Model.Is2faEnabled)
    {
        <div class="pb-3">
            @if (Model.RecoveryCodesLeft == 0)
            {
            <div class="alert alert-danger mb-4">
                <strong>You have no recovery codes left.</strong>
                <p>You must <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
            </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
            <div class="alert alert-danger mb-4">
                <strong>You have 1 recovery code left.</strong>
                <p>You can <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
            </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
            <div class="alert alert-warning mb-4">
                <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
                <p>You should <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
            </div>
            }
            <a asp-action="Disable2faWarning" class="btn btn-primary mb-2">Disable 2FA</a>
            <a asp-action="GenerateRecoveryCodes" class="btn btn-primary mb-2">Reset recovery codes</a>
        </div>
    }
    else if (show2FARequiredWarning) {        
        <div class="alert alert-warning mb-4">
            <p><strong>@Localizer["Two-factor authentication is required."]</strong></p>
            <p>@Localizer["You must configure your authenticator app before you can log in with two-factor authentication and access the system."]</p>
        </div>
    }

    <div>
        <h5>@Localizer["Authenticator app"]</h5>
        @if (!Model.HasAuthenticator)
        {
            <a asp-action="EnableAuthenticator" class="btn btn-primary" role="button">@Localizer["Add authenticator app"]</a>
        }
        else
        {
            <a asp-action="EnableAuthenticator" class="btn btn-primary mb-2">@Localizer["Configure authenticator app"]</a>
            <a asp-action="ResetAuthenticatorWarning" class="btn btn-primary mb-2">@Localizer["Reset authenticator key"]</a>
        }
    </div>
</div>
