@using  LawPortal.Web.Areas
@inject IStringLocalizer<CountryLawResource> Localizer
@model PatCountryLawPrintViewModel

@{
    Layout = "";
}

<form method="post"
      id="ReportCriteriaForm"
      data-url="@ViewBag.Url">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6" style="text-align:left">
                <div class="form-group">
                    <input asp-for="PrintExpirationTerms" type="checkbox" checked />
                    <label for="IDs">@Localizer["Expiration Terms"]</label>
                </div>
                <div class="form-group">
                    <input asp-for="PrintLawActions" type="checkbox" checked />
                    <label for="IDs">@Localizer["Law Actions"]</label>
                </div>
            </div>
            <div class="col-sm-6" style="text-align:left">
                <div class="form-group">
                    <input asp-for="PrintLawHighlights" type="checkbox" checked />
                    <label for="IDs">@Localizer["Law Highlights"]</label>
                </div>
                <div class="form-group">
                    <input asp-for="PrintUserRemarks" type="checkbox" checked />
                    <label for="IDs">@Localizer["User Remarks"]</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12" hidden>
        <div class="form-group">
            <label for="ReportFormat">@Localizer["Report Format"]</label>
            <input id="ReportFormat" asp-for="ReportFormat" />
        </div>
        <div class="form-group">
            <label for="IDs">@Localizer["IDs"]</label>
            <input id="IDs" asp-for="IDs" type="text" value="" />
        </div>
        <div class="form-group">
            <input id="DownloadName" type="text" value="@ViewBag.DownloadName" />
        </div>
    </div>
</form>