@using R10.Web.Services;
@using Microsoft.Graph;
@model MailFolder;
@inject IStringLocalizer<SharedResource> Localizer
@{
    var folderLevel = ViewData["FolderLevel"]?.ToString();
    var denyChildFolders = ((List<string>)(ViewData["DenyChildFolders"] ?? new List<string>())).Any(f => f == Model.Id);
    var hasChildFolders = !denyChildFolders && Model.ChildFolders != null;
}
<li class="nav-item @folderLevel">
    <a href="#" ondragover="mailPage.folderOnDragOver(event)" ondrop="mailPage.folderOnDrop(event, this)" ondragstart="@(folderLevel == "child-folder" ? "mailPage.folderOnDragStart(event, this)" : "return false;")" data-folder="@Model.Id" class="folder @(denyChildFolders ? "" : "breeder") nav-link @(Model.Id == ViewData["ActiveFolder"]?.ToString() ? "active" : "") @(Model.Id == ViewData["DeletedItems"]?.ToString() ? "deleted-items" : "") @(Model.Id == ViewData["SentItems"]?.ToString() ? "sent-items" : "")">
        <span class="folder-toggle">
            @if (hasChildFolders)
            {
                <i class="toggle fal fa-angle-down"></i>
            }
        </span>
        <span class="icon @(MailGraphService.MailFolderIcons.ContainsKey(Model.DisplayName) ? MailGraphService.MailFolderIcons[Model.DisplayName] : "fad fa-folder") fa-fixed-width"></span>
        <span class="name">@Localizer[Model.DisplayName]</span>
        <span class="unread-count float-right">@(Model.UnreadItemCount > 0 ? Model.UnreadItemCount : "")</span>
    </a>
    @if (hasChildFolders)
    {
        <ul class="nav nav-pills cpi-nav-vertical flex-column child-folders">
            @foreach (var folder in Model.ChildFolders)
            {
                ViewData["FolderLevel"] = "child-folder";
                @await Html.PartialAsync("_Folder", folder)
            }
        </ul>
    }
</li>
