@using R10.Core.Entities.MailDownload
@using R10.Web.Models.MailViewModels
@using R10.Web.Services.MailDownload
@using R10.Web.Services
@using Microsoft.Extensions.Options
@inject IMailDownloadService MailDownloadService
@inject IOptions<GraphSettings> GraphSettings
@inject IStringLocalizer<SharedResource> Localizer
@model MailDownloadRule
@{
    Model.RuleConditions.Insert(0, new MailDownloadRuleCondition());
    var ruleConditions = Html.GetEnumSelectList<MailDownloadCondition>().Where(s => s.Value != "0").ToList();
    ruleConditions.Insert(0, new SelectListItem() { Text = "", Value = "" });

    var graphSettings = GraphSettings.Value;
    var mailbox = graphSettings.Mailboxes[Model.MailboxId];
    var downloadedItemsFolder = await MailDownloadService.GetDownloadedItemsFolder(mailbox.MailboxName);
    var downloadFolders = await MailDownloadService.GetDownloadFolders(mailbox.MailboxName);

    var responsibles = new string[] { };
    if (Model.Responsibles != null && Model.Responsibles.Any())
    {
        responsibles = Model.Responsibles.Select(r => r.Responsible).ToArray();
    }
}
<form method="post" class="details rules-editor" data-save-url="@Url.Action("SaveRule")" data-id="@Model.Id" data-tstamp="@(Model.tStamp == null ? "" : Convert.ToBase64String(Model.tStamp))">
    <div class="modal-header">
        <h4 class="modal-title" id="cpiConfirmLabel">Rules</h4>
    </div>
    <div class="modal-body" style="min-height: 350px;">
        <div class="modal-message">
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group float-label">
                        <label asp-for="Name"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="Name" />
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="col-12">                        
                    <div class="form-group float-label">
                        <label for="ActionId" class="required">@Localizer["Action"]</label>                    
                        @(Html.Kendo().DropDownList()
                            .Name("ActionId")
                            .DataTextField("Text")
                            .DataValueField("Value")                        
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetRuleActions", "Mail");
                                });
                            })
                            .Value(Model.ActionId == 0 ? "" : Model.ActionId.ToString())
                            .HtmlAttributes(new { data_val = "true", data_val_required = Localizer["The Action field is required."], required = "required" })
                        )     
                        <span asp-validation-for="ActionId"></span>               
                    </div>
                </div>                    
                <div class="col-12 conditions">
                    @for(var i = 0; i < Model.RuleConditions.Count; i++) {
                        var condition = Model.RuleConditions[i];
                        <div class="form-row condition" style="display: @(condition.Condition == MailDownloadCondition.None ? "none" : "")" data-index="@i" data-id="@condition.Id" data-tstamp="@(condition.tStamp == null ? "" : Convert.ToBase64String(condition.tStamp))">
                            <div class="col-12 col-sm-5">
                                <div class="form-group float-label">
                                    <label for="Condition-@i" class="required">@Localizer["Condition"]</label>
                                    @(Html.Kendo().DropDownList()
                                        .Name($"Condition-{i}")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .BindTo(ruleConditions)
                                        .Value(condition.Condition == MailDownloadCondition.None ? "" : ((int)condition.Condition).ToString())
                                        .HtmlAttributes(new { @class = "condition-list", data_val = "true", data_val_required = Localizer["The Condition field is required."], required = "required" })
                                    )
                                    <span class="field-validation-valid" data-valmsg-for="Condition-@i" data-valmsg-replace="true"></span>  
                                </div>
                            </div>
                            <div class="col-11 col-sm-6">
                                <div class="form-group float-label">
                                    <label for="Value-@i" class="required">@Localizer["Text"]</label>
                                    <input type="text" class="form-control form-control-sm condition-value" data-val="true" data-val-required="@Localizer["The Text field is required."]" name="Value-@i" value="@condition.Value" required/>
                                    <span class="field-validation-valid" data-valmsg-for="Value-@i" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col-1 pt-3">
                                <a href="#" class="delete-condition"><i class="fal fa-times pl-sm-2"></i></a>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-12">
                    <a href="#" class="add-condition" style="font-size: .9rem; margin-left: 5px;"><i class="fal fa-plus pr-2"></i><span>@Localizer["Add condition"]</span></a>
                </div>
                <div class="col-12 pt-3">
                    <div class="form-group float-label">
                        <label asp-for="DownloadFolderId" class="required"></label>
                        @(Html.Kendo().DropDownList()
                            .Name("DownloadFolderId")
                            .DataTextField("DisplayName")
                            .DataValueField("Id")
                            .Template("<span class=\"#: data.Icon # pr-1\" style=\"padding-left: #: data.Padding * 10 #px; padding-right: 5px;\"></span>#: data.DisplayName #")
                            .BindTo(downloadFolders)
                            .Value(string.IsNullOrEmpty(Model.DownloadFolderId) || !downloadFolders.Any(f => f.Id == Model.DownloadFolderId) ? downloadedItemsFolder.Id : Model.DownloadFolderId)
                            .Enable(!Model.DoNotMove)
                        )
                        <span class="field-validation-valid" data-valmsg-for="DownloadFolderId" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group float-label">
                        <div class=" custom-control custom-checkbox">
                            <input asp-for="DoNotMove" class="custom-control-input" />
                            <label asp-for="DoNotMove" class="custom-control-label">
                            </label>
                        </div>
                        <span asp-validation-for="DoNotMove"></span>
                    </div>
                </div>
                <div class="col-12 pt-3">
                    <div class="form-group float-label">
                        <label asp-for="Responsibles"></label>
                        @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions("Responsibles", "Mail", "", false, "Text", "GetResponsibleList", "", "Value", "", responsibles))
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group float-label">
                        <div class=" custom-control custom-checkbox">
                            <input asp-for="DownloadAttachments" class="custom-control-input" />
                            <label asp-for="DownloadAttachments" class="custom-control-label">
                            </label>
                        </div>
                        <span asp-validation-for="DownloadAttachments"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group float-label">
                        <div class=" custom-control custom-checkbox">
                            <input asp-for="StopProcessing" class="custom-control-input" />
                            <label asp-for="StopProcessing" class="custom-control-label">
                            </label>
                        </div>
                        <span asp-validation-for="StopProcessing"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn cancel btn-secondary"><i class="fa fa-undo pr-2"></i><span>@Localizer["Cancel"]</span></button>
        <button type="button" class="btn save btn-primary"><i class="fa fa-save pr-2"></i><span>@Localizer["Save"]</span></button>
    </div>
</form>
<style>
    #DownloadFolderId_listbox .k-list-item {
        white-space: pre
    }
</style>