@model PageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var gridId = $"{Model.PageId}-Grid";

    var allowSort = true;
    var allowPaging = true;
    var markAsReadWhenViewed = false;

    var labelMarkAsRead = Localizer["Mark As Read"].ToString();
    var labelMarkAsUnread = Localizer["Mark As Unread"].ToString();
    var labelDelete = Localizer["Delete"].ToString();
    var labelRestore = Localizer["Restore"].ToString();

    var showCcRecipients = false;
}
<div class="row mail">
    <div class="col col-12 col-md-5 pr-0 pl-0 list-wrap">
        <div class="k-grid">@*use .k-grid .k-grid-toolbar pattern to inherit css*@
            <div class="k-grid-toolbar toolbar" data-folders-label="@Localizer["Folders"]">
                <div class="mr-auto">
                    <span class="sidebar-link"></span>
                    <span class="filter-link"></span>
                    @Html.Raw(Model.ClearFiltersButton(Localizer["Clear Filters"]))
                    <span class="batch-actions" style="display: none;"
                          data-batch-update-isread-url="@Url.Action("BatchUpdateIsRead")"
                          data-batch-delete-messages-url="@Url.Action("BatchDeleteMessages")"
                          data-batch-restore-messages-url="@Url.Action("BatchRestoreMessages")">
                        <a href="#" title="@labelDelete" data-action="delete-message" class="batch-action delete-message k-button" data-delete-confirm="@Localizer["Do you want to permanently delete the selected messages?"]"><i class="fal fa-trash pr-2"></i><span class="label">@labelDelete</span></a>
                        <a href="#" title="@labelMarkAsRead" data-action="mark-as-read" class="batch-action mark-as-read k-button"><i class="fal fa-envelope-open pr-2"></i><span class="label">@labelMarkAsRead</span></a>
                        <a href="#" title="@labelMarkAsUnread" data-action="mark-as-unread" class="batch-action mark-as-unread k-button"><i class="fal fa-envelope pr-2"></i><span class="label">@labelMarkAsUnread</span></a>
                        <a href="#" title="@labelRestore" data-action="restore-message" class="batch-action restore-message k-button"><i class="far fa-trash-undo pr-2"></i><span class="label">@labelRestore</span></a>
                    </span>
                </div>
                <span class="pager">
                    @*<span class="page-info">1 - 5 of 5</span>
                    <a href="#" title="@Localizer["Previous Page"]" class="page-nav page-prev "><i class="far fa-angle-left"></i></a>
                    <a href="#" title="@Localizer["Next Page"]" class="page-nav page-next"><i class="far fa-angle-right"></i></a>*@
                </span>
            </div>
        </div>
        <div class="list">
            <div class="filters"></div>
            @(Html.Kendo().Grid<R10.Web.Models.MailViewModels.MailListViewModel>()
                    .Name(gridId)
                    .Columns(columns =>
                    {
                        columns.Select();
                        columns.Bound(m => m.ToRecipients).Title(Localizer["To"]).ClientTemplate($"#:ToRecipients ? ToRecipients : '{Localizer["[Unknown]"]}'#").Sortable(false).Hidden(true);
                        columns.Bound(m => m.Name).Title(Localizer["From"]).ClientTemplate($"#:Name ? Name : '{Localizer["[Unknown]"]}'#").Sortable(allowSort);
                        columns.Bound(m => m.CcRecipients).Title(Localizer["Cc"]).ClientTemplate($"#:CcRecipients ? CcRecipients : ''#").Sortable(false).Hidden(!showCcRecipients);
                        columns.Bound(m => m.Subject).ClientTemplate($"#:Subject ? Subject : '{Localizer["(No subject)"]}'#").Sortable(allowSort);
                        columns.Bound(m => m.ReceivedDateTime).Title(Localizer["Date"]).ClientTemplate(
                                        "<div class='d-flex justify-content-between'><span class='text-nowrap'>#: kendo.toString(ReceivedDateTime, 'dd-MMM-yyyy')#</span>" +
                                        "#if (HasAttachments) {#" +
                                        "<i class='fal fa-paperclip pl-2'></i>" +
                                        "#}#" +
                                        "#if (IsDownloaded) {#" +
                                        "<i class='fal fa-arrow-to-bottom pl-2' style='margin-top: 2px;'></i>" +
                                        "#}#" +
                                        "<span class='grabber'><input type='checkbox' /><i class='fal fa-grip-lines pl-2' /></span>" +
                                        "</div>"
                        ).Sortable(allowSort);
                    })
                    .AutoBind(false)
                    .Sortable(sort => sort.AllowUnsort(false))
                    .Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple))
                    //.PersistSelection(true)
                    //.Scrollable(sc => sc.Endless(true))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Events(events => events.Error($"{ViewBag.ActivePage}.searchResultGridError"))
                        .Events(events => events.RequestEnd($"{ViewBag.ActivePage}.searchResultGridRequestEnd"))
                        .PageSize(User.GetSearchResultsPageSize(settings.SearchResultsPageSize))
                        .Read(read => read.Action("PageRead", "Mail").Data($"{ViewBag.ActivePage}.gridMainSearchFilters"))
                        .Sort(sort => sort.Add(m => m.ReceivedDateTime).Descending())
                        .Model(model => model.Id(m => m.Id))
                    )
                    .Events(events => events
                                .Change($"{ViewBag.ActivePage}.searchResultGridChange")
                                .DataBound($"{ViewBag.ActivePage}.searchResultGridDataBound"))
                    .HtmlAttributes(new { 
                        @class = "kendo-Grid", 
                        data_mark_as_read = markAsReadWhenViewed.ToString().ToLower(),
                        data_message_url = Url.Action("GetMessage"),
                        data_attachment_url = Url.Action("GetAttachment")
                    })
            )
        </div>
    </div>
    <div class="col col-12 col-md-7 d-none d-md-block pr-0 pl-0 details-wrap"> 
        <div class="content"></div> 
    </div>
    <div class="drag-image rounded"></div>
</div>

<div id="mailModal" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<style>
    #mailSearchResults .page-grid {
        height: 100%;
    }

    #mailSearchResults-Grid tr {
        cursor: default;
    }

    .mail {
        border-top: 1px solid var(--separator);
        height: calc(100% - 25px);
        margin: 0;
        /*margin-top: 5px;*/
    }

        .mail .list-wrap {
            border-right: 1px solid var(--separator);
        }

        .mail .list {
            padding: 0;
            overflow: auto;
            height: calc(100vh - 200px);
        }

            .mail .list tr.unread {
            font-weight: bold;
        }

        .mail .details {
            overflow: auto;
            height: calc(100vh - 200px);
            width: 100%;
            padding-left: 20px;
            padding-right: 15px;
        }

            .mail .details .header {
                font-size: .9em;
            }

            .mail .details .date {
                padding-top: 12px;
            }

            .mail .details .subject {
                padding-top: 5px;
            }

            .mail .details.full {
                /*height: 100%*/
            }

            .mail .details .attachments {
                padding-top: 15px;
                padding-bottom: 15px;
            }

                .mail .details .attachments .attachment {
                    margin-top: 5px;
                    margin-right: 5px;
                }

                .mail .details .attachments .attachment-icon {
                    padding-right: 10px;
                }

                .mail .details .attachments .attachment-file {
                    display: inline-grid;
                }

                    .mail .details .attachments .attachment-file .attachment-name {
                        overflow: hidden;
                        white-space:nowrap;
                        text-overflow:ellipsis;
                        max-width:250px;
                        display:inline-block;
                        font-size: .9em;
                    }

                    .mail .details .attachments .attachment-file .attachment-size {
                        display: block;
                        text-align: left;
                        font-size: .75em;
                    }

            .mail .details .body {
                padding-top: 12px;
            }

                .mail .details .body img {
                    max-width: 100%;
                }

        .mail .details-wrap .toolbar {
            padding-top: 2px;
        }

        .mail .toolbar {
            display: flex;
            padding: 0 15px;
        }

            .mail .toolbar .k-button {
                display: inline;
            }

            .mail .toolbar .filter-link {
                padding-top: 2px;
                display: inline-block;
            }

                .mail .toolbar .filter-link .k-button .label {
                    padding-right: 5px;
                }

            .mail .toolbar .open-collapsed-sidebar {
                padding-left: 5px;
                padding-top: 2px;
            }

                .mail .toolbar .open-collapsed-sidebar span {
                    margin-top: -2px;
                    padding-left: 2px;
                    padding-right: 10px;
                }

        .mail .pager {
            padding-top: 2px !important;
            font-size: .9em;
            flex-direction: row-reverse;
            vertical-align: top;
            background-color: var(--bg-main) !important;
        }

            .mail .pager .k-pager-info {
                display: block;
            }

            .mail .pager .k-pager-numbers-wrap,
            .mail .pager .k-pager-first,
            .mail .pager .k-pager-last {
                display: none !important;
            }

            .mail .pager .k-link {
                margin-top: -4px;
            }

    @@media (max-width: 575px) {
        .mail .toolbar {
            padding: 0 3px;
        }
    }

    .mail-nav .folders .folder .unread-count {
        font-size: .9rem;
    }

    .mail .editor .more-recipients {
        align-self: end;
    }

        .mail .editor .more-recipients a {
            font-size: .9rem;
            padding-left: 15px;
        }
    .k-iframe.auto-fit {
        min-height: 200px;
        margin: 0;
        padding: 0;
        width: 100%;
        /*height: 100%;*/
        border: 0;
        box-sizing: border-box;
        background: 0 0;
        display: block;
    }

    .mail .editor .k-editor {
        margin-top: 5px;
    }

    .mail .batch-action {
        white-space: nowrap;
    }

    .mail .grabber {
        display: inline-block;
        position: relative;
        cursor: grab;
        margin-top: -2px;
    }

        .mail .grabber input {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
            opacity: 0;
            cursor: grab;
        }

        .mail .grabber i {
            cursor: grab;
        }

    .mail .drag-image {
        background-color: var(--grid-hover);
        color: var(--text-hover);
        font-size: .9rem;
        padding: 5px 10px;
        position: absolute;
        top: -5000px;
    }
</style>

@if (allowPaging) {
<script>
    $(function () {
        const grid = $("#@(gridId)").data("kendoGrid");
            const pager = $(".mail .pager");
        pager.kendoPager({
            dataSource: grid.dataSource,
            //pageSizes: [5, 10, 20, 50],
            //refresh: true,
              messages: {
                //refresh: "Refresh data",
                display: "{0}-{1} of {2}",
                empty: ""
              }
        });
        const pagerNavs = pager.find(".k-pager-nav").detach();
        const prev = $(pagerNavs[1]).find("span");
        const next = $(pagerNavs[2]).find("span");

@*        prev.removeClass("k-icon k-i-arrow-60-left");
        next.removeClass("k-icon k-i-arrow-60-right");

        prev.addClass("far fa-angle-left");
        next.addClass("far fa-angle-right");*@

        pager.append("<span class='k-pager-nav-wrap'></span>");
        pager.find(".k-pager-nav-wrap").append(pagerNavs)
    });
</script>
}