@model PageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@{

}
<div class="tab-content search page-content">
    <input type="hidden" id="Folder" name="Folder" value="Inbox" />
    <input type="hidden" id="Mailbox" name="Mailbox" value="" />
    <div class="tab-pane show active" id="mailSearchMainTabContent" aria-labelledby="mailSearchMainTab" role="tabpanel">
        <div class="form-row">
            <div class="col col-md-12 col-lg-6">
                <div class="form-group float-label">
                    <label for="FromNameOrAddress">@Localizer["From"]</label>
                    <input type="text" class="form-control" id="FromNameOrAddress" name="FromNameOrAddress" />
                </div>
            </div>
@*            <div class="col col-md-12 col-lg-6">
                <div class="form-group float-label">
                    <label for="ToRecipients">@Localizer["To"]</label>
                    <input type="text" class="form-control" id="ToRecipients" name="ToRecipients" />
                </div>
            </div>
            <div class="col col-md-12 col-lg-6">
                <div class="form-group float-label">
                    <label for="CcRecipients">@Localizer["Cc"]</label>
                    <input type="text" class="form-control" id="CcRecipients" name="CcRecipients" />
                </div>
            </div>*@
            <div class="col col-md-12 col-lg-6">
                <div class="form-group float-label">
                    <label for="Subject">@Localizer["Subject"]</label>
                    <input type="text" class="form-control" id="Subject" name="Subject" />
                </div>
            </div>
@*            <div class="col col-md-12 col-lg-6">
                <div class="form-group float-label">
                    <label for="Keyword">@Localizer["Keyword"]</label>
                    <input type="text" class="form-control" id="Keyword" name="Keyword" />
                </div>
            </div>*@
        </div>
        <div class="form-row">
            <div class="col col-md-12 col-lg-6">
                <div class="form-group float-label">
                    <label for="ReceivedDateTimeFrom">@Localizer["Date From"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("ReceivedDateTimeFrom"))
                </div>
            </div>
            <div class="col col-md-12 col-lg-6">
                <div class="form-group float-label">
                    <label for="ReceivedDateTimeTo">@Localizer["Date To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("ReceivedDateTimeTo"))
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-6 col-md-12 col-lg-6">
                <div class="form-group d-flex justify-content-between">
                    <label class="label" for="Attachments">@Localizer["Has Attachments"]</label>
                    <label class="toggle-switch">
                        <input id="Attachments" name="Attachments" type="checkbox" class="toggle-option">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-6 col-md-12 col-lg-6">
                <div class="form-group d-flex justify-content-between">
                    <label class="label" for="Unread">@Localizer["Unread"]</label>
                    <label class="toggle-switch">
                        <input id="Unread" name="Unread" type="checkbox" class="toggle-option">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>