@model DocuSignAnchor
@inject IStringLocalizer<SharedResource> Localizer
@{
    var id = Model.DocuSignAnchorId;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && !Model.IsCPIAnchor;
    bool isReadOnly = !fullModify;
    var screen = ViewData["PageId"];
    ViewData["IsCPIAnchor"] = Model.IsCPIAnchor;

    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
    var attorneyLabel = Localizer["Atorney"];
    var attorneyNameLabel = Localizer["Atorney Name"];
}
<form cpi-detail-form action="Save">
    <input type="hidden" asp-for="DocuSignAnchorId" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>
    <div class="page-content  detail cpiMainEntry">
        <div class="form-row">
            <div class="col-md-2">
                <div class="form-group float-label">
                    <label asp-for="AnchorCode"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="AnchorCode" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="AnchorCode"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group float-label">
                    <label asp-for="Description"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Description" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="col d-flex justify-content-start">
                @if (Model.IsCPIAnchor)
                {
                    <h5 class="text-danger text-right pt-3">@Localizer["CPI Anchor"]</h5>
                }
            </div>
        </div>

    </div>
    <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" role="tablist">
        @if (!addMode)
        {
            <li class="nav-item">
                <a class="nav-link active" id="anchorDetailTabsTab" data-toggle="tab" role="tab" aria-controls="anchorDetailTabsTabContent" aria-selected="false" href="#anchorDetailTabsTabContent">@Localizer["Anchor Tags"]</a>
            </li>
        }
    </ul>
    <div class="tab-content">
        @if (!addMode)
        {
            <div class="tab-pane show active" id="anchorDetailTabsTabContent" role="tabpanel" aria-labelledby="anchorDetailTabsTab">
                @await Html.PartialAsync("_GridAnchorTabs", id)
            </div>
        }
    </div>
    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
        </div>
    }
</form>
<div class="cpiContainerPopup"></div>
<script>
    eSignatureTabPage.editableGrids = [
        {
            title: '@Localizer["Action Tabs"]', name: 'docuSignAnchorTabsGrid', isDirty: false, filter: { docuSignAnchorId: @id},
            afterSubmit: eSignatureTabPage.updateRecordStamps
        }
    ];
</script>

