@model CurrencyType
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var id = Model.KeyID;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    bool isReadOnlyRemarks = !(fullModify || detailPagePermission.CanEditRemarksOnly);
    var settings = await Settings.GetSetting();
    //var exchangeRateUrl = settings.ExchangeRateUrl + $"?Amount=1&From={Model.CurrencyTypeCode}&To=USD";    
    var exchangeRateUrl = settings.ExchangeRateUrl;
}
<form cpi-detail-form action="Save">
    <input type="hidden" asp-for="KeyID" />
    <input type="hidden" name="ExchangeRate" id="ExchangeRate" value="@Model.ExchangeRate" />
    <input type="hidden" name="AllowanceRate" id="AllowanceRate" value="@Model.AllowanceRate" />
    <input type="hidden" asp-for="ExRateUpdatedBy" />
    <input type="hidden" asp-for="ExRateLastUpdate" value="@Model.ExRateLastUpdate.FormatToSave()" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content  detail cpiMainEntry">
        <div class="form-row">
            <input type="hidden" asp-for="CPICurrencyType" class="boolean" />
            @if (Model.CPICurrencyType)
            {
                <div class="col-12">
                    <span class="dymo-alert">@SharedLocalizer["CPI Currency Type"]</span>
                </div>
            }
            <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="CurrencyTypeCode"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="CurrencyTypeCode" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" asp-can-be-posted="true" />
                    <span asp-validation-for="CurrencyTypeCode"></span>
                </div>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-6 col-xl-5">
                <div class="form-group float-label">
                    <label asp-for="Description"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Description" asp-is-readonly="@isReadOnly" asp-can-be-posted="true" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="Symbol"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Symbol" asp-is-readonly="@isReadOnly" asp-can-be-posted="true" />
                    <span asp-validation-for="Symbol"></span>
                </div>
            </div>
            <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="ExchangeRate"></label>
                    <div class="d-flex">
                        <div style="width:85%">
                            <input type="text" class="form-control form-control-sm" id="ExchangeRateText" value="@Model.ExchangeRate" asp-is-readonly="@isReadOnly" />
                            @*
                            issue with EU number format
                            <input type="number" min="0" class="form-control form-control-sm" asp-for="ExchangeRate" asp-is-readonly="@isReadOnly" />*@
                        </div>
                        <div>
                            <a href="@(exchangeRateUrl)" target="_blank" rel="noopener"><span title="@SharedLocalizer["Open Exchange Rate URL"]" /><i class="far fa-percent pt-2 pl-2"></i></a>
                        </div>                        
                    </div>
                </div>               
            </div>
            <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label" style="width:90%">
                    <label asp-for="AllowanceRate"></label>
                    <input type="text" class="form-control form-control-sm" id="AllowanceRateText" value="@Model.AllowanceRate" asp-is-readonly="@isReadOnly" />
                    @*<input type="number" class="form-control form-control-sm" asp-for="AllowanceRate" asp-is-readonly="@isReadOnly" /> *@

                </div>               
            </div>            
        </div>

    </div>

    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
        </div>
    }
</form>
<script>
    $(document).ready(function () {
        const exRate = $("#currencyTypeDetail").find("#ExchangeRate");
        exRate.val(exRate.val().replace(",", "."));

        const allowanceRate = $("#currencyTypeDetail").find("#AllowanceRate");
        allowanceRate.val(allowanceRate.val().replace(",", "."));

        $("#currencyTypeDetail").find("#ExchangeRateText").on("change, keyup", function () {
            const value = $(this).val().replace(/[^0-9 \,.]/, '');
            $(this).val(value);
            exRate.val(value.replace(",", "."));
        });

        $("#currencyTypeDetail").find("#AllowanceRateText").on("change, keyup", function () {
            const value = $(this).val().replace(/[^0-9 \,.]/, '');
            $(this).val(value);
            allowanceRate.val(value.replace(",", "."));
        });

    });
</script>