@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var customFieldsLabel = settings.AuxCustomFieldsTabLabel;
}
<li class="nav-item">
    <a id="contactPersonSearchMainInfoTab" href="#contactPersonSearchMainInfoTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="contactPersonSearchMainInfoTabContent" title="@Localizer["Contact Person"]">@Localizer["Contact Person"]</a>    
</li>
<li class="nav-item">
    <a id="contactPersonSearchAddressTab" href="#contactPersonSearchAddressTabContent" class="nav-link" data-toggle="tab" role="tab" aria-controls="contactPersonSearchAddressTabContent" title="@Localizer["Address"]">@Localizer["Address"]</a>
</li>
@if (User.IsAdmin())
{
    <li class="nav-item">
        <a id="contactPersonSearchPermissionsTab" href="#contactPersonSearchPermissionsTabContent" class="nav-link" data-toggle="tab" role="tab" aria-controls="contactPersonSearchPermissionsTabContent" title="@Localizer["Permissions"]">@Localizer["Permisssions"]</a>
    </li>
}
<li class="nav-item">
    <a id="contactPersonSearchOtherInfoTab" href="#contactPersonSearchOtherInfoTabContent" class="nav-link" data-toggle="tab" role="tab" aria-controls="contactPersonSearchOtherInfoTabContent" title="@Localizer["Other Info"]">@Localizer["Other Info"]</a>
</li>
@if (settings.IsShowCustomFieldOn)
{
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" id="contactPersonSearchCustomFieldsTab" href="#contactPersonSearchCustomFieldsTabContent" role="tab" aria-controls="contactPersonSearchCustomFieldsTabContent" aria-selected="false">@Localizer[customFieldsLabel]</a>
    </li>
}