@model R10.Core.Entities.Notification
@using R10.Web.ViewComponents 
@inject IStringLocalizer<SharedResource> Localizer

<div class="modal fade" id="notificationEntryDialog" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="post" asp-action="MessageSave"
                  data-save-message="@Localizer["Record has been saved successfully."]">
                <div class="modal-header py-1">
                    <h4 class="modal-title">@Localizer["New Alert Entry"]</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body py-1">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col">
                                <div class="form-group float-label">
                                    <label asp-for="Type"></label>
                                    @(Html.Kendo().DropDownList()
                                 .Name("Type")
                                 .DataTextField("Text")
                                 .DataValueField("Value")
                                .BindTo(new List<SelectListItem>
                                        () {
                                        new SelectListItem() {
                                        Text = Localizer["Alert"].ToString(),
                                        Value = "A"
                                        },
                                        new SelectListItem() {
                                        Text = Localizer["Info"].ToString(),
                                        Value = "I"
                                        }
                                        }))
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group float-label">
                                    <label asp-for="Title"></label>
                                    <input type="text" class="form-control form-control-sm" asp-for="Title" />
                                    <span asp-validation-for="Title"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group float-label">
                                    <label asp-for="Message"></label>
                                    <textarea rows="6" class="form-control form-control-sm" asp-for="Message"></textarea>
                                    <span asp-validation-for="Message"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group float-label">
                                    <label asp-for="UserName"></label>
                                    @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                               {
                                   Controller = "Notification",
                                   Area = "Admin",
                                   Action = "GetUsers",
                                   Name = "UserNames",
                                   DataTextProperty = "DisplayName",
                                   DataValueProperty = "Address",
                                   ListWidth = 500
                               })
                                    <input type="hidden" class="form-control form-control-sm" asp-for="UserName" />
                                    <span asp-validation-for="UserName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group float-label">
                                    <label asp-for="EffectiveFrom"></label>
                                    @*@(Html.Kendo().DateTimePicker()
            .Name("EffectiveFrom")
            .Value(DateTime.Now)
            .HtmlAttributes(new { style = "width: 100%"})
            .DateInput()
        )*@
                                    @await Component.InvokeAsync("DateTimePicker", new DateTimePickerOptions("EffectiveFrom") { Value = DateTime.Now})
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group float-label">
                                    <label asp-for="EffectiveTo"></label>
                                    @*@(Html.Kendo().DateTimePicker()
            .Name("EffectiveTo")
            .Value(DateTime.Now.AddDays(1))
            .HtmlAttributes(new { style = "width: 100%"})
            .DateInput()
        )*@
                                    @await Component.InvokeAsync("DateTimePicker", new DateTimePickerOptions("EffectiveTo") { Value = DateTime.Now.AddDays(1) })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group float-label">
                                    <label asp-for="NavigateToUrl"></label>
                                    <input type="text" class="form-control form-control-sm" asp-for="NavigateToUrl" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Cancel"]</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check pr-2"></i>@Localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>






