@model MenuPageDetailViewModel
@inject IStringLocalizer<AdminResource> Localizer
@{
    var addMode = Model.Id == 0;
    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var screen = ViewData["PageId"];
}

<script>    
    function getArea() {
        var routeOptions = $("#RouteOptions").val();
        var area = "";

        if (routeOptions) {
            var route = GetValidRouteOptions(routeOptions);

            if (!jQuery.isEmptyObject(route)) {
                for (var property in route) {
                    if (route.hasOwnProperty(property) && (property + "").toLowerCase() == "area") {
                        area = route[property];
                        break;
                    }
                }
            }
            else {
                cpiAlert.dialog.open("Please enter a valid Route options.", function () {
                    $("#RouteOptions").val("");
                });
            }
        }

        return {
            areaId: area
        };
    }

    function GetValidRouteOptions(routeOptions) {
        if (routeOptions && routeOptions.match("^{") && routeOptions.match("}$")) {
            try {
                return JSON.parse(routeOptions);
            }
            catch (err) {}
        }

        return JSON.parse("{}");
    }

    function areaPickerOnSelect(e) {
        var routeOptions = $("#RouteOptions").val();
        var route = GetValidRouteOptions(routeOptions);

        if (!route.area || route.area != $(e.item).data("area")) {
            route.area = $(e.item).data("area");
            $("#RouteOptions").val(JSON.stringify(route));
            $("#RouteOptions").focus();
            $("#@(screen)_Policy").data("kendoDropDownList").dataSource.read();
        }

        return;
    }
</script>
<form cpi-detail-form action="Save">
    <input asp-for="Id" class="form-control" value="@Model.Id" hidden />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>
    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group float-label">
                            <label asp-for="Name"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="Name" />
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group float-label">
                            <label asp-for="Controller"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="Controller" />
                            <span asp-validation-for="Controller"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group float-label">
                            <label asp-for="Action"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="Action" />
                            <span asp-validation-for="Action"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group float-label">
                            <label asp-for="RouteOptions"></label>
                            <div class="input-group">
                                <input asp-for="RouteOptions" class="form-control gen-pwd" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary area-picker dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Area
                                    </button>
                                </div>
                            </div>
                            <span asp-validation-for="RouteOptions" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group float-label">
                            <label for="@(screen)_Policy">@Localizer["Policy"]</label>
                            @(Html.Kendo().DropDownList()
                                                    .Name("Policy")
                                                    .DataTextField("Text")
                                                    .DataValueField("Value")
                                                    .DataSource(source =>
                                                    {
                                                        source.Read(read =>
                                                        {
                                                            read.Action("GetPolicies", "Navigation")
                                                                .Data("getArea");
                                                        });
                                                    })
                                                    //.AutoBind(false)
                                                    .Value(Model.Policy)
                                                    .HtmlAttributes(new { id = $"{screen}_Policy" })
                                                    )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@(Html.Kendo().ContextMenu()
                    .Name("areaPicker")
                    .Target(".area-picker")
                    .ShowOn("click")
                    .Events(e => e.Select("areaPickerOnSelect"))
                    .Items(items =>
                    {
                        foreach (var area in Enum.GetNames(typeof(CPiArea)).ToList())
                        {
                            items.Add().Text(area).HtmlAttributes(new { data_area = area });
                        }
                    })
)

