@model PageViewModel
@inject IStringLocalizer<AdminResource> Localizer
@{
    //var areas = Enum.GetNames(typeof(CPiArea)).ToList();
    //areas.Add("");
}

<div class="tab-content search page-content">
    <div class="tab-pane show active" id="menuPageMainInfoTabContent" aria-labelledby="menuPageMainInfoTab" role="tabpanel">        
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Name">@Localizer["Name"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Name" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Controller">@Localizer["Controller"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Controller" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Action">@Localizer["Action"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Action" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Area">@Localizer["Area"]</label>
                    @*@(Html.Kendo().DropDownList().Name("Area").BindTo(areas.OrderBy(a => a)))*@
                    @await Component.InvokeAsync("ComboBox", new { name = "Area" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Policy">@Localizer["Policy"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Policy" })
                </div>
            </div>
        </div>
    </div>
</div>