@model TmkStandardGood
@inject IStringLocalizer<SharedResource> Localizer
@{
    var id = Model.ClassId;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
}
<form cpi-detail-form action="Save">
    <input type="hidden" asp-for="ClassId" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col col-sm-3 col-md-2">
                <div class="form-group float-label">
                    <label asp-for="Class"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Class" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="Class"></span>
                </div>
            </div>
            <div class="col col-sm-5 col-md-4">
                <div class="form-group float-label">
                    <label asp-for="ClassType"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="ClassType" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="ClassType"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-12 col-md-10 col-lg-8">
                <div class="form-group float-label">
                    <label asp-for="StandardGoods"></label>
                    <textarea class="form-control form-control-sm" rows="10" asp-for="StandardGoods" asp-is-readonly="@isReadOnly"></textarea>
                    <span asp-validation-for="StandardGoods"></span>
                </div>
            </div>
        </div>
    </div>

    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
        </div>
    }
</form>