@inject IStringLocalizer<SharedResource> Localizer
@{ 
    //var confirmImport = Localizer["Are you sure you want to import?"];
    var confirmImport = Localizer["Are you sure you want to update the metadata?"];
    var confirmIndexCreation = Localizer["This will create Azure Cognitive Search Index based on client and option settings. Do you want to continue?"];
}
<h3>@Localizer["Azure Utility Tasks"]</h3>

<div class="border border-1 rounded px-2 py-2">
    @*<h5>@Localizer["1. Import Images and Logs to Blob Storage"]</h5>*@
    <h5>@Localizer["Update Azure Metadata (run after Client files have been uploaded to Azure)"]</h5>
    <div class="flex">
        @*<button type="button" class="btn btn-secondary azure-import-thumb">@Localizer["Update Thumbnails"]</button>*@
        <button type="button" class="btn btn-secondary azure-import-images">@Localizer["Update Images"]</button>
        <button type="button" class="btn btn-secondary azure-import-logs">@Localizer["Update Logs"]</button>
        @*<button type="button" class="btn btn-secondary azure-import-docmgt">@Localizer["Update Document Management Files"]</button>*@
        @*<div class="checkbox py-2">
            <label><input type="checkbox" id="update-metadata-only">&nbsp;@Localizer["Update Metadata Only?"]</label>
        </div>*@
    </div>
    @*<h5>@Localizer["2. Global Search Setup"]</h5>

        <div class="flex">
            <button type="button" class="btn btn-secondary azure-search-index">@Localizer["Create Azure Search Index and Indexer"]</button>
            <input type="checkbox" id="chkUpdateIfExists" name="chkSearchDoc" class="k-checkbox pl-3" >
            <label class="k-checkbox-label" for="chkUpdateIfExists">@Localizer["Re-create Index if Exists"]</label>
        </div>*@
</div>

<script>

    initializeBlobImport = () => {
        $(".azure-import-thumb").on("click", () => {
            if (confirm('@confirmImport'))
               importBlob('TransferThumbnails');
        });
        $(".azure-import-images").on("click", () => {
            if (confirm('@confirmImport'))
                importBlob('TransferImages');
            });
        $(".azure-import-logs").on("click", () => {
            if (confirm('@confirmImport'))
               importBlob('TransferLogs');
        });
        @*$(".azure-import-docmgt").on("click", () => {
            if (confirm('@confirmImport'))
               importBlob('TransferDocMgt');
        });*@

        $(".azure-search-index").on("click", () => {
            if (confirm('@confirmIndexCreation'))
                createAzureIndex();
         });


    }
    importBlob = (action) => {
        //const metadataOnly = $("#update-metadata-only").prop("checked");
        //console.log(metadataOnly);
        const baseUrl = $("body").data("base-url");
        //const url = `${baseUrl}/AzureUtility/${action}?metadataonly=${metadataOnly}`;
        const url = `${baseUrl}/AzureUtility/${action}`;
        cpiLoadingSpinner.show();

        $.post(url)
            .done((result) => {
                cpiStatusMessage.success(result);
                cpiLoadingSpinner.hide();
            })
            .fail(function (error) {
                console.log(error);
                pageHelper.showErrors(error.responseText);
                cpiLoadingSpinner.hide();
            });
    }

    createAzureIndex = () => {
        const baseUrl = $("body").data("base-url");
        const url = `${baseUrl}/AzureUtility/CreateAzureSearchIndex`;

        // below is an option to update/re-create index/indexer
        //const updateIfExists = $("#chkUpdateIfExists").is(":checked");
        //const data = { updateIfExists: updateIfExists };
        $.ajax({
            type: "POST",
            url: url,
            //data: data,                           // option to update/re-create index/indexer
            success: function (result) {
                cpiStatusMessage.success(result);
                cpiLoadingSpinner.hide();
            },
            error: function (error) {
                console.log(error);
                pageHelper.showErrors(error.responseText);
                cpiLoadingSpinner.hide();
            }
        })
       
    }
    initializeBlobImport();
</script>
