@model DeDocketInstruction
@inject IStringLocalizer<SharedResource> Localizer
@{
    var id = Model.InstructionId;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;

}
<form cpi-detail-form action="Save">
    <input type="hidden" asp-for="InstructionId" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col-4 col-md-4">
                <div class="form-group float-label">
                    <label asp-for="Instruction"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Instruction" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="Instruction"></span>
                </div>
            </div>
            <div class="col-2 col-md-2">
                <div class="form-group float-label">
                    <div class=" custom-control custom-checkbox">
                        <input asp-for="ActiveSwitch" class="custom-control-input" asp-is-readonly="@isReadOnly" />
                        <label asp-for="ActiveSwitch" class="custom-control-label">
                        </label>
                    </div>
                    <span asp-validation-for="ActiveSwitch"></span>
                </div>
            </div>
            <div class="col-2 col-md-2">
                <div class="form-group float-label">
                    <div class=" custom-control custom-checkbox">
                        <input asp-for="InUse" class="custom-control-input" asp-is-readonly="@isReadOnly" />
                        <label asp-for="InUse" class="custom-control-label">
                        </label>
                    </div>
                    <span asp-validation-for="InUse"></span>
                </div>
            </div>
            <div class="col-2 col-md-2">
                <div class="form-group float-label">
                    <div class=" custom-control custom-checkbox">
                        <input asp-for="DocumentRequired" class="custom-control-input" asp-is-readonly="@isReadOnly" />
                        <label asp-for="DocumentRequired" class="custom-control-label">
                        </label>
                    </div>
                    <span asp-validation-for="DocumentRequired"></span>
                </div>
            </div>
            <div class="col-2 col-md-2">
                <div class="form-group float-label">
                    <div class=" custom-control custom-checkbox">
                        <input asp-for="Patent" class="custom-control-input" asp-is-readonly="@isReadOnly" />
                        <label asp-for="Patent" class="custom-control-label">
                        </label>
                    </div>
                    <span asp-validation-for="Patent"></span>
                </div>
                <div class="form-group float-label">
                    <div class=" custom-control custom-checkbox">
                        <input asp-for="Trademark" class="custom-control-input" asp-is-readonly="@isReadOnly" />
                        <label asp-for="Trademark" class="custom-control-label">
                        </label>
                    </div>
                    <span asp-validation-for="Trademark"></span>
                </div>
                <div class="form-group float-label">
                    <div class=" custom-control custom-checkbox">
                        <input asp-for="GeneralMatter" class="custom-control-input" asp-is-readonly="@isReadOnly" />
                        <label asp-for="GeneralMatter" class="custom-control-label">
                        </label>
                    </div>
                    <span asp-validation-for="GeneralMatter"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group float-label">
                    <label asp-for="Description"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Description" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group float-label">
                    <label asp-for="CloseDeadlineWith"></label>
                    @if (isReadOnly)
                    {
                        var description = "";
                        if (Model.CloseDeadlineWith == "C")
                            description = Localizer["Current Date"].Value;
                        else if (Model.CloseDeadlineWith == "I")
                            description = Localizer["Instruction Date"].Value;
                        else if (Model.CloseDeadlineWith == "D")
                            description = Localizer["Don't Close"].Value;
                        <input type="text" class="form-control form-control-sm" disabled="disabled" value="@description"/>
                    }
                    else
                    {
                        @(Html.Kendo().DropDownListFor(m => m.CloseDeadlineWith)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .BindTo(new List<SelectListItem>() {
                                new SelectListItem() {
                                Text = Localizer["Current Date"],
                                Value = "C"
                                },
                                new SelectListItem() {
                                Text = Localizer["Instruction Date"],
                                Value = "I"
                                },
                                new SelectListItem() {
                                Text = Localizer["Don't Close"],
                                Value = "D"
                                }
                                })
                            .HtmlAttributes(new { style = "width: 100%" })
                            )
                    }
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group float-label">
                    <label asp-for="Indicators"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="Indicators" asp-is-readonly="@isReadOnly" />
                    }
                    else
                    {
                            @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                        {
                        Screen = "deDocketInstruction",
                        Controller = "DeDocketInstruction",
                        Area = "Shared",
                    Action = "GetIndicatorList",
                        Name = "IndicatorList",
                    DataTextProperty = "Value",
                        ListWidth = 500,
                    DefaultValue = Model.IndicatorList,
                    HeaderTemplate = ComboBoxHelper.GetHeaderTemplate(Localizer["Indicator"].Value),
                    ItemTemplate = ComboBoxHelper.GetItemTemplate("Value"),
                    FilterColumns = new string[] { "Value"},
                        })
                    }
                </div>
            </div>



        </div>
    </div>

    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
        </div>
    }
</form>
