@model string
@{
    var pageId = ViewData["PageId"].ToString();
    var gridId = ViewData["gridId"].ToString();
    var editorId = $"{gridId}_answerEditor";
    var datePickerId = $"{gridId}_datePicker";
    var dropDownListId = $"{gridId}_dropDownList";
}

<div id="@editorId" style="display: none;">
    <div id="@datePickerId">
        @*@(Html.Kendo().DatePicker().Name(datePickerId).Format("{0:dd-MMM-yyyy}")
        .Events(e => e.Change("function (e) { const answer = e.sender.value(); $('#" + editorId + " textarea#Answer').val(answer); $('#" + editorId + " textarea#Answer').change(); e.sender.value(answer);}")))*@
        @await Component.InvokeAsync("DatePicker", new DatePickerOptions(datePickerId) { OnChange = "function (e) { const answer = e.sender.value(); $('#" + editorId + " textarea#Answer').val(answer); $('#" + editorId + " textarea#Answer').change(); e.sender.value(answer);}", Style = "width:auto" })
    </div>
    <div id="@dropDownListId">
        @(Html.Kendo().DropDownList().Name(dropDownListId).BindTo(new List<string>() { "", "Yes", "No" })
            .Events(e => e.Change("function (e) { const selectedIndex = e.sender.selectedIndex; $('#" + editorId + " textarea#Answer').val(e.sender.value()); $('#" + editorId + " textarea#Answer').change(); e.sender.select(selectedIndex); }")))
    </div>
    <div id="textArea">
        @Html.TextAreaFor(m => m, new { @rows = 4, @style = "width:95%" })
    </div>
</div>
<script>
    $(function () {
        const grid = $("#@editorId").closest(".kendo-Grid").data("kendoGrid");
        const row = $("#@editorId").closest("tr");
        if (grid) {
            const item = grid.dataItem(row);
            const answer = item.Answer;

            switch (item.AnswerType) {
                case "DateTime":
                    //$("#Answer_@datePickerId").data("kendoDatePicker").value(answer ?? "");
                    $("#@datePickerId" + "_@pageId").data("kendoDatePicker").value(kendo.parseDate(answer));
                    $("#@editorId #@datePickerId").show();
                    $("#@editorId #@dropDownListId").hide();
                    $("#@editorId #textArea").hide();
                    break;
                case "bool":
                    $("#Answer_@dropDownListId").data("kendoDropDownList").value(answer ?? "");
                    $("#@editorId #@datePickerId").hide();
                    $("#@editorId #@dropDownListId").show();
                    $("#@editorId #textArea").hide();
                    break;
                case "double":
                    break;
                default:
                    $("#@editorId #@datePickerId").hide();
                    $("#@editorId #@dropDownListId").hide();
                    $("#@editorId #textArea").show();
                    break;
            }
            $("#@editorId").show();
        }

    });
</script>
