@model int?
@inject IStringLocalizer<SharedResource> Localizer
@{
    var id = ViewData["id"].ToString();
    var linkUrl = Url.Action("DetailLink", "ContactPerson", new
    {
        Area = "Shared",
        id = "actualValue"
    });

    var headerTemplate = ComboBoxHelper.GetHeaderTemplate(@Localizer["Code"], @Localizer["Name"]);
    var template = ComboBoxHelper.GetItemTemplate("Contact", "ContactName");
}

    <script>
        function updateSelectRowContactName(e) {
            var comboBox = e.sender;

            if (comboBox.selectedIndex >= 0) {
                const name = comboBox.dataItem()["ContactName"];
                const id = comboBox.dataItem()["ContactID"];
                @Html.Raw((ViewData["onSelect"].ToString()+ "('ContactName',name,id);"))
            }
        }
    </script>

@(Html.Kendo().MultiColumnComboBoxFor(m => m)
                .DataTextField("ContactName")
                .DataValueField("ContactID")
                .AutoBind(true)
                .Filter(FilterType.Contains)
                .FilterFields(new[] { "Contact", "ContactName" })
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetContactList", "ContactPerson", new { area = "Shared", property = "ContactName" });
                    })
                    .ServerFiltering(false);
                })
                .Columns(columns =>
                {
                    columns.Add().Field("Contact").Title(@Localizer["Code"]).Width("120px");
                    columns.Add().Field("ContactName").Title(@Localizer["Name"]);
                })
                .Events(e=> e.Change("updateSelectRowContactName"))
                .HtmlAttributes(new { style = "width: 90%", id = @id})

)

<button type="button" class="btn">
    <i class="fal fa-search-plus btn-link cpiDetailsLink" id="@id" data-source="@id" data-url="@linkUrl"></i>
</button>






