@model FormIFWActionMapViewModel
@inject IStringLocalizer<SharedResource> Localizer
@{
    var id = Model.MapHdrId;
    var addMode = false;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    var screen = ViewData["PageId"];

}

<form cpi-detail-form action="Save">
    <input type="hidden" asp-for="MapHdrId" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content  detail cpiMainEntry">
        <div class="form-row">
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="form-group float-label">
                    <label asp-for="DocDesc"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="DocDesc" asp-is-readonly="true" />
                    <span asp-validation-for="DocDesc"></span>
                </div>
            </div>
            <div class="col"></div>

            <div class="col col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <div class="form-group float-label">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="IsGenActionDE" class="custom-control-input" asp-is-readonly="@isReadOnly" />
                        <label asp-for="IsGenActionDE" class="custom-control-label">
                        </label>
                    </div>
                    <span asp-validation-for="IsGenActionDE"></span>
                </div>
            </div>
            <div class="col col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <div class="form-group float-label d-none">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="IsCompareDE" class="custom-control-input" asp-is-readonly="@isReadOnly" />
                        <label asp-for="IsCompareDE" class="custom-control-label">
                        </label>
                    </div>
                    <span asp-validation-for="IsCompareDE"></span>
                </div>
            </div>
        </div>

    </div>
    <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="actionTypeDetailActionParametersTab" data-toggle="tab" role="tab" aria-controls="actionTypeDetailActionParametersTabContent" aria-selected="false" href="#actionTypeDetailActionParametersTabContent">@Localizer["Action Term Mapping"]</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="actionTypeDetailActionParametersTabContent" role="tabpanel" aria-labelledby="actionTypeDetailActionParametersTab">
            @if (Model.SystemType == SystemTypeCode.Patent)
            {
                @await Html.PartialAsync("_GridTermMap", id)
            }
            else
            {
                @await Html.PartialAsync("_GridTermMapTmk", id)
            }
        </div>



    </div>
    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
        </div>
    }
</form>
<div class="cpiContainerPopup"></div>
<script>
    formExtractIFWActionMap.editableGrids = [
        {
            title: '@Localizer["Action Term Mapping"]', name: "@(Model.SystemType == SystemTypeCode.Patent ? "formIFWTermMapGrid" : "formIFWTermMapTmkGrid")", isDirty: false, filter: { mapHdrId: @id},
            afterSubmit: formExtractIFWActionMap.updateRecordStamps
        }
    ];
</script>
