@model PageViewModel
@inject IStringLocalizer<PTOActionMappingResource> Localizer

<div class="tab-content search page-content">
    <div class="tab-pane show active" id="formIFWActionMapSearchMainTabContent" aria-labelledby="formIFWActionMapSearchMainTab" role="tabpanel">
        <div class="form-row">
            <input type="hidden" name="SystemType" value="@Model.SystemType" />
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label>@Localizer["IFW Document Type"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "DocDesc", action = "GetDocDesc",data=$"{{systemType: '{Model.SystemType}'}}"})
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group float-label system-types">
                    <div><label>@Localizer["Include in"]</label></div>
                    @*<div class="form-check form-check-inline pt-1">
                        <input class="form-check-input" type="checkbox" id="IsCompare" name="IsCompare">
                        <label class="form-check-label" for="IsCompare">@Localizer["Compare?"]</label>
                    </div>*@
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="IsGenAction" name="IsGenAction">
                        <label class="form-check-label" for="IsGenAction">@Localizer["Generate Action?"]</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    @if (Model.SystemType == SystemTypeCode.Patent)
                    {
                        <label>@Localizer["Patent Action Type"]</label>
                        @await Component.InvokeAsync("ComboBox", new { name = "PMSActionType", action = "GetActionPickList" })
                    }
                    else
                    {
                        <label>@Localizer["Trademark Action Type"]</label>
                        @await Component.InvokeAsync("ComboBox", new { name = "TMSActionType", action = "GetTmkActionPickList" })
                    }
                </div>
            </div>
        </div>
    </div>
</div>