@model TmkCountry
@inject IStringLocalizer<SharedResource> SharedLocalizer
@{
    var id = Model.Country;
    var isCopy = ViewBag.CopyOptions != null;
    var addMode = string.IsNullOrEmpty(id) || isCopy;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord;
    bool isReadOnly = !fullModify;
}

<form cpi-detail-form action="Save">
    @if (addMode)
    {
        <input type="hidden" name="IsNewRecord" value="true" class="boolean" />
    }
    <input type="hidden" name="OriginalSystems" value="@(addMode ? "__NEW__" : (string.IsNullOrEmpty(Model.Systems) ? "__EMPTY__" : Model.Systems))" />
    <input type="hidden" asp-for="Country" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="Country"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Country" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="Country"></span>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5">
                <div class="form-group float-label">
                    <label asp-for="CountryName"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="CountryName" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="CountryName"></span>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-5"></div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="CPICode"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="CPICode" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="CPICode"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group float-label">
                    <label asp-for="Systems"></label>
                    <input type="hidden" name="Systems" id="SystemsHidden" value="@Model.Systems" />
                    <div class="border rounded p-2 position-relative" style="min-height: 60px; padding-top: 30px !important;">
                        @if (!isReadOnly)
                        {
                            <div class="position-absolute" style="top: 4px; right: 8px;">
                                <label class="small mb-0" style="cursor:pointer;"><input type="checkbox" id="systemsToggleAll" class="mr-1"/>Select All</label>
                            </div>
                        }
                        <div id="systemsCheckboxes"></div>
                    </div>
                    <script>
                        $(document).ready(function() {
                            var disabled = @(isReadOnly ? "true" : "false");
                            var selected = ($('#SystemsHidden').val() || '').split(',').filter(function(s) { return s.length > 0; });
                            $.getJSON('@Url.Action("GetSystemList", "Country")', function(data) {
                                var html = '';
                                $.each(data, function(i, name) {
                                    var checked = selected.indexOf(name) > -1 ? ' checked' : '';
                                    var dis = disabled ? ' disabled' : '';
                                    html += '<label class="mr-3" style="white-space:nowrap;"><input type="checkbox" class="systemChk mr-1" value="' + name + '"' + checked + dis + '/>' + name + '</label>';
                                });
                                $('#systemsCheckboxes').html(html);
                                var allCount = $('.systemChk').length;
                                var checkedCount = $('.systemChk:checked').length;
                                $('#systemsToggleAll').prop('checked', allCount > 0 && allCount === checkedCount);
                            });
                            $(document).on('change', '.systemChk', function() {
                                var vals = [];
                                $('.systemChk:checked').each(function() { vals.push($(this).val()); });
                                $('#SystemsHidden').val(vals.join(','));
                                var allCount = $('.systemChk').length;
                                var checkedCount = $('.systemChk:checked').length;
                                $('#systemsToggleAll').prop('checked', allCount > 0 && allCount === checkedCount);
                            });
                            $('#systemsToggleAll').click(function() {
                                var isChecked = $(this).prop('checked');
                                $('.systemChk').prop('checked', isChecked).first().trigger('change');
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    @if (!addMode)
    {
        <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" role="tablist">
            <li class="nav-item">
                <a id="tmkCountryDetailAreaTab" href="#tmkCountryDetailAreaTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="tmkCountryDetailAreaTabContent" title="@SharedLocalizer["Areas"]">@SharedLocalizer["Areas"]</a>
            </li>
        </ul>
        <div class="tab-content detail">
            <div class="tab-pane active show" id="tmkCountryDetailAreaTabContent" role="tabpanel" aria-labelledby="tmkCountryDetailAreaTab">
                @await Component.InvokeAsync("GridAreas", new AreaGridOptions { Country = Model.Country, Area = "Trademark" })
            </div>
        </div>
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.UserID" date-created="@Model.DateCreated" updated-by="@Model.UserID" last-update="@Model.LastUpdate" t-stamp="null"></vc:record-stamps>
        </div>
    }
</form>

<script>
    tmkCountryPage.afterInsert = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    tmkCountryPage.showDetails = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    tmkCountryPage.editableGrids = [
            {
             title: '@SharedLocalizer["Areas"]', name: 'areasGrid', isDirty: false, filter: { country: '@Model.Country'},
             afterSubmit: tmkCountryPage.updateRecordStamps
            }
    ];

    $(document).ready(() => {
        const areasGrid = $("#areasGrid");
        areasGrid.on("click", ".areaLink", (e) => {
            e.stopPropagation();

            let url = $(e.target).data("url");
            const row = $(e.target).closest("tr");
            const dataItem = areasGrid.data("kendoGrid").dataItem(row);
            const linkUrl = url.replace("actualValue", dataItem.Area);
            pageHelper.openLink(linkUrl, false);
        });
    })
</script>
