@model PageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@{
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
}

<div class="tab-content search page-content">
    <div class="tab-pane show active" id="tmkCountrySearchMainTabContent" aria-labelledby="tmkCountrySearchMainTab" role="tabpanel">
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Country">@Localizer["Country"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Country", multiSelect = true })
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group float-label">
                    <label for="CountryName">@Localizer["Country Name"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "CountryName", multiSelect = true })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="CPICode">@Localizer["CPI Code"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "CPICode", multiSelect = true })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="SystemName">@Localizer["Systems"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "SystemName", controller = "System", area = "Shared", action = "GetPicklistData", multiSelect = true })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="UserID">@Localizer["User ID"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "UserID", multiSelect = true })
                </div>
            </div>
        </div>
    </div>
</div>