@model GridOptions
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@inject ISystemSettings<PatSetting> PatSettings
@inject IAuthorizationService AuthService
@{
    var settings = await Settings.GetSetting();
    var patSettings = await PatSettings.GetSetting();

    var detailPagePermission = Model.Permission ?? (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool addMode = Model.ParentId == 0;

    var pageName = ViewBag.ActivePage;
    var gridName = $"inventorsGrid_{ViewData["PageId"]}";

    var inventorLinkUrl = Url.Action("DetailLink", "Inventor", new
    {
        Area = "Patent",
        id = "actualValue"
    });
    var inventorTemplate = $"<span class='pr-3'>#=kendo.htmlEncode(InventorDetail.Inventor)#</span>";

    if ((await AuthService.AuthorizeAsync(User, PatentAuthorizationPolicy.CanAccessAuxiliary)).Succeeded)
    {
        inventorTemplate = $"{inventorTemplate}<i class='fal fa-search-plus btn-link inventorLink #=ReadOnly ? 'd-none' : ''#' data-url='{inventorLinkUrl}' title='{Localizer["Open Inventor Screen"]}'></i>";
    }

    var isInventorRemunerationOn = (patSettings.IsInventorRemunerationOn || patSettings.IsInventorFRRemunerationOn) && Model.Controller == "PatInventorInv";
    var isInventorAwardOn = patSettings.IsInventorAwardOn;

}

<div id="yearlyAwardsContainer"
     data-url-award="@Url.Action("ShowAward","CountryApplication")"
     data-url-mass-update="@Url.Action("AwardsMassUpdate", Model.Controller)">
    @(
        Html.Kendo().Grid<InventorViewModel>()
                .Name(gridName)
                .Columns(columns =>
                {
                    columns.Bound(p => p.Id).Hidden();
                    columns.Bound(p => p.OrderOfEntry)
                        .ClientTemplate($"<i class='fal fa-grip-lines sort-handler inventor-item-handler' title='{Localizer["Sort"]}'></i>")
                        .ClientHeaderTemplate("&nbsp;")
                        .Width(50)
                        .Visible(fullModify);
                    columns.Bound(p => p.InventorDetail)
                        .ClientTemplate(inventorTemplate)
                        .EditorTemplateName("PatInventor")
                        .EditorViewData(new { id = $"{gridName}_Inventor" })
                        .Editable($"{pageName}.isGridColumnEditable")
                        .HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null);
                    if (isInventorRemunerationOn)
                    {
                        columns.Bound(p => p.Percentage).EditorTemplateName("TextBox").HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null).ClientTemplate("#=Percentage? kendo.htmlEncode(Percentage) : ''##=Percentage? '%' : ''#").Width(150);
                    }
                    columns.Bound(p=> p.IsApplicant).ClientTemplate("<i class='fa fal #: IsApplicant ? 'fa-check' : ''#'></i>")
              .EditorTemplateName("CheckBox").Width(100).HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null);
                    if (isInventorAwardOn)
                    {
                        columns.Bound(p => p.EligibleForBasicAward).ClientTemplate("<i class='fa fal #: EligibleForBasicAward ? 'fa-check' : ''#'></i>")
                  .EditorTemplateName("CheckBox").Width(100).HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null);
                        columns.Command(command =>
                          {
                              command.Custom("Award")
                          .Click("function(e) {" + pageName + ".showAward(e,this)}")
                          .IconClass("k-icon fal fa-dollar-sign")
                          .Text($"<span class='grid-action-label'>{Localizer["Award"]}</span>")
                          .HtmlAttributes(new { @class = "grid-action" });

                          }).Width(10);

                    }
                    columns.Command(command =>
                    {
                        if (detailPagePermission.CanDeleteRecord)
                            command.Custom("Delete")
                                    .Click("function(e) {" + pageName + ".deleteGridRow(e,this)}")
                                    .IconClass("k-icon fal fa-trash-alt")
                                    .Text($"<span class='grid-action-label'>{Localizer["Delete"]}</span>")
                                    .HtmlAttributes(new { @class = "grid-action" });

                    }).Width(10);
                })
                .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                .ToolBar(toolbar =>
                {
                    if (detailPagePermission.CanAddRecord && !addMode)
                    {
                        toolbar.Create().IconClass("k-icon fal fa-plus").Text(Localizer["Add"]).HtmlAttributes(new { @class = "grid-action" });
                    }
                    if (detailPagePermission.CanEditRecord && !detailPagePermission.CanEditRemarksOnly)
                    {
                        toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(Localizer["Save"]).HtmlAttributes(new { @class = "d-none" });
                        toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(Localizer["Cancel"]).HtmlAttributes(new { @class = "d-none" });
                    }
                    if (isInventorAwardOn)
                    {
                        toolbar.Custom().Name("UpdatePaymentDate").IconClass("k-icon fal fa-pencil").Text(Localizer["Update Payment Date"]).HtmlAttributes(new { @class = "ShowPaymentDateUpdateScreen no-results-hide" });
                    }

            })
            .Editable(editable => editable.Enabled(detailPagePermission.CanEditRecord && !detailPagePermission.CanEditRemarksOnly)
            .Mode(GridEditMode.InCell).
            ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))

            .Pageable(page => page.PageSizes(settings.MultipleEntitiesPageSizeOptions).Refresh(true).Responsive(false))
            .AutoBind(false)
            .Events(events => { events.Edit($"{pageName}.onEditInventor"); })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .PageSize(settings.MultipleEntitiesPageSize)
                .ServerOperation(false) //allow pending changes to persist when paging or sorting
                .Model(model =>
                {
                    model.Id(i => i.Id);
                    model.Field(i => i.OrderOfEntry).Editable(false);
                    model.Field(i => i.InventorDetail).DefaultValue(new PatInventorListViewModel { Inventor = "" });
                })
                .Read(read => read.Action("GridRead", Model.Controller, new { parentId = Model.ParentId }))
                .Update(update => update.Action("GridUpdate", Model.Controller))
                .Destroy(update => update.Action("GridDelete", Model.Controller))
                .Events(events =>
                {
                    events.Error("pageHelper.onGridError");
                })
            )
            .Events(events =>
            {
                events.DataBound($"{pageName}.setGridReadOnlyRow");
            })
            .HtmlAttributes(new { @class = "k-grid-border" })
        )
@(Html.Kendo().Sortable()
                .For($"#{gridName}")
                .Filter("table > tbody > tr:not(.k-grid-edit-row)")
                .Cursor("grabbing")
                .Handler(".inventor-item-handler")
                .HintHandler("pageHelper.hint")
                .PlaceholderHandler("pageHelper.placeholder")
                .ContainerSelector($"#{gridName} tbody")
                .Events(events => events.Change($"function (e) {{ {pageName}.onGridInventorReorder(e, '{Url.Action("GridReorder", Model.Controller)}') }}"))
        )
    </div>
