@model ActionTypeViewModel
@inject IStringLocalizer<SharedResource> Localizer
@{
    var id = Model.ActionTypeID;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    bool isReadOnlyRemarks = !(fullModify || detailPagePermission.CanEditRemarksOnly);
    var screen = ViewData["PageId"];

    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
}
<form cpi-detail-form action="@(detailPagePermission.CanEditRemarksOnly ? "SaveRemarks" :"Save")">
    <input type="hidden" asp-for="ActionTypeID" />
    <input type="hidden" name="CopyOptions" value="@(ViewBag.CopyOptions ?? "")" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="form-group float-label">
                    <label asp-for="ActionType"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="ActionType" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="ActionType"></span>
                </div>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-1 order-11 pt-3">
                @if (isReadOnly)
                {
                    @(Html.Kendo().CheckBoxFor(m => m.IsOfficeAction).HtmlAttributes(new { id = "ActionType_IsOfficeAction", disabled = "true" }))
                }
                else
                {
                    @(Html.Kendo().CheckBoxFor(m => m.IsOfficeAction).HtmlAttributes(new { id = "ActionType_IsOfficeAction" }))
                }
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="Country"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="Country" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", ComboBoxHelper.CountryWithLink("Country", countryLabel, countryNameLabel, Model.Country))
                        <span asp-validation-for="Country"></span>
                    }
                </div>
            </div>
            <div class="col-md-8 col-lg-9 col-xl-7">
                <div class="form-group float-label">
                    <label for="Country_@(screen)_Name">@Localizer["Country Name"]</label>
                    <input type="text" class="form-control form-control-sm" id="Country_@(screen)_Name" disabled="disabled" asp-for="CountryName" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="ResponsibleID"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="ResponsibleName" disabled />
                    }
                    else
                    {
                        var attorneyLabel = Localizer["Attorney"];
                        var attorneyNameLabel = Localizer["Attorney Name"];
                        @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyWithLink("ResponsibleID", attorneyLabel, attorneyNameLabel, Model.ResponsibleID, Model.ResponsibleCode))
                        <span asp-validation-for="ResponsibleID"></span>
                    }
                </div>
            </div>
            <div class="col-md-8 col-lg-9 col-xl-7">
                <div class="form-group float-label">
                    <label for="ResponsibleID_@(screen)_Name">@Localizer["Attorney Name"]</label>
                    <input type="text" class="form-control form-control-sm" id="ResponsibleID_@(screen)_Name" disabled="disabled" asp-for="ResponsibleName" />
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="actionTypeDetailMainTab" data-toggle="tab" role="tab" aria-controls="actionTypeDetailMainTabContent" aria-selected="true" href="#actionTypeDetailMainTabContent">@Localizer["Follow Up Action"] </a>
        </li>
        @if (!detailPagePermission.HasLimitedRead)
        {
            <li class="nav-item">
                <a class="nav-link @(string.IsNullOrEmpty(Model.Remarks) ? null : "has-remarks")" id="actionTypeDetailRemarksTab" data-toggle="tab" role="tab" aria-controls="actionTypeDetailRemarksTabContent" aria-selected="false" href="#actionTypeDetailRemarksTabContent">@Localizer["Remarks"]</a>
            </li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane page-content cpiMainEntry show active" id="actionTypeDetailMainTabContent" role="tabpanel" aria-labelledby="actionTypeDetailMainTab">
            <div class="form-row">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="FollowUpMsg"></label>
                        @if (isReadOnly)
                        {
                            <input type="text" class="form-control form-control-sm" asp-for="FollowUpMsg" disabled />
                        }
                        else
                        {
                            @await Component.InvokeAsync("ComboBox",
                                     new
                                     {
                                         name = "FollowUpMsg",
                                         action = "GetFollowUpActionList",
                                         textProperty = "ActionType",
                                         defaultValue = Model.FollowUpMsg,
                                         data = "function() {return {country: $('#Country_" + screen + "').val()} } "
                                     })
                            <span asp-validation-for="FollowUpMsg"></span>
                        }
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="form-group float-label">
                        <label asp-for="FollowUpGen"></label>
                        @if (isReadOnly)
                        {
                            <input type="text" class="form-control form-control-sm" value="@(((FollowUpOption)Model.FollowUpGen).GetDisplayName())" disabled />
                        }
                        else
                        {
                            @(Html.Kendo().ComboBox()
                                .Name("FollowUpGen")
                                .Text(((FollowUpOption)Model.FollowUpGen).GetDisplayName())
                                .Value(Model.FollowUpGen.ToString())
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .BindTo(Html.GetEnumSelectList<FollowUpOption>().OrderBy(o => o.Text))
                                .Events(e => e.Change("pageHelper.handleComboBoxInvalidEntry"))
                                .HtmlAttributes(new { style = "width: 100%", id = $"FollowUpGen_{screen}" })
                                )
                            <span asp-validation-for="FollowUpGen"></span>
                        }
                    </div>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col-12">
                    <label>@Localizer["Follow Up Terms"]</label>
                </div>
                <div class="col-md-2">
                    <div class="form-group float-label">
                        <label asp-for="FollowUpMonth"></label>
                        @if (isReadOnly)
                        {
                            <input type="number" class="form-control form-control-sm" asp-for="FollowUpMonth" readonly />
                        }
                        else
                        {
                            <input type="number" class="form-control form-control-sm" name="FollowUpMonth" id="FollowUpMonth" value="@Model.FollowUpMonth" min="0" style="width: 100%" />
                            <span asp-validation-for="FollowUpMonth"></span>
                        }
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group float-label">
                        <label asp-for="FollowUpDay"></label>
                        @if (isReadOnly)
                        {
                            <input type="number" class="form-control form-control-sm" asp-for="FollowUpDay" readonly />
                        }
                        else
                        {
                            <input type="number" class="form-control form-control-sm" name="FollowUpDay" id="FollowUpDay" value="@Model.FollowUpDay" min="0" style="width: 100%" />
                            <span asp-validation-for="FollowUpDay"></span>
                        }
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group float-label">
                        <label asp-for="FollowUpIndicator"></label>
                        @if (isReadOnly)
                        {
                            <input type="text" class="form-control form-control-sm" asp-for="FollowUpIndicator" readonly />
                        }
                        else
                        {
                            @await Component.InvokeAsync("ComboBox",
                                     new
                                     {
                                         name = "FollowUpIndicator",
                                         action = "GetPicklistData",
                                         controller = "Indicator",
                                         textProperty = "Indicator",
                                         defaultValue = Model.FollowUpIndicator
                                     })
                            <span asp-validation-for="FollowUpIndicator"></span>
                        }
                    </div>
                </div>
            </div>
        </div>
        @if (!detailPagePermission.HasLimitedRead)
        {
            <div class="tab-pane page-content cpiMainEntry" id="actionTypeDetailRemarksTabContent" role="tabpanel" aria-labelledby="actionTypeDetailRemarksTab">
                <div class="form-row">
                    <div class="col">
                        <textarea class="form-control form-control-sm" rows="10" asp-for="Remarks" asp-is-readonly="@isReadOnlyRemarks">Remarks</textarea>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate"></vc:record-stamps>
        </div>
    }
</form>
<div class="cpiContainerPopup"></div>
<script>
    patActionTypePage.editableGrids = [
        {
            title: '@Localizer["Action Parameters"]', name: 'patActionParametersGrid', isDirty: false, filter: { actionTypeId: @id},
            afterSubmit: patActionTypePage.updateRecordStamps
        }
    ];
</script>

<script>
    $(document).ready(function() {
        $('.page-nav.add-record').off('click').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = $(this).data('url');
            if (url) pageHelper.openLink(url, true);
        });
    });
</script>
