@model PageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@{ 
    
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
    var attorneyLabel = Localizer["Attorney"];
    var attorneyNameLabel = Localizer["Attorney Name"];
}
<div class="tab-content search page-content">
    <div class="tab-pane show active" id="actionTypeSearchTabContent" aria-labelledby="actionTypeSearchTab" role="tabpanel">
        <div class="form-row">
            <div class="col-md-8 col-lg-8 col-xl-6">
                <div class="form-group float-label">
                    <label for="ActionType">@Localizer["Action Type"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "ActionType" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Country">@Localizer["Country"]</label>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.SharedCountry("Country", countryLabel, countryNameLabel, "PatActionTypes"))
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-xl-6">
                <div class="form-group float-label">
                    <label for="PatCountry.CountryName">@Localizer["Country Name"]</label>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.SharedCountryName("PatCountry.CountryName", "PatActionTypes"))
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Responsible.AttorneyCode">@Localizer["Responsible Attorney"]</label>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.SharedAttorneyCode("Responsible.AttorneyCode", attorneyLabel, attorneyNameLabel, "AttorneyPatActionTypes"))
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-xl-6">
                <div class="form-group float-label">
                    <label for="Responsible.AttorneyName">@Localizer["Attorney Name"]</label>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.SharedAttorneyName("Responsible.AttorneyName", "AttorneyPatActionTypes"))
                </div>
            </div>
        </div>
        <div class="form-row mt-4">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="CreatedBy">@Localizer["Created By"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "CreatedBy" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="DateCreatedFrom">@Localizer["Date Created From"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DateCreatedFrom"))
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="DateCreatedTo">@Localizer["Date Created To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DateCreatedTo"))
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="UpdatedBy">@Localizer["Updated By"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "UpdatedBy" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="LastUpdateFrom">@Localizer["Last Update From"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("LastUpdateFrom"))
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="LastUpdateTo">@Localizer["Last Update To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("LastUpdateTo"))
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <label for="IsOfficeAction">@Localizer["Office Action?"]</label>
                <div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline">
                            <input type="radio" name="IsOfficeAction" class="form-control" value="true" data-role="option"> @Localizer["Yes"]
                        </label>
                        <label class="btn btn-outline">
                            <input type="radio" name="IsOfficeAction" class="form-control" value="false" data-role="option"> @Localizer["No"]
                        </label>
                        <label class="btn btn-outline active">
                            <input type="radio" name="IsOfficeAction" class="form-control" value="" data-role="option"> @Localizer["All"]
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>