@using  R10.Web.Areas
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@model ReportPartialLookUpViewModel

@{
    var settings = await Settings.GetSetting();

    var clientLabel = settings.LabelClient;
    var clientNameLabel = settings.LabelClientName;

    var enableComboPaging = settings.EnableComboBoxPaging;
    var comboPagingSize = settings.ComboBoxPagingSize;
}

<div class="form-group float-label col-xl-4 col-5 ClientMultiSelectClass" hidden>
    <label>@Localizer[clientLabel + "s"]</label>
    @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
{
    Controller = Model.Controller,
    Area = Model.Area,
    Action = "GetClientList",
    Name = "Clients_Options",
    DataTextProperty = "ClientCode",
    DataValueProperty = "ClientCode",
    ListWidth = 500,
    HeaderTemplate = ComboBoxHelper.GetHeaderTemplate(@Localizer[clientLabel], @Localizer[clientNameLabel]),
    ItemTemplate = ComboBoxHelper.GetItemTemplate("ClientCode", "ClientName")
})
</div>
<div class="form-group float-label col-xl-4 col-5 ClientComboBoxClass">
    <label>@Localizer[clientLabel]</label>
    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientCode("Client", @Localizer[clientLabel], @Localizer[clientNameLabel], Model.Controller, "", Model.Area))
</div>
@await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "ClientMultiSelectClass", SingleClass = "ClientComboBoxClass" })
<div class="form-group float-label col-xl-6 col-7 ClientNameMultiSelectClass" hidden>
    <label>@Localizer[clientNameLabel + "s"]</label>
    @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
{
   Controller = Model.Controller,
   Area = Model.Area,
   Action = "GetClientList",
   Name = "ClientNames_Options",
   DataTextProperty = "ClientName",
})
</div>
<div class="form-group float-label col-xl-6 col-7 ClientNameComboBoxClass">
    <label>@Localizer[clientNameLabel]</label>
    @await Component.InvokeAsync("ComboBox", new { name = "ClientName", controller = Model.Controller, action = "GetClientList", area = Model.Area })
</div>
@await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "ClientNameMultiSelectClass", SingleClass = "ClientNameComboBoxClass" })