@model PageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<PatSetting> Settings
@{
    var settings = await Settings.GetSetting();

    var clientLabel = Localizer[settings.LabelClient];
    var clientNameLabel = Localizer[settings.LabelClientName];

    var isAdmin = User.IsAdmin();
}

<div class="tab-content search page-content">
    <div class="tab-pane show active" id="recentViewedSearchCaseInfoTabContent" aria-labelledby="recentViewedSearchCaseInfoTab" role="tabpanel">        
        <div class="form-row">
            <div class="col">
                <input type="hidden" name="FromSystem" value="@Model.SystemType" />
                <div class="system-types">
                    <div class="pb-1"><label>@Localizer["System(s)"]</label></div>                    
                    <div class="border rounded px-2 py-2 d-flex">
                        @if (User.IsInSystem(SystemType.Patent))
                        {
                            <div class="form-check form-check-inline" style="width:40%">
                                <input class="form-check-input" type="checkbox" name="Patent" value="P" id="cbPatent" checked>
                                <label class="form-check-label" for="Patent">@Localizer["Patent"]</label>
                            </div>
                        }
                        @if (User.IsInSystem(SystemType.Trademark))
                        {
                            <div class="form-check form-check-inline" style="width:40%">
                                <input class="form-check-input" type="checkbox" name="Trademark" value="T" id="cbTrademark" checked>
                                <label class="form-check-label" for="Trademark">@Localizer["Trademark"]</label>
                            </div>
                        }
                        @if (User.IsInSystem(SystemType.GeneralMatter))
                        {
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="GeneralMatter" value="G" id="cbGeneralMatter" checked>
                                <label class="form-check-label" for="GeneralMatter">@Localizer["General Matter"]</label>
                            </div>
                        }                        
                    </div>                    
                </div>
            </div>
        </div> 
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="ActivityDateTimeFrame">@Localizer["Date Range"]</label>
                    @(Html.Kendo().DropDownList()
                                .Name("ActivityDateTimeFrame")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .BindTo(new List<SelectListItem>() {
                                                new SelectListItem() {
                                                Text = Localizer["Today"],
                                                Value = "D"
                                                },
                                                new SelectListItem() {
                                                Text = Localizer["This Week"],
                                                Value = "W"
                                                },
                                                new SelectListItem() {
                                                Text = Localizer["This Month"],
                                                Value = "M"
                                                },                                                                                                                                          
                                        })
                        .Value("D")
                        .HtmlAttributes(new { style = "width: 50%" })
                        )
                </div>
            </div>           
        </div>
        <div class="form-row">            
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="ActivityDateFrom">@Localizer["Activity Date"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("ActivityDateFrom", "function(e) {var dateFrom = $('#ActivityDateFrom_recentViewedSearch').data('kendoDatePicker'); var dateTo = $('#ActivityDateTo_recentViewedSearch').data('kendoDatePicker'); var dateTimeFrame = $('#ActivityDateTimeFrame').data('kendoDropDownList'); if (dateFrom.value() || dateTo.value()) {dateTimeFrame.enable(false);}else {dateTimeFrame.enable(true);}}"))
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="ActivityDateTo">@Localizer["To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("ActivityDateTo", "function(e) {var dateFrom = $('#ActivityDateFrom_recentViewedSearch').data('kendoDatePicker'); var dateTo = $('#ActivityDateTo_recentViewedSearch').data('kendoDatePicker'); var dateTimeFrame = $('#ActivityDateTimeFrame').data('kendoDropDownList'); if (dateFrom.value() || dateTo.value()) {dateTimeFrame.enable(false);}else {dateTimeFrame.enable(true);}}"))
                </div>
            </div>
        </div> 
        <div class="form-row">
            <div class="col-12">
                <div class="form-group float-label">
                    <label for="Client.ClientCode">@clientLabel</label>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientCode("Client.ClientCode", clientLabel, clientNameLabel, "Client", null, "Shared"))
                </div>
            </div>
            @if (isAdmin)
            {
                <div class="col-12">
                    <div class="form-group float-label">
                        <label for="ViewedBy">@Localizer["User Id"]</label>
                        @await Component.InvokeAsync("ComboBox", new { name = "ViewedBy", controller = "RecentViewed", action = "GetActivityLogUserList", valueProperty = "UserId", textProperty = "UserId", listWidth = 350 })
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>
