@model ChildViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var agentIdParam = $"{{agentId: {Model.Id}}}";
    var fullModify = Model.Permission.CanEditRecord && !Model.Permission.CanEditRemarksOnly;
    var genLetterTemplate = $"<span>#=GenAllLettersDescription#</span>#if (GenAllLetters===2 && AgentContactID > 0 ){{#<i class='far fa-list-alt pl-2 letter-entry' data-agent-id='#=AgentID#' data-contact-id='#=ContactID#' title='{Localizer["Show Letter Types"]}'></i>#}}#";

    var contactLinkUrl = Url.Action("DetailLink", "ContactPerson", new
    {
        Area = "Shared",
        id = "actualValue"
    });
    var contactNameTemplate = $"<span class='pr-3'>#=kendo.htmlEncode(ContactName)#</span><i class='fal fa-search-plus btn-link contactLink' data-url='{contactLinkUrl}' title='{Localizer["Open Contact Screen"]}'></i>";

    var showLettersOptions = User.IsInSystem(SystemType.Patent) || User.IsInSystem(SystemType.Trademark);

    var showPat = User.IsInSystem(SystemType.Patent);
    var showTmk = User.IsInSystem(SystemType.Trademark);
}

<div id="agentContactsContainer" data-unsave-letter-msg="@Localizer["Please save or cancel your letter settings changes first."]">
    @*<span class="mb-2 d-inline-block">@Localizer["Contacts"]</span>*@
    @(Html.Kendo().Grid<AgentContactViewModel>()
                        .Name("agentContactsGrid")
                        .Columns(columns =>
                        {
                            columns.Bound(cc => cc.ContactID).ClientTemplate(contactNameTemplate).Width(400)
                                                .HeaderHtmlAttributes(new { title = Localizer["Contact Person"].ToString() })
                                                .EditorTemplateName("ContactDropdown")
                                                .EditorViewData(new { id = "agentContactsGrid_Contact",onSelect= "agentPage.contacts_updateName"})
                                                .Editable("agentPage.isGridColumnEditable")
                                                .HtmlAttributes(new { @class = fullModify ? "editable-cell" : "", title = Localizer["Contact Person"].ToString() });
                            columns.Bound(cc => cc.Default)
                                                .ClientTemplate("<i class='fa fal #: Default ? 'fa-check' : ''#'></i>").HtmlAttributes(new { @class = "text-center" })
                                                .HeaderHtmlAttributes(new { @class = "-text-center", title = Localizer["Default?"].ToString() })
                                                .Width(100)
                                                .EditorTemplateName("CheckBox")
                                                .Editable("agentPage.isGridColumnEditable")
                                                .HtmlAttributes(new { @class = fullModify ? "editable-cell" : "", title = Localizer["Default?"].ToString() })
                                                .Visible(showLettersOptions);
                            columns.Bound(cc => cc.GenAllLetters)                                                
                                                .HeaderHtmlAttributes(new { title = Localizer["Send Letters?"].ToString() })
                                                .EditorTemplateName("LetterOptions")
                                                .EditorViewData(new {onSelect = "agentPage.contacts_updateName" })
                                                .ClientTemplate(genLetterTemplate)
                                                .Editable("agentPage.isGridColumnEditable")
                                                .Width(150)
                                                .HtmlAttributes(new { @class = fullModify ? "editable-cell" : "", title = Localizer["Send Letters?"].ToString() })
                                                .Visible(showLettersOptions);
                            columns.Bound(cc => cc.LetterSendAs)
                                                .ClientTemplate("#=kendo.htmlEncode(LetterSendAsDescription)#")
                                                .HeaderHtmlAttributes(new { title = Localizer["Send As"].ToString() })
                                                .EditorTemplateName("SendAsOptions")
                                                .EditorViewData(new { onSelect = "agentPage.contacts_updateName" })
                                                .Editable("agentPage.isGridColumnEditable")
                                                .Width(150)
                                                .HtmlAttributes(new { @class = fullModify ? "editable-cell" : "", title = Localizer["Send As"].ToString() })
                                                .Visible(showLettersOptions);
                            columns.Bound(cc => cc.IsPatentContact)
                                                .ClientTemplate("<i class='fa fal #: IsPatentContact ? 'fa-check' : ''#'></i>").HtmlAttributes(new { @class = "text-center" })
                                                .HeaderHtmlAttributes(new { @class = "-text-center", title = Localizer["Patent Contact"].ToString() })
                                                .Width(100)
                                                .EditorTemplateName("CheckBox")
                                                .Editable("agentPage.isGridColumnEditable")
                                                .HtmlAttributes(new { @class = fullModify ? "editable-cell" : "", title = Localizer["Patent Contact"].ToString() })
                                                .Visible(showPat);
                            columns.Bound(cc => cc.IsTrademarkContact)
                                                .ClientTemplate("<i class='fa fal #: IsTrademarkContact ? 'fa-check' : ''#'></i>").HtmlAttributes(new { @class = "text-center" })
                                                .HeaderHtmlAttributes(new { @class = "-text-center", title = Localizer["Trademark Contact"].ToString() })
                                                .Width(100)
                                                .EditorTemplateName("CheckBox")
                                                .Editable("agentPage.isGridColumnEditable")
                                                .HtmlAttributes(new { @class = fullModify ? "editable-cell" : "", title = Localizer["Trademark Contact"].ToString() })
                                                .Visible(showTmk);
                            columns.Command(command =>
                            {

                                if (Model.Permission.CanDeleteRecord)
                                    command.Custom("Delete")
                                            .Click("function(e) {agentPage.deleteContactRow(e,this)}")
                                            .IconClass("k-icon fal fa-trash-alt")
                                            .Text($"<span class='grid-action-label'>{Localizer["Delete"]}</span>")
                                            .HtmlAttributes(new { @class = "grid-action" });

                            }).Width(10);
                        })
                        .Events(events =>
                        {
                            events.Change("agentPage.contacts_onRowSelect");
                            events.Remove("agentPage.contacts_onRemove");
                            events.Edit("agentPage.contacts_onEdit");
                        })
                        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                        .ToolBar(toolbar =>
                        {
                            if (fullModify)
                            {
                                toolbar.Create().IconClass("k-icon fal fa-plus").Text(Localizer["Add"])
                                    .HtmlAttributes(new { @class = "grid-action" });
                            }
                            if (Model.Permission.CanEditRecord && !Model.Permission.CanEditRemarksOnly)
                            {
                                toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(Localizer["Save"]).HtmlAttributes(new { @class = "d-none" });
                                toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(Localizer["Cancel"]).HtmlAttributes(new { @class = "d-none" });
                            }

                        })
                        .Editable(editable => editable.Enabled(Model.Permission.CanEditRecord && !Model.Permission.CanEditRemarksOnly)
                                    .Mode(GridEditMode.InCell).
                                    ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
                        .Sortable(sort => sort.AllowUnsort(false))
        .Pageable(page => page.Responsive(false))
        //.Scrollable()
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Batch(true)
                        //.Batch(Model.Permission.CanEditRecord && !Model.Permission.CanEditRemarksOnly)
                        .PageSize(settings.SubFormPageSize)
                        .ServerOperation(false)
                        .Model(model =>
                        {
                            model.Id(c => c.AgentContactID);
                            //model.Field(c => c.GenAllLettersDetail).DefaultValue(LetterOptionViewModel.GetDefault(Localizer));
                            // model.Field(c => c.LetterSendAsDetail).DefaultValue(SendAsOptionViewModel.GetDefault(Localizer));
                            model.Field(c => c.GenAllLetters).DefaultValue(1);
                            model.Field(c => c.LetterSendAs).DefaultValue("T");
                            model.Field(c => c.ReceiveAgentResponsibilityLetter).DefaultValue(false);
                            model.Field(c => c.IsPatentContact).DefaultValue(false);
                            model.Field(c => c.IsTrademarkContact).DefaultValue(false);
                            model.Field(c => c.IsGeneralMatterContact).DefaultValue(false);
                        })
                        .Read(create => create.Action("ContactsRead", "Agent").Data(@agentIdParam))
                        .Update(create => create.Action("ContactsUpdate", "Agent").Data(@agentIdParam))
                        .Destroy(create => create.Action("ContactsDelete", "Agent"))
                        .Events(events =>
                        {
                            events.Error("pageHelper.onGridError");
                        })
                        )
                        .HtmlAttributes(new { @class = "mb-2 kendo-Grid" })
    )
</div>
<div class="col-md mt-5" style="display:none;" id="agentContactLetters">
    <span class="mb-2 d-inline-block">@Localizer["Please enter the specific letters to send to the selected contact."]</span>
    @(Html.Kendo().Grid<LetterEntitySettingViewModel>()
                            .Name("agentContactLettersGrid")
                            .Columns(columns =>
                            {
                                columns.Bound(ls => ls.LetterCategory).ClientTemplate("#=kendo.htmlEncode(LetterCategory.LetCatDesc)#").Width(200);
                                columns.Bound(ls => ls.LetterSendAs).EditorTemplateName("SendAsOptions")
                                       .ClientTemplate("#=kendo.htmlEncode(LetterSendAsDescription)#")
                                       .EditorViewData(new { onSelect = "agentPage.letters_updateName" });
                                columns.Command(command =>
                                {
                                    if (Model.Permission.CanDeleteRecord)
                                        command.Custom("Delete").Click("function(e) {clientPage.deleteGridRow(e,this)}").IconClass("k-icon fal fa-trash-alt");
                                }).Width(10);
                            })
                            .ToolBar(toolbar =>
                            {
                                if (fullModify)
                                {
                                    toolbar.Create().IconClass("k-icon fal fa-plus").Text(Localizer["Add"]);
                                }
                                if (fullModify)
                                {
                                    toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(Localizer["Save"]).HtmlAttributes(new { @class = "d-none" });
                                    toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(Localizer["Cancel"]).HtmlAttributes(new { @class = "d-none" });

                                }

                            })
                            .Editable(editable => editable.Enabled(Model.Permission.CanEditRecord && !Model.Permission.CanEditRemarksOnly)
                                        .Mode(GridEditMode.InCell).ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
                            .AutoBind(false)
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .Batch(true)
                            .ServerOperation(false)
                            .Model(model =>
                            {
                                model.Id(ls => ls.SettingId);
                                model.Field(c => c.LetterCategory).DefaultValue(new LetterCategory { LetCatDesc = "" });
                                model.Field(c => c.LetterSendAs).DefaultValue("T");
                                //model.Field(c => c.LetterSendAsDetail).DefaultValue(SendAsOptionViewModel.GetDefault(Localizer));
                            })
                            .Read(create => create.Action("SettingRead", "LetterEntitySetting").Data("agentPage.getContactLettersFilter"))
                            .Update(create => create.Action("SettingsUpdate", "LetterEntitySetting"))
                            .Destroy(create => create.Action("SettingDelete", "LetterEntitySetting"))
                            .Events(events =>
                            {
                                events.Error("pageHelper.onGridError");
                            })
                            )
                             .Events(events =>
                        {
                            events.Edit("agentPage.letters_onEdit");
                        })
                            .HtmlAttributes(new { @class = "kendo-Grid" })
    )
</div>
<style>
    #agentContactsGrid tr.k-state-selected.contact-selected {
        background-color: var(--grid-hover) !important;
    }
</style>