@model List<GSSystemScreen>
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();

    var clientLabel = settings.LabelClient;
    var clientNameLabel = settings.LabelClientName;

    var systemCount = Model.Count();

    var systemError = Localizer["Please select at least one system/screen."];
    var documentError = Localizer["Please select at least one document type."];
    var scopeError = Localizer["Please select at least one search scope."];
    var basicSearchError = Localizer["Please enter a longer search term. The minimum length is: "];

    var isIDSOn = User.IsInSystem(SystemType.IDS);
    var isPatOn = User.IsInSystem(SystemType.Patent);
    var isTmkOn = User.IsInSystem(SystemType.Trademark);
    var isGMOn = User.IsInSystem(SystemType.GeneralMatter);
    var isAMSOn = User.IsInSystem(SystemType.AMS);
}

<div>
    <div class="form-row">
        <div class="col">
            <b>@Localizer["Basic Search"]</b>
        </div>        
    </div>
    <div class="form-row">
        <div class="col">
            <i>@Localizer["All searchable fields will be scanned for the search term you enter below."]</i>
        </div>
    </div>
    <div class="form-row pb-1">
        <div class="col">
            <div class="form-group float-label">
                <label for="BasicSearchTerm">@Localizer["Search Term"]</label>
                <input type="text" class="form-control" id="BasicSearchTerm" name="BasicSearchTerm" />
            </div>
        </div>
    </div>
    <div class="form-row p-1">
        <div class="col">
            
    <div class="form-row p-2 border gsGrayHeader">
        <div class="col-6">
            <div id="cpiSysParamContainerHeader">
                        <a class="nav-link search-expand" href="#" title="@Localizer["Open"]" role="button" id="toggleScreenList" style="display: inline;"><i class="fal fa-chevron-down fa-fixed-width"></i></a>
                <input type="checkbox" id="chkSystemAll" name="chkSystemAll" class="k-checkbox cpiGSCriteriaCheckBox" checked="checked">
                <label class="k-checkbox-label font-weight-bold" for="chkSystemAll" style="display: inline;">@Localizer["System Criteria"]</label>
            </div>
        </div>
        <div class="col-6">
            <div id="cpiDocParamContainerHeader" style="display: none;">
                <input type="checkbox" id="chkDocumentAll" name="chkDocumentAll" class="k-checkbox cpiGSCriteriaCheckBox">
                <label class="k-checkbox-label font-weight-bold" for="chkDocumentAll">@Localizer["Document Type Criteria"]</label>
            </div>
        </div>
    </div>
    <div class="form-row p-2 border">
        <div class="col-6">
            <div class="form-group" id="cpiSysParamContainer">
                @{ for (var i = 0; i < systemCount; i++)
                    {
                        var sysType = Model[i].System.Value;
                        var sysName = Model[i].System.Text;

                        var sysId = "cpiSystem" + sysType;
                        var screenListId = "cpiScreen" + sysType;

                        <div class="form-row cpiSystemType pt-2">
                            <div class="col">
                                <a data-toggle="collapse" class="nav-link" href="#@screenListId" role="button" style="display: inline;"><i class="fal fa-ellipsis-v-alt fa-fixed-width"></i></a>
                                <input type="checkbox" class="k-checkbox cpiGSCriteriaCheckBox" id="@sysId" name="@sysId" checked="checked">
                                <label class="k-checkbox-label" for="@sysId" style="display: inline;">@sysName</label>
                            </div>

                        </div>

                        for (var j = 0; j < Model[i].Screens.Count; j++)
                        {
                            var screenId = screenListId + '-' + Model[i].Screens[j].Value;
                            var screenName = Model[i].Screens[j].Text;
                            <div class="collapse cpiScreenType" id="@screenListId">
                                <div class="form-row">
                                    <div class="col-2"></div>
                                    <div class="col-9">
                                        <input type="checkbox" class="cpiSystemCheck cpiGSCriteriaCheckBox @sysId" id="@screenId" name="@screenId" checked="checked">
                                        <label for="@screenId">@screenName</label>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
        <div class="col-6">
            <div id="cpiDocParamContainer" class="row" style="display: none;">
                <div class="col-7">
                    <div class="form-group">
                        <div class="pt-2">
                            <input type="checkbox" id="gsCheckDocMgt" name="gsCheckDocMgt" class="k-checkbox cpiDocumentCheck cpiGSCriteriaCheckBox">
                            <label class="k-checkbox-label" for="gsCheckImageDoc">@Localizer["Documents"]</label>
                        </div>
                        @if (isIDSOn) {
                            <div>
                                <input type="checkbox" id="gsCheckIDSDoc" name="gsCheckIDSDoc" class="k-checkbox cpiDocumentCheck cpiGSCriteriaCheckBox">
                                <label class="k-checkbox-label" for="gsCheckIDSDoc">@Localizer["IDS References"]</label>
                            </div>
                        }
                        @if (isPatOn || isTmkOn || isGMOn || isAMSOn) {
                            <div>
                                <input type="checkbox" id="gsCheckLetterLog" name="gsCheckLetterLog" class="k-checkbox cpiDocumentCheck cpiGSCriteriaCheckBox">
                                <label class="k-checkbox-label" for="gsCheckLetterLog">@Localizer["Letters"]</label>
                            </div>
                            <div>
                                <input type="checkbox" id="gsCheckEFSLog" name="gsCheckEFSLog" class="k-checkbox cpiDocumentCheck cpiGSCriteriaCheckBox">
                                <label class="k-checkbox-label" for="gsCheckEFSLog">@Localizer["Electronic Forms"]</label>
                            </div> 
                        }                                               
                    </div>
                </div>
                <div class="col-5">
                    <label>Word Match</label>
                    <div class="form-check pl-5">
                        <input class="form-check-input" type="radio" name="BasicSearchMode" id="BasicAny" value="any" checked>
                        <label class="form-check-label" for="BasicAny">@Localizer["Any word"]</label>
                    </div>
                    <div class="form-check pl-5">
                        <input class="form-check-input" type="radio" name="BasicSearchMode" id="BasicAll" value="all">
                        <label class="form-check-label" for="BasicAll">@Localizer["All words"]</label>
                    </div>
                    <div id="basicQueryTypeContainer">
                        <label>Query Type</label>
                        <div class="form-check pl-5">
                            <input class="form-check-input" type="radio" name="BasicQueryType" id="BasicFull" value="simple" checked>
                            <label class="form-check-label" for="BasicFull">@Localizer["Simple"]</label>
                        </div>
                        <div class="form-check pl-5">
                            <input class="form-check-input" type="radio" name="BasicQueryType" id="BasicSimple" value="full">
                            <label class="form-check-label" for="BasicSimple">@Localizer["Full"]</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
        </div>
    </div>
    
</div>

<style>
    .gsGrayHeader {
        background-color: var(--bg-sidebar);
        /*background-color: var(--bg-sidebar-header);*/
    }
</style>
<script>
    $(document).ready(function () {
        globalSearch.initializeBasicSearch({
            systemError: "@systemError",
            scopeError: "@scopeError",
            basicSearchError: "@basicSearchError",
            documentError: "@documentError"
        });
    });

</script>

