@model List<GSSystemScreen>
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings

@{
    var searchString = ViewData["SearchString"];
    var defaultDataFieldList = ViewData["defaultDataFieldList"] ?? null;

    var settings = await Settings.GetSetting();

    var clientLabel = settings.LabelClient;
    var clientNameLabel = settings.LabelClientName;
}

<div class="page-main border pb-2">
    <div class="border-bottom pb-2">
        <div class="row">
            <div class="sidebar-link"></div>
        </div>
        <div class="page-message"></div>
        <div class="row">
            <div class="col-6">
                <div class="page-header page-crumbs"></div>
            </div>
            <div class="col-6">
                <div style="font-size: .9rem">
                    <div class="form-row" style="display: flex;justify-content: flex-end;">
                        <a class="nav-link globalsearch-load-filters" href="#" title="@Localizer["Load saved filters"]" role="button"><i class="fal fa-download pr-1"></i><span>@Localizer["Load"]</span></a>
                        <a class="nav-link globalsearch-save-filters" href="#" title="@Localizer["Save search filters"]" role="button"><i class="fal fa-save pr-1"></i><span>@Localizer["Save"]</span></a>
                        <a class="nav-link globalsearch-search-clear" href="#" title="@Localizer["Clear"]" role="button"><i class="fal fa-times pr-1"></i><span>@Localizer["Clear"]</span></a>
                        <a class="nav-link globalsearch-help" role="button" href="#" title="@Localizer["Help"]" data-help-url="@Url.Action("OpenHelp")"><i class="fal fa-question-circle pr-1"></i><span>@Localizer["Help"]</span></a>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>

    <form id="globalSearchForm" method="post" asp-action="GlobalSearch" data-delete-title="@Localizer["Confirm Delete"]" data-removefilters-prompt="@Localizer["Are you sure you want to delete all filters?"]"
          data-load-title="@Localizer["Confirm Load"]" data-load-prompt="@Localizer["This will delete existing filters before loading. Continue?"]" data-help-url="@Url.Action("OpenHelp")" data-show-query="@Localizer["Show Query String"]" data-hide-query="@Localizer["Hide Query String"]">
        <div class="container-fluid" style="font-size: small">
            <div class="form-row pb-4">
                <div class="col">
                    <div>
                        <label for="SearchMode" class="gsLabel">@Localizer["Mode"]</label>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="SearchMode">
                        <label class="btn btn-outline gsLabel active">
                            <input type="radio" name="SearchModeOption" id="SearchModeOptionBasic" class="form-control" value="b" data-role="option">@Localizer["Basic"]
                        </label>
                        <label class="btn btn-outline gsLabel">
                            <input type="radio" name="SearchModeOption" id="SearchModeOptionAdvanced" class="form-control" value="a" data-role="option">@Localizer["Advanced"]
                        </label>
                    </div>

                </div>
                <div id="searchScopeContainer">
                    <div>
                        <label class="gsLabel">@Localizer["Scope"]</label>
                    </div>
                    <input type="checkbox" id="chkSearchData" name="chkSearchData" class="k-checkbox cpiGSCriteriaCheckBox" checked="checked">
                    <label class="k-checkbox-label pr-4" for="chkSearchData">@Localizer["Your Data"]</label>
                    @if (settings.IsCognitiveSearchOn)
                    {
                      <input type="checkbox" id="chkSearchDoc" name="chkSearchDoc" class="k-checkbox cpiGSCriteriaCheckBox">
                      <label class="k-checkbox-label" for="chkSearchDoc">@Localizer["Document Content"]</label>   
                    }
                </div>                
            </div>
            <div id="searchBasicContainer">
                @await Html.PartialAsync("_MidBasic")
            </div>
            <div id="searchAdvancedContainer">
                @await Html.PartialAsync("_MidAdvanced")

            </div>
            <div class="form-row">
                <div class="col-md-3 col-lg-3 col-xl-4">
                    <div class="form-group float-label">
                        <label for="ClientCode">@Localizer[clientLabel]</label>
                        @await Component.InvokeAsync("ComboBox", new { name = "ClientCode", controller = "Client", screen = "globalSearch" })
                    </div>
                </div>
                <div class="col-md-9 col-lg-9 col-xl-8">
                    <div class="form-group float-label">
                        <label for="ClientNameA">@Localizer[clientNameLabel]</label>
                        @await Component.InvokeAsync("ComboBox", new { name = "ClientName", controller = "Client", screen = "globalSearch" })
                    </div>
                </div>
            </div>

            <div class="form-row" style="font-size: small" id="searchBtnContainer">
                <div class="col pt-4" style="display: flex;justify-content: flex-end;">                    
                    <button class="btn btn-primary cpiGlobalSearchAdvanced"><span class="fal fa-search"></span> @Localizer["Search"]</button>
                    <button class="btn btn-primary cpiGlobalSearchBasic"><span class="fal fa-search"></span> @Localizer["Search"]</button>
                </div>
            </div>           
        </div>
    </form>
</div>
<div class="cpiContainerPopup"></div>

<style>
    .gsLabel {
        font-size: small;
        font-weight: bold;
    }
</style>

<script>
    $(document).ready(function () {        
        globalSearch.initializeMidPane("@Html.Raw(searchString)", @Html.Raw(Json.Serialize(defaultDataFieldList)));
    });

</script>

