@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();

    var clientLabel = settings.LabelClient;
    var clientNameLabel = settings.LabelClientName;

    var advancedNoFilterError = Localizer["Please enter at least one criteria for your data or document."];
    var advancedDataError = Localizer["There is at least one invalid field or criterion for your data. The minimum length for each criterion is: "];
    var advancedDocError = Localizer["There is at least one invalid field or criterion for your documents. The minimum length for each criterion is: "];

    var advancedSQLMissingQuote = Localizer["Mising quote in Query String."];
    var advancedSQLError = Localizer["There is at least one invalid field or criterion for your data in Query String. The minimum length for each criterion is: "];
}

<div class="form-row">
    <div class="col">
        <b>@Localizer["Advanced Search"]</b><br />
    </div>
    @*    <div>
    <a class="nav-link cpiGlobalSearchAdvanced" role="button" href="#" title="@Localizer["Search"]"><i class="fal fa-search pr-1"></i><span>@Localizer["Search"]</span></a>
    </div>*@
</div>
<div class="form-row">
    <div class="col">
        <i>@Localizer["Enter one or more criteria for specific fields. Only screens with at least one criterion will be searched."]</i>
    </div>
</div>
<div class="form-row">
    <div class="col">
        <div class="form-group float-label">
            <label for="AdvancedTerm">@Localizer["Cascade term to search fields"]</label>
            <div class="d-flex" id="advancedTermContainer">
                <input type="text" class="form-control form-control-sm" id="CascadeTerm" name="CascadeTerm" />
                <i class="btn btn-link fal fa-arrow-alt-circle-down cpiCascadeTermLink"></i>
            </div>
        </div>
    </div>
</div>
<div id="gsCriteriaGridContainer">
    <ul class="nav nav-tabs detail gsCriteriaTab nav-tabs-horizontal" id="globalSearchTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="gsDataCriteriaTab" data-toggle="tab" href="#gsDataCriteriaTabContent" role="tab" aria-controls="gsDataCriteriaTabContent">@Localizer["Your Data Criteria"]</a>
        </li>
        @if (settings.IsCognitiveSearchOn)
        {
            <li class="nav-item">
                <a class="nav-link" id="gsDocCriteriaTab" data-toggle="tab" href="#gsDocCriteriaTabContent" role="tab" aria-controls="gsDocCriteriaTabContent">@Localizer["Documents Criteria"]</a>
            </li>
        }
    </ul>

    <div class="tab-content search">
        <div class="tab-pane show active" id="gsDataCriteriaTabContent" aria-labelledby="gsDataCriteriaTab" role="tabpanel">
            @await Html.PartialAsync("_MidAdvancedData")
        </div>
        @if (settings.IsCognitiveSearchOn)
        {
            <div class="tab-pane show" id="gsDocCriteriaTabContent" aria-labelledby="gsDocCriteriaTab" role="tabpanel">
                @await Html.PartialAsync("_MidAdvancedDoc")
            </div>
        }
    </div>

</div>


<script id="gridToolbarTemplate" type="text/x-kendo-template">
    <div class="leftButtonsContainer">
        <a role='button' class='k-button k-button-icontext k-grid-add grid-action' href='\\#'><span class='k-icon fal fa-plus'></span>@Localizer["Add"]</a>
    </div>
    <div class="toolbar">
        <a role='button' class='k-button k-button-icontext k-grid-ClearCriteria' href='\\#'><span class='k-icon fal fa-eraser'></span>@Localizer["Clear All Search Terms"]</a>
        <a role='button' class='k-button k-button-icontext k-grid-RemoveFilter' href='\\#'><span class='k-icon fal fa-trash'></span>@Localizer["Delete All Criteria"]</a>
        <a role='button' class='k-button k-button-icontext k-grid-LoadAll' href='\\#'><span class='k-icon fal fa-sync'></span>@Localizer["Load All Searchables"]</a>
    @*<a role='button' class='k-button k-button-icontext k-grid-LoadDefault' href='\\#'><span class='k-icon fal fa-sync'></span>Load Default</a>*@

        <a role='button' class='k-button k-button-icontext k-grid-ShowQuery' href='\\#'><span class='k-icon fal fa-file-alt'></span>@Localizer["Show Query String"]</a>
        <a role='button' class='k-button k-button-icontext k-grid-RefreshQuery' href='\\#'><span class='k-icon fal fa-undo-alt'></span>@Localizer["Refresh Query String"]</a>
    </div>
</script>

<style>
    .gsCriteriaTab {
        /*background-color: silver;*/
    }

    .leftButtonsContainer {
        display: inline-block;
    }

    .k-grid .toolbar {
        /*float: right;*/
    }

    #gridDataFilter .k-grid-content, #gridDocFilter .k-grid-content {
        height: 300px;
        min-height: 100px;
        max-height: 300px;
    }

    #gridDataFilter, #gridDocFilter {
        margin-top: -5px;
        border-left: 1px solid var(--control-border);
        border-right: 1px solid var(--control-border);
        border-bottom: 1px solid var(--control-border);
        font-size: .8rem;
        text-align: left;
        outline: 0;
    }

</style>



<script>
    $(document).ready(function () {
        globalSearch.initializeAdvancedSearch({
            advancedNoFilterError: "@advancedNoFilterError",
            advancedDataError: "@advancedDataError",
            advancedDocError: "@advancedDocError",
            advancedSQLMissingQuote: "@advancedSQLMissingQuote",
            advancedSQLError: "@advancedSQLError"
        });
    });

</script>

