@model WebLinksGridOptions
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var param = $"{{id: {Model.ParentId}, module: '{Model.Module}', subModule: '{Model.SubModule}', subSystem: '{Model.SubSystem}', displayChoice: 2}}";
    var url = Url.Action("Navigate", "WebLinks", new {Area="Shared", mainId = "#: MainId#",id=Model.ParentId, module=Model.Module, subModule=Model.SubModule, subSystem=Model.SubSystem });
    var detailsLinkTemplate = $"<a href='{url}' target='_blank' class='details-link' data-id='#: MainId#'>#: MainCode#</a>";
    //var optionsName = $"{Model.Module}_webLinksDisplayOption";
    //var gridName = $"{Model.Module}_webLinksGrid";

    var optionsName = $"webLinksDisplayOption_{ViewData["PageId"]}";
    var gridName = $"webLinksGrid_{ViewData["PageId"]}";
}
@*<div class="text-md-center">
    <div class="form-check form-check-inline @optionsName">
        <label class="pr-3">@Localizer["Display"]</label>
        <input class="form-check-input" type="radio" name="webLinksDisplayOption" value="@((int) WebLinksDisplayOption.RecordLink)">
        <label class="form-check-label pr-2">@Localizer["Record Links"]</label>
        &nbsp;
        <input class="form-check-input" type="radio" name="webLinksDisplayOption" value="@((int) WebLinksDisplayOption.Search)">
        <label class="form-check-label pr-2">@Localizer["Main/Search Pages"]</label>
    </div>
</div>*@

<div class="weblinks" data-init="1">
    <div class="grid-options">
        <div class="display-type d-flex">
            <label class="mr-2">@Localizer["Display"]</label>
            @(Html.Kendo().DropDownList().AutoWidth(true)
                .Name(optionsName)
                .DataTextField("Text")
                .DataValueField("Value")
                .BindTo(
                    new List<SelectListItem>()
                    {
                    new SelectListItem() {Text = Localizer["Record Links"].ToString(), Value = ((int) WebLinksDisplayOption.RecordLink).ToString()},
                    new SelectListItem() {Text = Localizer["Main/Search Pages"].ToString(), Value = ((int) WebLinksDisplayOption.Search).ToString()}
                    }
                )
                .HtmlAttributes(new { @class = "weblinks-option" })
                .Events(e=> e.Change("pageHelper.setWebLinksOption"))
            )
        </div>
    </div>
    @(Html.Kendo().Grid<WebLinksDTO>().Name(gridName)
            .Columns(columns =>
            {
                columns.Bound(w => w.MainCode).ClientTemplate(detailsLinkTemplate).Width(300);
                columns.Bound(w => w.Description);
            })
        .Pageable(page => page.Responsive(false))
            .Sortable(sort => sort.AllowUnsort(false))
            .AutoBind(false)
            .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .PageSize(settings.SubFormPageSize)
                .ServerOperation(false)
                .Read(create => create.Action("Search", "WebLinks", new {Area = "Shared"}).Data($"function(e){{ return pageHelper.getWebLinksOption(e, '{optionsName}', {Html.Raw(param)}); }}"))
                .Events(events =>
                {
                    events.Error("pageHelper.onGridError");
                })
            )
            .HtmlAttributes(new { @class = "webLinksGrid kendo-Grid" })
            .Events(e=> e.DataBinding("pageHelper.setWebLinksDefaultOption"))
            )
</div>
@*<script>
    $(document).ready(function () {
        var container = $('.@optionsName');
        if (container.length > 0) {
            container.data("init", 1);
            container.find('input[name="webLinksDisplayOption"]').change(function () {
                container.data("init", 0);

                var displayChoice = $(this).val();
                var grid = $("#@gridName").data("kendoGrid");
                var param = $.extend(@(Html.Raw(param)), { displayChoice: displayChoice });

                grid.dataSource.read(param);
                grid.refresh();
            });
        }
    });
   
</script>*@