@using Microsoft.AspNetCore.Builder
@using Microsoft.Extensions.Options
@inject IOptions<RequestLocalizationOptions> LocOptions
@model QuickEmailSetupDetailViewModel
@inject IStringLocalizer<QuickEmailResource> Localizer
@{
    var id = Model.QESetupID;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    bool isReadOnlyRemarks = !(fullModify || detailPagePermission.CanEditRemarksOnly);
    var saveAction = detailPagePermission.CanEditRemarksOnly ? "SaveRemarks" : "Save";

    var childViewModel = new ChildQuickEmailSetupViewModel { SystemType = Model.SystemType, Permission = detailPagePermission, ParentViewModel = Model };
    var cultureItems = LocOptions.Value.SupportedUICultures.OrderBy(c => c.DisplayName).Select(c => new SelectListItem { Value = c.DisplayName, Text = c.DisplayName }).ToList();

    var isCpiAdmin = User.IsSuper();
}
<form cpi-detail-form action="@saveAction">
    <input type="hidden" asp-for="QESetupID" />
    <input type="hidden" asp-for="OldQESetupID" />
    <input type="hidden" asp-for="CopyRecipients" class="boolean" />
    <input type="hidden" asp-for="SystemType" />

    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content  detail cpiMainEntry">
        <div class="form-row">
            @if (!isCpiAdmin && Model.CPITemplate)
            {
                <div class="col-12">
                    <span class="dymo-alert">@Localizer["CPI Template"]</span>
                </div>
            }
            <div class="col-sm-6 col-md-3">
                <div class="form-group float-label">
                    <label asp-for="ScreenId"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="ScreenName" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new
                            {
                                name = "ScreenId",
                                textProperty = "ScreenName",
                                valueProperty = "ScreenId",
                                action = "GetScreensListBySystem",
                                data = $"{{systemType: '{@Model.SystemType}'}}",
                                required = true,
                                defaultValue = Model.ScreenId > 0 ? Model.ScreenId.ToString() : "",
                                defaultText = Model.ScreenName,
                                limitToList = true,
                                validationMessage = Localizer["Screen name is required."].ToString()
                            })
                        <span asp-validation-for="ScreenId"></span>
                    }
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="form-group float-label">
                    <label asp-for="TemplateName"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="TemplateName" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="TemplateName"></span>
                </div>
            </div>

            <div class="col-sm-6 col-md-2">
                <div class="form-group float-label">
                    <label asp-for="DataSourceID"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="DataSourceName" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new
                            {
                                name = "DataSourceID",
                                textProperty = "DataSourceName",
                                valueProperty = "DataSourceID",
                                action = "GetDataSourceListBySystem",
                                //data = $"{{systemType: '{@Model.SystemType}',screenName: }}",
                                data = $"function() {{return quickEmailSetup.getDataSourceParam('{Model.SystemType}')}}",
                                showLinkButton = false,
                                required = true,
                                defaultValue = Model.DataSourceID > 0 ? Model.DataSourceID.ToString() : "",
                                defaultText = Model.DataSourceName,
                                validationMessage = Localizer["Data Source name is required."].ToString()
                            })
                        <span asp-validation-for="DataSourceID"></span>
                    }
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="form-group float-label">
                    <label asp-for="QECatId"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" id="QECat" class="form-control form-control-sm" asp-for="QECat" asp-is-readonly="true" />
                        <input type="hidden" asp-for="QECatId" />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new
                            {
                                name = "QECatId",
                                action = "GetQECategoryList",
                                controller = "QuickEmailCategory",
                                area = "Shared",
                                defaultValue = Model.QECatId == 0 ? "" : Model.QECatId.ToString(),
                                defaultText = Model.QECat == null ? "" : Model.QECat.ToString(),
                                textProperty = "QECat",
                                valueProperty = "QECatId",
                            })
                    }
                    <span asp-validation-for="QECatId"></span>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="form-group float-label">
                    <label asp-for="Language"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="LanguageName" readonly />
                    }
                    else
                    {
                        @(Html.Kendo().DropDownList()
                            .Name("Language")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .BindTo(cultureItems)
                            .Value(Model.Language)
                            )
                        <span asp-validation-for="Language"></span>
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1">
                <div class="form-group float-label">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="IsDefault" asp-is-readonly="@isReadOnly" class="custom-control-input">
                        <label asp-for="IsDefault" class="custom-control-label"></label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1">
                <div class="form-group float-label">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" asp-for="InUse" asp-is-readonly="@isReadOnly" class="custom-control-input">
                        <label asp-for="InUse" class="custom-control-label"></label>
                    </div>
                </div>
            </div>
            @if (isCpiAdmin)
            {
                <div class="col-sm-6 col-md-3 col-lg-2 col-xl-1">
                    <div class="form-group float-label">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="CPITemplate" asp-is-readonly="@isReadOnly" class="custom-control-input">
                            <label asp-for="CPITemplate" class="custom-control-label"></label>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" id="qeSetup-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="qeSetupLayoutTab" data-toggle="tab" role="tab" aria-controls="countryLawDetailLawActionsContent" aria-selected="true" href="#qeSetupLayoutTabContent">
                @Localizer["Layout"]
            </a>
        </li>

        @if (!addMode)
        {
            <li class="nav-item">
                <a class="nav-link" id="qeSetupRecipientTab" data-toggle="tab" role="tab" aria-controls="qeSetupRecipientTabContent" aria-selected="false" href="#qeSetupRecipientTabContent">
                    @Localizer["Recipient"]
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="qeTagTab" data-toggle="tab" role="tab" aria-controls="qeTagTabContent" aria-selected="false" href="#qeTagTabContent">@Localizer["Tags"]</a>
            </li>
        }
        @if (!detailPagePermission.HasLimitedRead)
        {
            <li class="nav-item">
                <a class="nav-link @(string.IsNullOrEmpty(Model.Remarks) ? null : "has-remarks")" id="qeSetupRemarksTab" data-toggle="tab" role="tab" aria-controls="qeSetupRemarksTabbContent" aria-selected="false" href="#qeSetupRemarksTabContent">@Localizer["Remarks"]</a>
            </li>
        }
    </ul>


    <div class="tab-content">
        <div class="tab-pane page-content show active pt-0" id="qeSetupLayoutTabContent" role="tabpanel" aria-labelledby="countryLawDetailLawActions">
            @await Html.PartialAsync("_QESetupBody.cshtml", childViewModel)
        </div>
        @if (!addMode)
        {
            if (Model.eSignature.HasValue && (bool)Model.eSignature)
            {
                <div class="tab-pane page-content pt-0" id="qeSetupRecipientTabContent" role="tabpanel" aria-labelledby="qeSetupRecipientTab">
                    @await Html.PartialAsync("_QESetupRecipient_eSig.cshtml", childViewModel)
                </div>
            }
            else
            {
                <div class="tab-pane page-content pt-0" id="qeSetupRecipientTabContent" role="tabpanel" aria-labelledby="qeSetupRecipientTab">
                    @await Html.PartialAsync("_QESetupRecipient.cshtml", childViewModel)
                </div>
            }
            <div class="tab-pane" id="qeTagTabContent" role="tabpanel" aria-labelledby="qeTagTab">
                @await Html.PartialAsync("_GridQETag.cshtml", id)
            </div>
        }
        @if (!detailPagePermission.HasLimitedRead)
        {
            <div class="tab-pane page-content pt-0 cpiMainEntry" id="qeSetupRemarksTabContent" role="tabpanel" aria-labelledby="qeSetupRemarksTab">
                <div class="form-row">
                    <div class="col">
                        <textarea class="form-control form-control-sm" rows="12" asp-for="Remarks" asp-is-readonly="@isReadOnlyRemarks"></textarea>
                    </div>
                </div>
            </div>
        }
    </div>
    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
        </div>
    }



</form>
<div class="cpiContainerPopup"></div>
<script>
    quickEmailSetup.initialize(@id);
</script>