
@using System.Net
@model ChildQuickEmailSetupViewModel

@inject IStringLocalizer<QuickEmailResource> Localizer
@{
    var id = Model.Id;
    var addMode = id == 0;
    var permission = Model.Permission;
    var parentModel = Model.ParentViewModel;
    var getFilter = "quickEmailSetup.getDataFieldFilter";

    var isReadOnly = !permission.CanEditRecord || permission.CanEditRemarksOnly;

    var detail = WebUtility.HtmlDecode(parentModel.Detail);
    var header = WebUtility.HtmlDecode(parentModel.Header);
    var footer = WebUtility.HtmlDecode(parentModel.Footer);
    var dataFieldsLabel = @Localizer["Data Fields"].Value;

}


<div id="subjectContainer" class="row">
    <div class="col-md-10 cpiMainEntry">
        <div class="form-group float-label">
            <label asp-for="ParentViewModel.Subject"></label>
            <input type="text" class="form-control form-control-sm" id="Subject" name="Subject" asp-for="ParentViewModel.Subject" asp-is-readonly="@isReadOnly" />
        </div>
    </div>
    <div class="col-md-2">
        @if (!isReadOnly)
        {
            <div class="form-group float-label">
                <label>@dataFieldsLabel</label>

                @(Html.Kendo().ComboBox()
                                                      .Name("subjectDataFields")
                                                      .Placeholder(dataFieldsLabel)
                                                      .DataTextField("Name")
                                                      .DataValueField("Name")
                                                      .Events(events => events.Change("quickEmailSetup.onChange_SubjectDataFields"))
                                                      .HtmlAttributes(new { style = "width: 100%" })
                                                      .AutoBind(false)
                                                      .DataSource(source =>
                                                      {
                                                          source.Read(read =>
                                                          {
                                                              read.Action("GetDataFieldsList","QuickEmailSetup").Data(@getFilter);
                                                          });
                                                      })
                )
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col">
        <h5>@Localizer["Body"]</h5>
    </div>
</div>
<div class="row">
    <div class="col-12 body-nav">
            <ul class="nav body-nav-options" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active py-1 ml-1" id="detailTab" data-toggle="tab" href="#detailTabContent" role="tab" aria-controls="detailTabContent" aria-selected="true">@Localizer["Detail Section"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-1 ml-0" id="headerTab" data-toggle="tab" href="#headerTabContent" role="tab" aria-controls="headerTabContent" aria-selected="false">
                        @Localizer["Detail Header"]
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-1 ml-0" id="footerTab" data-toggle="tab" href="#footerTabContent" role="tab" aria-controls="footerTabContent" aria-selected="false">@Localizer["Detail Footer"]</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active parent-tab" id="detailTabContent" role="tabpanel" aria-labelledby="detailTab">
                    @if (isReadOnly)
                    {
                        <div>@Html.Raw(detail)</div>
                    }
                    else
                    {
                        <fieldset class="cpiMainEntry">
                            <p class="float-center mb-2 mt-2" style="font-size:.8rem"><i class="fal fa-exclamation-circle pr-2"></i>@Localizer["Enter text and data fields in this section. Data fields are replaced with actual data during Quick Email generation."]</p>
                            @(Html.Kendo().Editor()
                                    .Name("Detail")
                                    .Value(detail)
                                    .HtmlAttributes(new {style = "height:440px", aria_label = "editor" })
                                    .Resizable(resizable => resizable.Content(true).Toolbar(true))
                                    .Events(events => events
                            .Change($"{ViewBag.ActivePage}.editorModified")
                                        .Execute($"{ViewBag.ActivePage}.markDirty")
                                        .Paste($"{ViewBag.ActivePage}.markDirty")
                                        )
                                    .Tools(tools => tools.Clear()
                                        .CustomTemplate(x => x.Template(
                                            Html.Kendo().ComboBox()
                                            .Name("detailDataFields")
                                            .AutoWidth(true)
                                            .Placeholder(dataFieldsLabel)
                                            .DataTextField("Name")
                                            .DataValueField("Name")
                                            .AutoBind(false)                                            
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetDataFieldsList", "QuickEmailSetup").Data(@getFilter);
                                                });
                                            })
                                            .Events(events => events.Change("quickEmailSetup.onChange_DetailDataFields"))
                                            .ToClientTemplate()
                                                .ToString()
                                            ))
                                        .Bold().Italic().Underline().Strikethrough()
                                        .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull().InsertUnorderedList().InsertOrderedList()
                                        .Outdent().Indent().CreateLink().Unlink().InsertImage().InsertFile()
                                        .TableEditing().ViewHtml().Formatting()
                                        .CleanFormatting().FontName().FontSize().ForeColor().BackColor().Print()
                          )
                        )
                        </fieldset>
                    }
                </div>
                <div class="tab-pane cpi-tab" id="headerTabContent" role="tabpanel" aria-labelledby="headerTab">
                    @if (isReadOnly)
                    {
                        <div>@Html.Raw(header)</div>
                    }
                    else
                    {
                        <fieldset class="cpiMainEntry">
                            <p class="float-center mb-2 mt-2" style="font-size:.8rem">
                                <i class="fal fa-exclamation-circle pr-2"></i>@Localizer["Enter any text that you want to appear before the detail section. Do not enter any data fields."]
                            </p>
                            @(Html.Kendo().Editor()
                                    .Name("Header")
                                    .Value(header)
                                    .HtmlAttributes(new { style = "height:200px", aria_label = "editor" })
                                    .Resizable(resizable => resizable.Content(true).Toolbar(true))
                                    .Events(events => events
                            .Change($"{ViewBag.ActivePage}.editorModified")
                                        .Execute($"{ViewBag.ActivePage}.markDirty")
                                        .Paste($"{ViewBag.ActivePage}.markDirty")
                                        )
                                    .Tools(tools => tools.Clear().Bold().Italic().Underline().Strikethrough()
                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull().InsertUnorderedList().InsertOrderedList()
                                    .Outdent().Indent().CreateLink().Unlink().InsertImage().InsertFile()
                                    .TableEditing().ViewHtml().Formatting()
                                    .CleanFormatting().FontName().FontSize().ForeColor().BackColor().Print()
                                    )
                        )
                        </fieldset>
                    }
                </div>
                <div class="tab-pane cpi-tab" id="footerTabContent" role="tabpanel" aria-labelledby="footerTab">
                    @if (isReadOnly)
                    {
                        <div>@Html.Raw(footer)</div>
                    }
                    else
                    {
                        <fieldset class="cpiMainEntry">
                            <p class="float-center mb-2 mt-2" style="font-size:.8rem">
                                <i class="fal fa-exclamation-circle pr-2"></i>@Localizer["Enter any text that you want to appear after the detail section. Do not enter any data fields."]
                            </p>
                            @(Html.Kendo().Editor()
                                    .Name("Footer")
                                    .Value(footer)
                                    .HtmlAttributes(new { style = "height:200px", aria_label = "editor" })
                                    .Resizable(resizable => resizable.Content(true).Toolbar(true))
                                    .Events(events => events
                            .Change($"{ViewBag.ActivePage}.editorModified")
                                        .Execute($"{ViewBag.ActivePage}.markDirty")
                                        .Paste($"{ViewBag.ActivePage}.markDirty")
                                        )
                                    .Tools(tools => tools.Clear().Bold().Italic().Underline().Strikethrough()
                                    .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull().InsertUnorderedList().InsertOrderedList()
                                    .Outdent().Indent().CreateLink().Unlink().InsertImage().InsertFile()
                                    .TableEditing().ViewHtml().Formatting()
                                    .CleanFormatting().FontName().FontSize().ForeColor().BackColor().Print()
                                    )
                        )
                        </fieldset>
                    }
                </div>
            </div>
    </div>
</div>

<style>
    .body-nav .body-nav-options {
        background-color: var(--tab-child-horizontal-background);
        font-size: .9rem;
    }

        .body-nav .body-nav-options .nav-link {
            color: #000;
            margin-top: 2px;
             border-right: 1px solid #fff;
        }

            .body-nav .body-nav-options .nav-link.active {
                /*color: #5e5656;*/
                color: var(--text-body);
                background-color: var(--bg-main);
                margin-top: 3px;
                margin-left: 8px;
            }

                .body-nav .body-nav-options .nav-link.active:hover {
                    /*color: #5e5656;*/
                    color: var(--text-body);
                }

            .body-nav .body-nav-options .nav-link:hover {
                color: var(--text-body);
            }

        .body-nav .tab-content {
            border: 1px solid var(--separator) !important;
            border-top: none !important;
        }
</style>



