@model QuickEmailCopyViewModel
@inject IStringLocalizer<QuickEmailResource> Localizer

<div id="copyQuickEmailDialog" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="copyQuickEmailDialogTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="copyQuickEmailForm" method="post" asp-action="EditCopied">
                <input type="hidden" name="QESetupID" asp-for="QESetupID" />
                <div class="modal-header">
                    <h5 class="modal-title" id="editRatingDialogLabel">@Localizer["Copy Quick Email"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <label>@Localizer["New Template Name:"]</label>
                            <input type="text" name="TemplateName" class="form-control form-control-sm" asp-for="TemplateName" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>@Localizer["Data to copy:"]</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="checkbox" name="CopyMainInfo" asp-for="CopyMainInfo" checked disabled>
                            <label>@Localizer["Main Info"]</label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" name="CopyRecipients" asp-for="CopyRecipients">
                            <label>@Localizer["Recipients"]</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="checkbox" name="CopyLayout" asp-for="CopyLayout">
                            <label>@Localizer["Layout"]</label>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" name="CopyRemarks" asp-for="CopyRemarks">
                            <label>@Localizer["Remarks"]</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="cancel" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Cancel"]</button>
                    <button id="ok" type="submit" class="btn btn-primary float-right"><i class="fa fa-check pr-2"></i>@Localizer["Copy"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        quickEmailSetup.showCopyScreen();
    });
</script>
