@using  R10.Web.Areas
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@model ReportPartialLookUpViewModel

@{
    var settings = await Settings.GetSetting();

    var countryLabel = "Country";
    var countryNameLabel = "Country Name";
}

<div class="form-group float-label col-3">
    <label>@Localizer["Countries"]</label>
    @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
        {
            Controller = Model.Controller,
            Area = Model.Area,
            Action = "GetCountryList",
            Name = "Countries_Options",
            DataTextProperty = "Country",
            DataValueProperty = "Country",
            ListWidth = 500,
            HeaderTemplate = ComboBoxHelper.GetHeaderTemplate(@Localizer[countryLabel], @Localizer[countryNameLabel]),
            ItemTemplate = ComboBoxHelper.GetItemTemplate("Country", "CountryName"),
        })

</div>
<div class="form-group float-label col-xl-6 col-lg-5 col-4 CountryNameMultiSelectClass" hidden>
    <label>@Localizer["Country Names"]</label>
    @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
   {
       Controller = Model.Controller,
       Area = Model.Area,
       Action = "GetCountryList",
       Name = "CountryNames_Options",
       DataTextProperty = "CountryName",
   })

</div>
<div class="form-group float-label col-xl-6 col-lg-5 col-4 CountryNameComboBoxClass">
    <label>@Localizer["Country Name"]</label>
    @await Component.InvokeAsync("ComboBox", new { name = "CountryName", controller = Model.Controller, action = "GetCountryList", area = Model.Area })
</div>
@await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "CountryNameMultiSelectClass", SingleClass = "CountryNameComboBoxClass" })