@model SoftDocketViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var caseNumberLabel = settings.IsClientMatterOn ? Localizer[settings.LabelClientMatter ?? "Client Matter"] : Localizer[settings.LabelCaseNumber ?? "Case Number"];
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
    var caseTypeLabel = Localizer["Case Type"];
    var attorneyLabel = Localizer["Responsible Attorney"];
    var attorneyNameLabel = Localizer["Attorney Name"];
    var dialogTitle = Localizer["Add Soft Docket"];
}

<div class="modal fade" id="softDocketDialog" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form method="post" asp-action="SaveSoftDocket" asp-controller="@Model.Controller" asp-area="@Model.Area">
                <input type="hidden" asp-for="ParentId" />
                <input type="hidden" asp-for="SystemType" />
                <div class="modal-header py-1">
                    <h4 class="modal-title">@dialogTitle</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pt-0 mainSearchDialog">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="form-row">
                                    <div class="@(Model.HasCountry ? "col-3" : "col-6")">
                                        <div class="form-group float-label">
                                            <label for="CaseNumber">@caseNumberLabel</label>
                                            <input type="text" class="form-control form-control-sm" asp-for="CaseNumber" asp-can-be-posted="true" asp-is-readonly="true" />
                                        </div>
                                    </div>

                                    @if (Model.HasCountry)
                                    {
                                        <div class="col-3">
                                            <div class="form-group float-label">
                                                <label asp-for="Country">@countryLabel</label>
                                                <div class="d-flex">
                                                    <input type="text" class="form-control form-control-sm" asp-for="Country" asp-can-be-posted="true" asp-is-readonly="true" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (Model.HasSubCase)
                                    {
                                        <div class="col-3">
                                            <div class="form-group float-label">
                                                <label asp-for="SubCase">@Localizer["Sub Case"]</label>
                                                <input type="text" class="form-control form-control-sm" asp-for="SubCase" asp-can-be-posted="true" asp-is-readonly="true" />
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div class="form-row">
                                    <div class="@(Model.HasCaseType ? "col-6" : "col-9")">
                                        <div class="form-group float-label">
                                            <label asp-for="Title">@Localizer["Title"]</label>
                                            <input type="text" class="form-control form-control-sm" asp-for="Title" asp-is-readonly="true" />
                                        </div>
                                    </div>
                                    @if (Model.HasCaseType)
                                    {
                                        <div class="col-3">
                                            <div class="form-group float-label">
                                                <label asp-for="CaseType">@caseTypeLabel</label>
                                                <input type="text" class="form-control form-control-sm" asp-for="CaseType" asp-is-readonly="true" />
                                            </div>
                                        </div>
                                    }
                                    @if (Model.HasStatus)
                                    {
                                        <div class="col-3">
                                            <div class="form-group float-label">
                                                <label asp-for="Status">@Localizer["Status"]</label>
                                                <input type="text" class="form-control form-control-sm" asp-for="Status" asp-is-readonly="true" />
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div class="form-row">
                                    <div class="col-6">
                                        <div class="form-group float-label">
                                            <label asp-for="ActionType">@Localizer["Description"]</label>
                                            <input type="text" class="form-control form-control-sm" asp-for="ActionType" maxlength="60" />
                                            <span asp-validation-for="ActionType"></span>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group float-label">
                                            <label asp-for="DueDate"></label>
                                            @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DueDate") { Value = null, ValidationMessage = Localizer["The Due Date field is required."].Value })
                                            <span asp-validation-for="DueDate"></span>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group float-label">
                                            <label asp-for="ResponsibleId">@Localizer["Responsible Attorney"]</label>
                                            @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyID("ResponsibleId", attorneyLabel, attorneyNameLabel, "SoftDocket", "Shared", "", Model.ResponsibleId, Model.Responsible))
                                            <span asp-validation-for="ResponsibleId"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group float-label">
                                            <label asp-for="Remarks">@Localizer["Remarks"]</label>
                                            <textarea rows="4" class="form-control form-control-sm" asp-for="Remarks"></textarea>
                                            <span asp-validation-for="Remarks"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-settings">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Cancel"]</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-check pr-2"></i>@Localizer["Save"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
