@using R10.Core.Entities.ReportScheduler
@model ChildViewModel
@inject IStringLocalizer<SharedResource> Localizer
@{
    var pageId = ViewData["PageId"];
}
<div data-url-add="@Url.Action("AddCustomReport", "CustomReport")">
    @(Html.Kendo().Grid<CustomReportViewModel>()
                        .Name("customReportGrid")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.ReportName)
                            .HtmlAttributes(new { @class = "name-field" });
                            columns.Bound(p => p.Remarks)
                            .HtmlAttributes(new { @class = "name-field" });
                            columns.Bound(p => p.CreatedBy)
                            .HtmlAttributes(new { @class = "name-field" });
                            columns.Bound(p => p.UpdatedBy)
                            .HtmlAttributes(new { @class = "name-field" });
                            columns.Bound(p => p.LastUpdate).Format("{0:dd-MMM-yyyy}")
                            .HtmlAttributes(new { @class = "name-field" });
                            if (Model.Permission.CanAddRecord)
                            {
                                columns.Command(command =>
                                {
                                    command.Custom("Edit").Text("Edit").Click("function(e) {updateCustomReport(e,this)}").IconClass("k-icon fal fa-edit");
                                }).Width(10);

                                columns.Command(command =>
                            {
                                command.Custom("Download").Text("Download").Click("function(e) {downloadCustomReport(e,this)}").IconClass("k-icon fal fa-download");
                            }).Width(10);
                            }
                            if (Model.Permission.CanDeleteRecord)
                            {
                                columns.Command(command =>
                                {
                                    command.Custom("Delete").Text("Delete").Click("function(e) {deleteCustomReport(e,this)}").IconClass("k-icon fal fa-trash");
                                }).Width(10);
                            }
                        })
                        .Editable(editable => editable.Enabled(Model.Permission.CanDeleteRecord)
                                                .Mode(GridEditMode.InCell).
                                                ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
                        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                        .ToolBar(toolbar =>
                        {
                            if (Model.Permission.CanAddRecord)
                            {
                                toolbar.Custom().Name("AddCustomReport").IconClass("k-icon fal fa-plus").Text(Localizer["Add"]);
                            }
                        })
                        .Pageable()
                        .Sortable(sort => sort.AllowUnsort(false))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Batch(true)
                            .PageSize(10)
                            .Model(model =>
                            {
                                model.Field(s => s.ReportName).Editable(false);
                                model.Field(s => s.Remarks).Editable(false);
                                model.Field(s => s.CreatedBy).Editable(false);
                                model.Field(s => s.UpdatedBy).Editable(false);
                                model.Field(s => s.LastUpdate).Editable(false);
                                model.Field(s => s.IsEditable).Editable(false);
                            })
                            .Read(read => read.Action("GetCustomReportList", "CustomReport", new { Area = "Shared"}))
                            .Events(events =>
                            {
                                events.Error("pageHelper.onGridError");
                            })
                        )
                        .HtmlAttributes(new { @class = "k-grid-border" }).Events(events => events.DataBound("onDataBound"))
)
</div>
<script>
    function downloadCustomReport(e, grid) {
        const dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
        e.preventDefault();
        var data = { ReportName: dataItem.ReportName };
        fetch("@Url.Action("DownloadCustomReport","CustomReport", new { Area = "Shared"})",
            {
                method: "POST",
                headers: {
                    Accept: "arraybuffer",
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
                }
        ).then(response => {
            if (!response.ok)
                throw response;

            return response.blob();
        })
            .then(data => {
                cpiLoadingSpinner.hide();
                const a = document.createElement("a");
                document.body.appendChild(a);
                const blobUrl = window.URL.createObjectURL(data);
                a.href = blobUrl;
                a.download = dataItem.ReportName + ".rdl";
                a.click();
                setTimeout(() => {
                    window.URL.revokeObjectURL(blobUrl);
                    document.body.removeChild(a);
                }, 0);
            })
            .catch(error => {
                cpiLoadingSpinner.hide();
                if (error.status >= 500)
                    pageHelper.showErrors("Unhandled error.");
                else
                    error.text().then(errorMessage => {
                        pageHelper.showErrors(errorMessage);
                    })
            });
    }

    function deleteCustomReport(e, grid) {
        const dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
        e.preventDefault();
        var data = { ReportName: dataItem.ReportName };
        const form = $(e.currentTarget).closest("form");

        const deletePrompt = grid.options.editable.confirmDelete;
        const title = form.data("delete-title");

        cpiConfirm.delete(title, deletePrompt, function () {
            cpiLoadingSpinner.show();

            $.ajax({
            url: "@Url.Action("DeleteCustomReport","CustomReport", new { Area = "Shared"})",
            data: data,
            type: "POST",
            success: function (result) {
                cpiLoadingSpinner.hide();
                pageHelper.showSuccess(result);

                grid.dataSource.read();
            },
            error: function (e) {
                cpiLoadingSpinner.hide();
                pageHelper.showErrors(e);
            }
        });
        });
    }

    function updateCustomReport(e, grid) {
        const dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
        e.preventDefault();
        var data = { ReportName: dataItem.ReportName };
        const form = $(e.currentTarget).closest("form");

        $.ajax({
            url: "@Url.Action("UpdateCustomReport","CustomReport", new { Area = "Shared"})",
            data: data,
            type: "POST",
            success: function (result) {
                const popupContainer = $(".cpiContainerPopup").last();
                popupContainer.html(result);
                const dialogContainer = $("#customReportUploadDialog");

                let entryForm = dialogContainer.find("form")[0];
                dialogContainer.modal("show");
                entryForm = $(entryForm);
                entryForm.cpiPopupEntryForm(
                    {
                        dialogContainer: dialogContainer,
                        closeOnSubmit: true,
                        beforeSubmit: function () {
                            cpiLoadingSpinner.show();
                        },
                        afterSubmit: function () {
                            //combo box datasource
                            grid.dataSource.read();
                            dialogContainer.modal("hide");
                            cpiLoadingSpinner.hide();
                        }
                    }
                );
            },
            error: function (error) {
                cpiLoadingSpinner.hide();
                pageHelper.showErrors(error.Name);
            }
        });
    }

    function onDataBound() {
        document.querySelectorAll('.k-grid-Edit').forEach(element => {
            var currentDataItem = $("#customReportGrid").data("kendoGrid").dataItem($(element).closest("tr"));
            if (!currentDataItem.IsEditable) {
                $(element).remove();
            }
        });
        document.querySelectorAll('.k-grid-Delete').forEach(element => {
            var currentDataItem = $("#customReportGrid").data("kendoGrid").dataItem($(element).closest("tr"));
            if (!currentDataItem.IsEditable) {
                $(element).remove();
            }
        });
    }
</script>