@using  R10.Web.Areas
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@inject ISystemSettings<PatSetting> PatSettings
@inject IAuthorizationService AuthService
@model DueDateListReportViewModel
@{
    var title = Localizer["Due Date List Report"].ToString();
    ViewData["Title"] = title;
    ViewData["ActivePage"] = "ReportCriteriaPage";

    var screen = "dueDateList";
    ViewBag.PageId = "DueDateList";
    var isRespOfficeOn = User.IsRespOfficeOn(SystemType.Patent) || User.IsRespOfficeOn(SystemType.Trademark) || User.IsRespOfficeOn(SystemType.GeneralMatter) || User.IsRespOfficeOn(SystemType.AMS);
    var settings = await Settings.GetSetting();
    var patSettings = await PatSettings.GetSetting();
    var isProductsOn = settings.IsProductsOn || patSettings.IsInventionProductOn;

    var deDocketOn = settings.IsDeDocketOn;
    var isInIDSPermissionOnly = !(User.IsInSystem(SystemType.Patent) || User.IsInSystem(SystemType.Trademark) || User.IsInSystem(SystemType.GeneralMatter) || User.IsInRoles(SystemType.AMS, CPiPermissions.RegularUser));
    var isDMSActionOn = false;
    var isReportSchedulerOn = settings.IsReportSchedulerON;
    var isDelegationOn = settings.IsDelegationOn;
    var isShowCustomFieldOn = settings.IsShowCustomFieldOn;
    var isSoftDocketOn = settings.IsSoftDocketOn;
    var isCorporation = settings.IsCorporation;
    var caseNumberLabel = settings.LabelCaseNumber;
    var ownerLabel = settings.LabelOwner;
    var ownerNameLabel = settings.LabelOwnerName;
    var clientLabel = settings.LabelClient;
    var clientNameLabel = settings.LabelClientName;
    var clientRefLabel = settings.LabelClientRef;
    var agentLabel = settings.LabelAgent;
    var agentNameLabel = settings.LabelAgentName;
    var agentRefLabel = settings.LabelAgentRef;
    var disclosureNumberRefLabel = settings.LabelDisclosureNumber;
    var keywordLabel = settings.LabelKeyword;
    var attorneyLabel = "Attorney";
    var attorneyNameLabel = "Attorney Name";

    var enableComboPaging = settings.EnableComboBoxPaging;
    var comboPagingSize = settings.ComboBoxPagingSize;

    var actionTypeDataSourceUrl = Url.Action("GetActionTypeList", "DueDateLookUp", new { area = "Shared", property = "ActionType" });
    var actionDueDataSourceUrl = Url.Action("GetActionDueList", "DueDateLookUp", new { area = "Shared", property = "ActionDue" });
    var keywordDataSourceUrl = Url.Action("GetKeywordList", "DueDateLookUp", new { area = "Shared", property = "Keyword" });

    var partialViewModel = new ReportPartialLookUpViewModel { Controller = "DueDateLookUp", Area = "Shared" };
    var reportPageOption = new ReportPageOption { CanPrint = true, CanEmail = true, CanSave = true, CanLoad = true, CanClear = true, Url = ViewBag.Url };
    var statusDataSourceUrl = Url.Action("GetStatusList", "DueDateLookUp", new { area = "Shared", property = "Status" });

    var isUserDMSInventor = ((await AuthService.AuthorizeAsync(User, DMSAuthorizationPolicy.Inventor)).Succeeded && !User.IsAdmin());
    var isUserDMSReviewer = ((await AuthService.AuthorizeAsync(User, DMSAuthorizationPolicy.Reviewer)).Succeeded && !User.IsAdmin());
}

<style>
    .input-validation-error {
    border-color: red;
    }
</style>

<div class="page-main">
    <form method="post"
    id="ReportCriteriaForm"
    data-url="@ViewBag.Url"
    data-email-report-url="@Url.Action("EmailDueDate","Report", new { Area = "Shared", subjectTitle = title})">

        <div class="container-fluid cpiMainEntry page-header">
            <div class="row">
                <div class="row col-md-6 col-lg-7" style="padding:0px 0px 0px 0px; margin:0px 0px 0px 0px">
                    <h2>@title</h2>
                    <div class="col-1"></div>
                    <div>
                        <div class="form-group vertical-center">
                            <label for="ReportFormat">@Localizer["Report Format"]</label>
                            @(Html.Kendo().DropDownList()
                                .Name("ReportFormat")
                                .HtmlAttributes(new { style = "width: 100px" })
                                .BindTo(Html.GetEnumSelectList<ReportOutputType>())
                                .Events(events => events.Open("function() {this.element.getKendoDropDownList().list.find('li.k-item').first().hide();}"))
                                )
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5" style="padding:0px 15px 0px 0px; margin:0px 0px 0px 0px">
                    @await Component.InvokeAsync("ReportPageNavLinks", reportPageOption)
                </div>
            </div>
        </div>


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container-fluid cpiMainEntry">
            <div class="row col-sm-12">
                <div class="form-group col-md-auto">
                    <label asp-for="SortOrder"><strong>@Localizer["Sort"]</strong></label><br />
                    <input id="DueDateSortOrder" asp-for="SortOrder" type="radio" value="1" onclick="OptionChanged();" checked>
                    <label for="DueDateSortOrder">@Localizer["by Due Date"]</label><br />
                    @if (!isUserDMSInventor && !isUserDMSReviewer)
                    {
                        <input id="CalendarSortOrder" asp-for="SortOrder" type="radio" value="4" onclick="OptionChanged();">
                        <label for="CalendarSortOrder">@Localizer["by Due Date (Calendar)"]</label>

                        <br />
                        <input id="AttorneySortOrder" asp-for="SortOrder" type="radio" value="2" onclick="OptionChanged();">
                        <label for="AttorneySortOrder">@Localizer["by " + attorneyLabel]</label>

                        <br />
                        <input id="EmailSortOrder" asp-for="SortOrder" type="radio" value="5" onclick="OptionChanged();">
                        <label for="EmailSortOrder">@Localizer["by " + attorneyLabel + " (Email)"]</label>

                        <br />
                        <input id="ClientSortOrder" asp-for="SortOrder" type="radio" value="3" onclick="OptionChanged();">
                        <label for="ClientSortOrder">@Localizer["by " + clientLabel]</label>

                        <br />
                        <input id="TitleSortOrder" asp-for="SortOrder" type="radio" value="6" onclick="OptionChanged();">
                        <label for="TitleSortOrder" id="byTitleLabel">@Localizer["by Title or Trademark"]</label>

                        <br />
                        <input id="AgentSortOrder" asp-for="SortOrder" type="radio" value="7" onclick="OptionChanged();">
                        <label for="AgentSortOrder">@Localizer["by Agent"]</label>

                        <br />
                        <input id="CountrySortOrder" asp-for="SortOrder" type="radio" value="8" onclick="OptionChanged();">
                        <label for="CountrySortOrder">@Localizer["by Country"]</label>

                        <br />
                    }                    
                    @if (isRespOfficeOn)
                    {
                        <input id="RespOfficeSortOrder" asp-for="SortOrder" type="radio" value="9" onclick="OptionChanged();">
                        <label for="RespOfficeSortOrder">@Localizer["by Responsible Office"]</label><br />
                    }
                </div>
                <div class="form-group col-md-auto">
                    <label asp-for="LayoutFormat"><strong>@Localizer["Layout Format"]</strong></label><br />
                    <input id="ComprehensiveLayout" class="CalendarDependence" asp-for="LayoutFormat" type="radio" value="0" checked>
                    <label for="ComprehensiveLayout">@Localizer["Comprehensive"]</label><br />
                    <input id="ConciseLayout" class="CalendarDependence" asp-for="LayoutFormat" type="radio" value="1">
                    <label for="ConciseLayout">@Localizer["Concise"]</label><br />
                </div>
                <div class="col-md-auto">
                    <label class="form-check-label"><strong>@Localizer["Includes"]</strong></label><br />
                    <input class="CalendarDependence disable-ams-only" asp-for="PrintActionDueRemarks" type="checkbox" />
                    <label for="PrintActionDueRemarks">@Localizer["Action Due Remarks"]</label><br />
                    <input class="CalendarDependence disable-ams-only" asp-for="PrintDueDateRemarks" type="checkbox" />
                    <label for="PrintDueDateRemarks">@Localizer["Due Date Remarks"]</label><br />
                    <input class="CalendarDependence disable-ams-only" asp-for="PrintRemarks" type="checkbox" />
                    <label for="PrintRemarks">@Localizer["Case Remarks"]</label><br />
                    @if (isShowCustomFieldOn)
                    {
                        <input class="CalendarDependence disable-ams-only" asp-for="PrintCustomFields" type="checkbox" />
                        <label for="PrintCustomFields">@Localizer["Custom Fields"]</label>

                        <br />
                    }
                    @if (deDocketOn)
                    {
                        <input class="disable-ams-only" asp-for="DeDocketInstructionOnly" id="DeDocketInstructionOnly" type="checkbox" onchange="DeDocketInstructionChanged();"/>
                        <label for="DeDocketInstructionOnly">@Localizer["Only list with De-Docket Instructions"]</label>

                        <br />
                    }
                    @if (isDelegationOn)
                    {
                        <input class="disable-ams-only" asp-for="DelegatedActionsOnly" type="checkbox" />
                        <label for="DelegatedActionsOnly">@Localizer["Delegated Actions Only"]</label>

                        <br />
                    }
                </div>
                <div class="col-md-auto">
                    <label class="form-check-label"><strong>@Localizer["Includes"]</strong></label><br />
                    <input id="PrintImage" class="CalendarDependence disable-ams-only" asp-for="PrintImage" type="checkbox" onchange="OptionChanged();" />
                    <label for="PrintImage">@Localizer["Documents"]</label><br />
                    @if (!isUserDMSInventor && !isUserDMSReviewer)
                    {
                        <input id="PrintImageDetail" class="CalendarDependence" asp-for="PrintImageDetail" type="checkbox" onchange="PrintImageDetailChanged();" />
                        <label for="PrintImageDetail">@Localizer["Show Image"]</label>
                        <br />
                        <input class="CalendarDependence disable-ams-only" asp-for="PrintPastReminders" type="checkbox" />
                        <label for="PrintPastReminders">@Localizer["Past Reminders"]</label>
                        <br />
                    }
                    @if (!isCorporation && isSoftDocketOn)
                    {
                        <input id="PrintSoftDocket" asp-for="PrintSoftDocket" type="checkbox" />
                        <label for="PrintSoftDocket">@Localizer["Include Soft Dockets"]</label>
                        <br />
                    }
                    @if (User.IsInSystem(SystemType.Patent) || (User.IsInRoles(SystemType.DMS, CPiPermissions.DMSDueDateList) && isDMSActionOn))
                    {
                        <input class="CalendarDependence PatentDependence" asp-for="PrintInventors" type="checkbox" />
                        <label for="PrintInventors">@Localizer["Inventors"]</label><br />
                    }
                    <input id = "PrintShowCriteria" asp-for="PrintShowCriteria" type="checkbox" onchange="PrintCriteriaChanged();" checked />
                    <label for="PrintShowCriteria">@Localizer["Selection Criteria"]</label><br />
                    <input class="CriteriaDependence" asp-for="PrintShowCriteriaOnFirstPage" type="checkbox" />
                    <label for="PrintShowCriteriaOnFirstPage">@Localizer["Print Criteria On First Page"]</label><br />
                </div>


                @if (User.IsInSystem(SystemType.Trademark))
                {
                    <div class="col-md-auto">
                        <label class="form-check-label"><strong>@Localizer["Class/Goods"]</strong></label><br />
                        <input id="PrintClassOnly" class="CalendarDependence TrademarkDependence" asp-for="PrintGoods" type="radio" value="1">
                        <label for="PrintClassOnly">@Localizer["Classes Only"]</label><br />
                        <input id="PrintGoodsOnly" class="CalendarDependence TrademarkDependence" asp-for="PrintGoods" type="radio" value="2">
                        <label for="PrintGoodsOnly">@Localizer["Goods Only"]</label><br />
                        <input id="PrintClassesAndGoods" class="CalendarDependence TrademarkDependence" asp-for="PrintGoods" type="radio" value="3">
                        <label for="PrintClassesAndGoods">@Localizer["Classes and Goods"]</label><br />
                        <input id="DoNotPrintClassesAndGoods" class="CalendarDependence TrademarkDependence" asp-for="PrintGoods" type="radio" value="0" checked>
                        <label for="DoNotPrintClassesAndGoods">@Localizer["Don't Print"]</label><br />
                    </div>
                }
                <div class="col-md-auto systems">
                    <label class="form-check-label"><strong>@Localizer["Systems"]</strong></label>
                    <div class="form-group">
                        @if (User.IsInSystem(SystemType.Patent))
                        {
                            @if (Model.PrintSystems.Contains("P"))
                            {
                                <input id="PrintSystemsP" name="PrintSystemsP" class="PrintSystemCheckBox" type="checkbox" checked value="P" />
                            }
                            else
                            {
                                <input id="PrintSystemsP" name="PrintSystemsP" class="PrintSystemCheckBox" type="checkbox" value="P" />
                            }
                            <label for="PrintSystemsP">@Localizer["Patent"]</label><br />
                        }
                        else
                        {
                            <input hidden id="PrintSystemsP" name="PrintSystemsP" class="PrintSystemCheckBox" type="checkbox" value="P" />
                        }
                        @if (User.IsInSystem(SystemType.Patent) && ViewBag.IsRTSOn)
                        {
                            @if (Model.PrintSystems.Contains("L"))
                            {
                                <input id="PrintSystemsL" name="PrintSystemsL" class="PrintSystemCheckBox" type="checkbox" checked value="L" />
                            }
                            else
                            {
                                <input id="PrintSystemsL" name="PrintSystemsL" class="PrintSystemCheckBox" type="checkbox" value="L" />
                            }
                            <label for="PrintSystemsL">@Localizer["Patent Office Actions"]</label><br />
                        }
                        else
                        {
                            <input hidden id="PrintSystemsL" name="PrintSystemsL" class="PrintSystemCheckBox" type="checkbox" value="L" />
                        }
                        @if (User.IsInSystem(SystemType.Trademark))
                        {
                            @if (Model.PrintSystems.Contains("T"))
                            {
                                <input id="PrintSystemsT" name="PrintSystemsT" class="PrintSystemCheckBox" type="checkbox" checked value="T" />
                            }
                            else
                            {
                                <input id="PrintSystemsT" name="PrintSystemsT" class="PrintSystemCheckBox" type="checkbox" value="T" />
                            }
                            <label for="PrintSystemsT">@Localizer["Trademark"]</label><br />
                        }
                        else
                        {
                            <input hidden id="PrintSystemsT" name="PrintSystemsT" class="PrintSystemCheckBox" type="checkbox" value="T" />
                        }
                        @if (User.IsInSystem(SystemType.Trademark) && ViewBag.IsTLOn)
                        {
                            @if (Model.PrintSystems.Contains("M"))
                            {
                                <input id="PrintSystemsM" name="PrintSystemsM" class="PrintSystemCheckBox" type="checkbox" checked value="M" />
                            }
                            else
                            {
                                <input id="PrintSystemsM" name="PrintSystemsM" class="PrintSystemCheckBox" type="checkbox" value="M" />
                            }
                            <label for="PrintSystemsM">@Localizer["Trademark Links Actions"]</label><br />
                        }
                        else
                        {
                            <input hidden id="PrintSystemsM" name="PrintSystemsM" class="PrintSystemCheckBox" type="checkbox" value="M" />
                        }
                        @if (User.IsInSystem(SystemType.GeneralMatter))
                        {
                            @if (Model.PrintSystems.Contains("G"))
                            {
                                <input id="PrintSystemsG" name="PrintSystemsG" class="PrintSystemCheckBox" type="checkbox" checked value="G" />
                            }
                            else
                            {
                                <input id="PrintSystemsG" name="PrintSystemsG" class="PrintSystemCheckBox" type="checkbox" value="G" />
                            }
                            <label for="PrintSystemsG">@Localizer["Gen. Matter"]</label><br />
                        }
                        else
                        {
                            <input hidden id="PrintSystemsG" name="PrintSystemsG" class="PrintSystemCheckBox" type="checkbox" value="G" />
                        }
                        @if (User.IsInRoles(SystemType.DMS, CPiPermissions.DMSDueDateList) && isDMSActionOn)
                        {
                            @if (Model.PrintSystems.Contains("D"))
                            {
                                <input id="PrintSystemsD" name="PrintSystemsD" class="PrintSystemCheckBox" type="checkbox" checked value="D" />
                            }
                            else
                            {
                                <input id="PrintSystemsD" name="PrintSystemsD" class="PrintSystemCheckBox" type="checkbox" value="D" />
                            }
                            <label for="PrintSystemsD">@Localizer["Invention Disclosure"]</label><br />
                        }
                        else
                        {
                            <input hidden id="PrintSystemsD" name="PrintSystemsD" class="PrintSystemCheckBox" type="checkbox" value="D" />
                        }
                        @if (User.IsInRoles(SystemType.AMS, CPiPermissions.RegularUser))
                        {
                            @if (Model.PrintSystems.Contains("A"))
                            {
                                <input id="PrintSystemsA" name="PrintSystemsA" class="PrintSystemCheckBox" type="checkbox" checked value="A" />
                            }
                            else
                            {
                                <input id="PrintSystemsA" name="PrintSystemsA" class="PrintSystemCheckBox" type="checkbox" value="A" />
                            }
                            <label for="PrintSystemsA">@Localizer["Annuity Management"]</label><br />
                        }
                        else
                        {
                            <input hidden id="PrintSystemsA" name="PrintSystemsA" class="PrintSystemCheckBox" type="checkbox" value="A" />
                        }
                        <input asp-for="PrintSystems" id="PrintSystems" type="text" hidden />
                    </div>
                </div>
            </div>

            <hr />

            <div class="container-fluid">
                <div class="form-row group justify-content-center">
                    <div class="form-group float-label col-xl-2 col-lg-3 col-md-4 col-6">
                        <label for="FromDate">@Localizer["From Due Date"]</label>
                        @await Component.InvokeAsync("DatePicker", new DatePickerOptions("FromDate"))
                    </div>

                    <div class="form-group float-label col-xl-2 col-lg-3 col-md-4 col-6">
                        <label for="ToDate">@Localizer["To Due Date"]</label>
                        @await Component.InvokeAsync("DatePicker", new DatePickerOptions("ToDate"))
                    </div>
                </div>
            </div>
            <hr />
            @if (isReportSchedulerOn && !isInIDSPermissionOnly)
            {
                <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" id="dueDateListTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="selectionCriteriaTab" data-toggle="tab" href="#selectionCriteriaTabContent" role="tab" aria-controls="selectionCriteriaTabContent" aria-selected="true">@Localizer["Selection Criteria"]</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" id="schedulesTab" href="#schedulesTabContent" role="tab" aria-controls="schedulesTabContent" aria-selected="false">@Localizer["Schedules"]</a>
                    </li>
                </ul>
            }
            
            <div class="tab-content detail pb-2">                
                <div class="tab-pane page-content show active" id="selectionCriteriaTabContent" role="tabpanel" aria-labelledby="selectionCriteriaTab" style="padding:0px 0px 0px 0px; margin:0px 0px 0px 0px">                    
                    <div class="container-fluid">                        
                        <div class="row">
                            @if (!isUserDMSInventor && !isUserDMSReviewer)
                            {
                                <div class="col-md-6">
                                    <div class="form-row group">
                                        <div class="form-group float-label col-xl-2 col-lg-3 col-4">
                                            @await Component.InvokeAsync("FilterOperatorList", new { name = "ActionTypeOp" })
                                        </div>
                                        <div class="form-group float-label col-xl-9 col-lg-8 col-7 ActionTypeMultiSelectClass" hidden>
                                            <label>@Localizer["Action Types"]</label>
                                            @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                        {
                                            Name = "ActionTypes_Options",
                                            DataTextProperty = "ActionType",
                                            Controller = partialViewModel.Controller,
                                            Area = partialViewModel.Area,
                                            Action = "GetActionTypeList",
                                        })
                                            <input asp-for="ActionTypes" id="ActionTypes" type="text" hidden value="" />
                                        </div>
                                        <div class="form-group float-label col-xl-9 col-lg-8 col-7 ActionTypeComboBoxClass">
                                            <label for="Area">@Localizer["Action Type"]</label>
                                            @await Component.InvokeAsync("ComboBox", new { name = "ActionType", controller = partialViewModel.Controller, action = "GetActionTypeList", area = partialViewModel.Area, screen = screen })
                                        </div>
                                        @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "ActionTypeMultiSelectClass", SingleClass = "ActionTypeComboBoxClass" })
                                    </div>

                                    <div class="form-row group">
                                        <div class="form-group float-label col-xl-2 col-lg-3 col-4">
                                            @await Component.InvokeAsync("FilterOperatorList", new { name = "ActionDueOp" })
                                        </div>
                                        <div class="form-group float-label col-xl-9 col-lg-8 col-7 ActionDueMultiSelectClass" hidden>
                                            <label>@Localizer["Actions Due"]</label>
                                            @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                        {
                                            Name = "ActionDues_Options",
                                            DataTextProperty = "ActionDue",
                                            Controller = partialViewModel.Controller,
                                            Area = partialViewModel.Area,
                                            Action = "GetActionDueList",
                                        })
                                            <input asp-for="ActionDues" id="ActionDues" type="text" hidden value="" />
                                        </div>
                                        <div class="form-group float-label col-xl-9 col-lg-8 col-7 ActionDueComboBoxClass">
                                            <label>@Localizer["Action Due"]</label>
                                            @await Component.InvokeAsync("ComboBox", new { name = "ActionDue", controller = partialViewModel.Controller, action = "GetActionDueList", area = partialViewModel.Area, screen = screen })
                                        </div>
                                        @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "ActionDueMultiSelectClass", SingleClass = "ActionDueComboBoxClass" })
                                    </div>

                                    <div class="form-row group">
                                        <div class="form-group float-label col-xl-2 col-lg-3 col-4">
                                            @await Component.InvokeAsync("FilterOperatorList", new { name = "IndicatorOp" })
                                        </div>
                                        <div class="form-group float-label col-xl-6 col-lg-7 col-8">
                                            <label>@Localizer["Indicators"]</label>
                                            @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                        {
                                            Name = "DueIndicators_Options",
                                            DataTextProperty = "Indicator",
                                            Controller = partialViewModel.Controller,
                                            Area = partialViewModel.Area,
                                            Action = "GetIndicatorList",
                                        })
                                            <input asp-for="DueIndicators" id="DueIndicators" type="text" hidden value="" />
                                        </div>
                                    </div>

                                    @if (isDelegationOn)
                                    {
                                        <div class="form-row group">
                                            <div class="form-group float-label col-12">
                                                <label>@Localizer["Delegated To"]</label>
                                                @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                        {
                                            Name = "DelegatedUserGroups_Options",
                                            DataValueProperty = "Id",
                                            DataTextProperty = "Name",
                                            Controller = partialViewModel.Controller,
                                            Area = partialViewModel.Area,
                                            Action = "GetUserGroupList",
                                        })
                                            </div>
                                            <input type="text" asp-for="DelegatedUserGroups" id="DelegatedUserGroups" hidden />
                                        </div>
                                    }                                

                                    <div class="form-row group">
                                        <div class="form-group float-label col-xl-2 col-lg-3 col-4">
                                            @await Component.InvokeAsync("FilterOperatorList", new { name = "ClientOp" })
                                        </div>
                                        <div class="form-group float-label col-xl-3 col-lg-3 col-3 ClientMultiSelectClass" hidden>
                                            <label>@Localizer[clientLabel + "s"]</label>
                                            @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                        {
                                            Controller = partialViewModel.Controller,
                                            Area = partialViewModel.Area,
                                            Action = "GetClientList",
                                            Name = "Clients_Options",
                                            DataTextProperty = "ClientCode",
                                            DataValueProperty = "ClientCode",
                                            ListWidth = 500,
                                            HeaderTemplate = ComboBoxHelper.GetHeaderTemplate(@Localizer[clientLabel], @Localizer[clientNameLabel]),
                                            ItemTemplate = ComboBoxHelper.GetItemTemplate("ClientCode", "ClientName"),
                                        })
                                        </div>
                                        <div class="form-group float-label col-xl-3 col-lg-3 col-3 ClientComboBoxClass">
                                            <label>@Localizer[clientLabel]</label>
                                            @await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientCode("Client", @Localizer[clientLabel], @Localizer[clientNameLabel], partialViewModel.Controller, "", partialViewModel.Area))
                                        </div>
                                        @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "ClientMultiSelectClass", SingleClass = "ClientComboBoxClass" })
                                        <div class="form-group float-label col-xl-6 col-lg-5 col-4 ClientNameMultiSelectClass" hidden>
                                            <label>@Localizer[clientNameLabel + "s"]</label>
                                            @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                        {
                                            Controller = partialViewModel.Controller,
                                            Area = partialViewModel.Area,
                                            Action = "GetClientList",
                                            Name = "ClientNames_Options",
                                            DataTextProperty = "ClientName",
                                        })
                                        </div>
                                        <div class="form-group float-label col-xl-6 col-lg-5 col-4 ClientNameComboBoxClass">
                                            <label>@Localizer[clientNameLabel]</label>
                                            @await Component.InvokeAsync("ComboBox", new { name = "ClientName", controller = partialViewModel.Controller, action = "GetClientList", area = partialViewModel.Area })
                                        </div>
                                        @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "ClientNameMultiSelectClass", SingleClass = "ClientNameComboBoxClass" })
                                        <input asp-for="Clients" id="Clients" type="text" hidden value="" />
                                        <input asp-for="ClientNames" id="ClientNames" type="text" hidden value="" />
                                    </div>

                                    <div class="form-row group">
                                        @await Component.InvokeAsync("RMultiSelectAgent", partialViewModel)
                                        <input asp-for="Agents" id="Agents" type="text" hidden value="" />
                                        <input asp-for="AgentNames" id="AgentNames" type="text" hidden value="" />
                                    </div>

                                    <div class="form-row group">
                                        @await Component.InvokeAsync("RMultiSelectOwner", partialViewModel)
                                        <input asp-for="Owners" id="Owners" type="text" hidden value="" />
                                        <input asp-for="OwnerNames" id="OwnerNames" type="text" hidden value="" />
                                    </div>

                                    <div class="form-row group">
                                        @await Component.InvokeAsync("RMultiSelectAttorney", partialViewModel)
                                        <input asp-for="Attorneys" id="Attorneys" type="text" hidden value="" />
                                        <input asp-for="AttorneyNames" id="AttorneyNames" type="text" hidden value="" />
                                    </div>

                                    <div class="form-row group">
                                        <div class="col-auto">
                                            <label>@Localizer["Filter by " + attorneyLabel]</label>
                                            <label for="FilterAtty1">@Localizer["[1]"]</label>
                                            <input id="FilterAtty1" name="FilterAtty1" class="AttorneyFilterCheckBox" type="checkbox" value="A1" checked />
                                            <label for="FilterAtty2">@Localizer["[2]"]</label>
                                            <input id="FilterAtty2" name="FilterAtty2" class="AttorneyFilterCheckBox" type="checkbox" value="A2" checked />
                                            <label for="FilterAtty3">@Localizer["[3]"]</label>
                                            <input id="FilterAtty3" name="FilterAtty3" class="AttorneyFilterCheckBox" type="checkbox" value="A3" checked />
                                            <label for="FilterAtty4">@Localizer["[4]"]</label>
                                            <input id="FilterAtty4" name="FilterAtty4" class="AttorneyFilterCheckBox" type="checkbox" value="A4" checked />
                                            <label for="FilterAtty5">@Localizer["[5]"]</label>
                                            <input id="FilterAtty5" name="FilterAtty5" class="AttorneyFilterCheckBox" type="checkbox" value="A5" checked />
                                            <label for="FilterAttyR">@Localizer["[Responsible]"]</label>
                                            <input class="AttorneyFilterCheckBox" id="FilterAttyR" name="FilterAttyR" type="checkbox" value="AR" checked />
                                            <label for="FilterAttyD">@Localizer["[Due Date Attorney]"]</label>
                                            <input class="AttorneyFilterCheckBox" id="FilterAttyD" name="FilterAttyD" type="checkbox" value="AD" checked />
                                        </div>
                                        <input asp-for="FilterAtty" id="FilterAtty" type="text" hidden />
                                    </div>
                                </div>
                            }
                            @if (!isInIDSPermissionOnly)
                            {
                                <div class="col-md-6">
                                    <div class="form-row group">
                                        <div class="col-sm-auto"><label><strong>@Localizer["Status Code"]</strong></label></div>
                                        <div class="col-sm-auto">
                                            <input id="ActiveStatus" asp-for="ActiveSwitch" type="radio" onclick="ReportCriteriaPage.rebindStatus('@statusDataSourceUrl', this.value, $('#ApplicationStatuses_Options_DueDateList'))" value="1">
                                            <label for="ActiveStatus">@Localizer["Active Status"]</label>
                                        </div>
                                        <div class="col-sm-auto">
                                            <input id="InactiveStatus" asp-for="ActiveSwitch" type="radio" onclick="ReportCriteriaPage.rebindStatus('@statusDataSourceUrl', this.value, $('#ApplicationStatuses_Options_DueDateList'))" value="0">
                                            <label for="InactiveStatus">@Localizer["Inactive Status"]</label>
                                        </div>
                                        <div class="col-sm-auto">
                                            <input id="AllStatus" asp-for="ActiveSwitch" type="radio" onclick="ReportCriteriaPage.rebindStatus('@statusDataSourceUrl', this.value, $('#ApplicationStatuses_Options_DueDateList'))" value="2" checked>
                                            <label for="AllStatus">@Localizer["All Status"]</label>
                                        </div>
                                    </div>

                                    <div class="form-row group">
                                        <div class="form-group float-label col-xl-2 col-lg-3 col-4">
                                            @await Component.InvokeAsync("FilterOperatorList", new { name = "ApplicationStatusesOp" })
                                        </div>
                                        <div class="form-group float-label col-xl-6 col-lg-7 col-8">
                                            <label>@Localizer["Statuses"]</label>
                                            @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                    {
                                        Name = "ApplicationStatuses_Options",
                                        DataTextProperty = "Status",
                                        Controller = partialViewModel.Controller,
                                        Area = partialViewModel.Area,
                                        Action = "GetStatusList",
                                    })
                                        </div>
                                        <input type="text" asp-for="ApplicationStatuses" id="ApplicationStatuses" hidden />
                                    </div>

                                    <div class="form-row group">
                                        <div class="form-group float-label col-xl-2 col-lg-3 col-4">
                                            @await Component.InvokeAsync("FilterOperatorList", new { name = "CaseTypesOp" })
                                        </div>
                                        <div class="form-group float-label col-xl-6 col-lg-7 col-8">
                                            <label>@Localizer["Case Types"]</label>
                                            @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                            {
                                                Name = "CaseTypes_Options",
                                                DataTextProperty = "CaseType",
                                                Controller = partialViewModel.Controller,
                                                Area = partialViewModel.Area,
                                                Action = "GetCaseTypeList",
                                            })
                                        </div>
                                        <input asp-for="CaseTypes" id="CaseTypes" type="text" hidden value="" />
                                    </div>

                                    <div class="form-row group">
                                        <div class="form-group float-label col-xl-2 col-lg-3 col-4">
                                            @await Component.InvokeAsync("FilterOperatorList", new { name = "CountryOp" })
                                        </div>
                                        @await Component.InvokeAsync("RMultiSelectCountry", partialViewModel)
                                        <input asp-for="Countries" id="Countries" type="text" hidden value="" />
                                        <input asp-for="CountryNames" id="CountryNames" type="text" hidden value="" />
                                    </div>

                                    <div class="form-row group">
                                        <div class="form-group float-label col-xl-4 col-lg-5 col-md-6">
                                            <label for="Area">@Localizer["Area"]</label>
                                            @await Component.InvokeAsync("ComboBox", new { name = "Area", controller = partialViewModel.Controller, action = "GetAreaList", area = partialViewModel.Area, screen = screen })
                                        </div>
                                    </div>
                                    <div class="form-row group">
                                        <div class="form-group float-label col-xl-2 col-lg-3 col-4">
                                            @await Component.InvokeAsync("FilterOperatorList", new { name = "CaseNumberOp" })
                                        </div>
                                        <div class="form-group float-label col-xl-4 col-lg-5 col-md-5 CaseNumberMultiSelectClass" hidden>
                                            <label for="CaseNumber">@Localizer[caseNumberLabel + "s"]</label>
                                            @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                        {
                                            Name = "CaseNumbers_Options",
                                            DataTextProperty = "CaseNumber",
                                            Controller = partialViewModel.Controller,
                                            Area = partialViewModel.Area,
                                            Action = "GetCaseNumberList",
                                            EnablePaging = enableComboPaging,
                                            PageSize = comboPagingSize,
                                            ValueMapper = "ReportCriteriaPage.caseNumberSearchValueMapper"
                                        })
                                            <input type="text" asp-for="CaseNumbers" id="CaseNumbers" hidden />
                                        </div>
                                        <div class="form-group float-label col-xl-4 col-lg-5 col-md-5 CaseNumberComboBoxClass">
                                            <label for="CaseNumber">@Localizer[caseNumberLabel]</label>
                                            @await Component.InvokeAsync("ComboBox", new { name = "CaseNumber", controller = partialViewModel.Controller, action = "GetCaseNumberList", area = partialViewModel.Area, screen = screen, enablePaging = enableComboPaging, pagingSize = comboPagingSize, valueMapper = "ReportCriteriaPage.caseNumberSearchValueMapper" })
                                        </div>
                                        @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "CaseNumberMultiSelectClass", SingleClass = "CaseNumberComboBoxClass" })
                                    </div>
                                    <div class="form-row group">
                                        <div class="form-group float-label col-xl-2 col-lg-3 col-4">
                                            @await Component.InvokeAsync("FilterOperatorList", new { name = "FamilyNumberOp" })
                                        </div>
                                        <div class="form-group float-label col-xl-4 col-lg-5 col-md-5 FamilyNumberMultiSelectClass" hidden>
                                            <label for="FamilyNumber">@Localizer["Family Numbers"]</label>
                                            @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                           {
                                               Name = "FamilyNumbers_Options",
                                               DataTextProperty = "FamilyNumber",
                                               Controller = partialViewModel.Controller,
                                               Area = partialViewModel.Area,
                                               Action = "GetFamilyNumberList"                                          
                                           })
                                            <input type="text" asp-for="FamilyNumbers" id="FamilyNumbers" hidden />
                                        </div>
                                        <div class="form-group float-label col-xl-4 col-lg-5 col-md-5 FamilyNumberComboBoxClass">
                                            <label for="FamilyNumber">@Localizer["Family Number"]</label>
                                            @await Component.InvokeAsync("ComboBox", new { name = "FamilyNumber", controller = partialViewModel.Controller, action = "GetFamilyNumberList", area = partialViewModel.Area, screen = screen })
                                        </div>
                                        @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "FamilyNumberMultiSelectClass", SingleClass = "FamilyNumberComboBoxClass" })
                                    </div>
                                    @if (isRespOfficeOn)
                                    {
                                        <div class="form-row group">

                                            <div class="form-group float-label col-xl-4 col-lg-5 col-md-6 RespOfficeMultiSelectClass" hidden>
                                                <label for="RespOffices">@Localizer["Resp. Offices"]</label>
                                                @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                                {
                                                    Name = "RespOffices_Options",
                                                    DataTextProperty = "RespOffice",
                                                    Controller = partialViewModel.Controller,
                                                    Area = partialViewModel.Area,
                                                    Action = "GetRespOfficeList",
                                                })
                                                <input type="text" asp-for="RespOffices" id="RespOffices" hidden />
                                            </div>
                                            <div class="form-group float-label col-xl-4 col-lg-5 col-md-6 RespOfficeComboBoxClass">
                                                <label for="RespOffice">@Localizer["Resp. Office"]</label>
                                                @await Component.InvokeAsync("ComboBox", new { name = "RespOffice", controller = partialViewModel.Controller, action = "GetRespOfficeList", area = partialViewModel.Area, screen = screen })
                                            </div>
                                            @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "RespOfficeMultiSelectClass", SingleClass = "RespOfficeComboBoxClass" })

                                        </div>
                                    }
                                    @if (User.IsInSystem(SystemType.Trademark))
                                    {
                                        <div class="form-row group">
                                            <div class="form-group float-label col-xl-2 col-lg-3 col-4">
                                                @await Component.InvokeAsync("FilterOperatorList", new { name = "ClassesOp" })
                                            </div>
                                            <div class="form-group float-label col-xl-6 col-lg-7 col-8 ClassMultiSelectClass" hidden>
                                                <label>@Localizer["Classes"]</label>
                                                @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                                    {
                                                        Name = "Classes_Options",
                                                        DataTextProperty = "ClassAndType",
                                                        Controller = partialViewModel.Controller,
                                                        Area = partialViewModel.Area,
                                                        Action = "GetClassList",
                                                })
                                                <input type="text" asp-for="Classes" id="Classes" hidden />
                                            </div>
                                            <div class="form-group float-label col-xl-6 col-lg-7 col-8 ClassComboBoxClass">
                                                <label>@Localizer["Class"]</label>
                                                @await Component.InvokeAsync("ComboBox", new { name = "Class", textProperty = "ClassAndType", controller = partialViewModel.Controller, action = "GetClassList", area = partialViewModel.Area, screen = screen })
                                            </div>
                                            @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "ClassMultiSelectClass", SingleClass = "ClassComboBoxClass" })
                                        </div>
                                    }
                                    @if (deDocketOn)
                                    {
                                        <div class="form-row group InstructionDependence" hidden>
                                            <div class="form-group float-label col-xl-9 col-lg-8 col-7 InstructedByMultiSelectClass" hidden>
                                                <label>@Localizer["Instructed By"]</label>
                                                @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                            {
                                                Name = "InstructedBys_Options",
                                                DataTextProperty = "InstructedBy",
                                                Controller = partialViewModel.Controller,
                                                Area = partialViewModel.Area,
                                                Action = "GetInstructedByList",
                                            })
                                                <input asp-for="InstructedBys" id="InstructedBys" type="text" hidden value="" />
                                            </div>
                                            <div class="form-group float-label col-xl-9 col-lg-8 col-7 InstructedByComboBoxClass" hidden>
                                                <label>@Localizer["Instructed By"]</label>
                                                @await Component.InvokeAsync("ComboBox", new { name = "InstructedBy", controller = partialViewModel.Controller, action = "GetInstructedByList", area = partialViewModel.Area, screen = screen })
                                            </div>
                                            @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "InstructedByMultiSelectClass", SingleClass = "InstructedByComboBoxClass" })
                                        </div>
                                    }

                                    <div class="form-row group">
                                        <div class="form-group float-label col-xl-9 col-lg-8 col-7 KeywordMultiSelectClass" hidden>
                                            <label>@Localizer[keywordLabel]</label>
                                            @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                        {
                                            Name = "Keywords_Options",
                                            DataTextProperty = "Keyword",
                                            Controller = partialViewModel.Controller,
                                            Area = partialViewModel.Area,
                                            Action = "GetKeywordList",
                                        })
                                            <input asp-for="Keywords" id="Keywords" type="text" hidden value="" />
                                        </div>
                                        <div class="form-group float-label col-xl-9 col-lg-8 col-7 KeywordComboBoxClass">
                                            <label>@Localizer[keywordLabel]</label>
                                            @await Component.InvokeAsync("ComboBox", new { name = "Keyword", controller = partialViewModel.Controller, action = "GetKeywordList", area = partialViewModel.Area, screen = screen })
                                        </div>
                                        @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "KeywordMultiSelectClass", SingleClass = "KeywordComboBoxClass" })
                                    </div>
                                    @if (isProductsOn)
                                    {
                                        <div class="form-row group">
                                            <div class="form-group float-label col-xl-9 col-lg-8 col-7 ProductMultiSelectClass" hidden>
                                                <label>@Localizer["Products"]</label>
                                                @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                                {
                                                    Name = "Products_Options",
                                                    DataTextProperty = "Product",
                                                    Controller = partialViewModel.Controller,
                                                    Area = partialViewModel.Area,
                                                    Action = "GetProductList",
                                                })
                                                <input type="text" asp-for="Products" id="Products" hidden />
                                            </div>
                                            <div class="form-group float-label col-lg-8 ProductComboBoxClass">
                                                <label>@Localizer["Product"]</label>
                                                @await Component.InvokeAsync("ComboBox", new { name = "Product", controller = partialViewModel.Controller, action = "GetProductList", area = partialViewModel.Area, screen = screen })
                                            </div>
                                            @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "ProductMultiSelectClass", SingleClass = "ProductComboBoxClass" })
                                        </div>
                                    }

                                    <div class="form-row group">
                                        <div class="col-sm-auto"><label><strong>@Localizer["Office Action"]</strong></label></div>
                                        <div class="col-sm-auto">
                                            <input id="YesOfficeAction" asp-for="OfficeAction" type="radio" value="1">
                                            <label for="YesOfficeAction">@Localizer["Yes"]</label>
                                        </div>
                                        <div class="col-sm-auto">
                                            <input id="NoOfficeAction" asp-for="OfficeAction" type="radio" value="0">
                                            <label for="NoOfficeAction">@Localizer["No"]</label>
                                        </div>
                                        <div class="col-sm-auto">
                                            <input id="AllOfficeAction" asp-for="OfficeAction" type="radio" value="2" checked>
                                            <label for="AllOfficeAction">@Localizer["All"]</label>
                                        </div>
                                    </div>

                                    @if(User.IsInSystem(SystemType.Patent)){
                                        <div class="form-row group">
                                            <div class="col-sm-auto"><label><strong>@Localizer["Track One"]</strong></label></div>
                                            <div class="col-sm-auto">
                                                <input id="YesTrackOne" asp-for="TrackOne" type="radio" value="1">
                                                <label for="YesTrackOne">@Localizer["Yes"]</label>
                                            </div>
                                            <div class="col-sm-auto">
                                                <input id="NoTrackOne" asp-for="TrackOne" type="radio" value="0">
                                                <label for="NoTrackOne">@Localizer["No"]</label>
                                            </div>
                                            <div class="col-sm-auto">
                                                <input id="AllTrackOne" asp-for="TrackOne" type="radio" value="2" checked>
                                                <label for="AllTrackOne">@Localizer["All"]</label>
                                            </div>
                                        </div>
                                        <div class="form-row group">
                                            <div class="col-sm-auto"><label><strong>@Localizer["Auto-Docketed Actions"]</strong></label></div>
                                            <div class="col-sm-auto">
                                                <input id="YesAutoDocketedActions" asp-for="AutoDocketedActions" type="radio" value="1">
                                                <label for="YesAutoDocketedActions">@Localizer["Yes"]</label>
                                            </div>
                                            <div class="col-sm-auto">
                                                <input id="NoAutoDocketedActions" asp-for="AutoDocketedActions" type="radio" value="0">
                                                <label for="NoAutoDocketedActions">@Localizer["No"]</label>
                                            </div>
                                            <div class="col-sm-auto">
                                                <input id="AllAutoDocketedActions" asp-for="AutoDocketedActions" type="radio" value="2" checked>
                                                <label for="AllAutoDocketedActions">@Localizer["All"]</label>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>                        
                    </div>                           
                </div>                
                @if (isReportSchedulerOn && !isInIDSPermissionOnly)
            {
                <div class="tab-pane page-content" id="schedulesTabContent" role="tabpanel" aria-labelledby="schedulesTab" style="padding:0px 0px 0px 0px; margin:0px 0px 0px 0px">
                    <div class="col-12">
                        <div class="form-control-grid">
                            @await Component.InvokeAsync("GridSchedules", new PageViewModel { RecordId = 2 })
                        </div>
                    </div>
                </div>
            }
            </div>
            
        </div>
    </form>
</div>

<script type="text/javascript">
    var byTitleLabel = '@Localizer["by Title"]';
    var byTrademarkLabel = '@Localizer["by Trademark"]';
    var byTitleOrTrademarkLabel = '@Localizer["by Title or Trademark"]';

    const printImageDetail = document.getElementById("PrintImageDetail");
    const printImage = document.getElementById("PrintImage");

    function PrintImageChanged() {
        if (printImage && !printImage.checked && printImageDetail) {
            printImageDetail.checked = false;
        }
    }

    function PrintImageDetailChanged() {
        if (printImageDetail && printImageDetail.checked && printImage) {
            printImage.checked = true;
        }
    }

    function PrintSystemChanged() {
        CombineSystems();
        var systems = document.getElementById("PrintSystems").value;
        rebindDataSource('@actionTypeDataSourceUrl', systems, $('#ActionTypes_Options_DueDateList'), $('#ActionType_dueDateList'));
        rebindDataSource('@actionDueDataSourceUrl', systems, $('#ActionDues_Options_DueDateList'), $('#ActionDue_dueDateList'));
        rebindDataSource('@keywordDataSourceUrl', systems, $('#Keywords_Options_DueDateList'), $('#Keyword_dueDateList'));
        var PatentDependences = document.querySelectorAll('.PatentDependence');
        var TrademarkDependences = document.querySelectorAll('.TrademarkDependence');
        
        //disable if only ams is selected
        var selectedSystems = $(".systems input[type=checkbox]:checked");
        if (selectedSystems.length == 1 && $(selectedSystems[0]).attr("name") == "PrintSystemsA") {
            $(".disable-ams-only").attr("disabled", true);
            $("input[type=checkbox].disable-ams-only").prop("checked", false);
        }
        else
            $(".disable-ams-only").removeAttr("disabled");

        if (document.getElementById("PrintSystemsP").checked || document.getElementById("PrintSystemsL").checked || document.getElementById("PrintSystemsD").checked) {
            PatentDependences.forEach(element => {
                element.removeAttribute("disabled");
            });
        }
        else {
            PatentDependences.forEach(element => {
                element.setAttribute("disabled", "disabled");
                if(element.type === "checkbox"){
                    element.checked = false;
                }
            });
        }
        if (document.getElementById("PrintSystemsT").checked || document.getElementById("PrintSystemsM").checked) {
            TrademarkDependences.forEach(element => {
                element.removeAttribute("disabled");
            });
        }
        else {
            TrademarkDependences.forEach(element => {
                element.setAttribute("disabled", "disabled");
                if(element.type === "checkbox"){
                    element.checked = false;
                }
            });
        }
    }

    $(document).ready(function () {
        const formName = "#ReportCriteriaForm";
        ReportCriteriaPage.initialize(formName);
        const form = $(formName);

        PrintImageDetailChanged();
        PrintSystemChanged();

        form.find(".PrintSystemCheckBox").on("change", function (e) { OptionChanged() })
        $(document).off("change", "#ReportFormat");
        $(document).on("change", "#ReportFormat", function (e) {
            ReportCriteriaPage.ReportFormatChange();
        });

        const reportPageId = 'DueDateListReport';

        form.find(".email-report").on("click", function (e) { ReportCriteriaPage.emailReport(form) })

        form.find(".search-save").on("click", function () {
            CombineFields();
            pageHelper.getSearchCriteriaScreen(formName, reportPageId, true);
        })
        form.find(".search-load").on("click", function () {
            pageHelper.getSearchCriteriaScreen(formName, reportPageId, false, function (response) {
                form.clearSearch();
                pageHelper.loadSearchCriteria(response, { refineSearchContainer: formName });
                loadCombinedFields();
                ReportCriteriaPage.ReportFormatChange();
                setTimeout(function () { OptionChanged(); }, 500);
                setTimeout(function () { pageHelper.loadSearchCriteria(response, { refineSearchContainer: formName }); }, 1000);
                setTimeout(function () { ReportCriteriaPage.showMultiWhenNotEmpty(); }, 1500);
            });
        })
        if(@ViewBag.LoadDefault.ToString().ToLower()){
            pageHelper.loadDefaultSearchCriteria(formName, reportPageId, { refineSearchContainer: formName });
            loadCombinedFields();
            ReportCriteriaPage.ReportFormatChange();
            setTimeout(function () { OptionChanged(); }, 500);
            setTimeout(function () { pageHelper.loadDefaultSearchCriteria(formName, reportPageId, { refineSearchContainer: formName }); }, 1000);
            setTimeout(function () { ReportCriteriaPage.showMultiWhenNotEmpty(); }, 1500);
        }
    })

    function loadCombinedFields() {
        var printSystems = "," + document.getElementById("PrintSystems").value + ",";
        if (printSystems.includes(",G,"))
            document.getElementById("PrintSystemsG").checked = true;
        if (printSystems.includes(",T,"))
            document.getElementById("PrintSystemsT").checked = true;
        if (printSystems.includes(",P,"))
            document.getElementById("PrintSystemsP").checked = true;
        if (printSystems.includes(",D,"))
            document.getElementById("PrintSystemsD").checked = true;
        if (printSystems.includes(",L,"))
            document.getElementById("PrintSystemsL").checked = true;
        if (printSystems.includes(",M,"))
            document.getElementById("PrintSystemsM").checked = true;
        if (printSystems.includes(",A,"))
            document.getElementById("PrintSystemsA").checked = true;

        //var filterAtty = "," + document.getElementById("FilterAtty").value + ",";
        var filterAtty = "";
        if (document.getElementById("FilterAtty"))
            filterAtty = "," + document.getElementById("FilterAtty").value + ",";
        if (filterAtty.includes(",A1,"))
            document.getElementById("FilterAtty1").checked = true;
        if (filterAtty.includes(",A2,"))
            document.getElementById("FilterAtty2").checked = true;
        if (filterAtty.includes(",A3,"))
            document.getElementById("FilterAtty3").checked = true;
        if (filterAtty.includes(",A4,"))
            document.getElementById("FilterAtty4").checked = true;
        if (filterAtty.includes(",A5,"))
            document.getElementById("FilterAtty5").checked = true;
        if (filterAtty.includes(",AR,"))
            document.getElementById("FilterAttyR").checked = true;
        if (filterAtty.includes(",AD,"))
            document.getElementById("FilterAttyD").checked = true;
    }

    function printReport(form) {
        cpiLoadingSpinner.show();

        CombineFields();

        ReportCriteriaPage.submitForm(form, "@title");
    }

    function OptionChanged() {
        var emailsortOption = document.getElementById("EmailSortOrder");
        var calendarSortOption = document.getElementById("CalendarSortOrder");
        var CalendarDependences = document.querySelectorAll('.CalendarDependence');
        var reportFormat = document.getElementById("ReportFormat");
        var reportFormatListBox = document.getElementById("ReportFormat_listbox");

        if (calendarSortOption && calendarSortOption.checked)
        {
            if (reportFormatListBox.childElementCount != 2) {
                var dataSource = new kendo.data.DataSource({
                    data: [{Text:"PDF",Value:"0"}, {Text:"Word",Value:"2"}]
                });
                var dropdownlist = $("#ReportFormat").data("kendoDropDownList");
                dropdownlist.setDataSource(dataSource);

                dropdownlist.value("0");
            }

            PrintSystemChanged();
            PrintImageChanged();
            CalendarDependences.forEach(element => {
                element.setAttribute("disabled", "disabled");
            });
        } else if (emailsortOption && emailsortOption.checked && reportFormatListBox.childElementCount != 3) {
            var dataSource = new kendo.data.DataSource({
                data: [{ Text: "PDF", Value: "0" }, { Text: "Excel", Value: "1" }, { Text: "Word", Value: "2" }]
            });
            var dropdownlist = $("#ReportFormat").data("kendoDropDownList");
            dropdownlist.setDataSource(dataSource);
            dropdownlist.value("0");
        } else {
            if (reportFormatListBox.childElementCount != 6) {
                var dataSource = new kendo.data.DataSource({
                    data: [{ Text: "PDF", Value: "0" }, { Text: "Excel", Value: "1" }, { Text: "Word", Value: "2" }, { Text: "XML", Value: "3" }, { Text: "HTML", Value: "4" }, { Text: "CSV", Value: "5" }]
                });
                var dropdownlist = $("#ReportFormat").data("kendoDropDownList");
                dropdownlist.setDataSource(dataSource);
            }

            CalendarDependences.forEach(element => {
                element.removeAttribute("disabled");
            });

            PrintSystemChanged();
            PrintImageChanged();
        }

        document.querySelectorAll('.email-report').forEach(element => {
            if (emailsortOption && !emailsortOption.checked && (reportFormat.value == 0 || reportFormat.value == 1 || reportFormat.value == 2)) {
                element.removeAttribute("hidden");
            } else {
                element.setAttribute("hidden", "hidden");
            }
        });
    }

    function CombineFields() {
        CombineSystems();
        CombineAttorneyFilters();
        ReportCriteriaPage.combineMultiSelect();
    }

    function CombineSystems() {
        var result = ","
        var target = document.getElementById("PrintSystems");
        document.querySelectorAll('.PrintSystemCheckBox').forEach(element => {
            if (element.nodeName == "INPUT" && element.checked) {
                result += element.id.substring(element.id.length - 1) + ",";
            }
        });
        if (result == ",")
            result = "";
        else {
            result = result.substring(1, result.length - 1);
        }

        target.value = result;
        resetTitleLabel(result);
    }

        function rebindDataSource(DataSourceUrl, systemType, multiSelect, comboBox) {
        if (systemType === "")
            return;
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: DataSourceUrl + "&systemType=" + systemType,
                }
            }
        });
        if (multiSelect && multiSelect.data("kendoMultiSelect"))
            multiSelect.data("kendoMultiSelect").setDataSource(dataSource);
        if (comboBox && comboBox.data("kendoComboBox"))
            comboBox.data("kendoComboBox").setDataSource(dataSource);
    }

    function CombineAttorneyFilters() {
        var result = ","
        var target = document.getElementById("FilterAtty");
        document.querySelectorAll('.AttorneyFilterCheckBox').forEach(element => {
            if (element.nodeName == "INPUT" && element.checked) {
                result += "A" + element.id.substring(element.id.length - 1) + ",";
            }
        });
        if (result == ",")
            result = "";
        else {
            result = result.substring(1, result.length - 1);
        }

        if (target)
            target.value = result;
    }

    function resetTitleLabel(systemType) {
        var label = byTitleLabel;
        if (systemType === "") {
            return;//label = titleLabel;
        } else {
            if (systemType === 'T' || systemType === 'M' || systemType === 'T,M')
                label = byTrademarkLabel
            else if (systemType.includes("T") || systemType.includes("M"))
                label = byTitleOrTrademarkLabel;
            else
                label = byTitleLabel;
        }

        if (document.getElementById("byTitleLabel"))
            document.getElementById("byTitleLabel").innerHTML = label;
    }

    function DeDocketInstructionChanged() {
        var instructionDependences = document.querySelectorAll('.InstructionDependence');

        if (document.getElementById("DeDocketInstructionOnly").checked) {
            instructionDependences.forEach(element => {
                element.removeAttribute("hidden");
            });
        }
        else {
            instructionDependences.forEach(element => {
                element.setAttribute("hidden", "hidden");
                var Clear = element.getElementsByClassName("k-clear-value");
                if (Clear.length != 1)
                    return;
                Clear[0].click();
            });
        }

    }

    function PrintCriteriaChanged() {
        var actionDependences = document.querySelectorAll('.CriteriaDependence');

        if (document.getElementById("PrintShowCriteria").checked) {
            actionDependences.forEach(element => {
                element.removeAttribute("disabled");
            });
        }
        else {
            actionDependences.forEach(element => {
                element.setAttribute("disabled", "disabled");
                if(element.type === "checkbox"){
                    element.checked = false;
                }
            });
        }
    }
</script>