@using  R10.Web.Areas.Shared.ViewModels.Report
@using  R10.Web.Areas
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@inject ISystemSettings<PatSetting> PatSettings
@inject ISystemSettings<TmkSetting> TmkSettings
@model ProductIndexReportViewModel

@{
    var title = Localizer["Product Index Report"];
    ViewData["Title"] = title;
    ViewData["ActivePage"] = "ReportCriteriaPage";

    var screen = "ProductIndex";
    ViewBag.PageId = "ProductIndex";
    var isPatRespOfficeOn = User.IsRespOfficeOn(SystemType.Patent);
    var isTmkRespOfficeOn = User.IsRespOfficeOn(SystemType.Trademark);
    var settings = await Settings.GetSetting();
    var patSettings = await PatSettings.GetSetting();
    var tmkSettings = await TmkSettings.GetSetting();

    var caseNumberLabel = settings.IsClientMatterOn ? settings.LabelClientMatter : settings.LabelCaseNumber;
    var oldCaseNumberLabel = settings.LabelOldCaseNumber;
    var ownerLabel = settings.LabelOwner;
    var ownerNameLabel = settings.LabelOwnerName;
    var clientLabel = settings.LabelClient;
    var clientNameLabel = settings.LabelClientName;
    var clientRefLabel = settings.LabelClientRef;
    var agentLabel = settings.LabelAgent;
    var agentNameLabel = settings.LabelAgentName;
    var agentRefLabel = settings.LabelAgentRef;
    var attorneyLabel = "Attorney";
    var attorneyNameLabel = "Attorney Name";

    var partialViewModel = new ReportPartialLookUpViewModel { Controller = "ProductIndexLookUp", Area = "Shared" };
    var reportPageOption = new ReportPageOption { CanPrint = true, CanEmail = true, CanSave = true, CanLoad = true, CanClear = true, Url = ViewBag.Url };
}

<style>
    .input-validation-error {
        border-color: red;
    }
</style>

<div class="page-main">
    <form method="post"
          id="ReportCriteriaForm"
          data-url="@ViewBag.Url"
          data-email-report-url="@Url.Action("EmailProductIndex","Report", new { Area = "Shared", subjectTitle = title})"
          >
        <div class="container-fluid page-header">
            <div class="row">
                <div class="row col-md-6 col-lg-7" style="padding:0px 0px 0px 0px; margin:0px 0px 0px 0px">
                    <h2>@title</h2>
                    <div class="col-1"></div>
                    <div>
                        <div class="form-group vertical-center">
                            <label for="ReportFormat">@Localizer["Report Format"]</label>
                            @(Html.Kendo().DropDownList()
                            .Name("ReportFormat")
                            .HtmlAttributes(new { style = "width: 100px" })
                            .BindTo(Html.GetEnumSelectList<ReportOutputType>())
                            .Events(events => events.Open("function() {this.element.getKendoDropDownList().list.find('li.k-item').first().hide();}"))
                            )
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5" style="padding:0px 15px 0px 0px; margin:0px 0px 0px 0px">
                    @await Component.InvokeAsync("ReportPageNavLinks", reportPageOption)
                </div>
            </div>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container-fluid">
            <div class="row col-sm-12">
                <div class="col-md-auto">
                    <label class="form-check-label"><strong>@Localizer["Includes"]</strong></label><br />
                    @*<input asp-for="PrintPriorityInfo" type="checkbox" checked />
                        <label>@Localizer["Priority Information"]</label><br />*@
                    <input asp-for="PrintOtherProducts" type="checkbox" checked />
                    <label>@Localizer["Other Products"]</label><br />
                    <input id = "PrintShowCriteria" asp-for="PrintShowCriteria" type="checkbox" onchange="PrintCriteriaChanged();" checked />
                    <label>@Localizer["Selection Criteria"]</label><br />
                    <input class="CriteriaDependence" asp-for="PrintShowCriteriaOnFirstPage" type="checkbox" />
                    <label>@Localizer["Print Criteria On First Page"]</label><br />
                </div>
                <div class="col-md-auto systems">
                <label class="form-check-label"><strong>@Localizer["Systems"]</strong></label>
                <div class="form-group">
                    @if (User.IsInSystem(SystemType.Patent))
                    {
                        @if (Model.PrintPatent)
                        {
                            <input id="PrintPatent" asp-for="PrintPatent" type="checkbox" checked />
                        }
                        else
                        {
                            <input id="PrintPatent" asp-for="PrintPatent" type="checkbox" />
                        }
                        <label for="PrintPatent">@Localizer["Patent"]</label>
                    
                        <br />
                    }
                    else
                    {
                        <input hidden id="PrintPatent" asp-for="PrintPatent" type="checkbox" />
                    }
                    @if (User.IsInSystem(SystemType.Trademark))
                    {
                        @if (Model.PrintTrademark)
                        {
                            <input id="PrintTrademark" asp-for="PrintTrademark" type="checkbox" checked />
                        }
                        else
                        {
                            <input id="PrintTrademark" asp-for="PrintTrademark" type="checkbox" />
                        }
                        <label for="PrintTrademark">@Localizer["Trademark"]</label>               
                        <br />
                    }
                    else
                    {
                        <input hidden id="PrintTrademark" asp-for="PrintTrademark" type="checkbox" />
                    }            
                    @if (User.IsInSystem(SystemType.GeneralMatter))
                    {
                        @if (Model.PrintGenMatter)
                        {
                            <input id="PrintGenMatter" asp-for="PrintGenMatter" type="checkbox" checked />
                        }
                        else
                        {
                            <input id="PrintGenMatter" asp-for="PrintGenMatter" type="checkbox" />
                        }
                        <label for="PrintGenMatter">@Localizer["Gen. Matter"]</label>
                    
                        <br />
                    }
                    else
                    {
                        <input hidden id="PrintGenMatter" asp-for="PrintGenMatter" type="checkbox" checked />
                    }

                </div>
            </div>
            </div>

            <hr />


            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-row group">
                            <div class="form-group float-label col-xl-8 col-lg-9 ProductMultiSelectClass" hidden>
                                <label>@Localizer["Products"]</label>
                                @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                               {
                                   Name = "Products_Options",
                                   DataTextProperty = "Product",
                                   Controller = partialViewModel.Controller,
                                   Area = partialViewModel.Area,
                                   Action = "GetProductList",
                               })
                                <input type="text" asp-for="Products" id="Products" hidden />
                            </div>
                            <div class="form-group float-label col-lg-8 ProductComboBoxClass">
                                <label>@Localizer["Product"]</label>
                                @await Component.InvokeAsync("ComboBox", new { name = "Product", controller = partialViewModel.Controller, action = "GetProductList", area = partialViewModel.Area, screen = screen })
                            </div>
                            @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "ProductMultiSelectClass", SingleClass = "ProductComboBoxClass" })
                        </div>
                        <div class="form-row group">
                            <div class="form-group float-label col-xl-8 col-lg-9 ProductCategoryMultiSelectClass" hidden>
                                <label>@Localizer["Product Categories"]</label>
                                @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                           {
                               Name = "ProductCategories_Options",
                               DataTextProperty = "ProductCategory",
                               Controller = partialViewModel.Controller,
                               Area = partialViewModel.Area,
                               Action = "GetProductCategoryList",
                           })
                                <input type="text" asp-for="ProductCategories" id="ProductCategories" hidden />
                            </div>
                            <div class="form-group float-label col-lg-8 ProductCategoryComboBoxClass">
                                <label>@Localizer["Product Category"]</label>
                                @await Component.InvokeAsync("ComboBox", new { name = "ProductCategory", controller = partialViewModel.Controller, action = "GetProductCategoryList", area = partialViewModel.Area, screen = screen })
                            </div>
                            @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "ProductCategoryMultiSelectClass", SingleClass = "ProductCategoryComboBoxClass" })
                        </div>
                        <div class="form-row group">
                            <div class="form-group float-label col-xl-8 col-lg-9 ProductGroupMultiSelectClass" hidden>
                                <label>@Localizer["Product Groups"]</label>
                                @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                           {
                               Name = "ProductGroups_Options",
                               DataTextProperty = "ProductGroup",
                               Controller = partialViewModel.Controller,
                               Area = partialViewModel.Area,
                               Action = "GetProductGroupList",
                           })
                                <input type="text" asp-for="ProductGroups" id="ProductGroups" hidden />
                            </div>
                            <div class="form-group float-label col-lg-8 ProductGroupComboBoxClass">
                                <label>@Localizer["Product Group"]</label>
                                @await Component.InvokeAsync("ComboBox", new { name = "ProductGroup", controller = partialViewModel.Controller, action = "GetProductGroupList", area = partialViewModel.Area, screen = screen })
                            </div>
                            @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "ProductGroupMultiSelectClass", SingleClass = "ProductGroupComboBoxClass" })
                        </div>
                        <div class="form-row group">
                            <div class="form-group float-label col-xl-8 col-lg-9 BrandMultiSelectClass" hidden>
                                <label>@Localizer["Brands"]</label>
                                @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                           {
                               Name = "Brands_Options",
                               DataTextProperty = "Brand",
                               Controller = partialViewModel.Controller,
                               Area = partialViewModel.Area,
                               Action = "GetProductBrandList",
                           })
                                <input type="text" asp-for="Brands" id="Brands" hidden />
                            </div>
                            <div class="form-group float-label col-lg-8 BrandComboBoxClass">
                                <label>@Localizer["Brand"]</label>
                                @await Component.InvokeAsync("ComboBox", new { name = "Brand", controller = partialViewModel.Controller, action = "GetProductBrandList", area = partialViewModel.Area, screen = screen })
                            </div>
                            @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "BrandMultiSelectClass", SingleClass = "BrandComboBoxClass" })
                        </div>
                        <div class="form-row group">
                            @await Component.InvokeAsync("RMultiSelectClient", partialViewModel)
                            <input asp-for="Clients" id="Clients" type="text" hidden value="" />
                            <input asp-for="ClientNames" id="ClientNames" type="text" hidden value="" />
                        </div>

                        <div class="form-row group">
                            @await Component.InvokeAsync("RMultiSelectAttorney", partialViewModel)
                            <input asp-for="Attorneys" id="Attorneys" type="text" hidden value="" />
                            <input asp-for="AttorneyNames" id="AttorneyNames" type="text" hidden value="" />
                        </div>
                        <div class="form-row group">
                            <div class="form-group float-label col-8 TitleMultiSelectClass" hidden>
                                <label id="titleLabel">@Localizer["Titles"]</label>
                                @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                   {
                                       Name = "Titles_Options",
                                       DataTextProperty = "Title",
                                       Controller = partialViewModel.Controller,
                                       Area = partialViewModel.Area,
                                       Action = "GetTitleList",
                                   })
                                <input asp-for="Titles" id="Titles" type="text" hidden value="" />
                            </div>
                            <div class="form-group float-label col-lg-8 TitleComboBoxClass">
                                <label id="titleLabel2">@Localizer["Title"]</label>
                                @await Component.InvokeAsync("ComboBox", new { name = "Title", controller = partialViewModel.Controller, action = "GetTitleList", area = partialViewModel.Area, screen = screen })
                            </div>
                            @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "TitleMultiSelectClass", SingleClass = "TitleComboBoxClass" })
                        </div>
                        @if (isPatRespOfficeOn)
                        {
                            <div class="form-row group">
                                <div class="form-group float-label col-xl-4 col-lg-5 col-md-6 RespOfficeMultiSelectClass" hidden>
                                    <label for="RespOffices">@Localizer["Resp. Offices"]</label>
                                    @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                                    {
                                        Name = "RespOffices_Options",
                                        DataTextProperty = "RespOffice",
                                        Controller = partialViewModel.Controller,
                                        Area = partialViewModel.Area,
                                        Action = "GetRespOfficeList",
                                    })
                                    <input type="text" asp-for="RespOffices" id="RespOffices" hidden />
                                </div>
                                <div class="form-group float-label col-xl-4 col-lg-5 col-md-6 RespOfficeComboBoxClass">
                                    <label for="RespOffice">@Localizer["Resp. Office"]</label>
                                    @await Component.InvokeAsync("ComboBox", new { name = "RespOffice", controller = partialViewModel.Controller, action = "GetRespOfficeList", area = partialViewModel.Area, screen = screen })
                                </div>
                                @await Component.InvokeAsync("SingleMultiSwitcher", new { MultiClass = "RespOfficeMultiSelectClass", SingleClass = "RespOfficeComboBoxClass" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        const formName = "#ReportCriteriaForm";
        ReportCriteriaPage.initialize(formName);
        const form = $(formName);

        const reportPageId = 'ProductIndexReport';

        $(document).off("change", "#ReportFormat");
        $(document).on("change", "#ReportFormat", function (e) {
            ReportCriteriaPage.ReportFormatChange();
        });
        form.find(".email-report").on("click", function (e) { ReportCriteriaPage.emailReport(form) });

        form.find(".search-save").on("click", function () {
            CombineFields();
            pageHelper.getSearchCriteriaScreen(formName, reportPageId, true);
        })
        form.find(".search-load").on("click", function () {
            pageHelper.getSearchCriteriaScreen(formName, reportPageId, false, function (response) {
                form.clearSearch();
                pageHelper.loadSearchCriteria(response, { refineSearchContainer: formName });
                setTimeout(function () { ReportCriteriaPage.showMultiWhenNotEmpty(); }, 1000);
                ReportCriteriaPage.ReportFormatChange();
            });
        })
        if(@ViewBag.LoadDefault.ToString().ToLower()){
            pageHelper.loadDefaultSearchCriteria(formName, reportPageId, { refineSearchContainer: formName });
            setTimeout(function () { ReportCriteriaPage.showMultiWhenNotEmpty(); }, 1000);
            ReportCriteriaPage.ReportFormatChange();
        }
    })

    function printReport(form) {
        cpiLoadingSpinner.show();

        CombineFields()

        ReportCriteriaPage.submitForm(form, "@title");
    }

    function CombineFields() {
        ReportCriteriaPage.combineMultiSelect();
    }

    function PrintCriteriaChanged() {
        var actionDependences = document.querySelectorAll('.CriteriaDependence');

        if (document.getElementById("PrintShowCriteria").checked) {
            actionDependences.forEach(element => {
                element.removeAttribute("disabled");
            });
        }
        else {
            actionDependences.forEach(element => {
                element.setAttribute("disabled", "disabled");
                if(element.type === "checkbox"){
                    element.checked = false;
                }
            });
        }
    }
</script>