@using R10.Web.Areas
@using R10.Web.Areas.Shared.ViewModels.Report;
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@inject ISystemSettings<PatSetting> PatSettings
@inject IAuthorizationService AuthService
@model TradeSecretReportCriteriaViewModel

@{
    var title = Localizer["Trade Secret Report"];
    ViewData["Title"] = title;
    ViewData["ActivePage"] = "ReportCriteriaPage";
    ViewBag.PageId = "tradeSecreReport";

    var settings = await Settings.GetSetting();
    var enableComboPaging = settings.EnableComboBoxPaging;
    var comboPagingSize = settings.ComboBoxPagingSize;
    var reportPageOption = new ReportPageOption { CanPrint = true, CanEmail = true, CanSave = false, CanLoad = false, CanClear = false, Url = ViewBag.Url };
    var patSettings = await PatSettings.GetSetting();
    var isPatTradeSecretOn = patSettings.IsTradeSecretOn;
    var isDMSTradeSecretOn = false;
}

<style>
    .input-validation-error {
    border-color: red;
    }
</style>

<div class="page-main">
    <form method="post"
    id="ReportCriteriaForm"
    data-url="@ViewBag.Url"
    data-token-url="@Url.TokenEndpointLink()"
    data-username="@User.Identity.Name"
    data-email-report-url="@Url.Action("EmailTradeSecretReport","Report", new { Area = "Shared", subjectTitle = title})">
        <input asp-for="token" type="hidden" />
        <div class="container-fluid page-header">
            <div class="row">
                <div class="row col-md-6 col-lg-7" style="padding:0px 0px 0px 0px; margin:0px 0px 0px 0px">
                    <h2>@title</h2>
                    <div class="col-1"></div>
                    <div>
                        <div class="form-group vertical-center">
                            <label for="ReportFormat">@Localizer["Report Format"]</label>
                            @(Html.Kendo().DropDownList()
                                .Name("ReportFormat")
                                .HtmlAttributes(new { style = "width: 100px" })
                                .BindTo(Html.GetEnumSelectList<ReportOutputType>())
                                .Events(events => events.Open("function() {this.element.getKendoDropDownList().list.find('li.k-item').first().hide();}"))
                                )
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5" style="padding:0px 15px 0px 0px; margin:0px 0px 0px 0px">
                    @await Component.InvokeAsync("ReportPageNavLinks", reportPageOption)
                </div>
            </div>
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container-fluid">
            <div class="row col-sm-12">
                <div class="form-group col-md-auto">
                    <label asp-for="ReportOption"><strong>@Localizer["Report Option"]</strong></label><br />
                    <input id ="MasterListReportOption" asp-for="ReportOption" type="radio" value="1" checked>
                    <label for="MasterListReportOption">@Localizer["Master List"]</label><br />
                    <input id ="AccessHistoryReportOption" asp-for="ReportOption" type="radio" value="2">
                    <label for="AccessHistoryReportOption">@Localizer["Access History"]</label><br />
                    <input id ="AccessLevelReportOption" asp-for="ReportOption" type="radio" value="3">
                    <label for="AccessLevelReportOption">@Localizer["Access Level"]</label><br />
                    <input id ="AuditLogReportOption" asp-for="ReportOption" type="radio" value="4">
                    <label for="AuditLogReportOption">@Localizer["Audit Log"]</label><br />
                    <input id ="ViolationsReportOption" asp-for="ReportOption" type="radio" value="5">
                    <label for="ViolationsReportOption">@Localizer["Violation or Breach"]</label><br />
                </div>
                <div class="form-group col-md-auto">
                    <label class="form-check-label"><strong>@Localizer["Systems"]</strong></label>
                    <div class="form-group">
                        @if (Model.PrintDMS == true && isDMSTradeSecretOn == true)
                        {
                            <input id="PrintDMS" asp-for="PrintDMS" type="checkbox" checked />
                            <label for="PrintDMS">@Localizer["Invention Disclosure"]</label><br />
                        }
                        else if (isDMSTradeSecretOn == true)
                        {
                            <input id="PrintDMS" asp-for="PrintDMS" type="checkbox" />
                            <label for="PrintDMS">@Localizer["Invention Disclosure"]</label><br />
                        }
                        @if (Model.PrintPatent && isPatTradeSecretOn == true)
                        {
                            <input id="PrintPatent" asp-for="PrintPatent" type="checkbox" checked />
                            <label for="PrintPatent">@Localizer["Patent"]</label><br />
                        }
                        else if (isPatTradeSecretOn == true)
                        {
                            <input id="PrintPatent" asp-for="PrintPatent" type="checkbox" />
                            <label for="PrintPatent">@Localizer["Patent"]</label><br />
                        }
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        const formName = "#ReportCriteriaForm";
        ReportCriteriaPage.initialize(formName);
        const form = $(formName);

        $(document).off("change", "#ReportFormat");
        $(document).on("change", "#ReportFormat", function (e) {
            ReportCriteriaPage.ReportFormatChange();
        });

        form.find(".email-report").on("click", function (e) { ReportCriteriaPage.emailReport(form) });

        // form.find(".search-save").on("click", function () {
        //     CombineFields();
        //     pageHelper.getSearchCriteriaScreen(formName, reportPageId, true);
        // })
        // form.find(".search-load").on("click", function () {
        //     pageHelper.getSearchCriteriaScreen(formName, reportPageId, false, function (response) {
        //         form.clearSearch();
        //         pageHelper.loadSearchCriteria(response, { refineSearchContainer: formName });
        //         setTimeout(function () { ReportCriteriaPage.showMultiWhenNotEmpty(); }, 1000);
        //         ReportCriteriaPage.ReportFormatChange();
        //     });
        // })
        // if(@ViewBag.LoadDefault.ToString().ToLower()){
        //     pageHelper.loadDefaultSearchCriteria(formName, reportPageId, { refineSearchContainer: formName });
        //     setTimeout(function () { ReportCriteriaPage.showMultiWhenNotEmpty(); }, 1000);
        //     ReportCriteriaPage.ReportFormatChange();
        // }
    })

    function printReport(form) {
        const tokenUrl = form.data("token-url");
        const username = form.data("username");

        cpiLoadingSpinner.show();
        //get token
        $.ajax({
            url: tokenUrl,
            data: { username: username, password: "_", grant_type: "password" },
            type: "POST",
            contentType: "application/x-www-form-urlencoded",
            success: function (result) {
                cpiLoadingSpinner.hide();

                //set token value
                form.find("#token").val(result.access_token);
                ReportCriteriaPage.submitFormWithToken(form, "@title");
            },
            error: function (error) {
                cpiLoadingSpinner.hide();
                pageHelper.showErrors(error);
            }
        });
    }

    function CombineFields() {
       
    }
</script>