@model PatCountryDue
@inject IStringLocalizer<SharedResource> Localizer
@{
    var id = Model.CDueId;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    var screen = ViewData["PageId"];

    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
}
<form cpi-detail-form action="Save">
    <input type="hidden" asp-for="CDueId" />
    @if (!addMode)
    {
        <input type="hidden" asp-for="Country" />
        <input type="hidden" asp-for="CaseType" />
    }
    @if (addMode)
    {
        <input type="hidden" name="IsNewRecord" value="true" class="boolean" />
    }
    <input type="hidden" name="OriginalSystems" value="@(addMode ? "__NEW__" : (string.IsNullOrEmpty(Model.Systems) ? "__EMPTY__" : Model.Systems))" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="Country"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="Country" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", ComboBoxHelper.CountryWithLink("Country", countryLabel, countryNameLabel, Model.Country))
                        <span asp-validation-for="Country"></span>
                    }
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="CaseType"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="CaseType" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "CaseType", controller = "CaseType", area = "Patent", action = "GetPicklistData", defaultValue = Model.CaseType })
                        <span asp-validation-for="CaseType"></span>
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="form-group float-label">
                    <label asp-for="ActionType"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="ActionType" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="ActionType"></span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div class="form-group float-label">
                    <label asp-for="ActionDue"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="ActionDue" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="ActionDue"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="BasedOn"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="BasedOn" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "BasedOn", defaultValue = Model.BasedOn })
                        <span asp-validation-for="BasedOn"></span>
                    }
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="Indicator"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="Indicator" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox",
                                 new
                                 {
                                     name = "Indicator",
                                     action = "GetPicklistData",
                                     controller = "Indicator",
                                     textProperty = "Indicator",
                                     defaultValue = Model.Indicator
                                 })
                        <span asp-validation-for="Indicator"></span>
                    }
                </div>
            </div>
        </div>
        <div class="form-row align-items-end">
            <div class="col-4 col-sm-3 col-md-2 col-lg-1" style="min-width:80px;">
                <div class="form-group float-label mb-2">
                    <label asp-for="Yr"></label>
                    @if (isReadOnly)
                    {
                        <input type="number" class="form-control form-control-sm" asp-for="Yr" readonly />
                    }
                    else
                    {
                        <input type="number" class="form-control form-control-sm" name="Yr" id="Yr" value="@Model.Yr" min="0" style="width: 100%" />
                        <span asp-validation-for="Yr"></span>
                    }
                </div>
            </div>
            <div class="col-4 col-sm-3 col-md-2 col-lg-1" style="min-width:80px;">
                <div class="form-group float-label mb-2">
                    <label asp-for="Mo"></label>
                    @if (isReadOnly)
                    {
                        <input type="number" class="form-control form-control-sm" asp-for="Mo" readonly />
                    }
                    else
                    {
                        <input type="number" class="form-control form-control-sm" name="Mo" id="Mo" value="@Model.Mo" min="0" max="12" style="width: 100%" />
                        <span asp-validation-for="Mo"></span>
                    }
                </div>
            </div>
            <div class="col-4 col-sm-3 col-md-2 col-lg-1" style="min-width:80px;">
                <div class="form-group float-label mb-2">
                    <label asp-for="Dy"></label>
                    @if (isReadOnly)
                    {
                        <input type="number" class="form-control form-control-sm" asp-for="Dy" readonly />
                    }
                    else
                    {
                        <input type="number" class="form-control form-control-sm" name="Dy" id="Dy" value="@Model.Dy" min="0" max="31" style="width: 100%" />
                        <span asp-validation-for="Dy"></span>
                    }
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-2">
                <div class="form-group float-label">
                    <label asp-for="Recurring"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" value="@(((RecurringOption)Model.Recurring).GetDisplayName())" disabled />
                    }
                    else
                    {
                        @(Html.Kendo().ComboBox()
                            .Name("Recurring")
                            .Text(((RecurringOption)Model.Recurring).GetDisplayName())
                            .Value(Model.Recurring.ToString())
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .BindTo(Html.GetEnumSelectList<RecurringOption>().OrderBy(o => o.Text))
                            .Events(e => e.Change("pageHelper.handleComboBoxInvalidEntry"))
                            .HtmlAttributes(new { style = "width: 100%", id = $"Recurring_{screen}" })
                            )
                        <span asp-validation-for="Recurring"></span>
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-2">
                <div class="form-check mt-2">
                    <input type="checkbox" class="k-checkbox" asp-for="CPIAction" disabled="@(isReadOnly ? "disabled" : null)" />
                    <label class="k-checkbox-label" asp-for="CPIAction">@Localizer["CPI Action"]</label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check mt-2">
                    <input type="checkbox" class="k-checkbox" asp-for="Calculate" disabled="@(isReadOnly ? "disabled" : null)" />
                    <label class="k-checkbox-label" asp-for="Calculate">@Localizer["Calculate"]</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="EffBasedOn"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="EffBasedOn" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "EffBasedOn", defaultValue = Model.EffBasedOn })
                        <span asp-validation-for="EffBasedOn"></span>
                    }
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="EffStartDate"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" value="@Model.EffStartDate?.ToString("d")" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("DatePicker", new DatePickerOptions("EffStartDate") { Value = Model.EffStartDate })
                        <span asp-validation-for="EffStartDate"></span>
                    }
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="EffEndDate"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" value="@Model.EffEndDate?.ToString("d")" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("DatePicker", new DatePickerOptions("EffEndDate") { Value = Model.EffEndDate })
                        <span asp-validation-for="EffEndDate"></span>
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group float-label">
                    <label asp-for="Systems"></label>
                    @await Html.PartialAsync("~/Views/Shared/_SystemsDropdown.cshtml", null, new ViewDataDictionary(ViewData) {
                        { "SystemsValue", Model.Systems },
                        { "SystemsPrefix", "cdue" },
                        { "SystemsAction", Url.Action("GetSystemList") },
                        { "SystemsReadOnly", isReadOnly }
                    })
                </div>
            </div>
        </div>
    </div>

    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.UserID" date-created="@Model.DateCreated" updated-by="@Model.UserID" last-update="@Model.LastUpdate" t-stamp="null"></vc:record-stamps>
        </div>
    }
</form>

<script>
    patCountryDuePage.afterInsert = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    patCountryDuePage.showDetails = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
</script>

<script>
    $(document).ready(function() {
        $('.page-nav.add-record').off('click').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = $(this).data('url');
            if (url) pageHelper.openLink(url, true);
        });
    });
</script>
