@model PageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@{
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
}
<div class="tab-content search page-content">
    <div class="tab-pane show active" id="countryDueSearchMainTabContent" aria-labelledby="countryDueSearchMainTab" role="tabpanel">
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Country">@Localizer["Country"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Country", multiSelect = true })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="CaseType">@Localizer["Case Type"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "CaseType", multiSelect = true })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="ActionType">@Localizer["Action Type"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "ActionType", multiSelect = true })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="ActionDue">@Localizer["Action Due"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "ActionDue", multiSelect = true })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="BasedOn">@Localizer["Based On"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "BasedOn", multiSelect = true })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Indicator">@Localizer["Indicator"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Indicator", multiSelect = true })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="SystemName">@Localizer["Systems"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "SystemName", controller = "System", area = "Shared", action = "GetPicklistData", multiSelect = true })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="UserID">@Localizer["User ID"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "UserID", multiSelect = true })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <label for="CPIAction">@Localizer["CPI Action"]</label>
                <div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline">
                            <input type="radio" name="CPIAction" class="form-control" value="true" data-role="option"> @Localizer["Yes"]
                        </label>
                        <label class="btn btn-outline">
                            <input type="radio" name="CPIAction" class="form-control" value="false" data-role="option"> @Localizer["No"]
                        </label>
                        <label class="btn btn-outline active">
                            <input type="radio" name="CPIAction" class="form-control" value="" data-role="option"> @Localizer["All"]
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="Calculate">@Localizer["Calculate"]</label>
                <div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline">
                            <input type="radio" name="Calculate" class="form-control" value="true" data-role="option"> @Localizer["Yes"]
                        </label>
                        <label class="btn btn-outline">
                            <input type="radio" name="Calculate" class="form-control" value="false" data-role="option"> @Localizer["No"]
                        </label>
                        <label class="btn btn-outline active">
                            <input type="radio" name="Calculate" class="form-control" value="" data-role="option"> @Localizer["All"]
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="EffStartDateFrom">@Localizer["Eff Start Date From"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("EffStartDateFrom"))
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="EffStartDateTo">@Localizer["Eff Start Date To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("EffStartDateTo"))
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="EffEndDateFrom">@Localizer["Eff End Date From"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("EffEndDateFrom"))
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="EffEndDateTo">@Localizer["Eff End Date To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("EffEndDateTo"))
                </div>
            </div>
        </div>
    </div>
</div>