@model WidgetViewModel
@inject IStringLocalizer<SharedResource> Localizer

@if (Model.Id != 0)
{    
    <intput type="hidden" id="dummyWidget-@Model.Id"/>
    @if (Model.ViewMode == 2)
    {
        <script>
            var widget = $("#@Model.Id.ToString()");            
            if (widget && widget.length > 0) {
                widget.addClass("double-width");
            }
            else {                
                var dummyWidget = $("#dummyWidget-@Model.Id");
                if (dummyWidget) {
                    widget = dummyWidget.closest(".widget");
                    if (widget) widget.addClass("double-width");
                }
            }

            //$("#@Model.Id.ToString()").addClass("double-width");            
        </script>
    }
    @if (Model.RowSpan == 2)
    {
        <script>
            var widget = $("#@Model.Id.ToString()");
            if (widget && widget.length > 0) {
                widget.addClass("double-row");
            }
            else {
                var dummyWidget = $("#dummyWidget-@Model.Id");
                if (dummyWidget) {
                    widget = dummyWidget.closest(".widget");
                    if (widget) widget.addClass("double-row");
                }
            }
        </script>
    }
    <div class="widget-header">        
        <div class="row">
            <div class="col">                
                <span class="widget-title" title="@Model.Title">@Model.Title</span>
                <span class="widget-actions">
                    <i class="remove fal fa-times" title="@Localizer["Remove"]"></i>
                    @if (Model.CreatorId != null && Model.CreatorId == User.GetUserIdentifier())
                    {
                        <i class="delete fal fa-trash-alt" title="@Localizer["Delete"]"></i>
                    }
                    <i class="refresh fal fa-sync" title="@Localizer["Refresh"]"></i>
                    <i class="settings fal fa-cog" title="@Localizer["Settings"]"></i>
                    @if (Model.CanCopy)
                    {
                        <i class="copy fal fa-copy" title="@Localizer["Copy"]"></i>
                    }
                    @if (Model.CanExpand)
                    {
                        <i class="view fal fa-expand-alt" title="@Localizer["Expand view"]"></i>
                    }
                    @if (Model.CanEmail)
                    {
                        <i class="fal fa-envelope pr-1 emailBtn" data-widgetid="@Model.Id" data-viewname="@Model.ViewName" data-title="@Model.Title" title="@Localizer["Email"]"></i>
                    }
                    @if (Model.CanExportExcel)
                    {
                        <i class="fal fa-file-excel pr-1 exportExcel" data-widgetid="@Model.Id" title="@Localizer["Export to Excel"]"></i>
                    }
                    @if (Model.CanExportPDF)
                    {
                        <i class="fal fa-file-pdf pr-1 exportPDF" data-widgetid="@Model.Id" data-viewname="@Model.ViewName" title="@Localizer["Export to PDF"]"></i>
                    }
                    @if (Model.CanExportPpt)
                    {
                        <i class="fal fa-file-powerpoint pr-1 exportPPT" data-widgetid="@Model.Id" data-viewname="@Model.ViewName" data-title="@Model.Title" title="@Localizer["Export to PowerPoint"]"></i>
                        <input type="hidden" id="viewMode_@Model.Id" value="@Model.ViewMode" />
                    }
                    @if (Model.CanDrillDown)
                    {
                        <i class="fal fa-sort-amount-down-alt pr-1 widgetDrillDown-@Model.Id" data-widgetid="@Model.Id" title="@Localizer["Detail"]"></i>
                    }
                    @if (Model.CanExportPpt)
                    {
                        <i class="fal fa-square pr-1 pptChkBox" data-widgetid="@Model.Id" data-viewname="@Model.ViewName" data-title="@Model.Title" title="@Localizer["Add to list for export to PowerPoint"]"></i>
                    }
                    @if (Model.CanEditTitle)
                    {
                        <i class="fal fa-pencil pr-1 editTitlePencil" data-widgetid="@Model.Id" data-viewname="@Model.ViewName" data-title="@Model.Title" title="@Localizer["Edit Widget Title"]"></i>
                    }
                </span>
            </div>            
        </div>
        <div class="row d-none" id="editTitleRow-@Model.Id">
            <div class="col">
                <div class="form-group float-label">
                    <i class="fal fa-pencil fa-sm titleInput" id="titleEditIcon-@Model.Id"></i>
                    <input class="non-sortable form-control widgetTitleInput" maxlength="256" type="text" id="widgetTitle-@Model.Id" data-id="@Model.Id" data-default-value="@Model.Title" value="@Model.Title"/>  
                </div>    
                <span class="k-clear-value widgetTitleIcon" id="saveTitleIcon-@Model.Id" title="@Localizer["Save"]"><i data-widgetid="@Model.Id" class="k-icon fal fa-check widgetTitleSaveIcon"></i></span>
                <span class="k-clear-value widgetTitleIcon" id="clearTitleIcon-@Model.Id" title="@Localizer["Clear"]"><i data-widgetid="@Model.Id" class="k-icon fal fa-times widgetTitleClearIcon"></i></span>               
            </div>
        </div>
    </div>
    <div class="widget-content non-sortable" data-id="@Model.Id" data-widget-id="@Model.WidgetId" @(Model.NextId == 0 ? "" : $"data-next-id={Model.NextId}")>
        @await Html.PartialAsync(Model.ViewName, Model.Data, new ViewDataDictionary(this.ViewData) { { "WidgetViewModel", Model } })
    </div>

    @if (Model.CanDrillDown)
    {
        <form id="drillDownForm-@Model.Id" method="post" action="@Url.Action("WidgetDetail", "Dashboard")" target="_blank">
            <input type="hidden" id="drillDown-@Model.Id" name="widgetId" value="@Model.Id"/>            
        </form>
    }
}
@if (Model.CanExportExcel || Model.CanExportPDF || Model.CanDrillDown || Model.CanExportPpt || Model.CanEmail)
{
<script>
    $(document).ready(function () {
        $(document).off("click", ".pptChkBox");
        $(document).on("click", ".pptChkBox", function (e) {
            const widgetId = $(e.target).data("widgetid");
            const viewName = $(e.target).data("viewname").split("/");
            const widgetName = widgetId + viewName[viewName.length - 1];
            if (e.target.classList.contains('fa-square')) {               
                e.target.classList.replace('fa-square', 'fa-check-square');
            }
            else {                
                e.target.classList.replace('fa-check-square', 'fa-square');
            }            
        });

        $(document).off("click", ".exportExcel");
        $(document).on("click", ".exportExcel", function (e) {
            var linkUrl = '@Url.Action("GetUserWidgetDataToExport", "Dashboard", new { userWidgetId = "-1" })';
            linkUrl = linkUrl.replace("-1", $(e.target).data("widgetid"));
            window.location = linkUrl;
        });

        $(document).off("click", ".exportPDF");
        $(document).on("click", ".exportPDF", function (e) {
            const widgetId = $(e.target).data("widgetid");
            const viewName = $(e.target).data("viewname").split("/");
            const widgetName = widgetId + viewName[viewName.length - 1];

            var kendoChart = $("#" + widgetName).data("kendoChart");
            if (kendoChart) { kendoChart.saveAsPDF(); }

            var kendoMap = $("#" + widgetName).data("kendoMap");
            if (kendoMap) {
                kendo.drawing.drawDOM($("#" + widgetName))
                .then(function (group) {
                    // Render the result as a PDF file
                    return kendo.drawing.exportPDF(group, {
                        paperSize: "auto",
                        margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                    });
                })
                .done(function (data) {
                    // Save the PDF file
                    kendo.saveAs({
                        dataURI: data,
                        fileName: "Map.pdf",
                        proxyURL: "@Url.Action("ExportToExcel", "Dashboard")",
                        forceProxy: true
                    });
                });
            }
        });

        $(document).off("click", ".exportPPT");
        $(document).on("click", ".exportPPT", function (e) {
            const widgetId = $(e.target).data("widgetid");
            const viewName = $(e.target).data("viewname").split("/");
            const widgetName = widgetId + viewName[viewName.length - 1];            
            const viewMode = $("#viewMode_" + widgetId).val(); 
            var fileType = "|chart";
            if (viewMode == 2) {
                fileType = "|map";
            }

            var kendoChart = $("#" + widgetName).data("kendoChart");
            if (kendoChart) {
                kendo.drawing.drawDOM($("#" + widgetName))
                .then(function (group) {
                    // Render the result as a png file
                    return kendo.drawing.exportImage(group, {
                        paperSize: "auto",
                        margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                    });
                })
                .done(function (data) {
                    // Save file
                    @*$.ajax({
                        type: "POST",
                        url: "@Url.Action("ExportToPowerPoint", "Dashboard")",
                        data: { fileData: data }
                    });*@                    
                    kendo.saveAs({
                        dataURI: data,
                        fileName: $(e.target).data("title") + fileType,
                        proxyURL: "@Url.Action("ExportToPowerPoint", "Dashboard")",
                        forceProxy: true
                    });
                });
            }

            var kendoMap = $("#" + widgetName).data("kendoMap");
            if (kendoMap) {
                kendo.drawing.drawDOM($("#" + widgetName))
                .then(function (group) {
                    // Render the result as a PDF file
                    return kendo.drawing.exportImage(group, {
                        paperSize: "auto",
                        margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                    });
                })
                .done(function (data) {
                    // Save the PDF file
                    kendo.saveAs({
                        dataURI: data,
                        fileName: $(e.target).data("title") + "|map",
                        proxyURL: "@Url.Action("ExportToPowerPoint", "Dashboard")",
                        forceProxy: true
                    });
                });
            }
        });

        $(document).off("click", ".widgetDrillDown-@Model.Id");
        $(document).on("click", ".widgetDrillDown-@Model.Id", function (e) {
            $("#drillDownForm-@Model.Id").submit();
        });


        $(document).off("click", ".emailBtn");
        $(document).on("click", ".emailBtn", function (e) {
            const widgetId = $(e.target).data("widgetid");
            const viewName = $(e.target).data("viewname").split("/");
            const widgetName = widgetId + viewName[viewName.length - 1];            
            const viewMode = $("#viewMode_" + widgetId).val(); 
            var widgetTitle = $(e.target).data("title");

            var kendoChart = $("#" + widgetName).data("kendoChart");
            if (kendoChart) {
                kendo.drawing.drawDOM($("#" + widgetName))
                .then(function (group) {
                    // Render the result as a png file
                    return kendo.drawing.exportImage(group, {
                        paperSize: "auto",
                        margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                    });
                })
                .done(function (data) {                                                        
                    var emailBody = '<img src="X"/>';
                    emailBody = emailBody.replace("X", data).toString();
                    var dataTemp = { emailSubject: widgetTitle, emailBody: emailBody }
                    $.ajax({                           
                        type: 'POST',
                        data: dataTemp,
                        url: "@Url.Action("EmptyQuickEmail", "QuickEmail", new { area = "Shared" })",                        
                        success: function (result) {
                            const popupContainer = $(".cpiContainerPopup").last();
                            popupContainer.html(result);
                            const dialog = $("#quickEmailDialog");
                            dialog.modal("show");
                            dialog.find("#ok, #cancel,.close").on("click", () => { $(".modal-backdrop").remove(); });
                        },
                        error: function (error) {
                            pageHelper.showErrors(error);                                 
                        }
                    });
                });
            } 
            
            var kendoMap = $("#" + widgetName).data("kendoMap");
            if (kendoMap) {
                kendo.drawing.drawDOM($("#" + widgetName))
                .then(function (group) {
                    // Render the result as a PDF file
                    return kendo.drawing.exportImage(group, {
                        paperSize: "auto",
                        margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                    });
                })
                .done(function (data) {
                    var emailBody = '<img src="X"/>';
                    emailBody = emailBody.replace("X", data).toString();
                    var dataTemp = { emailSubject: widgetTitle, emailBody: emailBody }
                    $.ajax({                           
                        type: 'POST',
                        data: dataTemp,
                        url: "@Url.Action("EmptyQuickEmail", "QuickEmail", new { area = "Shared" })",                        
                        success: function (result) {
                            const popupContainer = $(".cpiContainerPopup").last();
                            popupContainer.html(result);
                            const dialog = $("#quickEmailDialog");
                            dialog.modal("show");
                            dialog.find("#ok, #cancel,.close").on("click", () => { $(".modal-backdrop").remove(); });
                        },
                        error: function (error) {
                            pageHelper.showErrors(error);                                 
                        }
                    });
                });
            }
        });
    })
</script>
}

@if (Model.CanEditTitle)
{
    <script>
        $(document).ready(function () {
            $(document).off("click", ".editTitlePencil");
            $(document).on("click", ".editTitlePencil", function (e) {
                const widgetId = $(e.target).data("widgetid");
                const viewName = $(e.target).data("viewname").split("/");
                const widgetName = widgetId + viewName[viewName.length - 1];
                    const titleValue = $(e.target).data("title");
                var widgetTitle = $("#" + widgetId + " .widget-header .widget-title");                

                var editRow = $("#editTitleRow-" + widgetId);
                if (editRow) {
                    if (editRow.hasClass("d-none")) {                        
                        var titleInput = $('#widgetTitle-' + widgetId);            
                        titleInput.val(widgetTitle.text());
                        editRow.removeClass("d-none");
                        widgetTitle.text("");
                    }                        
                    else {                        
                        widgetTitle.text(titleValue);
                        widgetTitle.removeClass("d-none");
                        editRow.addClass("d-none");                        
                    }
                        
                }                
            }); 
        })
    </script>
}