@model WidgetViewModel
@inject IStringLocalizer<SharedResource> Localizer

@if (Model.Id != 0)
{
    <div class="widget-header" style="text-align:center;">
        <span class="widget-title">@Model.Title</span>
        <span class="widget-actions" style="margin-left:10%;">
            <i class="refresh fal fa-sync" title=@Localizer["Refresh"] style="cursor:pointer;"></i>
            <i class="settings fal fa-cog" title=@Localizer["Settings"] style="cursor:pointer;"></i>
            @if (Model.CanExportExcel)
            {
                <i class="fal fa-file-excel pr-2 exportExcel" data-widgetid="@Model.Id" title=@Localizer["Export to Excel"] style="cursor:pointer;"></i>
            }
            @if (Model.CanExportPDF)
            {
                <i class="fal fa-file-pdf pr-2 exportPDF" data-widgetid="@Model.Id" data-viewname="@Model.ViewName" title=@Localizer["Export to PDF"] style="cursor:pointer;"></i>
            }
        </span>
    </div>
    <div class="widget-content" data-id="@Model.Id">
        @await Html.PartialAsync(Model.ViewName, Model.Data, new ViewDataDictionary(this.ViewData) { { "WidgetViewModel", Model } })
    </div>
    <div class="cpiContainerPopup"></div>
}
@if (Model.CanExportExcel || Model.CanExportPDF)
{
    <script>
    $(document).ready(function () {
        $(document).off("click", ".exportExcel");
        $(document).on("click", ".exportExcel", function (e) {
            var linkUrl = '@Url.Action("GetUserWidgetDataToExport", "Dashboard", new { userWidgetId = "-1" })';
            linkUrl = linkUrl.replace("-1", $(e.target).data("widgetid"));
            window.location = linkUrl;
        });

        $(document).off("click", ".exportPDF");
        $(document).on("click", ".exportPDF", function (e) {
            const widgetId = $(e.target).data("widgetid");
            const viewName = $(e.target).data("viewname").split("/");
            const widgetName = widgetId + viewName[viewName.length - 1];

            var kendoChart = $("#" + widgetName).data("kendoChart");
            if (kendoChart) { kendoChart.saveAsPDF(); }

            var kendoMap = $("#" + widgetName).data("kendoMap");
            if (kendoMap) {
                kendo.drawing.drawDOM($("#" + widgetName))
                .then(function (group) {
                    // Render the result as a PDF file
                    return kendo.drawing.exportPDF(group, {
                        paperSize: "auto",
                        margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                    });
                })
                .done(function (data) {
                    // Save the PDF file
                    kendo.saveAs({
                        dataURI: data,
                        fileName: "Map.pdf",
                        proxyURL: "@Url.Action("ExportToExcel", "Dashboard")"
                    });
                });
            }
        });
    })
    </script>
}
