@using Microsoft.AspNetCore.Authorization;
@using R10.Core.Entities.Patent;
@using R10.Core.Entities.Trademark;
@using R10.Web.Models.DashboardViewModels;
@using R10.Web.Security;
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<PatSetting> PatSettings
@inject ISystemSettings<TmkSetting> TmkSettings
@inject IAuthorizationService AuthService
@{    
    var userTypes = Html.GetUserTypeSelectList(User).ToList();
    
    var title = ViewData["Title"].ToString();
    var container = ViewData["PageId"].ToString();
}
<script src="~/lib/jquery/jquery.waypoints.min.js"></script>
<script src="~/lib/jquery/inview.min.js"></script>
<div class="dashboard-wrap">
<div class="default-widgets-header d-flex">
    <div class="user-type mr-auto">        
        <div class="form-group float-label">
            <label for="UserType">@Localizer["User Type"]</label>
            @(Html.Kendo().DropDownList()
                                    .Name("UserType")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .BindTo(userTypes.OrderBy(u => u.Text))
                                    .Events(e => e.Change("userTypeOnChange"))
                                    )
        </div>
    </div>    
    <div class="widgetCategories form-row">        
        @foreach(var category in WidgetCategory.Categories.Where(c => c.Id != WidgetCategory.CustomWidgetsCategoryId).OrderBy(c => c.SortOrder))
        {
            <div class="form-group">
                <input id="@category.Name" type="radio" name="widgetCat" value="@category.Id" @(category.Id == WidgetCategory.DefaultCategoryId ? "checked" : "") />
                <label class="widgetCatLbl" for="@category.Name"><i class="@category.Icon widgetCatIcon"></i>@Localizer[category.DisplayName]</label>
            </div>
        }
        <div class="form-group">
            <nav class="nav pt-2">
                <a id="removeWidgets" class="nav-link" href="#" role="button"><i class="fal fa-minus pr-2"></i>@Localizer["Clear Widgets"]</a>
            </nav>
        </div>
        <div class="form-group">
            <nav class="nav pt-2">
                <a id="addDefaultWidgetPopup" class="nav-link" href="#" role="button"><i class="fal fa-plus pr-2"></i>@Localizer["Add Widget"]</a>
            </nav>
        </div>
    </div>
</div>

<div id="dashboard">
</div>
@(Html.Kendo().Sortable()
                    .For("#dashboard")
                    //.Filter(">div")
                    .Filter(".widget")
                    .Handler(".widget-title")
                    //.Cursor("move")
                    .PlaceholderHandler("widgetPlaceholder")
                    .HintHandler("widgetHint")
                    .Events(e => e.Change("widgetsOnChange"))
)
</div>
<div class="cpiContainerPopup"></div>
<script>
    var catWidgetList = [];
    var widgetList = [];

    $(window).resize(function () {
        kendo.resize($("div.k-chart[data-role='chart']"));
    });

    function getWidgetCategory() {
        return $(':radio[name=widgetCat]:checked').val();
    }

    function getUserType() {
        return $("#UserType").data("kendoDropDownList").value();
    }

    function userTypeOnChange(e) {        
            $("#dashboard").empty();
            loadWidget();
    }

    function loadWidget(id, queueNext) {
        if (id != null && $(`#${id}`).length > 0) {
            return;
        }

        var $widget = $("<div>", { id: id, "class": "widget" });
        $widget.html("<div class='widget-spinner text-center'><h4><span>Loading</span><i class='ml-2 fa fa-circle-notch fa-spin'></i></h4></div><div class='widget-container'></div>");

        $("#dashboard").append($widget);

        var inview = new Waypoint.Inview({
            element: $widget,
            enter: function (direction) {
                if (!$widget.hasClass("loaded")) {
                    $widget.addClass("loaded");
                    
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetWidget", "DefaultWidgets")",
                        data: { id: id, queueNext: queueNext, widgetCategory: getWidgetCategory(), userType: getUserType()},
                        dataType: "html",
                        success: function (data) {
                            var $container = $widget.find(".widget-container");
                            $widget.find(".widget-spinner").hide();

                            if (id == null) {
                                $container.hide();
                            }

                            if (data.trim()) {
                                $container.append(data);
                            }
                            else {
                                $widget.remove();
                            }

                            if (id == null) {
                                $widget.attr("id", $widget.find(".widget-content").data("id"));
                                $container.empty();
                                $container.show();
                                $container.append(data);
                            }

                            checkSettings($widget);

                            var nextId = $widget.find(".widget-content").data("next-id");
                            if (nextId != null) {
                                loadWidget(nextId, true);
                            }
                        },
                        error: function (data) {
                            $widget.remove();
                            if (id != null) {
                                cpiAlert.warning("@Localizer["Unable to load widget. Please try again."]");
                            }
                        }
                    });
                }
            },
            enable: false
        });
    }

    function widgetPlaceholder(element) {
        return element.clone().addClass("widget-placeholder");
    }

    function widgetHint(element) {
        return element.clone().addClass("widget-hint")
            .height(element.height())
            .width(element.width());
    }

    function widgetsOnChange(e) {
        var widget = e.item;
        var id = widget.attr("id");
        var newIndex = e.newIndex;
        var oldIndex = e.oldIndex;;

        $.ajax({
            type: "POST",
            url: "@Url.Action("SortDefaultWidget", "DefaultWidgets")",
            data: { id: id, newIndex: newIndex, widgetCategory: getWidgetCategory(), userType: getUserType() },
            dataType: "json",
            success: function (response) {
            },
            error: function (error) {
                cpiAlert.warning(pageHelper.getErrorMessage(error));
            }
        });
    }

    function checkSettings(widget) {
        var settings = widget.find(".widget-settings");

        if (settings.length) {
            settings.hide();
        } else {
            widget.find(".widget-header .settings").remove();
        }

        var view = widget.find(".widget-header .view")

        if (view != null) {
            if (widget.hasClass("double-width")) {
                view.addClass("fa-compress-alt");
                view.removeClass("fa-expand-alt");
                view.attr("title", "Compress view");
            }
        }
    }
   
    function getWidgetTempSetting(widgetId) {
        throw new Error("This feature is not yet implemented.");
    }

    $(document).ready(function () {       
        const container = "#@container";
        const sidebar = pageHelper.initializeSidebarPage(`${container} .page-sidebar`, `${container} .page-main`);
        pageHelper.moveBreadcrumbs(container);
        window.cpiBreadCrumbs.addNode({
            name: container,
            label: "@title",
            url: "",
            updateHistory: true
        });

        @((bool)ViewData["HasWidgets"] ? "loadWidget();" : "")      

        $(':radio[name=widgetCat]').change(function () {
            $("#dashboard").empty();
            loadWidget();

        });

        $(document).on("click", ".widget .remove", function (e) {
            cpiConfirm.delete(window.cpiBreadCrumbs.getTitle(), "@Localizer["Are you sure you want to remove this widget?"]", () => {                
                var widget = $(e.target).closest(".widget");
                var id = widget.attr("id");

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RemoveWidget", "DefaultWidgets")",
                    data: { id: id, widgetCategory: getWidgetCategory(), userType: getUserType() },
                    dataType: "json",
                    success: function (response) {
                        widget.fadeOut();
                        widget.remove();
                    },
                    error: function (error) {
                        cpiAlert.warning(pageHelper.getErrorMessage(error));
                    }
                });
            });
        });

        $(document).on("click", "#removeWidgets", function (e) {
            if ($("#dashboard").find(".widget").length <= 0)
                return;

            cpiConfirm.delete(window.cpiBreadCrumbs.getTitle(), "@Localizer["Are you sure you want to remove all widgets in this category?"]", () => {                
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RemoveWidgetsByCategory", "DefaultWidgets")",
                    data: { widgetCategory: getWidgetCategory(), userType: getUserType() },
                    dataType: "html",
                    success: function (response) {
                        $("#dashboard").empty();
                        loadWidget();
                    },
                    error: function (error) {
                        cpiAlert.warning(pageHelper.getErrorMessage(error));
                    }
                });
            });
        });

        //open widget popup
        $(document).on("click", "#addDefaultWidgetPopup", function (e) {
            cpiLoadingSpinner.show();
            $.get("@Url.Action("DefaultWidgetSetting", "DefaultWidgets")", { userType: getUserType()})
                .done(function (response) {  
                    const popupContainer = $(".cpiContainerPopup").last();
                    popupContainer.html("");
                    popupContainer.html(response);

                    const dialog = $("#defaultWidgetSettingDialog");
                    dialog.unbind();
                    dialog.modal("show");
                    cpiLoadingSpinner.hide();

                    dialog.on('hidden.bs.modal', function (e) {
                        dialog.remove();
                        popupContainer.html("");                        
                        $("#dashboard").empty();
                        loadWidget();
                    })

                    catWidgetList = [];
                    widgetList = [];
                })
                .fail(function (error) {
                    cpiLoadingSpinner.hide();
                    pageHelper.showErrors(error);
                });
        });
    });  
</script>

<style>
    .widgetCategories input {
        margin: 0;
        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .widgetCategories {
        margin-top: 8px;
        display: flex;
        justify-content: flex-end
    }

        .widgetCategories .form-group .nav-link {
            padding-top: 2px;
            font-size: .9rem;
        }

        .widgetCategories input:active + .widgetCatLbl {
            opacity: .9;
        }

        .widgetCategories input:checked + .widgetCatLbl {
            -webkit-filter: none;
            -moz-filter: none;
            filter: none;
        }

    .widgetCatLbl {
        margin-right: 25px;
        font-size: 0.9rem;
        cursor: pointer;
        background-size: contain;
        background-repeat: no-repeat;
        -webkit-transition: all 100ms ease-in;
        -moz-transition: all 100ms ease-in;
        transition: all 100ms ease-in;
        -webkit-filter: brightness(1.8) grayscale(1);
        -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
        filter: brightness(1.8) grayscale(1) opacity(.7);
    }

        .widgetCatLbl:hover {
            -webkit-filter: brightness(1.2) grayscale(.5);
            -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
        }

    #widgetList .k-menu-expand-arrow {
        right: 0px;
    }

    .widgetCatIcon {
        font-size: 20px;
        padding-right: 5px;
    }

    .default-widgets-header {
        padding-left: 11px;
    }
    .default-widgets-header .user-type {        
        min-width: 200px;
        padding-right: 20px;
    }

    #defaultWidgets .dashboard-wrap {
        padding: 0 8px;
    }
</style>