@model DocIDSNonPatLitDTO
@inject IStringLocalizer<SharedResource> Localizer

@{
    var docLink = Model.DocumentLink.Split("|");
    var system = docLink[0];
    var screenCode = docLink[1];
    var key = docLink[3] != null ? Convert.ToInt32(docLink[3]) : 0;

    var zoomUrl = @Url.Action("ZoomDocument", "DocViewer", new { fileName = Model.DocFileName, system = system, screenCode, key, fileType = ImageHelper.CPiSavedFileType.IDSReferences });
}


<div class="page-content">
    <div class="form-row">
        <div class="col">
            @*<span id="qeLogHeader" style="font-weight:600">@Model.TemplateName</span>*@
        </div>
        <div class="col d-flex justify-content-end">
            <span style="font-style: italic">@Localizer["IDS Non-Patent Literature"]</span>
        </div>
    </div>
</div>

<div>
    <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" id="userFolderTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="relCasesDetailTab" data-toggle="tab" role="tab" aria-controls="relCasesDetailTabContent" aria-selected="true" href="#relCasesDetailTabContent">@Localizer["IDS Non-Patent Literature Details"]</a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane show active" id="relCasesDetailTabContent" role="tabpanel" aria-labelledby="relCasesDetailTab">
        <div class="form-row">
            <div class="col-10">
                <div class="form-row">
                    <div class="col-8">
                        <div class="form-group float-label">
                            <label asp-for="NonPatLiteratureInfo"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="NonPatLiteratureInfo" readonly />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group float-label">
                            <div class=" custom-control custom-checkbox pt-4">
                                <input asp-for="ActiveSwitch" class="custom-control-input" disabled />
                                <label asp-for="ActiveSwitch" class="custom-control-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-8">
                        <div class="form-group float-label">
                            <label asp-for="ReferenceSrc"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="ReferenceSrc" readonly />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group float-label">
                            <label asp-for="ReferenceDate"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="ReferenceDate" asp-format="{0:dd-MMM-yyyy hh:mm tt}" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-8">
                        <div class="form-group float-label">
                            <label asp-for="RelatedDateFiled"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="RelatedDateFiled" asp-format="{0:dd-MMM-yyyy hh:mm tt}" readonly />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group float-label">
                            <div class=" custom-control custom-checkbox pt-4">
                                <input asp-for="HasTranslation" class="custom-control-input" disabled />
                                <label asp-for="HasTranslation" class="custom-control-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                @if (!string.IsNullOrEmpty(Model.DocFileName))
                {
                    <div class="text-wrap text-center pt-5" style="max-width: 100%;">
                        <a href='@zoomUrl' id="docOpenViewer" class='details-link'>@Localizer["Click here to view document."]</a>
                    </div>
                }
            </div>
        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        $("#docOpenViewer").on('click', function (e) {
            e.preventDefault();
            e.stopPropagation();

            var url = $(this).attr("href");
            documentPage.zoomDocument(url);
        });
    });
</script>