@model DocFolderViewModel
@inject IStringLocalizer<SharedResource> Localizer

<div class="page-content">
    <div class="form-row">
        <div class="col">
            <span id="userFolderHeader" style="font-weight:600">@Model.FolderName</span>
        </div>
        <div class="col d-flex justify-content-end">
            <span style="font-style: italic">@Localizer["Folder"]</span>
        </div>
    </div>
</div>

<div>
    <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" id="userFolderTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="userFolderDetailTab" data-toggle="tab" role="tab" aria-controls="userFolderDetailTabContent" aria-selected="true" href="#userFolderDetailTabContent">@Localizer["Folder Details"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="userFolderDocDetailTab" data-toggle="tab" role="tab" aria-controls="userFolderDocDetailTabContent" aria-selected="true" href="#userFolderDocDetailTabContent">@Localizer["Files"]</a>
        </li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane show active" id="userFolderDetailTabContent" role="tabpanel" aria-labelledby="userFolderDetailTab" data-refresh-url="@Url.Action("UserFolderDetailEdit", "Documents")">
            @await Html.PartialAsync("_DetailUserFolderEdit.cshtml", Model)

        </div>
        <div class="tab-pane" id="userFolderDocDetailTabContent" role="tabpanel" aria-labelledby="userFolderDocDetailTab">
            @await Html.PartialAsync("_DetailUserFolderDoc.cshtml", Model.FolderId)

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        documentPage.initializeUserFolder({
            tabName: "userFolderTab",
            docTab: "userFolderDocDetailTab"
        });

    });
</script>





