@model DocCtryAppViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<PatSetting> Settings
@{
    var settings = await Settings.GetSetting();

    var headerLabel = Model.CaseNumber + "/" + Model.Country + (string.IsNullOrEmpty(Model.SubCase) ? "" : "-" + Model.SubCase) + "/" + Model.CaseType;

    var caseNumberLabel = settings.IsClientMatterOn ? Localizer[settings.LabelClientMatter] : Localizer[settings.LabelCaseNumber];
    var clientNameLabel = Localizer[settings.LabelClientName];
}

<div class="page-content">
    <div class="form-row">
        <div class="col">
            <span id="ctryAppDocumentHeader" style="font-weight:600">@headerLabel</span>
        </div>
        <div class="col d-flex justify-content-end">
            <span style="font-style: italic">@Localizer["Country Application"]</span>
        </div>
    </div>
</div>

<div>
    <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" id="ctryAppDocumentTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="ctryAppDetailTab" data-toggle="tab" role="tab" aria-controls="ctryAppDetailTabContent" aria-selected="true" href="#ctryAppDetailTabContent">@Localizer["Application Details"]</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="ctryAppDetailTabContent" role="tabpanel" aria-labelledby="ctryAppDetailTab">
            <div class="form-row">
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="CaseNumber">@caseNumberLabel</label>
                        <input type="text" class="form-control form-control-sm" asp-for="CaseNumber" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="Country"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="Country" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="SubCase"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="SubCase" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="CaseType"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="CaseType" readonly />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="ClientName">@clientNameLabel</label>
                        <input type="text" class="form-control form-control-sm" asp-for="ClientName" readonly />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="AppTitle"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="AppTitle" readonly />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="Attorney1"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="Attorney1" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="Attorney2"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="Attorney2" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="Attorney3"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="Attorney3" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="ApplicationStatus"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="ApplicationStatus" readonly />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="AppNumber"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="AppNumber" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="FilDate"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="FilDate" asp-format="{0:dd-MMM-yyyy}" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="ParentAppNumber"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="ParentAppNumber" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="ParentFilDate"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="ParentFilDate" asp-format="{0:dd-MMM-yyyy}" readonly />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="PatNumber"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="PatNumber" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="IssDate"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="IssDate" asp-format="{0:dd-MMM-yyyy}" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="ParentPatNumber"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="ParentPatNumber" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="ParentIssDate"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="ParentIssDate" asp-format="{0:dd-MMM-yyyy}" readonly />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="PubNumber"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="PubNumber" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="PubDate"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="PubDate" asp-format="{0:dd-MMM-yyyy}" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="PCTNumber"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="PCTNumber" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="PCTDate"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="PCTDate" asp-format="{0:dd-MMM-yyyy}" readonly />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>