@inject IStringLocalizer<SharedResource> Localizer
@{
    var noDocMsg = Localizer["This document does not have any link or file."].ToString();
}

<div id="documentTreeContainer" data-doc-url="@Url.Action("NodeDocumentView", "Documents")" data-viewer-url="@Url.Action("ViewDocument", "DocViewer", new { fileName = "param",key="nodeId"})"
     data-doc-msg="@noDocMsg">
    <div class="row form-group">
        <div class="col">
            <span style="font-weight:600">@Localizer["Documents"]</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @(Html.Kendo().TreeView()
                    .Name("documentTree")
                    .DataTextField("text")
                    //.DataImageUrlField("imageUrl")
                    .DataSpriteCssClassField("iconClass")
                    .TemplateId("documentTree-template")
                    .LoadOnDemand(true)
                    .DragAndDrop(true)
                    .DataSource(dataSource => dataSource
                        .Read(read => read
                            .Action("GetDocumentTree", "Documents")
                            .Data("documentPage.getTreeFilter")
                        )
                    )
                    .Events(events => events
                        .Select("documentPage.treeNodeSelect")
                        .Drop("documentPage.treeNodeDrop")
                        .DragStart("documentPage.treeNodeDragStart")
                    )
                )
            @(Html.Kendo().ContextMenu()
                      .Name("documentTreeMenu")
                      .Target("#documentTree")
                      .Filter(".k-in .node-menu")
                      .Orientation(ContextMenuOrientation.Horizontal)
                      .Animation(animation =>
                      {
                          animation.Open(open =>
                          {
                              open.Fade(FadeDirection.In);
                              open.Duration(500);
                          });
                      })
                      .Events(e => e.Open("documentPage.treeMenuOpen").Select("documentPage.treeMenuSelect"))
                      .Items(items =>
                      {
                          items.Add().Text("");
                      })
                      .HtmlAttributes(new { style = "width:130px;" })
        )
        </div>
    </div>

</div>

<script id="documentTree-template" type="text/kendo-ui-template">
    # if (!item.isReadOnly || item.id.includes("|doc|")) { #
    <span class="node-menu">
        # } #

        #: item.text #

        # if (!item.isReadOnly || item.id.includes("|doc|")) { #
    </span>
    # } #
</script>

@*<input type="hidden" id="treeNodeAddName" value="@Localizer["New Folder"]" />*@
<input type="hidden" id="treeNodeAddName" value="" />

<script id="treeNodeAddTemplate" type="text/x-kendo-template">
    <input class="k-textbox tree-node-input" value="#= folderName.val() #" />
    <button class="k-button k-primary">#=getSaveLabel()#</button>
</script>

<script id="treeNodeRenameTemplate" type="text/x-kendo-template">
    <input class="k-textbox tree-node-input" value="#= node.text #" />
    <button class="k-button k-primary">#=getSaveLabel()#</button>
</script>

<script>
    $(document).ready(function () {
        const maxHeight = ($(window).height() - $(".site-header").height()) * 0.4;
        $("div.k-treeview").css("max-height", maxHeight);
    });
</script>

@*to fix issue with ja language*@
<script>
    function getSaveLabel(type) {
          return '@Localizer["Save"].ToString()';
    }
</script>

<style>
    div.k-treeview {
        min-height: 100px;
        /*max-height: 375px;*/
        overflow-y: scroll !important;
    }

    .k-treeview .k-item {
        font-size: small;
    }

    .k-treeview .k-state-selected {
        border-color: #0072c6;
    }

    .fa.k-sprite,
    .fa.k-sprite::before,
    .fad.k-sprite,
    .fad.k-sprite::before,
    .fas.k-sprite,
    .fas.k-sprite::before,
    .far.k-sprite,
    .far.k-sprite::before,
    .fal.k-sprite,
    .fal.k-sprite::before,
    .fab.k-sprite,
    .fab.k-sprite::before {
        font-size: 12px;
        line-height: 14px;
        vertical-align: middle;
    }

        .fad.k-sprite,
        .fad.k-sprite::before {
            font-size: 12px;
            line-height: 14px;
            vertical-align: middle;
        }
</style>

@*
    #: '(' + item.id + ') ' + item.text #
    #: item.text #

*@
