@inject IStringLocalizer<SharedResource> Localizer
@{
    var treeContainerLabel = $"<div class='form-row'><div class='col'><span style='font-weight:600'>{@Localizer["Documents"]}</span></div></div>";
    var detailContainerLabel = $"<div class='form-row'><div class='col'><span style='font-weight:600'>{@Localizer["Detail"]}</span></div></div>";
}

<div id="documentContent" class="page-main p-2">
    <div class="documentTreeMainContainer p-2" style="border: solid; border-width: thin; border-color: silver;"
         data-tree-url="@Url.Action("LoadTree", "Documents")"
         data-add-folder-url="@Url.Action("AddFolder", "DocFolder")" data-add-folder-label="@Localizer["Enter Folder Name"]"
         data-rename-url="@Url.Action("RenameFolderDoc", "DocFolder")" data-rename-label="@Localizer["Enter New Name"]"
         data-delete-title="@Localizer["Confirm Delete"]" data-delete-message="@Localizer["You are about to delete this record and all its related information. This operation cannot be undone."]"
         data-delete-url="@Url.Action("DeleteFolderDoc", "DocFolder")" data-delete-confirm-url="@Url.Action("ConfirmationCode", "DeleteConfirmation", new { Area = "" })"
         data-drop-url="@Url.Action("DropFolderDoc", "DocFolder")"
         data-container-label="@treeContainerLabel">
        <div class="form-row">
            <div class="col">
                <span style="font-weight:600">@Localizer["Documents"]</span>
            </div>
        </div>
    </div>
    <div class="documentDetailContainer p-2" style="border: solid; border-width: thin; border-color: silver;"
         data-detail-url="@Url.Action("Dummy", "Documents")"
         data-container-label="@detailContainerLabel">
        <div class="form-row">
            <div class="col">
                <span style="font-weight:600">@Localizer["Detail"]</span>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const winHeight = $(window).height() - $(".site-header").height();
        //const winHeight = screen.height - $(".site-header").height() - 90;
        //$("#documentContent").css("height", winHeight);
        $("#documentContent").css("min-height", winHeight);       // causes overlapping section issues in Edge
        $(".documentDetailContainer").css("min-height", 0.5 * winHeight);
        $(".documentTreeMainContainer").css("min-height", 0.5 * winHeight);
    });

</script>

<style>
    .documentTreeMainContainer {
        /*height: 50%;*/
    }

    .documentDetailContainer {
        /*height: 50%;*/
        margin-bottom: 20px;
    }
</style>