@model PageViewModel

@inject ISystemSettings<PatSetting> Settings
@inject IStringLocalizer<PatentResource> Localizer

@{
    var settings = await Settings.GetSetting();

    var caseNumberLabel = Localizer[settings.LabelCaseNumber];
    var clientLabel = Localizer[settings.LabelClient];
    var clientNameLabel = Localizer[settings.LabelClientName];
    var clientRefLabel = Localizer[settings.LabelClientRef];
    var ownerLabel = Localizer[settings.LabelOwner];
    var ownerNameLabel = Localizer[settings.LabelOwnerName];
    var attorneyLabel = Localizer["Attorney"];
    var attorneyNameLabel = Localizer["Attorney Name"];

    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];

    var area = "Patent";
    var controller = "Invention";
    var enableComboPaging = settings.EnableComboBoxPaging;
    var comboPagingSize = settings.ComboBoxPagingSize;
}

<ul class="nav nav-tabs refine-search nav-tabs-vertical" role="tablist">
    <li class="nav-item">
        <a id="mainTab" href="#docMgtMainTabContent" class="nav-link active" data-toggle="tab" role="tab"
           aria-controls="docMgtMainTabContent" title="@Localizer["Invention"]">@Localizer["Invention"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="inventionSearchEntitiesTab" data-toggle="tab" href="#inventionSearchEntitiesTabContent" role="tab" aria-controls="inventionSearchEntitiesTabContent" aria-selected="true">@Localizer["Entities"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="inventionSearchDocumentsTab" data-toggle="tab" href="#inventionSearchDocumentsTabContent" role="tab" aria-controls="inventionSearchDocumentsTabContent" aria-selected="true">@Localizer["Documents"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" id="inventionSearchOtherInfoTab" href="#inventionSearchOtherInfoTabContent" role="tab" aria-controls="inventionSearchOtherInfoTabContent" aria-selected="false">@Localizer["Other Info"]</a>
    </li>
</ul>

<div class="accordion-content show">
    <div class="tab-pane show form-sidebar active" id="docMgtMainTabContent" aria-labelledby="mainTab" role="tabpanel" data-case-number-mapper-url="@Url.Action("CaseNumberSearchValueMapper", "Invention", new { Area = "Patent" })">
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="CaseNumber">@caseNumberLabel</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "CaseNumber", controller = controller, area = area, enablePaging = enableComboPaging, pagingSize = comboPagingSize, valueMapper = "inventionPage.caseNumberSearchValueMapper" })
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="FamilyNumber">@Localizer["Family Number"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "FamilyNumber", controller = controller, area = area })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="InvTitle">@Localizer["Title"]</label>
                    @*todo: create value mapper*@
                    @await Component.InvokeAsync("ComboBox", new { name = "InvTitle", controller = controller, area = area, enablePaging = enableComboPaging, pagingSize = comboPagingSize, valueMapper = "pageHelper.kendoValueMapper" })
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="Keywords.Keyword">@Localizer["Keywords"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Keywords.Keyword", area = area, textProperty = "Keyword", controller = "PatKeyword" })
                </div>
            </div>
        </div>
        <div class="form-row group">
            <div class="col-4">
                <div class="form-group float-label">
                    <label for="DisclosureStatusOp"></label>
                    @await Component.InvokeAsync("FilterOperatorList", new { name = "DisclosureStatusOp" })
                </div>
            </div>
            <div class="col-8">
                <div class="form-group float-label">
                    <label for="DisclosureStatus">@Localizer["Disclosure Status"]</label>
                    @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions("DisclosureStatus", "Invention", "Patent"))
                </div>
            </div>
            <div class="col-12">
                <div class="form-group float-label">
                    <label for="DisclosureDateFrom">@Localizer["Disclosure Date From"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DisclosureDateFrom"))
                </div>
            </div>
            <div class="col-12">
                <div class="form-group float-label">
                    <label for="DisclosureDateTo">@Localizer["Disclosure Date To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DisclosureDateTo"))
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="inventionSearchEntitiesTabContent" role="tabpanel" aria-labelledby="inventionSearchEntitiesTab">
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="ClientID">@Localizer[clientLabel]</label>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientCode("Client.ClientCode", clientLabel, clientNameLabel, controller, "", area))
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="Client.ClientID">@Localizer[clientNameLabel]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Client.ClientName", textProperty = "ClientName", action = "GetClientNameList", controller = controller, area = area })
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="ClientRef">@Localizer[clientRefLabel]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "ClientRef", controller = controller, area = area })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="AttorneyCode">@Localizer["Attorney"]</label>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyCode("AttorneyCode", attorneyLabel, attorneyNameLabel, controller, "", "GetAttorneyList", area))
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="AttorneyName">@Localizer["Attorney Name"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "AttorneyName", action = "GetAttorneyNameList", controller = controller, area = area })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="Owners.OwnerCode">@Localizer[ownerLabel]</label>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.OwnerCode("OwnerCode", ownerLabel, ownerNameLabel, "PatOwnerInv", "", area))
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="Owners.OwnerName">@Localizer[ownerNameLabel]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "OwnerName", controller = "PatOwnerInv", area = area })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="Inventors.InventorID">@Localizer["Inventor"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Inventor", controller = "PatInventorInv", area = area })
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="inventionSearchDocumentsTabContent" role="tabpanel" aria-labelledby="inventionSearchDocumentsTab">
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">  
                    <label for="ImagesLinks">@Localizer["Documents"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Images.ImageTitle", controller = "PatImageInv", textProperty = "ImageTitle", valueProperty = "ImageTitle", area = area })
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="inventionSearchOtherInfoTabContent" role="tabpanel" aria-labelledby="inventionSearchOtherInfoTab">
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="Remarks">@Localizer["Remarks"]</label>
                    <input type="text" name="Remarks" class="form-control form-control-sm" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="CreatedBy">@Localizer["Created By"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "CreatedBy", controller = controller, area = area })
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <div class="form-group float-label">
                        <label for="DateCreatedFrom">@Localizer["Date Created From"]</label>
                        @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DateCreatedFrom"))
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="DateCreatedTo">@Localizer["Date Created To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DateCreatedTo"))
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="UpdatedBy">@Localizer["Updated By"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "UpdatedBy", controller = controller, area = area })
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="LastUpdateFrom">@Localizer["Last Update From"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("LastUpdateFrom"))
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="LastUpdateTo">@Localizer["Last Update To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("LastUpdateTo"))
                </div>
            </div>
        </div>
    </div>
</div>


    <script>
        $(document).ready(function () {
            documentPage.initializeSubSearchPage({
                containerId: "#@Model.PageId",
                tabNameId: "#mainTab",
                systemTabId  : "#systemTab"
            })
     });
    </script>
