@model PageViewModel

@inject IStringLocalizer<CostTrackingResource> Localizer
@inject ISystemSettings<GMSetting> Settings

@{
    var settings = await Settings.GetSetting();


    var caseNumberLabel = settings.IsClientMatterOn ? Localizer[settings.LabelClientMatter] : Localizer[settings.LabelCaseNumber];
    var agentLabel = Localizer[settings.LabelAgent];
    var agentNameLabel = Localizer[settings.LabelAgentName];
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];

    var enableComboPaging = settings.EnableComboBoxPaging;
    var comboPagingSize = settings.ComboBoxPagingSize;

    var area = "GeneralMatter";
    var controller = "CostTracking";
}

<ul class="nav nav-tabs refine-search nav-tabs-vertical" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="docMgtMainTab" data-toggle="tab" href="#docMgtMainTabContent" role="tab" aria-controls="docMgtMainTabContent">@Localizer["General Matter Costs"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" id="docCostSearchInvoiceTab" data-toggle="tab" href="#docCostSearchInvoiceTabContent" role="tab" aria-controls="docCostSearchInvoiceTabContent">@Localizer["Invoice"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" id="docCostSearchOtherInfoTab" href="#docCostSearchOtherInfoTabContent" role="tab" aria-controls="docCostSearchOtherInfoTabContent" aria-selected="false">@Localizer["Other Info"]</a>
    </li>
</ul>

<div class="accordion-content show">
    <div class="tab-pane show form-sidebar active" id="docMgtMainTabContent" aria-labelledby="docMgtMainTab" role="tabpanel" >
        <div class="form-row group">
            <div class="col-12">
                <div class="form-group float-label">
                    <label for="CaseNumber">@caseNumberLabel</label>
                    @*@await Component.InvokeAsync("ComboBox", new { name = "CaseNumber", enablePaging = enableComboPaging, pagingSize = comboPagingSize, valueMapper = "costTrackingPage.caseNumberSearchValueMapper" })*@
                    @await Component.InvokeAsync("ComboBox", new { area = area, controller = controller, name = "CaseNumber" })
                </div>
            </div>
            <div class="col-12">
                <div class="form-group float-label">
                    <label for="SubCase">@Localizer["Sub Case"]</label>
                    @await Component.InvokeAsync("ComboBox", new { area = area, controller = controller, name = "SubCase" })
                </div>
            </div>
            <div class="col-4">
                <div class="form-group float-label">
                    <label for="MatterTypeOp"></label>
                    @await Component.InvokeAsync("FilterOperatorList", new { name = "MatterTypeOp" })
                </div>
            </div>
            <div class="col-8">
                <div class="form-group float-label">
                    <label for="GMMatter.MatterType">@Localizer["Matter Type"]</label>
                    @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions("GMMatter.MatterType", controller, area) { DataTextProperty = "MatterType", Action = "GetMatterTypeList" })
                </div>
            </div>
        </div>
        <div class="form-row group">
            <div class="col-4">
                <div class="form-group float-label">
                    <label for="CostTypeOp"></label>
                    @await Component.InvokeAsync("FilterOperatorList", new { name = "CostTypeOp" })
                </div>
            </div>
            <div class="col-8">
                <div class="form-group float-label">
                    <label for="CostType">@Localizer["Cost Type"]</label>
                    @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions("CostType", controller, area))
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="Agent.AgentCode">@Localizer["Agent"]</label>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AgentCode("Agent.AgentCode", agentLabel, agentNameLabel, controller, "", area))
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="Agent.AgentName">@Localizer["Agent Name"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Agent.AgentName", textProperty = "AgentName", area = area, controller = controller, action = "GetAgentNameList" })
                </div>
            </div>
        </div>
    </div>
    <div id="docCostSearchInvoiceTabContent" class="tab-pane">
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="InvoiceNumber">@Localizer["Invoice Number"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "InvoiceNumber", area = area, controller = controller })
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="InvoiceDateFrom">@Localizer["Invoice Date From"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("InvoiceDateFrom"))
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="InvoiceDateTo">@Localizer["Invoice Date To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("InvoiceDateTo"))
                </div>
            </div>
        </div>
        <div class="form-row group">
            <div class="col-12">
                <div class="form-group float-label">
                    <label for="CurrencyType">@Localizer["Currency"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "CurrencyType", area = area, controller = controller })
                </div>
            </div>
            <div class="col-4">
                <div class="form-group float-label">
                    <label for="InvoiceAmountOp"></label>
                    @await Component.InvokeAsync("FilterOperatorList", new { name = "InvoiceAmountOp", type = typeof(decimal) })
                </div>
            </div>
            <div class="col-8">
                <div class="form-group float-label">
                    <label for="InvoiceAmount">@Localizer["Invoice Amount"]</label>
                    @(Html.Kendo().NumericTextBox<decimal>().Name("InvoiceAmount").HtmlAttributes(new { style = "width: 100%" }))
                </div>
            </div>
            <div class="col-4">
                <div class="form-group float-label">
                    <label for="NetCostOp"></label>
                    @await Component.InvokeAsync("FilterOperatorList", new { name = "NetCostOp", type = typeof(decimal) })
                </div>
            </div>
            <div class="col-8">
                <div class="form-group float-label">
                    <label for="NetCost">@Localizer["Net Cost"]</label>
                    @(Html.Kendo().NumericTextBox<decimal>().Name("NetCost").HtmlAttributes(new { style = "width: 100%" }))
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="PayDateFrom">@Localizer["Payment Date From"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("PayDateFrom"))
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="PayDateTo">@Localizer["Payment Date To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("PayDateTo"))
                </div>
            </div>
        </div>
    </div>
    <div id="docCostSearchOtherInfoTabContent" class="tab-pane">
        <div class="form-row">
            <div class="col-md">
                <div class="form-group float-label">
                    <label for="Remarks">@Localizer["Remarks"]</label>
                    <input type="text" class="form-control" id="Remarks" name="Remarks" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="CreatedBy">@Localizer["Created By"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "CreatedBy", area = area, controller = controller })
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="DateCreatedFrom">@Localizer["Date Created From"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DateCreatedFrom"))
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="DateCreatedTo">@Localizer["Date Created To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DateCreatedTo"))
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group float-label">
                    <label for="UpdatedBy">@Localizer["Updated By"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "UpdatedBy", area = area, controller = controller })
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="LastUpdateFrom">@Localizer["Last Update From"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("LastUpdateFrom"))
                </div>
            </div>
            <div class="col">
                <div class="form-group float-label">
                    <label for="LastUpdateTo">@Localizer["Last Update To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("LastUpdateTo"))
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        documentPage.initializeSubSearchPage({
            tabNameId: "#docMgtMainTab",
            systemTabId: "#systemTab"
        })
    });
</script>

