@model AuditTrailSearchCriteriaViewModel
@inject IStringLocalizer<SharedResource> SharedLocalizer
@{
    var additionalData = "function() { { return auditTrail.getSystemType(); } }";
}


<form id="auditSearchCriteriaForm" asp-area="Shared" asp-controller="AuditTrail" method="post">
    @(Html.Kendo().PanelBar()
          .Name("searchPanel")
          .Items(panelBar =>
          {
              panelBar.Add().Text("Search Criteria")
                  .Expanded(true)
                  .Content(
                      @<div>
                          <br />
                          <div class="form-row form-group">
                              <div class="col-sm-1 text-sm-right">
                                  <label>System</label>
                              </div>
                              <div class="col-auto border">
                                  <div class="form-check form-check-inline ml-2 mr-2">
                                      <input class="form-check-input" type="radio" name="SystemType" id="cpiPatent" value="P" @(Model.DefaultSystem == "P" ? "checked" : "")  >
                                      <label class="form-check-label mr-5" for="cpiPatent">@SharedLocalizer["Patent"]</label>
                                      <input class="form-check-input" type="radio" name="SystemType" id="cpiTrademark" value="T" @(Model.DefaultSystem == "T" ? "checked" : "")>
                                      <label class="form-check-label mr-5" for="cpiTrademark">@SharedLocalizer["Trademark"]</label>
                                      <input class="form-check-input" type="radio" name="SystemType" id="cpiGenMatter" value="G" @(Model.DefaultSystem == "G" ? "checked" : "")>
                                      <label class="form-check-label" for="cpiGenMatter">@SharedLocalizer["General Matter"]</label>
                                  </div>
                              </div>
                              <div class="col text-md-right mr-5">
                                  <button class="k-button k-primary mr-1" type="button" id="search"><span class="far fa-search mr-2"></span> @SharedLocalizer["Search"]</button>
                                  <button class="k-button border" type="button" id="cancel"><span class="far fa-eraser mr-2"></span> @SharedLocalizer["Clear"]</button>
                              </div>
                          </div>
                          <div class="form-row form-group">
                              <div class="col-md-1 text-md-right">
                                  <label>@SharedLocalizer["Table Name"]</label>
                              </div>
                              <div class="col-md-3">
                                  @* @await Component.InvokeAsync("ComboBox", new { name = "TableName", controller = "AuditTrail", area = "Shared", textProperty = "TableName", action = "GetPicklistData", screen = screen })*@
                                  @(Html.Kendo().DropDownList()
                                        .Name("TableId")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .AutoBind(false)
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetPicklistData", "AuditTrail", new { Area = "Shared", dataType = "table" })
                                                    .Data(additionalData);
                                            })
                                                .ServerFiltering(true);
                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )
                              </div>
                              <div class="col-md-1 text-md-right">
                                  <label for="FromTranxDate">@SharedLocalizer["Date Range"]</label>
                              </div>
                              <div class="col-md-2">
                                  @(Html.Kendo().DatePicker().Name("FromTranxDate").Format("{0:dd-MMM-yyyy}").HtmlAttributes(new { style = "width: 100%;" }))
                              </div>
                              <div class="col-auto text-sm-right">
                                  <label for="ToTranxDate">@SharedLocalizer["To"]</label>
                              </div>
                              <div class="col-md-2">
                                  @(Html.Kendo().DatePicker().Name("ToTranxDate").Format("{0:dd-MMM-yyyy}").HtmlAttributes(new { style = "width: 100%;" }))
                              </div>
                          </div>
                          <div class="form-row form-group">
                              <div class="col-md-1 text-md-right">
                                  <label>@SharedLocalizer["User Name"]</label>
                              </div>
                              <div class="col-md-3">
                                  @*@await Component.InvokeAsync("ComboBox", new { name = "UserName", controller = "AuditTrail", area = "Shared", textProperty = "UserName", action = "GetPicklistData", screen = screen })*@

                                  @(Html.Kendo().DropDownList()
                                        .Name("UserName")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .AutoBind(false)
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetPicklistData", "AuditTrail", new { Area = "Shared", dataType = "user" })
                                                    .Data(additionalData);
                                            })
                                            .ServerFiltering(true);
                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                  )
                              </div>


                              <div class="col-md-1 text-md-right">
                                  <label for="TranxType">@SharedLocalizer["Transaction Type"]</label>
                              </div>

                              <div class="col-md-1 form-inline">
                                  @(Html.Kendo().DropDownList()
                                        .Name("TranxType")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .BindTo(new List<SelectListItem>() {
                                            new SelectListItem() {
                                                Text = "",
                                                Value = ""
                                            },
                                            new SelectListItem() {
                                                Text = "Update",
                                                Value = "upd"
                                            },
                                            new SelectListItem() {
                                                Text = "Delete",
                                                Value = "del"
                                            },                                                                                                                                                                            })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )
                              </div>
                          </div>
                          <div id="searchSubCriteria">

                          </div>

                      </div>
                  );

          })
          )
</form>


