@model int
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();

    var clientLabel = settings.LabelClient;
    var ownerLabel = settings.LabelOwner;
    var clientNameLabel = settings.LabelClientName;
    var ownerNameLabel = settings.LabelOwnerName;

    //var title = Model == 3 ? $"Update {clientLabel} with {ownerLabel} data" : $"Update {ownerLabel} with {clientLabel} data";
    var title = "Data Synchronization";
    var action = Model == 3 ? "ClientWithOwnerSyncRead" : "OwnerWithClientSyncRead";
    var controller = Model == 3 ? "Client" : "Owner";
    var dialog = "entityDataSyncDialog";
    var submitAction= Model == 3 ? "SyncClientWithOwner" : "SyncOwnerWithClient";
    var syncOptions = new List<SelectListItem> {
        new SelectListItem { Value = "3", Text = Localizer[$"Synchronize {clientLabel} with {ownerLabel} data"] },
        new SelectListItem { Value = "4", Text = Localizer[$"Synchronize {ownerLabel} with  {clientLabel} data"] },
    };

}

<div class="modal fade" id="@dialog" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="post" asp-action="@submitAction" asp-controller="@controller" asp-area="Shared">
                <div class="modal-header py-1">
                    <h4 class="modal-title">@Localizer[title]</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pt-0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group float-label">
                                    <label>@Localizer["Option"]</label>
                                    @*@(Html.Kendo().DropDownList()
                                          .Name("Options")
                                          .DataTextField("Text")
                                          .DataValueField("Value")
                                          .BindTo(syncOptions)
                                          .Value(Model.ToString())
                                          .HtmlAttributes(new { style = "width: 100%;" })
                                    )*@
                                <input type="text" name="Options" value="@syncOptions.Where(s=> s.Value==Model.ToString()).Select(s=> s.Text).First()" class="form-control form-control-sm" readonly />
                                </div>
                            </div>
                            <div class="col-md-4 pt-2">
                                <div class="form-group d-flex">
                                    <label class="pr-2">@Localizer["Synchronize"]</label>
                                    <div class="form-check  mt-1">
                                        <input class="form-check-input" type="radio" name="Affects" id="affectsAll" value="A">
                                        <label class="form-check-label mt-0 pr-3" for="affectsAll">
                                            @Localizer["All"]
                                        </label>
                                    </div>
                                    <div class="form-check mt-1">
                                        <input class="form-check-input" type="radio" name="Affects" id="affectsSelection" value="S" checked>
                                        <label class="form-check-label mt-0" for="affectsSelection">
                                            @Localizer["Selection"]
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group float-label">
                                    <label class="pr-2">@Localizer["Search"]</label>
                                    <div class="form-group entity-search">
                                        <input type="text" id="EntitySearch" name="EntitySearch" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                @if (Model == 3)
                                {
                                    @(Html.Kendo().Grid<Owner>()
                                    .Name("entitySyncGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(o => o.OwnerCode).Title(Localizer[ownerLabel]).Width(200);
                                        columns.Bound(o => o.OwnerName).Title(Localizer[ownerNameLabel]);
                                        columns.Select().Width(50);
                                    })
                                    .Pageable()
                                    .Sortable(sort => sort.AllowUnsort(false))
                                    .Events(ev => ev.Change($"function() {{clientPage.entitySyncSelectionChange('{dialog}');}}"))
                                    .PersistSelection()
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model => model.Id(c => c.OwnerID))
                                    .PageSize(10)
                                    .Read(read => read.Action(action, controller, new { area = "Shared" })
                                    .Data("clientPage.entitySyncSearchGetParam"))
                                    .ServerOperation(false)
                                    .Sort(sort => sort.Add(c => c.OwnerCode)))
                                    .HtmlAttributes(new { @class = "kendo-Grid" })
                                )

                                }
                                else
                                {
                                    @(Html.Kendo().Grid<Client>()
                                    .Name("entitySyncGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.ClientCode).Title(Localizer[clientLabel]).Width(200);
                                        columns.Bound(c => c.ClientName).Title(Localizer[clientNameLabel]);
                                        columns.Select().Width(50);

                                    })
                                    .Pageable()
                                    .Sortable(sort => sort.AllowUnsort(false))
                                    .Events(ev => ev.Change($"function() {{clientPage.entitySyncSelectionChange('{dialog}');}}"))
                                    .PersistSelection()
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model => model.Id(c => c.ClientID))
                                    .PageSize(10)
                                    .Read(read => read.Action(action, controller, new { area = "Shared" }).Data("clientPage.entitySyncSearchGetParam"))
                                    .ServerOperation(false)
                                    .Sort(sort => sort.Add(c => c.ClientCode)))
                                    .HtmlAttributes(new { @class = "kendo-Grid" })
                                )
                                }
                            </div>
                        </div>

                        <div class="modal-footer" style="border-top:none">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Cancel"]</button>
                            <button type="button" class="btn btn-primary" disabled id="sync"><i class="fa fa-check pr-2"></i>@Localizer["Synchronize"]</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    button {
        cursor: not-allowed;
    }
</style>
<script>
    clientPage.showEntityDataSync();
</script>




















