@inject IStringLocalizer<SharedResource> SharedLocalizer
@{
    var theme = User.GetTheme();
    if (theme == null)
    {
        var userPreferences = new UserPreferences();
        theme = userPreferences.Theme;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">

    @*<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common-office365.min.css" />
    <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.office365.min.css" />
    @*<link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.common.min.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.silver.min.css" />*@
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome-all.min.css" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.min.js"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.js"></script>
    @*<script src="~/lib/bootstrap/bootstrap.min.js"></script>*@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/page.js" asp-append-version="true"></script>
    <script src="~/js/cpiPlugins.js" asp-append-version="true"></script>
    <script src="~/js/polyfill.js" asp-append-version="true"></script>
    <script src="~/js/activePage.js" asp-append-version="true"></script>
    <script src="~/js/clientpage.js" asp-append-version="true"></script>
    <script src="~/js/agentpage.js" asp-append-version="true"></script>
    <script src="~/js/ownerpage.js" asp-append-version="true"></script>
    <script src="~/js/inventionPage.js" asp-append-version="true"></script>
    <script src="~/js/patActionDuePage.js" asp-append-version="true"></script>
    <script src="~/js/rtsLib.js" asp-append-version="true"></script>
    <script src="~/js/idsLib.js" asp-append-version="true"></script>
    <script src="~/js/patCountryAppPage.js" asp-append-version="true"></script>
    <script src="~/js/tmkTrademarkPage.js" asp-append-version="true"></script>
    <script src="~/js/tmkConflictPage.js" asp-append-version="true"></script>
    <script src="~/js/disclosurePage.js" asp-append-version="true"></script>
    <script src="~/js/image.js" asp-append-version="true"></script>
    <script src="~/js/quickDocket.js" asp-append-version="true"></script>
    <script src="~/js/costTrackingPage.js" asp-append-version="true"></script>
    <script src="~/js/auditTrailPage.js" asp-append-version="true"></script>
    <script src="~/js/letterPage.js" asp-append-version="true"></script>
    <script src="~/js/quickEmailSetup.js" asp-append-version="true"></script>
    <script src="~/js/quickEmail.js" asp-append-version="true"></script>
    <script src="~/js/dmsReviewPage.js" asp-append-version="true"></script>
    <script src="~/js/globalUpdate.js" asp-append-version="true"></script>
    <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
    <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    <script src="~/lib/kendo-ui/js/jszip.min.js"></script> @*export to excel*@
    @await Component.InvokeAsync("KendoCultureScripts")

    <!-- cldr scripts (needed for globalize) -->
    <script src="~/lib/cldrjs/dist/cldr.js"></script>
    <script src="~/lib/cldrjs/dist/cldr/event.js"></script>
    <script src="~/lib/cldrjs/dist/cldr/supplemental.js"></script>

    <!-- globalize scripts -->
    <script src="~/lib/globalize/dist/globalize.js"></script>
    <script src="~/lib/globalize/dist/globalize/number.js"></script>
    <script src="~/lib/globalize/dist/globalize/date.js"></script>

    <script src="~/lib/jquery-validation-globalize/jquery.validate.globalize.js"></script>

    @{
        var pathBase = Context.Request.PathBase;
    }

    <script type="text/javascript">
    var culture = "@Context.User.GetLocale()";
    $.when(
        $.get("@pathBase/lib/cldr-data/supplemental/likelySubtags.json"),
        $.get("@pathBase/lib/cldr-data/main/" + culture + "/numbers.json"),
        $.get("@pathBase/lib/cldr-data/supplemental/numberingSystems.json"),
        $.get("@pathBase/lib/cldr-data/main/" + culture + "/ca-gregorian.json"),
        $.get("@pathBase/lib/cldr-data/main/" + culture +"/timeZoneNames.json"),
        $.get("@pathBase/lib/cldr-data/supplemental/timeData.json"),
        $.get("@pathBase/lib/cldr-data/supplemental/weekData.json")
    ).then(function () {
        // Normalize $.get results, we only need the JSON, not the request statuses.
        return [].slice.apply(arguments, [0]).map(function (result) {
            return result[0];
        });
    }).then(Globalize.load).then(function () {
        Globalize.locale(culture);
    });
    </script>

    @RenderSection("Scripts", required: false)
</head>
<body class="colorway-@theme.ToLower()">
    <div class="site-main @(User.Identity.IsAuthenticated ? "" : "user-anonymous")">
        <div class="site-status alert alert-danger alert-dismissible boxy collapse" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span></span>
        </div>
        <div class="site-header">
            <nav class="navbar navbar-top navbar-light d-none d-lg-block pb-0">
                <div class="container-fluid">
                    <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="navbar-brand font-italic">Computer Packages Inc.</a>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </nav>
            <nav class="navbar navbar-expand-lg navbar-menu navbar-light">
                <div class="container-fluid">
                    <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="navbar-brand d-lg-none pl-3">Computer Packages Inc.</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        @await Component.InvokeAsync("Menu")
                        <div class="d-lg-none">
                            @await Html.PartialAsync("_LoginPartial")
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        @RenderBody()
    </div>
    <footer class="site-footer">
        <div class="row">
            <div class="col-sm-6 col-12 text-sm-left text-center">
                <div class="d-flex flex-row justify-content-center justify-content-sm-start">
                    <div class="pr-4"><a href="https://www.computerpackages.com" class="footer-link" target="_blank" rel="noopener">CPi</a></div>
                    <div class="pr-0"><a asp-area="" asp-controller="Home" asp-action="Contact" title="Contact Us" class="footer-link">Support</a></div>
                    @*<div class="pr-0"><a asp-area="" asp-controller="Home" asp-action="About" title="About" class="footer-link">About</a></div>*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="pl-4"><a asp-area="" asp-controller="Home" asp-action="About" title="System Info" class="footer-link">System Info</a></div>
                    }
                </div>
            </div>
            <div class="col-sm-6 col-12 text-sm-right text-center pt-2 pt-sm-0">
                <div class="d-flex flex-row justify-content-center justify-content-sm-end">

                </div>
            </div>
        </div>
        <div class="row footer-copyright pt-3">
            <div class="col-sm-6 text-sm-left text-center">
                <div>&copy; @DateTime.Now.Year Computer Packages Inc. All rights reserved.</div>
            </div>
            <div class="col-sm-6 order-first order-sm-2 text-sm-right text-center">
                <div class="d-flex flex-row justify-content-center justify-content-sm-end">
                    <div><a asp-area="" asp-controller="Home" asp-action="Terms" title="Terms of Service">Terms of Service</a></div>
                    <span class="pl-2 pr-2">|</span>
                    <div><a asp-area="" asp-controller="Home" asp-action="Privacy" title="Privacy Policy">Privacy Policy</a></div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
