@using System.Net.Http.Headers
@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    var mainDescription = SharedLocalizer["The REST API provides a simple interface to query your database. The API can be accessed with HTTP GET request method. The API returns the data in JSON or XML format."];
    var sampleDescription = SharedLocalizer["Below are some examples for each REST call. Each API calls require user authentication. Please inquire from your programmer about the user account to use for the API."];

    Dictionary<string, List<string>> sampleCalls = ViewBag.SampleCalls;
    Dictionary<MediaTypeHeaderValue, object> sampleResponse = ViewBag.SampleResponses;

    // Group the samples into a single tab if they are the same.
    Dictionary<string, object> samples = sampleResponse.GroupBy(pair => pair.Value).ToDictionary(
        pair => String.Join(", ", pair.Select(m => m.Key.ToString()).ToArray()),
        pair => pair.Key);
    var mediaTypes = samples.Keys;
}
<div class="rest-api">
    <div class="page-title">
        @ViewBag.Title
    </div>
    <div class="main">
        <span>@Html.Raw(mainDescription)</span>
    </div>
    <div class="sample">
        <span>@Html.Raw(sampleDescription)</span>
        <ul>
            @foreach(var sampleCall in sampleCalls) 
            {
                <li>
                    <div class="description">@sampleCall.Key</div>
                    <pre>@Html.Raw(sampleCall.Value.Select(value => $"<span>{value}</span>").ToList().Aggregate((i, j) => i + "<br />" + j))</pre>
                </li>
            }
        </ul>
    </div>
    <div class="schema">
        <span>@SharedLocalizer["Schema"]</span>
        <ul>
            <li>
                <pre><a href="@Url.Action("GetResponseSchema")" target="_blank">@SharedLocalizer[ViewBag.SchemaName.ToString()]</a></pre>
            </li>
        </ul>
    </div>
    <div class="response-format">
        <span>@SharedLocalizer["Response body formats"]</span>
        <ul>
        @foreach(var mediaType in mediaTypes)
        {
            <li>
                <h5 class="sample-header">@mediaType</h5>
                <div class="sample-content">
                    @{
                        var sample = samples[mediaType];
                        if (sample == null)
                        {
                            <pre>Sample not available.</pre>
                        }
                        else
                        {
                            <pre>@Html.Raw(Html.Encode(sample))</pre>
                        }
                    }
                </div>
            </li>
        }
        </ul>
    </div>
</div>

<style>
    .rest-api .sample,
    .rest-api .schema,
    .rest-api .response-format {
        margin-top: 20px;
    }
    .rest-api ul {
        list-style-type: none;
    }
    .rest-api .sample ul {
        list-style-type: disc;
    }
    .rest-api .sample .description {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .rest-api .schema a {
        text-decoration: underline;
    }
    .rest-api .sample-header {
        background-color: var(--bg-sidebar-header);
        /*color: var(--tab-horizontal-text);*/
        padding: 8px 15px;
        border-bottom: 0;
        display: block;
        margin: 10px 0 0 0;
        /*width: 250px;*/
    }

    .rest-api .sample-content {
        border-width: 0;
        padding: 15px 20px;
        background-color: var(--control-disabled);
        border: 1px solid var(--control-border);
        margin: 0 0 10px 0;
        max-height: 350px;
        overflow: auto;
    }
</style>