@model ComboBoxMultiColumnOptions
@{

    var onOpen = Model.OnOpen.Length > 0 ? Model.OnOpen : "function(e) {{ if (this.element.data('fetched')===0) {{this.dataSource.read();}} this.element.data('fetched',1);}}";
    var additionalData = Model.Data.Length > 0 ? Model.Data : Model.EnablePaging ? "function() { { return pageHelper.getPagedComboBoxValue('" + Model.Id + "'); } }" : "";

    var pageSize = (Model.PageSize > 0) ? Model.PageSize : 8000;

    IDictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("style", "width: " + Model.Width.ToString() + "%");
    htmlAttributes.Add("id", Model.Id);
    if (Model.Required) { htmlAttributes.Add("required", "required"); }

    //bootstrap
    if (!string.IsNullOrEmpty(Model.ValidationMessage)) { htmlAttributes.Add("data-val", "true"); }
    if (!string.IsNullOrEmpty(Model.ValidationMessage)) { htmlAttributes.Add("data-val-required", Model.ValidationMessage); }

    if (!string.IsNullOrEmpty(Model.LimitToListMessage)) { htmlAttributes.Add("data-invalid", Model.LimitToListMessage); }

    Microsoft.AspNetCore.Routing.RouteValueDictionary dataRouteValues = new Microsoft.AspNetCore.Routing.RouteValueDictionary(
        new { property = Model.DataTextProperty, filterType = Model.ListFilterType, requiredRelation = Model.RequiredRelation });

    var linkRouteValues = new Microsoft.AspNetCore.Routing.RouteValueDictionary();
    linkRouteValues.Add(string.IsNullOrEmpty(Model.LinkParamName) ? "id" : Model.LinkParamName, "actualValue");

    if (!string.IsNullOrEmpty(Model.Area))
    {
        dataRouteValues.Add("area", Model.Area);
        linkRouteValues.Add("area", Model.Area);
    }
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

    if (!string.IsNullOrEmpty(Model.Controller))
    {
        controllerName = Model.Controller;
    }
    var linkButtonUrl = string.IsNullOrEmpty(Model.LinkButtonUrl) ? Url.Action("DetailLink", controllerName, linkRouteValues) : Model.LinkButtonUrl;

    var columnNames = Model.Columns.Select(c => c.Name).ToArray();
}
<div class="cpi-combobox d-flex">
    @(Html.Kendo().MultiColumnComboBox()
                                .Name(Model.Property)
                                .DataTextField(Model.DataTextProperty)
                                .DataValueField(Model.DataValueProperty)
                                .ValuePrimitive(Model.ValuePrimitive) //set to true if having [object Object] return value issue
                                .Filter(Model.ListFilterType)
                                .FilterFields(columnNames)
                                .Value(Model.DefaultValue)
                                .Text(Model.DefaultText)
                                .AutoBind(false)
                                .Height(400)
                                .DropDownWidth(Model.ListWidth > 0 ? $"{Model.ListWidth}px":"")
                                .Columns(columns=> 
                                {
                                    foreach (var c in Model.Columns) {
                                        if (c.Width > 0)
                                           columns.Add().Field(c.Name).Title(c.Header).HeaderTemplate("<span class='combobox-mc-header'>#:data.title#</span>").Width($"{c.Width}px");
                                        else
                                           columns.Add().Field(c.Name).Title(c.Header).HeaderTemplate("<span class='combobox-mc-header'>#:data.title#</span>");
                                    }
                                })
                                .DataSource(source =>
                                {
                                    if (Model.EnablePaging)
                                    {
                                        source.Ajax().PageSize(pageSize);
                                    }
                                    source.Read(read =>
                                    {
                                        read.Action(Model.Action, controllerName, dataRouteValues)
                                            .Data(additionalData);
                                    })
                                    .ServerFiltering(Model.ServerFiltering || Model.EnablePaging);
                                })
                                .Virtual(v =>
                                {
                                    if (Model.EnablePaging)
                                    {
                                        v.ItemHeight(26);
                                        v.MapValueTo("dataItem");
                                        v.ValueMapper(Model.ValueMapper);
                                    }
                                })
                                .Virtual(Model.EnablePaging)
                                .HtmlAttributes(htmlAttributes)
                                .Events(e => e.Open(onOpen))
                                .Events(e => { if (!string.IsNullOrEmpty(Model.OnSelect)) { e.Select(Model.OnSelect);} })
                                .Events(e => { if (!string.IsNullOrEmpty(Model.OnChange)) { e.Change(Model.OnChange); } })
                                .Events(e => { if (Model.LimitToList && string.IsNullOrEmpty(Model.OnChange)) { e.Change("pageHelper.handleComboBoxInvalidEntry"); } })
    )
   @if (Model.ShowLinkButton)
    {
        var linkDataParam = Model.LinkButtonData.StartsWith("function") ? "" : Model.LinkButtonData;
        <i class="btn btn-link fal fa-search-plus cpiButtonLink" id="@(Model.Id)_cpiButtonLink" data-source="@Model.Id" data-url="@linkButtonUrl" data-url-data="@linkDataParam" @(Model.LinkInNewTab ? "data-new-tab=true" : "")></i>

        if (!string.IsNullOrEmpty(Model.LinkButtonData) && Model.LinkButtonData.StartsWith("function"))
        {
            <script>
              $("#@(Model.Id)_cpiButtonLink").on("click", function () {
                var data = @(Model.LinkButtonData)();
                $(this).data("url-data", data);
            });
            </script>
        }
    }
</div>

