@model ProductImportHistory
@inject IStringLocalizer<SharedResource> Localizer
@{
//string dataType = Localizer[Model.DataType.DataType];
}
<div class="d-flex flex-row">
    <div class="rounded-circle bg-success" style="width:45px; height:45px">
        <span>
            <i class="far fa-flag-alt" style="padding:10px;font-size: 25px; color: #fff"></i>
        </span>
    </div>
    <div class="pl-3">
        <h4 class="pb-1">@Localizer["Import Successful"]</h4>
    </div>

</div>
<div class="mt-5">
    <h5>@Localizer["Data type:"]<span class="ml-3">@Localizer["Product"]</span></h5>
    <p class="pt-3" style="font-size: .9rem;">@Localizer["Total number of records in the file:"]<span class="ml-3">@Model.NoOfRecords</span></p>
    <p style="font-size: .9rem;">@Localizer["Total number of products imported:"]<span class="ml-3">@Model.NoOfRecordsImported</span></p>
    <p style="font-size: .9rem;">@Localizer["Total number of products updated:"]<span class="ml-3">@Model.NoOfRecordsUpdated</span></p>
    <p style="font-size: .9rem;">@Localizer["Total number of sales imported:"]<span class="ml-3">@Model.NoOfSalesImported</span></p>
    <p style="font-size: .9rem;">@Localizer["Total number of sales updated:"]<span class="ml-3">@Model.NoOfSalesUpdated</span></p>
</div>

