@inject IStringLocalizer<SharedResource> Localizer
@{
    bool canAddRecord = ViewBag.CanAddRecord;
}

<div id="product-import">
    <ul class="nav d-flex justify-content-end" id="import-menu">

        <li class="nav-item">            
            <a class="nav-link exportStructure" href='@Url.Action("ExportFile","ProductImport")'>
                <i class="fal fa-file-download pr-2"></i>@Localizer["Export Data Structure"]
            </a>
        </li>
        @if (canAddRecord)
        {
            <li class="nav-item">
                <a class="nav-link active" id="di-link-import" data-toggle="tab" data-value="new" data-system="@ViewBag.SystemType" href="#importContent">
                    <i class="fal fa-file-upload pr-2"></i>@Localizer["New Import"]
                </a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" data-value="log" href="#importHistory">
                <i class="fal fa-list-alt pr-2"></i>@Localizer["Import History"]
            </a>
        </li>
    </ul>
    <div class="tab-content" style="width:100%">        
        <div class="tab-pane active" id="importContent">
            <div class="col-md-12 col-xl-8">                
                <div class="di-step" id="di-step1">       
                    @await Html.PartialAsync("_ImportStepFileUpload")
                </div>
                <div class="di-step d-none" id="di-step2">
                </div>
                <div class="di-step d-none" id="di-step3">
                </div>
                <div class="di-step d-none" id="di-step4">
                </div>
            </div>

        </div>
        <div class="tab-pane" id="importHistory">
            @await Html.PartialAsync("_GridImportHistory")
        </div>
    </div>
</div>

<script>productImportPage.initialize()</script>
<style>
    button {
        cursor: not-allowed;
    }
    .import-menu {
        font-size:.9rem;
    }
    .import-icon {
        background-color: var(--btn-primary);
    }
</style>