@model ProductImportHistory
@inject IStringLocalizer<SharedResource> Localizer
@{
//string dataType = Localizer[Model.DataType.DataType];
//string optionsView = Model.DataType.OptionsView;
}
<div class="d-flex flex-row">
    <div class="rounded-circle import-icon mt-3" style="width:45px; height:45px;">
        <span>
            <i class="fal fa-check-circle" style="padding:10px;font-size: 25px; color: #fff"></i>
        </span>

    </div>
    <div class="pl-3 mt-2">
        <h4 class="pb-1">@Localizer["Review and import"]</h4>
        <span style="font-size: .9rem;">@Localizer["Review the information below and click the Import button to proceed."]</span>
    </div>

</div>
<div class="mt-3">
    <h5>
        @Localizer["Data type:"]<span class="ml-3">@Localizer["Product"]</span>
        <a id="getStructure" href='@Url.Action("GetStructure","ProductImport")' style="display:inline-block" class="pt-1"><span class="pl-2"><i class="fal fa-question-circle" style="font-size:1.2rem"></i></span></a>
    </h5>
    <p style="font-size: .9rem;">@Localizer["Number of records:"]<span class="ml-3">@Model.NoOfRecords</span></p>
</div>
<div class="row mt-3">
    <div class="col-md-5">
        <h5>@Localizer["Mapped columns"]</h5>
        @(Html.Kendo().Grid<ProductImportMapping>()
                     .Name("dataImportMapped")
                     .Columns(columns =>
                     {
                         columns.Bound(m => m.YourField);
                         columns.Bound(m => m.CPIField);
                     })
                     .Pageable()
                     .Sortable(sort => sort.AllowUnsort(false))
                    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                    .AutoBind(true)
                    .DataSource(dataSource => dataSource
                         .Ajax()
                         .Batch(true)
                         .ServerOperation(false)
                         .Model(model =>
                         {
                             model.Id(m => m.MappingId);
                         })
                         .Read(create => create.Action("FieldMappingMappedRead", "ProductImport", new {importId=Model.ImportId}))
                         .Sort(sorter => sorter.Add(c => c.DisplayOrder))
                         .Events(events =>
                         {
                             events.Error("pageHelper.onGridError");
                         })
                     )

                     .HtmlAttributes(new { @class = "kendo-Grid", style = "width:100%" })
)
    </div>
    <div class="col-md-3">
        <h5>@Localizer["Unmapped columns"]</h5>
        @(Html.Kendo().Grid<ProductImportMapping>()
                     .Name("dataImportUnmapped")
                     .Columns(columns =>
                     {
                         columns.Bound(m => m.YourField);
                     })
                     .Pageable()
                     .Sortable(sort => sort.AllowUnsort(false))
                    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                    .AutoBind(true)
                    .DataSource(dataSource => dataSource
                         .Ajax()
                         .Batch(true)
                         .ServerOperation(false)
                         .Model(model =>
                         {
                             model.Id(m => m.MappingId);
                         })
                         .Read(create => create.Action("FieldMappingUnmappedRead", "ProductImport", new {importId=Model.ImportId}))
                         .Events(events =>
                         {
                             events.Error("pageHelper.onGridError");
                         })
                     )

                     .HtmlAttributes(new { @class = "kendo-Grid", style = "width:100%" })
)
    </div>
    <div class="col-md-4">
         @await Html.PartialAsync("_ImportOptions")       
    </div>
</div>
<div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary mr-3 prev" type="button"><span class="fal fa-arrow-left"></span> @Localizer["Previous"]</button>
    <button class="btn btn-primary" id="import" type="button"><span class="fal fa-save"></span> @Localizer["Import"]</button>
</div>
