@inject IStringLocalizer<SharedResource> Localizer
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();

    var caseNumberLabel = settings.IsClientMatterOn ? Localizer[settings.LabelClientMatter] : Localizer[settings.LabelCaseNumber];
    var clientLabel = Localizer[settings.LabelClient];
    var ownerLabel = Localizer[settings.LabelOwner];
    var clientRefLabel = Localizer[settings.LabelClientRef];

    var patentLabel = Localizer["Patent"].ToString();
    var trademarkLabel = Localizer["Trademark"].ToString();
    var genMatterLabel = Localizer["Gen Matter"].ToString();
    var ptoActionsLabel = Localizer["PTO Actions"].ToString();
    var trademarkLinksLabel = Localizer["Trademark Links"].ToString();
    var dmsLabel = Localizer["DMS"].ToString();
    var amsLabel = Localizer["AMS"].ToString();

    var titleLabel = Localizer["Title"].ToString();
    var matterTitleLabel = Localizer["Matter Title"].ToString();
    var remarksLabel = Localizer["Due Date Remarks"].ToString();

    if (!string.IsNullOrEmpty(settings.QDRemarksSource) && settings.QDRemarksSource.ToLower() == "actiondue")
    {
        remarksLabel = Localizer["Action Due Remarks"].ToString();
    }

    var editRemarksLabel = Localizer["Edit remarks"].ToString();
    var delegateLabel = Localizer["Delegate Due Date"].ToString();

    var saveLabel = Localizer["Save"].ToString();
    var cancelLabel = Localizer["Cancel"].ToString();

    var yesLabel = Localizer["Yes"].ToString();
    var noLabel = Localizer["No"].ToString();

    var deDocketLabel = Localizer["De-Docket"].ToString();
    var instructionLabel = Localizer["Instruction"].ToString();
    var deDocketRemarksLabel = Localizer["De-Docket Remarks"].ToString();
    var instructedByLabel = Localizer["Instructed By"].ToString();
    var instructionDateLabel = Localizer["Instruction Date"].ToString();
    var completedLabel = Localizer["Completed?"].ToString();
    var delegatedLabel = Localizer["Delegated"].ToString();

    var attachDocumentLabel = Localizer["Attach Document"].ToString();
    var viewHistoryLabel = Localizer["View History"].ToString();
    var entitiesLabel = @Localizer["Entities"].ToString();
    var attorneysLabel = @Localizer["Attorneys"].ToString();
    var genRemarksLabel = Localizer["Remarks"].ToString();
    var setCurrentDateLabel = Localizer["Set to current date"].ToString();
    var dueDateExtendedLabel = Localizer["Due date extended"].ToString();
    var addSoftDocketLabel = Localizer["Add Soft Docket"].ToString();
    var addDocketRequestLabel = Localizer["Request Docket"].ToString();


    var additionalData = "function() {return quickDocket.getCriteria(quickDocket.refineSearchContainer);}";
    var isRespOfficeOn = User.IsRespOfficeOn(SystemType.Patent) || User.IsRespOfficeOn(SystemType.Trademark) || User.IsRespOfficeOn(SystemType.GeneralMatter);
    var deDocketOn = settings.IsDeDocketOn;
    var recRows = deDocketOn ? 3 : 2;
    //var isDelegationOn = settings.IsDelegationOn.ToString().ToLower();
    var isSharePointIntegrationOn = settings.IsSharePointIntegrationOn.ToString().ToLower();
}
<div class="page-header cpiButtonsDetail">
    <nav class="nav nav-left pt-2">
        <div class="sidebar-link"></div>
        <a class="nav-link print-record" href="#" role="button"><i class="fal fa-file-arrow-down pr-1"></i><span>@Localizer["Print View"]</span></a>
        <a class="nav-link excel-export" href="#" role="button"><i class="fal fa-file-excel pr-1"></i><span>@Localizer["Export to Excel"]</span></a>
        <a class="nav-link qd-save-all qd-save-buttons d-none" href="#" role="button"><i class="fal fa-save pr-1"></i><span>@Localizer["Save"]</span></a>
        <a class="nav-link qd-cancel-all qd-save-buttons d-none" href="#" role="button"><i class="fal fa-times pr-1"></i><span>@Localizer["Cancel"]</span></a>
        <a class="nav-link qd-mu-dtaken d-none" href="#" role="button"><i class="fal fa-calendar-edit pr-1"></i><span>@Localizer["Update Date Taken"]</span></a>
        @if (deDocketOn)
        {
            <a class="nav-link qd-mu-ddinstrx d-none" href="#" role="button"><i class="fal fa-edit pr-1"></i><span>@Localizer["Update DeDocket Instruction"]</span></a>
        }
    </nav>
    <form id="qdExportToExcel" action="@Url.Action("ExportToExcel")" method="post">
        <input type="hidden" name="exportCriteria" id="exportCriteria" value="" />
    </form>
</div>

<div id="quickDocketContainer"
     data-duedate-delegate-url="@Url.Action("DelegateDueDate", "QuickDocket", new { area = "Shared" })"
     data-cancel-confirm-message="@Localizer["Are you sure you want to cancel your changes?"]"
     data-cancel-databind="@Localizer["Please save or cancel your changes first"]"
     data-confirm-title="@Localizer["Please Confirm"]">
    <div id="qdHeaderContainer_fake" style="position:fixed; top:0px; z-index:999">
        <table>
            <thead class="qdHeaderContainer">
                <tr>
                    <th style="width:2%">
                        <input class="k-checkbox k-checkbox-md k-rounded-md k-selector-all" data-role="checkbox" aria-label="Deselect all rows" aria-checked="true" type="checkbox">
                    </th>
                    <th style="width:8%">
                        <a data-field="DueDate" href="#"><span>@Localizer["Due Date"]</span></a><br />
                        <a data-field="Indicator" href="#"><span>@Localizer["Indicator"]</span></a>
                    </th>
                    <th style="width:13%">
                        <a data-field="FinalDate" href="#"><span>@Localizer["Final Date"]</span></a><br />
                        <a data-field="DateTaken" href="#"><span>@Localizer["Date Taken"]</span></a>
                    </th>
                    <th style="width:14%">
                        <a data-field="ActionDue" href="#">@Localizer["Action Due"]</a>
                        @if (deDocketOn)
                        {
                            <br />

                            <span id="ddkHeader" class="sub-field" style="cursor:pointer"><i class="far fa-plus-square icon">&nbsp;</i>@Localizer["De-Docket"]</span>
                        }
                    </th>
                    <th style="width:10%">
                        <a data-field="CaseNumber" href="#">@caseNumberLabel</a>
                    </th>
                    <th style="width:6%;">
                        <a data-field="Country" href="#">@Localizer["Country"]</a>
                    </th>
                    <th style="width:6%">
                        <a data-field="SubCase" href="#">@Localizer["Sub Case"]</a>
                    </th>
                    <th style="width:7%">
                        <a data-field="CaseType" href="#">@Localizer["Case Type"]</a><br />
                        <span id="remarksHeader" class="sub-field" style="cursor:pointer"><i class="far fa-plus-square icon">&nbsp;</i>@Localizer["Remarks"]</span>
                    </th>
                    <th style="width:10%">
                        <a data-field="Status" href="#">@Localizer["Status"]</a><br />
                        <span id="entitiesHeader" class="sub-field" style="cursor:pointer"><i class="far fa-plus-square icon">&nbsp;</i>@Localizer["Entities"]</span>
                    </th>
                    <th style="width:11%">
                        <a data-field="AppPatNo" href="#">@Localizer["Application/Patent/"]<br />@Localizer["Reg. No."]</a>
                    </th>
                    <th style="width:7%">
                        <a data-field="FilIssDate" href="#">@Localizer["Filing/Issue/"]<br />@Localizer["Reg. Date"]</a>
                    </th>
                    <th style="width:6%">
                        <a data-field="System" href="#">@Localizer["System"]</a>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <table>
        <thead class="qdHeaderContainer" id="qdHeaderContainer_real">
            <tr>
                <th style="width:2%">
                    <input class="k-checkbox k-checkbox-md k-rounded-md k-selector-all" data-role="checkbox" aria-label="Deselect all rows" aria-checked="true" type="checkbox">
                </th>
                <th style="width:8%">
                    <a data-field="DueDate" href="#"><span>@Localizer["Due Date"]</span></a><br />
                    <a data-field="Indicator" href="#"><span>@Localizer["Indicator"]</span></a>
                </th>
                <th style="width:13%">
                    <a data-field="FinalDate" href="#"><span>@Localizer["Final Date"]</span></a><br />
                    <a data-field="DateTaken" href="#"><span>@Localizer["Date Taken"]</span></a>
                </th>
                <th style="width:14%">
                    <a data-field="ActionDue" href="#">@Localizer["Action Due"]</a>
                    @if (deDocketOn)
                    {
                        <br />

                        <span id="ddkHeader" class="sub-field" style="cursor:pointer"><i class="far fa-plus-square icon">&nbsp;</i>@Localizer["De-Docket"]</span>
                    }
                </th>
                <th style="width:10%">
                    <a data-field="CaseNumber" href="#">@caseNumberLabel</a>
                </th>
                <th style="width:6%;">
                    <a data-field="Country" href="#">@Localizer["Country"]</a>
                </th>
                <th style="width:6%">
                    <a data-field="SubCase" href="#">@Localizer["Sub Case"]</a>
                </th>
                <th style="width:7%">
                    <a data-field="CaseType" href="#">@Localizer["Case Type"]</a><br />
                    <span id="remarksHeader" class="sub-field" style="cursor:pointer"><i class="far fa-plus-square icon">&nbsp;</i>@Localizer["Remarks"]</span>
                </th>
                <th style="width:10%">
                    <a data-field="Status" href="#">@Localizer["Status"]</a><br />
                    <span id="entitiesHeader" class="sub-field" style="cursor:pointer"><i class="far fa-plus-square icon">&nbsp;</i>@Localizer["Entities"]</span>
                </th>
                <th style="width:11%">
                    <a data-field="AppPatNo" href="#">@Localizer["Application/Patent/"]<br />@Localizer["Reg. No."]</a>
                </th>
                <th style="width:7%">
                    <a data-field="FilIssDate" href="#">@Localizer["Filing/Issue/"]<br />@Localizer["Reg. Date"]</a>
                </th>
                <th style="width:6%">
                    <a data-field="System" href="#">@Localizer["System"]</a>
                </th>
            </tr>

        </thead>
        @(
            Html.Kendo().ListView<QuickDocketDTO>()
            .Name("quickDocketSearchResults-Grid")
            .TagName("tbody")
            .ContentElement("")
            .ClientTemplateId("qdTemplate")
            .AutoBind(false)
            .Events(e =>
            {
                e.DataBound($"function() {{quickDocket.dataBound({recRows});}}");
            }
            )
            .DataSource(dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("QuickDocket_Read", "QuickDocket")
            .Data(additionalData))
            .Sort(sort => sort.Add(c => c.DueDate))
            .PageSize(User.GetSearchResultsPageSize(settings.SearchResultsPageSize))
            .Events(e => e.RequestStart("function(e) {quickDocket.requestStart(e);}"))
            )
            .Pageable(pageable => pageable
            .Refresh(true)
            .ButtonCount(5)
            .PageSizes(settings.SearchResultsPageSizeOptions)
            )
            .HtmlAttributes(new { @class = "kendo-listView" })
            )
    </table>
    <script type="text/x-kendo-tmpl" id="qdTemplate">
        <tr class="main item #= IndicatorToClassName(Indicator)#" data-rec-id=#:DDId# data-system="#:System#">
             <td style="width:2%">
                    <input class="k-checkbox k-checkbox-md k-rounded-md k-selector" data-role="checkbox" aria-label="Deselect rows" aria-checked="true" type="checkbox">
             </td>
            <td style="width:8%">
                #var today = new Date(new Date().getFullYear(),new Date().getMonth() , new Date().getDate());#
                #if(DueDate < today)
                {#
                <span class="text-danger">#= kendo.toString(DueDate,'dd-MMM-yyyy')#</span>
                #}
                else{#
                <span>#= kendo.toString(DueDate,'dd-MMM-yyyy')#</span>
                #}#
                <a class='extended-marker fal fa-calendar-clock #if(!DueDateExtended) {{#d-none#}}#' title="#=getQDLabel('dueDateExtendedLabel')#""></a>
            </td>
            <td style="width:13%">
                <span>#= FinalDate ? kendo.toString(FinalDate,'dd-MMM-yyyy') : ''#</span>
                 #if('PTGD'.includes(System) && CanEditAction && Indicator.toLowerCase() != 'ren/due')
                 {#
                    <div class="d-flex">
                        <input class="date-taken-entry" data-id="#=DDId#" />
                        <span class="pl-1 pt-1 date-taken-default" title="#=getQDLabel('setCurrentDateLabel')#"><i class="fal fa-calendar-check fa-lg"></i></span>
                    </div>
                 #}#
            </td>
            <td class="indicator-cell" style="width:14%">
                <div class="d-flex justify-content-between">
                    <a href="javascript:quickDocket.redirectToAction('#:System#', #:ActId#,'#:Country#')"><i class="fal fa-search-plus pr-1"></i>#:ActionDue#</a>
                    <div class="d-flex">
                            <a class="k-grid-Delegate #= CanDelegate ? '' : 'd-none'#" href="javascript:quickDocket.showDueDateDelegateScreen('#:System#', #:ActId#, #:DDId#)"><span class="delegate-icon k-icon fal #=(Delegated) ? 'fa-users' : 'fa-user'#" id = "delegate-icon#:System##:DDId#" title="#=getQDLabel('delegateLabel')#"></span></a>
                            #if(CanEditRemarks)
                            {#
                            <span id="remarks_icon_#=DDId#" class="fas #:QDRemarks ? 'fa-comment-alt-lines' : 'fa-comment-alt'# remarksLabel remarks-edit-icon pr-3" data-id="#=DDId#" title="#=getQDLabel('editRemarksLabel')#"></span>
                            #}#
                            #if(Indicator !='Soft Docket' && (CanEditInstruction || (CanCompleteInstruction && Instruction)))
                            {#
                            <span id="deDocket_icon_#=DDId#" class="fal fa-edit deDocketLabel ddk-edit-icon" data-id="#=DDId#" title="#=getQDLabel('deDocketLabel')#"></span>
                            #}#
                    </div>
                </div>
            </td>
            <td style="width:10%">
                 #if(System==='P' && Country > '')
                {#
                    <a href="javascript:quickDocket.redirectToInvention(#:ActId#,'#:Country#')"><i class="fal fa-search-plus pr-1"></i>#:CaseNumber#</a>
                    #if(CanAddSoftDocket) {# <a href="javascript:quickDocket.addSoftDocket('#:System#',#:ActId#,'#:Country#')"><i class="fal fa-file-plus" title="#=getQDLabel('addSoftDocketLabel')#"></i></a>#}#
                    #if(CanRequestDocket) {# <a href="javascript:quickDocket.addDocketRequest('#:System#',#:ActId#,'#:Country#')"><i class="fal fa-tasks" title="#=getQDLabel('addDocketRequestLabel')#"></i></a>#}#
                #}
                else if(System==='P')
                {#
                    <a href="javascript:quickDocket.redirectToInvention(#:ActId#,'#:Country#')"><i class="fal fa-search-plus pr-1"></i>#:CaseNumber#</a>
                    #if(CanAddSoftDocket) {# <a href="javascript:quickDocket.addSoftDocket('#:System#',#:ActId#)"><i class="fal fa-file-plus" title="#=getQDLabel('addSoftDocketLabel')#"></i></a>#}#
                #}

                else if(System==='G') {#
                    <a href="javascript:quickDocket.redirectToParent('#:System#',#:ActId#)"><i class="fal fa-search-plus pr-1"></i>#:CaseNumber#</a>
                    #if(CanAddSoftDocket) {# <a href="javascript:quickDocket.addSoftDocket('#:System#',#:ActId#)"><i class="fal fa-file-plus" title="#=getQDLabel('addSoftDocketLabel')#"></i></a>#}#
                    #if(CanRequestDocket) {# <a href="javascript:quickDocket.addDocketRequest('#:System#',#:ActId#)"><i class="fal fa-tasks" title="#=getQDLabel('addDocketRequestLabel')#"></i></a>#}#
                #}
                else if(System==='D') {#
                    <a href="javascript:quickDocket.redirectToParent('#:System#',#:ActId#)"><i class="fal fa-search-plus pr-1"></i>#:CaseNumber#</a>
                #}
                else if(System==='T') {#
                    <span>#=CaseNumber#</span>
                    #if(CanAddSoftDocket) {# <a href="javascript:quickDocket.addSoftDocket('#:System#',#:ActId#,'#:Country#')"><i class="fal fa-file-plus" title="#=getQDLabel('addSoftDocketLabel')#"></i></a>#}#
                    #if(CanRequestDocket) {# <a href="javascript:quickDocket.addDocketRequest('#:System#',#:ActId#,'#:Country#')"><i class="fal fa-tasks" title="#=getQDLabel('addDocketRequestLabel')#"></i></a>#}#
                #}

                else{#
                <span>#=CaseNumber#</span>
                #}#

            </td>
            <td style="width:6%">
                 #if('PT'.includes(System) && Country.length > 0)
                {#
                    <a href="javascript:quickDocket.redirectToParent('#:System#',#:ActId#,'#:Country#')"><i class="fal fa-search-plus pr-1"></i>#:Country#</a>
                #}
                else{#
                <span>#=Country#</span>
                #}#
            </td>
            <td style="width:6%">
                <span>#=(SubCase == null) ? '' : SubCase#</span>
            </td>
            <td style="width:7%">
                <span>#=CaseType#</span>
            </td>
            <td style="width:10%">
                <span>#=Status#</span>
            </td>
            <td style="width:11%">
                <span>#=(AppPatNo == null) ? '' : AppPatNo#</span>
            </td>
            <td style="width:7%">
                <span>#=(FilIssDate == null) ? '' : kendo.toString(FilIssDate,'dd-MMM-yyyy')#</span>
            </td>
            <td style="width:6%">
                #if(System === 'P')
                {#
                <span>#=getQDLabel('patentLabel')#</span>
                #}
                else if(System === 'T') {#
                <span>
                    #=getQDLabel('trademarkLabel')#
                </span>
                #}
                else if (System === 'G')
                {#
                <span>
                    #=getQDLabel('genMatterLabel')#
                </span>
                #}
                else if(System === 'L') {#
                <span>
                    #=getQDLabel('ptoActionsLabel')#
                </span>
                #}
                else if(System === 'M') {#
                <span>
                    #=getQDLabel('trademarkLinksLabel')#
                </span>
                #}
                else if(System === 'D') {#
                <span>
                    #=getQDLabel('dmsLabel')#
                </span>
                #}
                else if(System === 'A') {#
                <span>
                    #=getQDLabel('amsLabel')#
                </span>
                #}

                #
            </td>
        </tr>

        <tr class="item #= IndicatorToClassName(Indicator)#" data-rec-id=#:DDId#>
            <td colspan="7">
                <span class="sub-field">#= Indicator #</span>
                <span class="pl-5 sub-field">
                #var title = (Title == null) ? '' : Title;#
                #if(title != '')
                {#
                #var label = (System == 'P' || System == 'L' || System == 'D' || System == 'A') ?  getQDLabel('titleLabel') : (System == 'T' || System == 'M' ? getQDLabel('trademarkLabel') : getQDLabel('matterTitleLabel'));#
                <span class="pr-2">#=label#:</span>
                #}#
                </span>
                <span>#=(Title == null) ? '':Title#</span>
                <div class="pl-5 sub-field remarks">
                     #if(CanViewRemarks && (System == 'P' || System == 'T' || System == 'G' || System == 'D'))
                        {#
                        <div id="itemRemarksContainer">
                             <div style="cursor:pointer" id="remarks_#=DDId#" class="remarks-container">
                                 <div class="ro-remarks d-none">
                                    <span class="pr-2"></i>#=getQDLabel('remarksLabel')#:</span>
                                    <span class="ro-remarks-value">#:(QDRemarks == null) ? '': QDRemarks#</span>
                                 </div>
                            </div>
                            #if(CanEditRemarks)
                            {#
                            <form id="form_#=DDId#" action="@Url.Action("SaveRemarks", "QuickDocket", new { area = "Shared" })">
                                <input type="hidden" name="ActId" value="#=ActId#" />
                                <input type="hidden" name="DDId" value="#=DDId#" />
                                <input type="hidden" name="tStamp" value="#=tStamp#" />
                                <input type="hidden" name="System" value="#=System#" />
                                <input type="hidden" name="RespOffice" value="#=RespOffice#" />
                                <div id="remarks_edit_#=DDId#" class="edit-remarks d-none">
                                    <div class="form-row">
                                        <div class="col-md">
                                            <div class="form-group float-label">
                                                <label>#=getQDLabel('remarksLabel')#</label>
                                                <textarea type="text" class="form-control form-control-sm action-remarks" name="QDRemarks" rows="3">#:(QDRemarks == null) ? '' : QDRemarks#</textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-2 d-none">
                                            <div class="pl-1">
                                                <div class="save-icon pt-1" style="cursor:pointer" title="#=getQDLabel('saveLabel')#"><i class="fas fa-check"></i></div>
                                                <div class="cancel-icon pt-2" style="cursor:pointer" title="#=getQDLabel('cancelLabel')#"><i class="fas fa-times"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            #}#
                        </div>
                        #}#

                </div>
            </td>
            <td>
                <span class="sub-field remarks-icon-container # if(QDRemarks == null){ #d-none#}#" style="cursor:pointer;"><i class="far fa-plus-square icon">&nbsp;</i>#=getQDLabel('genRemarksLabel')#:</span>
            </td>
            <td colspan="4">
               <span class="sub-field entities-container" style="cursor:pointer"><i class="far fa-plus-square icon">&nbsp;</i>#=getQDLabel('entitiesLabel')#</span>
               <div class="d-none sub-field entities">
                   <div>
                       <span>#=getQDLabel('clientLabel')#/#=getQDLabel('clientRefLabel')#:</span>
                       <span>#=(Client == null) ? '' : Client#;</span>
                       <span>#=(ClientRef == null) ? '' : ClientRef#</span>
                   </div>
                   <div>
                       <span>#=getQDLabel('ownerLabel')#:</span>
                       <span>#=(Owner == null) ? '' : Owner#</span>
                   </div>
                   <div>
                       <span>#=getQDLabel('attorneysLabel')#:</span>
                       <span>#=(Attorney1 == null) ? '-' : Attorney1#;</span>
                       <span>#=(Attorney2 == null) ? '-' : Attorney2#;</span>
                       <span>#=(Attorney3 == null) ? '-' : Attorney3#;</span>
                       <span>#=(Attorney4 == null) ? '-' : Attorney4#;</span>
                       <span>#=(Attorney5 == null) ? '-' : Attorney5#;</span>
                       <span>#=(Responsible == null) ? '-' : Responsible#;</span>
                       <span>#=(DueDateAtty == null) ? '-' : DueDateAtty#;</span>
                   </div>
               </div>
            </td>
        </tr>
        @if (deDocketOn)
        {
                                    <tr class="item" data-rec-id=#:DDId#>
                                    <td class="pl-5" colspan="13">
                                        #if(CanViewInstruction && (System == 'P' || System == 'T' || System == 'G' ))
                                        {#
                                        <div id="deDocket_#=DDId#" class="sub-field ddk-main # if(Instruction==null){ #d-none#}#">
                                        <span class="ddk-container" style="cursor:pointer"><i class="far fa-plus-square icon"></i>&nbsp;#=getQDLabel('deDocketLabel')#</span>
                                         <div class="d-none ddk row">
                                           <div class="col-md-2">
                                               <span>#=getQDLabel('instructionLabel')#:</span>
                                               <span class="ddk-instruction">#=Instruction#</span>
                                           </div>
                                           <div class="col-md-2">
                                                <span>#=getQDLabel('instructedByLabel')#:</span>
                                                <span class="ddk-instructed-by">#=InstructedBy#</span>
                                           </div>
                                           <div class="col-md-2">
                                                <span>#=getQDLabel('instructionDateLabel')#:</span>
                                                <span class="ddk-instruction-date">#=pageHelper.cpiDateFormatToDisplay(InstructionDate)#</span>
                                           </div>
                                           <div class="col-md-2">
                                               <span>#=getQDLabel('completedLabel')#:</span>
                                               <span class="ddk-instruction-completed">
                                                  #: InstructionCompleted ? getQDLabel('yesLabel') : getQDLabel('noLabel')#
                                               </span>
                                           </div>
                                           <div class="col-md-2">
                                @*  #if(CanEditInstruction)
                                    {#
                                                    <a href="##" class="attach-doc" data-id="#=ActId#" data-dd-id="#=DDId#" data-system="#=System#" data-resp-office="#=RespOffice#" data-sharepoint-on="@isSharePointIntegrationOn"><i class="far fa-file-upload pr-2"></i><span class="pr-2">#=getQDLabel('attachDocumentLabel')#</span></a>
                                    #}#*@
                                                <a href="##" class="open-history" data-id="#=DDId#" data-system="#=System#"><i class="fal fa-list-alt pr-2"></i>#=getQDLabel('viewHistoryLabel')#</a>
                                           </div>
                                         </div>
                                         <div class="d-none ddk">
                                                <span>#=getQDLabel('deDocketRemarksLabel')#:</span>
                                                <span class="ddk-remarks">#=DeDocketRemarks#</span>
                                         </div>
                                         </div>

                                        #if(CanEditInstruction || CanCompleteInstruction)
                                        {#
                                        <form id="deDocketForm_#=DDId#" action="@Url.Action("SaveDeDocket", "QuickDocket", new { area = "Shared" })">
                                            <input type="hidden" name="ActId" value="#=ActId#" />
                                            <input type="hidden" name="DDId" value="#=DDId#" />
                                            <input type="hidden" name="DeDocketId" value="#=DeDocketId#" />
                                            <input type="hidden" name="tStamp" value="#=ddkTStamp#" />
                                            <input type="hidden" name="System" value="#=System#" />
                                            <input type="hidden" name="RespOffice" value="#=RespOffice#" />
                                            <div id="deDocket_edit_#=DDId#" class="edit-deDocket">
                                            </div>
                                        </form>
                                        #}#
                                         #}#
                                    </td>
                                </tr>

        }

    </script>

</div>
<div class="cpiContainerPopup"></div>
<style>
    #quickDocketContainer table {
        width: 100%;
        table-layout: fixed;
        font-size: .8rem;
    }

    #quickDocketContainer .float-label input {
        height: 15px;
        padding-top: 5px;
    }

    #quickDocketContainer .float-label label {
        font-size: .7rem;
    }

    #quickDocketContainer .sub-field {
        font-size: .7rem !important;
    }

    #quickDocketContainer .sub-head {
        font-size: .7rem !important;
        color: var(--text-header);
    }

    .page-content {
        padding: 0px;
    }

    .kendo-listView {
        border-style: none;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .altItem {
        /*background-color: var(--grid-alt-row);*/
    }

    #quickDocketSearchResults-Grid tr.main:not(:first-child) {
        border-top: 1px solid var(--separator);
    }

    .qdHeaderContainer {
        vertical-align: bottom;
    }

        .qdHeaderContainer td, .qdHeaderContainer th {
            border-bottom: 1px solid #ddd;
            padding: .5em .6em .4em .6em;
        }

        .qdHeaderContainer td, .qdHeaderContainer th, .item td {
            overflow: hidden;
            text-overflow: ellipsis;
            padding: .3em;
            border-spacing: 1px;
            font-weight: 400;
            text-align: left;
            outline: 0;
        }


        .qdHeaderContainer a, .qdHeaderContainer a:hover {
            color: var(--link-label);
            font-weight: 400;
            font-size: .9rem;
            text-decoration: none;
        }


        .qdHeaderContainer th {
            color: var(--text-header);
            background-color: var(--bg-main);
            border-bottom: 1px solid var(--text-body);
        }

    .titleHeader {
        color: var(--text-header);
    }

    #altItem th {
        background-color: var(--grid-alt-row);
    }

    #item th {
        background-color: var(--bg-main);
    }

    .remarksLabel, .deDocketLabel {
        /*color: #CF4315;*/
        color: var(--btn-primary);
        font-weight: 500;
        cursor: pointer;
    }

    /*.hideEntry {
                                display: none;
                            }*/

    .showRemarks {
        display: block;
        white-space: normal;
        width: 100%;
    }

    .showButtons {
        display: block;
        margin-top: 3px;
    }

    .hideButtons {
        display: none;
    }

    textarea[name='QDRemarks'] {
        width: 100%;
        box-sizing: border-box;
    }

    .deDocket {
        border: 1px solid var(--separator);
    }

        .deDocket span.dd-label {
            font-size: .7rem;
        }

        .deDocket span.dd-value {
            font-size: .85rem;
            font-weight: 500;
            padding-top: .3rem;
        }

    .fa-calendar-check {
        cursor: pointer;
    }

    .ddd-form-drop {
        border-width: 2px;
        border-color: #000;
        border-style: dashed solid;
    }
</style>
<script>
    function getQDLabel(type) {

        switch (type) {
            case 'patentLabel': return '@patentLabel';
            case 'trademarkLabel': return '@trademarkLabel';
            case 'genMatterLabel': return '@genMatterLabel';
            case 'ptoActionsLabel': return '@ptoActionsLabel';
            case 'trademarkLinksLabel': return '@trademarkLinksLabel';
            case 'dmsLabel': return '@dmsLabel';
            case 'amsLabel': return '@amsLabel';

            case 'titleLabel': return '@titleLabel';
            case 'matterTitleLabel': return '@matterTitleLabel';
            case 'remarksLabel': return '@remarksLabel';

            case 'saveLabel': return '@saveLabel';
            case 'cancelLabel': return '@cancelLabel';
            case 'yesLabel': return '@yesLabel';
            case 'noLabel': return '@noLabel';

            case 'deDocketLabel': return '@deDocketLabel';
            case 'instructionLabel': return '@instructionLabel';
            case 'deDocketRemarksLabel': return '@deDocketRemarksLabel';
            case 'instructedByLabel': return '@instructedByLabel';
            case 'instructionDateLabel': return '@instructionDateLabel';
            case 'completedLabel': return '@completedLabel';

            case 'attachDocumentLabel': return '@attachDocumentLabel';
            case 'viewHistoryLabel': return '@viewHistoryLabel';
            case 'delegatedLabel': return '@delegatedLabel';
            case 'editRemarksLabel': return '@editRemarksLabel';
            case 'delegateLabel': return '@delegateLabel';
            case 'clientLabel': return '@clientLabel';
            case 'clientRefLabel': return '@clientRefLabel';
            case 'ownerLabel': return '@ownerLabel';
            case 'entitiesLabel': return '@entitiesLabel';
            case 'attorneysLabel': return '@attorneysLabel';
            case 'genRemarksLabel': return '@genRemarksLabel';
            case 'setCurrentDateLabel': return '@setCurrentDateLabel';
            case 'dueDateExtendedLabel': return '@dueDateExtendedLabel';
            case 'addSoftDocketLabel': return '@addSoftDocketLabel';
            case 'addDocketRequestLabel': return '@addDocketRequestLabel';


        }
        return "";
    }

    function girdDelegationIconCheck(DDId, hasDelegations, system) {
        var element = document.getElementById("delegate-icon" + system + DDId);
        if (hasDelegations) {
            if (element.classList.contains("fa-user")) {
                element.classList.remove("fa-user");
                element.classList.add("fa-users");
            }
        } else {
            if (element.classList.contains("fa-users")) {
                element.classList.remove("fa-users");
                element.classList.add("fa-user");
            }
        }
    }
</script>