@model InitialButtonGroupOptions
<div class="btn-group btn-group-toggle btn-regular" data-toggle="buttons" form="@Model.FormId">
    <label class="btn active"><input type="radio" name="@Model.Name" class="form-control" value="" data-role="option" checked>ALL</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="A" data-role="option">A</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="B" data-role="option">B</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="C" data-role="option">C</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="D" data-role="option">D</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="E" data-role="option">E</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="F" data-role="option">F</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="G" data-role="option">G</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="H" data-role="option">H</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="I" data-role="option">I</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="J" data-role="option">J</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="K" data-role="option">K</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="L" data-role="option">L</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="M" data-role="option">M</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="N" data-role="option">N</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="O" data-role="option">O</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="P" data-role="option">P</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="Q" data-role="option">Q</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="R" data-role="option">R</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="S" data-role="option">S</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="T" data-role="option">T</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="U" data-role="option">U</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="V" data-role="option">V</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="W" data-role="option">W</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="X" data-role="option">X</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="Y" data-role="option">Y</label>
    <label class="btn"><input type="radio" name="@Model.Name" class="form-control" value="Z" data-role="option">Z</label>
</div>