@model TmkArea
@inject IStringLocalizer<SharedResource> Localizer
@{
    var id = Model.Area;
    var isCopy = ViewBag.CopyOptions != null;
    var addMode = string.IsNullOrEmpty(id) || isCopy;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    bool isReadOnlyRemarks = !(fullModify || detailPagePermission.CanEditRemarksOnly);
}
<form cpi-detail-form action="Save">
    @if (addMode)
    {
        <input type="hidden" name="IsNewRecord" value="true" class="boolean" />
    }
    <input type="hidden" name="OriginalSystems" value="@(addMode ? "__NEW__" : (string.IsNullOrEmpty(Model.Systems) ? "__EMPTY__" : Model.Systems))" />
    <input type="hidden" name="CopyFromSystems" value="@(Model.CopyFromSystems ?? "")" />
    <input type="hidden" name="CopyFromArea" value="@(Model.CopyFromArea ?? "")" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="Area"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Area" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="Area"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-8 col-md-7 col-lg-6 col-xl-5">
                <div class="form-group float-label">
                    <label asp-for="Description"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Description" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group float-label">
                    <label asp-for="Systems"></label>
                    @await Html.PartialAsync("~/Views/Shared/_SystemsDropdown.cshtml", null, new ViewDataDictionary(ViewData) {
                        { "SystemsValue", Model.Systems },
                        { "SystemsPrefix", "tmkArea" },
                        { "SystemsAction", Url.Action("GetSystemList") },
                        { "SystemsReadOnly", isReadOnly }
                    })
                </div>
            </div>
        </div>
    </div>
    @if (!addMode)
    {
        <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" role="tablist">
            <li class="nav-item">
                <a id="tmkAreaDetailCountryTab" href="#tmkAreaDetailCountryTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="tmkAreaDetailCountryTabContent" title="@Localizer["Countries"]">@Localizer["Countries"]</a>
            </li>
        </ul>
        <div class="tab-content detail">
            <div class="tab-pane active show" id="tmkAreaDetailCountryTabContent" role="tabpanel" aria-labelledby="tmkAreaDetailCountryTab">
                @await Component.InvokeAsync("GridCountries", new GridOptions { ParentCode = Model.Area, Area = "Trademark", Permission = detailPagePermission, ParentScreen = Model.Systems })
            </div>
        </div>
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.UserID" date-created="@Model.DateCreated" updated-by="@Model.UserID" last-update="@Model.LastUpdate"></vc:record-stamps>
        </div>
    }
</form>

<script>
    tmkAreaPage.afterInsert = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    tmkAreaPage.showDetails = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    tmkAreaPage.editableGrids = [
            {
            title: '@Localizer["Countries"]', name: 'countriesGrid', isDirty: false, filter: { areaId: '@Model.Area', systems: '@Model.Systems'},
            afterSubmit: tmkAreaPage.updateRecordStamps
            }
    ];

    $(document).ready(() => {
        const countriesGrid = $("#countriesGrid");
        countriesGrid.on("click", ".countryLink", (e) => {
            e.stopPropagation();

            let url = $(e.target).data("url");
            const row = $(e.target).closest("tr");
            const dataItem = countriesGrid.data("kendoGrid").dataItem(row);
            const linkUrl = url.replace("actualValue", dataItem.Country);
            pageHelper.openLink(linkUrl, false);
        });
    })
</script>

<script>
    $(document).ready(function() {
        $('.page-nav.add-record').off('click').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = $(this).data('url');
            if (url) pageHelper.openLink(url, true);
        });
    });
</script>
