@model ClientDetailViewModel
@inject ISystemSettings<DefaultSetting> Settings
@inject ISystemSettings<PatSetting> PATSettings
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject ICountryLookupViewModelService CountryLookupService
@inject IAuthorizationService AuthorizationService
@{
    var settings = await Settings.GetSetting();
    var patSettings = await PATSettings.GetSetting();

    var id = Model.ClientID;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    bool isReadOnlyRemarks = !(fullModify || detailPagePermission.CanEditRemarksOnly);

    var countryLabel = SharedLocalizer["Country"];
    var countryNameLabel = SharedLocalizer["Country Name"];
    var clientLabel = settings.LabelClient;
    var clientNameLabel = settings.LabelClientName;
    var attorneyLabel = SharedLocalizer["Attorney"];
    var attorneyNameLabel = SharedLocalizer["Attorney Name"];
    var ownerLabel = settings.LabelOwner;

    var childViewModel = new ChildViewModel { Id = id, Permission = detailPagePermission };
    var showReviewers = false;
    var pageId = ViewData["PageId"];

    var hasAMS = false;
    var showPrepay = false;
    var showReminderSettings = false;
    var showCTESettings = false;

    var hasRMS = false;
    var showRMSPrepay = false;

    var hasFF = false;

    Model.Attorney1Label = SharedLocalizer[settings.LabelAttorney1];
    Model.Attorney2Label = SharedLocalizer[settings.LabelAttorney2];
    Model.Attorney3Label = SharedLocalizer[settings.LabelAttorney3];
    Model.Attorney4Label = SharedLocalizer[settings.LabelAttorney4];
    Model.Attorney5Label = SharedLocalizer[settings.LabelAttorney5];

    var showPatCESettings = User.IsInSystem(SystemType.Patent) && (await AuthorizationService.AuthorizeAsync(User, PatentAuthorizationPolicy.CanAccessCostEstimator)).Succeeded;
    var showTmkCESettings = User.IsInSystem(SystemType.Trademark) && (await AuthorizationService.AuthorizeAsync(User, TrademarkAuthorizationPolicy.CanAccessCostEstimator)).Succeeded;
    var showCESettings = showPatCESettings || showTmkCESettings;

    var showIRSettings = User.IsInSystem(SystemType.Patent)
    && (await AuthorizationService.AuthorizeAsync(User, PatentAuthorizationPolicy.CanAccessGermanRemuneration)).Succeeded
    && patSettings.IsInventorRemunerationOn
    && patSettings.IsInventorRemunerationMultiClientsOn;

    var showDMS = false;

    var isShowCustomFieldOn = settings.IsShowCustomFieldOn;
    var showDueDateExtension = User.IsInSystem("Patent") || User.IsInSystem("Trademark") || User.IsInSystem("GeneralMatter");
}

<form cpi-detail-form action="@(detailPagePermission.CanEditRemarksOnly ? "SaveRemarks" :"Save")"
      data-confirm-title="@SharedLocalizer["Please Confirm"]"
      data-copy-success-msg="@SharedLocalizer["Record has been copied successfully."]"
      data-copy-owner-msg="@SharedLocalizer[$"The current {clientLabel} will be copied over to the {ownerLabel} table. Do you want to continue?"]">
    <input type="hidden" asp-for="ClientID" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>
    <div class="page-content  detail cpiMainEntry">
        <div class="form-row">
            <div class="col-md-3">
                <div class="form-group float-label">
                    <label for="ClientCode" class="required">@SharedLocalizer[clientLabel]</label>
                    <input type="text" class="form-control form-control-sm" asp-for="ClientCode" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="ClientCode"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group float-label">
                    <label for="ClientName" class="required">@SharedLocalizer[clientNameLabel]</label>
                    <input type="text" class="form-control form-control-sm" asp-for="ClientName" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="ClientName"></span>
                </div>
            </div>
            <div class="col-md-1 pt-3">
                @if (isReadOnly)
                {
                    @(Html.Kendo().CheckBoxFor(m => m.IsActive).HtmlAttributes(new { id = "Client_IsActive", disabled = "true" }))
                }
                else
                {
                    @(Html.Kendo().CheckBoxFor(m => m.IsActive).HtmlAttributes(new { id = "Client_IsActive" }))
                }
            </div>
            @if (showDMS)
            {
                <div class="col-md-2 pt-3">
                    @if (isReadOnly)
                    {
                        @(Html.Kendo().CheckBoxFor(m => m.UseInDMS).HtmlAttributes(new { id = "Client_UseInDMS", disabled = "true" }))
                    }
                    else
                    {
                        @(Html.Kendo().CheckBoxFor(m => m.UseInDMS).HtmlAttributes(new { id = "Client_UseInDMS" }))
                    }
                </div>
            }
            else
            {
                <input type="hidden" asp-for="UseInDMS" class="boolean" />
            }
        </div>
    </div>
    <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="clientDetailMainTab" data-toggle="tab" role="tab" aria-controls="clientDetailMainTabContent" aria-selected="true" href="#clientDetailMainTabContent">@SharedLocalizer[$"{clientLabel} Info"] </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="clientDetailAddressTab" data-toggle="tab" role="tab" aria-controls="clientDetailAddressTabContent" aria-selected="false" href="#clientDetailAddressTabContent">@SharedLocalizer["Address"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="clientDetailPOBoxAddressTab" data-toggle="tab" role="tab" aria-controls="clientDetailPOBoxAddressTabContent" aria-selected="false" href="#clientDetailPOBoxAddressTabContent">@SharedLocalizer["PO Box"]</a>
        </li>
        @if (hasAMS)
        {
            <li class="nav-item">
                <a class="nav-link" id="clientDetailAMSSettingsTab" data-toggle="tab" role="tab" aria-controls="clientDetailAMSSettingsTabContent" aria-selected="false" href="#clientDetailAMSSettingsTabContent">@SharedLocalizer["AMS Settings"]</a>
            </li>
        }
        @if (hasFF)
        {
            <li class="nav-item">
                <a class="nav-link" id="clientDetailFFSettingsTab" data-toggle="tab" role="tab" aria-controls="clientDetailFFSettingsTabContent" aria-selected="false" href="#clientDetailFFSettingsTabContent">@SharedLocalizer["Foreign Filing Settings"]</a>
            </li>
        }
        @if (hasRMS)
        {
            <li class="nav-item">
                <a class="nav-link" id="clientDetailRMSSettingsTab" data-toggle="tab" role="tab" aria-controls="clientDetailRMSSettingsTabContent" aria-selected="false" href="#clientDetailRMSSettingsTabContent">@SharedLocalizer["RMS Settings"]</a>
            </li>
        }
        @if (showCESettings)
        {
            <li class="nav-item">
                <a class="nav-link" id="clientDetailCESettingsTab" data-toggle="tab" role="tab" aria-controls="clientDetailCESettingsTabContent" aria-selected="false" href="#clientDetailCESettingsTabContent">@SharedLocalizer["Cost Estimator Settings"]</a>
            </li>
        }
        @if (showIRSettings)
        {
            <li class="nav-item">
                <a class="nav-link" id="clientDetailIRSettingsTab" data-toggle="tab" role="tab" aria-controls="clientDetailIRSettingsTabContent" aria-selected="false" href="#clientDetailIRSettingsTabContent">@SharedLocalizer["Remuneration Settings"]</a>
            </li>
        }
        @if (!detailPagePermission.HasLimitedRead)
        {
            <li class="nav-item">
                <a class="nav-link @(string.IsNullOrEmpty(Model.Remarks) ? null : "has-remarks")" id="clientDetailRemarksTab" data-toggle="tab" role="tab" aria-controls="clientDetailRemarksTabContent" aria-selected="false" href="#clientDetailRemarksTabContent">@SharedLocalizer["Remarks"]</a>
            </li>
        }
        @if (!addMode)
        {
            <li class="nav-item">
                <a class="nav-link" id="clientDetailContactsTab" data-toggle="tab" role="tab" aria-controls="clientDetailContactsTabContent" aria-selected="false" href="#clientDetailContactsTabContent">@SharedLocalizer["Contact Persons"]</a>
            </li>
            @if (User.IsInSystem("Patent") || User.IsInSystem("Trademark"))
            {
                <li class="nav-item">
                    <a class="nav-link" id="clientDetailDesCountriesTab" data-toggle="tab" role="tab" aria-controls="clientDetailDesCountriesTabContent" aria-selected="false" href="#clientDetailDesCountriesTabContent">@SharedLocalizer["Designated Countries"]</a>
                </li>
            }
            @if (showReviewers)
            {
                <li class="nav-item">
                    <a class="nav-link" id="clientDetailReviewersTab" data-toggle="tab" role="tab" aria-controls="clientDetailReviewersTabContent" aria-selected="false" href="#clientDetailReviewersTabContent">@SharedLocalizer["Reviewers"]</a>
                </li>
            }
            @if (showDueDateExtension)
            {
                <li class="nav-item">
                    <a class="nav-link" id="clientDetailDuedateExtensionTab" data-toggle="tab" role="tab" aria-controls="clientDetailDuedateExtensionTabContent" aria-selected="false" href="#clientDetailDuedateExtensionTabContent">@SharedLocalizer["Due date Extension Settings"]</a>
                </li>
            }
        }
        @if (isShowCustomFieldOn && Model.SysCustomFieldSettings != null && Model.SysCustomFieldSettings.Any())
        {
            <li class="nav-item">
                <a class="nav-link" id="clientCustomFieldTab" data-toggle="tab" role="tab" aria-controls="clientCustomFieldTabContent" aria-selected="false" href="#clientCustomFieldTabContent">@SharedLocalizer[settings.AuxCustomFieldsTabLabel]</a>
            </li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane page-content cpiMainEntry show active" id="clientDetailMainTabContent" role="tabpanel" aria-labelledby="clientDetailMainTab">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="form-group float-label">
                        <label asp-for="Language"></label>
                        @if (isReadOnly)
                        {
                            <input type="text" class="form-control form-control-sm" asp-for="Language" readonly />
                        }
                        else
                        {
                            @await Component.InvokeAsync("ComboBox", ComboBoxHelper.LanguageWithLink("Language", Model.Language))
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group float-label">
                        <label asp-for="TaxSchedule"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="TaxSchedule" asp-is-readonly="@isReadOnly" />
                    </div>
                </div>
               @*  <div class="col-md-4 pt-3">
                    @if (isReadOnly)
                    {
                        @(Html.Kendo().CheckBoxFor(m => m.ClientPaidThruCPi).HtmlAttributes(new { id = "ClientPaidThruCPi_IsActive", disabled = "true" }))
                    }
                    else
                    {
                        @(Html.Kendo().CheckBoxFor(m => m.ClientPaidThruCPi).HtmlAttributes(new { id = "ClientPaidThruCPi_IsActive" }))
                    }
                </div> *@

            </div>
            <div class="form-row">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="PhoneNumber"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="PhoneNumber" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="PhoneNumber"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="FaxNumber"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="FaxNumber" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="FaxNumber"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="MobileNumber"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="MobileNumber" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="MobileNumber"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="EMail"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="EMail" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="EMail"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="WebSite"></label>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" asp-for="WebSite" asp-is-readonly="@isReadOnly" />
                            @if (!string.IsNullOrEmpty(Model.WebSite))
                            {
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary p-0 pl-2 pr-2" type="button" onClick="window.open('@Model.WebSite')" title="@SharedLocalizer["Open website in new window."]"><i class="fal fa-external-link"></i></button>
                                </div>
                            }
                        </div>
                        <span asp-validation-for="WebSite"></span>
                    </div>
                </div>
            </div>
            @if (User.IsInSystem("Patent"))
            {
                <div><label>@SharedLocalizer["Patent Attorneys"]</label></div>
                <div class="form-row">
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        <div class="form-group float-label">
                            <label>@Model.Attorney1Label</label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="PatDefaultAtty1Code" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyWithLink("PatAttorney1ID", attorneyLabel, attorneyNameLabel, Model.PatAttorney1ID, Model.PatDefaultAtty1Code))
                                <span asp-validation-for="PatAttorney1ID"></span>
                            }
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        <div class="form-group float-label">
                            <label>@Model.Attorney2Label</label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="PatDefaultAtty2Code" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyWithLink("PatAttorney2ID", attorneyLabel, attorneyNameLabel, Model.PatAttorney2ID, Model.PatDefaultAtty2Code))
                                <span asp-validation-for="PatAttorney2ID"></span>
                            }
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        <div class="form-group float-label">
                            <label>@Model.Attorney3Label</label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="PatDefaultAtty3Code" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyWithLink("PatAttorney3ID", attorneyLabel, attorneyNameLabel, Model.PatAttorney3ID, Model.PatDefaultAtty3Code))
                                <span asp-validation-for="PatAttorney3ID"></span>
                            }
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="form-group float-label">
                            <label>@Model.Attorney4Label</label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="PatDefaultAtty4Code" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyWithLink("PatAttorney4ID", attorneyLabel, attorneyNameLabel, Model.PatAttorney4ID, Model.PatDefaultAtty4Code))
                                <span asp-validation-for="PatAttorney4ID"></span>
                            }
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-5 col-xl-2">
                        <div class="form-group float-label">
                            <label>@Model.Attorney5Label</label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="PatDefaultAtty5Code" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyWithLink("PatAttorney5ID", attorneyLabel, attorneyNameLabel, Model.PatAttorney5ID, Model.PatDefaultAtty5Code))
                                <span asp-validation-for="PatAttorney5ID"></span>
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="PatAttorney1ID" />
                <input type="hidden" asp-for="PatAttorney2ID" />
                <input type="hidden" asp-for="PatAttorney3ID" />
                <input type="hidden" asp-for="PatAttorney4ID" />
                <input type="hidden" asp-for="PatAttorney5ID" />
            }

            @if (User.IsInSystem("Trademark"))
            {
                <div><label>@SharedLocalizer["Trademark Attorneys"]</label></div>
                <div class="form-row">
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        <div class="form-group float-label">
                            <label>@Model.Attorney1Label</label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="TmkDefaultAtty1Code" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyWithLink("TmkAttorney1ID", attorneyLabel, attorneyNameLabel, Model.TmkAttorney1ID, Model.TmkDefaultAtty1Code))
                                <span asp-validation-for="TmkAttorney1ID"></span>
                            }
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        <div class="form-group float-label">
                            <label>@Model.Attorney2Label</label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="TmkDefaultAtty2Code" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyWithLink("TmkAttorney2ID", attorneyLabel, attorneyNameLabel, Model.TmkAttorney2ID, Model.TmkDefaultAtty2Code))
                                <span asp-validation-for="TmkAttorney2ID"></span>
                            }
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        <div class="form-group float-label">
                            <label>@Model.Attorney3Label</label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="TmkDefaultAtty3Code" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyWithLink("TmkAttorney3ID", attorneyLabel, attorneyNameLabel, Model.TmkAttorney3ID, Model.TmkDefaultAtty3Code))
                                <span asp-validation-for="TmkAttorney3ID"></span>
                            }
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="form-group float-label">
                            <label>@Model.Attorney4Label</label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="TmkDefaultAtty4Code" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyWithLink("TmkAttorney4ID", attorneyLabel, attorneyNameLabel, Model.TmkAttorney4ID, Model.TmkDefaultAtty4Code))
                                <span asp-validation-for="TmkAttorney4ID"></span>
                            }
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-5 col-xl-2">
                        <div class="form-group float-label">
                            <label>@Model.Attorney5Label</label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="TmkDefaultAtty5Code" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyWithLink("TmkAttorney5ID", attorneyLabel, attorneyNameLabel, Model.TmkAttorney5ID, Model.TmkDefaultAtty5Code))
                                <span asp-validation-for="TmkAttorney5ID"></span>
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <input type="hidden" asp-for="TmkAttorney1ID" />
                <input type="hidden" asp-for="TmkAttorney2ID" />
                <input type="hidden" asp-for="TmkAttorney3ID" />
                <input type="hidden" asp-for="TmkAttorney4ID" />
                <input type="hidden" asp-for="TmkAttorney5ID" />
            }
        </div>
        <div class="tab-pane page-content cpiMainEntry" id="clientDetailAddressTabContent" role="tabpanel" aria-labelledby="clientDetailAddressTab">
            <fieldset>
                <div class="form-row">
                    <div class="col-md-7 col-lg-6 col-xl-4">
                        <div class="form-group float-label">
                            <label asp-for="Address1"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="Address1" asp-is-readonly="@isReadOnly" />
                            <span asp-validation-for="Address1"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-7 col-lg-6 col-xl-4">
                        <input type="text" class="form-control form-control-sm" asp-for="Address2" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="Address2"></span>
                    </div>
                </div>
                <div class="form-row pt-1">
                    <div class="col-md-7 col-lg-6 col-xl-4">
                        <input type="text" class="form-control form-control-sm" asp-for="Address3" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="Address3"></span>
                    </div>
                </div>
                <div class="form-row pt-1 pb-1">
                    <div class="col-md-7 col-lg-6 col-xl-4">
                        <input type="text" class="form-control form-control-sm" asp-for="Address4" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="Address4"></span>
                    </div>
                </div>
            </fieldset>
            <div class="form-row">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="City"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="City" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="City"></span>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-3">
                    <div class="form-group float-label">
                        <label asp-for="State"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="State" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="State"></span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 col-xl-2">
                    <div class="form-group float-label">
                        <label asp-for="ZipCode"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="ZipCode" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="ZipCode"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group float-label">
                        <label asp-for="Country"></label>
                        @if (isReadOnly)
                        {
                            <input type="text" class="form-control form-control-sm" asp-for="Country" disabled />
                        }
                        else
                        {
                            @await Component.InvokeAsync("ComboBox", ComboBoxHelper.CountryWithLink("Country", countryLabel, countryNameLabel, Model.Country, showLinkButton: User.IsInSystem(CountryLookupService.CountrySource)))
                            <span asp-validation-for="Country"></span>
                        }
                    </div>
                </div>
                <div class="col-md-8 col-lg-9 col-xl-7">
                    <div class="form-group float-label">
                        <label for="Country_@(pageId)_Name">@countryNameLabel</label>
                        <input type="text" class="form-control form-control-sm" id="Country_@(pageId)_Name" readonly="readonly" asp-for="CountryName" />
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane page-content cpiMainEntry" id="clientDetailPOBoxAddressTabContent" role="tabpanel" aria-labelledby="clientDetailPOBoxAddressTab">
            <div class="form-row">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="POAddress1"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="POAddress1" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="POAddress1"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <input type="text" class="form-control form-control-sm" asp-for="POAddress2" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="POAddress2"></span>
                </div>
            </div>
            <div class="form-row pt-1">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <input type="text" class="form-control form-control-sm" asp-for="POAddress3" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="POAddress3"></span>
                </div>
            </div>
            <div class="form-row pt-1 pb-1">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <input type="text" class="form-control form-control-sm" asp-for="POAddress4" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="POAddress4"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="POCity"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="POCity" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="POCity"></span>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-3">
                    <div class="form-group float-label">
                        <label asp-for="POState"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="POState" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="POState"></span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 col-xl-2">
                    <div class="form-group float-label">
                        <label asp-for="POZipCode"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="POZipCode" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="POZipCode"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group float-label">
                        <label asp-for="POCountry"></label>
                        @if (isReadOnly)
                        {
                            <input type="text" class="form-control form-control-sm" asp-for="POCountry" disabled />
                        }
                        else
                        {
                            @await Component.InvokeAsync("ComboBox", ComboBoxHelper.CountryWithLink("POCountry", countryLabel, countryNameLabel, Model.POCountry, showLinkButton: User.IsInSystem(CountryLookupService.CountrySource)))
                            <span asp-validation-for="POCountry"></span>
                        }
                    </div>
                </div>
                <div class="col-md-8 col-lg-9 col-xl-7">
                    <div class="form-group float-label">
                        <label for="POCountry_@(pageId)_Name">@countryNameLabel</label>
                        <input type="text" class="form-control form-control-sm" id="POCountry_@(pageId)_Name" readonly="readonly" asp-for="POCountryName" />
                    </div>
                </div>
            </div>
        </div>

        @if (hasAMS)
        {
            <div class="tab-pane page-content cpiMainEntry" id="clientDetailAMSSettingsTabContent" role="tabpanel" aria-labelledby="clientDetailAMSSettingsTab">
                <div class="form-row">
                    @if (showReminderSettings || showPrepay || showCTESettings)
                    {
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                            @if (false && showReminderSettings)
                            {
                                <div class="d-flex justify-content-between">
                                    <label for="GenerateConfirmationLetter">@SharedLocalizer[$"Send {clientLabel} Confirmation"]</label>
                                    <span>
                                        <label class="toggle-switch">
                                            <input type="checkbox" id="GenerateConfirmationLetter" name="GenerateConfirmationLetter" checked="@(Model.GenerateConfirmationLetter ?? false)" class="toggle-option" @(isReadOnly ? "disabled" : "")>
                                            <span class="slider round"></span>
                                        </label>
                                    </span>
                                </div>
                            }
                            @if (showPrepay)
                            {
                                <div class="d-flex justify-content-between">
                                    <label asp-for="PayBeforeSending"></label>
                                    <span>
                                        <label class="toggle-switch">
                                            <input type="checkbox" id="PayBeforeSending" name="PayBeforeSending" checked="@(Model.PayBeforeSending ?? false)" class="toggle-option" @(isReadOnly ? "disabled" : "")>
                                            <span class="slider round"></span>
                                        </label>
                                    </span>
                                </div>
                            }
                            @if (false && showReminderSettings)
                            {
                                <div class="d-flex justify-content-between">
                                    <label asp-for="GenerateCcRemToAtty"></label>
                                    <span>
                                        <label class="toggle-switch">
                                            <input type="checkbox" id="GenerateCcRemToAtty" name="GenerateCcRemToAtty" checked="@(Model.GenerateCcRemToAtty ?? false)" class="toggle-option" @(isReadOnly ? "disabled" : "")>
                                            <span class="slider round"></span>
                                        </label>
                                    </span>
                                </div>
                            }
                            @if (showCTESettings)
                            {
                                <div class="d-flex justify-content-between">
                                    <label asp-for="ShowCostToExpiration"></label>
                                    <span>
                                        <label class="toggle-switch">
                                            <input type="checkbox" id="ShowCostToExpiration" name="ShowCostToExpiration" checked="@(Model.ShowCostToExpiration ?? false)" class="toggle-option" @(isReadOnly ? "disabled" : "")>
                                            <span class="slider round"></span>
                                        </label>
                                    </span>
                                </div>
                            }
                            @if (false && showReminderSettings)
                            {
                                <div class="d-flex justify-content-between">
                                    <label asp-for="UseDecisionMgt"></label>
                                    <span>
                                        <label class="toggle-switch">
                                            <input type="checkbox" id="UseDecisionMgt" name="UseDecisionMgt" checked="@(Model.UseDecisionMgt ?? false)" class="toggle-option" @(isReadOnly ? "disabled" : "")>
                                            <span class="slider round"></span>
                                        </label>
                                    </span>
                                </div>
                            }
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 offset-xl-1">
                            @if (false && showReminderSettings)
                            {
                                <div class="form-group float-label confirmation-cover-letter">
                                    <label asp-for="ConfirmationCoverLetter"></label>
                                    @if (isReadOnly)
                                    {
                                        <input type="text" class="form-control form-control-sm" asp-for="ConfirmationCoverLetter" disabled />
                                    }
                                    else
                                    {
                                        @await Component.InvokeAsync("ComboBox", ComboBoxHelper.EmailSetupWithLink("ConfirmationCoverLetter", SharedLocalizer["Name"], SharedLocalizer["Description"], typeof(AMSConfirmationCoverLetter).Name, Model.ConfirmationCoverLetter))
                                        <span asp-validation-for="ConfirmationCoverLetter"></span>
                                    }
                                </div>
                            }
                            @if (showPrepay)
                            {
                                <div class="form-group float-label">
                                    <label asp-for="PrePayCoverLetter"></label>
                                    @if (isReadOnly)
                                    {
                                        <input type="text" class="form-control form-control-sm" asp-for="PrePayCoverLetter" disabled />
                                    }
                                    else
                                    {
                                        @await Component.InvokeAsync("ComboBox", ComboBoxHelper.EmailSetupWithLink("PrePayCoverLetter", SharedLocalizer["Name"], SharedLocalizer["Description"], typeof(AMSReminderCoverLetter).Name, Model.PrePayCoverLetter))
                                        <span asp-validation-for="PrePayCoverLetter"></span>
                                    }
                                </div>
                            }
                            @if (showReminderSettings)
                            {
                                <div class="form-group float-label">
                                    <label asp-for="ReminderCoverLetter"></label>
                                    @if (isReadOnly)
                                    {
                                        <input type="text" class="form-control form-control-sm" asp-for="ReminderCoverLetter" disabled />
                                    }
                                    else
                                    {
                                        @await Component.InvokeAsync("ComboBox", ComboBoxHelper.EmailSetupWithLink("ReminderCoverLetter", SharedLocalizer["Name"], SharedLocalizer["Description"], typeof(AMSReminderCoverLetter).Name, Model.ReminderCoverLetter))
                                        <span asp-validation-for="ReminderCoverLetter"></span>
                                    }
                                </div>
                                @if (false)
                                {
                                    <div class="form-group float-label">
                                        <label asp-for="AttorneySummaryCoverLetter"></label>
                                        @if (isReadOnly)
                                        {
                                            <input type="text" class="form-control form-control-sm" asp-for="AttorneySummaryCoverLetter" disabled />
                                        }
                                        else
                                        {
                                            @await Component.InvokeAsync("ComboBox", ComboBoxHelper.EmailSetupWithLink("AttorneySummaryCoverLetter", SharedLocalizer["Name"], SharedLocalizer["Description"], typeof(AMSReminderCoverLetter).Name, Model.AttorneySummaryCoverLetter))
                                            <span asp-validation-for="AttorneySummaryCoverLetter"></span>
                                        }
                                    </div>
                                }
                            }
                        </div>
                    }
                    <div class="col-12 col-sm-6 col-lg-4 offset-sm-6 offset-lg-0">
                        @if (false)
                        {
                            <div class="form-group float-label">
                                <label asp-for="FeeSetupName"></label>
                                @if (isReadOnly)
                                {
                                    <input type="text" class="form-control form-control-sm" asp-for="FeeSetupName" disabled />
                                }
                                else
                                {

                                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AuxiliaryWithLink(
                        name: "FeeSetupName",
                        action: "GetFeeSetupList",
                        controller: "FeeSetup",
                        area: "AMS",
                        labels: new string[] { SharedLocalizer["Fee Setup"], SharedLocalizer["Description"] },
                        columns: new string[] { "FeeSetupName", "Description" },
                        defaultValue: Model.FeeSetupName
                        ))
                                    <span asp-validation-for="FeeSetupName"></span>
                                }
                            </div>
                        }
                        @if (false)
                        {
                            <div class="form-group float-label">
                                <label asp-for="VATCountry"></label>
                                @if (isReadOnly)
                                {
                                    <input type="text" class="form-control form-control-sm" asp-for="VATCountry" disabled />
                                }
                                else
                                {

                                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AuxiliaryWithLink(
                        name: "VATCountry",
                        textProperty: "Country",
                        action: "GetVATCountryList",
                        controller: "VATRateSetup",
                        area: "AMS",
                        labels: new string[] { SharedLocalizer["Country"], SharedLocalizer["VAT Name"] },
                        columns: new string[] { "Country", "VATName" },
                        defaultValue: Model.VATCountry
                        ))
                                    <span asp-validation-for="VATCountry"></span>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <input type="hidden" asp-for="GenerateConfirmationLetter" class="boolean" />
            <input type="hidden" asp-for="PayBeforeSending" class="boolean" />
            <input type="hidden" asp-for="GenerateCcRemToAtty" class="boolean" />
            <input type="hidden" asp-for="ShowCostToExpiration" class="boolean" />
            <input type="hidden" asp-for="UseDecisionMgt" class="boolean" />
            <input type="hidden" asp-for="ConfirmationCoverLetter" />
            <input type="hidden" asp-for="PrePayCoverLetter" />
            <input type="hidden" asp-for="ReminderCoverLetter" />
            <input type="hidden" asp-for="AttorneySummaryCoverLetter" />
            <input type="hidden" asp-for="FeeSetupName" />
            <input type="hidden" asp-for="VATCountry" />
        }

        @if (hasFF)
        {
            <div class="tab-pane page-content cpiMainEntry" id="clientDetailFFSettingsTabContent" role="tabpanel" aria-labelledby="clientDetailFFSettingsTab">
                <div class="form-row">
                    @if (false)
                    {
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                            <div class="d-flex justify-content-between">
                                <label for="FFGenerateConfirmationLetter">@SharedLocalizer[$"Send {clientLabel} Confirmation"]</label>
                                <span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="FFGenerateConfirmationLetter" name="FFGenerateConfirmationLetter" checked="@(Model.FFGenerateConfirmationLetter ?? false)" class="toggle-option" @(isReadOnly ? "disabled" : "")>
                                        <span class="slider round"></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    }
                    <div class="col-12 col-sm-6 col-lg-4 @(false ? "offset-xl-1" : "")">
                        @if (false)
                        {
                            <div class="form-group float-label confirmation-cover-letter">
                                <label asp-for="FFConfirmationCoverLetter"></label>
                                @if (isReadOnly)
                                {
                                    <input type="text" class="form-control form-control-sm" asp-for="FFConfirmationCoverLetter" disabled />
                                }
                                else
                                {
                                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.EmailSetupWithLink("FFConfirmationCoverLetter", SharedLocalizer["Name"], SharedLocalizer["Description"], typeof(FFConfirmationCoverLetter).Name, Model.FFConfirmationCoverLetter))
                                    <span asp-validation-for="FFConfirmationCoverLetter"></span>
                                }
                            </div>
                        }
                        <div class="form-group float-label">
                            <label asp-for="FFReminderCoverLetter"></label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="FFReminderCoverLetter" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.EmailSetupWithLink("FFReminderCoverLetter", SharedLocalizer["Name"], SharedLocalizer["Description"], false ? typeof(FFReminderWithInstructByDateCoverLetter).Name : typeof(FFReminderCoverLetter).Name, Model.FFReminderCoverLetter))
                                <span asp-validation-for="FFReminderCoverLetter"></span>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 offset-sm-6 offset-lg-0">
                    </div>
                </div>
            </div>
        }
        else
        {
            <input type="hidden" asp-for="FFGenerateConfirmationLetter" class="boolean" />
            <input type="hidden" asp-for="FFConfirmationCoverLetter" />
            <input type="hidden" asp-for="FFReminderCoverLetter" />
        }

        @if (hasRMS)
        {
            <div class="tab-pane page-content cpiMainEntry" id="clientDetailRMSSettingsTabContent" role="tabpanel" aria-labelledby="clientDetailRMSSettingsTab">
                <div class="form-row">
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                        @if (false)
                        {
                            <div class="d-flex justify-content-between">
                                <label for="RMSGenerateConfirmationLetter">@SharedLocalizer[$"Send {clientLabel} Confirmation"]</label>
                                <span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="RMSGenerateConfirmationLetter" name="RMSGenerateConfirmationLetter" checked="@(Model.RMSGenerateConfirmationLetter ?? false)" class="toggle-option" @(isReadOnly ? "disabled" : "")>
                                        <span class="slider round"></span>
                                    </label>
                                </span>
                            </div>
                        }
                        @if (showRMSPrepay)
                        {
                            <div class="d-flex justify-content-between">
                                <label asp-for="RMSPayBeforeSending"></label>
                                <span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="RMSPayBeforeSending" name="RMSPayBeforeSending" checked="@(Model.RMSPayBeforeSending ?? false)" class="toggle-option" @(isReadOnly ? "disabled" : "")>
                                        <span class="slider round"></span>
                                    </label>
                                </span>
                            </div>
                        }
                        @if (false)
                        {
                            <div class="d-flex justify-content-between">
                                <label asp-for="RMSUseDecisionMgt"></label>
                                <span>
                                    <label class="toggle-switch">
                                        <input type="checkbox" id="RMSUseDecisionMgt" name="RMSUseDecisionMgt" checked="@(Model.RMSUseDecisionMgt ?? false)" class="toggle-option" @(isReadOnly ? "disabled" : "")>
                                        <span class="slider round"></span>
                                    </label>
                                </span>
                            </div>
                        }
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 offset-xl-1">
                        @if (false)
                        {
                            <div class="form-group float-label confirmation-cover-letter">
                                <label asp-for="RMSConfirmationCoverLetter"></label>
                                @if (isReadOnly)
                                {
                                    <input type="text" class="form-control form-control-sm" asp-for="RMSConfirmationCoverLetter" disabled />
                                }
                                else
                                {
                                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.EmailSetupWithLink("RMSConfirmationCoverLetter", SharedLocalizer["Name"], SharedLocalizer["Description"], typeof(RMSConfirmationCoverLetter).Name, Model.RMSConfirmationCoverLetter))
                                    <span asp-validation-for="RMSConfirmationCoverLetter"></span>
                                }
                            </div>
                        }
                        <div class="form-group float-label">
                            <label asp-for="RMSReminderCoverLetter"></label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="RMSReminderCoverLetter" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.EmailSetupWithLink("RMSReminderCoverLetter", SharedLocalizer["Name"], SharedLocalizer["Description"], false ? typeof(RMSReminderWithInstructByDateCoverLetter).Name : typeof(RMSReminderCoverLetter).Name, Model.RMSReminderCoverLetter))
                                <span asp-validation-for="RMSReminderCoverLetter"></span>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 offset-sm-6 offset-lg-0">
                    </div>
                </div>
            </div>
        }
        else
        {
            <input type="hidden" asp-for="RMSGenerateConfirmationLetter" class="boolean" />
            <input type="hidden" asp-for="RMSPayBeforeSending" class="boolean" />
            <input type="hidden" asp-for="RMSUseDecisionMgt" class="boolean" />
            <input type="hidden" asp-for="RMSConfirmationCoverLetter" />
            <input type="hidden" asp-for="RMSReminderCoverLetter" />
        }

        @if (showCESettings)
        {
            <div class="tab-pane page-content cpiMainEntry" id="clientDetailCESettingsTabContent" role="tabpanel" aria-labelledby="clientDetailCESettingsTab">
                @if (showPatCESettings)
                {
                    <div><label>@SharedLocalizer["Patent Cost Estimator Settings"]</label></div>
                    <div class="form-row">
                        <div class="col-12 col-sm-6 col-lg-4 offset-sm-6 offset-lg-0">
                            <div class="form-group float-label">
                                <label asp-for="CEFeeSetupName"></label>
                                @if (isReadOnly)
                                {
                                    <input type="text" class="form-control form-control-sm" asp-for="CEFeeSetupName" disabled />
                                }
                                else
                                {
                                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AuxiliaryWithLink(
                        name: "CEFeeSetupName",
                        action: "GetFeeSetupList",
                        controller: "CEFeeSetup",
                        area: "Patent",
                        labels: new string[] { SharedLocalizer["Fee Setup"], SharedLocalizer["Description"] },
                        columns: new string[] { "CEFeeSetupName", "Description" },
                        defaultValue: Model.CEFeeSetupName
                        ))
                                    <span asp-validation-for="CEFeeSetupName"></span>
                                }
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 offset-sm-6 offset-lg-0">
                            <div class="form-group float-label">
                                <label asp-for="PatCEGeneralSetupName"></label>
                                @if (isReadOnly)
                                {
                                    <input type="text" class="form-control form-control-sm" asp-for="PatCEGeneralSetupName" disabled />
                                }
                                else
                                {
                                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AuxiliaryWithLink(
                        name: "PatCEGeneralId",
                        action: "GetGeneralSetupList",
                        controller: "CEGeneralSetup",
                        area: "Patent",
                        textProperty: "CostSetup",
                        valueProperty: "CEGeneralId",
                        labels: new string[] { SharedLocalizer["Cost Setup"], SharedLocalizer["Description"] },
                        columns: new string[] { "CostSetup", "Description" },
                        defaultText: Model.PatCEGeneralSetupName,
                        defaultValue: Model.PatCEGeneralId.ToString()
                        ))
                                    <span asp-validation-for="PatCEGeneralId"></span>
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" asp-for="CEFeeSetupName" />
                    <input type="hidden" asp-for="PatCEGeneralId" />
                }

                @if (showTmkCESettings)
                {
                    <div><label>@SharedLocalizer["Trademark Cost Estimator Settings"]</label></div>
                    <div class="form-row">
                        <div class="col-12 col-sm-6 col-lg-4 offset-sm-6 offset-lg-0">
                            <div class="form-group float-label">
                                <label asp-for="TmkCEFeeSetupName"></label>
                                @if (isReadOnly)
                                {
                                    <input type="text" class="form-control form-control-sm" asp-for="TmkCEFeeSetupName" disabled />
                                }
                                else
                                {
                                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AuxiliaryWithLink(
                        name: "TmkCEFeeSetupName",
                        action: "GetFeeSetupList",
                        controller: "CEFeeSetup",
                        area: "Trademark",
                        textProperty: "CEFeeSetupName",
                        valueProperty: "CEFeeSetupName",
                        labels: new string[] { SharedLocalizer["Fee Setup"], SharedLocalizer["Description"] },
                        columns: new string[] { "CEFeeSetupName", "Description" },
                        defaultValue: Model.TmkCEFeeSetupName
                        ))
                                    <span asp-validation-for="TmkCEFeeSetupName"></span>
                                }
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 offset-sm-6 offset-lg-0">
                            <div class="form-group float-label">
                                <label asp-for="TmkCEGeneralSetupName"></label>
                                @if (isReadOnly)
                                {
                                    <input type="text" class="form-control form-control-sm" asp-for="TmkCEGeneralSetupName" disabled />
                                }
                                else
                                {
                                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AuxiliaryWithLink(
                        name: "TmkCEGeneralId",
                        action: "GetGeneralSetupList",
                        controller: "CEGeneralSetup",
                        area: "Trademark",
                        textProperty: "CostSetup",
                        valueProperty: "CEGeneralId",
                        labels: new string[] { SharedLocalizer["Cost Setup"], SharedLocalizer["Description"] },
                        columns: new string[] { "CostSetup", "Description" },
                        defaultText: Model.TmkCEGeneralSetupName,
                        defaultValue: Model.TmkCEGeneralId.ToString()
                        ))
                                    <span asp-validation-for="TmkCEGeneralId"></span>
                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" asp-for="TmkCEFeeSetupName" />
                    <input type="hidden" asp-for="TmkCEGeneralId" />
                }
            </div>
        }
        else
        {
            <input type="hidden" asp-for="CEFeeSetupName" />
            <input type="hidden" asp-for="PatCEGeneralId" />
            <input type="hidden" asp-for="TmkCEFeeSetupName" />
            <input type="hidden" asp-for="TmkCEGeneralId" />
        }

        @if (showIRSettings)
        {
            <div class="tab-pane page-content cpiMainEntry" id="clientDetailIRSettingsTabContent" role="tabpanel" aria-labelledby="clientDetailIRSettingsTab">
                <div class="form-row">
                    <div class="col-12 col-sm-6 col-lg-4 offset-sm-6 offset-lg-0">
                        <div class="form-group float-label">
                            <label asp-for="RemunerationSettingId"></label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="RemunerationSettingId" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AuxiliaryWithLink(
                        name: "RemunerationSettingId",
                        action: "GetFormulaList",
                        controller: "Formula",
                        area: "Patent",
                        labels: new string[] { SharedLocalizer["Remuneration Setting Name"]},
                        columns: new string[] { "Name"},
                        defaultText: Model.RemunerationSettingName,
                        defaultValue: Model.RemunerationSettingId.ToString(),
                        valueProperty: "FormulaId",
                        textProperty: "Name"
                        ))
                                <span asp-validation-for="RemunerationSettingId"></span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <input type="hidden" asp-for="RemunerationSettingId" />
        }

        @if (!detailPagePermission.HasLimitedRead)
        {
            <div class="tab-pane page-content cpiMainEntry" id="clientDetailRemarksTabContent" role="tabpanel" aria-labelledby="clientDetailRemarksTab">
                <div class="form-row">
                    <div class="col">
                        <textarea class="form-control form-control-sm" rows="12" asp-for="Remarks" asp-is-readonly="@isReadOnlyRemarks">Remarks</textarea>
                    </div>
                </div>
            </div>
        }
        @if (!addMode)
        {
            <div class="tab-pane" id="clientDetailContactsTabContent" role="tabpanel" aria-labelledby="clientDetailContactsTab">
                @await Html.PartialAsync("_GridContactPersons", childViewModel, new ViewDataDictionary(ViewData) { { "UseDecisionMgt", Model.UseDecisionMgt ?? false }, { "RMSUseDecisionMgt", Model.RMSUseDecisionMgt ?? false } })
            </div>
            @if (User.IsInSystem("Patent") || User.IsInSystem("Trademark"))
            {
                <div class="tab-pane" id="clientDetailDesCountriesTabContent" role="tabpanel" aria-labelledby="clientDetailDesCountriesTab">
                    @await Html.PartialAsync("_GridDesignatedCountries", childViewModel)
                </div>
            }
            @if (showReviewers)
            {
                <div class="tab-pane" id="clientDetailReviewersTabContent" role="tabpanel" aria-labelledby="clientDetailReviewersTab">
                    @await Component.InvokeAsync("GridReviewers", new GridOptions { ParentId = id, Controller = "Client", Area = "Shared", Permission = detailPagePermission })
                </div>
            }
            @if (showDueDateExtension)
            {
                <div class="tab-pane" id="clientDetailDuedateExtensionTabContent" role="tabpanel" aria-labelledby="clientDetailDuedateExtensionTab">
                    @await Html.PartialAsync("_DuedateExtensionSettings",Model)
                </div>
            }
        }
        @if (isShowCustomFieldOn && Model.SysCustomFieldSettings != null && Model.SysCustomFieldSettings.Any())
        {
            <div class="tab-pane" id="clientCustomFieldTabContent" role="tabpanel" aria-labelledby="clientCustomFieldTab">
                <div class="page-content cpiMainEntry">
                    <div class="form-row">
                        @foreach (var item in Model.SysCustomFieldSettings)
                        {
                            var customFieldValue = Model.GetType().GetProperty(item.ColumnName).GetValue(Model, null);

                            object htmlAttributes;
                            if (@isReadOnly)
                            {
                                htmlAttributes = new
                                {@@class = "form-control form-control-sm",
                                    @readonly = "true"
                                };
                            }
                            else
                            {
                                htmlAttributes = new
                                {@@class = "form-control form-control-sm"
                                };
                            }

                            <div class="col-md-4">

                                @if (item.EditorType.ToLower() != "checkbox")
                                {
                                    <div class="form-group float-label">
                                        <label>@SharedLocalizer[item.ColumnLabel]</label>
                                        @if (item.EditorType.ToLower() == "textbox")
                                        {
                                    @Html.TextBox(item.ColumnName + (isReadOnly ? "_" : ""), customFieldValue, "", htmlAttributes)
                                        }
                                        else if (item.EditorType.ToLower() == "textarea")
                                        {
                                    @Html.TextArea(item.ColumnName + (isReadOnly ? "_" : ""), (string)customFieldValue, 10, 0, htmlAttributes)
                                        }
                                        else if (item.EditorType.ToLower() == "combobox")
                                        {
                                            if (isReadOnly)
                                            {
                                        @Html.TextBox(item.ColumnName + "_", customFieldValue, "", htmlAttributes)
                                            }
                                            else
                                            {
                                                @await Component.InvokeAsync("ComboBox", new { name = item.ColumnName, controller = "Client", defaultValue = (string)customFieldValue })
                                            }

                                        }
                                        else if (item.EditorType.ToLower() == "datepicker")
                                        {
                                            if (isReadOnly)
                                            {
                                                customFieldValue = customFieldValue != null ? ((DateTime?)Convert.ToDateTime(customFieldValue)).FormatToDisplay() : "";
                                        @Html.TextBox(item.ColumnName + "_", customFieldValue, "", htmlAttributes)
                                            }
                                            else
                                            {
                                                @await Component.InvokeAsync("DatePicker", new DatePickerOptions(item.ColumnName) { Screen = pageId.ToString(), Value = customFieldValue == null ? (DateTime?)null : Convert.ToDateTime(customFieldValue) })
                                            }
                                        }

                                    </div>
                                }
                                else
                                {
                                    <div class="form-check form-check-inline">
                                        @if (isReadOnly)
                                        {
                                    @Html.CheckBox(item.ColumnName + "_", customFieldValue == null ? false : Convert.ToBoolean(customFieldValue), new { id = $"{item.ColumnName}_{pageId}", @class = "form-check-input", @disabled = "disabled" })
                                        }
                                        else
                                        {
                                            @Html.CheckBox(item.ColumnName, customFieldValue == null ? false : Convert.ToBoolean(customFieldValue), new { id = $"{item.ColumnName}_{pageId}", @class = "form-check-input"})
                                        }
                                        <label class="form-check-label" for="@($"{item.ColumnName}_{pageId}")">@SharedLocalizer[item.ColumnLabel]</label>
                                    </div>
                                }
                            </div>

                        }
                    </div>
                </div>
            </div>
        }
    </div>
    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
        </div>
    }
</form>

<script>
    clientPage.initialize(@id, '@pageId.ToString()', @((int)CPiEntityType.Client));
</script>

