@model ClientDetailViewModel
@inject IStringLocalizer<SharedResource> Localizer
@{
    var days = new int[] { 0, 1, 7, 14, 21, 30 };
    var weeks = new int[] { 0, 1, 2, 3, 4, 5, 6 };
    var months = new int[] { 0, 1, 2, 3, 4, 5, 6 };

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
}

<script>
    function extendClientDueDateRecurrenceChange() {
        const interval = $("#clientExtendDueDateSetting #DueDateExtendRepeatInterval").data("kendoDropDownList");
        interval.dataSource.read();

        if ($("#clientExtendDueDateSetting #DueDateExtendRepeatRecurrence").val() == "W")
            $("#clientExtendDueDateSetting .repeat-day").removeClass("d-none");
        else
            $("#clientExtendDueDateSetting .repeat-day").addClass("d-none");
    }

    function extendClientDueDateStopIndicatorChange(e) {
        const stopIndicator = $("#clientExtendDueDateSetting #DueDateExtendStopIndicator").val();

        //on
        if (stopIndicator == "O") {
            $("#clientExtendDueDateSetting .stop-date").removeClass("d-none")
            $("#clientExtendDueDateSetting .stop-occurence").addClass("d-none")
        }
        //after no of occurences
        else if (stopIndicator == "A") {
            $("#clientExtendDueDateSetting .stop-date").addClass("d-none")
            $("#clientExtendDueDateSetting .stop-occurence").removeClass("d-none")
        }
        //never
        else {
            $("#clientExtendDueDateSetting .stop-date").addClass("d-none")
            $("#clientExtendDueDateSetting .stop-occurence").addClass("d-none")
        }
    }
</script>

<div id="clientExtendDueDateSetting" class="cpiMainEntry">
    <div class="container-fluid">
        <div class="row pt-3">
            <div class="col-md-3">
                <div class="form-group float-label">
                    <label asp-for="DueDateExtendMonth"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="DueDateExtendMonth" readonly />
                    }
                    else
                    {
                          @(Html.Kendo().DropDownListFor(m => m.DueDateExtendMonth).BindTo(months).HtmlAttributes(new { style = "width: 100%" }))
                    }
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group float-label">
                    <label asp-for="DueDateExtendWeek"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="DueDateExtendWeek" readonly />
                    }
                    else
                    {
                        @(Html.Kendo().DropDownListFor(m => m.DueDateExtendWeek).BindTo(weeks).HtmlAttributes(new { style = "width: 100%" }))
                    }
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group float-label">
                    <label asp-for="DueDateExtendDay"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="DueDateExtendDay" readonly />
                    }
                    else
                    {
                        @(Html.Kendo().DropDownListFor(m => m.DueDateExtendDay).BindTo(days).HtmlAttributes(new { style = "width: 100%" }))
                    }
                </div>
            </div>
        </div>

        <h5 class="pt-4">@Localizer["Custom recurrence"]</h5>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group float-label">
                    <label asp-for="DueDateExtendRepeatInterval"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="DueDateExtendRepeatInterval" readonly />
                    }
                    else
                    {
                        @(Html.Kendo().DropDownListFor(m => m.DueDateExtendRepeatInterval)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetRepeatInterval", "ExtendDueDate").Data("function () {return {recurrence: $('#clientExtendDueDateSetting #DueDateExtendRepeatRecurrence').val()}}");
                                });
                            })
                            .HtmlAttributes(new { style = "width: 100%" })
                            )
                    }
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group float-label">
                    <label>&nbsp;</label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="DueDateExtendRepeatRecurrence" readonly />
                    }
                    else
                    {
                        @(Html.Kendo().DropDownListFor(m => m.DueDateExtendRepeatRecurrence)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Events(e => e.Change("extendClientDueDateRecurrenceChange"))
                            .BindTo(new List<SelectListItem>() {
                    new SelectListItem() {
                    Text = Localizer["Days"],
                    Value = "D"
                    },
                    new SelectListItem() {
                    Text = Localizer["Weeks"],
                    Value = "W"
                    },
                    new SelectListItem() {
                    Text = Localizer["Months"],
                    Value = "M"
                    }
                    })
                            .HtmlAttributes(new { style = "width: 100%" })
                            )

                    }

                </div>
            </div>
            <div class="col-md-3 repeat-day @(Model.DueDateExtendRepeatRecurrence !="W" ? "d-none" : "")">
                <div class="form-group float-label">
                    <label asp-for="DueDateExtendRepeatOnDay"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="DueDateExtendRepeatOnDay" readonly />
                    }
                    else
                    {
                        @(Html.Kendo().DropDownListFor(m => m.DueDateExtendRepeatOnDay)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .BindTo(new List<SelectListItem>() {
                    new SelectListItem() {
                    Text = Localizer["Monday"],
                    Value = "1"
                    },
                    new SelectListItem() {
                    Text = Localizer["Tuesday"],
                    Value = "2"
                    },
                    new SelectListItem() {
                    Text = Localizer["Wednesday"],
                    Value = "3"
                    },
                    new SelectListItem() {
                    Text = Localizer["Thursday"],
                    Value = "4"
                    },
                    new SelectListItem() {
                    Text = Localizer["Friday"],
                    Value = "5"
                    },
                    new SelectListItem() {
                    Text = Localizer["Saturday"],
                    Value = "6"
                    },
                    new SelectListItem() {
                    Text = Localizer["Sunday"],
                    Value = "7"
                    },
                    })
                            .HtmlAttributes(new { style = "width: 100%" })
                            )
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group float-label">
                    <label asp-for="DueDateExtendStopIndicator"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="DueDateExtendStopIndicator" readonly />
                    }
                    else
                    {
                        @(Html.Kendo().DropDownListFor(m => m.DueDateExtendStopIndicator)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Events(e => e.Change("extendClientDueDateStopIndicatorChange"))
                            .BindTo(new List<SelectListItem>() {
                    new SelectListItem() {
                    Text = Localizer["Never"],
                    Value = "N"
                    },
                    new SelectListItem() {
                    Text = Localizer["On"],
                    Value = "O"
                    },
                    new SelectListItem() {
                    Text = Localizer["After"],
                    Value = "A"
                    },
                    })
                            .HtmlAttributes(new { style = "width: 100%" })
                            )
                    }
                </div>
            </div>
            <div class="col-md-3 stop-date @(Model.DueDateExtendStopIndicator !="O" ? "d-none" : "")">
                <div class="form-group float-label">
                    <label asp-for="DueDateExtendStopDate"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" value="@(Model.DueDateExtendStopDate.FormatToDisplay())" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DueDateExtendStopDate") { Value = Model.DueDateExtendStopDate })
                    }
                </div>
            </div>
            <div class="col-md-3 stop-occurence @(Model.DueDateExtendStopIndicator !="A" ? "d-none" : "")">
                <div class="form-group float-label">
                    <label asp-for="DueDateExtendStopAfterCount"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="DueDateExtendStopAfterCount" readonly />
                    }
                    else
                    {
                        @(Html.Kendo().NumericTextBoxFor(m => m.DueDateExtendStopAfterCount).Min(1).Format("n0").HtmlAttributes(new { style = "width: 100%" }))
                    }
                </div>
            </div>
        </div>
    </div>
</div>