@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();

    var clientLabel = settings.LabelClient;

    var customFieldsLabel = settings.AuxCustomFieldsTabLabel;

}
<li class="nav-item">
    <a class="nav-link active" data-toggle="tab" id="clientSearchMainTab" href="#clientSearchMainTabContent" role="tab" aria-controls="clientSearchMainTabContent" aria-selected="true">@SharedLocalizer[clientLabel]</a>
</li>
<li class="nav-item">
    <a class="nav-link" data-toggle="tab" id="clientSearchAddressTab" href="#clientSearchAddressTabContent" role="tab" aria-controls="clientSearchAddressTabContent" aria-selected="false">@SharedLocalizer["Address"]</a>
</li>
<li class="nav-item">
    <a class="nav-link" data-toggle="tab" id="clientSearchPOBoxTab" href="#clientSearchPOBoxTabContent" role="tab" aria-controls="clientSearchPOBoxTabContent" aria-selected="false">@SharedLocalizer["PO Box"]</a>
</li>
<li class="nav-item">
    <a class="nav-link" data-toggle="tab" id="clientSearchOtherInfoTab" href="#clientSearchOtherInfoTabContent" role="tab" aria-controls="clientSearchOtherInfoTabContent" aria-selected="false">@SharedLocalizer["Other Info"]</a>
</li>
@if (settings.IsShowCustomFieldOn)
{
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" id="clientSearchCustomFieldsTab" href="#clientSearchCustomFieldsTabContent" role="tab" aria-controls="clientSearchCustomFieldsTabContent" aria-selected="false">@SharedLocalizer[customFieldsLabel]</a>
    </li>
}