@model IEnumerable<WorldwideCoverageViewModel>
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IClientService ClientService
@inject IStringLocalizer<PatentResource> Localizer
@inject ISystemSettings<AMSSetting> Settings
@{
    var amsSettings = await Settings.GetSetting();
    var clientLabel = Localizer[amsSettings.LabelClient];
    var clientNameLabel = Localizer[amsSettings.LabelClientName];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var viewNameSplit = widget.ViewName.ToString().Split("/");
    var viewName = viewNameSplit[viewNameSplit.Length - 1];
    var userWidgetId = widget.Id.ToString() + viewName;

    var settings = widget.UserSettings;

    List<ClientListViewModel> clients = new List<ClientListViewModel>();

    if (settings.Property("Clients") != null)
    {
        try
        {
            var clientFilter = ((JArray)settings.Property("Clients").Value).Select(a => (string)a).ToList();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientCode))
                                        .Select(c => new ClientListViewModel()
                                        {
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();

                clients.AddRange(clientFilter.Where(f => !clients.Any(c => c.ClientCode == f)).Select(f => new ClientListViewModel()
                {
                    ClientCode = f
                }));
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }
}

<style>
    #clientFilter_@userWidgetId .client-code {
        font-weight: 600;
        margin-right: 10px;
    }
</style>
<script>
    $(document).ready(function () {
        var clientList = [@Html.Raw(String.Join(",", clients.Select(c => $"'{c.ClientCode}'").ToList()))];
        var refresh = false;

        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).attr("data-id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: ${JSON.stringify(clientList)} }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientCode, clientList) == -1) {
                    clientList.push(clientCode);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientCode}" title="Remove ${clientCode}"><i class="fal fa-trash-alt" style="cursor:pointer;"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: ${JSON.stringify(clientList)} }`, function () { refresh = true; });
                }
            }

            client.value("");
        });
    });
</script>

<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientCode("ClientCode", clientLabel, clientNameLabel, "AnnuitiesDue", "", "AMS", userWidgetId))
                </span>
            </li>
            @foreach (ClientListViewModel client in clients.OrderBy(c => c.ClientCode))
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientCode" title="Remove @client.ClientCode"><i class="fal fa-trash-alt" style="@(widget.IsDetail ? "cursor:pointer;" : "")"></i></div>
                </li>
            }
        </ul>
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

@(Html.Kendo().Map()
        //.Name("worldwideCoverage-map")
        .Name(userWidgetId)
        .Center(23, 10)
        .Zoom(1)
        .MinZoom(1)
        .MaxZoom(4)
        .Wraparound(true)
        .Layers(layers =>
        {
            layers.Add()
                .Type(MapLayerType.Tile)
                //https://api.mapbox.com/styles/v1/mapbox/light-v10/tiles/#= zoom #/#= x #/#= y #?access_token=pk.eyJ1IjoiY3AxZDN2MHBlcjIwMjAiLCJhIjoiY2tpdDhuaTZqMGprajJzbXAxY2hvZG9tMiJ9.mrCSafPlgfVkPaMp85SKaQ
                .UrlTemplate("https://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png")
            .Subdomains("a", "b", "c")
            .Attribution("&copy; <a href='http://osm.org/copyright'>OpenStreetMap contributors</a>");

            layers.Add()
                .Type(MapLayerType.Bubble)
                .Style(style => style
                    .Fill(fill => fill.Color("#b074a8").Opacity(0.4))   //#58ccd8
                    .Stroke(stroke => stroke.Width(1))
                )
                .DataSource(dataSource => dataSource
                        .Read(read => read.Action("GetUserWidgetData", "Dashboard", new { Area = "", userWidgetId = widget.Id }))
                )
                .LocationField("Location")
                .ValueField("Value");

        })
        .Events(events => events
            .ShapeMouseEnter("function(e) {var oe = e.originalEvent;var x = oe.pageX || oi.clientX;var y = oe.pageY || oi.clientY;popup.element.html(template(e.shape.dataItem));popup.open(x,y);}")
            .ShapeMouseLeave("function(e) {if (!$(e.originalEvent.relatedTarget).is('.k-popup, .k-animation-container')){popup.close();popup.element.kendoStop(true,true);};}")
        )
        .HtmlAttributes( new { style = "height:425px !important;" })

    )

<style>
    .mapTooltip p {
        color: #575050;
        font-weight: bold;
    }

    /*#worldwideCoverage-map {
        height: 425px;
    }*/

</style>
<script>
    $(function () {
        $("#@widget.Id.ToString()").addClass("fixed-width");
    });
    var popup = $("<div class='toolTipPopup'></div>")
        .appendTo(document.body)
        .kendoPopup()
        .data("kendoPopup");

    function template(item) {
        return "<table class='mapTooltip'><tr><td><p style='display:inline;'><img src='images/flags/" + item.Country + ".gif' />" + item.CountryName + " " + item.Value +"</p></td></tr></table>";
        //<tr><td>Count:</td><td>" + item.Value + "</td></tr>
    };

</script>