@model IEnumerable<ChartDTO>
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json.Serialization;
@using Microsoft.EntityFrameworkCore;
@inject IClientService ClientService
@inject IParentEntityService<PatCountry, PatAreaCountry> CountryService
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<AMSSetting> Settings

@{
    var amsSettings = await Settings.GetSetting();
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
    var clientLabel = Localizer[amsSettings.LabelClient];
    var clientNameLabel = Localizer[amsSettings.LabelClientName];
    var caseNumberLabel = Localizer[amsSettings.LabelCaseNumber];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var gridDetailTitle = Localizer[widget.Title + " - {0}"];
    var viewNameSplit = widget.ViewName.ToString().Split("/");
    var viewName = viewNameSplit[viewNameSplit.Length - 1];
    var userWidgetId = widget.Id.ToString() + viewName;

    var settings = widget.UserSettings;
    var widgetSettings = widget.WidgetSettings;
    List<ClientListViewModel> clients = new List<ClientListViewModel>();

    if (settings.Property("Clients") != null)
    {
        try
        {
            var clientFilter = ((JArray)settings.Property("Clients").Value).Select(a => (string)a).ToList();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientCode))
                                        .Select(c => new ClientListViewModel()
                                        {
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();

                clients.AddRange(clientFilter.Where(f => !clients.Any(c => c.ClientCode == f)).Select(f => new ClientListViewModel()
                {
                    ClientCode = f
                }));
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<CountryLookupViewModel> countries = new List<CountryLookupViewModel>();

    if (settings.Property("Countries") != null)
    {
        try
        {
            int[] countryFilter = ((JArray)settings.Property("Countries").Value).Select(a => (int)a).ToArray();

            if (countryFilter.Count() > 0)
            {
                countries = await CountryService.QueryableList
                                        .Where(c => countryFilter.Contains(c.CountryID))
                                        .Select(c => new CountryLookupViewModel
                                        {
                                            CountryID = c.CountryID,
                                            Country = c.Country,
                                            CountryName = c.CountryName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    bool showAMSServiceFee = widgetSettings.Property("ShowAMSServiceFee") != null ? widgetSettings["ShowAMSServiceFee"].Value<bool>() : false;
    if (!amsSettings.HasServiceFee) showAMSServiceFee = false;

    int serviceFeeSwitch = settings.Property("ServiceFeeSwitch") != null ? settings["ServiceFeeSwitch"].Value<int>() : -1;
}

<style>
    #clientFilter_@userWidgetId .client-code {
        font-weight: 600;
        margin-right: 10px;
    }
    #countryFilter_@userWidgetId .country-code {
        font-weight: 600;
        margin-right: 10px;
    }
</style>
<script>
    var selectedClient = "";

    $(document).ready(function () {
        var clientList = [@Html.Raw(String.Join(",", clients.Select(c => $"'{c.ClientCode}'").ToList()))];
        var countryList = [@String.Join(",", countries.Select(c => c.CountryID).ToList())];
        var refresh = false;

        $(document).on("click", "#@userWidgetId-servicefee-switch", function (e) {
            saveSetting(@widget.Id, `{ ServiceFeeSwitch: ${$(this).is(':checked') ? -1 : 1} }`, function () { refresh = true; });
        });

        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).attr("data-id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: ${JSON.stringify(clientList)} }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientCode, clientList) == -1) {
                    clientList.push(clientCode);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientCode}" title="Remove ${clientCode}"><i class="fal fa-trash-alt" style="cursor:pointer;"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: ${JSON.stringify(clientList)} }`, function () { refresh = true; });
                }
            }

            client.value("");
        });

        $(document).off("click", "#countryFilter_@userWidgetId .delete-country");
        $(document).off("change", "#Country_@userWidgetId");
        $(document).on("click", "#countryFilter_@userWidgetId .delete-country", function (e) {
            var item = $.inArray($(this).data("id"), countryList);

            if (item !== -1) {
                countryList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Countries: [${countryList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#Country_@userWidgetId", function (e) {
            var country = $(this).data("kendoMultiColumnComboBox");

            if (country.selectedIndex >= 0) {
                var dataItem = country.dataItem(country.selectedIndex);

                var countryId = dataItem.CountryID;
                var countryCode = dataItem.Country;
                var countryName = dataItem.CountryName;

                if ($.inArray(countryId, countryList) == -1) {
                    countryList.push(countryId);
                    $("#countryFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="country-code">${countryCode}</span><span class="country-name">${countryName}</span></div><div class="delete-filter delete-country" data-id="${countryId}" title="Remove ${countryCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Countries: [${countryList.toString()}] }`, function () { refresh = true; });
                }
            }

            country.value("");
        });

        if ('@(widget.IsDetail)' === '@true') {
            var chart = $("#@userWidgetId").data("kendoChart");
            chart.bind("seriesClick", onSeriesClick);
            $("#@userWidgetId").attr("style", "position: static !important;");
            $("#@userWidgetId-grid-header").hide();

            var grid = $("#@userWidgetId-grid").data("kendoGrid");
            grid.dataSource.read();
        }

    });

    function onSeriesClick(e) {
        var grid = $("#@userWidgetId-grid").data("kendoGrid");
        grid.dataSource.read({ userWidgetId: @widget.Id, client: e.category });

        var gridTitle = "@gridDetailTitle";
        $("#@userWidgetId-grid-title").text(gridTitle.replace("{0}", e.category));
        $("#@userWidgetId-grid-header").show();

        selectedClient = e.category;
    };

    function gridExcelExport(e) {
        e.preventDefault();
        var excelExportUrl = "@Url.Action("AMSAnnuitiesDueThisYearByClientDetailExportExcel", "Dashboard")";
        const dataJSON = JSON.stringify({ userWidgetId: @widget.Id, client: selectedClient });
        const html = '<form method="POST" action="' + excelExportUrl + '">' +
            '<input type="hidden" name="__RequestVerificationToken" value="' + $("[name='__RequestVerificationToken']").val() + '">';
        let form = $(html);
        form.append($('<input type="hidden" name="filtersJSON"/>').val(dataJSON));
        $('body').append(form);
        form.submit();
    };

    function gridDetailSearchFilters() {   
        return { userWidgetId: @widget.Id, client: selectedClient };
    };
</script>

<div class="widget-settings" style="max-height: 425px; @(widget.IsDetail ? "width:30%;" : "")">
    <div class="settings-body">
        @if (showAMSServiceFee)
        {
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["Include service fee"]</span>
                    <span>
                        <label class="toggle-switch">
                            <input id="@userWidgetId-servicefee-switch" type="checkbox" checked="@(serviceFeeSwitch==-1)">
                            <span class="slider round"></span>
                        </label>
                    </span>
                </li>
            </ul>
        }
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientCode("ClientCode", clientLabel, clientNameLabel, "AnnuitiesDue", "", "AMS", userWidgetId))
                </span>
            </li>
            @foreach (ClientListViewModel client in clients.OrderBy(c => c.ClientCode))
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientCode" title="Remove @client.ClientCode"><i class="fal fa-trash-alt" style="@(widget.IsDetail ? "cursor:pointer;" : "")"></i></div>
                </li>
            }
        </ul>
        <ul id="countryFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@countryLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.CountryID("Country", countryLabel, countryNameLabel, "AnnuitiesDue", "AMS", userWidgetId))</span>
            </li>
            @foreach (CountryLookupViewModel country in countries)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="country-code">@country.Country</span>
                        <span class="country-name">@country.CountryName</span>
                    </div>
                    <div class="delete-filter delete-country" data-id="@country.CountryID" title="Remove @country.Country"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary @(widget.IsDetail ? "float-right" : "float-right")"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

@(Html.Kendo().Chart(Model)
            .Name(userWidgetId)
            .Title("")
            .ChartArea(chartArea => chartArea
                .Background("transparent")
            )
            .Series(series => series
                .Column(model => model.Value, model => model.Group)
                //.ColorField("Color")
                .Overlay(o => o.Gradient(ChartSeriesGradient.None))
                .Labels(labels => labels
                    .Visible(true)
                    .Format("{0}")
                    .Template(string.IsNullOrEmpty(widget.LabelTemplate) ? "#= value #" : widget.LabelTemplate)
                    .Position(ChartBarLabelsPosition.OutsideEnd)
                )
            )
            .SeriesColors(widget.SeriesColors)
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Template(string.IsNullOrEmpty(widget.TooltipTemplate) ? "#= category #: #= value #" : widget.TooltipTemplate)
            )
            //Settings for PDF export using kendo built-in function
            .Pdf(pdf => pdf
                .FileName(@widget.Title.ToString())
                //.PaperSize("A4")
                .Landscape(false)
                .Margin(m => m
                    .Left(10)
                    .Right(10)
                    .Top(10)
                    .Bottom(10))
            )
)
@if (widget.IsDetail)
{
    <div id="@userWidgetId-grid-header">
        <h4><span id="@userWidgetId-grid-title"></span></h4>
    </div>

    @(Html.Kendo().Grid<AMSAnnuitiesDueThisYearViewModel>()
                    .Name(userWidgetId+"-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(a => a.CaseNumber).Title(caseNumberLabel).HtmlAttributes(new { @class = "text-nowrap" });
                        columns.Bound(a => a.Country);
                        columns.Bound(a => a.SubCase);
                        columns.Bound(a => a.CPICaseType);
                        columns.Bound(a => a.CPITitle);
                        columns.Bound(a => a.CPIAppNo);
                        columns.Bound(a => a.CPIPatNo);
                        columns.Bound(a => a.CPIExpireDate).Format("{0:dd-MMM-yyyy}");
                        columns.Bound(a => a.AnnuityDueDate).Format("{0:dd-MMM-yyyy}");
                        columns.Bound(a => a.AnnuityCost).Format("{0:n}");
                    })
                    .ToolBar(tools => tools.Excel())
                    .AutoBind(false)
                    //.Excel(excel => excel.AllPages(true).ProxyURL(Url.Action("ExportToExcel", "Dashboard")))
                    .Pageable(page => page.PageSizes(amsSettings.SearchResultsPageSizeOptions))
                    .Sortable(sort => sort.AllowUnsort(false))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(amsSettings.SearchResultsPageSize)
                        .Read(read => read.Action("AMSAnnuitiesDueThisYearByClientDetailRead", "Dashboard", new { userWidgetId = widget.Id })
                        .Data("gridDetailSearchFilters"))
                    )
                    .Events(e => e.ExcelExport("gridExcelExport"))
                    .HtmlAttributes(new { @class = "kendo-Grid", style = "width:100%" })
)

    <style>
        .k-chart {
            margin: auto;
        }
    </style>
}

