@model IEnumerable<ChartDTO>
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<AMSSetting> Settings

@{
    var amsSettings = await Settings.GetSetting();
    var clientLabel = Localizer[amsSettings.LabelClient];
    var clientNameLabel = Localizer[amsSettings.LabelClientName];

    var keywordLabel = Localizer[amsSettings.LabelKeyword ?? "Keywords"];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var userWidgetId = widget.Id.ToString() + "-cases-by-technology";
    var settings = widget.UserSettings;
    var client = settings.Property("Client") != null ? settings["Client"].Value<string>() : "";

    List<string> keywords = new List<string>();

    if (settings.Property("Keywords") != null)
    {
        try
        {
            keywords = ((JArray)settings.Property("Keywords").Value).Select(a => (string)a).ToList();
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }
}

<style>
    #keywordFilter_@userWidgetId .keyword {
        font-weight: 600;
        margin-right: 10px;
    }
</style>
<script>
    $(document).ready(function () {
        var keywordList = [@Html.Raw(String.Join(",", keywords.Select(c => $"'{c}'").ToList()))];
        var refresh = false;

        $(document).off("click", "#keywordFilter_@userWidgetId .delete-keyword");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).off("change", "#Keyword_@userWidgetId");
        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");

        $(document).on("click", "#keywordFilter_@userWidgetId .delete-keyword", function (e) {
            var item = $.inArray($(this).data("keyword"), keywordList);
            
            if (item !== -1) {
                keywordList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Keywords: ${JSON.stringify(keywordList)} }`, function () { refresh = true; });
            }
        });

        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var comboBox = $(this).data("kendoComboBox");
            var clientCode = "";

            if (comboBox.selectedIndex >= 0) {
                var dataItem = comboBox.dataItem(comboBox.selectedIndex);
                clientCode = dataItem.ClientCode;
            }            
            else {
                comboBox.value("");
            }
            
            saveSetting(@widget.Id, `{ Client: "${clientCode}" }`, function () { refresh = true; });
        });

        $(document).on("change", "#Keyword_@userWidgetId", function (e) {
            var comboBox = $(this).data("kendoComboBox");

            if (comboBox.selectedIndex >= 0) {
                var dataItem = comboBox.dataItem(comboBox.selectedIndex);

                var keyword = dataItem.Keyword;

                if ($.inArray(keyword, keywordList) == -1) {
                    keywordList.push(keyword);
                    $("#keywordFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="keyword">${keyword}</span></div><div class="delete-filter delete-keyword" data-keyword="${keyword}" title="Remove ${keyword}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Keywords: ${JSON.stringify(keywordList)} }`, function () { refresh = true; });
                }
            }

            comboBox.value("");
        });

        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });
    });
</script>

<div class="widget-settings" style="max-height: 425px; z-index:12">
    <div class="settings-body">
        <ul id="keywordFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span class="client-select-label">@clientLabel</span>
                <span>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientCode("ClientCode", clientLabel, clientNameLabel, "AnnuitiesDue", client, "AMS", userWidgetId))
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>@keywordLabel</span>
                <span>
                    @await Component.InvokeAsync("ComboBox", new { name = "Keyword", textProperty = "Keyword", controller = "PatKeyword", area = "Patent", screen = userWidgetId })
                </span>
            </li>
            @foreach (string keyword in keywords)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="keyword">@keyword</span>
                    </div>
                    <div class="delete-filter delete-keyword" data-keyword="@keyword" title="Remove @keyword"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

@(Html.Kendo().Chart(Model)
    .Name(userWidgetId)
    .Legend(legend => legend
        .Visible(true)
        .Position(ChartLegendPosition.Top)
    )
    .ChartArea(chartArea => chartArea
        .Background("transparent")
    )
    .Series(series => series
        .Column(model => model.Value, model => model.Category)
        .ColorField("Color")
        .Overlay(o => o.Gradient(ChartSeriesGradient.None))
        .Labels(labels => labels
            .Visible(true)
            .Template("#= value == null ? '' : value #")
            .Background("transparent")
            .Position(ChartBarLabelsPosition.OutsideEnd)
        )
    )
    .DataSource(dataSource => dataSource
        .Group(group => group.Add(model => model.Group))
    )
    .SeriesColors((string[])widget.SeriesColors)
    .Tooltip(tooltip => tooltip
        .Visible(true)
        .Template("#= series.name #: #= value == null ? 0 : value #")
    )
)
