@model IEnumerable<ChartDTO>
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@using R10.Core.Entities.GeneralMatter
@inject IStringLocalizer<SharedResource> sharedLocalizer
@inject ISystemSettings<AMSSetting> amsSettings
@inject IClientService ClientService
@inject IParentEntityService<PatCountry, PatAreaCountry> CountryService
@{
    var AMSSettings = await amsSettings.GetSetting();
    var clientLabel = sharedLocalizer[AMSSettings.LabelClient];
    var clientNameLabel = sharedLocalizer[AMSSettings.LabelClientName];
    var countryLabel = sharedLocalizer["Country"];
    var countryNameLabel = sharedLocalizer["Country Name"];
    var caseNumberLabel = sharedLocalizer[AMSSettings.LabelCaseNumber];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var gridDetailTitle = sharedLocalizer[" - {0}"];
    var viewNameSplit = widget.ViewName.ToString().Split("/");
    var viewName = viewNameSplit[viewNameSplit.Length - 1];
    var userWidgetId = widget.Id.ToString() + viewName; 

    var userSettings = widget.UserSettings;
    var widgetSettings = widget.WidgetSettings;

    int serviceFeeSwitch = userSettings.Property("ServiceFeeSwitch") != null ? userSettings["ServiceFeeSwitch"].Value<int>() : -1;

    int amsProjectionYears = AMSSettings.ProjectionYears;
    string projectionYears = userSettings.Property("ProjectionYears") != null ? userSettings["ProjectionYears"].Value<string>() : "2";

    List<SelectListItem> projectionYearsList = new List<SelectListItem>();
    for (int i = 1; i < amsProjectionYears; i++)
    {
        var item = new SelectListItem();
        var value = i + 1;
        item.Text = value.ToString();
        item.Value = value.ToString();
        projectionYearsList.Add(item);
    }

    List<ClientListViewModel> clients = new List<ClientListViewModel>();

    if (userSettings.Property("Clients") != null)
    {
        try
        {
            var clientFilter = ((JArray)userSettings.Property("Clients").Value).Select(a => (string)a).ToList();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientCode))
                                        .Select(c => new ClientListViewModel()
                                        {
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();

                clients.AddRange(clientFilter.Where(f => !clients.Any(c => c.ClientCode == f)).Select(f => new ClientListViewModel()
                {
                    ClientCode = f
                }));
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    string widgetTitleString = sharedLocalizer["Projected Annuity Cost Breakdown in X years"];
    widgetTitleString = widgetTitleString.Replace("X", projectionYears);

    List<SelectListItem> statusCodeList = new List<SelectListItem>()
    {
        new SelectListItem() { Text = "Active Status", Value = "1" },
        new SelectListItem() { Text = "Inactive Status", Value = "3" },
        new SelectListItem() { Text = "All Status", Value = "2" }
    };    
    string statusCodeVal = userSettings.Property("StatusCode") != null ? userSettings["StatusCode"].Value<string>() : "2";
    string statusCodeTxt = statusCodeList.Where(d => d.Value.ToLower() == statusCodeVal.ToLower()).Select(d => d.Text).FirstOrDefault() ?? "All Status";
}
<style>
    #clientFilter_@userWidgetId .client-code {
        font-weight: 600;
        margin-right: 10px;
    }    
</style>
<script>
    var selectedYear = "";
    var refresh = false;

    function saveProjectionYears(e) {
        saveSetting(@widget.Id, `{ ProjectionYears: "${this.selectedIndex >= 0 ? this.dataItem(this.selectedIndex).Value : ""}" }`, function () { refresh = true; });
    }

    function saveStatusCode(e) {
        saveSetting(@widget.Id, `{ StatusCode: ${this.selectedIndex >= 0 ? this.dataItem(this.selectedIndex).Value : ""} }`, function () { refresh = true; });
    }

    $(document).ready(function () {
        var clientList = [@Html.Raw(String.Join(",", clients.Select(c => $"'{c.ClientCode}'").ToList()))];        

        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });

        var widgetTitle = $("#@widget.Id .widget-header .widget-title");
        widgetTitle.text(`@Html.Raw(sharedLocalizer[widgetTitleString])`);
       
        $(document).on("click", "#@userWidgetId-servicefee-switch", function (e) {
            saveSetting(@widget.Id, `{ ServiceFeeSwitch: ${$(this).is(':checked') ? -1 : 1} }`, function () { refresh = true; });
        });

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).attr("data-id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: ${JSON.stringify(clientList)} }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientCode, clientList) == -1) {
                    clientList.push(clientCode);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientCode}" title="Remove ${clientCode}"><i class="fal fa-trash-alt" style="cursor:pointer;"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: ${JSON.stringify(clientList)} }`, function () { refresh = true; });
                }
            }

            client.value("");
        });
             
        if ('@(widget.IsDetail)' === '@true') {
            var chart = $("#@userWidgetId").data("kendoChart");
            chart.bind("seriesClick", onSeriesClick);
            $("#@userWidgetId").attr("style", "position: static !important;");
            $("#@userWidgetId-grid-header").hide();

            var grid = $("#@userWidgetId-grid").data("kendoGrid");
            grid.dataSource.read();
        }
    });

    function onSeriesClick(e) {
        var grid = $("#@userWidgetId-grid").data("kendoGrid");
        grid.dataSource.read({ userWidgetId: @widget.Id, year: e.category });

        var gridTitle = "@gridDetailTitle";
        $("#@userWidgetId-grid-title").text(gridTitle.replace("{0}", e.category));
        $("#@userWidgetId-grid-header").show();

        selectedYear = e.category;
    };

    function gridExcelExport(e) {
        e.preventDefault();
        var excelExportUrl = "@Url.Action("AMSProjectedAnnuityCostBreakdownDetailExportExcel", "Dashboard")";
        const dataJSON = JSON.stringify({ userWidgetId: @widget.Id, year: selectedYear });
        const html = '<form method="POST" action="' + excelExportUrl + '">' +
            '<input type="hidden" name="__RequestVerificationToken" value="' + $("[name='__RequestVerificationToken']").val() + '">';
        let form = $(html);
        form.append($('<input type="hidden" name="filtersJSON"/>').val(dataJSON));
        $('body').append(form);
        form.submit();
    };

    function gridDetailSearchFilters() {   
        return { userWidgetId: @widget.Id, year: selectedYear };
    };
</script>

<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">
        @if (AMSSettings.HasServiceFee) {
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <span>@sharedLocalizer["Include service fee"]</span>
                    <span>
                        <label class="toggle-switch">
                            <input id="@userWidgetId-servicefee-switch" type="checkbox" checked="@(serviceFeeSwitch == -1)">
                            <span class="slider round"></span>
                        </label>
                    </span>
                </li>
            </ul>
        }                    
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@sharedLocalizer["Number of years"]</span>
                <span>
                    @(Html.Kendo().DropDownList()
                        .Name(userWidgetId + "-projectionyears")
                        .AutoBind(false)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .Value(projectionYears)
                        .Text(projectionYears)
                        .BindTo(projectionYearsList)
                        .Events(e =>
                        {
                            e.Change("saveProjectionYears");
                        })
                    )
                </span>
            </li>
        </ul>            
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientCode("ClientCode", clientLabel, clientNameLabel, "AnnuitiesDue", "", "AMS", userWidgetId))
                </span>
            </li>
            @foreach (ClientListViewModel client in clients.OrderBy(c => c.ClientCode))
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientCode" title="Remove @client.ClientCode"><i class="fal fa-trash-alt" style="@(widget.IsDetail ? "cursor:pointer;" : "")"></i></div>
                </li>
            }
        </ul>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@sharedLocalizer["Status Code"]</span>
                <span>
                    @(Html.Kendo().DropDownList()
                        .Name(userWidgetId + "-statuscode")
                        .AutoBind(false)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .Value(statusCodeVal)
                        .Text(statusCodeTxt)
                        .BindTo(statusCodeList)
                        .Events(e =>
                        {
                            e.Change("saveStatusCode");
                        })
                    )
                </span>
            </li>
        </ul>
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

@(Html.Kendo().Chart(Model)
            .Name(userWidgetId)
            .Title("")
            .ChartArea(chartArea => chartArea
                .Background("transparent")
            )
            .Series(series => series
                .Column(model => model.Value, model => model.Group)
                .ColorField("Color")
                .Overlay(o => o.Gradient(ChartSeriesGradient.None))
                .Labels(labels => labels
                    .Visible(true)                    
                    .Format("{0}")
                    .Template(string.IsNullOrEmpty(widget.LabelTemplate) ? "#= value #" : widget.LabelTemplate)
                    .Position(ChartBarLabelsPosition.OutsideEnd)
                )
            )
            .SeriesColors(widget.SeriesColors)
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Template(string.IsNullOrEmpty(widget.TooltipTemplate) ? "#= category #: #= value #" : widget.TooltipTemplate)
            )
            //Settings for PDF export using kendo built-in function
            .Pdf(pdf => pdf
                .FileName(@widget.Title.ToString())
                //.PaperSize("A4")
                .Landscape(false)
                .Margin(m => m
                    .Left(10)
                    .Right(10)
                    .Top(10)
                    .Bottom(10))
            )
)

@if (widget.IsDetail)
{
    <div id="@userWidgetId-grid-header">
        <h4><span id="@userWidgetId-grid-title"></span></h4>
    </div>

    @(Html.Kendo().Grid<AmsCaseListDrillDownViewModel>()
                    .Name(userWidgetId+"-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(a => a.CaseNumber).Title(caseNumberLabel).HtmlAttributes(new { @class = "text-nowrap" });
                        columns.Bound(a => a.Country);
                        columns.Bound(a => a.SubCase);
                        columns.Bound(a => a.CPICaseType);
                        columns.Bound(a => a.CPITitle);
                        columns.Bound(a => a.CPIAppNo);
                        columns.Bound(a => a.CPIPatNo);
                        columns.Bound(a => a.CPIExpireDate).Format("{0:dd-MMM-yyyy}");
                        columns.Bound(a => a.AnnuityDueDate).Format("{0:dd-MMM-yyyy}");
                        columns.Bound(a => a.AnnuityCost).Format("{0:n}");
                    })
                    .ToolBar(tools => tools.Excel())
                    .AutoBind(false)
                    //.Excel(excel => excel.AllPages(true).ProxyURL(Url.Action("ExportToExcel", "Dashboard")))
                    .Pageable(page => page.PageSizes(AMSSettings.SearchResultsPageSizeOptions))
                    .Sortable(sort => sort.AllowUnsort(false))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(AMSSettings.SearchResultsPageSize)
                        .Read(read => read.Action("AMSProjectedAnnuityCostBreakdownDetailRead", "Dashboard", new { userWidgetId = widget.Id })
                        .Data("gridDetailSearchFilters"))
                    )
                    .Events(e => e.ExcelExport("gridExcelExport"))
                    .HtmlAttributes(new { @class = "kendo-Grid", style = "width:100%" })
    )
    <style>
        .k-chart {
            margin: auto;
        }
    </style>
}