@model IEnumerable<CaseListViewModel>
@using Newtonsoft.Json.Linq;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.EntityFrameworkCore;
@inject IAttorneyService _attyService
@inject IClientService ClientService
@inject R10.Web.Interfaces.ICountryLookupViewModelService CountryService
@inject IAuthorizationService AuthorizationService
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var clientLabel = Localizer[settings.LabelClient ?? "Client"];
    var clientNameLabel = Localizer[settings.LabelClientName ?? "Client Name"];
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var userWidgetId = widget.Id.ToString() + "-case-list";
    var template = string.IsNullOrEmpty(widget.Template) ? "<div class='name d-flex justify-content-between' style='align-items:center;'><span><a href='./#=System#/#=IdType#/detail/#=Id#' target='_blank'>#= kendo.htmlEncode(CaseNumber)# #= Country == null ? '' :  kendo.htmlEncode(Country)# #= SubCase == null ? '' :  kendo.htmlEncode(SubCase)#</a> <span class='badge badge-pill badge-info #= IsNew == 1 ? '' : 'd-none' #' title='New'>new</span></span><span class='due-date #= IsPastDue == 1 ? 'past-due' : '' #'>#= DueDate == null ? '' : kendo.format('{0:dd-MMM-yyyy}', DueDate)#</span></div><div class='title small ellipsis'>#= Action == null ? Title == null ? '&nbsp;' : kendo.htmlEncode(Title) : kendo.htmlEncode(Action)#</div>" : widget.Template;
    template = template.Replace("./#=System#/", $"{Url.ApplicationBaseUrl(Context.Request.Scheme)}/#=System#/");

    var userSettings = widget.UserSettings;
    var widgetSettings = widget.WidgetSettings;

    var systems = new string[] { SystemType.Patent, SystemType.Trademark, SystemType.GeneralMatter, SystemType.DMS, SystemType.AMS };
    var policies = widget.Policy.Split(',').ToList().Select(p => p.Trim());
    var authorizedSystems = new List<string>();

    foreach (var system in systems)
    {
        var authorized = true;

        if (policies.Any())
        {
            authorized = false;
            var tempPolicies = policies.Where(p => p == "*" || p.ToUpper().Contains(system.ToUpper())).ToList();

            if (tempPolicies == null || tempPolicies.Count == 0)
            {
                authorized = true;
            }            
            else
            {
                foreach (var pol in tempPolicies)
                {
                    if (string.IsNullOrEmpty(pol) || pol == "*" ||
                        (await AuthorizationService.AuthorizeAsync(User, pol)).Succeeded)
                    {
                        authorized = true;
                        break;
                    }
                }
            }
        }

        if (User.IsInSystem(system) && authorized)
        {
            authorizedSystems.Add(system);
        }
    }

    List<AttorneyListViewModel> attorneys = new List<AttorneyListViewModel>();

    if (userSettings.Property("Attorneys") != null)
    {
        try
        {
            int[] attyFilter = ((JArray)userSettings.Property("Attorneys").Value).Select(a => (int)a).ToArray();

            if (attyFilter.Count() > 0)
            {
                attorneys = await _attyService.QueryableList
                                        .Where(a => attyFilter.Contains(a.AttorneyID))
                                        .Select(a => new AttorneyListViewModel
                                        {
                                            AttorneyID = a.AttorneyID,
                                            AttorneyCode = a.AttorneyCode,
                                            AttorneyName = a.AttorneyName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    string defaultDateRange = widgetSettings.Property("DateRange") != null ? ((widgetSettings["DateRange"] ?? "Today").Value<string>() ?? "Today") : "Today";
    bool showSystemsOption = widgetSettings.Property("ShowSystems") != null ? (widgetSettings["ShowSystems"] ?? true).Value<bool>() : true;
    bool showDMSOption = widgetSettings.Property("ShowDMS") != null ? (widgetSettings["ShowDMS"] ?? false).Value<bool>() : false;
    bool showAMSOption = widgetSettings.Property("ShowAMS") != null ? (widgetSettings["ShowAMS"] ?? false).Value<bool>() : false;

    bool showDateRangeOption = widgetSettings.Property("ShowDateRange") != null ? (widgetSettings["ShowDateRange"] ?? true).Value<bool>() : true;
    bool showPastDueOption = widgetSettings.Property("ShowPastDue") != null ? (widgetSettings["ShowPastDue"] ?? false).Value<bool>() : false;
    bool showAttorneyOption = widgetSettings.Property("ShowAttorney") != null ? (widgetSettings["ShowAttorney"] ?? false).Value<bool>() : false;

    bool showAllowPaging = widgetSettings.Property("ShowAllowPaging") != null ? (widgetSettings["ShowAllowPaging"] ?? false).Value<bool>() : false;
    bool showSettings = (showSystemsOption || showDateRangeOption || showPastDueOption || showAllowPaging);

    bool showPastDue = userSettings.Property("ShowPastDue") != null ? (userSettings["ShowPastDue"] ?? false).Value<bool>() : false;
    bool showPatent = userSettings.Property("ShowPatent") != null ? (userSettings["ShowPatent"] ?? true).Value<bool>() : true;
    bool showTrademark = userSettings.Property("ShowTrademark") != null ? (userSettings["ShowTrademark"] ?? true).Value<bool>() : true;
    bool showGenmatter = userSettings.Property("ShowGenMatter") != null ? (userSettings["ShowGenMatter"] ?? true).Value<bool>() : true;
    bool showDMS = userSettings.Property("ShowDMS") != null ? (userSettings["ShowDMS"] ?? true).Value<bool>() : true;
    bool showAMS = userSettings.Property("ShowAMS") != null ? (userSettings["ShowAMS"] ?? true).Value<bool>() : true;

    bool allowPaging = !showAllowPaging || userSettings.Property("AllowPaging") == null ? true : (userSettings["AllowPaging"] ?? false).Value<bool>();
    string dateRange = userSettings.Property("DateRange") != null ? ((userSettings["DateRange"] ?? defaultDateRange).Value<string>() ?? defaultDateRange) : defaultDateRange;
    int pageSize = allowPaging ? widgetSettings.Property("PageSize") != null ? (widgetSettings["PageSize"] ?? 0).Value<int>() : 6 : 0;

    bool showAttyPositionOption = widgetSettings.Property("ShowAttorneyPosition") != null ? (widgetSettings["ShowAttorneyPosition"] ?? false).Value<bool>() : false;
    bool showClientOption = widgetSettings.Property("ShowClient") != null ? (widgetSettings["ShowClient"] ?? false).Value<bool>() : false;
    bool showUpdatedByOption = widgetSettings.Property("ShowUpdatedBy") != null ? (widgetSettings["ShowUpdatedBy"] ?? false).Value<bool>() : false;
    bool showExcludeIndicatorOption = widgetSettings.Property("ShowExcludeIndicator") != null ? (widgetSettings["ShowExcludeIndicator"] ?? false).Value<bool>() : false;    
    bool showInactiveCasesOption = widgetSettings.Property("ShowInactiveCases") != null ? (widgetSettings["ShowInactiveCases"] ?? false).Value<bool>() : false;
    bool showInactiveCases = userSettings.Property("ShowInactiveCases") != null ? (userSettings["ShowInactiveCases"] ?? false).Value<bool>() : false;
    bool showOfficeActionsOption = widgetSettings.Property("ShowOfficeActions") != null ? (widgetSettings["ShowOfficeActions"] ?? false).Value<bool>() : false;
    bool showOfficeActions = userSettings.Property("ShowOfficeActions") != null ? (userSettings["ShowOfficeActions"] ?? false).Value<bool>() : false;
    bool showCountryOption = widgetSettings.Property("ShowCountry") != null ? (widgetSettings["ShowCountry"] ?? false).Value<bool>() : false;

    if (!(User.IsSystemEnabled(SystemType.Patent) && User.IsSystemEnabled(SystemType.Trademark) && User.IsSystemEnabled(SystemType.GeneralMatter)))
    {
        //Hide "Display Office Actions Only" if Pat, Tmk, and Gnm are off
        showOfficeActionsOption = false;

        //Hide "Exclude Indicator" filter if Pat, Tmk, Gnm, and DMS are off
        if (!User.IsSystemEnabled(SystemType.DMS))
        {
            showExcludeIndicatorOption = false;
        }        
    }

    List<AttorneyListViewModel> attorneyPositions = new List<AttorneyListViewModel>();

    List<AttorneyListViewModel> fixedAttyPositions = new List<AttorneyListViewModel>()
{
        new AttorneyListViewModel {AttorneyID = 0, AttorneyCode = "", AttorneyName = ""},
        new AttorneyListViewModel {AttorneyID = 1, AttorneyCode = "Attorney1", AttorneyName = "Attorney1"},
        new AttorneyListViewModel {AttorneyID = 2, AttorneyCode = "Attorney2", AttorneyName = "Attorney2"},
        new AttorneyListViewModel {AttorneyID = 3, AttorneyCode = "Attorney3", AttorneyName = "Attorney3"},
        new AttorneyListViewModel {AttorneyID = 4, AttorneyCode = "Attorney4", AttorneyName = "Attorney4"},
        new AttorneyListViewModel {AttorneyID = 5, AttorneyCode = "Attorney5", AttorneyName = "Attorney5"},
        new AttorneyListViewModel {AttorneyID = 6, AttorneyCode = "Responsible", AttorneyName = "Responsible"}
    };

    if (userSettings.Property("AttorneyPositions") != null)
    {
        try
        {
            int[] attyFilter = ((JArray)userSettings.Property("AttorneyPositions").Value).Select(a => (int)a).ToArray();

            if (attyFilter.Count() > 0)
            {
                attorneyPositions = fixedAttyPositions.Where(a => attyFilter.Contains(a.AttorneyID))
                                .Select(a => new AttorneyListViewModel
                                {
                                    AttorneyID = a.AttorneyID,
                                    AttorneyCode = a.AttorneyCode,
                                    AttorneyName = a.AttorneyName
                                })
                                .ToList();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<ClientListViewModel> clients = new List<ClientListViewModel>();

    if (userSettings.Property("Clients") != null)
    {
        try
        {
            int[] clientFilter = ((JArray)userSettings.Property("Clients").Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                        {
                                            ClientID = c.ClientID,
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<string> updatedBy = new List<string>();

    if (userSettings.Property("UpdatedBy") != null)
    {
        try
        {
            string[] updatedByFilter = ((JArray)userSettings.Property("UpdatedBy").Value).Select(a => (string)a).Where(a => !string.IsNullOrEmpty(a)).ToArray();

            if (updatedByFilter.Count() > 0)
            {
                updatedBy = new List<string>(updatedByFilter);
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<string> excludeIndicators = new List<string>();

    if (userSettings.Property("ExcludeIndicators") != null)
    {
        try
        {
            string[] excludeIndicatorsFilter = ((JArray)userSettings.Property("ExcludeIndicators").Value).Select(a => (string)a).Where(a => !string.IsNullOrEmpty(a)).ToArray();

            if (excludeIndicatorsFilter.Count() > 0)
            {
                excludeIndicators = new List<string>(excludeIndicatorsFilter);
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<CountryLookupViewModel> countries = new List<CountryLookupViewModel>();
    var countrySettingProperty = userSettings.Property("Countries");
    if (countrySettingProperty != null)
    {
        try
        {
            string[] countryFilter = ((JArray)countrySettingProperty.Value).Select(a => (a ?? "").ToString()).Where(d => !string.IsNullOrEmpty(d)).ToArray();

            if (countryFilter.Count() > 0)
            {
                countries = await CountryService.Countries
                        .Where(c => countryFilter.Contains(c.Country))
                        .Select(c => new CountryLookupViewModel
                                {
                                    Country = c.Country,
                                    CountryName = c.CountryName
                                })
                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }

    int timeFrame = userSettings.Property("TimeFrame") != null ? (userSettings["TimeFrame"] ?? 1).Value<int>() : 1;
    string relativeTimeStartOp = userSettings.Property("RelativeTimeStartOp") != null ? ((userSettings["RelativeTimeStartOp"] ?? "-").Value<string>() ?? "-") : "-";
    string relativeTimeStartUnit = userSettings.Property("RelativeTimeStartUnit") != null ? ((userSettings["RelativeTimeStartUnit"] ?? "D").Value<string>() ?? "D") : "D";
    string relativeTimeEndUnit = userSettings.Property("RelativeTimeEndUnit") != null ? ((userSettings["RelativeTimeEndUnit"] ?? "W").Value<string>() ?? "W") : "W";
    int relativeTimeStartOffset = userSettings.Property("RelativeTimeStartOffset") != null ? (userSettings["RelativeTimeStartOffset"] ?? 0).Value<int>() : 0;
    int relativeTimeEndOffset = userSettings.Property("RelativeTimeEndOffset") != null ? (userSettings["RelativeTimeEndOffset"] ?? 3).Value<int>() : 3;
}

<script>
    var refresh = false;

    function saveDateRange(e) {
        var widgetId = parseInt(this.element.attr("widgetId"));
        saveSetting(widgetId, `{ DateRange: "${this.dataItem(this.selectedIndex).Text}" }`, function () { refresh = true; disablePastDueOption(widgetId); });
    }

    function disablePastDueOption(widgetId) {
        var elDateRange = $(`#${widgetId} .widget-settings .date-range-option`);
        var elPastDue = $(`#${widgetId} .widget-settings input:checkbox[data-setting='ShowPastDue']`);
        var timeFrame = $("input[name='DueDateRange_@userWidgetId']:checked");

        var selectedDate = elDateRange.text();
        if (elDateRange[1]) 
        {
            selectedDate = elDateRange[1].value;
        }                

        if (selectedDate == "Today" || selectedDate == "Next 30 days" || timeFrame.val() == 1) 
        {
            elPastDue.closest("li").addClass("option-disabled");
            elPastDue.prop("checked", false);
            elPastDue.attr("disabled", true);
        } 
        else 
        {
            elPastDue.closest("li").removeClass("option-disabled");
            elPastDue.prop("checked", elPastDue.data("state"));
            elPastDue.removeAttr("disabled");
        }
    }

    function saveRelativeTimeStartOp(e) {
        var widgetId = parseInt(this.element.attr("widgetId"));
        saveSetting(widgetId, `{ RelativeTimeStartOp: "${this.dataItem(this.selectedIndex).Text}" }`, function () { refresh = true; });
    }

    function saveRelativeTimeStartUnit(e) {
        var widgetId = parseInt(this.element.attr("widgetId"));
        saveSetting(widgetId, `{ RelativeTimeStartUnit: "${this.dataItem(this.selectedIndex).Value}" }`, function () { refresh = true; });
    }

    function saveRelativeTimeEndUnit(e) {
        var widgetId = parseInt(this.element.attr("widgetId"));
        saveSetting(widgetId, `{ RelativeTimeEndUnit: "${this.dataItem(this.selectedIndex).Value}" }`, function () { refresh = true; });
    }

    function saveRelativeTimeStartOffset(e) {
        var widgetId = parseInt(this.element.attr("widgetId"));
        saveSetting(widgetId, `{ RelativeTimeStartOffset: ${this.value()} }`, function () { refresh = true; });
    }

    function saveRelativeTimeEndOffset(e) {
        var widgetId = parseInt(this.element.attr("widgetId"));
        saveSetting(widgetId, `{ RelativeTimeEndOffset: ${this.value()} }`, function () { refresh = true; });
    }

    $(document).ready(function () {
        var attyList = [@String.Join(",", attorneys.Select(a => a.AttorneyID).ToList())];
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];
        var countryList = [@Html.Raw(String.Join(",", countries.Select(c => $"'{c.Country}'").ToList()))];
        var attyPositionsList = [@String.Join(",", attorneyPositions.Select(a => a.AttorneyID).ToList())];
        var updatedByList = "@String.Join(",", updatedBy.Select(a => (string)a).ToList())".split(",").filter(item => item);
        var excludeIndicatorList = "@String.Join(",", excludeIndicators.Select(a => (string)a).ToList())".split(",").filter(item => item);

        $(document).off("click", "#@widget.Id .widget-settings .toggle-option");
        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .widget-settings .toggle-option", function (e) {
            saveSetting(@widget.Id, `{ ${$(this).data("setting")}: ${$(this).is(':checked')} }`, function () { refresh = true; });
        });
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });

        if (@showDateRangeOption.ToString().ToLower())
        {
            var widgetTitle = $("#@widget.Id .widget-header .widget-title");
            if (@timeFrame === 2 && !widgetTitle.text().endsWith("@dateRange")) {
                //widgetTitle.text(`${widgetTitle.text()} @dateRange`);
                widgetTitle.text(`${widgetTitle.text()}: @Html.Raw(Localizer[dateRange])`);
            }
        }

        disablePastDueOption(@widget.Id);

        $(document).off("click", "#attorneyFilter_@userWidgetId .delete-atty");
        $(document).off("change", "#AttorneyCode_@userWidgetId");
        $(document).on("click", "#attorneyFilter_@userWidgetId .delete-atty", function (e) {
            var item = $.inArray($(this).data("id"), attyList);

            if (item !== -1) {
                attyList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Attorneys: [${attyList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#AttorneyCode_@userWidgetId", function (e) {
            var atty = $(this).data("kendoMultiColumnComboBox");

            if (atty.selectedIndex >= 0) {
                var dataItem = atty.dataItem(atty.selectedIndex);

                var attyId = dataItem.AttorneyID;
                var attyCode = dataItem.AttorneyCode;
                var attyName = dataItem.AttorneyName;

                if ($.inArray(attyId, attyList) == -1) {
                    attyList.push(attyId);
                    $("#attorneyFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="atty-code">${attyCode}</span><span class="atty-name">${attyName}</span></div><div class="delete-filter delete-atty" data-id="${attyId}" title="Remove ${attyCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Attorneys: [${attyList.toString()}] }`, function () { refresh = true; });
                }
            }

            atty.value("");
        });

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        });

        $(document).off("click", "#attorneyPositionFilter_@userWidgetId .delete-attyPos");
        $(document).off("change", "#AttorneyPosition_@userWidgetId");
        $(document).on("change", "#AttorneyPosition_@userWidgetId", function (e) {
            var attyPositions = $(this).data("kendoDropDownList");

            if (attyPositions.selectedIndex >= 0) {
                var dataItem = attyPositions.dataItem(attyPositions.selectedIndex);

                var attyId = dataItem.AttorneyID;
                var attyCode = dataItem.AttorneyCode;
                var attyName = dataItem.AttorneyName;

                if ($.inArray(attyId, attyPositionsList) == -1) {
                    attyPositionsList.push(attyId);
                    $("#attorneyPositionFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="atty-code">${attyCode}</span></div><div class="delete-filter delete-attyPos" data-id="${attyId}" title="Remove ${attyCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ AttorneyPositions: [${attyPositionsList.toString()}] }`, function () { refresh = true; });
                }
            }

            attyPositions.value("");
        });
        $(document).on("click", "#attorneyPositionFilter_@userWidgetId .delete-attyPos", function (e) {
            var item = $.inArray($(this).data("id"), attyPositionsList);

            if (item !== -1) {
                attyPositionsList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ AttorneyPositions: [${attyPositionsList.toString()}] }`, function () { refresh = true; });
            }
        });

        $(document).off("click", "#updatedByFilter_@userWidgetId .delete-updatedBy");
        $(document).off("change", "#UpdatedBy_@userWidgetId");
        $(document).on("click", "#updatedByFilter_@userWidgetId .delete-updatedBy", function (e) {
            var item = $.inArray($(this).data("id"), updatedByList);

            if (item !== -1) {
                updatedByList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ UpdatedBy: ['${updatedByList.join("','")}'] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#UpdatedBy_@userWidgetId", function (e) {
            var updated = $(this).data("kendoComboBox");

            if (updated.selectedIndex >= 0) {
                var dataItem = updated.dataItem(updated.selectedIndex);
                var updatedBy = dataItem.UpdatedBy;

                if ($.inArray(updated, updatedByList) == -1) {
                    updatedByList.push(updatedBy);
                    $("#updatedByFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="updatedBy">${updatedBy}</span></div><div class="delete-filter delete-updatedBy" data-id="${updatedBy}" title="Remove ${updatedBy}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ UpdatedBy: ['${updatedByList.join("','")}'] }`, function () { refresh = true; });
                }
            }

            updated.value("");
        });

        $(document).off("click", "#excludeIndicatorFilter_@userWidgetId .delete-excludeIndicator");
        $(document).off("change", "#Indicator_@userWidgetId");
        $(document).on("click", "#excludeIndicatorFilter_@userWidgetId .delete-excludeIndicator", function (e) {
            var item = $.inArray($(this).data("id"), excludeIndicatorList);

            if (item !== -1) {
                excludeIndicatorList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ ExcludeIndicators: ['${excludeIndicatorList.join("','")}'] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#Indicator_@userWidgetId", function (e) {
            var indicator = $(this).data("kendoComboBox");

            if (indicator.selectedIndex >= 0) {
                var dataItem = indicator.dataItem(indicator.selectedIndex);
                var excludeIndicator = dataItem.Indicator;

                if ($.inArray(indicator, excludeIndicatorList) == -1) {
                    excludeIndicatorList.push(excludeIndicator);
                    $("#excludeIndicatorFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="excludeIndicator">${excludeIndicator}</span></div><div class="delete-filter delete-excludeIndicator" data-id="${excludeIndicator}" title="Remove ${excludeIndicator}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ ExcludeIndicators: ['${excludeIndicatorList.join("','")}'] }`, function () { refresh = true; });
                }
            }

            indicator.value("");
        });

        $(document).off("click", "#countryFilter_@userWidgetId .delete-country");
        $(document).off("change", "#Country_@userWidgetId");
        $(document).on("click", "#countryFilter_@userWidgetId .delete-country", function (e) {
            var item = $.inArray($(this).data("id"), countryList);

            if (item !== -1) {
                countryList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Countries: ${JSON.stringify(countryList)} }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#Country_@userWidgetId", function (e) {
            var country = $(this).data("kendoMultiColumnComboBox");

            if (country.selectedIndex >= 0) {
                var dataItem = country.dataItem(country.selectedIndex);

                var countryCode = dataItem.Country;
                var countryName = dataItem.CountryName;

                if ($.inArray(countryCode, countryList) == -1) {
                    countryList.push(countryCode);
                    $("#countryFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="country-code">${countryCode}</span><span class="country-name">${countryName}</span></div><div class="delete-filter delete-country" data-id="${countryCode}" title="Remove ${countryCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Countries: ${JSON.stringify(countryList)} }`, function () { refresh = true; });
                }
            }

            country.value("");
        });

        $(document).off("change", "input[name='DueDateRange_@userWidgetId']");
        $(document).on("change", "input[name='DueDateRange_@userWidgetId']", function (e) {
            var selectedTimeFrame = $(this).val();
            if (selectedTimeFrame) {
                var widgetId = parseInt(this.getAttribute("widgetId"));
                var specificTimeFrame = $("#specificTimeFrame_@userWidgetId");
                var relativeTimeFrame = $("#relativeTimeFrame_@userWidgetId");
                if (selectedTimeFrame == '1') {
                    specificTimeFrame.addClass("d-none");
                    relativeTimeFrame.removeClass("d-none");
                }
                else if (selectedTimeFrame == '2') {
                    specificTimeFrame.removeClass("d-none");
                    relativeTimeFrame.addClass("d-none");
                }
                disablePastDueOption(widgetId);      

                var widgetId = parseInt(e.target.getAttribute("widgetId"));
                saveSetting(widgetId, `{ TimeFrame: ${selectedTimeFrame} }`, function () { refresh = true; });
            }
        });
    });
</script>

@if (showSettings)
{
    <div class="widget-settings" style="max-height: 425px;">
        <div class="settings-body">
            <ul class="list-group">
                @if (showSystemsOption)
                {
                    @if (authorizedSystems.Contains(SystemType.Patent) && authorizedSystems.Count() > 1)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <span>@Localizer["Patent"]</span>
                            <span>
                                <label class="toggle-switch">
                                    <input id="@userWidgetId-show-patent" type="checkbox" checked="@showPatent" data-setting="ShowPatent" class="toggle-option">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                        </li>
                    }
                    @if (authorizedSystems.Contains(SystemType.Trademark) && authorizedSystems.Count() > 1)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <span>@Localizer["Trademark"]</span>
                            <span>
                                <label class="toggle-switch">
                                    <input id="@userWidgetId-show-patent" type="checkbox" checked="@showTrademark" data-setting="ShowTrademark" class="toggle-option">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                        </li>
                    }
                    @if (authorizedSystems.Contains(SystemType.GeneralMatter) && authorizedSystems.Count() > 1)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <span>@Localizer["General Matter"]</span>
                            <span>
                                <label class="toggle-switch">
                                    <input id="@userWidgetId-show-patent" type="checkbox" checked="@showGenmatter" data-setting="ShowGenMatter" class="toggle-option">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                        </li>
                    }
                    @if (authorizedSystems.Contains(SystemType.DMS) && authorizedSystems.Count() > 1 && showDMSOption)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <span>@Localizer["Invention Disclosure"]</span>
                            <span>
                                <label class="toggle-switch">
                                    <input id="@userWidgetId-show-patent" type="checkbox" checked="@showDMS" data-setting="ShowDMS" class="toggle-option">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                        </li>
                    }
                    @if (authorizedSystems.Contains(SystemType.AMS) && authorizedSystems.Count() > 1 && showAMSOption)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <span>@Localizer["AMS"]</span>
                            <span>
                                <label class="toggle-switch">
                                    <input id="@userWidgetId-show-patent" type="checkbox" checked="@showAMS" data-setting="ShowAMS" class="toggle-option">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                        </li>
                    }
                }
                @if (showDateRangeOption)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div class="col">
                            <div class="row">
                            <span>@Localizer["Due Date Range"]</span>
                        </div>
                        <div class="row">
                            <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" widgetId="@widget.Id" name="DueDateRange_@userWidgetId" id="dueDateRelative_@userWidgetId" @(timeFrame == 1 ? "checked" : "") value="1">
                            <label class="form-check-label" for="DueDateRange">@Localizer["Relative to Current Date"]</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" widgetId="@widget.Id" name="DueDateRange_@userWidgetId" id="dueDateTimeFrame_@userWidgetId" @(timeFrame == 2 ? "checked" : "") value="2">
                            <label class="form-check-label" for="DueDateRange">@Localizer["Specific Time Frame"]</label>
                        </div>
                        </div> 
                       
                        <div id="specificTimeFrame_@userWidgetId" class="row @(timeFrame == 1 ? "d-none" : "")">  
                            <div class="col text-right">                            
                                @(Html.Kendo().DropDownList()
                                    .Name(userWidgetId + "-period")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .Events(e => e.Change("saveDateRange"))
                                    .BindTo(new List<SelectListItem>() {
                                            new SelectListItem() {
                                                Text = Localizer["Today"],
                                                Value = "Today"
                                            },
                                            new SelectListItem() {
                                                Text = Localizer["This week"],
                                                Value = "This week"
                                            },
                                            new SelectListItem() {
                                                Text = Localizer["This month"],
                                                Value = "This month"
                                            },
                                            new SelectListItem() {
                                                Text = Localizer["Next 30 days"],
                                                Value = "Next 30 days"
                                            }
                                    })
                                    .Value(dateRange)
                                    .HtmlAttributes(new { style = "width: 200px;", widgetId = $"{widget.Id}", data_widgetId = $"{widget.Id}", @class = "date-range-option" })
                                    )
                            </div>
                        </div>
                        <div id="relativeTimeFrame_@userWidgetId" class="row @(timeFrame == 2 ? "d-none" : "")">
                            <div class="col" style="padding: 0;">
                                <div id="RelativeTimeStartDate_@userWidgetId" class="row form-inline mb-1">
                                    <div class="col">     
                                        <div class="row">
                                            <div class="col-3">
                                               <span>@Localizer["Start Date"]</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2">
                                               <span>@Localizer["Today"]</span>
                                            </div>
                                             <div class="col-3 text-right">
                                                @(Html.Kendo().DropDownList()
                                                            .Name("RelativeTimeStartOp_" + @userWidgetId)
                                                            .DataTextField("Text")
                                                            .DataValueField("Value")
                                                            .BindTo(new List<SelectListItem>() {
                                                                                        new SelectListItem() { Text = "-", Value = "-" },
                                                                                        new SelectListItem() { Text = "+", Value = "+" },
                                                            })
                                                            .Value(relativeTimeStartOp)
                                                            .Events(e => e.Change("saveRelativeTimeStartOp"))
                                                            .HtmlAttributes(new { widgetId = $"{widget.Id}" })
                                            )
                                            </div>
                                            <div class="col-7 text-right">      
                                                <div class="row">
                                                    <div class="col-5">
                                                        @(Html.Kendo().NumericTextBox<int>()
                                                            .Name("RelativeTimeStartOffset_" + userWidgetId)
                                                            .Format("#")
                                                            .Events(e => e.Change("saveRelativeTimeStartOffset"))
                                                            .Value(relativeTimeStartOffset)
                                                            .HtmlAttributes(new { widgetId = $"{widget.Id}" })
                                                            )
                                                    </div>
                                                    <div class="col-7">
                                                        @(Html.Kendo().DropDownList()
                                                            .Name("RelativeTimeStartUnit_" + @userWidgetId)
                                                            .DataTextField("Text")
                                                            .DataValueField("Value")
                                                            .BindTo(new List<SelectListItem>() {
                                                                        new SelectListItem() { Text = Localizer["Days"], Value = "D" },
                                                                        new SelectListItem() { Text = Localizer["Weeks"], Value = "W" },
                                                                        new SelectListItem() { Text = Localizer["Months"], Value = "M" },
                                                                        new SelectListItem() { Text = Localizer["Years"], Value = "Y" }
                                                            })
                                                            .Value(relativeTimeStartUnit)
                                                            .Events(e => e.Change("saveRelativeTimeStartUnit"))
                                                            .HtmlAttributes(new { widgetId = $"{widget.Id}" })
                                                        )
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="RelativeTimeEndDate_@userWidgetId" class="form-row form-inline mb-2">
                                    <div class="col">   
                                        <div class="row">
                                            <div class="col-3">
                                               <span>@Localizer["End Date"]</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <span>@Localizer["Start Date"]</span>
                                            </div>
                                             <div class="col-2 text-right">
                                                <span>+</span>
                                            </div>
                                            <div class="col-7 text-right">
                                                <div class="row">
                                                    <div class="col-5">
                                                        @(Html.Kendo().NumericTextBox<int>()
                                                        .Name("RelativeTimeEndOffset_" + userWidgetId)
                                                        .Format("#")
                                                        .Events(e => e.Change("saveRelativeTimeEndOffset"))
                                                        .Value(relativeTimeEndOffset)
                                                        .HtmlAttributes(new { widgetId = $"{widget.Id}" })
                                                        )
                                                    </div>
                                                    <div class="col-7">
                                                        @(Html.Kendo().DropDownList()
                                                            .Name("RelativeTimeEndUnit_" + @userWidgetId)
                                                            .DataTextField("Text")
                                                            .DataValueField("Value")
                                                            .BindTo(new List<SelectListItem>() {
                                                                    new SelectListItem() { Text = Localizer["Days"], Value = "D" },
                                                                    new SelectListItem() { Text = Localizer["Weeks"], Value = "W" },
                                                                    new SelectListItem() { Text = Localizer["Months"], Value = "M" },
                                                                    new SelectListItem() { Text = Localizer["Years"], Value = "Y" }
                                                            })
                                                            .Value(relativeTimeEndUnit)
                                                            .Events(e => e.Change("saveRelativeTimeEndUnit"))
                                                    .HtmlAttributes(new { style = "width: 110px;", widgetId = $"{widget.Id}", data_widgetId = $"{widget.Id}", @class = "date-range-option" })
                                                        )                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                </div>
                            
                            </div>
                         </div>   
                    </li>
                }
                @if (showPastDueOption)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@Localizer["Show past due"]</span>
                        <span>
                            <label class="toggle-switch">
                                <input id="@userWidgetId-show-past-due" type="checkbox" checked="@showPastDue" data-state="@showPastDue.ToString().ToLower()" data-setting="ShowPastDue" class="toggle-option">
                                <span class="slider round"></span>
                            </label>
                        </span>
                    </li>
                }
                @if (showInactiveCasesOption)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@Localizer["Include inactive cases"]</span>
                        <span>
                            <label class="toggle-switch">
                                <input id="@userWidgetId-show-inactive-cases" type="checkbox" checked="@showInactiveCases" data-state="@showInactiveCases.ToString().ToLower()" data-setting="ShowInactiveCases" class="toggle-option">
                                <span class="slider round"></span>
                            </label>
                        </span>
                    </li>
                }
                @if (showOfficeActionsOption) {                   
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@Localizer["Display Office Actions Only"]</span>
                        <span>
                            <label class="toggle-switch">
                                <input id="@userWidgetId-show-office-actions" type="checkbox" checked="@showOfficeActions" data-state="@showOfficeActions.ToString().ToLower()" data-setting="ShowOfficeActions" class="toggle-option">
                                <span class="slider round"></span>
                            </label>
                        </span>
                    </li>                    
                }
                @if (showAllowPaging)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@Localizer["Allow paging"]</span>
                        <span>
                            <label class="toggle-switch">
                                <input id="@userWidgetId-paging" type="checkbox" checked="@allowPaging" data-setting="AllowPaging" class="toggle-option">
                                <span class="slider round"></span>
                            </label>
                        </span>
                    </li>
                }
            </ul>
            @if (showAttyPositionOption)
            {
                <ul id="attorneyPositionFilter_@userWidgetId" class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@Localizer["Attorney Position"]</span>
                        <span>
                            @(Html.Kendo().DropDownList()
                                  .Name("AttorneyPosition_"+@userWidgetId)
                                  .DataTextField("AttorneyName")
                                  .DataValueField("AttorneyID")
                                  .HtmlAttributes(new { style = "width: 100px" })
                                  .BindTo(fixedAttyPositions)
                                  .Events(events => events.Open("function() {this.element.getKendoDropDownList().list.find('li.k-item').first().hide();}"))
                                  )
                        </span>
                    </li>
                    @foreach (AttorneyListViewModel atty in attorneyPositions)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <span class="atty-code">@atty.AttorneyCode</span>
                            </div>
                            <div class="delete-filter delete-attyPos" data-id="@atty.AttorneyID" title="Remove @atty.AttorneyCode"><i class="fal fa-trash-alt"></i></div>
                        </li>
                    }
                </ul>
            }
            @if (showAttorneyOption)
            {
                <ul id="attorneyFilter_@userWidgetId" class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@Localizer["Attorney"]</span>
                        <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyID("AttorneyCode", Localizer["Attorney"], Localizer["Attorney Name"], "Attorney", "Shared", userWidgetId))</span>
                    </li>
                    @foreach (AttorneyListViewModel atty in attorneys)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <span class="atty-code">@atty.AttorneyCode</span>
                                <span class="atty-name">@atty.AttorneyName</span>
                            </div>
                            <div class="delete-filter delete-atty" data-id="@atty.AttorneyID" title="Remove @atty.AttorneyCode"><i class="fal fa-trash-alt"></i></div>
                        </li>
                    }
                </ul>
            }
            @if (showClientOption)
            {
                <ul id="clientFilter_@userWidgetId" class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@clientLabel</span>
                        <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", @clientLabel, @clientNameLabel, "Client", "Shared", userWidgetId))</span>
                    </li>
                    @foreach (ClientListViewModel client in clients)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <span class="client-code">@client.ClientCode</span>
                                <span class="client-name">@client.ClientName</span>
                            </div>
                            <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                        </li>
                    }
                </ul>
            }
            @if (showUpdatedByOption)
            {
                <ul id="updatedByFilter_@userWidgetId" class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@Localizer["Updated By"]</span>
                        <span>
                            @await Component.InvokeAsync("ComboBox", new { name = "UpdatedBy", controller = "Dashboard", action = "GetUpdatedByList", screen = userWidgetId })
                        </span>
                    </li>
                    @foreach (string updBy in updatedBy)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <span class="updatedBy">@updBy</span>
                            </div>
                            <div class="delete-filter delete-updatedBy" data-id="@updBy" title="Remove @updBy"><i class="fal fa-trash-alt"></i></div>
                        </li>
                    }
                </ul>
            }
            @if (showExcludeIndicatorOption)
            {
                <ul id="excludeIndicatorFilter_@userWidgetId" class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@Localizer["Exclude Indicator"]</span>
                        <span>
                            @await Component.InvokeAsync("ComboBox", new { name = "Indicator", controller = "Dashboard", action = "GetIndicatorList", screen = userWidgetId })
                        </span>
                    </li>
                    @foreach (string indicator in excludeIndicators)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <span class="excludeIndicator">@indicator</span>
                            </div>
                            <div class="delete-filter delete-excludeIndicator" data-id="@indicator" title="Remove @indicator"><i class="fal fa-trash-alt"></i></div>
                        </li>
                    }
                </ul>
            }
            @if (showCountryOption)
            {
                <ul id="countryFilter_@userWidgetId" class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@countryLabel</span>
                        <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.CountryID("Country", countryLabel, countryNameLabel, "Country", "Shared", userWidgetId))</span>
                    </li>
                    @foreach (CountryLookupViewModel country in countries)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <span class="country-code">@country.Country</span>
                                <span class="country-name">@country.CountryName</span>
                            </div>
                            <div class="delete-filter delete-country" data-id="@country.Country" title="Remove @country.Country"><i class="fal fa-trash-alt"></i></div>
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="settings-footer mt-4">
            <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
        </div>
    </div>
}

@(Html.Kendo().Grid(Model)
    .Name(userWidgetId)
    .HtmlAttributes(new { @class = "widget-grid" })
    .Columns(columns =>
    {
        columns
            .Bound(u => u.CaseNumber)
            .ClientTemplate(template)
                .Title("")
                .HeaderHtmlAttributes(new { @class = "d-none" });
    })
    .Pageable(pageable => pageable
        .ButtonCount(4)
        .Enabled(pageSize > 0).Responsive(false))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(pageSize)
        .ServerOperation(false)
        )
)

@if (Model?.Count() <= pageSize)
{
    <style>
    #@userWidgetId .k-pager-info {
        float: left;
        padding: 0;
    }
    #@userWidgetId .k-pager-nav {
        display: none;
    }
    #@userWidgetId .k-pager-numbers {
        display: none;
    }
    </style>
}
<style>
    #dashboard .widget-grid .due-date {
        font-size: .75rem;
        /*font-weight: 600;*/
    }

        #dashboard .widget-grid .due-date.past-due {
            /*color: #D00000;*/
            color: #dc3545;
        }

    #dashboard .widget-grid tr:hover .due-date.past-due {
        color: white;
    }

    .option-disabled {
        color: #ccc;
    }

    .cal-date-md {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border: 1px solid silver;
        float: left;
        margin: 4px 10px 2px 0;
        border-radius: 5px;
        background-color: #fff;
    }

    .cal-date-md .month {
        text-align: center;
        background-color: var(--bg-menu-bar);
        color: white;
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0;
        border-bottom: 1px solid silver;
    }

    .cal-date-md .month.past-due-month {            
        background-color: #a65366 !important;            
    }

    .cal-date-md .day {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        padding-top: 2px;
        color: #000;
    }
</style>
<script>
    $("#@widget.Id.ToString()").addClass("fixed-width");
</script>
