@model IEnumerable<CaseListViewModel>
@using Newtonsoft.Json.Linq;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.EntityFrameworkCore;
@inject IAttorneyService _attyService
@inject IClientService ClientService
@inject IAuthorizationService AuthorizationService
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var clientLabel = Localizer[settings.LabelClient ?? ""];
    var clientNameLabel = Localizer[settings.LabelClientName ?? ""];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var userWidgetId = widget.Id.ToString() + "-case-list";
   
    var userSettings = widget.UserSettings;
    var widgetSettings = widget.WidgetSettings;

    var systems = new string[] { SystemType.Patent, SystemType.Trademark, SystemType.GeneralMatter, SystemType.DMS };
    var policies = widget.Policy.Split(',').ToList().Select(p => p.Trim());
    var authorizedSystems = new List<string>();

    foreach (var system in systems)
    {
        var authorized = true;

        if (policies.Any())
        {
            authorized = false;
            var tempPolicies = policies.Where(p => p == "*" || p.ToUpper().Contains(system.ToUpper())).ToList();

            if (tempPolicies == null || tempPolicies.Count == 0)
            {
                authorized = true;
            }            
            else
            {
                foreach (var pol in tempPolicies)
                {
                    if (string.IsNullOrEmpty(pol) || pol == "*" ||
                        (await AuthorizationService.AuthorizeAsync(User, pol)).Succeeded)
                    {
                        authorized = true;
                        break;
                    }
                }
            }
        }

        if (User.IsInSystem(system) && authorized)
        {
            authorizedSystems.Add(system);
        }
    }
    
    string defaultDateRange = widgetSettings.Property("DateRange") != null ? widgetSettings["DateRange"].Value<string>() : "Today";
    bool showSystemsOption = widgetSettings.Property("ShowSystems") != null ? (widgetSettings["ShowSystems"] ?? true).Value<bool>() : true;
   

    bool showDateRangeOption = widgetSettings.Property("ShowDateRange") != null ? (widgetSettings["ShowDateRange"] ?? true).Value<bool>() : true;
    
    bool showAttorneyOption = widgetSettings.Property("ShowAttorney") != null ? (widgetSettings["ShowAttorney"] ?? false).Value<bool>() : false;

    bool showAllowPaging = widgetSettings.Property("ShowAllowPaging") != null ? (widgetSettings["ShowAllowPaging"] ?? false).Value<bool>() : false;
    bool showSettings = (showSystemsOption || showDateRangeOption || showAllowPaging);

    bool showPastDue = userSettings.Property("ShowPastDue") != null ? (userSettings["ShowPastDue"] ?? false).Value<bool>() : false;
    bool showPatent = userSettings.Property("ShowPatent") != null ? (userSettings["ShowPatent"] ?? true).Value<bool>() : true;
    bool showTrademark = userSettings.Property("ShowTrademark") != null ? (userSettings["ShowTrademark"] ?? true).Value<bool>() : true;
    bool showGenmatter = userSettings.Property("ShowGenMatter") != null ? (userSettings["ShowGenMatter"] ?? true).Value<bool>() : true;   

    bool allowPaging = !showAllowPaging || userSettings.Property("AllowPaging") == null ? true : (userSettings["AllowPaging"] ?? false).Value<bool>();
    string dateRange = userSettings.Property("DateRange") != null ? userSettings["DateRange"].Value<string>() : defaultDateRange;
    int pageSize = allowPaging ? widgetSettings.Property("PageSize") != null ? (widgetSettings["PageSize"] ?? 0).Value<int>() : 6 : 0;

    
    bool showClientOption = widgetSettings.Property("ShowClient") != null ? (widgetSettings["ShowClient"] ?? false).Value<bool>() : false;
    bool showUpdatedByOption = widgetSettings.Property("ShowUpdatedBy") != null ? (widgetSettings["ShowUpdatedBy"] ?? false).Value<bool>() : false;

     var template = string.IsNullOrEmpty(widget.Template) ? "<div class='name d-flex  justify-content-between'><span><a href='./#=System#/#=IdType#/detail/#=Id#'>#= kendo.htmlEncode(CaseNumber)# #= Country == null ? '' :  kendo.htmlEncode(Country)# #= SubCase == null ? '' :  kendo.htmlEncode(SubCase)#</a><span class='badge badge-pill badge-warning #= IsNew == 1 ? '' : 'd-none' #' title='New'>new</span></span><span class='due-date #= IsPastDue == 1 ? 'past-due' : '' #'>#= DueDate == null ? '' : kendo.format('{0:dd-MMM-yyyy}', DueDate)#</span></div><div class='title small ellipsis'>#= Action == null ? Title == null ? '&nbsp;' :  kendo.htmlEncode(Title) :  kendo.htmlEncode(Action)#</div><div class='title small ellipsis'>Action Due Remarks: #= Remarks == null ? '' : kendo.htmlEncode(Remarks)#</div>" : widget.Template;
    template = template.Replace("./#=System#/", $"{Url.ApplicationBaseUrl(Context.Request.Scheme)}/#=System#/");

    List<AttorneyListViewModel> attorneys = new List<AttorneyListViewModel>();

    if (userSettings.Property("Attorneys") != null)
    {
        try
        {
            int[] attyFilter = ((JArray)userSettings.Property("Attorneys").Value).Select(a => (int)a).ToArray();

            if (attyFilter.Count() > 0)
            {
                attorneys = await _attyService.QueryableList
                                        .Where(a => attyFilter.Contains(a.AttorneyID))
                                        .Select(a => new AttorneyListViewModel
                                        {
                                            AttorneyID = a.AttorneyID,
                                            AttorneyCode = a.AttorneyCode,
                                            AttorneyName = a.AttorneyName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<ClientListViewModel> clients = new List<ClientListViewModel>();

    if (userSettings.Property("Clients") != null)
    {
        try
        {
            int[] clientFilter = ((JArray)userSettings.Property("Clients").Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                        {
                                            ClientID = c.ClientID,
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }    

    List<string> instructedBy = new List<string>();

    if (userSettings.Property("InstructedBy") != null)
    {
        try
        {
            string[] instructedByFilter = ((JArray)userSettings.Property("InstructedBy").Value).Select(a => (string)a).Where(a => !string.IsNullOrEmpty(a)).ToArray();

            if (instructedByFilter.Count() > 0)
            {
                instructedBy = new List<string>(instructedByFilter);
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<string> instruction = new List<string>();

    if (userSettings.Property("Instructions") != null)
    {
        try
        {
            string[] instructionFilter = ((JArray)userSettings.Property("Instructions").Value).Select(a => (string)a).Where(a => !string.IsNullOrEmpty(a)).ToArray();

            if (instructionFilter.Count() > 0)
            {
                instruction = new List<string>(instructionFilter);
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }
}

<script>
    var refresh = false;

    function saveDateRange(e) {
        var widgetId = parseInt(this.element.attr("widgetId"));
        saveSetting(widgetId, `{ DateRange: "${this.dataItem(this.selectedIndex).Text}" }`, function () { refresh = true; });
    }

    $(document).ready(function () {
        var attyList = [@String.Join(",", attorneys.Select(a => a.AttorneyID).ToList())];
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];
        var instructedByList = "@String.Join(",", instructedBy.Select(a => (string)a).ToList())".split(",").filter(item => item);        
        var instructionList = "@String.Join(",", instruction.Select(a => (string)a).ToList())".split(",").filter(item => item);        

        $(document).off("click", "#@widget.Id .widget-settings .toggle-option");
        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .widget-settings .toggle-option", function (e) {
            saveSetting(@widget.Id, `{ ${$(this).data("setting")}: ${$(this).is(':checked')} }`, function () { refresh = true; });
        });
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });

        var widgetTitle = $("#@widget.Id .widget-header .widget-title");
        if (!widgetTitle.text().endsWith("@dateRange")) {           
            widgetTitle.text(`${widgetTitle.text()}: @Html.Raw(Localizer[dateRange])`);
        }       

        $(document).off("click", "#attorneyFilter_@userWidgetId .delete-atty");
        $(document).off("change", "#AttorneyCode_@userWidgetId");
        $(document).on("click", "#attorneyFilter_@userWidgetId .delete-atty", function (e) {
            var item = $.inArray($(this).data("id"), attyList);

            if (item !== -1) {
                attyList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Attorneys: [${attyList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#AttorneyCode_@userWidgetId", function (e) {
            var atty = $(this).data("kendoMultiColumnComboBox");

            if (atty.selectedIndex >= 0) {
                var dataItem = atty.dataItem(atty.selectedIndex);

                var attyId = dataItem.AttorneyID;
                var attyCode = dataItem.AttorneyCode;
                var attyName = dataItem.AttorneyName;

                if ($.inArray(attyId, attyList) == -1) {
                    attyList.push(attyId);
                    $("#attorneyFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="atty-code">${attyCode}</span><span class="atty-name">${attyName}</span></div><div class="delete-filter delete-atty" data-id="${attyId}" title="Remove ${attyCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Attorneys: [${attyList.toString()}] }`, function () { refresh = true; });
                }
            }

            atty.value("");
        });

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        });

        $(document).off("click", "#instructedByFilter_@userWidgetId .delete-instructedBy");
        $(document).off("change", "#InstructedBy_@userWidgetId");
        $(document).on("click", "#instructedByFilter_@userWidgetId .delete-instructedBy", function (e) {
            var item = $.inArray($(this).data("id"), instructedByList);

            if (item !== -1) {
                instructedByList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ InstructedBy: ['${instructedByList.join("','")}'] }`, function () { refresh = true; });
                }
            });
        $(document).on("change", "#InstructedBy_@userWidgetId", function (e) {
            var updated = $(this).data("kendoComboBox");

            if (updated.selectedIndex >= 0) {
                var dataItem = updated.dataItem(updated.selectedIndex);
                var instructedBy = dataItem.InstructedBy;

                if ($.inArray(updated, instructedByList) == -1) {
                    instructedByList.push(instructedBy);
                    $("#instructedByFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="instructedBy">${instructedBy}</span></div><div class="delete-filter delete-instructedBy" data-id="${instructedBy}" title="Remove ${instructedBy}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ InstructedBy: ['${instructedByList.join("','")}'] }`, function () { refresh = true; });
                    }
                }

            updated.value("");
        });

        $(document).off("click", "#instructionFilter_@userWidgetId .delete-instruction");
        $(document).off("change", "#Instruction_@userWidgetId");
        $(document).on("click", "#instructionFilter_@userWidgetId .delete-instruction", function (e) {
            var item = $.inArray($(this).data("id"), instructionList);

            if (item !== -1) {
                instructionList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Instructions: ['${instructionList.join("','")}'] }`, function () { refresh = true; });
                }
            });
        $(document).on("change", "#Instruction_@userWidgetId", function (e) {
            var updated = $(this).data("kendoComboBox");

            if (updated.selectedIndex >= 0) {
                var dataItem = updated.dataItem(updated.selectedIndex);
                var instruction = dataItem.Instruction;
                console.log(instruction);

                if ($.inArray(updated, instructionList) == -1) {
                    instructionList.push(instruction);
                    $("#instructionFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="instruction">${instruction}</span></div><div class="delete-filter delete-instruction" data-id="${instruction}" title="Remove ${instruction}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Instructions: ['${instructionList.join("','")}'] }`, function () { refresh = true; });
                    }
                }

            updated.value("");
        });
        
    });
</script>

@if (showSettings)
{
    <div class="widget-settings" style="max-height: 425px;">
        <div class="settings-body">
            <ul class="list-group">                
                @if (authorizedSystems.Contains(SystemType.Patent) && authorizedSystems.Count() > 1)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@Localizer["Patent"]</span>
                        <span>
                            <label class="toggle-switch">
                                <input id="@userWidgetId-show-patent" type="checkbox" checked="@showPatent" data-setting="ShowPatent" class="toggle-option">
                                <span class="slider round"></span>
                            </label>
                        </span>
                    </li>
                }
                @if (authorizedSystems.Contains(SystemType.Trademark) && authorizedSystems.Count() > 1)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@Localizer["Trademark"]</span>
                        <span>
                            <label class="toggle-switch">
                                <input id="@userWidgetId-show-patent" type="checkbox" checked="@showTrademark" data-setting="ShowTrademark" class="toggle-option">
                                <span class="slider round"></span>
                            </label>
                        </span>
                    </li>
                }
                @if (authorizedSystems.Contains(SystemType.GeneralMatter) && authorizedSystems.Count() > 1)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@Localizer["General Matter"]</span>
                        <span>
                            <label class="toggle-switch">
                                <input id="@userWidgetId-show-patent" type="checkbox" checked="@showGenmatter" data-setting="ShowGenMatter" class="toggle-option">
                                <span class="slider round"></span>
                            </label>
                        </span>
                    </li>
                } 
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["Date range"]</span>
                    <span>
                        @(Html.Kendo().DropDownList()
                                            .Name(userWidgetId + "-period")
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .Events(e => e.Change("saveDateRange"))
                                            .BindTo(new List<SelectListItem>() {
                                                    new SelectListItem() {
                                                        Text = "Today",
                                                        Value = "Today"
                                                    },
                                                    new SelectListItem() {
                                                        Text = "This week",
                                                        Value = "This week"
                                                    },
                                                    new SelectListItem() {
                                                        Text = "This month",
                                                        Value = "This month"
                                                    }
                                            })
                                            .Value(dateRange)
                                            .HtmlAttributes(new { style = "width: 110px;", widgetId = $"{widget.Id}", data_widgetId = $"{widget.Id}", @class = "date-range-option" })
                    )
                    </span>
                </li>            
            </ul>                        
            <ul id="attorneyFilter_@userWidgetId" class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["Attorney"]</span>
                    <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyID("AttorneyCode", Localizer["Attorney"], Localizer["Attorney Name"], "Attorney", "Shared", userWidgetId))</span>
                </li>
                @foreach (AttorneyListViewModel atty in attorneys)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <span class="atty-code">@atty.AttorneyCode</span>
                            <span class="atty-name">@atty.AttorneyName</span>
                        </div>
                        <div class="delete-filter delete-atty" data-id="@atty.AttorneyID" title="Remove @atty.AttorneyCode"><i class="fal fa-trash-alt"></i></div>
                    </li>
                }
            </ul>            
            <ul id="clientFilter_@userWidgetId" class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <span>@clientLabel</span>
                    <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", @clientLabel, @clientNameLabel, "Client", "Shared", userWidgetId))</span>
                </li>
                @foreach (ClientListViewModel client in clients)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <span class="client-code">@client.ClientCode</span>
                            <span class="client-name">@client.ClientName</span>
                        </div>
                        <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                    </li>
                }
            </ul>
            <ul id="instructedByFilter_@userWidgetId" class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["Instructed By"]</span>
                    <span>
                        @await Component.InvokeAsync("ComboBox", new { name = "InstructedBy", controller = "Dashboard", action = "GetDeDocketInstructedByList", screen = userWidgetId })
                    </span>
                </li>
                @foreach (string instBy in instructedBy)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <span class="instructedBy">@instBy</span>
                        </div>
                        <div class="delete-filter delete-instructedBy" data-id="@instBy" title="Remove @instBy"><i class="fal fa-trash-alt"></i></div>
                    </li>
                }
            </ul>                
            <ul id="instructionFilter_@userWidgetId" class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["Instruction"]</span>
                    <span>
                        @await Component.InvokeAsync("ComboBox", new { name = "Instruction", controller = "Dashboard", action = "GetDeDocketInstructionList", screen = userWidgetId })
                    </span>
                </li>
                @foreach (string inst in instruction)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <span class="instruction">@inst</span>
                        </div>
                        <div class="delete-filter delete-instruction" data-id="@inst" title="Remove @inst"><i class="fal fa-trash-alt"></i></div>
                    </li>
                }
            </ul> 
        </div>
        <div class="settings-footer mt-4">
            <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
        </div>
    </div>
}

@(Html.Kendo().Grid(Model)
    .Name(userWidgetId)
    .HtmlAttributes(new { @class = "widget-grid" })
    .Columns(columns =>
    {
        columns
            .Bound(u => u.CaseNumber)
            .ClientTemplate(template)
                .Title("")
                .HeaderHtmlAttributes(new { @class = "d-none" });
    })
    .Pageable(pageable => pageable
        .ButtonCount(4)
        .Enabled(pageSize > 0).Responsive(false))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(pageSize)
        .ServerOperation(false)
        )
)

@if (Model?.Count() <= pageSize)
{
    <style>
    #@userWidgetId .k-pager-info {
        float: left;
        padding: 0;
    }
    #@userWidgetId .k-pager-nav {
        display: none;
    }
    #@userWidgetId .k-pager-numbers {
        display: none;
    }
    </style>
}
<style>
    #dashboard .widget-grid .due-date {
        font-size: .75rem;
        /*font-weight: 600;*/
    }

        #dashboard .widget-grid .due-date.past-due {
            /*color: #D00000;*/
            color: #dc3545;
        }

    #dashboard .widget-grid tr:hover .due-date.past-due {
        color: white;
    }

    .option-disabled {
        color: #ccc;
    }
</style>
<script>
    $("#@widget.Id.ToString()").addClass("fixed-width");
</script>
