@model IEnumerable<CaseListViewModel>
@using Newtonsoft.Json.Linq;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.EntityFrameworkCore;
@inject IAttorneyService _attyService
@inject IClientService ClientService
@inject IAuthorizationService AuthorizationService
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@inject ICPiUserGroupManager groupManager
@inject UserManager<CPiUser> userManager
@{
    var settings = await Settings.GetSetting();
    var clientLabel = Localizer[settings.LabelClient ?? ""];
    var clientNameLabel = Localizer[settings.LabelClientName ?? ""];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var userWidgetId = widget.Id.ToString() + "-case-list";
    var template = string.IsNullOrEmpty(widget.Template) ? $"<div class='name d-flex  justify-content-between'><span><a target='_blank' href='./#=System#/#=IdType#/detail/#=Id#'>#= kendo.htmlEncode(CaseNumber)# #= Country == null ? '' :  kendo.htmlEncode(Country)# #= SubCase == null ? '' :  kendo.htmlEncode(SubCase)#</a><span class='badge badge-pill badge-info #= IsNew == 1 ? '' : 'd-none' #' title='New'>new</span></span><span class='due-date #= IsPastDue == 1 ? 'past-due' : '' #'>#= DueDate == null ? '' : kendo.format('{{0:dd-MMM-yyyy}}', DueDate)#</span></div><div class='title small ellipsis'>#= Action == null ? Title == null ? '&nbsp;' :  kendo.htmlEncode(Title) :  kendo.htmlEncode(Action)#</div><div class='title small ellipsis'>{Localizer["Action Due Remarks"]}: #= Remarks == null ? '' : kendo.htmlEncode(Remarks)#</div>" : widget.Template;
    template = template.Replace("./#=System#/", $"{Url.ApplicationBaseUrl(Context.Request.Scheme)}/#=System#/");

    var userSettings = widget.UserSettings;
    var widgetSettings = widget.WidgetSettings;

    var systems = new string[] { SystemType.Patent, SystemType.Trademark, SystemType.GeneralMatter, SystemType.DMS };
    var policies = widget.Policy.Split(',').ToList().Select(p => p.Trim());
    var authorizedSystems = new List<string>();

    foreach (var system in systems)
    {
        var authorized = true;

        if (policies.Any())
        {
            authorized = false;
            var tempPolicies = policies.Where(p => p == "*" || p.ToUpper().Contains(system.ToUpper())).ToList();

            if (tempPolicies == null || tempPolicies.Count == 0)
            {
                authorized = true;
            }            
            else
            {
                foreach (var pol in tempPolicies)
                {
                    if (string.IsNullOrEmpty(pol) || pol == "*" ||
                        (await AuthorizationService.AuthorizeAsync(User, pol)).Succeeded)
                    {
                        authorized = true;
                        break;
                    }
                }
            }
        }

        if (User.IsInSystem(system) && authorized)
        {
            authorizedSystems.Add(system);
        }
    }

    string defaultDateRange = widgetSettings.Property("DateRange") != null ? widgetSettings["DateRange"].Value<string>() : "Today";  

    bool showPastDue = userSettings.Property("ShowPastDue") != null ? (userSettings["ShowPastDue"] ?? false).Value<bool>() : false;
    bool showPatent = userSettings.Property("ShowPatent") != null ? (userSettings["ShowPatent"] ?? true).Value<bool>() : true;
    bool showTrademark = userSettings.Property("ShowTrademark") != null ? (userSettings["ShowTrademark"] ?? true).Value<bool>() : true;
    bool showGenmatter = userSettings.Property("ShowGenMatter") != null ? (userSettings["ShowGenMatter"] ?? true).Value<bool>() : true;
    bool showDMS = userSettings.Property("ShowDMS") != null ? (userSettings["ShowDMS"] ?? true).Value<bool>() : true;
    bool showInactiveCases = userSettings.Property("ShowInactiveCases") != null ? (userSettings["ShowInactiveCases"] ?? false).Value<bool>() : false;
    bool showOfficeActions = userSettings.Property("ShowOfficeActions") != null ? (userSettings["ShowOfficeActions"] ?? false).Value<bool>() : false;

    string dateRange = userSettings.Property("DateRange") != null ? userSettings["DateRange"].Value<string>() : defaultDateRange;
    int pageSize = widgetSettings.Property("PageSize") != null ? (widgetSettings["PageSize"] ?? 0).Value<int>() : 6;

    bool showUserOption = widgetSettings.Property("ShowUser") != null ? (widgetSettings["ShowUser"] ?? false).Value<bool>() : false;
    bool showUserGroupOption = widgetSettings.Property("ShowUserGroup") != null ? (widgetSettings["ShowUserGroup"] ?? false).Value<bool>() : false;
    
    
    List<ClientListViewModel> clients = new List<ClientListViewModel>();

    if (userSettings.Property("Clients") != null)
    {
        try
        {
            int[] clientFilter = ((JArray)userSettings.Property("Clients").Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                        {
                                            ClientID = c.ClientID,
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<GroupListViewModel> userGroups = new List<GroupListViewModel>();

    if (userSettings.Property("UserGroups") != null)
    {
        try
        {
            int[] userGroupFilter = ((JArray)userSettings.Property("UserGroups").Value).Select(a => (int)a).ToArray();

            if (userGroupFilter.Count() > 0)
            {
                userGroups = await groupManager.GetGroups().Where(c => userGroupFilter.Contains(c.Id))
                                        .Select(c => new GroupListViewModel
                                        {
                                            Id = c.Id, 
                                            Name = c.Name
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }    

    List<PickListViewModel> users = new List<PickListViewModel>();

    if (userSettings.Property("Users") != null)
    {
        try
        {
            string[] userFilter = ((JArray)userSettings.Property("Users").Value).Select(a => (string)a).ToArray();

            if (userFilter.Count() > 0)
            {
                users = await userManager.Users
                                        .Where(c => userFilter.Contains(c.Id))
                                        .Select(c => new PickListViewModel
                                        {
                                            Id = c.Id, 
                                            Name = c.FirstName + " " + c.LastName + "(" + c.Email + ")"
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }  

    List<string> excludeIndicators = new List<string>();

    if (userSettings.Property("ExcludeIndicators") != null)
    {
        try
        {
            string[] excludeIndicatorsFilter = ((JArray)userSettings.Property("ExcludeIndicators").Value).Select(a => (string)a).Where(a => !string.IsNullOrEmpty(a)).ToArray();

            if (excludeIndicatorsFilter.Count() > 0)
            {
                excludeIndicators = new List<string>(excludeIndicatorsFilter);
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

}

<script>
    var refresh = false;

    function saveDateRange(e) {
        var widgetId = parseInt(this.element.attr("widgetId"));
        saveSetting(widgetId, `{ DateRange: "${this.dataItem(this.selectedIndex).Text}" }`, function () { refresh = true; disablePastDueOption(widgetId); });
    }

    function disablePastDueOption(widgetId) {
        var elDateRange = $(`#${widgetId} .widget-settings .date-range-option`);
        var elPastDue = $(`#${widgetId} .widget-settings input:checkbox[data-setting='ShowPastDue']`);

        var selectedDate = elDateRange.text();
        if (elDateRange[1]) {
            selectedDate = elDateRange[1].value;
        }            

        if (selectedDate == "Today" || selectedDate == "Next 30 days") {
            elPastDue.closest("li").addClass("option-disabled");
            elPastDue.prop("checked", false);
            elPastDue.attr("disabled", true);
        } else {
            elPastDue.closest("li").removeClass("option-disabled");
            elPastDue.prop("checked", elPastDue.data("state"));
            elPastDue.removeAttr("disabled");
        }
    }

    $(document).ready(function () {        
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())]; 
        var userGroupList = [@String.Join(",", userGroups.Select(a => a.Id).ToList())]; 
        var userList = "@String.Join(",", users.Select(a => (string)a.Id).ToList())".split(",").filter(item => item);
        var excludeIndicatorList = "@String.Join(",", excludeIndicators.Select(a => (string)a).ToList())".split(",").filter(item => item);

        $(document).off("click", "#@widget.Id .widget-settings .toggle-option");
        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .widget-settings .toggle-option", function (e) {
            saveSetting(@widget.Id, `{ ${$(this).data("setting")}: ${$(this).is(':checked')} }`, function () { refresh = true; });
        });
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });

        var widgetTitle = $("#@widget.Id .widget-header .widget-title");
        if (!widgetTitle.text().endsWith("@dateRange")) {
            //widgetTitle.text(`${widgetTitle.text()} @dateRange`);
            widgetTitle.text(`${widgetTitle.text()}: @Html.Raw(Localizer[dateRange])`);
        }

        disablePastDueOption(@widget.Id);

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        });

        $(document).off("click", "#userGroupFilter_@userWidgetId .delete-userGroup");
        $(document).off("change", "#UserGroup_@userWidgetId");
        $(document).on("click", "#userGroupFilter_@userWidgetId .delete-userGroup", function (e) {
            var item = $.inArray($(this).data("id"), userGroupList);

            if (item !== -1) {
                userGroupList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ UserGroups: [${userGroupList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#UserGroup_@userWidgetId", function (e) {
            var userGroup = $(this).data("kendoComboBox");

            if (userGroup.selectedIndex >= 0) {
                var dataItem = userGroup.dataItem(userGroup.selectedIndex);

                var groupId = dataItem.Id;
                var groupName = dataItem.Name;

                if ($.inArray(groupId, userGroupList) == -1) {
                    userGroupList.push(groupId);
                    $("#userGroupFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="userGroup-code">${groupName}</span></div><div class="delete-filter delete-userGroup" data-id="${groupId}" title="Remove ${groupName}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ UserGroups: [${userGroupList.toString()}] }`, function () { refresh = true; });
                }
            }

            userGroup.value("");
        });

        $(document).off("click", "#userFilter_@userWidgetId .delete-user");
        $(document).off("change", "#User_@userWidgetId");
        $(document).on("click", "#userFilter_@userWidgetId .delete-user", function (e) {
            var item = $.inArray($(this).data("id"), userList);

            if (item !== -1) {
                userList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Users: [${userList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#User_@userWidgetId", function (e) {
            var user = $(this).data("kendoComboBox");

            if (user.selectedIndex >= 0) {
                var dataItem = user.dataItem(user.selectedIndex);

                var userId = dataItem.Id;
                var userName = dataItem.Name;

                if ($.inArray(userId, userList) == -1) {
                    userList.push(userId);
                    $("#userFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="user-code">${userName}</span></div><div class="delete-filter delete-user" data-id="${userId}" title="Remove ${userName}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Users: ['${userList.join("','")}'] }`, function () { refresh = true; });
                }
            }

            user.value("");
        });

        $(document).off("click", "#excludeIndicatorFilter_@userWidgetId .delete-excludeIndicator");
        $(document).off("change", "#Indicator_@userWidgetId");
        $(document).on("click", "#excludeIndicatorFilter_@userWidgetId .delete-excludeIndicator", function (e) {
            var item = $.inArray($(this).data("id"), excludeIndicatorList);

            if (item !== -1) {
                excludeIndicatorList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ ExcludeIndicators: ['${excludeIndicatorList.join("','")}'] }`, function () { refresh = true; });
                }
            });
        $(document).on("change", "#Indicator_@userWidgetId", function (e) {
            var indicator = $(this).data("kendoComboBox");

            if (indicator.selectedIndex >= 0) {
                var dataItem = indicator.dataItem(indicator.selectedIndex);
                var excludeIndicator = dataItem.Indicator;

                if ($.inArray(indicator, excludeIndicatorList) == -1) {
                    excludeIndicatorList.push(excludeIndicator);
                    $("#excludeIndicatorFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="excludeIndicator">${excludeIndicator}</span></div><div class="delete-filter delete-excludeIndicator" data-id="${excludeIndicator}" title="Remove ${excludeIndicator}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ ExcludeIndicators: ['${excludeIndicatorList.join("','")}'] }`, function () { refresh = true; });
                    }
                }

            indicator.value("");
        });
    });
</script>


<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">
        <ul class="list-group">            
            @if (authorizedSystems.Contains(SystemType.Patent) && authorizedSystems.Count() > 1)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["Patent"]</span>
                    <span>
                        <label class="toggle-switch">
                            <input id="@userWidgetId-show-patent" type="checkbox" checked="@showPatent" data-setting="ShowPatent" class="toggle-option">
                            <span class="slider round"></span>
                        </label>
                    </span>
                </li>
            }
            @if (authorizedSystems.Contains(SystemType.Trademark) && authorizedSystems.Count() > 1)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["Trademark"]</span>
                    <span>
                        <label class="toggle-switch">
                            <input id="@userWidgetId-show-patent" type="checkbox" checked="@showTrademark" data-setting="ShowTrademark" class="toggle-option">
                            <span class="slider round"></span>
                        </label>
                    </span>
                </li>
            }
            @if (authorizedSystems.Contains(SystemType.GeneralMatter) && authorizedSystems.Count() > 1)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["General Matter"]</span>
                    <span>
                        <label class="toggle-switch">
                            <input id="@userWidgetId-show-patent" type="checkbox" checked="@showGenmatter" data-setting="ShowGenMatter" class="toggle-option">
                            <span class="slider round"></span>
                        </label>
                    </span>
                </li>
            }
            @if (authorizedSystems.Contains(SystemType.DMS) && authorizedSystems.Count() > 1)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["Invention Disclosure"]</span>
                    <span>
                        <label class="toggle-switch">
                            <input id="@userWidgetId-show-patent" type="checkbox" checked="@showDMS" data-setting="ShowDMS" class="toggle-option">
                            <span class="slider round"></span>
                        </label>
                    </span>
                </li>
            }  
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Date range"]</span>
                <span>
                    @(Html.Kendo().DropDownList()
                                        .Name(userWidgetId + "-period")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .Events(e => e.Change("saveDateRange"))
                                        .BindTo(new List<SelectListItem>() {
                                                new SelectListItem() {
                                                    Text = Localizer["Today"],
                                                    Value = "Today"
                                                },
                                                new SelectListItem() {
                                                    Text = Localizer["This week"],
                                                    Value = "This week"
                                                },
                                                new SelectListItem() {
                                                    Text = Localizer["This month"],
                                                    Value = "This month"
                                                },
                                                new SelectListItem() {
                                                    Text = Localizer["Next 30 days"],
                                                    Value = "Next 30 days"
                                                }
                                        })
                                        .Value(dateRange)
                                        .HtmlAttributes(new { style = "width: 110px;", widgetId = $"{widget.Id}", data_widgetId = $"{widget.Id}", @class = "date-range-option" })
                )
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Show past due"]</span>
                <span>
                    <label class="toggle-switch">
                        <input id="@userWidgetId-show-past-due" type="checkbox" checked="@showPastDue" data-state="@showPastDue.ToString().ToLower()" data-setting="ShowPastDue" class="toggle-option">
                        <span class="slider round"></span>
                    </label>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Include inactive cases"]</span>
                <span>
                    <label class="toggle-switch">
                        <input id="@userWidgetId-show-inactive-cases" type="checkbox" checked="@showInactiveCases" data-state="@showInactiveCases.ToString().ToLower()" data-setting="ShowInactiveCases" class="toggle-option">
                        <span class="slider round"></span>
                    </label>
                </span>
            </li>                 
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Display Office Actions Only"]</span>
                <span>
                    <label class="toggle-switch">
                        <input id="@userWidgetId-show-office-actions" type="checkbox" checked="@showOfficeActions" data-state="@showOfficeActions.ToString().ToLower()" data-setting="ShowOfficeActions" class="toggle-option">
                        <span class="slider round"></span>
                    </label>
                </span>
            </li> 
        </ul>        
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", @clientLabel, @clientNameLabel, "Client", "Shared", userWidgetId))</span>
            </li>
            @foreach (ClientListViewModel client in clients)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>       
        <ul id="excludeIndicatorFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Exclude Indicator"]</span>
                <span>
                    @await Component.InvokeAsync("ComboBox", new { name = "Indicator", controller = "Dashboard", action = "GetIndicatorList", screen = userWidgetId })
                </span>
            </li>
            @foreach (string indicator in excludeIndicators)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="excludeIndicator">@indicator</span>
                    </div>
                    <div class="delete-filter delete-excludeIndicator" data-id="@indicator" title="Remove @indicator"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>  
        @if (showUserGroupOption)
        {
            <ul id="userGroupFilter_@userWidgetId" class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["Group"]</span>
                    <span>
                        @await Component.InvokeAsync("ComboBox", new { name = "UserGroup", controller = "Dashboard", action = "GetUserGroupList", screen = userWidgetId, textProperty = "Name", valueProperty = "Id" })
                    </span>
                </li>
                @foreach (GroupListViewModel grp in userGroups)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <span class="userGroup-code">@grp.Name</span>
                        </div>
                        <div class="delete-filter delete-userGroup" data-id="@grp.Id" title="Remove @grp.Name"><i class="fal fa-trash-alt"></i></div>
                    </li>
                }
            </ul>
        }
        @if (showUserOption)
        {
            <ul id="userFilter_@userWidgetId" class="list-group">
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["User"]</span>
                    <span>
                        @await Component.InvokeAsync("ComboBox", new { name = "User", controller = "Dashboard", action = "GetUserList", screen = userWidgetId, textProperty = "Name", valueProperty = "Id" })
                    </span>
                </li>
                @foreach (PickListViewModel usr in users)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <span class="user-code">@usr.Name</span>
                        </div>
                        <div class="delete-filter delete-user" data-id="@usr.Id" title="Remove @usr.Name"><i class="fal fa-trash-alt"></i></div>
                    </li>
                }
            </ul>
        }        
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>


@(Html.Kendo().Grid(Model)
    .Name(userWidgetId)
    .HtmlAttributes(new { @class = "widget-grid" })
    .Columns(columns =>
    {
        columns
            .Bound(u => u.CaseNumber)
            .ClientTemplate(template)
                .Title("")
                .HeaderHtmlAttributes(new { @class = "d-none" });
    })
    .Pageable(pageable => pageable
        .ButtonCount(4)
        .Enabled(pageSize > 0).Responsive(false))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(pageSize)
        .ServerOperation(false)
        )
)

@if (Model?.Count() <= pageSize)
{
    <style>
    #@userWidgetId .k-pager-info {
        float: left;
        padding: 0;
    }
    #@userWidgetId .k-pager-nav {
        display: none;
    }
    #@userWidgetId .k-pager-numbers {
        display: none;
    }
    </style>
}
<style>
    #dashboard .widget-grid .due-date {
        font-size: .75rem;
        /*font-weight: 600;*/
    }

        #dashboard .widget-grid .due-date.past-due {
            /*color: #D00000;*/
            color: #dc3545;
        }

    #dashboard .widget-grid tr:hover .due-date.past-due {
        color: white;
    }

    .option-disabled {
        color: #ccc;
    }

    .cal-date-md {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border: 1px solid silver;
        float: left;
        margin: 4px 10px 2px 0;
        border-radius: 5px;
        background-color: #fff;
    }

    .cal-date-md .month {
        text-align: center;
        background-color: var(--bg-menu-bar);
        color: white;
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0;
        border-bottom: 1px solid silver;
    }

    .cal-date-md .month.past-due-month {            
        background-color: #a65366 !important;            
    }

    .cal-date-md .day {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        padding-top: 2px;
        color: #000;
    }
</style>
<script>
    $("#@widget.Id.ToString()").addClass("fixed-width");
</script>
