@model IEnumerable<ChartDTO>
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IStringLocalizer<PatentResource> Localizer
@inject IClientService ClientService
@inject ISystemSettings<R10.Core.Entities.DMS.DMSSetting> Settings
@inject R10.Core.Interfaces.DMS.IDMSInventorService dmsInventorService
@inject IChildEntityService<R10.Core.Entities.DMS.Disclosure, R10.Core.Entities.DMS.DMSKeyword> dmsKeywordService
@{
    var dmsSettings = await Settings.GetSetting();
    var clientLabel = Localizer[dmsSettings.LabelClient ?? "Client"];
    var clientNameLabel = Localizer[dmsSettings.LabelClientName ?? "Client Name"];
    var keywordLabel = Localizer[dmsSettings.LabelKeyword ?? "Keywords"];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var viewNameSplit = widget.ViewName.ToString().Split("/");
    var viewName = viewNameSplit[viewNameSplit.Length - 1];
    var userWidgetId = widget.Id.ToString() + viewName;

    var settings = widget.UserSettings;    

    List<ClientListViewModel> clients = new List<ClientListViewModel>();
    var clientSetting = settings.Property("Clients");
    if (clientSetting != null)
    {
        try
        {
            int[] clientFilter = ((JArray)clientSetting.Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                        {
                                            ClientID = c.ClientID,
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }  

    List<PatInventorListViewModel> inventors = new List<PatInventorListViewModel>();
    var inventorSetting = settings.Property("Inventors");
    if (inventorSetting != null)
    {
        try
        {
            int[] inventorFilter = ((JArray)inventorSetting.Value).Select(a => (int)a).ToArray();

            if (inventorFilter.Count() > 0)
            {
                inventors = await dmsInventorService.QueryableListWithEntityFilter
                                .Where(c => c.PatInventor != null && inventorFilter.Contains(c.PatInventor.InventorID))
                                .Select(c => new PatInventorListViewModel
                                        {
                                            InventorID = c.PatInventor != null ? c.PatInventor.InventorID : 0,
                                            Inventor = c.PatInventor != null ? c.PatInventor.Inventor : ""
                                        })
                                .Distinct()
                                .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }

    List<KeywordViewModel> dmsKeywords = new List<KeywordViewModel>();
    var kwSetting = settings.Property("DMSKeywords");
    if (kwSetting != null)
    {
        try
        {
            int[] keywordsFilter = ((JArray)kwSetting.Value).Select(a => (int)a).ToArray();

            if (keywordsFilter.Count() > 0)
            {
                dmsKeywords = await dmsKeywordService.QueryableList
                                .Where(c => keywordsFilter.Contains(c.KwdId))
                                .Select(c => new KeywordViewModel
                                        {
                                            KwdId = c.KwdId,
                                            Keyword = c.Keyword
                                        })
                                .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }
}

<script>
    $(document).ready(function () {       
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];
        var inventorList = [@String.Join(",", inventors.Select(a => a.InventorID).ToList())];
        var dmsKwList = [@String.Join(",", dmsKeywords.Select(a => a.KwdId).ToList())];
        var refresh = false;
                
        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });
        
        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        });

        $(document).off("click", "#inventorFilter_@userWidgetId .delete-inventor");
        $(document).off("change", "#Inventor_@userWidgetId");
        $(document).on("click", "#inventorFilter_@userWidgetId .delete-inventor", function (e) {
            var item = $.inArray($(this).data("id"), inventorList);

            if (item !== -1) {
                inventorList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Inventors: [${inventorList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#Inventor_@userWidgetId", function (e) {
            var inventor = $(this).data("kendoComboBox");

            if (inventor.selectedIndex >= 0) {
                var dataItem = inventor.dataItem(inventor.selectedIndex);

                var inventorId = dataItem.InventorID;
                var inventorCode = dataItem.Inventor;

                if ($.inArray(inventorId, inventorList) == -1) {
                    inventorList.push(inventorId);
                    $("#inventorFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="inventor-code">${inventorCode}</span></div><div class="delete-filter delete-inventor" data-id="${inventorId}" title="Remove ${inventorCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Inventors: [${inventorList.toString()}] }`, function () { refresh = true; });
                }
            }

            inventor.value("");
        });

        $(document).off("click", "#dmsKeywordFilter_@userWidgetId .delete-dmsKw");
        $(document).off("change", "#DMSKeyword_@userWidgetId");
        $(document).on("click", "#dmsKeywordFilter_@userWidgetId .delete-dmsKw", function (e) {
            var item = $.inArray($(this).data("id"), dmsKwList);

            if (item !== -1) {
                dmsKwList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ DMSKeywords: [${dmsKwList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#DMSKeyword_@userWidgetId", function (e) {
            var kw = $(this).data("kendoComboBox");

            if (kw.selectedIndex >= 0) {
                var dataItem = kw.dataItem(kw.selectedIndex);

                var KwId = dataItem.KwId;
                var Keyword = dataItem.Keyword;

                if ($.inArray(KwId, dmsKwList) == -1) {
                    dmsKwList.push(KwId);
                    $("#dmsKeywordFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="dmsKw-code">${Keyword}</span></div><div class="delete-filter delete-dmsKw" data-id="${KwId}" title="Remove ${Keyword}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ DMSKeywords: [${dmsKwList.toString()}] }`, function () { refresh = true; });
                }
            }

            kw.value("");
        });
    });
</script>

<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">        
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", @clientLabel, @clientNameLabel, "DisclosureLookup", "DMS", userWidgetId))</span>
            </li>
            @foreach (ClientListViewModel client in clients)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="inventorFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Inventor"]</span>
                <span>@await Component.InvokeAsync("ComboBox", new { name = "Inventor", textProperty = "Inventor", valueProperty = "InventorID", controller = "DMSInventor", action = "GetFilteredInventorList", area = "DMS", listWidth = 400, screen = userWidgetId })</span>
            </li>
            @foreach (PatInventorListViewModel inventor in inventors)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="inventor-code">@inventor.Inventor</span>
                    </div>
                    <div class="delete-filter delete-inventor" data-id="@inventor.InventorID" title="Remove @inventor.Inventor"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="dmsKeywordFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@keywordLabel</span>
                <span>
                    @await Component.InvokeAsync("ComboBox", new { name = "DMSKeyword", action = "GetDMSKeywordList", screen = userWidgetId, textProperty = "Keyword", valueProperty = "KwId" })
                </span>
            </li>
            @foreach (KeywordViewModel keyword in dmsKeywords)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="dmsKw-code">@keyword.Keyword</span>
                    </div>
                    <div class="delete-filter delete-dmsKw" data-id="@keyword.KwdId" title="Remove @keyword.Keyword"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

@(Html.Kendo().Chart(Model)
    .Name(userWidgetId)
    .Title("")
    .Legend(legend => legend
        .Visible(true)
        .Position(ChartLegendPosition.Top)
    )
    .ChartArea(chartArea => chartArea
        .Background("transparent")
    )
    .Series(series => series
        .Column(model => model.Value, model => model.Category)
        //.ColorField("Color")
        .Overlay(o => o.Gradient(ChartSeriesGradient.None))
        .Labels(labels => labels
            .Visible(true)
            .Template(string.IsNullOrEmpty(widget.LabelTemplate) ? "#= value #" : widget.LabelTemplate)
            .Background("transparent")
            .Position(ChartBarLabelsPosition.OutsideEnd)
        )
    )
    .DataSource(dataSource => dataSource
        .Group(group => group.Add(model => model.Group))
    )
    .SeriesColors((string[])widget.SeriesColors)
    //.SeriesColors(widget.SeriesColors)
    .Tooltip(tooltip => tooltip
        .Visible(true)
        //.Format("{0}")
        .Template(string.IsNullOrEmpty(widget.TooltipTemplate) ? "#= series.name == '' ? category : series.name #: #= value #" : widget.TooltipTemplate)
    )
    //Settings for PDF export using kendo built-in function
    .Pdf(pdf => pdf
        .FileName(@widget.Title.ToString())
        //.PaperSize("A4")
        .Landscape(false)
        .Margin(m => m
            .Left(10)
            .Right(10)
            .Top(10)
            .Bottom(10))
    )
)


