@model IEnumerable<ChartDTO>
@using Newtonsoft.Json.Linq;
@inject IStringLocalizer<PatentResource> Localizer
@inject ISystemSettings<PatSetting> Settings
@{
    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var viewNameSplit = widget.ViewName.ToString().Split("/");
    var viewName = viewNameSplit[viewNameSplit.Length - 1];
    var userWidgetId = widget.Id.ToString() + viewName;
    var settings = widget.UserSettings;    
    var widgetTitle = widget.Title.ToString();
    var gridDetailTitle = Localizer["Application Status Detail - {0}"];

    var patSettings = await Settings.GetSetting();
    var clientLabel = Localizer[patSettings.LabelClient ?? ""];
    var clientNameLabel = Localizer[patSettings.LabelClientName ?? ""];
    var caseNumberLabel = Localizer[patSettings.LabelCaseNumber ?? ""];
    var disclosureNumberLabel = Localizer[patSettings.LabelDisclosureNumber ?? ""];
}

<script>    
    var selectedStatus = "";
    
    $(document).ready(function () {

        if ('@(widget.IsDetail)' === '@true') {
            var chart = $("#@userWidgetId").data("kendoChart");
            chart.bind("seriesClick", onSeriesClick);
            $("#@userWidgetId").attr("style", "position: static !important;");
            $("#@userWidgetId-grid-header").hide();

            var grid = $("#@userWidgetId-grid").data("kendoGrid");
            grid.dataSource.read();
        }

    });

    function onSeriesClick(e) {
        selectedStatus = e.category;
        if (selectedStatus == 'Other') {
            let tempArr = e.series.data.map(a => a.Category);
            let tempIndx = tempArr.indexOf(selectedStatus);
            tempArr.splice(tempIndx, 1);
            selectedStatus = tempArr.join("|");
        }

        var grid = $("#@userWidgetId-grid").data("kendoGrid");
        grid.dataSource.read({ userWidgetId: @widget.Id, appStatus: selectedStatus });

        var gridTitle = "@gridDetailTitle";
        $("#@userWidgetId-grid-title").text(gridTitle.replace("{0}", e.category));
        $("#@userWidgetId-grid-header").show();

    };

    function gridExcelExport(e) {
        e.preventDefault();
        var excelExportUrl = "@Url.Action("DMSPortfolioByStatusDetailExportExcel", "Dashboard")";
        const dataJSON = JSON.stringify({ userWidgetId: @widget.Id, appStatus: selectedStatus });
        const html = '<form method="POST" action="' + excelExportUrl + '">' +
            '<input type="hidden" name="__RequestVerificationToken" value="' + $("[name='__RequestVerificationToken']").val() + '">';
        let form = $(html);
        form.append($('<input type="hidden" name="filtersJSON"/>').val(dataJSON));
        $('body').append(form);
        form.submit();
    };

    function gridDetailSearchFilters() {
        return { userWidgetId: @widget.Id, appStatus: selectedStatus };
    };

</script>

@(Html.Kendo().Chart(Model)
                        .Name(userWidgetId)
                        .ChartArea(chartArea => chartArea
                            .Background("transparent"))
                        .Title(title => title
                            .Text("")
                            .Position(ChartTitlePosition.Top)
                        )
                        .Legend(legend => legend
                            .Visible(true)
                            .Position(ChartLegendPosition.Top)
                        )
                        .Series(series => series
                            .Donut(m => m.Value, m => m.Category)
                            .StartAngle(-45)
                            .ColorField("Color")
                            .ExplodeField("Explode")
                            .Overlay(o => o.Gradient(ChartSeriesGradient.None))
                            .Labels(labels => labels
                                .Visible(true)
                                .Template("#= category#\n#= value#%")
                                .Background("transparent")
                                .Position(ChartPieLabelsPosition.OutsideEnd)
                                .Align(ChartPieLabelsAlign.Column)
                            )
                        )
                        .SeriesColors(widget.SeriesColors)
                        .Tooltip(tooltip => tooltip
                            .Visible(true)
                            .Template("#= category #: #= value #%")
                        )
                        //Settings for PDF export using kendo built-in function
                        .Pdf(pdf => pdf
                            .FileName(@widget.Title.ToString())
                            //.PaperSize("A4")
                            .Landscape(false)
                            .Margin(m => m
                                .Left(10)
                                .Right(10)
                                .Top(10)
                                .Bottom(10))
                        )
)
@if (widget.IsDetail)
{
    <div id="@userWidgetId-grid-header">
        <h4><span id="@userWidgetId-grid-title"></span></h4>
    </div>

    @(Html.Kendo().Grid<DMSPatentPortfolioByStatusDrillDownViewModel>()
        .Name(userWidgetId+"-grid")
        .Columns(columns =>
        {
            columns.Bound(a => a.DisclosureNumber).Title(disclosureNumberLabel).HtmlAttributes(new { @class = "text-nowrap" });
            columns.Bound(a => a.CaseNumber).Title(caseNumberLabel).HtmlAttributes(new { @class = "text-nowrap" });
            columns.Bound(a => a.Country);
            columns.Bound(a => a.SubCase);
            columns.Bound(a => a.CaseType);
            columns.Bound(a => a.AppTitle);
            columns.Bound(a => a.Status);
            columns.Bound(a => a.AppNumber);
            columns.Bound(a => a.FilDate).Format("{0:dd-MMM-yyyy}");
            columns.Bound(a => a.PubNumber);
            columns.Bound(a => a.PubDate).Format("{0:dd-MMM-yyyy}");
            columns.Bound(a => a.PatNumber);
            columns.Bound(a => a.IssDate).Format("{0:dd-MMM-yyyy}");
            columns.Bound(a => a.ExpDate).Format("{0:dd-MMM-yyyy}");
        })
        .ToolBar(tools => tools.Excel())
        .AutoBind(false)
        //.Excel(excel => excel.AllPages(true).ProxyURL(Url.Action("ExportToExcel", "Dashboard")))
        .Pageable(page => page.PageSizes(patSettings.SearchResultsPageSizeOptions))
        .Sortable(sort => sort.AllowUnsort(false))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(patSettings.SearchResultsPageSize)
            .Read(read => read.Action("DMSPortfolioByStatusDetailRead", "Dashboard", new { userWidgetId = widget.Id }).Data("gridDetailSearchFilters"))
        )
        .Events(e => e.ExcelExport("gridExcelExport"))
        .HtmlAttributes(new { @class = "kendo-Grid", style = "width:100%" })
    )

    <style>
        .k-chart {
            margin: auto;
        }
    </style>
}