@model IEnumerable<ChartDTO>
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IClientService ClientService
@inject R10.Core.Interfaces.DMS.IDMSInventorService _dmsInventorService
@inject IStringLocalizer<PatentResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var patSettings = await Settings.GetSetting();
    var clientLabel = Localizer[patSettings.LabelClient ?? "Client"];
    var clientNameLabel = Localizer[patSettings.LabelClientName ?? "Client Name"];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var gridDetailTitle = Localizer[widget.Title + " - {0}"];
    var viewNameSplit = widget.ViewName.ToString().Split("/");
    var viewName = viewNameSplit[viewNameSplit.Length - 1];
    var userWidgetId = widget.Id.ToString() + viewName;

    var settings = widget.UserSettings;

    List<ClientListViewModel> clients = new List<ClientListViewModel>();

    if (settings.Property("Clients") != null)
    {
        try
        {
            int[] clientFilter = ((JArray)settings.Property("Clients").Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                                {
                                                    ClientID = c.ClientID,
                                                    ClientCode = c.ClientCode,
                                                    ClientName = c.ClientName
                                                })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<PatInventorListViewModel> inventors = new List<PatInventorListViewModel>();
    if (settings.Property("Inventors") != null)
    {
        try
        {
            int[] inventorFilter = ((JArray)settings.Property("Inventors").Value).Select(a => (int)a).ToArray();

            if (inventorFilter.Count() > 0)
            {
                inventors = await _dmsInventorService.QueryableListWithEntityFilter
                                .Where(c => inventorFilter.Contains(c.PatInventor.InventorID))
                                .Select(c => new PatInventorListViewModel
                                        {
                                            InventorID = c.PatInventor.InventorID,
                                            Inventor = c.PatInventor.Inventor
                                        })
                                .Distinct()
                                .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    var hasData = Model.Any(d => d.Value > 0);
}
<script>
    $(document).ready(function () {
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];
        var inventorList = [@String.Join(",", inventors.Select(a => a.InventorID).ToList())];      
        var refresh = false;
        
        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        });

        $(document).off("click", "#inventorFilter_@userWidgetId .delete-inventor");
        $(document).off("change", "#Inventor_@userWidgetId");
        $(document).on("click", "#inventorFilter_@userWidgetId .delete-inventor", function (e) {
            var item = $.inArray($(this).data("id"), inventorList);

            if (item !== -1) {
                inventorList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Inventors: [${inventorList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#Inventor_@userWidgetId", function (e) {
            var inventor = $(this).data("kendoComboBox");

            if (inventor.selectedIndex >= 0) {
                var dataItem = inventor.dataItem(inventor.selectedIndex);

                var inventorId = dataItem.InventorID;
                var inventorCode = dataItem.Inventor;

                if ($.inArray(inventorId, inventorList) == -1) {
                    inventorList.push(inventorId);
                    $("#inventorFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="inventor-code">${inventorCode}</span></div><div class="delete-filter delete-inventor" data-id="${inventorId}" title="Remove ${inventorCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Inventors: [${inventorList.toString()}] }`, function () { refresh = true; });
                }
            }

            inventor.value("");
        });

    });   

</script>

<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", @clientLabel, @clientNameLabel, "DisclosureLookup", "DMS", userWidgetId))</span>
            </li>
            @foreach (ClientListViewModel client in clients)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="inventorFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Inventor"]</span>
                <span>@await Component.InvokeAsync("ComboBox", new { name = "Inventor", textProperty = "Inventor", valueProperty = "InventorID", controller = "DMSInventor", action = "GetFilteredInventorList", area = "DMS", listWidth = 400, screen = userWidgetId })</span>
            </li>
            @foreach (PatInventorListViewModel inventor in inventors)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="inventor-code">@inventor.Inventor</span>
                    </div>
                    <div class="delete-filter delete-inventor" data-id="@inventor.InventorID" title="Remove @inventor.Inventor"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

@(Html.Kendo().Chart(Model)
    .Name(userWidgetId)
    .Title("")
    .Legend(legend => legend
        .Visible(false)
    )
    .ChartArea(chartArea => chartArea
        .Background("white")
    )    
    .Series(s => s
        .HeatMap("Value", "Category", "Group")
        .Markers(m => m.Visible(true).Type(ChartMarkerShape.RoundedRect))
        .Labels(l => l.Visible(true))        
        .ColorHandler(hasData ? "" : "function(e) { return '#fcfefd';}")
    )
    .XAxis(x => x
        .Numeric()
        .Labels(l => l.Rotation(-45))
    )
    .YAxis(y => y
        .Categories(new[] { "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun" })
    )
    .SeriesColors((string[])widget.SeriesColors)    
    .Tooltip(tooltip => tooltip
        .Visible(true)
        .Template(string.IsNullOrEmpty(widget.TooltipTemplate) ? "#= dataItem.Group #-#= dataItem.Category #: #= dataItem.Value #" : widget.TooltipTemplate)
    )    
    //Settings for PDF export using kendo built-in function
    .Pdf(pdf => pdf
        .FileName(@widget.Title.ToString())
        .Landscape(false)
        .Margin(m => m
            .Left(10)
            .Right(10)
            .Top(10)
            .Bottom(10))
    )
)