@model IEnumerable<CaseListViewModel>
@using Newtonsoft.Json.Linq;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.EntityFrameworkCore;
@inject IClientService ClientService
@inject R10.Web.Interfaces.ICountryLookupViewModelService CountryService
@inject IAuthorizationService AuthorizationService
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var clientLabel = Localizer[settings.LabelClient ?? ""];
    var clientNameLabel = Localizer[settings.LabelClientName ?? ""];
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var userWidgetId = widget.Id.ToString() + "-case-list";

    var userSettings = widget.UserSettings;
    var widgetSettings = widget.WidgetSettings;

    var systems = new string[] { SystemType.Patent, SystemType.Trademark, SystemType.GeneralMatter };
    var policies = widget.Policy.Split(',').ToList().Select(p => p.Trim());
    var authorizedSystems = new List<string>();

    foreach (var system in systems)
    {
        var authorized = true;

        if (policies.Any())
        {
            authorized = false;
            var tempPolicies = policies.Where(p => p == "*" || p.ToUpper().Contains(system.ToUpper())).ToList();

            if (tempPolicies == null || tempPolicies.Count == 0)
            {
                authorized = true;
            }            
            else
            {
                foreach (var pol in tempPolicies)
                {
                    if (string.IsNullOrEmpty(pol) || pol == "*" ||
                        (await AuthorizationService.AuthorizeAsync(User, pol)).Succeeded)
                    {
                        authorized = true;
                        break;
                    }
                }
            }
        }

        if (User.IsInSystem(system) && authorized)
        {
            authorizedSystems.Add(system);
        }
    }

    bool showAllowPaging = widgetSettings.Property("ShowAllowPaging") != null ? (widgetSettings["ShowAllowPaging"] ?? false).Value<bool>() : false;
    bool allowPaging = !showAllowPaging || userSettings.Property("AllowPaging") == null ? true : (userSettings["AllowPaging"] ?? false).Value<bool>();
    int pageSize = allowPaging ? widgetSettings.Property("PageSize") != null ? (widgetSettings["PageSize"] ?? 0).Value<int>() : 6 : 0;

    bool showPatent = userSettings.Property("ShowPatent") != null ? (userSettings["ShowPatent"] ?? true).Value<bool>() : true;
    bool showTrademark = userSettings.Property("ShowTrademark") != null ? (userSettings["ShowTrademark"] ?? true).Value<bool>() : true;
    bool showGenmatter = userSettings.Property("ShowGenMatter") != null ? (userSettings["ShowGenMatter"] ?? true).Value<bool>() : true;

    List<ClientListViewModel> clients = new List<ClientListViewModel>();

    if (userSettings.Property("Clients") != null)
    {
        try
        {
            int[] clientFilter = ((JArray)userSettings.Property("Clients").Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                        {
                                            ClientID = c.ClientID,
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<CountryLookupViewModel> countries = new List<CountryLookupViewModel>();

    if (userSettings.Property("Countries") != null)
    {
        try
        {
            string[] countryFilter = ((JArray)userSettings.Property("Countries").Value).Select(a => (string)a).Where(a => !string.IsNullOrEmpty(a)).ToArray();

            if (countryFilter.Count() > 0)
            {
                countries = await CountryService.Countries
                        .Where(c => countryFilter.Contains(c.Country))
                        .Select(c => new CountryLookupViewModel
                        {
                            Country = c.Country,
                            CountryName = c.CountryName
                        })
                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    var template = string.IsNullOrEmpty(widget.Template) ? $"<div class='name d-flex  justify-content-between'><span><a href='./#=System#/#=IdType#/detail/#=Id#'>#=kendo.htmlEncode(CaseNumber)# #= Country == null ? '' : kendo.htmlEncode(Country)# #= SubCase == null ? '' : kendo.htmlEncode(SubCase)#</a></span></div><div class='title small ellipsis'>#= Title == null ? '&nbsp;' : kendo.htmlEncode(Title) #</div><div class='title small ellipsis'>{Localizer["Status"]}: #= Status == null ? '&nbsp;' : kendo.htmlEncode(Status) #</div>" : widget.Template;
    template = template.Replace("./#=System#/", $"{Url.ApplicationBaseUrl(Context.Request.Scheme)}/#=System#/");
}

<script>
    $(document).ready(function () {
        var refresh = false;
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];
        var countryList = [@Html.Raw(String.Join(",", countries.Select(c => $"'{c.Country}'").ToList()))];

        $(document).off("click", "#@widget.Id .widget-settings .toggle-option");
        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .widget-settings .toggle-option", function (e) {
            saveSetting(@widget.Id, `{ ${$(this).data("setting")}: ${$(this).is(':checked')} }`, function () { refresh = true; });
        });
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        });

        $(document).off("click", "#countryFilter_@userWidgetId .delete-country");
        $(document).off("change", "#Country_@userWidgetId");
        $(document).on("click", "#countryFilter_@userWidgetId .delete-country", function (e) {
            var item = $.inArray($(this).data("id"), countryList);

            if (item !== -1) {
                countryList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Countries: ${JSON.stringify(countryList)} }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#Country_@userWidgetId", function (e) {
            var country = $(this).data("kendoMultiColumnComboBox");

            if (country.selectedIndex >= 0) {
                var dataItem = country.dataItem(country.selectedIndex);

                var countryCode = dataItem.Country;
                var countryName = dataItem.CountryName;

                if ($.inArray(countryCode, countryList) == -1) {
                    countryList.push(countryCode);
                    $("#countryFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="country-code">${countryCode}</span><span class="country-name">${countryName}</span></div><div class="delete-filter delete-country" data-id="${countryCode}" title="Remove ${countryCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Countries: ${JSON.stringify(countryList)} }`, function () { refresh = true; });
                }
            }

            country.value("");
        });

    });
</script>


<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">
        <ul class="list-group">
            @if (authorizedSystems.Contains(SystemType.Patent) && authorizedSystems.Count() > 1)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["Patent"]</span>
                    <span>
                        <label class="toggle-switch">
                            <input id="@userWidgetId-show-patent" type="checkbox" checked="@showPatent" data-setting="ShowPatent" class="toggle-option">
                            <span class="slider round"></span>
                        </label>
                    </span>
                </li>
            }
            @if (authorizedSystems.Contains(SystemType.Trademark) && authorizedSystems.Count() > 1)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["Trademark"]</span>
                    <span>
                        <label class="toggle-switch">
                            <input id="@userWidgetId-show-patent" type="checkbox" checked="@showTrademark" data-setting="ShowTrademark" class="toggle-option">
                            <span class="slider round"></span>
                        </label>
                    </span>
                </li>
            }
            @if (authorizedSystems.Contains(SystemType.GeneralMatter) && authorizedSystems.Count() > 1)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["General Matter"]</span>
                    <span>
                        <label class="toggle-switch">
                            <input id="@userWidgetId-show-patent" type="checkbox" checked="@showGenmatter" data-setting="ShowGenMatter" class="toggle-option">
                            <span class="slider round"></span>
                        </label>
                    </span>
                </li>
            }
        </ul>
        <ul id="countryFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@countryLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.CountryID("Country", countryLabel, countryNameLabel, "Country", "Shared", userWidgetId))</span>
            </li>
            @foreach (CountryLookupViewModel country in countries)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="country-code">@country.Country</span>
                        <span class="country-name">@country.CountryName</span>
                    </div>
                    <div class="delete-filter delete-country" data-id="@country.Country" title="Remove @country.Country"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", @clientLabel, @clientNameLabel, "Client", "Shared", userWidgetId))</span>
            </li>
            @foreach (ClientListViewModel client in clients)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>

    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

@(Html.Kendo().Grid(Model)
    .Name(userWidgetId)
    .HtmlAttributes(new { @class = "widget-grid" })
    .Columns(columns =>
    {
        columns
            .Bound(u => u.CaseNumber)
            .ClientTemplate(template)
                .Title("")
                .HeaderHtmlAttributes(new { @class = "d-none" });
    })
    .Pageable(pageable => pageable
        .ButtonCount(4)
        .Enabled(pageSize > 0).Responsive(false))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(pageSize)
        .ServerOperation(false)
        )
)

@if (Model?.Count() <= pageSize)
{
    <style>
    #@userWidgetId .k-pager-info {
        float: left;
        padding: 0;
    }
    #@userWidgetId .k-pager-nav {
        display: none;
    }
    #@userWidgetId .k-pager-numbers {
        display: none;
    }
    </style>
}

<script>
    $("#@widget.Id.ToString()").addClass("fixed-width");
</script>
