@model IEnumerable<CaseListViewModel>
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@using System.Globalization; 
@inject IStringLocalizer<PatentResource> Localizer
@inject IClientService ClientService
@inject ISystemSettings<PatSetting> Settings
@inject IPatInventorService InventorService
@inject IEntityService<PatInventorAwardType> AwardTypeService
@{
    var settings = await Settings.GetSetting();
    var clientLabel = Localizer[settings.LabelClient ?? ""];
    var clientNameLabel = Localizer[settings.LabelClientName ?? ""];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());

    var userWidgetId = widget.Id.ToString() + "-inventor-awards-notyetpaid";
    var userSettings = widget.UserSettings;
    var widgetSettings = widget.WidgetSettings;

     var template = string.IsNullOrEmpty(widget.Template) ? $"<div class='name d-flex  justify-content-between'><span><a target='_blank' href='./#=System#/#=IdType#/detail/#=Id#'>#=kendo.htmlEncode(Title)#</a></span><span class='tickler-patent-score badge'>#=kendo.htmlEncode(Action)#</span></div><div class='title small ellipsis'>#=kendo.htmlEncode(CaseNumber)# #=kendo.htmlEncode(Country)# #=kendo.htmlEncode(SubCase)#</div><div class='title small ellipsis'>{Localizer["Award Date"]}: #= DueDate == null ? '' : kendo.format('{{0:dd-MMM-yyyy}}', DueDate)#</div>" : widget.Template;
    template = template.Replace("./#=System#/", $"{Url.ApplicationBaseUrl(Context.Request.Scheme)}/#=System#/");

    //string dateRange = userSettings.Property("DateRange") != null ? userSettings["DateRange"].Value<string>() : "Today";

    List<ClientListViewModel> clients = new List<ClientListViewModel>();

    if (userSettings.Property("Clients") != null)
    {
        try
        {
            int[] clientFilter = ((JArray)userSettings.Property("Clients").Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                        {
                                            ClientID = c.ClientID,
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }

    List<PatInventorListViewModel> inventors = new List<PatInventorListViewModel>();
    if (userSettings.Property("Inventors") != null)
    {
        try
        {
            int[] inventorFilter = ((JArray)userSettings.Property("Inventors").Value).Select(a => (int)a).ToArray();

            if (inventorFilter.Count() > 0)
            {
                inventors = await InventorService.QueryableList
                                .Where(c => inventorFilter.Contains(c.InventorID))
                                .Select(c => new PatInventorListViewModel
                                {
                                    InventorID = c.InventorID,
                                    Inventor = c.Inventor
                                })
                                .Distinct()
                                .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }

    List<string> awardTypes = new List<string>();

    if (userSettings.Property("AwardTypes") != null)
    {
        try
        {
            string[] awardTypeFilter = ((JArray)userSettings.Property("AwardTypes").Value).Select(a => (string)a).Where(a => !string.IsNullOrEmpty(a)).ToArray();

            if (awardTypeFilter.Count() > 0)
            {
                awardTypes = new List<string>(awardTypeFilter);
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }   
    
    string awardDateFromStr = userSettings.Property("AwardDateFrom") != null ? userSettings["AwardDateFrom"].Value<string>() : "";
    DateTime? awardDateFrom = !string.IsNullOrEmpty(awardDateFromStr) ? DateTime.ParseExact(awardDateFromStr, "MM/dd/yyyy", CultureInfo.InvariantCulture) : null;
    string awardDateToStr = userSettings.Property("AwardDateTo") != null ? userSettings["AwardDateTo"].Value<string>() : "";
    DateTime? awardDateTo = !string.IsNullOrEmpty(awardDateToStr) ? DateTime.ParseExact(awardDateToStr, "MM/dd/yyyy", CultureInfo.InvariantCulture) : null;

}
<style>   
    .clearAwardDateRange_@userWidgetId {      
        color: dimgray;
        padding: 8px 10px;
    }

    .clearAwardDateRange_@userWidgetId:hover {
        cursor: pointer;
        color: black;
        background-color: #e7e7e7;
    }    
    
</style>
<script>
    var refresh = false;

    function saveAwardDateRange(e) {       
        var widgetId = parseInt('@widget.Id');
        var dateRange = this.range();
        var selectedStartDate = "";
        var selectedEndDate = "";
        if (dateRange) {
            if (dateRange.start) {
                selectedStartDate = kendo.toString(dateRange.start, 'MM/dd/yyyy');
            }
            if (dateRange.end) {
                selectedEndDate = kendo.toString(dateRange.end, 'MM/dd/yyyy');
            }
        } 
        saveSetting(widgetId, `{ AwardDateFrom: "${selectedStartDate}", AwardDateTo: "${selectedEndDate}" }`, function () { refresh = true;});
    }

    function awardDateRangeOnClose(e) {        
        $("#AwardDateRange_@userWidgetId input").blur();  
    }

    $(document).ready(function () {    
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];      
        var inventorList = [@String.Join(",", inventors.Select(a => a.InventorID).ToList())];
        var awardTypeList = "@String.Join(",", awardTypes.Select(a => (string)a).ToList())".split(",").filter(item => item);  

        $(document).on("click", ".clearAwardDateRange_@userWidgetId", function (e) {            
            var daterangepicker = $("#AwardDateRange_" + '@userWidgetId').data("kendoDateRangePicker");
            daterangepicker.range({
                start: null,
                end: null
            });
            daterangepicker.trigger('change');
        });   
        
        $("#AwardDateRange_@userWidgetId input").addClass("non-sortable");
        var awardDateRange = { start: null, end: null };        
        if ('@awardDateFrom') {            
            awardDateRange.start = new Date('@awardDateFrom');
        }  
        if ('@awardDateTo') {            
            awardDateRange.end = new Date('@awardDateTo');
        }   
        var drPicker = $("#AwardDateRange_@userWidgetId").data("kendoDateRangePicker");
        drPicker.range(awardDateRange);

        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {            
            if (refresh) { 
                $("#@widget.Id .refresh").click();
            }
        });        

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        }); 

        $(document).off("click", "#inventorFilter_@userWidgetId .delete-inventor");
        $(document).off("change", "#Inventor_@userWidgetId");
        $(document).on("click", "#inventorFilter_@userWidgetId .delete-inventor", function (e) {
            var item = $.inArray($(this).data("id"), inventorList);

            if (item !== -1) {
                inventorList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Inventors: [${inventorList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#Inventor_@userWidgetId", function (e) {
            var inventor = $(this).data("kendoComboBox");

            if (inventor.selectedIndex >= 0) {
                var dataItem = inventor.dataItem(inventor.selectedIndex);
                
                var inventorId = dataItem.InventorID;
                var inventorCode = dataItem.Inventor;
                
                if ($.inArray(inventorId, inventorList) == -1) {
                    inventorList.push(inventorId);
                    $("#inventorFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="inventor-code">${inventorCode}</span></div><div class="delete-filter delete-inventor" data-id="${inventorId}" title="Remove ${inventorCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Inventors: [${inventorList.toString()}] }`, function () { refresh = true; });
                }
            }

            inventor.value("");
        });

        $(document).off("click", "#awardTypeFilter_@userWidgetId .delete-awardType");
        $(document).off("change", "#AwardType_@userWidgetId");
        $(document).on("click", "#awardTypeFilter_@userWidgetId .delete-awardType", function (e) {
            var item = $.inArray($(this).data("id"), awardTypeList);

            if (item !== -1) {
                awardTypeList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ AwardTypes: ['${awardTypeList.join("','")}'] }`, function () { refresh = true; });
                }
            });
        $(document).on("change", "#AwardType_@userWidgetId", function (e) {
            var updated = $(this).data("kendoComboBox");

            if (updated.selectedIndex >= 0) {
                var dataItem = updated.dataItem(updated.selectedIndex);
                var awardType = dataItem.AwardType;

                if ($.inArray(awardType, awardTypeList) == -1) {
                    awardTypeList.push(awardType);
                    $("#awardTypeFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="awardType">${awardType}</span></div><div class="delete-filter delete-awardType" data-id="${awardType}" title="Remove ${awardType}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ AwardTypes: ['${awardTypeList.join("','")}'] }`, function () { refresh = true; });
                    }
                }

            updated.value("");
        });
    });
</script>

<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">
        <ul class="list-group">             
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Award Date Range"]</span>
                <span style="display:flex;">  
                    @(Html.Kendo().DateRangePicker()
                      .Name("AwardDateRange_" + userWidgetId)                      
                      .Format("dd-MMM-yyyy")    
                      .Range(r => r.Start(awardDateFrom).End(awardDateTo))
                      .Labels(false)
                      .Events(e => e.Change("saveAwardDateRange").Close("awardDateRangeOnClose"))                        
                      .HtmlAttributes(new { style = "width: 100%" })
                    )
                    <i class="fal fa-times clearAwardDateRange_@userWidgetId" title=@Localizer["Remove"]></i>
                </span>
            </li>            
        </ul>
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", @clientLabel, @clientNameLabel, "Client", "Shared", userWidgetId))</span>
            </li>
            @foreach (ClientListViewModel client in clients)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="inventorFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Inventor"]</span>
                <span>@await Component.InvokeAsync("ComboBox", new { name = "Inventor", textProperty = "Inventor", valueProperty = "InventorID", controller = "Inventor", action = "GetAllInventorList", area = "Patent", listWidth = 400, screen = userWidgetId })</span>
            </li>
            @foreach (PatInventorListViewModel inventor in inventors)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="inventor-code">@inventor.Inventor</span>
                    </div>
                    <div class="delete-filter delete-inventor" data-id="@inventor.InventorID" title="Remove @inventor.Inventor"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="awardTypeFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Award Type"]</span>
                <span>
                    @await Component.InvokeAsync("ComboBox", new { name = "AwardType", controller = "InventorAwardCriteria", area = "Patent", screen = userWidgetId, valueProperty = "AwardType", textProperty = "AwardType", listWidth = 350 })
                </span>
            </li>
            @foreach (string awardType in awardTypes)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="awardType">@awardType</span>
                    </div>
                    <div class="delete-filter delete-awardType" data-id="@awardType" title="Remove @awardType"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul> 
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

@(Html.Kendo().Grid(Model)
    .Name(userWidgetId)
    .HtmlAttributes(new { @class = "widget-grid" })
    .Columns(columns =>
    {
        columns
            .Bound(u => u.CaseNumber)
            .ClientTemplate(template)
                .Title("")
                .HeaderHtmlAttributes(new { @class = "d-none" });
    })
    .Pageable(pageable => pageable
        .ButtonCount(4)
        .Enabled(true).Responsive(false))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(6)
        .ServerOperation(false)
        )
)

<style>
    #@userWidgetId .k-pager-info {
        float: left;
        padding: 0;
    }
    #@userWidgetId .k-pager-nav {
        display: none;
    }
    #@userWidgetId .k-pager-numbers {
        display: none;
    }
</style>

<script>
    $("#@widget.Id.ToString()").addClass("fixed-width");
</script>
