@model IEnumerable<PatPatentWatchViewModel>
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IParentEntityService<PatCountry, PatAreaCountry> CountryService
@inject IAttorneyService _attyService
@inject IClientService ClientService
@inject IStringLocalizer<PatentResource> Localizer
@inject ISystemSettings<PatSetting> Settings
@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    var patSettings = await Settings.GetSetting();
    
    var countryLabel = SharedLocalizer["Country"];
    var countryNameLabel = SharedLocalizer["Country Name"];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());

    var userWidgetId = widget.Id.ToString() + "-expiring-patents";
    var userSettings = widget.UserSettings;
    var widgetSettings = widget.WidgetSettings;

    var template = string.IsNullOrEmpty(widget.Template) ? $"<div class='name d-flex  justify-content-between'>#= Country == null ? '' : kendo.htmlEncode(Country)# #= CurrentStatus == null ? '' : kendo.htmlEncode(CurrentStatus)#</div><div class='title small ellipsis'><span><a target='_blank' href='#=LinkUrl#'>#= Title == null ? '&nbsp;' : kendo.htmlEncode(Title)#</a></span></div><div class='title small ellipsis'>{SharedLocalizer["Event Date"]}: #= EventDate == null ? '' : kendo.format('{{0:dd-MMM-yyyy}}', EventDate)#</div><div class='title small ellipsis'>{SharedLocalizer["Event"]}: #= EventDesc == null ? '' : kendo.htmlEncode(EventDesc)#</div>": widget.Template;


    bool showAllowPaging = userSettings.Property("ShowAllowPaging") != null ? (userSettings["ShowAllowPaging"] ?? false).Value<bool>() : false;
    bool allowPaging = !showAllowPaging || userSettings.Property("AllowPaging") == null ? true : (userSettings["AllowPaging"] ?? false).Value<bool>();
    int pageSize = allowPaging ? userSettings.Property("PageSize") != null ? (userSettings["PageSize"] ?? 0).Value<int>() : 6 : 0;

    List<CountryLookupViewModel> countries = new List<CountryLookupViewModel>();

    if (userSettings.Property("Countries") != null)
    {
        try
        {
            var countryFilter = ((JArray)userSettings.Property("Countries").Value).Select(a => (string)a).ToArray();

            if (countryFilter.Count() > 0)
            {
                countries = await CountryService.QueryableList
                                        .Where(c => countryFilter.Contains(c.Country))
                                        .Select(c => new CountryLookupViewModel
                                        {                                            
                                            Country = c.Country,
                                            CountryName = c.CountryName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }
}

<script>
$(document).ready(function () {
    var countryList = [@Html.Raw(String.Join(",", countries.Select(c => $"'{c.Country}'").ToList()))];
    var refresh = false;

    $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
    $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
        if (refresh) {
            $("#@widget.Id .refresh").click();
        }
    });

    $(document).off("click", "#countryFilter_@userWidgetId .delete-country");
    $(document).off("change", "#Country_@userWidgetId");
    $(document).on("click", "#countryFilter_@userWidgetId .delete-country", function (e) {
        var item = $.inArray($(this).data("id"), countryList);

        if (item !== -1) {
            countryList.splice(item, 1);
            $(this).closest("li").remove();

            saveSetting(@widget.Id, `{ Countries: ${JSON.stringify(countryList)} }`, function () { refresh = true; });
        }
    });
    $(document).on("change", "#Country_@userWidgetId", function (e) {
        var country = $(this).data("kendoMultiColumnComboBox");

        if (country.selectedIndex >= 0) {
            var dataItem = country.dataItem(country.selectedIndex);
            
            var countryCode = dataItem.Country;
            var countryName = dataItem.CountryName;

            if ($.inArray(countryCode, countryList) == -1) {
                countryList.push(countryCode);
                $("#countryFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="country-code">${countryCode}</span><span class="country-name">${countryName}</span></div><div class="delete-filter delete-country" data-id="${countryCode}" title="Remove ${countryCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                saveSetting(@widget.Id, `{ Countries: ${JSON.stringify(countryList)} }`, function () { refresh = true; });
            }
        }

        country.value("");
    });
});
</script>

<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">
        <ul id="countryFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@countryLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.CountryID("Country", countryLabel, countryNameLabel, "CountryApplicationLookup", "Patent", userWidgetId))</span>
            </li>
            @foreach (CountryLookupViewModel country in countries)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="country-code">@country.Country</span>
                        <span class="country-name">@country.CountryName</span>
                    </div>
                    <div class="delete-filter delete-country" data-id="@country.Country" title="Remove @country.Country"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>        
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

@(Html.Kendo().Grid(Model)
    .Name(userWidgetId)
    .HtmlAttributes(new { @class = "widget-grid" })
    .Columns(columns =>
    {
        columns
            .Bound(u => u.Country)
            .ClientTemplate(template)
                .Title("")
                .HeaderHtmlAttributes(new { @class = "d-none" });
    })
    .Pageable(pageable => pageable
        .ButtonCount(4)
        .Enabled(pageSize > 0).Responsive(false))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(pageSize)
        .ServerOperation(false)
        )
)

@if (Model?.Count() <= pageSize)
{
    <style>
    #@userWidgetId .k-pager-info {
        float: left;
        padding: 0;
    }
    #@userWidgetId .k-pager-nav {
        display: none;
    }
    #@userWidgetId .k-pager-numbers {
        display: none;
    }
    </style>
}

<script>
    $("#@widget.Id.ToString()").addClass("fixed-width");
</script>
