@model IEnumerable<AttorneyCaseStatusViewModel>
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IClientService ClientService
@inject IAgentService _agentService
@inject IStringLocalizer<PatentResource> Localizer
@inject ISystemSettings<PatSetting> patSettings

@{
    var settings = await patSettings.GetSetting();

    var agentLabel = Localizer[settings.LabelAgent];
    var agentNameLabel = Localizer[settings.LabelAgentName];
    var clientLabel = Localizer[settings.LabelClient];
    var clientNameLabel = Localizer[settings.LabelClientName];
    var caseNumberLabel = Localizer[settings.LabelCaseNumber];
    var gridDetailTitle = Localizer["Foreign Agent Case Distribution Detail - {0}"];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var userWidgetId = widget.Id.ToString() + "-agent-case-status";
    var userSettings = widget.UserSettings;
    var widgetSettings = widget.WidgetSettings;

    List<AgentListViewModel> agents = new List<AgentListViewModel>();

    if (userSettings.Property("Agents") != null)
    {
        try
        {
            int[] agentFilter = ((JArray)userSettings.Property("Agents").Value).Select(a => (int)a).ToArray();

            if (agentFilter.Count() > 0)
            {
                agents = await _agentService.QueryableList
                                .Where(a => agentFilter.Contains(a.AgentID))
                                .Select(a => new AgentListViewModel
                                {
                                    AgentID = a.AgentID,
                                    AgentCode = a.AgentCode,
                                    AgentName = a.AgentName
                                })
                                .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<ClientListViewModel> clients = new List<ClientListViewModel>();

    if (userSettings.Property("Clients") != null)
    {
        try
        {
            int[] clientFilter = ((JArray)userSettings.Property("Clients").Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                        {
                                            ClientID = c.ClientID,
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

}
<style>
    #agentFilter_@userWidgetId .agent-code {
        font-weight: 600;
        margin-right: 10px;
    }
    #clientFilter_@userWidgetId .client-code {
        font-weight: 600;
        margin-right: 10px;
    }
</style>
<script>
    var selectedAgent = "";
    var selectedStatus = "";

    $(document).ready(function () {
        var agentList = [@String.Join(",", agents.Select(a => a.AgentID).ToList())];
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];
        var refresh = false;

        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });

        $(document).off("click", "#agentFilter_@userWidgetId .delete-agent");
        $(document).off("change", "#AgentCode_@userWidgetId");
        $(document).on("click", "#agentFilter_@userWidgetId .delete-agent", function (e) {
            var item = $.inArray($(this).data("id"), agentList);

            if (item !== -1) {
                agentList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Agents: [${agentList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#AgentCode_@userWidgetId", function (e) {
            var agent = $(this).data("kendoMultiColumnComboBox");

            if (agent.selectedIndex >= 0) {
                var dataItem = agent.dataItem(agent.selectedIndex);

                var agentId = dataItem.AgentID;
                var agentCode = dataItem.AgentCode;
                var agentName = dataItem.AgentName;

                if ($.inArray(agentId, agentList) == -1) {
                    agentList.push(agentId);
                    $("#agentFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="agent-code">${agentCode}</span><span class="atty-name">${agentName}</span></div><div class="delete-filter delete-agent" data-id="${agentId}" title="Remove ${agentCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Agents: [${agentList.toString()}] }`, function () { refresh = true; });
                }
            }
            agent.value("");
        });

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        });

        if ('@(widget.IsDetail)' === '@true') {
            var chart = $("#@userWidgetId").data("kendoChart");
            chart.bind("seriesClick", onSeriesClick);
            $("#@userWidgetId").attr("style", "position: static !important;");
            $("#@userWidgetId-grid-header").hide();

            var grid = $("#@userWidgetId-grid").data("kendoGrid");
            grid.dataSource.read();
        }
    });

    function onSeriesClick(e) {
        var grid = $("#@userWidgetId-grid").data("kendoGrid");
        grid.dataSource.read({ userWidgetId: @widget.Id, agent: e.dataItem["Color"], appStatus: e.dataItem["Group"] });

        var gridTitle = "@gridDetailTitle";
        $("#@userWidgetId-grid-title").text(gridTitle.replace("{0}", e.category));
        $("#@userWidgetId-grid-header").show();

        selectedAgent = e.dataItem["Color"];
        selectedStatus = e.dataItem["Group"];
    };

    function gridExcelExport(e) {
        e.preventDefault();
        var excelExportUrl = "@Url.Action("PatAgentCaseStatusDetailExportExcel", "Dashboard")";
        const dataJSON = JSON.stringify({ userWidgetId: @widget.Id, agent: selectedAgent, appStatus: selectedStatus });
        const html = '<form method="POST" action="' + excelExportUrl + '">' +
            '<input type="hidden" name="__RequestVerificationToken" value="' + $("[name='__RequestVerificationToken']").val() + '">';
        let form = $(html);
        form.append($('<input type="hidden" name="filtersJSON"/>').val(dataJSON));
        $('body').append(form);
        form.submit();
    };

    function gridDetailSearchFilters() {
        return { userWidgetId: @widget.Id, agent: selectedAgent, appStatus: selectedStatus };
    };

</script>

<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">
        <ul id="agentFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@agentLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.AgentID("AgentCode", agentLabel, agentNameLabel, "CountryApplicationLookup", "Patent", userWidgetId))</span>
            </li>
            @foreach (AgentListViewModel agent in agents)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="agent-code">@agent.AgentCode</span>
                        <span class="agent-name">@agent.AgentName</span>
                    </div>
                    <div class="delete-filter delete-agent" data-id="@agent.AgentID" title="Remove @agent.AgentCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", clientLabel, clientNameLabel, "Invention", "Patent", userWidgetId))</span>
            </li>
            @foreach (ClientListViewModel client in clients)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

@(Html.Kendo().Chart(Model)
    .Name(userWidgetId)
    .Title("")
    .Legend(legend => legend
        .Visible(true)
        .Position(ChartLegendPosition.Top)
    )
    .ChartArea(chartArea => chartArea
        .Background("transparent")
    )
    .Series(series => series
        .Bar(model => model.Value, model => model.Category)
        //.ColorField("Color")
        .Overlay(o => o.Gradient(ChartSeriesGradient.None))
        .Labels(labels => labels
            .Visible(true)
            .Template("#= value == null ? '' : value #")
            .Background("transparent")
            .Position(ChartBarLabelsPosition.OutsideEnd)
        )
        .Name("#: group.items[0].Group #")
    )
    .DataSource(dataSource => dataSource
        .Group(group => group.Add(model => model.LegendOrder))
    )
    .SeriesColors((string[])widget.SeriesColors)
    .Tooltip(tooltip => tooltip
        .Visible(true)
        .Template("#= category #/#= series.name #: #= value == null ? 0 : value #")
    )    
)
@if (widget.IsDetail)
{
    <div id="@userWidgetId-grid-header">
        <h4><span id="@userWidgetId-grid-title"></span></h4>
    </div>

    @(Html.Kendo().Grid<PatPortfolioByStatusDrillDownViewModel>()
                    .Name(userWidgetId+"-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(a => a.CaseNumber).Title(caseNumberLabel).HtmlAttributes(new { @class = "text-nowrap" });
                        columns.Bound(a => a.Country);
                        columns.Bound(a => a.SubCase);
                        columns.Bound(a => a.CaseType);
                        columns.Bound(a => a.AppTitle);
                        columns.Bound(a => a.Status);
                        columns.Bound(a => a.AppNumber);
                        columns.Bound(a => a.FilDate).Format("{0:dd-MMM-yyyy}");
                        columns.Bound(a => a.PubNumber);
                        columns.Bound(a => a.PubDate).Format("{0:dd-MMM-yyyy}");
                        columns.Bound(a => a.PatNumber);
                        columns.Bound(a => a.IssDate).Format("{0:dd-MMM-yyyy}");
                        columns.Bound(a => a.ExpDate).Format("{0:dd-MMM-yyyy}");
                    })
                    .ToolBar(tools => tools.Excel())
                    .AutoBind(false)
                    //.Excel(excel => excel.AllPages(true).ProxyURL(Url.Action("ExportToExcel", "Dashboard")))
                    .Pageable(page => page.PageSizes(settings.SearchResultsPageSizeOptions))
                    .Sortable(sort => sort.AllowUnsort(false))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(User.GetSearchResultsPageSize(settings.SearchResultsPageSize))
                        .Read(read => read.Action("PatAgentCaseStatusDetailRead", "Dashboard", new { userWidgetId = widget.Id }).Data("gridDetailSearchFilters"))
                    )
                    .Events(e => e.ExcelExport("gridExcelExport"))
                    .HtmlAttributes(new { @class = "kendo-Grid", style = "width:100%" })
)

    <style>
        .k-chart {
            margin: auto;
        }
    </style>
}