@using Microsoft.Extensions.Options;
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@using System.Globalization;
@model IEnumerable<PatEPOCommunicationViewModel>
@inject IStringLocalizer<PatentResource> Localizer
@inject ISystemSettings<PatSetting> Settings
@inject IOptions<EPOMailboxSettings> EPOMailboxSettings
@inject IAttorneyService _attyService
@inject IClientService ClientService
@inject ICPiUserSettingManager UserSettingManager
@{
    var epoMailboxSettings = EPOMailboxSettings.Value;
    var userAccountSettings = await UserSettingManager.GetUserSetting<UserAccountSettings>(User.GetUserIdentifier());

    var patSettings = await Settings.GetSetting();
    var clientLabel = Localizer[patSettings.LabelClient ?? "Client"];
    var clientNameLabel = Localizer[patSettings.LabelClientName ?? "Client Name"];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());

    var userWidgetId = widget.Id.ToString() + "-pat-epo-communications";
    var userSettings = widget.UserSettings;
    var widgetSettings = widget.WidgetSettings;

    var caseLinkTemplate = string.Empty;

    if (epoMailboxSettings.SearchOption == 3)
    {
        caseLinkTemplate = $"<div class='title small ellipsis'>{Localizer["User Reference"]}: #= UserReference == null ? '' : kendo.htmlEncode(UserReference)#</div><div class='title small ellipsis'>{Localizer["Application Number"]}: <a style='#=AppId > 0 ? '' : 'cursor:default;pointer-events:none;' #' href='./Patent/CountryApplication/Detail/#=AppId#' target='_blank'>#= ApplicationNumber == null ? '' : kendo.htmlEncode(ApplicationNumber)# <i class='fal fa-search-plus #=AppId > 0 ? '' : 'd-none' #'></i></a></div>";
    }
    else
    {
        caseLinkTemplate = $"<div class='title small ellipsis'>{Localizer["User Reference"]}: <a style='#=AppId > 0 ? '' : 'cursor:default;pointer-events:none;' #' href='./Patent/CountryApplication/Detail/#=AppId#' target='_blank'>#= UserReference == null ? '' : kendo.htmlEncode(UserReference)# <i class='fal fa-search-plus #=AppId > 0 ? '' : 'd-none' #'></i></a></div><div class='title small ellipsis'>{Localizer["Application Number"]}: #= ApplicationNumber == null ? '' : kendo.htmlEncode(ApplicationNumber)#</div>";
    }

    var template = string.IsNullOrEmpty(widget.Template) ? $"<div class='name d-flex justify-content-between'></div><div class='title small ellipsis'>{Localizer["Download Date"]}: #= DateCreated == null ? '' : kendo.format('{{0:dd-MMM-yyyy}}', DateCreated)#</div><div class='title small ellipsis'>{Localizer["Code"]}: #= DocumentCode == null ? '&nbsp;' : kendo.htmlEncode(DocumentCode)#</div><div class='title small ellipsis'>{Localizer["Name"]}: #= Title == null ? '' : kendo.htmlEncode(Title)#</div><div class='title small ellipsis'>{Localizer["Dispatch Date"]}: #= DispatchDate == null ? '' : kendo.format('{{0:dd-MMM-yyyy}}', DispatchDate)#</div>{caseLinkTemplate}" : widget.Template;

    bool showAllowPaging = userSettings.Property("ShowAllowPaging") != null ? (userSettings["ShowAllowPaging"] ?? false).Value<bool>() : false;
    bool allowPaging = !showAllowPaging || userSettings.Property("AllowPaging") == null ? true : (userSettings["AllowPaging"] ?? false).Value<bool>();
    int pageSize = allowPaging ? userSettings.Property("PageSize") != null ? (userSettings["PageSize"] ?? 0).Value<int>() : 6 : 0;

    int handledSwitch = userSettings.Property("HandledSwitch") != null ? (userSettings["HandledSwitch"] ?? 1).Value<int>() : 1;
    string createdDateRange = userSettings.Property("CreatedDateRange") != null ? (userSettings["CreatedDateRange"] ?? "Today").Value<string>() ?? "Today" : "Today";
    string createdDateFromStr = userSettings.Property("CreatedDateFrom") != null ? (userSettings["CreatedDateFrom"] ?? "").Value<string>() ?? "" : "";
    DateTime? createdDateFrom = !string.IsNullOrEmpty(createdDateFromStr) ? DateTime.ParseExact(createdDateFromStr, "MM/dd/yyyy", CultureInfo.InvariantCulture) : null;
    string createdDateToStr = userSettings.Property("CreatedDateTo") != null ? (userSettings["CreatedDateTo"] ?? "").Value<string>() ?? "" : "";
    DateTime? createdDateTo = !string.IsNullOrEmpty(createdDateToStr) ? DateTime.ParseExact(createdDateToStr, "MM/dd/yyyy", CultureInfo.InvariantCulture) : null;

    List<AttorneyListViewModel> attorneys = new List<AttorneyListViewModel>();
    var attorneySetting = userSettings.Property("Attorneys");
    if (attorneySetting != null)
    {
        try
        {
            int[] attyFilter = ((JArray)attorneySetting.Value).Select(a => (int)a).ToArray();

            if (attyFilter.Count() > 0)
            {
                attorneys = await _attyService.QueryableList
                                        .Where(a => attyFilter.Contains(a.AttorneyID))
                                        .Select(a => new AttorneyListViewModel
                                                {
                                                    AttorneyID = a.AttorneyID,
                                                    AttorneyCode = a.AttorneyCode,
                                                    AttorneyName = a.AttorneyName
                                                })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<AttorneyListViewModel> attorneyPositions = new List<AttorneyListViewModel>();

    List<AttorneyListViewModel> fixedAttyPositions = new List<AttorneyListViewModel>()
    {
        new AttorneyListViewModel {AttorneyID = 0, AttorneyCode = "", AttorneyName = ""},
        new AttorneyListViewModel {AttorneyID = 1, AttorneyCode = "Attorney1", AttorneyName = "Attorney1"},
        new AttorneyListViewModel {AttorneyID = 2, AttorneyCode = "Attorney2", AttorneyName = "Attorney2"},
        new AttorneyListViewModel {AttorneyID = 3, AttorneyCode = "Attorney3", AttorneyName = "Attorney3"},
        new AttorneyListViewModel {AttorneyID = 4, AttorneyCode = "Attorney4", AttorneyName = "Attorney4"},
        new AttorneyListViewModel {AttorneyID = 5, AttorneyCode = "Attorney5", AttorneyName = "Attorney5"}
    };

    var attorneyPositionSetting = userSettings.Property("AttorneyPositions");
    if (attorneyPositionSetting != null)
    {
        try
        {
            int[] attyFilter = ((JArray)attorneyPositionSetting.Value).Select(a => (int)a).ToArray();

            if (attyFilter.Count() > 0)
            {
                attorneyPositions = fixedAttyPositions.Where(a => attyFilter.Contains(a.AttorneyID))
                                .Select(a => new AttorneyListViewModel
                                        {
                                            AttorneyID = a.AttorneyID,
                                            AttorneyCode = a.AttorneyCode,
                                            AttorneyName = a.AttorneyName
                                        })
                                .ToList();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<ClientListViewModel> clients = new List<ClientListViewModel>();
    var clientSetting = userSettings.Property("Clients");
    if (clientSetting != null)
    {
        try
        {
            int[] clientFilter = ((JArray)clientSetting.Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                                {
                                                    ClientID = c.ClientID,
                                                    ClientCode = c.ClientCode,
                                                    ClientName = c.ClientName
                                                })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    var handleCheckboxTemplate = "<input type='checkbox' #= (CustomCheck == true) ? checked='checked' : '' # #= (Handled == true || Read == false) ? disabled='disabled' : '' # #= (Handled == true || Read == false) ? hidden='hidden' : '' # class='k-checkbox customHandled-chkbx' title='" + Localizer["Mark as Handled"] + "'><span class='small markAsHandled'>" + Localizer["Mark as Handled"] + "</span></input>";

    if (!userAccountSettings.AllowHandleMyEPOCommunications)
        handleCheckboxTemplate = "<input type='checkbox' #= (CustomCheck == true) ? checked='checked' : '' # disabled='disabled' class='k-checkbox customHandled-chkbx' title='" + Localizer["Mark as Handled"] + "'><span class='small markAsHandled'>" + Localizer["Mark as Handled"] + "</span></input>";
}

<style>      
    .clearCreatedDateRangePicker_@userWidgetId {      
        color: dimgray;
        padding: 8px 10px;
    }

    .clearCreatedDateRangePicker_@userWidgetId:hover {
        cursor: pointer;
        color: black;
        background-color: #e7e7e7;
    }

    .markAsHandled {
        display: flex;
    }
</style>
<script>
    $("#@widget.Id.ToString()").addClass("fixed-width");   
    var refresh = false;

    function saveDateRange(e) {
        var widgetId = parseInt(this.element.attr("widgetId"));
        saveSetting(widgetId, `{ CreatedDateRange: "${this.dataItem(this.selectedIndex).Text}" }`, function () { refresh = true; });
    }

    function saveCreatedDateRange(e) {       
        var widgetId = parseInt('@widget.Id');
        var dateRange = this.range();
        var selectedStartDate = "";
        var selectedEndDate = "";
        if (dateRange) {
            if (dateRange.start) {
                selectedStartDate = kendo.toString(dateRange.start, 'MM/dd/yyyy');
            }
            if (dateRange.end) {
                selectedEndDate = kendo.toString(dateRange.end, 'MM/dd/yyyy');
            }
        } 
        saveSetting(widgetId, `{ CreatedDateFrom: "${selectedStartDate}", CreatedDateTo: "${selectedEndDate}" }`, function () { refresh = true;});
    }

    function createdDateRangeOnClose(e) {        
        $("#CreatedDateRangePicker_@userWidgetId input").blur();  
    }

    $(document).ready(function () {
        var attyList = [@String.Join(",", attorneys.Select(a => a.AttorneyID).ToList())];
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];
        var attyPositionsList = [@String.Join(",", attorneyPositions.Select(a => a.AttorneyID).ToList())];

        const widgetGrid = $("#@userWidgetId");    
        pageHelper.kendoGridDirtyTracking(widgetGrid, { name: "@userWidgetId" }); 
        $('#@userWidgetId').on('click', '.customHandled-chkbx', function (e) {
            var checked = $(this).is(':checked');            
            var grid = $('#@userWidgetId').data("kendoGrid");
            //Current item
            var dataItem = grid.dataItem($(this).closest('tr'));
            //Set current item back to true
            if (dataItem) {
                dataItem.set('CustomCheck', checked);                
            }            
        })        

        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {            
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });

        $(document).on("click", ".clearCreatedDateRangePicker_@userWidgetId", function (e) {            
            var daterangepicker = $("#CreatedDateRangePicker_" + '@userWidgetId').data("kendoDateRangePicker");
            daterangepicker.range({
                start: null,
                end: null
            });
            daterangepicker.trigger('change');
        }); 
        $("#CreatedDateRangePicker_@userWidgetId input").addClass("non-sortable");
        var createdDateRange = { start: null, end: null };        
        if ('@createdDateFrom') {            
            createdDateRange.start = new Date('@createdDateFrom');
        }  
        if ('@createdDateTo') {            
            createdDateRange.end = new Date('@createdDateTo');
        }   
        var createdDRPicker = $("#CreatedDateRangePicker_@userWidgetId").data("kendoDateRangePicker");
        createdDRPicker.range(createdDateRange);

        $(document).off("click", "#@userWidgetId-handled-switch");
        $(document).on("click", "#@userWidgetId-handled-switch", function (e) {
            saveSetting(@widget.Id, `{ HandledSwitch: ${$(this).is(':checked') ? -1 : 1} }`, function () { refresh = true; });
        });
       
        $(document).off("click", "#attorneyFilter_@userWidgetId .delete-atty");
        $(document).off("change", "#AttorneyCode_@userWidgetId");
        $(document).on("click", "#attorneyFilter_@userWidgetId .delete-atty", function (e) {
            var item = $.inArray($(this).data("id"), attyList);

            if (item !== -1) {
                attyList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Attorneys: [${attyList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#AttorneyCode_@userWidgetId", function (e) {
            var atty = $(this).data("kendoMultiColumnComboBox");

            if (atty.selectedIndex >= 0) {
                var dataItem = atty.dataItem(atty.selectedIndex);

                var attyId = dataItem.AttorneyID;
                var attyCode = dataItem.AttorneyCode;
                var attyName = dataItem.AttorneyName;

                if ($.inArray(attyId, attyList) == -1) {
                    attyList.push(attyId);
                    $("#attorneyFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="atty-code">${attyCode}</span><span class="atty-name">${attyName}</span></div><div class="delete-filter delete-atty" data-id="${attyId}" title="Remove ${attyCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Attorneys: [${attyList.toString()}] }`, function () { refresh = true; });
                }
            }

            atty.value("");
        });

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        });

        $(document).off("click", "#attorneyPositionFilter_@userWidgetId .delete-attyPos");
        $(document).off("change", "#AttorneyPosition_@userWidgetId");
        $(document).on("change", "#AttorneyPosition_@userWidgetId", function (e) {
            var attyPositions = $(this).data("kendoDropDownList");

            if (attyPositions.selectedIndex >= 0) {
                var dataItem = attyPositions.dataItem(attyPositions.selectedIndex);

                var attyId = dataItem.AttorneyID;
                var attyCode = dataItem.AttorneyCode;
                var attyName = dataItem.AttorneyName;

                if ($.inArray(attyId, attyPositionsList) == -1) {
                    attyPositionsList.push(attyId);
                    $("#attorneyPositionFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="atty-code">${attyCode}</span></div><div class="delete-filter delete-attyPos" data-id="${attyId}" title="Remove ${attyCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ AttorneyPositions: [${attyPositionsList.toString()}] }`, function () { refresh = true; });
                }
            }

            attyPositions.value("");
        });
        $(document).on("click", "#attorneyPositionFilter_@userWidgetId .delete-attyPos", function (e) {
            var item = $.inArray($(this).data("id"), attyPositionsList);

            if (item !== -1) {
                attyPositionsList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ AttorneyPositions: [${attyPositionsList.toString()}] }`, function () { refresh = true; });
            }
        });
    });
</script>

<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Handled"]</span>
                <span>
                    <label class="toggle-switch">
                        <input id="@userWidgetId-handled-switch" type="checkbox" checked="@(handledSwitch == -1)">
                        <span class="slider round"></span>
                    </label>
                </span>
            </li>
        </ul>
        <ul class="list-group">   
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Download Date Selection"]</span>
                <span>
                    @(Html.Kendo().DropDownList()
                        .Name(userWidgetId + "-period")
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .Events(e => e.Change("saveDateRange"))
                        .BindTo(new List<SelectListItem>() {
                                new SelectListItem() {
                                    Text = "Today",
                                    Value = "Today"
                                },
                                new SelectListItem() {
                                    Text = "This week",
                                    Value = "This week"
                                },
                                new SelectListItem() {
                                    Text = "This month",
                                    Value = "This month"
                                }
                        })
                        .Value(createdDateRange)
                        .HtmlAttributes(new { style = "width: 150px;", widgetId = $"{widget.Id}", data_widgetId = $"{widget.Id}", @class = "date-range-option" })
                    )
                </span>
            </li>            
        </ul>        
        <ul class="list-group">             
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Download Date Range"]</span>
                <span style="display:flex;">  
                    @(Html.Kendo().DateRangePicker()
                      .Name("CreatedDateRangePicker_" + userWidgetId)                      
                      .Format("dd-MMM-yyyy")    
                      .Range(r => r.Start(createdDateFrom).End(createdDateTo))
                      .Labels(false)
                      .Events(e => e.Change("saveCreatedDateRange").Close("createdDateRangeOnClose"))                        
                      .HtmlAttributes(new { style = "width: 100%" })
                    )
                    <i class="fal fa-times clearCreatedDateRangePicker_@userWidgetId" title=@Localizer["Remove"]></i>
                </span>
            </li>            
        </ul>
        <ul id="attorneyPositionFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Attorney Position"]</span>
                <span>
                    @(Html.Kendo().DropDownList()
                        .Name("AttorneyPosition_" + @userWidgetId)
                        .DataTextField("AttorneyName")
                        .DataValueField("AttorneyID")
                        .HtmlAttributes(new { style = "width: 100px" })
                        .BindTo(fixedAttyPositions)
                        .Events(events => events.Open("function() {this.element.getKendoDropDownList().list.find('li.k-item').first().hide();}"))
                        )
                </span>
            </li>
            @foreach (AttorneyListViewModel atty in attorneyPositions)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="atty-code">@atty.AttorneyCode</span>
                    </div>
                    <div class="delete-filter delete-attyPos" data-id="@atty.AttorneyID" title="Remove @atty.AttorneyCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="attorneyFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Attorney"]</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyID("AttorneyCode", Localizer["Attorney"], Localizer["Attorney Name"], "Attorney", "Shared", userWidgetId))</span>
            </li>
            @foreach (AttorneyListViewModel atty in attorneys)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="atty-code">@atty.AttorneyCode</span>
                        <span class="atty-name">@atty.AttorneyName</span>
                    </div>
                    <div class="delete-filter delete-atty" data-id="@atty.AttorneyID" title="Remove @atty.AttorneyCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", @clientLabel, @clientNameLabel, "Client", "Shared", userWidgetId))</span>
            </li>
            @foreach (ClientListViewModel client in clients)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

@(Html.Kendo().Grid<PatEPOCommunicationViewModel>()
    .Name(userWidgetId)
    .HtmlAttributes(new { @class = "widget-grid" })
    .Columns(columns =>
    {
        columns
            .Bound(u => u.Title)
            .ClientTemplate(template)
            .Width("85%")
            .HeaderHtmlAttributes(new { @class = "d-none" });

        columns.Bound(c => c.CustomCheck)            
            .Width("15%")
            .ClientTemplate(handleCheckboxTemplate)
            .Editable("function(e) { return (e.Handled == true || e.Read == false) ? false : true; }")
            //.Visible(userAccountSettings.AllowHandleMyEPOCommunications)
            .HtmlAttributes(new { @class = "k-text-center"})            
            .HeaderHtmlAttributes(new { @class = "d-none" });           

    })
    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
    .ToolBar(toolbar =>
    {
        toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(Localizer["Save"]).HtmlAttributes(new { @class = "d-none" });
        toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(Localizer["Cancel"]).HtmlAttributes(new { @class = "d-none" });
    })
    .Editable(editable => editable.Enabled(userAccountSettings.AllowHandleMyEPOCommunications).Mode(GridEditMode.InCell))
    .Pageable(pageable => pageable
        .ButtonCount(4)
        .Enabled(pageSize > 0).Refresh(true))
    .AutoBind(true)        
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(pageSize)
        .Batch(true)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(i => i.CommunicationId);
            model.Field(p => p.Title).Editable(false);
            model.Field(p => p.Handled).Editable(false);
            model.Field(p => p.Read).Editable(false);
            model.Field(p => p.CustomCheck).Editable((handledSwitch != -1) && userAccountSettings.AllowHandleMyEPOCommunications);
        })
        .Read(update => update.Action("EPOCommunicationsWithoutDocsRead", "Dashboard", new { userWidgetId = widget.Id }).Data($"getWidgetTempSetting({widget.Id})"))
        .Update(update => update.Action("EPOCommunicationsWithoutDocsUpdate", "Dashboard"))
        .Events(events =>
        {
            events.Error("pageHelper.onGridError");            
        })
    )
)
@if (Model?.Count() <= pageSize)
{
    <style>
    #@userWidgetId .k-pager-info {
        float: left;
        padding: 0;
    }
    #@userWidgetId .k-pager-nav {
        display: none;
    }
    #@userWidgetId .k-pager-numbers {
        display: none;
    }
    </style>
}
