@model IEnumerable<PatLatestPTODocumentsDTO>
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IClientService ClientService
@inject IAttorneyService _attyService
@inject IStringLocalizer<PatentResource> Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject ISystemSettings<PatSetting> Settings

@{
    var patSettings = await Settings.GetSetting();
    var clientLabel = Localizer[patSettings.LabelClient ?? ""];
    var clientNameLabel = Localizer[patSettings.LabelClientName ?? ""];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());

    var userWidgetId = widget.Id.ToString() + "-latestPTODocuments";
    var settings = widget.UserSettings;
    var widgetSettings = widget.WidgetSettings;

    var template = string.IsNullOrEmpty(widget.Template) ? "<div class='name d-flex  justify-content-between'><span><a target='_blank' href='./Patent/CountryApplication/detail/#=AppId#'>#=kendo.htmlEncode(CaseNumber)# #= Country == null ? '' : kendo.htmlEncode(Country)# #= SubCase == null ? '' : kendo.htmlEncode(SubCase)# </a></span></div><div class='title small ellipsis'>#= AppTitle == null ? '&nbsp;' : kendo.htmlEncode(AppTitle)#</div><div class='name d-flex  justify-content-between'><span><a href='./FileViewer/GetPTODoc?system=Patent&amp;screenCode=RTS&amp;filename=#=FileName#&amp;key=#=PLAppID#&amp;noPages=#=NoPages#&amp;pageStart=#=PageStart#&amp;zoom=0'>#=Description#&nbsp;&nbsp;&nbsp;&nbsp;<i class='fal fa-file-pdf'></i></a></span></div>" : widget.Template;


    bool showAllowPaging = settings.Property("ShowAllowPaging") != null ? (settings["ShowAllowPaging"] ?? false).Value<bool>() : false;
    bool allowPaging = !showAllowPaging || settings.Property("AllowPaging") == null ? true : (settings["AllowPaging"] ?? false).Value<bool>();
    int pageSize = allowPaging ? settings.Property("PageSize") != null ? (settings["PageSize"] ?? 0).Value<int>() : 6 : 0;

    List<ClientListViewModel> clients = new List<ClientListViewModel>();
    var clientSetting = settings.Property("Clients");
    if (clientSetting != null)
    {
        try
        {
            int[] clientFilter = ((JArray)clientSetting.Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                        {
                                            ClientID = c.ClientID,
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }

    List<AttorneyListViewModel> attorneys = new List<AttorneyListViewModel>();
    var attySetting = settings.Property("Attorneys");
    if (attySetting != null)
    {
        try
        {
            int[] attyFilter = ((JArray)attySetting.Value).Select(a => (int)a).ToArray();

            if (attyFilter.Count() > 0)
            {
                attorneys = await _attyService.QueryableList
                                        .Where(a => attyFilter.Contains(a.AttorneyID))
                                        .Select(a => new AttorneyListViewModel
                                        {
                                            AttorneyID = a.AttorneyID,
                                            AttorneyCode = a.AttorneyCode,
                                            AttorneyName = a.AttorneyName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }

    string defaultDateRange = widgetSettings.Property("DateRange") != null ? (((widgetSettings["DateRange"] ?? "Today").First ?? "Today").Value<string>() ?? "Today") : "Today";
    string dateRange = settings.Property("DateRange") != null ? (((settings["DateRange"] ?? defaultDateRange).First ?? defaultDateRange).Value<string>() ?? defaultDateRange) : defaultDateRange;

    List<string> ptoDocument = new List<string>();
    var ptoDocSetting = settings.Property("Documents");
    if (ptoDocSetting != null)
    {
        try
        {
            string[] ptoFilter = ((JArray)ptoDocSetting.Value).Select(a => a.ToString()).Where(a => !string.IsNullOrEmpty(a)).ToArray();

            if (ptoFilter.Count() > 0)
            {
                ptoDocument = new List<string>(ptoFilter);
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }

    List<AttorneyListViewModel> attorneyPositions = new List<AttorneyListViewModel>();

    List<AttorneyListViewModel> fixedAttyPositions = new List<AttorneyListViewModel>()
    {
        new AttorneyListViewModel {AttorneyID = 0, AttorneyCode = "", AttorneyName = ""},
        new AttorneyListViewModel {AttorneyID = 1, AttorneyCode = "Attorney1", AttorneyName = "Attorney1"},
        new AttorneyListViewModel {AttorneyID = 2, AttorneyCode = "Attorney2", AttorneyName = "Attorney2"},
        new AttorneyListViewModel {AttorneyID = 3, AttorneyCode = "Attorney3", AttorneyName = "Attorney3"},
        new AttorneyListViewModel {AttorneyID = 4, AttorneyCode = "Attorney4", AttorneyName = "Attorney4"},
        new AttorneyListViewModel {AttorneyID = 5, AttorneyCode = "Attorney5", AttorneyName = "Attorney5"}
        //new AttorneyListViewModel {AttorneyID = 6, AttorneyCode = "Responsible", AttorneyName = "Responsible"}
    };
    var attyPostionSetting = settings.Property("AttorneyPositions");
    if (attyPostionSetting != null)
    {
        try
        {
            int[] attyFilter = ((JArray)attyPostionSetting.Value).Select(a => (int)a).ToArray();

            if (attyFilter.Count() > 0)
            {
                attorneyPositions = fixedAttyPositions.Where(a => attyFilter.Contains(a.AttorneyID))
                                .Select(a => new AttorneyListViewModel
                                        {
                                            AttorneyID = a.AttorneyID,
                                            AttorneyCode = a.AttorneyCode,
                                            AttorneyName = a.AttorneyName
                                        })
                                .ToList();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

}

<script>
    var refresh = false;

    function saveDateRange(e) {
        var widgetId = parseInt(this.element.attr("widgetId"));
        saveSetting(widgetId, `{ DateRange: ["${this.dataItem(this.selectedIndex).Text}"] }`, function () { refresh = true; });
    }

    $(document).ready(function () {
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];
        var attyList = [@String.Join(",", attorneys.Select(a => a.AttorneyID).ToList())];
        var documentList = "@String.Join(",", ptoDocument.Select(a => (string)a).ToList())".split(",").filter(item => item);
        var attyPositionsList = [@String.Join(",", attorneyPositions.Select(a => a.AttorneyID).ToList())];

        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                console.log(refresh);
                $("#@widget.Id .refresh").click();
            }
        });

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
                var item = $.inArray($(this).data("id"), clientList);

                if (item !== -1) {
                    clientList.splice(item, 1);
                    $(this).closest("li").remove();

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            });

        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
                var client = $(this).data("kendoMultiColumnComboBox");

                if (client.selectedIndex >= 0) {
                    var dataItem = client.dataItem(client.selectedIndex);

                    var clientId = dataItem.ClientID;
                    var clientCode = dataItem.ClientCode;
                    var clientName = dataItem.ClientName;

                    if ($.inArray(clientId, clientList) == -1) {
                        clientList.push(clientId);
                        $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                        saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                    }
                }

                client.value("");
            });

        $(document).off("click", "#attorneyFilter_@userWidgetId .delete-atty");
        $(document).off("change", "#AttorneyCode_@userWidgetId");

        $(document).on("click", "#attorneyFilter_@userWidgetId .delete-atty", function (e) {
                var item = $.inArray($(this).data("id"), attyList);

                if (item !== -1) {
                    attyList.splice(item, 1);
                    $(this).closest("li").remove();

                    saveSetting(@widget.Id, `{ Attorneys: [${attyList.toString()}] }`, function () { refresh = true; });
                }
            });

        $(document).on("change", "#AttorneyCode_@userWidgetId", function (e) {
            var atty = $(this).data("kendoMultiColumnComboBox");

            if (atty.selectedIndex >= 0) {
                var dataItem = atty.dataItem(atty.selectedIndex);

                var attyId = dataItem.AttorneyID;
                var attyCode = dataItem.AttorneyCode;
                var attyName = dataItem.AttorneyName;

                if ($.inArray(attyId, attyList) == -1) {
                    attyList.push(attyId);
                    $("#attorneyFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="atty-code">${attyCode}</span><span class="atty-name">${attyName}</span></div><div class="delete-filter delete-atty" data-id="${attyId}" title="Remove ${attyCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Attorneys: [${attyList.toString()}] }`, function () { refresh = true; });
                }
            }

            atty.value("");
        });

        $(document).off("click", "#documentFilter_@userWidgetId .delete-doc");
        $(document).off("change", "#PTODescription_@userWidgetId");

        $(document).on("click", "#documentFilter_@userWidgetId .delete-doc", function (e) {
            var item = $.inArray($(this).data("id"), documentList);

                if (item !== -1) {
                    documentList.splice(item, 1);
                    $(this).closest("li").remove();

                    saveSetting(@widget.Id, `{ Documents: ['${documentList.join("','")}'] }`, function () { refresh = true; });
                }
            });

        $(document).on("change", "#PTODescription_@userWidgetId", function (e) {
            var doc = $(this).data("kendoComboBox");

            if (doc.selectedIndex >= 0) {
                var dataItem = doc.dataItem(doc.selectedIndex);

                var docName = dataItem.Description;

                if ($.inArray(docName, documentList) == -1) {
                    documentList.push(docName);
                    $("#documentFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="pto-doc">${docName}</span></div><div class="delete-filter delete-doc" data-id="${docName}" title="Remove ${docName}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Documents: ['${documentList.join("','")}'] }`, function () { refresh = true; });
                    }
                }

            doc.value("");
        });

        $(document).off("click", "#attorneyPositionFilter_@userWidgetId .delete-attyPos");
        $(document).off("change", "#AttorneyPosition_@userWidgetId");
        $(document).on("click", "#attorneyPositionFilter_@userWidgetId .delete-attyPos", function (e) {
            var item = $.inArray($(this).data("id"), attyPositionsList);

            if (item !== -1) {
                attyPositionsList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ AttorneyPositions: [${attyPositionsList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#AttorneyPosition_@userWidgetId", function (e) {
            var attyPositions = $(this).data("kendoDropDownList");

            if (attyPositions.selectedIndex >= 0) {
                var dataItem = attyPositions.dataItem(attyPositions.selectedIndex);

                var attyId = dataItem.AttorneyID;
                var attyCode = dataItem.AttorneyCode;
                var attyName = dataItem.AttorneyName;

                if ($.inArray(attyId, attyPositionsList) == -1) {
                    attyPositionsList.push(attyId);
                    $("#attorneyPositionFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="atty-code">${attyCode}</span></div><div class="delete-filter delete-attyPos" data-id="${attyId}" title="Remove ${attyCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ AttorneyPositions: [${attyPositionsList.toString()}] }`, function () { refresh = true; });
                }
            }

            attyPositions.value("");
        });

    });
</script>

<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">
        <ul id="documentFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@SharedLocalizer["Date range"]</span>
                <span>
                    @(Html.Kendo().DropDownList()
                                                .Name(userWidgetId + "-period")
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .Events(e => e.Change("saveDateRange"))
                                                .BindTo(new List<SelectListItem>() {
                                                        new SelectListItem() {
                                                            Text = "Today",
                                                            Value = "Today"
                                                        },
                                                        new SelectListItem() {
                                                            Text = "This week",
                                                            Value = "This week"
                                                        },
                                                        new SelectListItem() {
                                                            Text = "This month",
                                                            Value = "This month"
                                                        }
                                                })
                                                .Value(dateRange)
                                                .HtmlAttributes(new { style = "width: 110px;", widgetId = $"{widget.Id}", data_widgetId = $"{widget.Id}", @class = "date-range-option" })
                        )
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>@SharedLocalizer["Document"]</span>
                <span>@await Component.InvokeAsync("ComboBox", new { name = "PTODescription", textProperty = "Description", controller = "RTSInfo", action = "GetSearchPTODocumentList", area = "Patent", screen = userWidgetId, listWidth = 500 })</span>
            </li>
            @foreach (string doc in ptoDocument)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="pto-doc">@doc</span>
                    </div>
                    <div class="delete-filter delete-doc" data-id="@doc" title="Remove @doc"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", clientLabel, clientNameLabel, "Invention", "Patent", userWidgetId))</span>
            </li>
            @foreach (ClientListViewModel client in clients)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="attorneyPositionFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@SharedLocalizer["Attorney Position"]</span>
                <span>
                    @(Html.Kendo().DropDownList()
                        .Name("AttorneyPosition_" + @userWidgetId)
                        .DataTextField("AttorneyName")
                        .DataValueField("AttorneyID")
                        .HtmlAttributes(new { style = "width: 100px" })
                        .BindTo(fixedAttyPositions)
                        .Events(events => events.Open("function() {this.element.getKendoDropDownList().list.find('li.k-item').first().hide();}"))
                        )
                </span>
            </li>
            @foreach (AttorneyListViewModel atty in attorneyPositions)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="atty-code">@atty.AttorneyCode</span>
                    </div>
                    <div class="delete-filter delete-attyPos" data-id="@atty.AttorneyID" title="Remove @atty.AttorneyCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="attorneyFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@SharedLocalizer["Attorney"]</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyID("AttorneyCode", SharedLocalizer["Attorney"], SharedLocalizer["Attorney Name"], "Invention", "Patent", userWidgetId))</span>
            </li>
            @foreach (AttorneyListViewModel atty in attorneys)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="atty-code">@atty.AttorneyCode</span>
                        <span class="atty-name">@atty.AttorneyName</span>
                    </div>
                    <div class="delete-filter delete-atty" data-id="@atty.AttorneyID" title="Remove @atty.AttorneyCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

@(Html.Kendo().Grid(Model)
    .Name(userWidgetId)
    .HtmlAttributes(new { @class = "widget-grid" })
    .Columns(columns =>
    {
        columns
            .Bound(u => u.CaseNumber)
            .ClientTemplate(template)
                .Title("")
                .HeaderHtmlAttributes(new { @class = "d-none" });
    })
    .Pageable(pageable => pageable
        .ButtonCount(4)
        .Enabled(pageSize > 0).Responsive(false))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(pageSize)
        .ServerOperation(false)
        )
)

@if (Model?.Count() <= pageSize)
{
    <style>
    #@userWidgetId .k-pager-info {
        float: left;
        padding: 0;
    }
    #@userWidgetId .k-pager-nav {
        display: none;
    }
    #@userWidgetId .k-pager-numbers {
        display: none;
    }
    </style>
}

<script>
    $("#@widget.Id.ToString()").addClass("fixed-width");
</script>
