@model IEnumerable<ChartDTO>
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IStringLocalizer<PatentResource> Localizer
@inject IClientService ClientService
@inject ISystemSettings<PatSetting> Settings

@{
    var patSettings = await Settings.GetSetting();
    var clientLabel = Localizer[patSettings.LabelClient];
    var clientNameLabel = Localizer[patSettings.LabelClientName];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var viewNameSplit = widget.ViewName.ToString().Split("/");
    var viewName = viewNameSplit[viewNameSplit.Length - 1];
    var userWidgetId = widget.Id.ToString() + viewName;

    var widgetSettings = widget.WidgetSettings;
    var settings = widget.UserSettings;    

    List<ClientListViewModel> clients = new List<ClientListViewModel>();
    if (settings.Property("Clients") != null)
    {
        try
        {
            int[] clientFilter = ((JArray)settings.Property("Clients").Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                        {
                                            ClientID = c.ClientID,
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }
}

<style>
 #clientFilter_@userWidgetId .client-code {
        font-weight: 600;
        margin-right: 10px;
    }
</style>
<script>
    $(document).ready(function () {
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];
        var refresh = false;

        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });
        
        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        });
    });
</script>

<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">        
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", clientLabel, clientNameLabel, "Invention", "Patent", userWidgetId))</span>
            </li>
            @foreach (ClientListViewModel client in clients)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>        
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>


@(Html.Kendo().Chart(Model)
    .Name(userWidgetId)
    .Title("")
    .Legend(legend => legend
        .Visible(false)
    //.Position(ChartLegendPosition.Top)
    )
    .ChartArea(chartArea => chartArea
        .Background("transparent")
    )
    .Series(series => series
        .Bar(model => model.Value, model => model.Category)
        //.ColorField("Color")
        .Overlay(o => o.Gradient(ChartSeriesGradient.None))
        .Labels(labels => labels
            .Visible(true)
            .Template("#= value == null ? '' : value #")
            .Background("transparent")
            .Position(ChartBarLabelsPosition.OutsideEnd)
        )
        .Name("#: group.items[0].Group #")
    )
    .DataSource(dataSource => dataSource
        .Group(group => group.Add(model => model.Group))
    )
    .SeriesColors((string[])widget.SeriesColors)
    .Tooltip(tooltip => tooltip
        .Visible(true)
        .Template("#= category #: #= value == null ? 0 : value #")
    )
    //Settings for PDF export using kendo built-in function
    .Pdf(pdf => pdf
        .FileName(@widget.Title.ToString())
        //.PaperSize("A4")
        .Landscape(false)
        .Margin(m => m
            .Left(10)
            .Right(10)
            .Top(10)
            .Bottom(10))
    )
)
