@model IEnumerable<CaseListViewModel>
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@using System.Globalization; 
@inject IStringLocalizer<PatentResource> Localizer
@inject IClientService ClientService
@inject IAttorneyService _attyService
@inject ISystemSettings<PatSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var clientLabel = Localizer[settings.LabelClient ?? ""];
    var clientNameLabel = Localizer[settings.LabelClientName ?? ""];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var userWidgetId = widget.Id.ToString() + "-auto-docketed-actions";
    var userSettings = widget.UserSettings;
    var widgetSettings = widget.WidgetSettings;

     var template = string.IsNullOrEmpty(widget.Template) ? "<div class='name d-flex  justify-content-between'><span><a target='_blank' href='./#=System#/#=IdType#/detail/#=Id#'>#=kendo.htmlEncode(Action)#</a></span></div><div class='title small ellipsis'>#=kendo.htmlEncode(CaseNumber)# #=kendo.htmlEncode(Country)# #=kendo.htmlEncode(SubCase)#</div><div class='title small ellipsis'>#=kendo.htmlEncode(Title)#</div>" : widget.Template;
    template = template.Replace("./#=System#/", $"{Url.ApplicationBaseUrl(Context.Request.Scheme)}/#=System#/");

    List<string> actionTypes = new List<string>();
    if (userSettings.Property("ActionTypes") != null)
    {
        try
        {
            string[] actionTypeFilter = ((JArray)userSettings.Property("ActionTypes").Value).Select(a => (string)a).Where(a => !string.IsNullOrEmpty(a)).ToArray();

            if (actionTypeFilter.Count() > 0)
            {
                actionTypes = new List<string>(actionTypeFilter);
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }

    List<ClientListViewModel> clients = new List<ClientListViewModel>();
    if (userSettings.Property("Clients") != null)
    {
        try
        {
            int[] clientFilter = ((JArray)userSettings.Property("Clients").Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                        {
                                            ClientID = c.ClientID,
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }

    List<AttorneyListViewModel> attorneys = new List<AttorneyListViewModel>();
    if (userSettings.Property("Attorneys") != null)
    {
        try
        {
            int[] attyFilter = ((JArray)userSettings.Property("Attorneys").Value).Select(a => (int)a).ToArray();

            if (attyFilter.Count() > 0)
            {
                attorneys = await _attyService.QueryableList
                                        .Where(a => attyFilter.Contains(a.AttorneyID))
                                        .Select(a => new AttorneyListViewModel
                                        {
                                            AttorneyID = a.AttorneyID,
                                            AttorneyCode = a.AttorneyCode,
                                            AttorneyName = a.AttorneyName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<AttorneyListViewModel> attorneyPositions = new List<AttorneyListViewModel>();
    List<AttorneyListViewModel> fixedAttyPositions = new List<AttorneyListViewModel>()
{
        new AttorneyListViewModel {AttorneyID = 0, AttorneyCode = "", AttorneyName = ""},
        new AttorneyListViewModel {AttorneyID = 1, AttorneyCode = "Attorney1", AttorneyName = "Attorney1"},
        new AttorneyListViewModel {AttorneyID = 2, AttorneyCode = "Attorney2", AttorneyName = "Attorney2"},
        new AttorneyListViewModel {AttorneyID = 3, AttorneyCode = "Attorney3", AttorneyName = "Attorney3"},
        new AttorneyListViewModel {AttorneyID = 4, AttorneyCode = "Attorney4", AttorneyName = "Attorney4"},
        new AttorneyListViewModel {AttorneyID = 5, AttorneyCode = "Attorney5", AttorneyName = "Attorney5"},
        //new AttorneyListViewModel {AttorneyID = 6, AttorneyCode = "Responsible", AttorneyName = "Responsible"}
    };
    if (userSettings.Property("AttorneyPositions") != null)
    {
        try
        {
            int[] attyFilter = ((JArray)userSettings.Property("AttorneyPositions").Value).Select(a => (int)a).ToArray();

            if (attyFilter.Count() > 0)
            {
                attorneyPositions = fixedAttyPositions.Where(a => attyFilter.Contains(a.AttorneyID))
                                .Select(a => new AttorneyListViewModel
                                {
                                    AttorneyID = a.AttorneyID,
                                    AttorneyCode = a.AttorneyCode,
                                    AttorneyName = a.AttorneyName
                                })
                                .ToList();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }
    
    string createdDateRange = userSettings.Property("CreatedDateRange") != null ? userSettings["CreatedDateRange"].Value<string>() : "Today";

    string createdDateFromStr = userSettings.Property("CreatedDateFrom") != null ? userSettings["CreatedDateFrom"].Value<string>() : "";
    DateTime? createdDateFrom = !string.IsNullOrEmpty(createdDateFromStr) ? DateTime.ParseExact(createdDateFromStr, "MM/dd/yyyy", CultureInfo.InvariantCulture) : null;
    string createdDateToStr = userSettings.Property("CreatedDateTo") != null ? userSettings["CreatedDateTo"].Value<string>() : "";
    DateTime? createdDateTo = !string.IsNullOrEmpty(createdDateToStr) ? DateTime.ParseExact(createdDateToStr, "MM/dd/yyyy", CultureInfo.InvariantCulture) : null;

    string mailDateFromStr = userSettings.Property("MailDateFrom") != null ? userSettings["MailDateFrom"].Value<string>() : "";
    DateTime? mailDateFrom = !string.IsNullOrEmpty(mailDateFromStr) ? DateTime.ParseExact(mailDateFromStr, "MM/dd/yyyy", CultureInfo.InvariantCulture) : null;
    string mailDateToStr = userSettings.Property("MailDateTo") != null ? userSettings["MailDateTo"].Value<string>() : "";
    DateTime? mailDateTo = !string.IsNullOrEmpty(mailDateToStr) ? DateTime.ParseExact(mailDateToStr, "MM/dd/yyyy", CultureInfo.InvariantCulture) : null;

}
<style>  
    #attorneyFilter_@userWidgetId .atty-code {
        font-weight: 600;
        margin-right: 10px;
    }
    .clearCreatedDateRangePicker_@userWidgetId, .clearMailDateRangePicker_@userWidgetId {      
        color: dimgray;
        padding: 8px 10px;
    }

    .clearCreatedDateRangePicker_@userWidgetId:hover, .clearMailDateRangePicker_@userWidgetId:hover {
        cursor: pointer;
        color: black;
        background-color: #e7e7e7;
    }    

    
</style>
<script>
    var refresh = false;

    function saveDateRange(e) {
        var widgetId = parseInt(this.element.attr("widgetId"));
        saveSetting(widgetId, `{ CreatedDateRange: "${this.dataItem(this.selectedIndex).Text}" }`, function () { refresh = true; });
    }

    function saveCreatedDateRange(e) {       
        var widgetId = parseInt('@widget.Id');
        var dateRange = this.range();
        var selectedStartDate = "";
        var selectedEndDate = "";
        if (dateRange) {
            if (dateRange.start) {
                selectedStartDate = kendo.toString(dateRange.start, 'MM/dd/yyyy');
            }
            if (dateRange.end) {
                selectedEndDate = kendo.toString(dateRange.end, 'MM/dd/yyyy');
            }
        } 
        saveSetting(widgetId, `{ CreatedDateFrom: "${selectedStartDate}", CreatedDateTo: "${selectedEndDate}" }`, function () { refresh = true;});
    }

    function createdDateRangeOnClose(e) {        
        $("#CreatedDateRangePicker_@userWidgetId input").blur();  
    }

    function saveMailDateRange(e) {       
        var widgetId = parseInt('@widget.Id');
        var dateRange = this.range();
        var selectedStartDate = "";
        var selectedEndDate = "";
        if (dateRange) {
            if (dateRange.start) {
                selectedStartDate = kendo.toString(dateRange.start, 'MM/dd/yyyy');
            }
            if (dateRange.end) {
                selectedEndDate = kendo.toString(dateRange.end, 'MM/dd/yyyy');
            }
        } 
        saveSetting(widgetId, `{ MailDateFrom: "${selectedStartDate}", MailDateTo: "${selectedEndDate}" }`, function () { refresh = true;});
    }

    function mailDateRangeOnClose(e) {        
        $("#MailDateRangePicker_@userWidgetId input").blur();  
    }

    $(document).ready(function () {    
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];      
        var attyList = [@String.Join(",", attorneys.Select(a => a.AttorneyID).ToList())];
        var attyPositionsList = [@String.Join(",", attorneyPositions.Select(a => a.AttorneyID).ToList())];
        var actionTypeList = "@String.Join(",", actionTypes.Select(a => (string)a).ToList())".split(",").filter(item => item);

        $(document).on("click", ".clearCreatedDateRangePicker_@userWidgetId", function (e) {            
            var daterangepicker = $("#CreatedDateRangePicker_" + '@userWidgetId').data("kendoDateRangePicker");
            daterangepicker.range({
                start: null,
                end: null
            });
            daterangepicker.trigger('change');
        }); 
        $("#CreatedDateRangePicker_@userWidgetId input").addClass("non-sortable");
        var createdDateRange = { start: null, end: null };        
        if ('@createdDateFrom') {            
            createdDateRange.start = new Date('@createdDateFrom');
        }  
        if ('@createdDateTo') {            
            createdDateRange.end = new Date('@createdDateTo');
        }   
        var createdDRPicker = $("#CreatedDateRangePicker_@userWidgetId").data("kendoDateRangePicker");
        createdDRPicker.range(createdDateRange);


        $(document).on("click", ".clearMailDateRangePicker_@userWidgetId", function (e) {            
            var daterangepicker = $("#MailDateRangePicker_" + '@userWidgetId').data("kendoDateRangePicker");
            daterangepicker.range({
                start: null,
                end: null
            });
            daterangepicker.trigger('change');
        }); 
        $("#MailDateRangePicker_@userWidgetId input").addClass("non-sortable");
        var mailDateRange = { start: null, end: null };        
        if ('@mailDateFrom') {            
            mailDateRange.start = new Date('@mailDateFrom');
        }  
        if ('@mailDateTo') {            
            mailDateRange.end = new Date('@mailDateTo');
        }   
        var mailDRPicker = $("#MailDateRangePicker_@userWidgetId").data("kendoDateRangePicker");
        mailDRPicker.range(mailDateRange);


        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {            
            if (refresh) { 
                $("#@widget.Id .refresh").click();
            }
        });        

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        }); 

        $(document).off("click", "#attorneyFilter_@userWidgetId .delete-atty");
        $(document).off("change", "#AttorneyCode_@userWidgetId");
        $(document).on("click", "#attorneyFilter_@userWidgetId .delete-atty", function (e) {
            var item = $.inArray($(this).data("id"), attyList);

            if (item !== -1) {
                attyList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Attorneys: [${attyList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#AttorneyCode_@userWidgetId", function (e) {
            var atty = $(this).data("kendoMultiColumnComboBox");

            if (atty.selectedIndex >= 0) {
                var dataItem = atty.dataItem(atty.selectedIndex);

                var attyId = dataItem.AttorneyID;
                var attyCode = dataItem.AttorneyCode;
                var attyName = dataItem.AttorneyName;

                if ($.inArray(attyId, attyList) == -1) {
                    attyList.push(attyId);
                    $("#attorneyFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="atty-code">${attyCode}</span><span class="atty-name">${attyName}</span></div><div class="delete-filter delete-atty" data-id="${attyId}" title="Remove ${attyCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Attorneys: [${attyList.toString()}] }`, function () { refresh = true; });
                }
            }

            atty.value("");
        });

        $(document).off("click", "#attorneyPositionFilter_@userWidgetId .delete-attyPos");
        $(document).off("change", "#AttorneyPosition_@userWidgetId");
        $(document).on("change", "#AttorneyPosition_@userWidgetId", function (e) {
            var attyPositions = $(this).data("kendoDropDownList");

            if (attyPositions.selectedIndex >= 0) {
                var dataItem = attyPositions.dataItem(attyPositions.selectedIndex);

                var attyId = dataItem.AttorneyID;
                var attyCode = dataItem.AttorneyCode;
                var attyName = dataItem.AttorneyName;

                if ($.inArray(attyId, attyPositionsList) == -1) {
                    attyPositionsList.push(attyId);
                    $("#attorneyPositionFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="atty-code">${attyCode}</span></div><div class="delete-filter delete-attyPos" data-id="${attyId}" title="Remove ${attyCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ AttorneyPositions: [${attyPositionsList.toString()}] }`, function () { refresh = true; });
                }
            }

            attyPositions.value("");
        });
        $(document).on("click", "#attorneyPositionFilter_@userWidgetId .delete-attyPos", function (e) {
            var item = $.inArray($(this).data("id"), attyPositionsList);

            if (item !== -1) {
                attyPositionsList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ AttorneyPositions: [${attyPositionsList.toString()}] }`, function () { refresh = true; });
            }
        });

        $(document).off("click", "#acionTypeFilter_@userWidgetId .delete-actiontype");
        $(document).off("change", "#ActionType_@userWidgetId");
        $(document).on("click", "#acionTypeFilter_@userWidgetId .delete-actiontype", function (e) {
            var item = $.inArray($(this).data("id"), actionTypeList);
                if (item !== -1) {
                    actionTypeList.splice(item, 1);
                    $(this).closest("li").remove();
                    saveSetting(@widget.Id, `{ ActionTypes: ['${actionTypeList.join("','")}'] }`, function () { refresh = true; });
                }
            });
        $(document).on("change", "#ActionType_@userWidgetId", function (e) {
            var actionType = $(this).data("kendoComboBox");

            if (actionType.selectedIndex >= 0) {
                var dataItem = actionType.dataItem(actionType.selectedIndex);

                var actionTypeName = dataItem.ActionType;

                if ($.inArray(actionTypeName, actionTypeList) == -1) {
                    actionTypeList.push(actionTypeName);
                    $("#acionTypeFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="action-type">${actionTypeName}</span></div><div class="delete-filter delete-actiontype" data-id="${actionTypeName}" title="Remove ${actionTypeName}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ ActionTypes: ['${actionTypeList.join("','")}'] }`, function () { refresh = true; });
                    }
                }

            actionType.value("");
        });
    });
</script>

<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">
        <ul class="list-group">   
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Created Date Selection"]</span>
                <span>
                    @(Html.Kendo().DropDownList()
                        .Name(userWidgetId + "-period")
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .Events(e => e.Change("saveDateRange"))
                        .BindTo(new List<SelectListItem>() {
                                new SelectListItem() {
                                    Text = "Today",
                                    Value = "Today"
                                },
                                new SelectListItem() {
                                    Text = "This week",
                                    Value = "This week"
                                },
                                new SelectListItem() {
                                    Text = "This month",
                                    Value = "This month"
                                }
                        })
                        .Value(createdDateRange)
                        .HtmlAttributes(new { style = "width: 150px;", widgetId = $"{widget.Id}", data_widgetId = $"{widget.Id}", @class = "date-range-option" })
                    )
                </span>
            </li>            
        </ul>        
        <ul class="list-group">             
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Created Date Range"]</span>
                <span style="display:flex;">  
                    @(Html.Kendo().DateRangePicker()
                      .Name("CreatedDateRangePicker_" + userWidgetId)                      
                      .Format("dd-MMM-yyyy")    
                      .Range(r => r.Start(createdDateFrom).End(createdDateTo))
                      .Labels(false)
                      .Events(e => e.Change("saveCreatedDateRange").Close("createdDateRangeOnClose"))                        
                      .HtmlAttributes(new { style = "width: 100%" })
                    )
                    <i class="fal fa-times clearCreatedDateRangePicker_@userWidgetId" title=@Localizer["Remove"]></i>
                </span>
            </li>            
        </ul>
        <ul class="list-group">             
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Mail Date Range"]</span>
                <span style="display:flex;">  
                    @(Html.Kendo().DateRangePicker()
                      .Name("MailDateRangePicker_" + userWidgetId)                      
                      .Format("dd-MMM-yyyy")    
                      .Range(r => r.Start(mailDateFrom).End(mailDateTo))
                      .Labels(false)
                      .Events(e => e.Change("saveMailDateRange").Close("mailDateRangeOnClose"))                        
                      .HtmlAttributes(new { style = "width: 100%" })
                    )
                    <i class="fal fa-times clearMailDateRangePicker_@userWidgetId" title=@Localizer["Remove"]></i>
                </span>
            </li>            
        </ul>
        <ul id="acionTypeFilter_@userWidgetId" class="list-group">            
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Action Type"]</span>
                <span>@await Component.InvokeAsync("ComboBox", new { name = "ActionType", textProperty = "ActionType", valueProperty = "ActionType", controller = "ActionDue", action = "GetActionTypeList", area = "Patent", screen = userWidgetId, listWidth = 500 })</span>
            </li>
            @foreach (string act in actionTypes)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="action-type">@act</span>
                    </div>
                    <div class="delete-filter delete-actiontype" data-id="@act" title="Remove @act"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="attorneyPositionFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Attorney Position"]</span>
                <span>
                    @(Html.Kendo().DropDownList()
                      .Name("AttorneyPosition_"+@userWidgetId)
                      .DataTextField("AttorneyName")
                      .DataValueField("AttorneyID")
                      .HtmlAttributes(new { style = "width: 100px" })
                      .BindTo(fixedAttyPositions)
                      .Events(events => events.Open("function() {this.element.getKendoDropDownList().list.find('li.k-item').first().hide();}"))
                      )
                </span>
            </li>
            @foreach (AttorneyListViewModel atty in attorneyPositions)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="atty-code">@atty.AttorneyCode</span>
                    </div>
                    <div class="delete-filter delete-attyPos" data-id="@atty.AttorneyID" title="Remove @atty.AttorneyCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="attorneyFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Attorney"]</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyID("AttorneyCode", Localizer["Attorney"], Localizer["Attorney Name"], "CountryApplicationLookup", "Patent", userWidgetId))</span>
            </li>
            @foreach (AttorneyListViewModel atty in attorneys)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="atty-code">@atty.AttorneyCode</span>
                        <span class="atty-name">@atty.AttorneyName</span>
                    </div>
                    <div class="delete-filter delete-atty" data-id="@atty.AttorneyID" title="Remove @atty.AttorneyCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", @clientLabel, @clientNameLabel, "Invention", "Patent", userWidgetId))</span>
            </li>
            @foreach (ClientListViewModel client in clients)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>        
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

@(Html.Kendo().Grid(Model)
    .Name(userWidgetId)
    .HtmlAttributes(new { @class = "widget-grid" })
    .Columns(columns =>
    {
        columns
            .Bound(u => u.CaseNumber)
            .ClientTemplate(template)
                .Title("")
                .HeaderHtmlAttributes(new { @class = "d-none" });
    })
    .Pageable(pageable => pageable
        .ButtonCount(4)
        .Enabled(true).Responsive(false))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(6)
        .ServerOperation(false)
        )
)

<style>
    #@userWidgetId .k-pager-info {
        float: left;
        padding: 0;
    }
    #@userWidgetId .k-pager-nav {
        display: none;
    }
    #@userWidgetId .k-pager-numbers {
        display: none;
    }    
</style>

<script>
    $("#@widget.Id.ToString()").addClass("fixed-width");
</script>
