@model IEnumerable<StackedChartViewModel>
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IClientService _clientService
@inject IAttorneyService _attyService
@inject IAuthorizationService _authService
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> defaultSettings

@{
    var settings = await defaultSettings.GetSetting();

    var clientLabel = Localizer[settings.LabelClient ?? "Client"];
    var clientNameLabel = Localizer[settings.LabelClientName ?? "Client Name"];
    var caseNumberLabel = Localizer[settings.LabelCaseNumber ?? "Case Number"];
    var gridDetailTitle = Localizer["Roster Report Detail - {0}"];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var viewNameSplit = widget.ViewName.ToString().Split("/");
    var viewName = viewNameSplit[viewNameSplit.Length - 1];
    var userWidgetId = widget.Id.ToString() + viewName;

    var userSettings = widget.UserSettings;
    var widgetSettings = widget.WidgetSettings;

    var systems = new string[] { SystemType.Patent, SystemType.Trademark };
    var policies = widget.Policy.Split(',').ToList().Select(p => p.Trim());
    var authorizedSystems = new List<string>();

    foreach (var system in systems)
    {
        var authorized = true;

        if (policies.Any())
        {
            authorized = false;
            var tempPolicies = policies.Where(p => p == "*" || p.ToUpper().Contains(system.ToUpper())).ToList();

            if (tempPolicies == null || tempPolicies.Count == 0)
            {
                authorized = true;
            }
            else
            {
                foreach (var pol in tempPolicies)
                {
                    if (string.IsNullOrEmpty(pol) || pol == "*" ||
                        (await _authService.AuthorizeAsync(User, pol)).Succeeded)
                    {
                        authorized = true;
                        break;
                    }
                }
            }
        }

        if (User.IsInSystem(system) && authorized)
        {
            authorizedSystems.Add(system);
        }
    }
    bool showPatent = userSettings.Property("ShowPatent") != null ? (userSettings["ShowPatent"] ?? true).Value<bool>() : true;
    bool showTrademark = userSettings.Property("ShowTrademark") != null ? (userSettings["ShowTrademark"] ?? true).Value<bool>() : true;

    List<ClientListViewModel> clients = new List<ClientListViewModel>();
    var clientSetting = userSettings.Property("Clients");
    if (clientSetting != null)
    {
        try
        {
            int[] clientFilter = ((JArray)clientSetting.Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await _clientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                        {
                                            ClientID = c.ClientID,
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<AttorneyListViewModel> attorneys = new List<AttorneyListViewModel>();
    var attorneySetting = userSettings.Property("Attorneys");
    if (attorneySetting != null)
    {
        try
        {
            int[] attyFilter = ((JArray)attorneySetting.Value).Select(a => (int)a).ToArray();

            if (attyFilter.Count() > 0)
            {
                attorneys = await _attyService.QueryableList
                                        .Where(a => attyFilter.Contains(a.AttorneyID))
                                        .Select(a => new AttorneyListViewModel
                                        {
                                            AttorneyID = a.AttorneyID,
                                            AttorneyCode = a.AttorneyCode,
                                            AttorneyName = a.AttorneyName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<AttorneyListViewModel> attorneyPositions = new List<AttorneyListViewModel>();

    List<AttorneyListViewModel> fixedAttyPositions = new List<AttorneyListViewModel>()
    {
        new AttorneyListViewModel {AttorneyID = 0, AttorneyCode = "", AttorneyName = ""},
        new AttorneyListViewModel {AttorneyID = 1, AttorneyCode = "Attorney1", AttorneyName = "Attorney1"},
        new AttorneyListViewModel {AttorneyID = 2, AttorneyCode = "Attorney2", AttorneyName = "Attorney2"},
        new AttorneyListViewModel {AttorneyID = 3, AttorneyCode = "Attorney3", AttorneyName = "Attorney3"},
        new AttorneyListViewModel {AttorneyID = 4, AttorneyCode = "Attorney4", AttorneyName = "Attorney4"},
        new AttorneyListViewModel {AttorneyID = 5, AttorneyCode = "Attorney5", AttorneyName = "Attorney5"}
    };

    var attorneyPositionSetting = userSettings.Property("AttorneyPositions");
    if (attorneyPositionSetting != null)
    {
        try
        {
            int[] attyFilter = ((JArray)attorneyPositionSetting.Value).Select(a => (int)a).ToArray();

            if (attyFilter.Count() > 0)
            {
                attorneyPositions = fixedAttyPositions.Where(a => attyFilter.Contains(a.AttorneyID))
                                .Select(a => new AttorneyListViewModel
                                {
                                    AttorneyID = a.AttorneyID,
                                    AttorneyCode = a.AttorneyCode,
                                    AttorneyName = a.AttorneyName
                                })
                                .ToList();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    var statusList = new List<SelectListItem>()
    {
        new SelectListItem() { Text = Localizer["Active"], Value = "Active" },
        new SelectListItem() { Text = Localizer["Inactive"], Value = "Inactive" },
        new SelectListItem() { Text = Localizer["All"], Value = "All" },
    };
    string recordStatus = userSettings.Property("RecordStatus") != null ? (userSettings["RecordStatus"] ?? "All").Value<string>() ?? "All" : "All";
    string attorneyStatus = userSettings.Property("AttorneyStatus") != null ? (userSettings["AttorneyStatus"] ?? "All").Value<string>() ?? "All" : "All";
}
<style>
    #attorneyFilter_@userWidgetId .atty-code {
        font-weight: 600;
        margin-right: 10px;
    }
    #clientFilter_@userWidgetId .client-code {
        font-weight: 600;
        margin-right: 10px;
    }    
    .red-text {
      color: red;
    }
</style>
<script>
    var refresh = false;
    var selectedClient = "";
    var selectedAttorney = "";
    var selectedAttorneyPosition = 0;

    var templateChartLegendToggles = {
        "#745888": true,
        "#8383BF": true,
        "#71937B": true,
        "#5F5F91": true,
        "#C0E8DF": true
    };
    var chartLegendToggles = {};
    var chartLegendItems = [];

    var disabledToggleColor = "#919191";
    var processMoreLegend = true;
    var tooltipManager = new ChartTooltipManager('@userWidgetId');

    function onChartDataBound(e) {
        // Apply stacking
        var series = e.sender.options.series;
        for (var i = 0; i < series.length; i++) {
            if (series[i] && series[i].data && series[i].data[0]) {
                series[i].stack = series[i].data[0].Group + "-" + series[i].data[0].Id;
            }            
        }

        // Apply sorting
        var axis = e.sender.options.categoryAxis;
        axis.categories = axis.categories.sort(function (a, b) {
            return a.toLowerCase().localeCompare(b.toLowerCase());
        });   
    }
    
    function onChartRender(e) {
        // Apply custom tooltip
        tooltipManager.attachHandlers(e.sender.surface);
    }

    function chartLegendItemVisual(e) {
        var series = e.series;
        var markerColor = e.options.markers.background;
        var desiredTextColor = e.options.labels.color;
        var desiredText = series.name;
        var attorneyPosition = desiredText != null && desiredText.length > 0 ? desiredText[0] : "";
        var seriesColor = e.series.data[0].Color;

        // stop adding more legend items conditions
        if (processMoreLegend === false || attorneyPosition === "" || chartLegendItems.includes(seriesColor)) return;
        
        chartLegendItems.push(seriesColor);            

        if (!chartLegendToggles.hasOwnProperty(seriesColor)) {
            chartLegendToggles[seriesColor] = true;
        }

        var attorneyColorKeys = Object.keys(templateChartLegendToggles);
        if (seriesColor === attorneyColorKeys[0]) {
            desiredText = "@Localizer["Attorney Position 1"]";            
        } 
        else if (seriesColor === attorneyColorKeys[1]) {
            desiredText = "@Localizer["Attorney Position 2"]";
        } 
        else if (seriesColor === attorneyColorKeys[2]) {
            desiredText = "@Localizer["Attorney Position 3"]";
        }
        else if (seriesColor === attorneyColorKeys[3]) {
            desiredText = "@Localizer["Attorney Position 4"]";
        }
        else if (seriesColor === attorneyColorKeys[4]) {
            desiredText = "@Localizer["Attorney Position 5"]";
            processMoreLegend = false;
        }       
        else {
            return;
        }        

        markerColor = chartLegendToggles[seriesColor] === true ? seriesColor : disabledToggleColor;

        var marker = new kendo.drawing.Rect(
            new kendo.geometry.Rect([0, 0], [e.options.markers.width, e.options.markers.height]),
            {
                fill: {
                    color: markerColor 
                },
                stroke: {
                    width: 0
                }
            }
        );
        
        var label = new kendo.drawing.Text(desiredText, [0, 0], {
            fill: {
                color: desiredTextColor 
            }
        });

       var layoutRect = new kendo.geometry.Rect([0, 0], [150, 20]);

        var layout = new kendo.drawing.Layout(layoutRect, {
            spacing: 5, // Spacing between marker and label
            alignItems: "center", // Vertically center the items
            justifyContent: "start", // Start items from the left
            orientation: "horizontal" // Arrange horizontally
        });

        layout.append(marker, label);        
        layout.reflow();

        layout.options.set("cursor", "pointer");

        return layout;
    }
    
    function onChartLegendItemClick(e) {
        e.preventDefault();
        var clickedSeriesColor = e.series.data[0].Color;
        var clickedSeriesVisible = chartLegendToggles[clickedSeriesColor];

        if (!chartLegendToggles.hasOwnProperty(clickedSeriesColor)) return;
        
        const chart = this;
        let currentSeries = chart.options.series;
        
        // Check and toggle visible for all series with same setting (color)
        currentSeries.forEach(series => {
            let shouldPerformCustomJob = false;
            
            if (Array.isArray(series.data) && series.data.length > 0) {                
                shouldPerformCustomJob = series.data.every(child => {
                    return typeof child === 'object' && child !== null && child.Color === clickedSeriesColor;
                });
            }
            
            if (shouldPerformCustomJob) { 
                series.visible = !clickedSeriesVisible;
                chartLegendToggles[clickedSeriesColor] = !clickedSeriesVisible;
            } 
        });

        processMoreLegend = true;  
        chartLegendItems = [];
        chart.redraw(); 
    }

    function onChartLegendItemHover(e) {
        e.preventDefault();        
        var hoveredSeriesColor = e.series.data[0].Color;        
        
        if (!chartLegendToggles.hasOwnProperty(hoveredSeriesColor)) return;     
        
        const chart = this;
        let currentSeries = chart.options.series;

        // Check and toggle visible for all series with same setting (color)
        currentSeries.forEach(series => {
            let shouldPerformCustomJob = false;
            
            if (Array.isArray(series.data) && series.data.length > 0) {                
                shouldPerformCustomJob = series.data.every(child => {
                    return typeof child === 'object' && child !== null && child.Color === hoveredSeriesColor;
                });
            }
            
            if (shouldPerformCustomJob) { 
                e.sender.toggleHighlight(true, series.name);
            } 
        });
    }

    function onChartLegendItemLeave(e) {
        e.preventDefault();
        var leaveSeriesColor = e.series.data[0].Color;        

        if (!chartLegendToggles.hasOwnProperty(leaveSeriesColor)) return;               

        const chart = this;
        let currentSeries = chart.options.series;
        
        // Check and toggle visible for all series with same setting (color)
        currentSeries.forEach(series => {
            let shouldPerformCustomJob = false;
            
            if (Array.isArray(series.data) && series.data.length > 0) {                
                shouldPerformCustomJob = series.data.every(child => {
                    return typeof child === 'object' && child !== null && child.Color === leaveSeriesColor;
                });
            }
            
            if (shouldPerformCustomJob) { 
                e.sender.toggleHighlight(false, series.name);
            } 
        });
    }

    function chartCategoryAxisItemVisual(e) {
        var visual = e.createVisual();
        // Set content for custom tooltip
        visual.tooltipContent = e.dataItem.GroupName;
        return visual;
    }    

    function onChartSeriesLeave(e) {
        e.sender.hideTooltip();
    }

    function saveRecordStatus(e) {
        saveSetting(@widget.Id, `{ RecordStatus: "${this.selectedIndex >= 0 ? this.dataItem(this.selectedIndex).Value : ""}" }`, function () { refresh = true; });
    }

    function saveAttorneyStatus(e) {
        saveSetting(@widget.Id, `{ AttorneyStatus: "${this.selectedIndex >= 0 ? this.dataItem(this.selectedIndex).Value : ""}" }`, function () { refresh = true; });
    }

    $(document).ready(function () {    
        var attyList = [@String.Join(",", attorneys.Select(a => a.AttorneyID).ToList())];
        var attyPositionsList = [@String.Join(",", attorneyPositions.Select(a => a.AttorneyID).ToList())];
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];        

        $(document).off("click", "#@widget.Id .widget-settings .toggle-option");
        $(document).on("click", "#@widget.Id .widget-settings .toggle-option", function (e) {
            saveSetting(@widget.Id, `{ ${$(this).data("setting")}: ${$(this).is(':checked')} }`, function () { refresh = true; });
        });

        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        });

        $(document).off("click", "#attorneyFilter_@userWidgetId .delete-atty");
        $(document).off("change", "#AttorneyCode_@userWidgetId");
        $(document).on("click", "#attorneyFilter_@userWidgetId .delete-atty", function (e) {
            var item = $.inArray($(this).data("id"), attyList);

            if (item !== -1) {
                attyList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Attorneys: [${attyList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#AttorneyCode_@userWidgetId", function (e) {
            var atty = $(this).data("kendoMultiColumnComboBox");

            if (atty.selectedIndex >= 0) {
                var dataItem = atty.dataItem(atty.selectedIndex);

                var attyId = dataItem.AttorneyID;
                var attyCode = dataItem.AttorneyCode;
                var attyName = dataItem.AttorneyName;

                if ($.inArray(attyId, attyList) == -1) {
                    attyList.push(attyId);
                    $("#attorneyFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="atty-code">${attyCode}</span><span class="atty-name">${attyName}</span></div><div class="delete-filter delete-atty" data-id="${attyId}" title="Remove ${attyCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Attorneys: [${attyList.toString()}] }`, function () { refresh = true; });
                }
            }

            atty.value("");
        });

        $(document).off("click", "#attorneyPositionFilter_@userWidgetId .delete-attyPos");
        $(document).off("change", "#AttorneyPosition_@userWidgetId");
        $(document).on("change", "#AttorneyPosition_@userWidgetId", function (e) {
            var attyPositions = $(this).data("kendoDropDownList");

            if (attyPositions.selectedIndex >= 0) {
                var dataItem = attyPositions.dataItem(attyPositions.selectedIndex);

                var attyId = dataItem.AttorneyID;
                var attyCode = dataItem.AttorneyCode;
                var attyName = dataItem.AttorneyName;

                if ($.inArray(attyId, attyPositionsList) == -1) {
                    attyPositionsList.push(attyId);
                    $("#attorneyPositionFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="atty-code">${attyCode}</span></div><div class="delete-filter delete-attyPos" data-id="${attyId}" title="Remove ${attyCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ AttorneyPositions: [${attyPositionsList.toString()}] }`, function () { refresh = true; });
                }
            }

            attyPositions.value("");
        });
        $(document).on("click", "#attorneyPositionFilter_@userWidgetId .delete-attyPos", function (e) {
            var item = $.inArray($(this).data("id"), attyPositionsList);

            if (item !== -1) {
                attyPositionsList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ AttorneyPositions: [${attyPositionsList.toString()}] }`, function () { refresh = true; });
            }
        });

        if ('@(widget.IsDetail)' === '@true') {
            var chart = $("#@userWidgetId").data("kendoChart");

            chart.unbind("seriesClick", onSeriesClick);
            chart.unbind("axisLabelClick", onAxisLabelClick);

            chart.bind("seriesClick", onSeriesClick);
            chart.bind("axisLabelClick", onAxisLabelClick);
            
            $("#@userWidgetId").attr("style", "position: static !important;");
            //$("#@userWidgetId-grid-header").hide();

            var familyGrid = $("#@userWidgetId-family-grid").data("kendoGrid");
            familyGrid.dataSource.read();

            var clientGrid = $("#@userWidgetId-client-grid").data("kendoGrid");
            clientGrid.dataSource.read();
        }
    });

    function onAxisLabelClick(e) {
        refreshDetailGrids(e.value, "", 0);
    }

    function onSeriesClick(e) {
        refreshDetailGrids(e.dataItem["Group"], e.dataItem["Category"], e.dataItem["Id"]);
    };

    function refreshDetailGrids(clientCode, attorneyCode, attorneyPosition) {
        var familyGrid = $("#@userWidgetId-family-grid").data("kendoGrid");
        familyGrid.dataSource.read({ userWidgetId: @widget.Id, clientCode: clientCode, attorneyCode: attorneyCode, attorneyPosition: attorneyPosition });

        var clientGrid = $("#@userWidgetId-client-grid").data("kendoGrid");
        clientGrid.dataSource.read({ userWidgetId: @widget.Id, clientCode: clientCode, attorneyCode: attorneyCode, attorneyPosition: attorneyPosition });

        var gridTitle = "@gridDetailTitle";
        $("#@userWidgetId-grid-title").text(gridTitle.replace("{0}", clientCode));
        $("#@userWidgetId-grid-header").show();

        selectedClient = clientCode;
        selectedAttorney = attorneyCode;
        selectedAttorneyPosition = attorneyPosition;
    }

    function familyGridExcelExport(e) {
        e.preventDefault();
        var excelExportUrl = "@Url.Action("SharedRosterReportFamilyDetailExportExcel", "Dashboard")";
        const dataJSON = JSON.stringify({ userWidgetId: @widget.Id, clientCode: selectedClient, attorneyCode: selectedAttorney, attorneyPosition: selectedAttorneyPosition });
        const html = '<form method="POST" action="' + excelExportUrl + '">' +
            '<input type="hidden" name="__RequestVerificationToken" value="' + $("[name='__RequestVerificationToken']").val() + '">';
        let form = $(html);
        form.append($('<input type="hidden" name="filtersJSON"/>').val(dataJSON));
        $('body').append(form);
        form.submit();
    };    

    function clientGridExcelExport(e) {
        e.preventDefault();
        var excelExportUrl = "@Url.Action("SharedRosterReportClientDetailExportExcel", "Dashboard")";
        const dataJSON = JSON.stringify({ userWidgetId: @widget.Id, clientCode: selectedClient, attorneyCode: selectedAttorney, attorneyPosition: selectedAttorneyPosition });
        const html = '<form method="POST" action="' + excelExportUrl + '">' +
            '<input type="hidden" name="__RequestVerificationToken" value="' + $("[name='__RequestVerificationToken']").val() + '">';
        let form = $(html);
        form.append($('<input type="hidden" name="filtersJSON"/>').val(dataJSON));
        $('body').append(form);
        form.submit();
    };

    function gridDetailSearchFilters() {
        return { userWidgetId: @widget.Id, clientCode: selectedClient, attorneyCode: selectedAttorney, attorneyPosition: selectedAttorneyPosition };
    };

    function rosterReportAttorneyTemplate(dataItem, fieldName) {
        var fullString = dataItem[fieldName];
                
        if (fullString === null || typeof fullString === 'undefined') {
            return '';
        }
                
        var parts = fullString.split('|'); 
        var htmlParts = [];
                
        parts.forEach(function(part) {
            if (part.endsWith('*')) {                
                //var formattedPart = part.slice(0, -1); // Remove the asterisk
                htmlParts.push('<span class="red-text">' + part + '</span>');
            } else {                
                htmlParts.push('<span>' + part + '</span>');
            }
        });

        return htmlParts.join(', ');
    }

</script>

<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">
        <ul class="list-group">
            @if (authorizedSystems.Contains(SystemType.Patent) && authorizedSystems.Count() > 1)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["Patent"]</span>
                    <span>
                        <label class="toggle-switch">
                            <input id="@userWidgetId-show-patent" type="checkbox" checked="@showPatent" data-setting="ShowPatent" class="toggle-option">
                            <span class="slider round"></span>
                        </label>
                    </span>
                </li>
            }
            @if (authorizedSystems.Contains(SystemType.Trademark) && authorizedSystems.Count() > 1)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["Trademark"]</span>
                    <span>
                        <label class="toggle-switch">
                            <input id="@userWidgetId-show-patent" type="checkbox" checked="@showTrademark" data-setting="ShowTrademark" class="toggle-option">
                            <span class="slider round"></span>
                        </label>
                    </span>
                </li>
            }
        </ul>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Record Status"]</span>
                <span>
                    @(Html.Kendo().DropDownList()
                        .Name(userWidgetId + "-recordstatus")
                        .AutoBind(false)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .Value(recordStatus)
                        .Text(recordStatus)                                         
                        .AutoWidth(true)
                        .BindTo(statusList)                        
                        .Events(e =>
                        {
                            e.Change("saveRecordStatus");
                        })
                    )
                </span>
            </li>            
        </ul>
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", clientLabel, clientNameLabel, "Client", "Shared", userWidgetId))</span>
            </li>
            @foreach (ClientListViewModel client in clients)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Attorney Status"]</span>
                <span>
                    @(Html.Kendo().DropDownList()
                        .Name(userWidgetId + "-attorneystatus")
                        .AutoBind(false)
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .Value(attorneyStatus)
                        .Text(attorneyStatus)                                         
                        .AutoWidth(true)
                        .BindTo(statusList)                        
                        .Events(e =>
                        {
                            e.Change("saveAttorneyStatus");
                        })
                    )
                </span>
            </li>            
        </ul>
        <ul id="attorneyPositionFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Attorney Position"]</span>
                <span>
                    @(Html.Kendo().DropDownList()
                    .Name("AttorneyPosition_" + @userWidgetId)
                    .DataTextField("AttorneyName")
                    .DataValueField("AttorneyID")
                    .HtmlAttributes(new { style = "width: 100px" })
                    .BindTo(fixedAttyPositions)
                    .Events(events => events.Open("function() {this.element.getKendoDropDownList().list.find('li.k-item').first().hide();}"))
                    )
                </span>
            </li>
            @foreach (AttorneyListViewModel atty in attorneyPositions)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="atty-code">@atty.AttorneyCode</span>
                    </div>
                    <div class="delete-filter delete-attyPos" data-id="@atty.AttorneyID" title="Remove @atty.AttorneyCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="attorneyFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Attorney"]</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyID("AttorneyCode", Localizer["Attorney"], Localizer["Attorney Name"], "Attorney", "Shared", userWidgetId))</span>
            </li>
            @foreach (AttorneyListViewModel atty in attorneys)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="atty-code">@atty.AttorneyCode</span>
                        <span class="atty-name">@atty.AttorneyName</span>
                    </div>
                    <div class="delete-filter delete-atty" data-id="@atty.AttorneyID" title="Remove @atty.AttorneyCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

@(
Html.Kendo().Chart(Model)
    .Name(userWidgetId)
    .Title("")
    .Legend(legend => legend
        .Visible(true)
        .Position(ChartLegendPosition.Right)
        .Item(item => item.Visual("chartLegendItemVisual"))
    )
    .ChartArea(chartArea => chartArea
        .Background("transparent")        
    )
    .PersistSeriesVisibility(true)
    .Series(series => {
        series.Bar(model => model.Value)
        .CategoryField("Group")
        .ColorField("Color")
        .Labels(label =>
        {
            label.Visible(true);
            label.Background("transparent");
            label.Position(ChartBarLabelsPosition.Center);
            label.Template("#= value > 0 ? kendo.htmlEncode(dataItem.Category) : '' #");
            label.Rotation("-45");
        });        
    })
    .CategoryAxis(axis => axis.Labels(label => label.Visual("chartCategoryAxisItemVisual")))
    .ValueAxis(axis => axis.Min(0).MajorUnit(1).Labels(label => label.Visible(false)).MajorGridLines(line => line.Visible(false)).Line(line => line.Visible(false)))
    .DataSource(dataSource => dataSource
        .Group(group => group.Add(model => model.UniqueId))
    )
    .Events(events =>
    {
        events.DataBound("onChartDataBound");
        events.LegendItemClick("onChartLegendItemClick");
        events.LegendItemHover("onChartLegendItemHover");
        events.LegendItemLeave("onChartLegendItemLeave");
        events.Render("onChartRender");
        events.SeriesLeave("onChartSeriesLeave");        
    })      
    .Pannable(pannable => pannable
        .Lock(ChartAxisLock.X)        
    )
    .Zoomable(zoomable => zoomable
        .Mousewheel(mousewheel => mousewheel.Lock(ChartAxisLock.X))
        .Selection(selection => selection.Lock(ChartAxisLock.X))        
    )
    .SeriesColors((string[])widget.SeriesColors)
    .Tooltip(tooltip => tooltip
        .Visible(true)
        .Template("#=kendo.htmlEncode(dataItem.Category)#: #=kendo.htmlEncode(dataItem.CategoryName)#")
    )
    .Pdf(pdf => pdf
        .FileName(@widget.Title.ToString())
        //.PaperSize("A4")
        .Landscape(false)
        .Margin(m => m
            .Left(10)
            .Right(10)
            .Top(10)
            .Bottom(10))
    )
    .HtmlAttributes(new { @class = "customSort"})
)
@if (widget.IsDetail)
{
    <style>
        .k-chart {
            margin: auto;
        }
    </style>

    <div id="@userWidgetId-grid-header">
        <h4><span id="@userWidgetId-grid-title">@Localizer["Roster Report Detail"]</span></h4>
    </div>

    <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" id="rosterReportTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="clientFormatTab" data-toggle="tab" href="#clientFormatTabContent" role="tab" aria-controls="clientFormatTabContent" aria-selected="true">@Localizer["Client Format"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" id="familyFormatTab" href="#familyFormatTabContent" role="tab" aria-controls="familyFormatTabContent" aria-selected="false">@Localizer["Family Format"]</a>
        </li>
    </ul>
    <div class="tab-content detail">
        <div class="tab-pane page-content show active" id="clientFormatTabContent" role="tabpanel" aria-labelledby="clientFormatTab">
            @(Html.Kendo().Grid<RosterReportDrillDownViewModel>()
                    .Name(userWidgetId+"-client-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(a => a.ClientCode).Title(clientLabel).HtmlAttributes(new { @class = "text-nowrap" });
                        columns.Bound(a => a.ClientName).Title(clientNameLabel).HtmlAttributes(new { @class = "text-nowrap" });                       
                        columns.Bound(a => a.Attorney1Codes).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney1Codes') #");
                        columns.Bound(a => a.Attorney1Names).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney1Names') #");
                        columns.Bound(a => a.Attorney2Codes).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney2Codes') #");
                        columns.Bound(a => a.Attorney2Names).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney2Names') #");
                        columns.Bound(a => a.Attorney3Codes).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney3Codes') #");
                        columns.Bound(a => a.Attorney3Names).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney3Names') #");
                        columns.Bound(a => a.Attorney4Codes).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney4Codes') #");
                        columns.Bound(a => a.Attorney4Names).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney4Names') #");
                        columns.Bound(a => a.Attorney5Codes).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney5Codes') #");
                        columns.Bound(a => a.Attorney5Names).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney5Names') #");
                    })
                    .ToolBar(tools => tools.Excel())
                    .AutoBind(false)
                    .Pageable(page => page.PageSizes(settings.SearchResultsPageSizeOptions).Responsive(false))
                    .Sortable(sort => sort.AllowUnsort(false))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(User.GetSearchResultsPageSize(settings.SearchResultsPageSize))
                        .Read(read => read.Action("SharedRosterReportClientDetailRead", "Dashboard", new { userWidgetId = widget.Id }).Data("gridDetailSearchFilters"))
                    )
                    .Events(e => e.ExcelExport("clientGridExcelExport"))
                    .HtmlAttributes(new { @class = "kendo-Grid", style = "width:100%" })
            )
        </div>
        <div class="tab-pane page-content" id="familyFormatTabContent" role="tabpanel" aria-labelledby="familyFormatTab">
            @(Html.Kendo().Grid<RosterReportDrillDownViewModel>()
                    .Name(userWidgetId+"-family-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(a => a.System);
                        columns.Bound(a => a.ClientCode).Title(clientLabel).HtmlAttributes(new { @class = "text-nowrap" });
                        columns.Bound(a => a.ClientName).Title(clientNameLabel).HtmlAttributes(new { @class = "text-nowrap" });
                        columns.Bound(a => a.CaseNumber).Title(caseNumberLabel).HtmlAttributes(new { @class = "text-nowrap" });
                        columns.Bound(a => a.Country);
                        columns.Bound(a => a.SubCase);
                        columns.Bound(a => a.Attorney1Codes).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney1Codes') #");
                        columns.Bound(a => a.Attorney1Names).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney1Names') #");
                        columns.Bound(a => a.Attorney2Codes).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney2Codes') #");
                        columns.Bound(a => a.Attorney2Names).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney2Names') #");
                        columns.Bound(a => a.Attorney3Codes).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney3Codes') #");
                        columns.Bound(a => a.Attorney3Names).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney3Names') #");
                        columns.Bound(a => a.Attorney4Codes).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney4Codes') #");
                        columns.Bound(a => a.Attorney4Names).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney4Names') #");
                        columns.Bound(a => a.Attorney5Codes).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney5Codes') #");
                        columns.Bound(a => a.Attorney5Names).ClientTemplate("#= rosterReportAttorneyTemplate(data, 'Attorney5Names') #");
                    })
                    .ToolBar(tools => tools.Excel())
                    .AutoBind(false)
                    .Pageable(page => page.PageSizes(settings.SearchResultsPageSizeOptions).Responsive(false))
                    .Sortable(sort => sort.AllowUnsort(false))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(User.GetSearchResultsPageSize(settings.SearchResultsPageSize))
                        .Read(read => read.Action("SharedRosterReportFamilyDetailRead", "Dashboard", new { userWidgetId = widget.Id }).Data("gridDetailSearchFilters"))
                    )
                    .Events(e => e.ExcelExport("familyGridExcelExport"))
                    .HtmlAttributes(new { @class = "kendo-Grid", style = "width:100%" })
            )
        </div>
    </div>
}