@model IEnumerable<ChartDTO>
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IEntityService<TmkStandardGood> _goodsService
@inject IStringLocalizer<TrademarkResource> Localizer
@inject IClientService ClientService
@inject ISystemSettings<TmkSetting> Settings
@{
    var tmkSettings = await Settings.GetSetting();
    var clientLabel = Localizer[tmkSettings.LabelClient];
    var clientNameLabel = Localizer[tmkSettings.LabelClientName];
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
    var caseNumberLabel = Localizer[tmkSettings.LabelCaseNumber];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var gridDetailTitle = Localizer[widget.Title + " - {0}"];
    var viewNameSplit = widget.ViewName.ToString().Split("/");
    var viewName = viewNameSplit[viewNameSplit.Length - 1];
    var userWidgetId = widget.Id.ToString() + viewName;
    var settings = widget.UserSettings;
    var country = settings.Property("Country") != null ? settings["Country"].Value<string>() : "";

    List<TmkStandardGoodListViewModel> classes = new List<TmkStandardGoodListViewModel>();

    if (settings.Property("Classes") != null)
    {
        try
        {
            int[] classFilter = ((JArray)settings.Property("Classes").Value).Select(a => (int)a).ToArray();

            if (classFilter.Count() > 0)
            {
                classes = await _goodsService.QueryableList
                                        .Where(c => classFilter.Contains(c.ClassId))
                                        .Select(c => new TmkStandardGoodListViewModel
                                        {
                                            ClassId = c.ClassId,
                                            ClassDesc = $"{c.Class} {c.ClassType}"
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<ClientListViewModel> clients = new List<ClientListViewModel>();

    if (settings.Property("Clients") != null)
    {
        try
        {
            int[] clientFilter = ((JArray)settings.Property("Clients").Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                        {
                                            ClientID = c.ClientID,
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }
}

<style>
    #classFilter_@userWidgetId .class-code {
        font-weight: 600;
        margin-right: 10px;
    }
    #clientFilter_@userWidgetId .client-code {
        font-weight: 600;
        margin-right: 10px;
    }
</style>
<script>
    var selectedItem = "";    
    var refresh = false;

    $(document).ready(function () {
        var classList = [@String.Join(",", classes.Select(c => c.ClassId).ToList())];
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];
        

        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });

        $(document).off("click", "#classFilter_@userWidgetId .delete-class");
        $(document).off("change", "#ClassCode_@userWidgetId");
        $(document).on("click", "#classFilter_@userWidgetId .delete-class", function (e) {
            var item = $.inArray($(this).data("id"), classList);

            if (item !== -1) {
                classList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Classes: [${classList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClassCode_@userWidgetId", function (e) {
            var classCode = $(this).data("kendoComboBox");

            if (classCode.selectedIndex >= 0) {
                var dataItem = classCode.dataItem(classCode.selectedIndex);

                var classId = dataItem.ClassId;
                var classDesc = dataItem.ClassDesc;

                if ($.inArray(classId, classList) == -1) {
                    classList.push(classId);
                    $("#classFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="class-code">${classDesc}</span></div><div class="delete-filter delete-class" data-id="${classId}" title="Remove ${classDesc}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Classes: [${classList.toString()}] }`, function () { refresh = true; });
                }
            }

            classCode.value("");
        });

        $(document).off("change", "#Country_@userWidgetId");
        $(document).on("change", "#Country_@userWidgetId", function (e) {
            var comboBox = $(this).data("kendoMultiColumnComboBox");
            var country = "";

            if (comboBox.selectedIndex >= 0) {
                var dataItem = comboBox.dataItem(comboBox.selectedIndex);
                country = dataItem.Country;
            }
            else {
                comboBox.value("");
            }

            saveSetting(@widget.Id, `{ Country: "${country}" }`, function ()
            {
                refresh = true;
                //$("#@widget.Id .refresh").click();
            });
        });

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        });

        if ('@(widget.IsDetail)' === '@true') {
            var chart = $("#@userWidgetId").data("kendoChart");
            chart.bind("seriesClick", onSeriesClick);
            $("#@userWidgetId").attr("style", "position: static !important;");
            $("#@userWidgetId-grid-header").hide();

            var grid = $("#@userWidgetId-grid").data("kendoGrid");
            grid.dataSource.read();
        }

    });

    function onSeriesClick(e) {
        var grid = $("#@userWidgetId-grid").data("kendoGrid");
        grid.dataSource.read({ userWidgetId: @widget.Id, selectedItem: e.dataItem["Color"] });

        var gridTitle = "@gridDetailTitle";
        $("#@userWidgetId-grid-title").text(gridTitle.replace("{0}", e.category));
        $("#@userWidgetId-grid-header").show();

        selectedItem = e.dataItem["Color"];
    };

    function gridExcelExport(e) {
        e.preventDefault();
        var excelExportUrl = "@Url.Action("TmkClassesByCountryDetailExportExcel", "Dashboard")";
        const dataJSON = JSON.stringify({ userWidgetId: @widget.Id, selectedItem:selectedItem });
        const html = '<form method="POST" action="' + excelExportUrl + '">' +
            '<input type="hidden" name="__RequestVerificationToken" value="' + $("[name='__RequestVerificationToken']").val() + '">';
        let form = $(html);
        form.append($('<input type="hidden" name="filtersJSON"/>').val(dataJSON));
        $('body').append(form);
        form.submit();
    };

    function gridDetailSearchFilters() {
        return { userWidgetId: @widget.Id, selectedItem: selectedItem };
    };
</script>

<div class="widget-settings" style="max-height: 425px; z-index:12">
    <div class="settings-body">
        <ul id="classFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span class="country-select-label">@countryLabel</span>
                <span>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.Country("Country", countryLabel, countryNameLabel, "TmkTrademarkLookup", country, "Trademark", userWidgetId))
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Class"]</span>
                <span>
                    @await Component.InvokeAsync("ComboBox", new
                    {
                        name = "ClassCode",
                        valueProperty = "ClassId",
                        textProperty = "ClassDesc",
                        text = "ClassDesc",
                        screen = userWidgetId,
                        area = "Trademark",
                        controller = "TmkTrademarkClass",
                        action = "GetClassList"
                    })
                </span>
            </li>
            @foreach (TmkStandardGoodListViewModel item in classes)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="class-code">@item.ClassDesc</span>
                    </div>
                    <div class="delete-filter delete-class" data-id="@item.ClassId" title="Remove @item.ClassDesc"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", clientLabel, clientNameLabel, "TmkTrademarkLookup", "Trademark", userWidgetId))</span>
            </li>
            @foreach (ClientListViewModel client in clients)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>


@(Html.Kendo().Chart(Model)
    .Name(userWidgetId)
    .Title(title => title
        .Text(Localizer["Classes of Trademarks Filed This Year"])
        .Align(ChartTextAlignment.Center)
        .Font("13px Arial, Helvetica, sans-serif")
        .Padding(0,0,0,0)
        .Margin(0,0,0,0)
    )
    .Legend(legend => legend
        .Visible(true)
        .Position(ChartLegendPosition.Top)
    )
    .ChartArea(chartArea => chartArea
        .Background("transparent")
    )
    .Series(series => series
        .Column(model => model.Value, model => model.Category)
        //.ColorField("Color")
        .Overlay(o => o.Gradient(ChartSeriesGradient.None))
        .Labels(labels => labels
            .Visible(true)
            .Template("#= value == null ? '' : value #")
            .Background("transparent")
            .Position(ChartBarLabelsPosition.OutsideEnd)
        )
    )
    .DataSource(dataSource => dataSource
        .Group(group => group.Add(model => model.Group))
    )
    .SeriesColors((string[])widget.SeriesColors)
    .Tooltip(tooltip => tooltip
        .Visible(true)
        .Template("#= series.name #: #= value == null ? 0 : value #")
    )
    .Pdf(pdf => pdf
        .FileName(@widget.Title.ToString())
        //.PaperSize("A4")
        .Landscape(false)
        .Margin(m => m
            .Left(10)
            .Right(10)
            .Top(10)
            .Bottom(10))
    )
)
@if (widget.IsDetail)
{
    <div id="@userWidgetId-grid-header">
        <h4><span id="@userWidgetId-grid-title"></span></h4>
    </div>

    @(Html.Kendo().Grid<TmkPortfolioByStatusDrillDownViewModel>()
                    .Name(userWidgetId+"-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(a => a.CaseNumber).Title(caseNumberLabel).HtmlAttributes(new { @class = "text-nowrap" });
                        columns.Bound(a => a.Country);
                        columns.Bound(a => a.SubCase);
                        columns.Bound(a => a.CaseType);
                        columns.Bound(a => a.MarkType);
                        columns.Bound(a => a.TrademarkName);
                        columns.Bound(a => a.Status);
                        columns.Bound(a => a.AppNumber);
                        columns.Bound(a => a.FilDate).Format("{0:dd-MMM-yyyy}");
                        columns.Bound(a => a.PubNumber);
                        columns.Bound(a => a.PubDate).Format("{0:dd-MMM-yyyy}");
                        columns.Bound(a => a.RegNumber);
                        columns.Bound(a => a.RegDate).Format("{0:dd-MMM-yyyy}");
                    })
                    .ToolBar(tools => tools.Excel())
                    .AutoBind(false)
                    //.Excel(excel => excel.AllPages(true).ProxyURL(Url.Action("ExportToExcel", "Dashboard")))
                    .Pageable(page => page.PageSizes(tmkSettings.SearchResultsPageSizeOptions))
                    .Sortable(sort => sort.AllowUnsort(false))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(tmkSettings.SearchResultsPageSize)
                        .Read(read => read.Action("TmkClassesByCountryDetailRead", "Dashboard", new { userWidgetId = widget.Id }).Data("gridDetailSearchFilters"))
                    )
                    .Events(e => e.ExcelExport("gridExcelExport"))
                    .HtmlAttributes(new { @class = "kendo-Grid", style = "width:100%" })
)

    <style>
        .k-chart {
            margin: auto;
        }
    </style>
}