@model IEnumerable<StackedChartViewModel>
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IAttorneyService _attyService
@inject IStringLocalizer<TrademarkResource> Localizer
@inject IClientService ClientService
@inject IParentEntityService<TmkCountry, TmkAreaCountry> CountryService
@inject IEntityService<TmkTrademarkStatus> _statusService;
@inject ISystemSettings<TmkSetting> Settings
@{
    var tmkSettings = await Settings.GetSetting();
    var isDelegationOn = tmkSettings.IsDelegationOn;
    var clientLabel = Localizer[tmkSettings.LabelClient];
    var clientNameLabel = Localizer[tmkSettings.LabelClientName];
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var viewNameSplit = widget.ViewName.ToString().Split("/");
    var viewName = viewNameSplit[viewNameSplit.Length - 1];
    var userWidgetId = widget.Id.ToString() + viewName;

    var settings = widget.UserSettings;
    List<AttorneyListViewModel> attorneys = new List<AttorneyListViewModel>();

    if (settings.Property("Attorneys") != null)
    {
        try
        {
            int[] attyFilter = ((JArray)settings.Property("Attorneys").Value).Select(a => (int)a).ToArray();

            if (attyFilter.Count() > 0)
            {
                attorneys = await _attyService.QueryableList
                                        .Where(a => attyFilter.Contains(a.AttorneyID))
                                        .Select(a => new AttorneyListViewModel
                                        {
                                            AttorneyID = a.AttorneyID,
                                            AttorneyCode = a.AttorneyCode,
                                            AttorneyName = a.AttorneyName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<AttorneyListViewModel> attorneyPositions = new List<AttorneyListViewModel>();

    List<AttorneyListViewModel> fixedAttyPositions = new List<AttorneyListViewModel>()
{
        new AttorneyListViewModel {AttorneyID = 0, AttorneyCode = "", AttorneyName = ""},
        new AttorneyListViewModel {AttorneyID = 1, AttorneyCode = "Attorney1", AttorneyName = "Attorney1"},
        new AttorneyListViewModel {AttorneyID = 2, AttorneyCode = "Attorney2", AttorneyName = "Attorney2"},
        new AttorneyListViewModel {AttorneyID = 3, AttorneyCode = "Attorney3", AttorneyName = "Attorney3"},
        new AttorneyListViewModel {AttorneyID = 4, AttorneyCode = "Attorney4", AttorneyName = "Attorney4"},
        new AttorneyListViewModel {AttorneyID = 5, AttorneyCode = "Attorney5", AttorneyName = "Attorney5"},
        new AttorneyListViewModel {AttorneyID = 6, AttorneyCode = "Responsible", AttorneyName = "Responsible"}
    };

    if (settings.Property("AttorneyPositions") != null)
    {
        try
        {
            int[] attyFilter = ((JArray)settings.Property("AttorneyPositions").Value).Select(a => (int)a).ToArray();

            if (attyFilter.Count() > 0)
            {
                attorneyPositions = fixedAttyPositions.Where(a => attyFilter.Contains(a.AttorneyID))
                                .Select(a => new AttorneyListViewModel
                                {
                                    AttorneyID = a.AttorneyID,
                                    AttorneyCode = a.AttorneyCode,
                                    AttorneyName = a.AttorneyName
                                })
                                .ToList();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

     List<CountryLookupViewModel> countries = new List<CountryLookupViewModel>();

    if (settings.Property("Countries") != null)
    {
        try
        {
            int[] countryFilter = ((JArray)settings.Property("Countries").Value).Select(a => (int)a).ToArray();

            if (countryFilter.Count() > 0)
            {
                countries = await CountryService.QueryableList
                                        .Where(c => countryFilter.Contains(c.CountryID))
                                        .Select(c => new CountryLookupViewModel
                                        {
                                            CountryID = c.CountryID,
                                            Country = c.Country,
                                            CountryName = c.CountryName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<ClientListViewModel> clients = new List<ClientListViewModel>();

    if (settings.Property("Clients") != null)
    {
        try
        {
            int[] clientFilter = ((JArray)settings.Property("Clients").Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                        {
                                            ClientID = c.ClientID,
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<string> excludeIndicators = new List<string>();

    if (settings.Property("ExcludeIndicators") != null)
    {
        try
        {
            string[] excludeIndicatorsFilter = ((JArray)settings.Property("ExcludeIndicators").Value).Select(a => (string)a).Where(a => !string.IsNullOrEmpty(a)).ToArray();

            if (excludeIndicatorsFilter.Count() > 0)
            {
                excludeIndicators = new List<string>(excludeIndicatorsFilter);
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }
    
    List<TmkTrademarkStatus> statuses = new List<TmkTrademarkStatus>();

    if (settings.Property("Statuses") != null)
    {
        try
        {
            int[] statusFilter = ((JArray)settings.Property("Statuses").Value).Select(a => (int)a).ToArray();

            if (statusFilter.Count() > 0)
            {
                statuses = await _statusService.QueryableList
                        .Where(a => statusFilter.Contains(a.TrademarkStatusId))
                        .Select(a => new TmkTrademarkStatus
                        {
                            TrademarkStatusId = a.TrademarkStatusId,
                            TrademarkStatus = a.TrademarkStatus
                        })
                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    bool showOfficeActions = settings.Property("ShowOfficeActions") != null ? settings["ShowOfficeActions"].Value<bool>() : false;
    bool showInactiveCases = settings.Property("ShowInactiveCases") != null ? settings["ShowInactiveCases"].Value<bool>() : false;
    bool showDelegatedActions = settings.Property("ShowDelegatedActions") != null ? settings["ShowDelegatedActions"].Value<bool>() : false;

    var monthOrder = Model.Select(d => new { MonthName = d.Category, MonthOrder = d.Id }).Distinct().ToList();
}

<style>
    #attorneyFilter_@userWidgetId .atty-code {
        font-weight: 600;
        margin-right: 10px;
    }
</style>
<script>
    $(document).ready(function () {  
        var attyList = [@String.Join(",", attorneys.Select(a => a.AttorneyID).ToList())];
        var attyPositionsList = [@String.Join(",", attorneyPositions.Select(a => a.AttorneyID).ToList())];       
        var excludeIndicatorList = "@String.Join(",", excludeIndicators.Select(a => (string)a).ToList())".split(",").filter(item => item);
        var countryList = [@String.Join(",", countries.Select(c => c.CountryID).ToList())];
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];
        var statusList = [@String.Join(",", statuses.Select(a => a.TrademarkStatusId).ToList())];
        var refresh = false;

        $(document).off("click", "#@widget.Id .widget-settings .toggle-option");
        $(document).on("click", "#@widget.Id .widget-settings .toggle-option", function (e) {
            saveSetting(@widget.Id, `{ ${$(this).data("setting")}: ${$(this).is(':checked')} }`, function () { refresh = true; });
        });

        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });

        $(document).off("click", "#attorneyFilter_@userWidgetId .delete-atty");
        $(document).off("change", "#AttorneyCode_@userWidgetId");
        $(document).on("click", "#attorneyFilter_@userWidgetId .delete-atty", function (e) {
            var item = $.inArray($(this).data("id"), attyList);

            if (item !== -1) {
                attyList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Attorneys: [${attyList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#AttorneyCode_@userWidgetId", function (e) {
            var atty = $(this).data("kendoMultiColumnComboBox");

            if (atty.selectedIndex >= 0) {
                var dataItem = atty.dataItem(atty.selectedIndex);

                var attyId = dataItem.AttorneyID;
                var attyCode = dataItem.AttorneyCode;
                var attyName = dataItem.AttorneyName;

                if ($.inArray(attyId, attyList) == -1) {
                    attyList.push(attyId);
                    $("#attorneyFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="atty-code">${attyCode}</span><span class="atty-name">${attyName}</span></div><div class="delete-filter delete-atty" data-id="${attyId}" title="Remove ${attyCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Attorneys: [${attyList.toString()}] }`, function () { refresh = true; });
                }
            }

            atty.value("");
        });

        $(document).off("click", "#attorneyPositionFilter_@userWidgetId .delete-attyPos");
        $(document).off("change", "#AttorneyPosition_@userWidgetId");
        $(document).on("change", "#AttorneyPosition_@userWidgetId", function (e) {
            var attyPositions = $(this).data("kendoDropDownList");

            if (attyPositions.selectedIndex >= 0) {
                var dataItem = attyPositions.dataItem(attyPositions.selectedIndex);

                var attyId = dataItem.AttorneyID;
                var attyCode = dataItem.AttorneyCode;
                var attyName = dataItem.AttorneyName;

                if ($.inArray(attyId, attyPositionsList) == -1) {
                    attyPositionsList.push(attyId);
                    $("#attorneyPositionFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="atty-code">${attyCode}</span></div><div class="delete-filter delete-attyPos" data-id="${attyId}" title="Remove ${attyCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ AttorneyPositions: [${attyPositionsList.toString()}] }`, function () { refresh = true; });
                }
            }

            attyPositions.value("");
        });
        $(document).on("click", "#attorneyPositionFilter_@userWidgetId .delete-attyPos", function (e) {
            var item = $.inArray($(this).data("id"), attyPositionsList);

            if (item !== -1) {
                attyPositionsList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ AttorneyPositions: [${attyPositionsList.toString()}] }`, function () { refresh = true; });
            }
        });

        $(document).off("click", "#countryFilter_@userWidgetId .delete-country");
        $(document).off("change", "#Country_@userWidgetId");
        $(document).on("click", "#countryFilter_@userWidgetId .delete-country", function (e) {
            var item = $.inArray($(this).data("id"), countryList);

            if (item !== -1) {
                countryList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Countries: [${countryList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#Country_@userWidgetId", function (e) {
            var country = $(this).data("kendoMultiColumnComboBox");

            if (country.selectedIndex >= 0) {
                var dataItem = country.dataItem(country.selectedIndex);

                var countryId = dataItem.CountryID;
                var countryCode = dataItem.Country;
                var countryName = dataItem.CountryName;

                if ($.inArray(countryId, countryList) == -1) {
                    countryList.push(countryId);
                    $("#countryFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="country-code">${countryCode}</span><span class="country-name">${countryName}</span></div><div class="delete-filter delete-country" data-id="${countryId}" title="Remove ${countryCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Countries: [${countryList.toString()}] }`, function () { refresh = true; });
                }
            }

            country.value("");
        });

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        });

        $(document).off("click", "#excludeIndicatorFilter_@userWidgetId .delete-excludeIndicator");
        $(document).off("change", "#Indicator_@userWidgetId");
        $(document).on("click", "#excludeIndicatorFilter_@userWidgetId .delete-excludeIndicator", function (e) {
            var item = $.inArray($(this).data("id"), excludeIndicatorList);

            if (item !== -1) {
                excludeIndicatorList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ ExcludeIndicators: ['${excludeIndicatorList.join("','")}'] }`, function () { refresh = true; });
                }
            });
        $(document).on("change", "#Indicator_@userWidgetId", function (e) {
            var indicator = $(this).data("kendoComboBox");

            if (indicator.selectedIndex >= 0) {
                var dataItem = indicator.dataItem(indicator.selectedIndex);
                var excludeIndicator = dataItem.Indicator;

                if ($.inArray(indicator, excludeIndicatorList) == -1) {
                    excludeIndicatorList.push(excludeIndicator);
                    $("#excludeIndicatorFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="excludeIndicator">${excludeIndicator}</span></div><div class="delete-filter delete-excludeIndicator" data-id="${excludeIndicator}" title="Remove ${excludeIndicator}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ ExcludeIndicators: ['${excludeIndicatorList.join("','")}'] }`, function () { refresh = true; });
                    }
                }

            indicator.value("");
        });

        $(document).off("click", "#statusFilter_@userWidgetId .delete-status");
        $(document).off("change", "#TrademarkStatus_@userWidgetId");
        $(document).on("change", "#TrademarkStatus_@userWidgetId", function (e) {
            var status = $(this).data("kendoComboBox");

            if (status.selectedIndex >= 0) {
                var dataItem = status.dataItem(status.selectedIndex);

                var statusId = dataItem.TrademarkStatusId;
                var tmkStatus = dataItem.TrademarkStatus;

                if ($.inArray(statusId, statusList) == -1) {
                    statusList.push(statusId);
                    $("#statusFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="status-code">${tmkStatus}</span></div><div class="delete-filter delete-status" data-id="${statusId}" title="Remove ${tmkStatus}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Statuses: [${statusList.toString()}] }`, function () { refresh = true; });
                }
            }

            status.value("");
        });
        $(document).on("click", "#statusFilter_@userWidgetId .delete-status", function (e) {
            var item = $.inArray($(this).data("id"), statusList);

            if (item !== -1) {
                statusList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Statuses: [${statusList.toString()}] }`, function () { refresh = true; });
            }
        });
    });

    $("#@userWidgetId").kendoChart({
        dataSource: {
            data: @Html.Raw(Json.Serialize(Model)),
            group: {
                field: "Group"
            },
            sort: [{
                field:  "Id",
                dir: "asc"
            }],
        },            
        series: [{
            type: "column",
            field: "StackLayer1",
            categoryField: "Category",
            overlay: { gradient: "none" },
            tooltip: {
                visible: true,
                template: "#= dataItem.Group #: #= value == null ? 0 : value #"
            },
            labels: {background: "", visible: true, template: "# if(stackValue) { stackValues[category] = stackValue; } #"}                
        }],
        //categoryAxis: [{
        //    labels: {
        //        rotation: 90
        //    }
        //}],
        legend: {
            position: "bottom"
        },
        seriesColors: @Html.Raw(Json.Serialize(widget.SeriesColors)),
        dataBound: function (e) {
            var series = e.sender.options.series;
            for (var i = 0; i < series.length; i++) {
                series[i].stack = series[i].data[0].Color;
            }
            needsSort = true;
            stackValues = {};
        },
        pdf: {
                fileName: "@widget.Title.ToString()" + ".pdf"
            },
        render: function(e) {
            triggerSorting(e);
        }
    }); 

    //Sort columns based on month order - fiscal year
    function triggerSorting(e) {
        if (!needsSort) {
            return;
        }
        needsSort = false;

        var sortedMonth = @Html.Raw(Json.Serialize(monthOrder));          

        var axis = e.sender.options.categoryAxis;
        axis.categories = axis.categories.sort(function (a, b) {                
            var monthA = sortedMonth.find(x => x.MonthName === a);
            var monthB = sortedMonth.find(x => x.MonthName === b);
                
            if (monthA.MonthOrder < monthB.MonthOrder) {
                return -1;
            }
            if (monthA.MonthOrder > monthB.MonthOrder) {
                return 1;
            }
                
            return 0;
        });
        e.sender.redraw();        
    }
</script>

<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">
        <ul class="list-group">
            @if (isDelegationOn)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <span>@Localizer["Include Delegated Actions"]</span>
                    <span>
                        <label class="toggle-switch">
                            <input id="@userWidgetId-show-delegated-actions" type="checkbox" checked="@showDelegatedActions" data-state="@showDelegatedActions.ToString().ToLower()" data-setting="ShowDelegatedActions" class="toggle-option">
                            <span class="slider round"></span>
                        </label>
                    </span>
                </li>
            }    
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Include inactive cases"]</span>
                <span>
                    <label class="toggle-switch">
                        <input id="@userWidgetId-show-inactive-cases" type="checkbox" checked="@showInactiveCases" data-state="@showInactiveCases.ToString().ToLower()" data-setting="ShowInactiveCases" class="toggle-option">
                        <span class="slider round"></span>
                    </label>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Display Office Actions Only"]</span>
                <span>
                    <label class="toggle-switch">
                        <input id="@userWidgetId-show-office-actions" type="checkbox" checked="@showOfficeActions" data-state="@showOfficeActions.ToString().ToLower()" data-setting="ShowOfficeActions" class="toggle-option">
                        <span class="slider round"></span>
                    </label>
                </span>
            </li>
        </ul>
        <ul id="statusFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Status"]</span>
                <span>
                    @(Html.Kendo().ComboBox()
                      .Name("TrademarkStatus_"+@userWidgetId)
                      .DataTextField("TrademarkStatus")
                      .DataValueField("TrademarkStatusId")
                      .AutoBind(false)
                      .DataSource(source =>
                      {
                          source.Read(read =>
                          {
                              read.Action("GetStatusBySwitch", "TrademarkStatus", new { Area = "Trademark", activeSwitch = 1 });
                          });
                        })
                    )
                </span>
            </li>
            @foreach (TmkTrademarkStatus status in statuses)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="status-code">@status.TrademarkStatus</span>
                    </div>
                    <div class="delete-filter delete-status" data-id="@status.TrademarkStatusId" title="Remove @status.TrademarkStatus"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>        
        <ul id="attorneyPositionFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Attorney Position"]</span>
                <span>
                    @(Html.Kendo().DropDownList()
                      .Name("AttorneyPosition_"+@userWidgetId)
                      .DataTextField("AttorneyName")
                      .DataValueField("AttorneyID")
                      .HtmlAttributes(new { style = "width: 100px" })
                      .BindTo(fixedAttyPositions)
                      .Events(events => events.Open("function() {this.element.getKendoDropDownList().list.find('li.k-item').first().hide();}"))
                      )
                </span>
            </li>
            @foreach (AttorneyListViewModel atty in attorneyPositions)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="atty-code">@atty.AttorneyCode</span>
                    </div>
                    <div class="delete-filter delete-attyPos" data-id="@atty.AttorneyID" title="Remove @atty.AttorneyCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="attorneyFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Attorney"]</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyID("AttorneyCode", Localizer["Attorney"], Localizer["Attorney Name"], "TmkTrademarkLookup", "Trademark", userWidgetId))</span>
            </li>
            @foreach (AttorneyListViewModel atty in attorneys)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="atty-code">@atty.AttorneyCode</span>
                        <span class="atty-name">@atty.AttorneyName</span>
                    </div>
                    <div class="delete-filter delete-atty" data-id="@atty.AttorneyID" title="Remove @atty.AttorneyCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="countryFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@countryLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.CountryID("Country", countryLabel, countryNameLabel, "TmkTrademarkLookup", "Trademark", userWidgetId))</span>
            </li>
            @foreach (CountryLookupViewModel country in countries)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="country-code">@country.Country</span>
                        <span class="country-name">@country.CountryName</span>
                    </div>
                    <div class="delete-filter delete-country" data-id="@country.CountryID" title="Remove @country.Country"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", clientLabel, clientNameLabel, "TmkTrademarkLookup", "Trademark", userWidgetId))</span>
            </li>
            @foreach (ClientListViewModel client in clients)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
        <ul id="excludeIndicatorFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@Localizer["Exclude Indicator"]</span>
                <span>
                    @await Component.InvokeAsync("ComboBox", new { name = "Indicator", controller = "Dashboard", action = "GetIndicatorList", screen = userWidgetId })
                </span>
            </li>
            @foreach (string indicator in excludeIndicators)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="excludeIndicator">@indicator</span>
                    </div>
                    <div class="delete-filter delete-excludeIndicator" data-id="@indicator" title="Remove @indicator"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

<div id="@userWidgetId" class="customSort"></div> 