@model ChartDTO
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IStringLocalizer<TrademarkResource> Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject ISystemSettings<TmkSetting> tmkSettings
@inject IClientService ClientService
@inject IParentEntityService<TmkCountry, TmkAreaCountry> CountryService
@inject ITmkTrademarkService TmkService;
@{
    var settings = await tmkSettings.GetSetting();

    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
    var clientLabel = Localizer[settings.LabelClient ?? ""];
    var clientNameLabel = Localizer[settings.LabelClientName ?? ""];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var userWidgetId = widget.Id.ToString() + "-count";
    var userSettings = widget.UserSettings;
    var widgetSettings = widget.WidgetSettings;    

    bool showClient = widgetSettings.Property("ShowClient") != null ? (widgetSettings["ShowClient"] ?? false).Value<bool>() : false;
    bool showCountry = widgetSettings.Property("ShowCountry") != null ? (widgetSettings["ShowCountry"] ?? false).Value<bool>() : false;
    bool showArea = widgetSettings.Property("ShowArea") != null ? (widgetSettings["ShowArea"] ?? false).Value<bool>() : false;
    bool showTrademarkName = widgetSettings.Property("ShowTrademarkName") != null ? (widgetSettings["ShowTrademarkName"] ?? false).Value<bool>() : false;
    bool showSettings = (showClient || showCountry || showArea || showTrademarkName);

    var currencyFormat = !string.IsNullOrEmpty(settings.WidgetCurrencyFormat) ? settings.WidgetCurrencyFormat.Split("|")[0] : "";
    var currencyString = !string.IsNullOrEmpty(settings.WidgetCurrencyFormat) ? settings.WidgetCurrencyFormat.Split("|")[1] : "";

    List<ClientListViewModel> clients = new List<ClientListViewModel>();
    if (userSettings.Property("Clients") != null)
    {
        try
        {
            var clientFilter = new List<int>();
            var userSettingValue = userSettings.Property("Clients");

            if (userSettingValue != null && userSettingValue.Value != null)
            {
                clientFilter = ((JArray)userSettingValue.Value).Select(a => (int)a).ToList();
            }

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                        {
                                            ClientID = c.ClientID,
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }

    List<CountryLookupViewModel> countries = new List<CountryLookupViewModel>();
    if (userSettings.Property("Countries") != null)
    {
        try
        {            
            var countryFilter = new List<int>();
            var userSettingValue = userSettings.Property("Countries");

            if (userSettingValue != null && userSettingValue.Value != null)
            {
                countryFilter = ((JArray)userSettingValue.Value).Select(a => (int)a).ToList();
            }

            if (countryFilter.Count() > 0)
            {
                countries = await CountryService.QueryableList
                                        .Where(c => countryFilter.Contains(c.CountryID))
                                        .Select(c => new CountryLookupViewModel
                                        {
                                            CountryID = c.CountryID,
                                            Country = c.Country,
                                            CountryName = c.CountryName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }

    List<TmkTrademark> trademarkNames = new List<TmkTrademark>();
    if (userSettings.Property("TrademarkNames") != null)
    {
        try
        {
            var trademarkNameFilter = new List<int>();
            var userSettingValue = userSettings.Property("TrademarkNames");

            if (userSettingValue != null && userSettingValue.Value != null)
            {
                trademarkNameFilter = ((JArray)userSettingValue.Value).Select(a => (int)a).ToList();
            }

            if (trademarkNameFilter.Count() > 0)
            {
                trademarkNames = await TmkService.TmkTrademarks
                .Where(a => trademarkNameFilter.Contains(a.TmkId))
                .Select(a => new TmkTrademark
                        {
                            TmkId = a.TmkId,
                            TrademarkName = a.TrademarkName
                        })
                .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }

    List<string> regions = new List<string>();
    if (userSettings.Property("Regions") != null)
    {
        try
        {
            var regionFilter = new List<string>();
            var userSettingValue = userSettings.Property("Regions");
            if (userSettingValue != null && userSettingValue.Value != null)
            {
                regionFilter = ((JArray)userSettingValue.Value).Select(a => a != null ? a.ToString() : "").Where(a => !string.IsNullOrEmpty(a)).ToList();
            }

            if (regionFilter.Count() > 0)
            {
                regions = new List<string>(regionFilter);
            }
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }

}

@* <style>    
    #clientFilter_@userWidgetId .client-code {
        font-weight: 600;
        margin-right: 10px;
    }
</style> *@

<script>
    $(document).ready(function () {
        var refresh = false;        
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];
        var countryList = [@String.Join(",", countries.Select(c => c.CountryID).ToList())];
        var regionList = "@String.Join(",", regions.Select(a => (string)a).ToList())".split(",").filter(item => item);
        var trademarkNameList = [@String.Join(",", trademarkNames.Select(a => a.TmkId).ToList())];

        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });
                
        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        });

        $(document).off("click", "#countryFilter_@userWidgetId .delete-country");
        $(document).off("change", "#Country_@userWidgetId");
        $(document).on("click", "#countryFilter_@userWidgetId .delete-country", function (e) {
            var item = $.inArray($(this).data("id"), countryList);

            if (item !== -1) {
                countryList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Countries: [${countryList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#Country_@userWidgetId", function (e) {
            var country = $(this).data("kendoMultiColumnComboBox");

            if (country.selectedIndex >= 0) {
                var dataItem = country.dataItem(country.selectedIndex);

                var countryId = dataItem.CountryID;
                var countryCode = dataItem.Country;
                var countryName = dataItem.CountryName;

                if ($.inArray(countryId, countryList) == -1) {
                    countryList.push(countryId);
                    $("#countryFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="country-code">${countryCode}</span><span class="country-name">${countryName}</span></div><div class="delete-filter delete-country" data-id="${countryId}" title="Remove ${countryCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Countries: [${countryList.toString()}] }`, function () { refresh = true; });
                }
            }
            country.value("");
        });

        $(document).off("click", "#regionFilter_@userWidgetId .delete-region");
        $(document).off("change", "#Area_@userWidgetId");
        $(document).on("click", "#regionFilter_@userWidgetId .delete-region", function (e) {
            var item = $.inArray($(this).data("id"), regionList);

            if (item !== -1) {
                regionList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Regions: ['${regionList.join("','")}'] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#Area_@userWidgetId", function (e) {
            var updated = $(this).data("kendoComboBox");

            if (updated.selectedIndex >= 0) {
                var dataItem = updated.dataItem(updated.selectedIndex);
                var area = dataItem.Area;

                if ($.inArray(updated, regionList) == -1) {
                    regionList.push(area);
                    $("#regionFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="region">${area}</span></div><div class="delete-filter delete-region" data-id="${area}" title="Remove ${area}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Regions: ['${regionList.join("','")}'] }`, function () { refresh = true; });
                }
            }
            updated.value("");
        });

        $(document).off("click", "#trademarkNameFilter_@userWidgetId .delete-tmkName");
        $(document).off("change", "#TrademarkName_@userWidgetId");
        $(document).on("click", "#trademarkNameFilter_@userWidgetId .delete-tmkName", function (e) {
            var item = $.inArray($(this).data("id"), trademarkNameList);

            if (item !== -1) {
                trademarkNameList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ TrademarkNames: [${trademarkNameList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#TrademarkName_@userWidgetId", function (e) {
            var combo = $(this).data("kendoComboBox");

            if (combo.selectedIndex >= 0) {
                var dataItem = combo.dataItem(combo.selectedIndex);

                var tmkId = dataItem.TmkId;
                var tmkName = dataItem.TrademarkName;

                if ($.inArray(tmkId, trademarkNameList) == -1) {
                    trademarkNameList.push(tmkId);
                    $("#trademarkNameFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="tmkName">${tmkName}</span></div><div class="delete-filter delete-tmkName" data-id="${tmkId}" title="Remove ${tmkName}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ TrademarkNames: [${trademarkNameList.toString()}] }`, function () { refresh = true; });
                }
            }
            combo.value("");
        });


    });
</script>

@if (showSettings)
{
    <div class="widget-settings" style="max-height: 425px;">
        <div class="settings-body"> 
            @if (showClient)
            {
                <ul id="clientFilter_@userWidgetId" class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@clientLabel</span>
                        <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", clientLabel, clientNameLabel, "TmkTrademarkLookup", "Trademark", userWidgetId))</span>
                    </li>
                    @foreach (ClientListViewModel client in clients)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <span class="client-code">@client.ClientCode</span>
                                <span class="client-name">@client.ClientName</span>
                            </div>
                            <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                        </li>
                    }
                </ul>
            }
            @if (showCountry)
            {
                <ul id="countryFilter_@userWidgetId" class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@countryLabel</span>
                        <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.CountryID("Country", countryLabel, countryNameLabel, "TmkTrademarkLookup", "Trademark", userWidgetId))</span>
                    </li>
                    @foreach (CountryLookupViewModel country in countries)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <span class="country-code">@country.Country</span>
                                <span class="country-name">@country.CountryName</span>
                            </div>
                            <div class="delete-filter delete-country" data-id="@country.CountryID" title="Remove @country.Country"><i class="fal fa-trash-alt"></i></div>
                        </li>
                    }
                </ul>
            }
            @if (showArea)
            {
                <ul id="regionFilter_@userWidgetId" class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@Localizer["Region"]</span>
                        <span>
                            @await Component.InvokeAsync("ComboBox", new { name = "Area", area = "Trademark", controller = "Area", action = "GetAreaList", screen = userWidgetId })
                        </span>
                    </li>
                    @foreach (string reg in regions)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <span class="region">@reg</span>
                            </div>
                            <div class="delete-filter delete-region" data-id="@reg" title="Remove @reg"><i class="fal fa-trash-alt"></i></div>
                        </li>
                    }
                </ul>
            }
            @if (showTrademarkName)
            {
                <ul id="trademarkNameFilter_@userWidgetId" class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@Localizer["Trademark"]</span>
                        <span>
                            @await Component.InvokeAsync("ComboBox", new { name = "TrademarkName", action = "GetTrademarkNameIdList", screen = userWidgetId, textProperty = "TrademarkName", valueProperty = "TmkId", listWidth = 450 })
                        </span>
                    </li>
                    @foreach (TmkTrademark item in trademarkNames)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <span class="tmkName">@item.TrademarkName</span>
                            </div>
                            <div class="delete-filter delete-tmkName" data-id="@item.TmkId" title="Remove @item.TrademarkName"><i class="fal fa-trash-alt"></i></div>
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="settings-footer mt-4">
            <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
        </div>
    </div>
}

<div class="text-center" style="font-size: 65px;">
    <span style="text-decoration: none; color: @Model?.Color; font-weight: 500;">
        @if (Model?.Category == "in US Dollars")
        {<span>@currencyFormat</span>}
        @String.Format("{0:n0}", Model == null ? 0 : Model.Value)
    </span>
</div>
<div class="text-center">
    <span><i class="@(string.IsNullOrEmpty(Model?.Category) ? "" : widget.Icon) pr-2"></i>@(Model?.Category == "in US Dollars" ? currencyString : Localizer[Model?.Category ?? ""])</span>
</div>