@model IEnumerable<ChartDTO>
@using Newtonsoft.Json.Linq;
@using Microsoft.EntityFrameworkCore;
@inject IClientService ClientService
@inject IParentEntityService<TmkCountry, TmkAreaCountry> CountryService
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<TmkSetting> Settings
@{
    var tmkSettings = await Settings.GetSetting();
    var clientLabel = Localizer[tmkSettings.LabelClient];
    var clientNameLabel = Localizer[tmkSettings.LabelClientName];
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
    var caseNumberLabel = Localizer[tmkSettings.LabelCaseNumber];

    WidgetViewModel widget = (WidgetViewModel)(ViewData["WidgetViewModel"] ?? new WidgetViewModel());
    var gridDetailTitle = Localizer[widget.Title + " - {0}"];
    var viewNameSplit = widget.ViewName.ToString().Split("/");
    var viewName = viewNameSplit[viewNameSplit.Length - 1];
    var userWidgetId = widget.Id.ToString() + viewName;
    var settings = widget.UserSettings;
    List<CountryLookupViewModel> countries = new List<CountryLookupViewModel>();

    if (settings.Property("Countries") != null)
    {
        try
        {
            int[] countryFilter = ((JArray)settings.Property("Countries").Value).Select(a => (int)a).ToArray();

            if (countryFilter.Count() > 0)
            {
                countries = await CountryService.QueryableList
                                        .Where(c => countryFilter.Contains(c.CountryID))
                                        .Select(c => new CountryLookupViewModel
                                        {
                                            CountryID = c.CountryID,
                                            Country = c.Country,
                                            CountryName = c.CountryName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }

    List<ClientListViewModel> clients = new List<ClientListViewModel>();

    if (settings.Property("Clients") != null)
    {
        try
        {
            int[] clientFilter = ((JArray)settings.Property("Clients").Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                        {
                                            ClientID = c.ClientID,
                                            ClientCode = c.ClientCode,
                                            ClientName = c.ClientName
                                        })
                                        .ToListAsync();
            }
        }
        catch (Exception e)
        {
            var err = e.Message;

        }
    }
}

<style>
    #countryFilter_@userWidgetId .country-code {
        font-weight: 600;
        margin-right: 10px;
    }
    #clientFilter_@userWidgetId .client-code {
        font-weight: 600;
        margin-right: 10px;
    }
</style>
<script>
    var selectedCountry = "";
    var selectedYear = "";
    var refresh = false;

    $(document).ready(function () {
        var countryList = [@String.Join(",", countries.Select(c => c.CountryID).ToList())];
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];        

        $(document).off("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close");
        $(document).on("click", "#@widget.Id .settings, #@widget.Id .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@widget.Id .refresh").click();
            }
        });

        $(document).off("click", "#countryFilter_@userWidgetId .delete-country");
        $(document).off("change", "#Country_@userWidgetId");
        $(document).on("click", "#countryFilter_@userWidgetId .delete-country", function (e) {
            var item = $.inArray($(this).data("id"), countryList);

            if (item !== -1) {
                countryList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Countries: [${countryList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#Country_@userWidgetId", function (e) {
            var country = $(this).data("kendoMultiColumnComboBox");

            if (country.selectedIndex >= 0) {
                var dataItem = country.dataItem(country.selectedIndex);

                var countryId = dataItem.CountryID;
                var countryCode = dataItem.Country;
                var countryName = dataItem.CountryName;

                if ($.inArray(countryId, countryList) == -1) {
                    countryList.push(countryId);
                    $("#countryFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="country-code">${countryCode}</span><span class="country-name">${countryName}</span></div><div class="delete-filter delete-country" data-id="${countryId}" title="Remove ${countryCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Countries: [${countryList.toString()}] }`, function () { refresh = true; });
                }
            }

            country.value("");
        });

        $(document).off("click", "#clientFilter_@userWidgetId .delete-client");
        $(document).off("change", "#ClientCode_@userWidgetId");
        $(document).on("click", "#clientFilter_@userWidgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@userWidgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@userWidgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting(@widget.Id, `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        });

        if ('@(widget.IsDetail)' === '@true') {
            var chart = $("#@userWidgetId").data("kendoChart");
            chart.bind("seriesClick", onSeriesClick);
            $("#@userWidgetId").attr("style", "position: static !important;");
            $("#@userWidgetId-grid-header").hide();

            var grid = $("#@userWidgetId-grid").data("kendoGrid");
            grid.dataSource.read();
        }
    });

    function onSeriesClick(e) {
        var grid = $("#@userWidgetId-grid").data("kendoGrid");
        grid.dataSource.read({ userWidgetId: @widget.Id, country:  e.dataItem["Group"], year: e.dataItem["Category"] });

        var gridTitle = "@gridDetailTitle";
        $("#@userWidgetId-grid-title").text(gridTitle.replace("{0}",  e.dataItem["Group"] + " (" + e.dataItem["Category"] + ")"));
        $("#@userWidgetId-grid-header").show();

        selectedCountry = e.dataItem["Group"];
        selectedYear = e.dataItem["Category"];
    };

    function gridExcelExport(e) {
        e.preventDefault();
        var excelExportUrl = "@Url.Action("TmkFilingHistoryByYearDetailExportExcel", "Dashboard")";
        const dataJSON = JSON.stringify({ userWidgetId: @widget.Id, country: selectedCountry, year: selectedYear });
        const html = '<form method="POST" action="' + excelExportUrl + '">' +
            '<input type="hidden" name="__RequestVerificationToken" value="' + $("[name='__RequestVerificationToken']").val() + '">';
        let form = $(html);
        form.append($('<input type="hidden" name="filtersJSON"/>').val(dataJSON));
        $('body').append(form);
        form.submit();
    };

    function gridDetailSearchFilters() {
        return { userWidgetId: @widget.Id, country: selectedCountry, year: selectedYear };
    };

</script>

<div class="widget-settings" style="max-height: 425px;">
    <div class="settings-body">
        <ul id="countryFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@countryLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.CountryID("Country", countryLabel, countryNameLabel, "TmkTrademarkLookup", "Trademark", userWidgetId))</span>
            </li>
            @foreach (CountryLookupViewModel country in countries)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="country-code">@country.Country</span>
                        <span class="country-name">@country.CountryName</span>
                    </div>
                    <div class="delete-filter delete-country" data-id="@country.CountryID" title="Remove @country.Country"><i class="fal fa-trash-alt"></i></div>
                </li>

            }
        </ul>
        <ul id="clientFilter_@userWidgetId" class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span>@clientLabel</span>
                <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", clientLabel, clientNameLabel, "TmkTrademarkLookup", "Trademark", userWidgetId))</span>
            </li>
            @foreach (ClientListViewModel client in clients)
            {
                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <span class="client-code">@client.ClientCode</span>
                        <span class="client-name">@client.ClientName</span>
                    </div>
                    <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                </li>
            }
        </ul>
    </div>
    <div class="settings-footer mt-4">
        <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>Close</button>
    </div>
</div>

@(Html.Kendo().Chart(Model)
            .Name(userWidgetId)
            .Legend(legend => legend
                .Visible(true)
                .Position(ChartLegendPosition.Top)
            )
            .Title("")
            .ChartArea(chartArea => chartArea
                .Background("transparent")
            )
            .Series(series => series
                .Line(model => model.Value, model => model.Category)
                .Style(ChartSeriesStyle.Smooth)
                .ColorField("Color")
                .Overlay(o => o.Gradient(ChartSeriesGradient.None))
                .Labels(labels => labels
                    .Visible(true)
                    .Format("{0}")
                    .Template(string.IsNullOrEmpty(widget.LabelTemplate) ? "#= kendo.format('{0:n0}', value) #" : widget.LabelTemplate)
                    .Position(ChartBarLabelsPosition.OutsideEnd)
                    .Background("transparent")
                )
            )
            .DataSource(dataSource => dataSource
                .Group(group => group.Add(model => model.Group))
            )

            .SeriesColors(widget.SeriesColors)
            .Tooltip(tooltip => tooltip
                .Visible(true)
                .Template(string.IsNullOrEmpty(widget.TooltipTemplate) ? "#= series.name # (#= category #): #= kendo.format('{0:n0}', value) #" : widget.TooltipTemplate)
            )            
            .Pdf(pdf => pdf
                .FileName(@widget.Title.ToString())
                //.PaperSize("A4")
                .Landscape(false)
                .Margin(m => m
                    .Left(10)
                    .Right(10)
                    .Top(10)
                    .Bottom(10))
            )
)
@if (widget.IsDetail)
{
    <div id="@userWidgetId-grid-header">
        <h4><span id="@userWidgetId-grid-title"></span></h4>
    </div>

    @(Html.Kendo().Grid<TmkPortfolioByStatusDrillDownViewModel>()
                    .Name(userWidgetId+"-grid")
                    .Columns(columns =>
                    {
                        columns.Bound(a => a.CaseNumber).Title(caseNumberLabel).HtmlAttributes(new { @class = "text-nowrap" });
                        columns.Bound(a => a.Country);
                        columns.Bound(a => a.SubCase);
                        columns.Bound(a => a.CaseType);
                        columns.Bound(a => a.MarkType);
                        columns.Bound(a => a.TrademarkName);
                        columns.Bound(a => a.Status);
                        columns.Bound(a => a.AppNumber);
                        columns.Bound(a => a.FilDate).Format("{0:dd-MMM-yyyy}");
                        columns.Bound(a => a.PubNumber);
                        columns.Bound(a => a.PubDate).Format("{0:dd-MMM-yyyy}");
                        columns.Bound(a => a.RegNumber);
                        columns.Bound(a => a.RegDate).Format("{0:dd-MMM-yyyy}");
                    })
                    .ToolBar(tools => tools.Excel())
                    .AutoBind(false)
                    //.Excel(excel => excel.AllPages(true).ProxyURL(Url.Action("ExportToExcel", "Dashboard")))
                    .Pageable(page => page.PageSizes(tmkSettings.SearchResultsPageSizeOptions))
                    .Sortable(sort => sort.AllowUnsort(false))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(tmkSettings.SearchResultsPageSize)
                        .Read(read => read.Action("TmkFilingHistoryByYearDetailRead", "Dashboard", new { userWidgetId = widget.Id }).Data("gridDetailSearchFilters"))
                    )
                    .Events(e => e.ExcelExport("gridExcelExport"))
                    .HtmlAttributes(new { @class = "kendo-Grid", style = "width:100%" })
)

    <style>
        .k-chart {
            margin: auto;
        }
    </style>
}