@model MainDocumentOptions
@inject IStringLocalizer<SharedResource> Localizer
@{
    var childImageViewModel = Model.ChildImageViewModel;
    var showFileHistory = Model.FileHistoryViewModel != null;
    var activePage = childImageViewModel?.ActivePage;
    var gridDocsOutViewModel = new
    {
        systemType = Model.SystemType,
        parentKey = Model.ParentKey,
        screenCode = Model.ScreenCode,
        parentValue = Model.ParentValue,
        roleLink = Model.RoleLink,
        canUploadDocuments = childImageViewModel?.Permission?.CanUploadDocuments,
        canDeleteRecord = childImageViewModel?.Permission?.CanDeleteRecord
    };

    if (childImageViewModel != null)
    {
        childImageViewModel.HasScreenSource = true;
    }
}

<div class="@(activePage) main-documents mx-3">
    <nav class="nav sub-tab">
        <a class="doc-menu nav-link active ml-1" href="#" data-content="content-doc">@Localizer["Documents"]</a>
        <a class="doc-menu nav-link ml-0" href="#" data-content="content-corr">@Localizer["Outgoing Correspondence"]</a>
        @if (showFileHistory)
        {
            <a class="doc-menu nav-link ml-0" href="#" data-content="content-file">@Localizer["PTO Documents"]</a>
        }
    </nav>
</div>

<div class="mx-3 mb-2 @(activePage) main-documents-content sub-tab-content">
    <div class="content content-doc">
        @await Html.PartialAsync("~/Views/Document/_DocumentViewer.cshtml", childImageViewModel)
    </div>
    <div class="content content-corr d-none">
        @await Component.InvokeAsync("GridDocsOut", gridDocsOutViewModel)
    </div>
    @if (showFileHistory)
    {
        <div class="content content-file d-none">
            @await Html.PartialAsync("~/Views/Document/_DocumentFileHistory.cshtml", Model.FileHistoryViewModel)
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        mainDocumentsHandleMenu();
    });

    mainDocumentsHandleMenu = () => {
        const container = $(".@(activePage).main-documents");
        const contentContainer = $(".@(activePage).main-documents-content");

        let prevContent = container.find("a.active").data("content");

        container.find("a").click(function (e) {
            e.preventDefault();

            const content = $(this).data("content");

            if (prevContent === content)
                return;

            $.each(container.find("a"), function () {
                $(this).removeClass("active");
            });
            $(this).addClass("active");

            $.each(contentContainer.find(".content"), function () {
                $(this).addClass("d-none");
            });
            const selected = $(this).data("content");
            contentContainer.find(`.${selected}`).removeClass("d-none");

            if (selected === "content-corr") {
                const docsOutGrid = contentContainer.find('[id^=docsOutGrid]').data("kendoGrid");
                docsOutGrid.dataSource.read();
            }
            else if (selected === "content-file") {
                const fileHistory = contentContainer.find('[id^=fileHistoryGrid]').data("kendoGrid");
                fileHistory.dataSource.read();
            }
            else if (selected === "content-signature") {
                const signature = contentContainer.find('[id^=eSignatureGrid]').data("kendoGrid");
                signature.dataSource.read();
            }
            prevContent = content;
        });
    }
</script>