@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();

    var canModify = (bool)ViewData["CanModify"];
    var systemType = ViewData["SystemType"];

    var caseNumberLabel = settings.IsClientMatterOn ? Localizer[settings.LabelClientMatter] : Localizer[settings.LabelCaseNumber];
    var gridName = "signatureReviewGrid";

    var qeLinkUrl = Url.Action("DetailLink", "QuickEmailSetup", new
    {
        Area = "Shared",
        id = "actualValue"
    });
    var ctryAppUrl = Url.Action("DetailLink", "CountryApplication", new
    {
        Area = "Patent",
        id = "actualValue"
    });
    var qeTemplateNameTemplate = $"<span class='pr-3'>#=SignatureQETemplateName ? kendo.htmlEncode(SignatureQETemplateName) : ''#</span><i style='#=SignatureQETemplateName ? '' : 'display:none'#' class='fal fa-search-plus btn-link qeTemplateLink' data-url='{qeLinkUrl}' title='{Localizer["Open Quick Email Setup"]}'></i>";
    var countryLinkTemplate = $"<span class='pr-3'>#=Country ? kendo.htmlEncode(Country) : ''#</span><i style='#=Country ? '' : 'display:none'#' class='fal fa-search-plus btn-link ctryLink'></i>";
    var fileNameTemplate = $"<span class='pr-3'>#=FileName ? kendo.htmlEncode(FileName) : ''#</span><i style='#=FileName ? '' : 'display:none'#' class='fal fa-search-plus btn-link fileLink' title='{Localizer["View file"]}'></i>";

    var viewUrl = Url.Action("ZoomImageLink", "DocViewer", new { Area = "Shared" });

    var docsOutViewerUrl = "";
    docsOutViewerUrl = Url.Action("ZoomDocsOut", "DocViewer", new { Area = "Shared", systemType = systemType });

    if (settings.IsSharePointIntegrationOn)
    {
        docsOutViewerUrl = Url.Action("GetLogPreviewUrl", "SharePointGraph", new { Area = "Shared" });
    }
}

<script>

    $(document).ready(() => {
        const grid = $("#@gridName");

        grid.on("click", ".qeTemplateLink", (e) => {
            e.stopPropagation();

            let url = $(e.target).data("url");
            const row = $(e.target).closest("tr");
            const dataItem = grid.data("kendoGrid").dataItem(row);
            const linkUrl = url.replace("actualValue", dataItem.QESetupId);
            window.open(linkUrl, '_blank');
        });

        grid.on("click", ".ctryLink", (e) => {
            e.stopPropagation();
            const ctryAppUrl = "@ctryAppUrl";

            const row = $(e.target).closest("tr");
            const dataItem = grid.data("kendoGrid").dataItem(row);
            let linkUrl = "";

            if (dataItem.ScreenCode == "CA")
                linkUrl = ctryAppUrl;

            if (linkUrl > '') {
                linkUrl = linkUrl.replace("actualValue", dataItem.ParentId);
                window.open(linkUrl, '_blank');
            }

        });

        grid.on("click", ".fileLink", (e) => {
            e.stopPropagation();
            const isSharePointIntegrationOn = @settings.IsSharePointIntegrationOn.ToString().ToLower();

            const row = $(e.target).closest("tr");
            const dataItem = $("#@gridName").data("kendoGrid").dataItem(row);
            if (dataItem) {
                if (dataItem.Source == "DU" && isSharePointIntegrationOn)
                    sharePointGraphHelper.viewFileGrid(e, '@gridName')
                else if (dataItem.Source == "DU") {
                    let url = "@Html.Raw(viewUrl)";
                    url = url + "?system=" + dataItem.SystemTypeName + "&imageFile=" + dataItem.DocFileName + "&screenCode=" + dataItem.ScreenCode + "&key=" + dataItem.ParentId + "&fileType=7";
                    documentPage.zoomDocument(url)
                }
                else if ((dataItem.Source == "LG" || dataItem.Source == "EFS") && isSharePointIntegrationOn) {
                    let url = "@Html.Raw(docsOutViewerUrl)";
                    url = url + "?documentCode=" + (dataItem.Source == "LG" ? "Let" : "EFS") + "&id=" + dataItem.DriveItemId;
                    sharePointGraphHelper.openSharePointUrl(url);
                }
                else if (dataItem.Source == "LG" || dataItem.Source == "EFS") {
                    let url = "@Html.Raw(docsOutViewerUrl)";
                    url = url + "&documentCode=" + dataItem.DocumentCode + "&docLogId=" + dataItem.DocLogId + "&screenCode=" + dataItem.ScreenCode + "&key=" + dataItem.ParentId;
                    documentPage.zoomDocument(url);
                }
            }
        });

        // grid.on("input", ".k-checkbox", (e) => {
        //     grid.find(".esigr-save-buttons").removeClass("d-none");
        //     grid.find(".esigr-review-all").addClass("d-none");
        // });

        grid.on("click", ".esigr-cancel-button", (e) => {
            e.stopPropagation();
            grid.data("kendoGrid").dataSource.read();
            grid.find(".esigr-save-buttons").addClass("d-none");
            grid.find(".esigr-review-all").removeClass("d-none");
        });

        grid.on("click", ".esigr-save-button", (e) => {
            e.stopPropagation();
            cpiLoadingSpinner.show();
            pageHelper.kendoGridSave({
                name: 'signatureReviewGrid', afterSubmit: () => {
                    cpiLoadingSpinner.hide();
                    $("#signatureSendGrid").data("kendoGrid").dataSource.read();
                }
            });
            grid.find(".esigr-save-buttons").addClass("d-none");
            grid.find(".esigr-review-all").removeClass("d-none");
        });

        grid.on("click", ".esigr-review-all", (e) => {
            e.stopPropagation();

            const forReviews = $("#signatureReviewGrid").data("kendoGrid").dataSource.data().map((r) => { return { DocId: r.DocId } });
            const selectedIds = $("#signatureReviewGrid").data("kendoGrid").selectedKeyNames();
            const selection = selectedIds.map((item) => {
                const existing = forReviews.find(r => r.DocId === item);
                if (existing)
                    return existing;    
            });

            if (selection.length > 0) {
                const title = grid.closest(".review-signature").data("confirm");
                const reviewPrompt = grid.closest(".review-signature").data("review-prompt");
                cpiConfirm.confirm(title, reviewPrompt, function () {
                    cpiLoadingSpinner.show();

                    const baseUrl = $("body").data("base-url");
                    const url = `${baseUrl}/Shared/Signature/SignatureMarkAllReviewed`;
                    $.post(url, { updated: selection, systemType: '@systemType' })
                        .done((result) => {
                            cpiLoadingSpinner.hide();
                            $("#signatureReviewGrid").data("kendoGrid").dataSource.read();
                            $("#signatureSendGrid").data("kendoGrid").dataSource.read();
                        })
                        .fail(function (error) {
                            cpiLoadingSpinner.hide();
                            pageHelper.showErrors(error);
                        });
                });
            }

        });
    });

</script>

<div class="review-signature"
     data-confirm="@Localizer["Please Confirm"]"
     data-review-prompt="@Localizer["Are you sure you want to mark all selected records as reviewed?"]">
    @(
        Html.Kendo().Grid<DocReviewDTO>()
        .Name(gridName)
        .Columns(columns =>
        {
            columns.Select().Width(50);
            columns.Bound(r => r.Screen).Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(r => r.SourceDescription).Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(r => r.CaseNumber).Title(caseNumberLabel).Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(r => r.Country).Width(100).ClientTemplate(countryLinkTemplate).Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(r => r.SubCase).Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(r => r.FileName).ClientTemplate(fileNameTemplate).Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(r => r.DateUploaded).Format("{0:dd-MMM-yyyy}");
            columns.Bound(r => r.UploadedBy).Filterable(ftb => ftb.Multi(true).Search(true));
            columns.Bound(r => r.SignatureQETemplateName).ClientTemplate(qeTemplateNameTemplate).Filterable(ftb => ftb.Multi(true).Search(true));
            @*   columns.Bound(r => r.SignatureReviewed)
    .ClientTemplate("<i class='fa fal #: SignatureReviewed ? 'fa-check' : ''#'></i>").HtmlAttributes(new { @class = "text-center" })
    .HeaderHtmlAttributes(new { @class = "-text-center" })
    .Width(100)
    .EditorTemplateName("CheckBox")
    .HtmlAttributes(new { @class = canModify ? "editable-cell" : "" }); *@
            columns.Command(command =>
    {
                command.Custom("ViewRecipients").Text(Localizer[" "]).Click("function(e) {viewDocuSignRecipients(e,this)}").IconClass("k-icon fal fa-user esig-icon-recipients").HtmlAttributes(new { style = "width:40px;", title = Localizer["View recipients"] });
            });
        })
        //.Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .ToolBar(toolbar =>
        {
            if (canModify)
            {
                @*     toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(Localizer["Save"]).HtmlAttributes(new { @class = "esigr-save-button esigr-save-buttons d-none" });
    toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(Localizer["Cancel"]).HtmlAttributes(new { @class = "esigr-cancel-button esigr-save-buttons d-none" }); *@
                toolbar.Custom().Name("Review").IconClass("k-icon fal fa-check-double").Text(Localizer["Mark Selected"]).HtmlAttributes(new { @class = "esigr-review-all" });
            }

        })
        .PersistSelection()
        @* .Editable(editable => editable.Enabled(canModify)
    .Mode(GridEditMode.InCell).
    ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false)) *@
        .Editable(editable => editable.Enabled(false))
        .Sortable(sort => sort.AllowUnsort(false))
        .Pageable(page => page.PageSizes(settings.SearchResultsPageSizeOptions).Refresh(true).Responsive(false))
        .Filterable(ftb => ftb.Enabled(true))
        .AutoBind(true)
        .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(settings.SearchResultsPageSize)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(p => p.DocId);
            model.Field(p => p.SystemName).Editable(false);
            model.Field(p => p.Screen).Editable(false);
            model.Field(p => p.Source).Editable(false);
            model.Field(p => p.FileName).Editable(false);
            model.Field(p => p.DateUploaded).Editable(false);
            model.Field(p => p.UploadedBy).Editable(false);
            model.Field(p => p.CaseNumber).Editable(false);
            model.Field(p => p.Country).Editable(false);
            model.Field(p => p.SubCase).Editable(false);
            model.Field(p => p.SignatureQETemplateName).Editable(false);
        })
        .Read(create => create.Action("SignatureReviewRead", "Signature", new { systemType = systemType, displayType = "RV" }))
        .Sort(sort => sort.Add(d => d.DateUploaded).Descending())
        //.Update(create => create.Action("SignatureReviewUpdate", "Signature", new { systemType = systemType }))
        .Events(events =>
        {
            events.Error("pageHelper.onGridError");
        })
        )
        .HtmlAttributes(new { @class = "kendo-Grid" })
        )
</div>

