@model FormIFWActionMap
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();

    var area = "Shared";
    var controller = "FormIFW";
    var screen = "formExtractEdit";
    var action = "GetPicklistActionMap";

}

<div id="actionMapEditorDialog" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="actionMapEditorDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="actionMapEditorDialogTitle">@Localizer["IFW Action Mapping"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="@Localizer["Close"]">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container-fluid">
                <form id="actionMapEditorForm" asp-area="Shared" asp-controller="FormIFW" asp-action="IFWActionMapSave" method="post">
                    <div id="errorSummary" class="alert alert-danger d-none alert-dismissible fade show" role="alert">
                        <div class="content"></div>
                        <button type="button" class="close alert-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="cpiMainEntry">
                        <input type="hidden" asp-for="MapId" />
                        <input type="hidden" asp-for="DocTypeId" />
                        <input type="hidden" asp-for="CreatedBy" />
                        <input type="hidden" asp-for="DateCreated" />
                        @if (Model.MapId > 0)
                        {
                            <input type="hidden" name="tStamp" value="@Convert.ToBase64String(Model.tStamp)" />
                        }

                        <div class="form-row">
                            <div class="col">
                                <div class="form-group float-label">
                                    <label for="PMSActionType"></label>
                                    @await Component.InvokeAsync("ComboBox", new
                                    {
                                        name = "PMSActionType",
                                        textProperty = "PMSActionType",
                                        valueProperty = "PMSActionType",
                                        defaultValue = Model.PMSActionType,
                                        controller = controller,
                                        area = area,
                                        screen = screen,
                                        action = action,
                                        required = true
                                    })
                                    <span asp-validation-for="PMSActionType"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group float-label">
                                    <label for="PMSActionDue"></label>
                                    @await Component.InvokeAsync("ComboBox", new
                                    {
                                        name = "PMSActionDue",
                                        textProperty = "PMSActionDue",
                                        valueProperty = "PMSActionDue",
                                        defaultValue = Model.PMSActionDue,
                                        controller = controller,
                                        area = area,
                                        screen = screen,
                                        action = action,
                                        required = true
                                    })
                                    <span asp-validation-for="PMSActionDue"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-3">
                                <div class="form-group float-label">
                                    <label for="Yr">@Localizer["Term Year"]</label>
                                    @(Html.Kendo().NumericTextBoxFor<int>(model => model.Yr).Format("N0").Min(-5).Max(5).Step(1).Value(Model.Yr))
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group float-label">
                                    <label for="Mo">@Localizer["Term Months"]</label>
                                    @(Html.Kendo().NumericTextBoxFor<int>(model => model.Mo).Format("N0").Min(-24).Max(24).Step(1).Value(Model.Mo))
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group float-label">
                                    <label for="Dy">@Localizer["Term Days"]</label>
                                    @(Html.Kendo().NumericTextBoxFor<int>(model => model.Dy).Format("N0").Min(-365).Max(365).Step(1).Value(Model.Dy))
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group float-label">
                                        <label for="Indicator"></label>
                                        @await Component.InvokeAsync("ComboBox", new
                                        {
                                            name = "Indicator",
                                            textProperty = "Indicator",
                                            valueProperty = "Indicator",
                                            defaultValue = Model.Indicator,
                                            controller = "Indicator",
                                            area = "Patent",
                                            screen = screen,
                                            required = true
                                        })
                                        <span asp-validation-for="Indicator"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="save" type="submit" class="btn btn-primary d-none"><i class="fa fa-check pr-2"></i>@Localizer["Save"]</button>
                        <button id="cancel" type="button" class="btn btn-secondary  float-right" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Cancel"]</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>



<script>
    $(document).ready(function () {
       
        formExtractIFW.initializeActionMapEditor({
            modalDialogId: "#actionMapEditorDialog",
            actionMapGridId: "#gridIFWActions",
        });

    });
</script>