@model FormIFWDetailViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<PatSetting> Settings
@{
    var settings = await Settings.GetSetting();

    var ifwId = Model.IFWId;
    var caseNumberLabel = settings.IsClientMatterOn ? Localizer[settings.LabelClientMatter] : Localizer[settings.LabelCaseNumber];
    var clientNameLabel = Localizer[settings.LabelClientName];

    var labelHeader = Localizer["This screen allows you to extract data from the USPTO's Image File Wrapper (IFW) document and generate office actions based on that data."];
    var label1 = Localizer["Extract the data from the IFW document by clicking 'Extract Form Data' button."];
    var label2 = Localizer["Go to the 'Actions' tab and review existing actions. You may generate new actions using the extracted data."];
    var label3 = Localizer["You may also use the extracted data to update the Remarks field on the Application screen on the 'Other Info' tab."];
    var label4 = Localizer["To view the IFW document, go to the 'Document Preview' tab."];

    var extractTitle = Localizer["Confirm Form Data Extraction"];
    var extractMessage = Localizer["This will extract the IFW form data using Azure Form Recognizer. It will delete previously extracted data. The process may take a few seconds. Do you want to continue?"];
    var successMessage = Localizer["Form data extraction completed."];
    var updateIncludeSuccessMessage = Localizer["Record updated successfully."];
    var updateIncludeFailMessage = Localizer["Failed to update record."];

    var buttonLabel = Localizer["Extract Form Data"];

    var extractUrl = Url.Action("ExtractActionFormData", "FormIFW", new
    {
        Area = "Shared",
        plAppId = Model.PLAppId,
        ifwId = Model.IFWId,
        docTypeId = Model.DocTypeId,
        fileName = Model.FileName,
        noPages = Model.NoPages,
        pageStart = Model.PageStart,
        scanPages = Model.ScanPages
    });
    var aiIncludeUrl = Url.Action("UpdateAIInclude", "FormIFW", new { Area = "Shared" });

}

<div class="pl-3">

    <div class="form-row">
        <div class="col-6 pr-2">
            <div class="form-row pt-3 pb-3" style="font-size: small;">
                <b>@labelHeader</b>
                <ul>
                    <li>@label1</li>
                    <li>@label2</li>
                    <li>@label3</li>
                    <li>@label4</li>
                </ul>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="AppNo"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="AppNo" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="FilDate"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="FilDate" asp-format="{0:dd-MMM-yyyy}" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="PubNo"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="PubNo" readonly />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group float-label">
                        <label asp-for="PubDate"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="PubDate" asp-format="{0:dd-MMM-yyyy}" readonly />
                    </div>
                </div>

            </div>
            <div class="form-row">
                <div class="col-3">
                    <div class="form-group float-label">
                        <label asp-for="PatNo"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="PatNo" readonly />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group float-label">
                        <label asp-for="IssDate"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="IssDate" asp-format="{0:dd-MMM-yyyy}" readonly />
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6 pl-2 pr-3">
            <div class="form-row">
                <div class="col-6">
                    <a class="nav-link cpiExtractFormData" role="button" href="#" title="@buttonLabel"><i class="fal fa-cloud-download pr-1"></i><span>@buttonLabel</span></a>

                </div>
                <div class="col d-flex justify-content-end">
                    <div class="exclude-ai">
                        <label class="option-name" style="font-size: small;" for="excludeAI">@Localizer["Include in AI Mass Extraction"]</label>
                        <span>
                            <label class="toggle-switch">
                                <input id="aiInclude" type="checkbox" class="toggle-option" @(Model.AIInclude ? "checked" : "" )>
                                <span class="slider round"></span>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                @(Html.Kendo().Grid<FormDataViewModel>()
                        .Name("gridFormData")
                        .Columns(columns =>
                        {
                            columns.Bound(d => d.FieldLabel);
                            columns.Bound(d => d.FieldData);
                            columns.Bound(d => d.Confidence);
                        })
                        .AutoBind(true)
                        .Pageable(page => page.PageSizes(true).Refresh(true))
                        .Scrollable(s => s.Height("auto"))
                        .Sortable(sort => sort.AllowUnsort(false))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            //.Events(events => events.RequestEnd("formExtractIFW.searchResultGridRequestEnd"))
                            .PageSize(10)
                            .Read(read => read.Action("ExtractedDataRead", "FormIFW", new { ifwId = ifwId }))
                            //.Sort(sort => sort.Add(a => a.CaseNumber))
                         )
                        //.Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                        //.HtmlAttributes(new { @class = "kendo-Grid" })
                    )
            </div>

        </div>

    </div>
</div>

<style>
    #gridFormData .k-grid-content {
        min-height: 100px;
        max-height: 300px;
    }
</style>

<script>
    $(document).ready(function () {
        const extractUrl = "@Html.Raw(extractUrl)";
        const aiIncludeUrl = "@Html.Raw(aiIncludeUrl)";
        formExtractIFW.initializeExtractFormTab({
            ifwId: @Model.IFWId,
            extractUrl: extractUrl,
            aiIncludeUrl: aiIncludeUrl,
            extractTitle: "@extractTitle",
            extractMessage: "@extractMessage",
            successMessage: "@successMessage",
            updateIncludeSuccessMessage: "@updateIncludeSuccessMessage",
            updateIncludeFailMessage: "@updateIncludeFailMessage"
        });

     });
</script>
