@model FormIFWActionViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<PatSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var actionDaysRange = settings.FormRecognizerActionDayRange;

    var labelHeader0 = Localizer["NEW ACTIONS:"];
    var labelHeader1 = Localizer["The action term for this record is empty. Please go to the 'Extracted Data' tab to extract the data or go to the 'Document Preview' to verify that you have the correct document."];
    var labelHeader2 = Localizer["Below are the actions to generate based on the extracted action term (Months to Reply) from the USPTO. Click 'Generate Actions' button to add actions to the Patent System."];
    var labelHeader10 = Localizer["PATENT SYSTEM ACTIONS:"];
    var labelHeader11 = Localizer["Below are actions in your Patent System that fall within the specified range of computed due date. Please review this list before generating new actions."];

    var ifwGridTitle = string.IsNullOrEmpty(Model.PMSActionType) ? Localizer["Action Due"] : Model.PMSActionType;

    var genTitle = Localizer["Confirm Action Generation"];
    var genMessage = Localizer["This will generate the selected actions. Do you want to continue?"];
    var genButtonLabel = Localizer["Generate Actions"];
    var mapButtonLabel = Localizer["Action Mapping"];
    var refreshButtonLabel = Localizer["Refresh Actions"];

    var genActionUrl = Url.Action("GenIFWAct", "FormIFW");
    var actionEditUrl = Url.Action("GetActionMapEditView", "FormIFW", new { Area = "Shared" });

    var genErrorMessage = Localizer["Error encountered during action generation."];
    var genSuccessMessage = Localizer["Action successfully generated. Existing Actions: {existingActions}, Actions Added: {actionsAdded}"];

}

<script>
    gridPMSActions_GetParam = function () {
        return { ifwId: @Model.IFWId, daysRange: $("#DaysRange").data("kendoNumericTextBox").value(), outstandingOnly: $(".grid-options #showOutstandingPMSActionsOnly").is(':checked') }
    }

    // change class of row with due date = IFW due date
    function gridPMSActions_Databound(e) {
        var grid = $("#gridPMSActions").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            if (row.IsEqualDueDate) {
                var element = $('tr[data-uid="' + row.uid + '"] ');
                $(element).addClass("cpiDataHilite");
            }
        });
    }

</script>


<div class="pl-2 pr-2">
    <div class="form-row">
        <div class="col-3">
            <div class="form-group float-label">
                <label asp-for="ActionDue.ActionDesc"></label>
                <input type="text" class="form-control form-control-sm" value="@(Model.ActionDue.ActionDesc)" disabled />
            </div>
        </div>
        <div class="col-1">
            <div class="form-group float-label">
                <label asp-for="ActionDue.BaseDate"></label>
                <input type="text" class="form-control form-control-sm" value="@(Model.ActionDue.BaseDate.FormatToDisplay())" disabled />
            </div>
        </div>
        <div class="col-1">
            <div class="form-group float-label">
                <label asp-for="ActionDue.TermMonth"></label>
                <input type="text" class="form-control form-control-sm" asp-for="ActionDue.TermMonth" readonly />
            </div>
        </div>
        <div class="col-1">
            <div class="form-group float-label">
                <label asp-for="ActionDue.DueDate"></label>
                <input type="text" class="form-control form-control-sm" value="@(Model.ActionDue.DueDate.FormatToDisplay())" disabled />
            </div>
        </div>
    </div>
    <div class="form-row pt-2">
        <div class="col-6 pr-2">
            <div class="form-row">
                <div class="col" style="font-size: small;">
                    @{ if (Model.ActionDue.TermMonth == null)
                        {
                            <span><b>@labelHeader0</b>&nbsp; <i>@labelHeader1</i></span>
                        }
                        else
                        {
                            <span><b>@labelHeader0</b>&nbsp; <i>@labelHeader2</i></span>
                            <div class="form-row">
                                <div class="col-6">
                                    <a class="nav-link cpiGenIFWAction" role="button" href="#" title="@genButtonLabel"><i class="fal fa-plus pr-1"></i><span>@genButtonLabel</span></a>
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <a class="nav-link cpiOpenActionMap" role="button" href="#" title="@mapButtonLabel"><i class="fal fa-search pr-1"></i><span>@mapButtonLabel</span></a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="form-row border" id="gridIFWActionsContainer">
                @(Html.Kendo().Grid<FormIFWDueDateViewModel>()
                    .Name("gridIFWActions")
                    .Columns(columns =>
                    {
                        columns.Bound(a => a.ActionDue).Title(ifwGridTitle);
                        columns.Bound(a => a.DueDate).Format("{0:dd-MMM-yyyy}").Width(120);
                        columns.Bound(a => a.Indicator).Width(120);
                    })
                    .AutoBind(true)
                    .Pageable(page => page.PageSizes(true).Refresh(true))
                    .Scrollable(s => s.Height("auto"))
                    .Sortable(sort => sort.AllowUnsort(false).ShowIndexes(false))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(10)
                        .Read(read => read.Action("IFWActMapRead", "FormIFW", new { baseDate = Model.ActionDue.BaseDate, docTypeId = Model.DocTypeId, termMonth = Model.ActionDue.TermMonth }))
                        .Sort(sort => sort.Add("DueDate").Ascending())
                    )
                    .HtmlAttributes(new { @class = "kendo-Grid" })
                )
            </div>
        </div>
        <div class="col-6 pl-2">
            @{ if (Model.ActionDue.TermMonth != null)
                {
                    <div class="form-row">
                        <div class="col" style="font-size: small;">
                            <span><b>@labelHeader10</b>&nbsp; <i>@labelHeader11</i></span>
                            <div class="form-row">
                                <div class="col">
                                    <a class="nav-link cpiPMSRefreshAction" role="button" href="#" title="@refreshButtonLabel"><i class="fal fa-search pr-1"></i><span>@refreshButtonLabel</span></a>
                                </div>

                                <div class="col-3 d-flex justify-content-end">
                                    <label>@Localizer["Due Date Range (in days)"]</label>
                                </div>
                                <div class="col-2">
                                    @(Html.Kendo().NumericTextBox<int>()
                                        .Name("DaysRange")
                                        .Format("N0")
                                        .Min(0)
                                        .Max(999)
                                        .Step(1)
                                        .Value(5)
                                        .HtmlAttributes(new { style = "width: 100%", title = Localizer["Range (in Days)"] })
                                    )
                                </div>
                                <div class="col-4 grid-options">
                                    <div class="show-outstanding-actions">
                                        <label class="option-name" style="font-size: small;" for="showOutstandingPMSActionsOnly">@Localizer["Show Outstanding Only"]</label>
                                        <span>
                                            <label class="toggle-switch">
                                                <input id="showOutstandingPMSActionsOnly" type="checkbox" class="toggle-option">
                                                <span class="slider round"></span>
                                            </label>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="form-row border" id="gridPMSActionsContainer">
                        @(Html.Kendo().Grid<FormPMSActionViewModel>()
                            .Name("gridPMSActions")
                            .Columns(columns =>
                            {
                                columns.Bound(a => a.IsEqualDueDate).Hidden();
                                columns.Bound(a => a.ActionType);
                                columns.Bound(a => a.ActionDue)
                                    //.ClientTemplate("#= (data.IsEqualDueDate) ? hiliteData(ActionDue) : ActionDue #");
                                ;
                                columns.Bound(a => a.DueDate).Format("{0:dd-MMM-yyyy}").Width(120)
                                    //.ClientTemplate("#= (data.IsEqualDueDate) ? hiliteData(kendo.toString(data.DueDate, 'dd-MMM-yyyy')) : kendo.toString(data.DueDate, 'dd-MMM-yyyy') #")
                                ;
                                columns.Bound(a => a.Indicator).Width(120);
                                columns.Bound(a => a.DateTaken).Format("{0:dd-MMM-yyyy}").Width(120);
                            })
                            .AutoBind(false)
                            .Pageable(page => page.PageSizes(true).Refresh(true))
                            .Scrollable(s => s.Height("auto"))
                            .Sortable(sort => sort.AllowUnsort(false).ShowIndexes(false))
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(10)
                                .Read(read => read.Action("PMSActionRead", "FormIFW").Data("gridPMSActions_GetParam"))
                                .Sort(sort => sort.Add("DueDate").Ascending())
                            )
                            //.Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                            .HtmlAttributes(new { @class = "kendo-Grid" })
                            .Events(events => events.DataBound("gridPMSActions_Databound"))
                        )
                    </div>
                }
            }
        </div>
    </div>
</div>

<style>
    #gridPMSActions, #gridIFWActions {
        font-size: .9rem;
    }

        #gridPMSActions .k-grid-content, #gridIFWActions .k-grid-content {
            min-height: 100px;
            max-height: 200px;
        }

    .k-grid tr.cpiDataHilite {
        /*background-color: lightyellow !important;*/
        color: red;
    }
</style>


<script>

    $(document).ready(function () {
        const genActionUrl = "@Html.Raw(genActionUrl)";
        const actionEditUrl = "@Html.Raw(actionEditUrl)";

        formExtractIFW.initializeActMapTab({
            ifwId: @Model.IFWId,
            mapHdrId: @Model.MapHdrId,
            gridPMSActionId: "#gridPMSActions",
            actionDaysRange: @actionDaysRange,
            genTitle: "@genTitle",
            genMessage: "@genMessage",
            genActionUrl: genActionUrl,
            genErrorMessage: "@genErrorMessage",
            genSuccessMessage: "@genSuccessMessage",
            actionEditUrl: actionEditUrl
        });

    });

</script>
