@model FormIFWDetailViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<PatSetting> Settings
@{
    var settings = await Settings.GetSetting();


    var caseNumberLabel = settings.IsClientMatterOn ? Localizer[settings.LabelClientMatter] : Localizer[settings.LabelCaseNumber];
    var clientNameLabel = Localizer[settings.LabelClientName];
    var attorneyLabel = (Model.Attorney1 + " " + Model.Attorney2 + " " + Model.Attorney3).Trim().Replace(" ", ", ");

    var previewUrl = Url.Action("PreviewDocument", "FormIFW", new { Area = "Shared", plAppId = Model.PLAppId, fileName = Model.FileName, noPages = Model.NoPages, pageStart = Model.PageStart });
    var actionUrl = Url.Action("GetActionMapView", "FormIFW", new { Area = "Shared", plAppId = Model.PLAppId, ifwId = Model.IFWId, docTypeId = Model.DocTypeId });
    var actUrl = Url.Action("GetActMapView", "FormIFW", new { Area = "Shared", plAppId = Model.PLAppId, ifwId = Model.IFWId, docTypeId = Model.DocTypeId });
    var otherInfoUrl = Url.Action("GetOtherInfoView", "FormIFW", new { Area = "Shared", ifwId = Model.IFWId });

}

<div style="border: solid; border-width: thin; border-color: silver;">
    <div class="page-content">
        <div class="form-row">
            <div class="col">
                <span><b>@Model.Description</b> </span>
            </div>
            <div class="justify-content-end">
                <span style="font-style: italic">@Localizer["IFW Action"]</span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-2">
                <div class="form-group float-label">
                    <label asp-for="CaseNumber">@caseNumberLabel</label>
                    <input type="text" class="form-control form-control-sm" asp-for="CaseNumber" readonly />
                </div>
            </div>
            <div class="col-1">
                <div class="form-group float-label">
                    <label asp-for="Country"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Country" readonly />
                </div>
            </div>
            <div class="col-1">
                <div class="form-group float-label">
                    <label asp-for="SubCase"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="SubCase" readonly />
                </div>
            </div>
            <div class="col-1">
                <div class="form-group float-label">
                    <label asp-for="CaseType"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="CaseType" readonly />
                </div>
            </div>
            <div class="col-1">
                <div class="form-group float-label">
                    <label asp-for="ApplicationStatus"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="ApplicationStatus" readonly />
                </div>
            </div>


            <div class="col">
                <div class="form-group float-label">
                    <label asp-for="ClientName">@clientNameLabel</label>
                    <input type="text" class="form-control form-control-sm" asp-for="ClientName" readonly />
                </div>
            </div>

            <div class="col-1">
                <div class="form-group float-label">
                    <label>@Localizer["Attorneys"]</label>
                    <input type="text" class="form-control form-control-sm" value="@attorneyLabel" disabled />
                </div>
            </div>
            <div class="col-3">
                <div class="form-group float-label">
                    <label asp-for="AppTitle"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="AppTitle" readonly />
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" id="ifwActionTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="ifwActionFormData" data-toggle="tab" role="tab" aria-controls="ifwActionFormDataContent" aria-selected="true" href="#ifwActionFormDataContent">@Localizer["Extracted Data"]</a>
            </li>
            @*@if (settings.FormRecognizerShowActionTab)
            {
                <li class="nav-item">
                    <a class="nav-link" id="ifwActionMapTab" data-toggle="tab" role="tab" aria-controls="ifwActionMapTabContent" aria-selected="true" href="#ifwActionMapTabContent">@Localizer["Actions (Old)"]</a>
                </li>
            }*@

            <li class="nav-item">
                <a class="nav-link" id="ifwActMapTab" data-toggle="tab" role="tab" aria-controls="ifwActMapTabContent" aria-selected="true" href="#ifwActMapTabContent">@Localizer["Actions"]</a>
            </li>

            @if (settings.FormRecognizerShowOtherInfoTab)
            {
                <li class="nav-item">
                    <a class="nav-link" id="ifwOtherInfoTab" data-toggle="tab" role="tab" aria-controls="ifwOtherInfoTabContent" aria-selected="true" href="#ifwOtherInfoTabContent">@Localizer["Other Info"]</a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link" id="ifwDocPreviewTab" data-toggle="tab" role="tab" aria-controls="ifwDocPreviewTabContent" aria-selected="true" href="#ifwDocPreviewTabContent">@Localizer["Document Preview"]</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane show active" id="ifwActionFormDataContent" role="tabpanel" aria-labelledby="ifwActionFormData">
                @await Html.PartialAsync("_DetailIFWActionFormData.cshtml", Model)

            </div>
            @*@if (settings.FormRecognizerShowActionTab)
            {
                <div class="tab-pane" id="ifwActionMapTabContent" role="tabpanel" aria-labelledby="ifwActionMapTab">
                    <div id="ifwActionMapContainer">
                    </div>
                </div>
            }*@

            <div class="tab-pane" id="ifwActMapTabContent" role="tabpanel" aria-labelledby="ifwActMapTab">
                <div id="ifwActMapContainer">
                </div>
            </div>

            @if (settings.FormRecognizerShowOtherInfoTab)
            {
                <div class="tab-pane" id="ifwOtherInfoTabContent" role="tabpanel" aria-labelledby="ifwOtherInfoTab">
                    <div id="ifwOtherInfoContainer">
                    </div>
                </div>
            }
            <div class="tab-pane" id="ifwDocPreviewTabContent" role="tabpanel" aria-labelledby="ifwDocPreviewTab">
                <div id="ifwDocPreviewContainer">
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        const previewUrl = "@Html.Raw(previewUrl)";
        const actionUrl = "@Html.Raw(actionUrl)";
        const actUrl = "@Html.Raw(actUrl)";
        const otherInfoUrl = "@Html.Raw(otherInfoUrl)";
        formExtractIFW.initializeActionPage({
            tabName: "ifwActionTab",
            actionTab: "ifwActionMapTab",
            actTab: "ifwActMapTab",
            otherInfoTab: "ifwOtherInfoTab",
            previewTab: "ifwDocPreviewTab",

            previewUrl: previewUrl,
            actionUrl: actionUrl,
            actUrl: actUrl,
            otherInfoUrl: otherInfoUrl,

            actionContainer: "ifwActionMapContainer",
            actContainer: "ifwActMapContainer",
            otherInfoContainer: "ifwOtherInfoContainer",
            docViewerContainer: "ifwDocPreviewContainer",

        });

     });
</script>

<style>
    .float-label.inactive:not(.disabled) > label {
        font-size: .75rem;
    }

    label {
        font-size: 0.75rem;
    }
</style>
