@model FormIFWActionViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<PatSetting> Settings
@{ 
    var settings = await Settings.GetSetting();
    var actionDaysRange = settings.FormRecognizerActionDayRange;

    var labelHeader0 = Localizer["USPTO-MAPPED ACTIONS:"];
    var labelHeader1 = Localizer["The action term for this record is empty. Please go to the 'Extracted Data' tab to extract the data or go to the 'Document Preview' to verify that you have the correct document."];
    var labelHeader2 = Localizer["Below are the actions to generate based on the extracted action expiry from the USPTO. To generate, mark the actions to be included and click 'Generate Actions'."];
    var labelHeader10 = Localizer["PATENT SYSTEM ACTIONS:"];
    var labelHeader11 = Localizer["Below are actions in your Patent System that fall within the specified range of computed due date. Please review this list before generating new actions."];

    var genTitle = Localizer["Confirm Action Generation"];
    var genMessage = Localizer["This will generate the selected actions. Do you want to continue?"];
    var genButtonLabel = Localizer["Generate Actions"];
    var editButtonLabel = Localizer["Edit Actions"];
    var refreshButtonLabel = Localizer["Refresh Actions"];

    var genActionUrl = Url.Action("GenIFWAction", "FormIFW");
    var actionEditUrl = Url.Action("GetActionMapEditView", "FormIFW", new { Area = "Shared" });

    var genErrorMessage = Localizer["Error encountered during action generation."];
    var genSuccessMessage = Localizer["Action successfully generated. Existing Actions: {existingActions}, Actions Added: {actionsAdded}"];



}
<script>
    gridPMSActionsOld_GetParam = function () {
        return { ifwId: @Model.IFWId, daysRange: $("#DaysRangeOld").data("kendoNumericTextBox").value(), outstandingOnly: $(".grid-options #showOutstandingPMSActionsOnlyOld").is(':checked') }
    }

    function gridIFWActionsOld_Databound () {
        if (!$("#gridIFWActionsOld tbody input:checkbox").prop("checked")) {
            $("#gridIFWActionsOld tbody input:checkbox").trigger("click");
        }
    }

    // change class of row with due date = IFW due date
    function gridPMSActionsOld_Databound(e) {
        var grid = $("#gridPMSActionsOld").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            if (row.IsEqualDueDate) {
                var element = $('tr[data-uid="' + row.uid + '"] ');
                $(element).addClass("cpiDataHilite");
            }
        });
    }
  
</script>

<div class="pl-2 pr-2">
    <div class="form-row">
        <div class="col-3">
            <div class="form-group float-label">
                <label asp-for="ActionDue.ActionDesc"></label>
                <input type="text" class="form-control form-control-sm" value="@(Model.ActionDue.ActionDesc)" disabled />
            </div>
        </div>
        <div class="col-1">
            <div class="form-group float-label">
                <label asp-for="ActionDue.BaseDate"></label>
                <input type="text" class="form-control form-control-sm" value="@(Model.ActionDue.BaseDate.FormatToDisplay())" disabled />
            </div>
        </div>
        <div class="col-1">
            <div class="form-group float-label">
                <label asp-for="ActionDue.TermMonth"></label>
                <input type="text" class="form-control form-control-sm" asp-for="ActionDue.TermMonth" readonly />
            </div>
        </div>
        <div class="col-1">
            <div class="form-group float-label">
                <label asp-for="ActionDue.DueDate"></label>
                <input type="text" class="form-control form-control-sm" value="@(Model.ActionDue.DueDate.FormatToDisplay())" disabled />
            </div>
        </div>
    </div>
    <div class="form-row pt-2">
        <div class="col-7 pr-2">
            <div class="form-row">
                <div class="col" style="font-size: small;">
                    @{ if (Model.ActionDue.TermMonth == null)
                        {
                            <span><b>@labelHeader0</b>&nbsp; <i>@labelHeader1</i></span>
                        }
                        else
                        {

                            <span><b>@labelHeader0</b>&nbsp; <i>@labelHeader2</i></span>
                            <div class="form-row">
                                <div class="col-6">
                                    <a class="nav-link cpiGenIFWActionOld" role="button" href="#" title="@genButtonLabel"><i class="fal fa-plus pr-1"></i><span>@genButtonLabel</span></a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="form-row border" id="gridIFWActionsOldContainer">
                <form cpi-detail-form form-name="ifwActionMapForm">
                    @(Html.Kendo().Grid<FormIFWActionMap>()
                    .Name("gridIFWActionsOld")
                    .Columns(columns =>
                    {
                        if (Model.ActionDue.TermMonth != null) { columns.Select().Width(50); }
                        columns.Bound(a => a.PMSActionType);
                        columns.Bound(a => a.PMSActionDue);
                        columns.Bound(a => a.Yr).Width(50);
                        columns.Bound(a => a.Mo).Width(50);
                        columns.Bound(a => a.Dy).Width(50);
                        columns.Bound(a => a.Indicator).Width(120);
                        if (Model.ActionDue.TermMonth != null) { columns.Bound(a => a.DueDate).Format("{0:dd-MMM-yyyy}").Width(120); }
                        columns.Command(command =>
                        {
                            command.Custom("Edit").Click("function(e) {formExtractIFW.editActionMap(e,this)}").IconClass("k-icon fal fa-pencil-alt")
                                    .Text(" ")
                                    .HtmlAttributes(new { @class = "grid-action" });

                        }).Width(60);
                        columns.Command(command =>
                        {
                            command.Custom("Delete")
                                    .Click("function(e) {formExtractIFW.deleteGridRow(e,this)}")
                                    .IconClass("k-icon fal fa-trash-alt")
                                    .Text(" ")
                                    .HtmlAttributes(new { @class = "grid-action" });
                        }).Width(60);
                    })
                    .ToolBar(toolbar =>
                    {
                        toolbar.Custom().Name("Add").IconClass("k-icon fal fa-plus").Text(Localizer["Add"]).HtmlAttributes(new { onclick = "formExtractIFW.addActionMap()" });
                    })
                    .AutoBind(true)
                    .Pageable(page => page.PageSizes(true).Refresh(true))
                    .Scrollable(s => s.Height("auto"))
                    .Sortable(sort => sort.AllowUnsort(false))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(10)
                        .Model(model => model.Id(id => id.MapId))
                        .Read(read => read.Action("IFWActionMapRead", "FormIFW", new { docTypeId = Model.DocTypeId, dueDate = Model.ActionDue.DueDate }))
                        .Create(create => create.Action("IFWActionMapAdd", "FormIFW", new { docTypeId = Model.DocTypeId }))
                        .Update(update => update.Action("IFWActionMapUpdate", "FormIFW"))
                        .Destroy(delete => delete.Action("IFWActionMapDelete", "FormIFW"))
                    //.Sort(sort => { sort.Add(a => a.Yr); sort.Add(a => a.Mo); sort.Add(a => a.Dy); })
                    )
                    .Editable(editable => editable
                            .Enabled(true)
                            .Mode(GridEditMode.InCell)
                            .ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
                    .HtmlAttributes(new { @class = "kendo-Grid" })
                    .Events(events => events.DataBound("gridIFWActionsOld_Databound"))
                )
                </form>
               
            </div>
        </div>
        <div class="col-5 pl-2">
            @{ if (Model.ActionDue.TermMonth != null)
                {
                    <div class="form-row">
                        <div class="col" style="font-size: small;">
                            <span><b>@labelHeader10</b>&nbsp; <i>@labelHeader11</i></span>
                            <div class="form-row">
                                <div class="col">
                                    <a class="nav-link cpiPMSRefreshActionOld" role="button" href="#" title="@refreshButtonLabel"><i class="fal fa-search pr-1"></i><span>@refreshButtonLabel</span></a>
                                </div>

                                <div class="col-3 d-flex justify-content-end">
                                    <label>@Localizer["Due Date Range (in days)"]</label>
                                </div>
                                <div class="col-2">
                                    @(Html.Kendo().NumericTextBox<int>()
                                        .Name("DaysRangeOld")
                                        .Format("N0")
                                        .Min(0)
                                        .Max(999)
                                        .Step(1)
                                        .Value(5)
                                        .HtmlAttributes(new { style = "width: 100%", title = Localizer["Range (in Days)"] })
                                    )
                                </div>
                                <div class="col-4 grid-options">
                                    <div class="show-outstanding-actions">
                                        <label class="option-name" style="font-size: small;" for="showOutstandingPMSActionsOnlyOld">@Localizer["Show Outstanding Only"]</label>
                                        <span>
                                            <label class="toggle-switch">
                                                <input id="showOutstandingPMSActionsOnlyOld" type="checkbox" class="toggle-option">
                                                <span class="slider round"></span>
                                            </label>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="form-row border" id="gridPMSActionsOldContainer">
                        @(Html.Kendo().Grid<FormPMSActionViewModel>()
                            .Name("gridPMSActionsOld")
                            .Columns(columns =>
                            {
                                columns.Bound(a => a.IsEqualDueDate).Hidden();
                                columns.Bound(a => a.ActionType);
                                columns.Bound(a => a.ActionDue)
                                    //.ClientTemplate("#= (data.IsEqualDueDate) ? hiliteData(ActionDue) : ActionDue #");
                                ;
                                columns.Bound(a => a.DueDate).Format("{0:dd-MMM-yyyy}").Width(120)
                                    //.ClientTemplate("#= (data.IsEqualDueDate) ? hiliteData(kendo.toString(data.DueDate, 'dd-MMM-yyyy')) : kendo.toString(data.DueDate, 'dd-MMM-yyyy') #")
                                ;
                                columns.Bound(a => a.Indicator).Width(120);
                                columns.Bound(a => a.DateTaken).Format("{0:dd-MMM-yyyy}").Width(120);
                            })
                            .AutoBind(false)
                            .Pageable(page => page.PageSizes(true).Refresh(true))
                            .Scrollable(s => s.Height("auto"))
                            .Sortable(sort => sort.AllowUnsort(false).ShowIndexes(false))
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .PageSize(10)
                                .Read(read => read.Action("PMSActionRead", "FormIFW").Data("gridPMSActionsOld_GetParam"))
                                .Sort(sort => sort.Add("DueDate").Ascending())
                            )
                            //.Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                            .HtmlAttributes(new { @class = "kendo-Grid" })
                            .Events(events => events.DataBound("gridPMSActionsOld_Databound"))
                        )
                    </div>
                }
            }
        </div>
    </div>
</div>

<style>
    #gridPMSActionsOld, #gridIFWActionsOld {
        font-size: .9rem;
    }
        #gridPMSActionsOld .k-grid-content, #gridIFWActionsOld .k-grid-content {
            min-height: 100px;
            max-height: 200px;
        }

   /* .k-checkbox-label::before, .k-radio-label::before {
        width: 12px !important;
        height: 12px !important;
    }

    .k-checkbox-label::after {
        width: 12px !important;
        height: 12px !important;
    }

    .k-checkbox-label::after {
        font-size: 8.666667px !important;
        text-indent: 1.666667px !important;
    }*/

    .k-grid tr.cpiDataHilite {
        /*background-color: lightyellow !important;*/
        color: red;
    }

   
</style>

<script>

    $(document).ready(function () {
        const genActionUrl = "@Html.Raw(genActionUrl)";
        const actionEditUrl = "@Html.Raw(actionEditUrl)";

        formExtractIFW.initializeActionMapTab({
            ifwId: @Model.IFWId,
            gridPMSActionId: "#gridPMSActionsOld",
            actionDaysRange: @actionDaysRange,
            genTitle: "@genTitle",
            genMessage: "@genMessage",
            genActionUrl: genActionUrl,
            genErrorMessage: "@genErrorMessage",
            genSuccessMessage: "@genSuccessMessage",
            actionEditUrl: actionEditUrl
        });

        //$("#gridIFWActionsContainer").kendoTooltip({
        //    filter: "td",
        //    content: function (e) { return e.target.html(); }
        //});
       
    });

</script>

