@model FormIFWOtherInfoViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<PatSetting> Settings
@{
    var labelHeader0 = Localizer["UPDATE REMARKS:"];
    var labelHeader1 = Localizer["Mark the data on the list that you would like to add to the Country Application Remarks. Click 'Preview Update' to review the update; click 'Update Remarks' to effect the changes."];
    var previewLabel = Localizer["Preview Update"];
    var updateLabel = Localizer["Update Remarks"];

    var updateTitle = Localizer["Confirm Remarks Update"];
    var updateMessage = Localizer["This action will update the country application Remarks as shown on the field preview. Do you want to continue?"];
    var successMessage = Localizer["Remarks update complete."];

    var updateRemarksUrl = Url.Action("UpdateAppRemarks", "FormIFW", new { Area = "Shared" });

}

<script>
    function gridIFWRemarks_Databound() {
        if (!$("#gridIFWRemarks tbody input:checkbox").prop("checked")) {
            $("#gridIFWRemarks tbody input:checkbox").trigger("click");
        }
    }
</script>

<div class="pr-3 pl-3">
    <div class="form-row pt-3">
        <div class="col" style="font-size: small;">
            <span><b>@labelHeader0</b>&nbsp; <i>@labelHeader1</i></span>
        </div>
    </div>
    <div class="form-row pt-2">
        <div class="col-5 pl-2">
            <div class="form-row" id="gridIFWActionsRemarks">
                <input type="hidden" asp-for="AppRemarks" />
                @(Html.Kendo().Grid<FormIFWActionRemarksDTO>()
                    .Name("gridIFWRemarks")
                    .Columns(columns =>
                    {
                        columns.Select().Width(50);
                        columns.Bound(a => a.FieldLabel).Title(Localizer["Update Remarks?"]);
                        columns.Bound(a => a.FieldData);
                        columns.Bound(a => a.Confidence);

                    })
                    .AutoBind(true)
                    .Pageable(page => page.PageSizes(true).Refresh(true))
                    .Scrollable(s => s.Height("auto"))
                    .Sortable(sort => sort.AllowUnsort(false))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(10)
                        .Model(model => model.Id(id => id.LabelAndData))
                        .Read(read => read.Action("OtherInfoRead", "FormIFW", new { ifwId = Model.IFWId }))
                        .Sort(sort => sort.Add(a => a.EntryOrder))
                     )
                    //.Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                    .HtmlAttributes(new { @class = "kendo-Grid" })
                    .Events(events => events.DataBound("gridIFWRemarks_Databound"))
                )
            </div>
        </div>
        <div class="col-7 pl-2">
            <div class="form-row">
                <div class="col" style="font-size: small;">
                    <div class="form-row">
                        <div class="col">
                            <a class="nav-link cpiPreviewRemarks" role="button" href="#" title="@previewLabel"><i class="fal fa-search pr-1"></i><span>@previewLabel</span></a>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <a class="nav-link cpiUpdateRemarks" role="button" href="#" title="@updateLabel"><i class="fal fa-pencil pr-1"></i><span>@updateLabel</span></a>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col" >
                            <div class="p-2" id="ifwNewRemarks" style="border: solid; border-width: thin; border-color: silver; overflow: auto;">

                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    mark {
        background-color: yellow;
        padding: 0;
    }
    #gridIFWRemarks .k-grid-content {
        min-height: 100px;
        max-height: 300px;
        height: 300px;
    }
    #ifwNewRemarks {
        border: thin;
        border-color: silver;
        height: 300px;
    }
</style>

<script>
    $(document).ready(function () {
        const updateRemarksUrl = "@Html.Raw(updateRemarksUrl)";
        formExtractIFW.initializeOtherInfoTab({
            htmlDelim: "<br />",
            dbDelim: "\n",
            appId: @Model.AppId,
            updateRemarksUrl: updateRemarksUrl,
            updateTitle: "@updateTitle",
            updateMessage: "@updateMessage",
            successMessage: "@successMessage"
        });
    });
</script>

@*<div class="col">
        <textarea rows="8" class="form-control form-control-sm" id="ifwRemarksUpdate"></textarea>
    </div>*@