@model FormExtractPageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@{
    var pageId = "formExtract";
    var pageTitle = Localizer["Form Data Extraction"];

    var systemCount = Model.FRSystemList.Count;
    var defaultSystemType = Model.DefaultSystemType;
}
<ul class="nav nav-tabs refine-search nav-tabs-vertical" role="tablist">
    <li class="nav-item">
        <a id="systemTab" href="#systemTabContent" class="nav-link active" data-toggle="tab" role="tab"
           aria-controls="systemTabContent" title="@Localizer["System"]">@Localizer["System"]</a>
    </li>
</ul>

<div class="accordion-content show">
    <div class="tab-pane show form-sidebar active" id="systemTabContent" aria-labelledby="systemTab" role="tabpanel">
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>@Localizer["System"]</label>
                    <div class="btn-group btn-group-toggle flex-wrap" data-toggle="buttons" id="FRSystemType">
                        @{
                            for (var i = 0; i < systemCount; i++)
                            {
                                var value = Model.FRSystemList[i].Value;
                                var text = Model.FRSystemList[i].Text;
                                <label class="btn btn-outline @(i == 0 && string.IsNullOrEmpty(defaultSystemType) ? "active" : !string.IsNullOrEmpty(defaultSystemType) && defaultSystemType == value ? "active" : "" )">
                                    <input type="radio" name="SystemType" class="form-control" value="@value" data-role="option"> @Localizer[text]
                                </label>
                            }
                        }
                    </div>
                </div>
            </div>

        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Description">@Localizer["Source"]</label>
                    @await Component.InvokeAsync("ComboBox", new
                       {
                           name = "SourceCode",
                           action = "GetSourcePicklistData",
                           controller = "FormExtract",
                           area = "Shared",
                           screen = pageId,
                           textProperty = "Text",
                           valueProperty = "Value",
                           data = "formExtract.getSystemTypeFilter",
                       })
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        formExtract.initializeSearchTabHeader({
            url: "@Context.Request.PathBase@Context.Request.Path",
            title: "@pageTitle",
            defaultSystemType: "@Model.DefaultSystemType",
            defaultSourceCode: "@Model.DefaultSourceCode",
            defaultFormType: "@Model.DefaultFormType",
            defaultFormName: "@Model.DefaultFormName",
            defaultDocDesc: "@Model.DefaultDocDesc"
            });
    });
</script>
