@model string
@inject ISystemSettings<PatSetting> Settings
@inject IStringLocalizer<PatentResource> Localizer

@{
    var settings = await Settings.GetSetting();

    var caseNumberLabel = Localizer[settings.LabelCaseNumber];
    var oldCaseNumberLabel = Localizer[settings.LabelOldCaseNumber];
    var ownerLabel = Localizer[settings.LabelOwner];
    var ownerNameLabel = Localizer[settings.LabelOwnerName];
    var clientLabel = Localizer[settings.LabelClient];
    var clientNameLabel = Localizer[settings.LabelClientName];
    var agentLabel = Localizer[settings.LabelAgent];
    var agentNameLabel = Localizer[settings.LabelAgentName];

    var attorneyLabel = Localizer["Attorney"];
    var attorneyNameLabel = Localizer["Attorney Name"];
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
    var clientRefLabel = Localizer[settings.LabelClientRef];
    var agentRefLabel = Localizer[settings.LabelAgentRef];

    var area = "Shared";
    var controller = "FormIFW";

    var isRespOfficeOn = User.IsRespOfficeOn(SystemType.Patent);
    var screen = "formExtract";
    var enableComboPaging = settings.EnableComboBoxPaging;
    var comboPagingSize = settings.ComboBoxPagingSize;

    string formType = "";
    string formName = "";
    string docDesc = "";
    if (Model != null)
    {
        var param = Model.Split("|");
        formType = param[0];
        formName = param[1];
        docDesc = param[2];
    }

}

<ul class="nav nav-tabs refine-search nav-tabs-vertical" role="tablist">
    <li class="nav-item">
        <a id="ifwMainTab" href="#ifwMainTabContent" class="nav-link active" data-toggle="tab" role="tab"
           aria-controls="ifwMainTabContent" title="@Localizer["IFW"]">@Localizer["IFW"]</a>
    </li>
    <li class="nav-item">
        <a id="ifwMoreTab" href="#ifwMoreTabContent" class="nav-link" data-toggle="tab" role="tab"
           aria-controls="ifwMoreTabContent" title="@Localizer["More"]">@Localizer["More"]</a>
    </li>

</ul>

<div class="accordion-content show">
    <div class="tab-pane show form-sidebar active" id="ifwMainTabContent" aria-labelledby="ifwMainTab" role="tabpanel">
        <div class="form-row group">
            <div class="col-12">
                <div class="form-group float-label">
                    <label for="FormType">@Localizer["Form Type"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "FormIFWDocType.FormIFWFormType.FormType", textProperty = "FormName", valueProperty = "FormType", defaultValue = formName, controller = controller, area = area, screen = screen, action = "GetIFWFormTypeList" })
                </div>
            </div>
            <div class="col-12">
                <div class="form-group float-label">
                    <label for="Description">@Localizer["Document Type"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Description", textProperty = "DocDesc", valueProperty = "DocDesc", defaultValue = docDesc, controller = controller, area = area, screen = screen, action = "GetIFWDocTypeList" })
                </div>
            </div>
        </div>
        <div class="form-row group">
            <div class="col-12">
                <div class="form-group float-label">
                    <label for="CaseNumber">@caseNumberLabel</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "RTSSearch.CountryApplication.CaseNumber", textProperty = "CaseNumber", valueProperty = "CaseNumber", controller = controller, area = area, screen = screen })
                </div>
            </div>
            <div class="col-12">
                <div class="form-group float-label">
                    <label for="SubCase">@Localizer["Sub Case"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "RTSSearch.CountryApplication.SubCase", textProperty = "SubCase", valueProperty = "SubCase", controller = controller, area = area, screen = screen })
                </div>
            </div>
            <div class="col-12">
                @if (isRespOfficeOn)
                {
                    <div class="form-group float-label">
                        <label for="RespOffice">@Localizer["Responsible Office"]</label>
                        @await Component.InvokeAsync("ComboBox", new { name = "RTSSearch.CountryApplication.RespOffice", textProperty = "RespOffice", valueProperty = "RespOffice", controller = controller, area = area, screen = screen })
                    </div>
                }
            </div>
        </div>
        <div class="form-row group">
            <div class="col-12">
                <div class="form-group float-label">
                    <label for="AppTitle">@Localizer["Application Title"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "RTSSearch.CountryApplication.AppTitle", textProperty = "AppTitle", valueProperty = "AppTitle", controller = controller, area = area, screen = screen })
                </div>
            </div>
            <div class="col-4">
                <div class="form-group float-label">
                    <label for="CaseTypeOp"></label>
                    @await Component.InvokeAsync("FilterOperatorList", new { name = "CaseTypeOp" })
                </div>
            </div>
            <div class="col-8">
                <div class="form-group float-label">
                    <label for="CaseType">@Localizer["Case Type"]</label>
                    @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions { Name = "RTSSearch.CountryApplication.CaseType", DataTextProperty = "CaseType", DataValueProperty = "CaseType", Controller = controller, Area = area, Screen = screen })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ActiveSwitch1">@Localizer["Status Codes"]</label>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline">
                            <input type="radio" name="RTSSearch.CountryApplication.PatApplicationStatus.ActiveSwitch" class="form-control" value="true" data-role="option"> @Localizer["Active"]
                        </label>
                        <label class="btn btn-outline">
                            <input type="radio" name="RTSSearch.CountryApplication.PatApplicationStatus.ActiveSwitch" class="form-control" value="false" data-role="option"> @Localizer["Inactive"]
                        </label>
                        <label class="btn btn-outline active">
                            <input type="radio" name="RTSSearch.CountryApplication.PatApplicationStatus.ActiveSwitch" class="form-control" value="" data-role="option"> @Localizer["All"]
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row group">
            <div class="col-4">
                <div class="form-group float-label">
                    <label for="ApplicationStatusOp"></label>
                    @await Component.InvokeAsync("FilterOperatorList", new { name = "ApplicationStatusOp" })
                </div>
            </div>
            <div class="col-8">
                <div class="form-group float-label">
                    <label for="ApplicationStatus">@Localizer["Status"]</label>
                    @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions { Name = "RTSSearch.CountryApplication.ApplicationStatus", DataTextProperty = "ApplicationStatus", DataValueProperty = "ApplicationStatus", Controller = controller, Area = area, Screen = screen })
                </div>
            </div>
            <div class="col-12">
                <div class="form-group float-label">
                    <label for="ApplicationStatusDateFrom">@Localizer["Status Date"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("ApplicationStatusDateFrom"))
                </div>
            </div>
            <div class="col-12">
                <div class="form-group float-label">
                    <label for="ApplicationStatusDateTo">@Localizer["To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("ApplicationStatusDateTo"))
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane show form-sidebar" id="ifwMoreTabContent" aria-labelledby="ifwMoreTab" role="tabpanel">
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="AIParsed">@Localizer["AI Extraction Status"]</label>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline">
                            <input type="radio" name="AIParsed" class="form-control" value="true" data-role="option"> @Localizer["Extracted"]
                        </label>
                        <label class="btn btn-outline">
                            <input type="radio" name="AIParsed" class="form-control" value="false" data-role="option"> @Localizer["Not Extracted"]
                        </label>
                        <label class="btn btn-outline active">
                            <input type="radio" name="AIParsed" class="form-control" value="" data-role="option"> @Localizer["All"]
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ActionGen">@Localizer["Action Generated Status"]</label>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline">
                            <input type="radio" name="ActionGen" class="form-control" value="true" data-role="option"> @Localizer["Generated"]
                        </label>
                        <label class="btn btn-outline">
                            <input type="radio" name="ActionGen" class="form-control" value="false" data-role="option"> @Localizer["Not Generated"]
                        </label>
                        <label class="btn btn-outline active">
                            <input type="radio" name="ActionGen" class="form-control" value="" data-role="option"> @Localizer["All"]
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="IsIncluded">@Localizer["Include Status"]</label>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline">
                            <input type="radio" name="IsIncluded" class="form-control" value="true" data-role="option"> @Localizer["Included"]
                        </label>
                        <label class="btn btn-outline">
                            <input type="radio" name="IsIncluded" class="form-control" value="false" data-role="option"> @Localizer["Excluded"]
                        </label>
                        <label class="btn btn-outline active">
                            <input type="radio" name="IsIncluded" class="form-control" value="" data-role="option"> @Localizer["All"]
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>

    $(document).ready(function () {
        formExtract.initializeSubSearchPage({
            tabNameId: "#ifwMainTab",
        });

        formExtractIFW.initializePage({
            formType: "@formType"
        });

     });
    </script>
