@inject IStringLocalizer<SharedResource> Localizer
@model FolderTreeViewModel
@{
    var activeFolder = Model.ContainerId ?? Model.RootContainer?.Id;
    var parentContainer = Model.RootContainer;
    var permission = Model.Permission ?? new DocumentViewerPermission();
    var folderMenuName = $"DocViewerFolderMenu_{Model.PageId}";
    var folders = Model.Folders ?? new List<Folder>();
    var hasSubFolders = folders.Any();
}
<div class="folder-tree" data-root="@Model.RootContainer?.Id" data-default="@activeFolder"
     data-ws-error="@Localizer["Cannot upload documents to workspace \"{0}\"."]"
     data-setup-url="@Url.Action("Setup", "NetDocs", new { area = "" })"
     data-default-folder-url="@Url.Action("SetDefaultFolder", "NetDocs", new { area = "" })"
     data-move-url="@Url.Action("MoveFolder", "NetDocs", new { area = "" })"
     data-move-confirm="@Localizer["Do you want to move the folder {0} to {1}?"]"
     data-move-error="@Localizer["Cannot move {0} to {1}."]">
    <div class="folders-toolbar d-flex justify-content-end">
        @if (permission.CanSetupFolder)
        {
            <a href="#" class="settings" title="@Localizer["NetDocs setup"]"><i class="fal fa-cog fa-fixed-width"></i></a>
        }
        <a href="#" class="refresh" title="@Localizer["Refresh folders"]"><i class="fal fa-refresh fa-fixed-width"></i></a>
    </div>
    <ul class="nav nav-pills cpi-nav-vertical flex-column folders">
        @if (!string.IsNullOrEmpty(parentContainer?.Id))
        {
            <li class="nav-item parent-folder">
                <a href="#" @(permission.CanUpload ? "ondragover = docViewer.folderOnDragOver(event) ondragleave=docViewer.folderOnDragLeave(event) ondrop=docViewer.folderOnDrop(event)" : "")
                    ondragstart="return false;"
                    data-folder="@parentContainer.Id"  data-type="@parentContainer.ContainerType"
                    class="folder breeder nav-link @(string.Equals(parentContainer.Id, activeFolder, StringComparison.OrdinalIgnoreCase) ? "active" : "")">
                    <span class="folder-toggle">
                        <i class="@(hasSubFolders ? "toggle fal fa-angle-down" : "toggle-spacer")"></i>
                    </span>
                    <span class="icon fal @(parentContainer.ContainerType == ContainerType.Workspace ? "fa-cabinet-filing" : "fa-folder")"></span>
                    <span class="name">@parentContainer.Name</span>
                </a>
                @if (hasSubFolders)
                {
                    <ul class="nav nav-pills cpi-nav-vertical flex-column child-folders">
                        @foreach (var folder in folders)
                        {
                            @await Html.PartialAsync("_Folder", folder, new ViewDataDictionary(this.ViewData) { { "ActiveFolder", activeFolder }, { "Permission", permission }, { "FolderLevel", "child-folder" } })
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>

@if (permission.CanEdit || permission.CanDelete)
{
    @(Html.Kendo().ContextMenu()
        .Name(folderMenuName)
        .Target(".document-viewer .folder-tree .folders")
        .Filter(".folder")
        .Events(e => e.Open("docViewer.folderMenuOnOpen").Select("docViewer.folderMenuOnSelect"))
        .Items(items =>
        {
            if (permission.CanEdit)
            {
                items.Add().Text(Localizer["Set as default"]).HtmlAttributes(new { @id = "default" });
                items.Add().Text(Localizer["New folder"]).HtmlAttributes(new { @id = "create" }).Action("CreateFolder", "NetDocs");
                items.Add().Text(Localizer["Rename"]).HtmlAttributes(new { @id = "rename" }).Action("RenameFolder", "NetDocs");
            }
            if (permission.CanDelete)
            {
                items.Add().Text(Localizer["Delete"]).HtmlAttributes(new { @id = "delete", data_delete_confirm = Localizer["Are you sure you want to delete {0}?"] }).Action("DeleteFolder", "NetDocs");
            }
        })
        .HtmlAttributes(new { @class = "context-menu" })
    )
    
}
<script>
    $(document).ready(function () {
        docViewer.initializeFolders();
    });
</script>
