@model ChildImageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@inject ICPiUserSettingManager UserSettingManager
@{
    var userAccountSettings = await UserSettingManager.GetUserSetting<UserAccountSettings>(User.GetUserIdentifier());

    var settings = await Settings.GetSetting();
    var parentIdParam = Model.ParentId;
    var permission = Model.Permission;

    var systemType = "";
    var screenCode = "";
    var dataKey = "";
    var dataKeyValue = 0;
    if (!string.IsNullOrEmpty(Model.DocumentLink))
    {
        systemType = Model.DocumentLink.Split("|")[0];
        screenCode = Model.DocumentLink.Split("|")[1];
        dataKey = Model.DocumentLink.Split("|")[2];
        dataKeyValue = Model.DocumentLink.Split("|")[3] != null ? Convert.ToInt32(Model.DocumentLink.Split("|")[3]) : 0;
    }

    var checkedOutTitle = Localizer["Document is currently checked out by: "];

    var viewUrl = Url.Content($"~/FileViewer/ViewImage?system={Model.Area}&screenCode=#=ScreenCode#&key=#=ParentId#&fileType=#=FolderId > 0 ? 7 : 0#");
    var thumbnailUrl = Url.Content($"~/FileViewer/GetThumbnail?system={Model.Area}&screenCode=#=ScreenCode#&key=#=ParentId#&fileType=#=FolderId > 0 ? 8 : 1#");
    var logoThumbnailUrl = @Url.Content("~/images/");

    var openFileTemplate = "<a target='_blank' href='" + viewUrl + "&thumbnailFile=#=DocFileName#'><img src='" +
           thumbnailUrl + "&thumbnailFile=#=ThumbFileName#' alt='#=DocName #' Title='#=DocName #' height='40' width='40'  /></a>" +
           "#if(data.LockedBy){#<span class='fal fa-lock-alt text-danger' title='" + checkedOutTitle + "#=LockedBy#'></span>#}#";

    //use icon if available
    var openLogoTemplate = "<a target='_blank' href='" + viewUrl + "&thumbnailFile=#=DocFileName#'>" +
            "#if (IconClass) {#" +
            "<i class='#=IconClass#'></i></a>" +
            "#} else {#" +
            "<img src='" + logoThumbnailUrl + "#=ThumbFileName#' alt='#=DocName #' Title='#=DocName #' height='40' width='40'  /></a>" +
            "#}#" +
            "#if(data.LockedBy){#<span class='fal fa-lock-alt text-danger' title='" + checkedOutTitle + "#=LockedBy#'></span>#}#";

    var openLinkTemplate = "<a target='_blank' href='#=DocUrl#'><img src='" +
                   logoThumbnailUrl + "#=ThumbFileName#' alt='#=DocName #' Title='#=DocName #' height='40' width='40' asp-append-version='true' /></a>";

    var openTemplate = "# if (ThumbFileName.startsWith('logo')){#" + openLogoTemplate + "# }" +
                                                        "else { #" + openFileTemplate + "# }#";

    var pageId = ViewData["PageId"];
    var activePage = Model.ActivePage;

    var documentsUrl = Url.Action("DetailLink", "Documents", new { Area = "Shared", data = systemType + "|" + screenCode + "|" + dataKey + "|" + dataKeyValue });
    var downloadUrl = Url.Action("DownloadImage", Model.Controller, new { Area = Model.Area });
    //var checkoutUrl = Url.Action("ImageCheckout", Model.Controller, new { Area = Model.Area });
    var checkoutUrl = Url.Action("ImageCheckout", "DocDocuments", new { Area = "Shared" });
    var mergeViewUrl = Url.Action("ImageMerge", "DocDocuments", new { area = "Shared" });
    var mergeUrl = Url.Action("MergeImages", "DocDocuments", new { area = "Shared", documentLink = systemType + "|" + screenCode + "|" + dataKey + "|" + dataKeyValue });
    var grid = $"imageGridView_{pageId}";
}

<script>

    function imageGridDataBound(e) {
        var dataItems = e.sender.dataSource.view();

        //hide merge pdf files button
        const mergePDFBtn = e.sender.element.find(".k-grid-Merge"); 
        if (mergePDFBtn) {
            mergePDFBtn.hide();
            if (dataItems && dataItems.length > 0) {
                const pdfFiles = dataItems.filter(f => f.DocFileName !=null && f.DocFileName.endsWith(".pdf"));
                if (pdfFiles && pdfFiles.length > 1) {
                    mergePDFBtn.show();
                }
            }
        }        

        for (var j = 0; j < dataItems.length; j++) {
            var row = e.sender.tbody.find("[data-uid='" + dataItems[j].uid + "']");
            var checkout = row.children().find(".k-grid-Checkout");

            if (checkout) {
                if (dataItems[j].get("LockedBy")) {
                    checkout.addClass("d-none");
                }
                else {
                    let imageFile = dataItems[j].get("DocFileName");
                    if (imageFile) {
                        imageFile = imageFile.toLowerCase();
                        if (imageFile.startsWith("www") || imageFile.startsWith("http") ||
                            imageFile.startsWith("ftp") || imageFile.startsWith("file")) {
                            checkout.addClass("d-none");
                        }
                        else {
                            checkout.data('url', '@checkoutUrl');
                        }
                    }
                    else
                        checkout.addClass("d-none");
                }
                
            }
            var forSignature = dataItems[j].get("ForSignature") && dataItems[j].get("SignatureReviewed");
            var pushToSignIcon = row.children().find(".esig-icon-push");
            if (!forSignature) pushToSignIcon.addClass("d-none");

            var sentToDocuSign = dataItems[j].get("SentToDocuSign");
            var pullSignedDocIcon = row.children().find(".esig-icon-pull");
            if (!sentToDocuSign) pullSignedDocIcon.addClass("d-none");

            if (dataItems[j].IsDocVerificationLinked) {                
                row.addClass("linkedDocVerification");
            }
        }
    }

    function markEPOCommunicationsAsHandled(e) {
        var imageGrid = $("#@grid").data("kendoGrid");
        var row = $(e.currentTarget).closest("tr")[0];
        var dataItem = imageGrid.dataItem(row);
        const url = "@Url.Action("MarkEPOCommunicationAsHandled", "DocDocuments", new { area = "Shared" })";
        if (dataItem && dataItem.CommunicationId) {
            cpiLoadingSpinner.show();
            $.post(url, { communicationIds: [ dataItem.CommunicationId ] })
                .done(function (result) {
                    cpiLoadingSpinner.hide();
                    pageHelper.showSuccess("@Localizer["Marked EPO communication as handled successfully."]");
                    imageGrid.dataSource.read();
                })
                .fail((error) => {
                    cpiLoadingSpinner.hide();
                    pageHelper.showErrors(error)
                });
        }        
    }

</script>
<div class="image-container" data-link="@Model.DocumentLink" data-folder-id="@Model.FolderId" data-parent-folder-id="0" data-role-link="@Model.RoleLink"
     data-confirm="@Localizer["Please Confirm"]"
     data-send-prompt="@Localizer["Are you sure you want to send this document for eSignature?"]"
     data-resend-prompt="@Localizer["Document is already marked as sent. Are you sure you want to send it again?"]"
     data-pull-prompt="@Localizer["Are you sure you want to retrieve the signed document?"]"
     data-repull-prompt="@Localizer["Document was already retrieved before. Are you sure you want to do it again?"]">
    @(Html.Kendo().Grid<DocDocumentListViewModel>()
        .Name(grid)
        .Columns(columns =>
        {
            columns.Bound(p => p.DocName).ClientHeaderTemplate(Localizer["Title"]).Width(280);
            columns.Bound(p => p.UserFileName);
            columns.Bound(p => p.FolderName).Width(200);
            columns.Bound(p => p.DateCreated).ClientHeaderTemplate(Localizer["Date"]).ClientTemplate("#= (DateCreated == null) ? '' : kendo.toString(DateCreated,'dd-MMM-yyyy')#").Width(150).Sortable(true);
            columns.Bound(p => p.DocTypeName).ClientHeaderTemplate(Localizer["Type"]).Width(100);
            columns.Bound(p => p.ThumbFileName).ClientHeaderTemplate(Localizer["Image"]).Width(75).ClientTemplate("# if (ThumbFileName == 'logo_url.png'){#" + openLinkTemplate + "# }" +
            "else { #" + openTemplate + "# }#")
            .HtmlAttributes(new { @class = "text-center" })
            .HeaderHtmlAttributes(new { @class = "text-center" });

            if (settings.IsESignatureOn)
                columns.Bound(p => p.SentToDocuSign).ClientTemplate("<i class='fa fal #: SentToDocuSign ? 'fa-check' : ''#'></i>").Width(100);

            if (Model.AllowDownload)
                columns.Select().Width(50);

            columns.Command(command =>
            {
                command.Custom("View").Text(Localizer["View"]).Click($"function(e) {{{activePage}.image.viewImage(e,this)}}").IconClass("k-icon fal fa-search-plus").HtmlAttributes(new { style = "width:80px;" });
                if (permission.CanUploadDocuments)
                {
                    command.Custom("Edit").Text(Localizer["Edit"]).Click($"function(e) {{{activePage}.image.editImage(e,this)}}").IconClass("k-icon fal fa-pencil-alt").HtmlAttributes(new { style = "width:80px;" });
                    command.Custom("Checkout").Text(Localizer["Check out"]).Click($"function(e) {{{activePage}.image.checkoutImage(e,this)}}").IconClass("k-icon fal fa-lock-alt").HtmlAttributes(new { style = "width:100px;" });
                }
                if (permission.CanDeleteRecord)
                {
                    command.Custom("Delete").Text(Localizer["Delete"]).Click($"function(e) {{{activePage}.image.deleteImage(e,this)}}").IconClass("k-icon fal fa-trash-alt").HtmlAttributes(new { style = "width:80px;" });
                }
                if (permission.CanUploadDocuments && settings.IsESignatureOn)
                {
                    command.Custom("DocuSignUpload").Text(Localizer[" "]).Click($"function(e) {{pageHelper.pushDocuSignDoc(e, '{grid}')}}").IconClass("k-icon fal fa-signature esig-icon-push").HtmlAttributes(new { style = "width:40px;", title = Localizer["Send for eSignature"] });
                    command.Custom("DocuSignDownload").Text(Localizer[" "]).Click($"function(e) {{pageHelper.pullDocuSignDoc(e,'{grid}')}}").IconClass("k-icon fal fa-cloud-download esig-icon-pull").HtmlAttributes(new { style = "width:40px;", title = Localizer["Retrieve signed document"] });
                }
                if (userAccountSettings.AllowHandleMyEPOCommunications) 
                {
                     command.Custom("EPOHandle").Text(Localizer["Mark EPO Handle"])
                    .Visible("function(e) {return e.CommunicationId > '';}")
                    .Click($"function(e) {{markEPOCommunicationsAsHandled(e);}}")
                    .IconClass("k-icon fal fa-check")
                    .HtmlAttributes(new { style = "width:150px;", title = Localizer["Mark EPO Handle"] });
                }
            });
        })
        .PersistSelection()
        // .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .Sortable(sort => sort.AllowUnsort(false))
        .ToolBar(toolbar =>
        {
            if (permission.CanUploadDocuments)
            {
                toolbar.Custom().Name("Add").IconClass("k-icon fal fa-plus").Text(Localizer["Add"].ToString()).HtmlAttributes(new { onclick = $"{activePage}.image.addImage()" });
            }
            if (Model.AllowDownload)
            {
                toolbar.Custom().Name("Download").IconClass("k-icon fal fa-file-download").Text(Localizer["Download Selected Files"].ToString()).HtmlAttributes(new { onclick = $"{activePage}.image.downloadImage({Model.ParentId},'#{grid}','{downloadUrl}')" });

                toolbar.Custom().Name("Merge").IconClass("k-icon fal fa-merge").Text(Localizer["Merge Selected Files"].ToString()).HtmlAttributes(new { 
                    onclick = $"{activePage}.image.mergeImage(this, {Model.ParentId},'#{grid}','{mergeViewUrl}','{mergeUrl}')",                    
                    data_no_files_selected_error = Localizer["Please select at least 2 PDF files to merge."],
                    data_file_type_error = Localizer["Please select only PDF files."]
                });
            }

            @*            if (!string.IsNullOrEmpty(Model.DocumentLink))
    {
    toolbar.Custom().Name("DocumentsLink").IconClass("k-icon fal fa-folder").Text(Localizer["Folders"].ToString()).HtmlAttributes(new { onclick = $"pageHelper.openLink('{documentsUrl}', false)" });
    }
    *@    toolbar.Custom().Name("DocumentsSearch").IconClass("k-icon fal fa-search").Text(Localizer["Search"].ToString()).HtmlAttributes(new { onclick = $"{activePage}.image.showSearchScreen('GridView')" });
        })
        .Editable(editable => editable.Enabled(true)
        .Mode(GridEditMode.InCell).
        ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
        .HtmlAttributes(new { style = "height:300px;" })
        .AutoBind(false)
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(5)
        .Model(model =>
        {
            model.Id(i => i.DocId);
            model.Field(p => p.DocName).Editable(false);
            model.Field(p => p.UserFileName).Editable(false);
            model.Field(p => p.FolderName).Editable(false);
            model.Field(p => p.DateCreated).Editable(false);
            model.Field(p => p.DocTypeName).Editable(false);
            model.Field(p => p.ThumbFileName).Editable(false);
        })
        .Create(create => create.Action("ImageAdd", "DocDocuments", new { Area = "Shared" }))
        .Read(read => read.Action("ImageRead", Model.Controller, new { Area = Model.Area, parentId = parentIdParam }).Data($"{activePage}.image.getSearchCriteria"))
        .Destroy(destroy => destroy.Action("GridDelete", "DocDocuments", new { Area = "Shared", documentLink = @Model.DocumentLink }))
        .Update(update => update.Action("GridUpdate", "DocDocuments", new { Area = "Shared" }))
        .Events(events =>
        {
            events.Error("pageHelper.onGridError");
        })
        )
        .Pageable(pageable => pageable.Responsive(false)
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Events(events => events.DataBound($"function(e) {{imageGridDataBound(e);}}"))
        .HtmlAttributes(new { @class = "imageGridView kendo-Grid" })
        )
</div>

<style>
    .k-grid tr.linkedDocVerification, .k-grid tr.k-alt.linkedDocVerification {
        background-color: var(--bg-menu-bar) !important;
    }

    .k-grid tr.linkedDocVerification:hover, .k-grid tr.k-alt.linkedDocVerification:hover {
        background-color: var(--grid-hover) !important;
    }
</style>

