@model ChildImageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var parentIdParam = Model.ParentId;
    var permission = Model.Permission;
    var optionsName = $"ImageViewOption_{ViewData["PageId"]}";

    var pageId = ViewData["PageId"];

    var settings = await Settings.GetSetting();
    var activePage = Model.ActivePage;

    var imageSearchViewModel = new ImageSearchViewModel
            {
                Controller = Model.Controller,
                ParentId = Model.ParentId,
                HasScreenSource = Model.HasScreenSource,
                SharePointDocLibrary = Model.SharePointDocLibrary,
                SharePointDocLibraryFolder = Model.SharePointDocLibraryFolder,
                SharePointRecKey = Model.SharePointRecKey
            };

    var isSharePointIntegrationOn = settings.IsSharePointIntegrationOn;
}
@if (isSharePointIntegrationOn)
{
    <div id="imageDataContainer" data-delete-title="@Localizer["Confirm Delete"]" data-delete-message="@Localizer["Are you sure you want to delete this record?"]">
        <div class="form-row document-viewer">
            <div class="col-md-3 col-lg-2 pt-1 folder-tree">
                @await Html.PartialAsync("_SPDocumentTree.cshtml", Model)
            </div>
            <div class="col-md-9 col-lg-10 documents">
                <div id="spImageSearchContainer" class="image-search d-none">
                    @await Html.PartialAsync("_SPImageSearch.cshtml", imageSearchViewModel)
                </div>
                <div class="grid-options">
                    <div class="display-type d-flex">
                        <label class="mr-2">@Localizer["Display"]</label>
                        @(Html.Kendo().DropDownList().AutoWidth(true)
                            .Name("ImageViewOption")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .BindTo(
                            new List<SelectListItem>()
                    {
                    new SelectListItem() {Text = Localizer["Grid View"], Value = "GridView"},
                    new SelectListItem() {Text = Localizer["Gallery View"], Value = "GalleryView"}
                    }
                            ).HtmlAttributes(new { id = optionsName }))
                    </div>
                </div>
                <div id="imageGalleryContainer">
                    @await Html.PartialAsync("_SPImageGallery.cshtml", Model)
                </div>
                <div id="imageGridContainer">
                    @await Html.PartialAsync("_SPImageGrid.cshtml", Model)
                </div>
            </div>
        </div>
    </div>

    @if (permission.CanUploadDocuments)
    {
        <div id="DropZone" class="drop-zone" data-save-email-url="@Url.Action("SaveDroppedEmails", "SharePointGraph", new { Area = "Shared", documentLink = Model.DocumentLink, roleLink = Model.RoleLink })"
                data-drop-confirm="@Localizer["Do you want to save the email \"{subject}\" from {sender} to documents?"]"
                data-drop-confirm-multiple="@Localizer["Do you want to save {count} emails to documents?"]">
            <div class="dropZoneEl dropZoneElement_@pageId" ondrop="@(activePage).image.dropMail(event)" ondragover="@(activePage).image.allowDropMail(event)">
                <div class="textWrapper">
                    <p class="dropImageHereText">@Localizer["Drop files here"]</p>
                </div>
            </div>
            <div id="UploadZone">
                @(Html.Kendo().Upload()
            .Name($"droppedFiles")
            .Async(a => a
                    .Save("SaveDropped", "SharePointGraph", new { Area = "Shared", docLibrary = Model.SharePointDocLibrary, docLibraryFolder = Model.SharePointDocLibraryFolder, recKey = Model.SharePointRecKey.Replace("&", "`~`"), parentId = Model.ParentId, roleLink = Model.RoleLink })
            .AutoUpload(true)
            .Batch(true)
            )
            .DropZone($".dropZoneElement_{pageId}")
            .ShowFileList(false)
            .Validation(validation => validation.AllowedExtensions(settings.ValidImageFileExtensions))
            .Multiple(true)
            .Events(e => e.Upload($"{activePage}.image.onUpload").Error($"{activePage}.image.onUploadAsyncFail").Success($"{activePage}.image.onUploadAsyncSuccess"))
            )
            </div>
        </div>
    }


}
else
{
    <div id="imageDataContainer">
        <div class="form-row document-viewer">
            <div class="col-md-3 col-lg-2 pt-1 folder-tree">
                @await Html.PartialAsync("_DocumentTree.cshtml", Model)
            </div>
            <div class="col-md-9 col-lg-10 documents">
                <div id="imageSearchContainer" class="image-search d-none">
                    @await Html.PartialAsync("_ImageSearch.cshtml", imageSearchViewModel)
                </div>
                <div class="grid-options">
                    <div class="display-type d-flex">
                        <label class="mr-2">@Localizer["Display"]</label>
                        @(Html.Kendo().DropDownList().AutoWidth(true)
                        .Name("ImageViewOption")
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .BindTo(
                            new List<SelectListItem>()
                            {
                                new SelectListItem() {Text = Localizer["Grid View"], Value = "GridView"},
                                new SelectListItem() {Text = Localizer["Gallery View"], Value = "GalleryView"}
                            }
                        ).HtmlAttributes(new {id= optionsName }))
                    </div>
                </div>
                <div id="imageGalleryContainer">
                    @await Html.PartialAsync("_ImageGallery.cshtml", Model)
                </div>
                <div id="imageGridContainer">
                    @await Html.PartialAsync("_ImageGrid.cshtml", Model)
                </div>
            </div>
        </div>
    </div>

    @if (permission.CanUploadDocuments)
    {
        <div id="DropZone" class="drop-zone" data-save-email-url="@Url.Action("SaveDroppedEmails", "DocDocuments", new { Area = "Shared", documentLink = Model.DocumentLink, roleLink = Model.RoleLink })"
                data-drop-confirm="@Localizer["Do you want to save the email \"{subject}\" from {sender} to documents?"]"
                data-drop-confirm-multiple="@Localizer["Do you want to save {count} emails to documents?"]">
            <div class="dropZoneEl dropZoneElement_@pageId" ondrop="@(activePage).image.dropMail(event)" ondragover="@(activePage).image.allowDropMail(event)">
                <div class="textWrapper">
                    <p class="dropImageHereText">@Localizer["Drop files here"]</p>
                </div>
            </div>
            <div id="UploadZone">
                @(Html.Kendo().Upload()
            .Name($"droppedFiles")
            .Async(a => a
            .Save("SaveDropped", "DocDocuments", new { Area = "Shared", documentLink=Model.DocumentLink,roleLink=Model.RoleLink})
            .AutoUpload(true)
            .Batch(true)
            )
            .DropZone($".dropZoneElement_{pageId}")
            .ShowFileList(false)
            .Validation(validation => validation.AllowedExtensions(settings.ValidImageFileExtensions))
            .Multiple(true)
            .Events(e => e.Upload($"{activePage}.image.onUpload").Error($"{activePage}.image.onUploadAsyncFail").Success($"{activePage}.image.onUploadAsyncSuccess"))
            )
            </div>
        </div>
    }
}
<style>
    .esig-icon-push, .esig-icon-pull {
        width:40px;
    }

    .document-viewer .documents {
        padding-left: 0;
    }
    
    .document-viewer .folder-tree {
        padding-right: 0;
    }

    .document-viewer .image-search {
        padding: 5px 5px 0 5px;
    }
</style>