@using Microsoft.EntityFrameworkCore;
@model DocDocumentViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();

    var addMode = Model.DocId == 0;
    var fileSizeLimit = settings.FileUploadSizeLimit;

    var showReleaseLock = !string.IsNullOrEmpty(Model.LockedBy) && User.GetUserName() == Model.LockedBy;
    var showDefault = Model.DocTypeName == "Image";

    var showOptions = false;
    var showTags = false;
    var showRemarks = true;
    var showAuthor = false;

    var dueId = (int)ViewData["DueId"];
    var requiredDocId = (int)(ViewData["RequiredDocId"] ?? 0);
    var requiredDocs = (List<RequiredDocumentViewModel>?)(ViewData["RequiredDocs"]);
}

<script>
    function docTypeChange(e) {
        const selected = e.sender.text();
        const dialog = $("#documentEditorDialog").last();

        if (selected.toLowerCase() === "link") {
            dialog.find(".entry-url").removeClass("d-none");
            dialog.find(".entry-file").addClass("d-none");
        }
        else {
            dialog.find(".entry-url").addClass("d-none");
            dialog.find(".entry-file").removeClass("d-none");
        }

        const defaultBox = dialog.find(".default-box");
        if (defaultBox.length > 0) {
            if (selected.toLowerCase() === "image")
               $(defaultBox).removeClass("d-none");
            else {
                $(defaultBox).addClass("d-none");
                $(defaultBox).find("#IsDefault").prop("checked",false);
            }
               
        }
    }
</script>

<div id="documentEditorDialog" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="documentEditorDialogTitle" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="documentEditorDialogTitle">@Localizer["Upload Document"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="@Localizer["Close"]">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container-fluid">
                <form id="documentEditorForm" asp-area="Shared" asp-controller="DocDocuments" asp-action="@Model.SaveAction" method="post" enctype="multipart/form-data">
                    <div id="errorSummary" class="alert alert-danger d-none alert-dismissible fade show" role="alert">
                        <div class="content"></div>
                        <button type="button" class="close alert-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group float-label">
                                <label>@Localizer["Document"]</label>
                                @(Html.Kendo().DropDownList()
                                    .Name("RequiredDocId")
                                    .DataTextField("DocName")
                                    .DataValueField("DocId")
                                    .BindTo(requiredDocs)
                                    .Value(requiredDocId.ToString())
                                    )
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group float-label">
                                <label asp-for="DocTypeId"></label>
                                @await Component.InvokeAsync("ComboBox", new
                                {
                                name = "DocTypeId",
                                area="Shared",
                                controller = "DocType",
                                action = "GetPicklistData",
                                textProperty = "DocTypeName",
                                valueProperty = "DocTypeId",
                                defaultValue = Model.DocTypeId == -1 ? (Model.DocTypeName ?? "") : Model.DocTypeId == null || Model.DocTypeId == 0 ? "" : Model.DocTypeId.ToString(),
                                defaultText = Model.DocTypeName,
                                onChange = "docTypeChange",
                                limitToList = true
                                })
@*                                @(Html.Kendo().DropDownList()
                                    .Name("DocTypeId")
                                    .DataTextField("DocTypeName")
                                    .DataValueField("DocTypeId")
                                    .BindTo(ViewData["DocTypes"] as List<R10.Core.Entities.Documents.DocType>)
                                    .Value(Model.DocTypeId.ToString())
                                    )*@
                            </div>
                        </div>
                        @if (showOptions)
                        {
                            <div class="col-md d-flex">
                                <div class="pr-5">
                                    <label asp-for="IsPrintOnReport"></label> <br />
                                    <input type="checkbox" asp-for="IsPrintOnReport" />
                                </div>
                                @if (Model.HasDefault)
                                {
                                    <div class="default-box pr-5 @(showDefault ? "": "d-none")">
                                        <label asp-for="IsDefault"></label> <br />
                                        <input type="checkbox" asp-for="IsDefault" />
                                    </div>
                                }

                                <div class="pr-5">
                                    <label asp-for="IsPrivate"></label> <br />
                                    <input type="checkbox" asp-for="IsPrivate" />
                                </div>
                                <div class="pr-5">
                                    <label asp-for="IsVerified"></label> <br />
                                    <input type="checkbox" asp-for="IsVerified" />
                                </div>
                                @if (showReleaseLock)
                                {
                                    <div>
                                        <label asp-for="ReleaseFileLock"></label> <br />
                                        <input type="checkbox" asp-for="ReleaseFileLock" />
                                    </div>
                                }
                            </div>
                        }

                    </div>
                    <div class="form-row mb-2 XXXcpiMainEntry">
                        <div class="col">
                            <div class="form-group float-label">
                                <label asp-for="DocName"></label>
                                <input type="text" class="form-control form-control-sm" asp-for="DocName" style="min-height:45px" />
                                <span asp-validation-for="DocName"></span>
                            </div>
                        </div>
                    </div>
@*                    <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" id="docDetailTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="docDetailTab" data-toggle="tab" role="tab" aria-controls="docDetailTabContent" aria-selected="true" href="#docDetailTabContent">@Localizer["Details"]</a>
                        </li>
                    </ul>*@
                    @*<div class="tab-content">*@
                        @*<div class="tab-pane show active" id="docDetailTabContent" role="tabpanel" aria-labelledby="docDetailTab">*@
                            <div class="XXXcpiMainEntry">
                                <input type="hidden" name="DueId" value="@dueId" />
                                <input type="hidden" asp-for="DocId" />
                                @*<input type="hidden" asp-for="FolderId" />*@
                                <input type="hidden" name="FolderId" value="@Model.FolderId" />
                                <input type="hidden" asp-for="FileId" />
                                <input type="hidden" asp-for="ParentId" />
                                <input type="hidden" asp-for="DocumentLink" />
                                <input type="hidden" asp-for="CreatedBy" />
                                <input type="hidden" asp-for="DateCreated" />
                                @if (Model.DocId > 0)
                                {
                                    <input type="hidden" name="tStamp" value="@Convert.ToBase64String(Model.tStamp)" />
                                }
                                @if(!showAuthor)
                                {
                                    <input type="hidden" asp-for="Author" />
                                }
                                else
                                {
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group float-label">
                                                <label asp-for="Author"></label>
                                                <input type="text" class="form-control form-control-sm" asp-for="Author" readonly style="min-height:45px" />
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="form-row pb-2 entry-file @(Model.DocTypeName.ToLower() == "link" ? "d-none": "")" style="font-size: small">
                                    <div id="uploadImageRow" class="col-12">
                                        @(Html.Kendo().Upload()
                                        .Name("UploadedFiles")
                                        .Messages(m => m.Select(Localizer["Select a file to upload..."]))
                                        .Multiple(false) // limit upload to one file at a time
                                        //.Validation(validation => validation.MaxFileSize(fileSizeLimit))
                                        )
                                        <input type="hidden" id="UploadedFilesError" name="UploadedFilesError" value="@Localizer["Please upload an image or document."]" />
                                    </div>
                                </div>
                                <div class="form-row entry-url @(Model.DocTypeName.ToLower() != "link" ? "d-none": "")">
                                    <div class="col">
                                        <div id="urlRow" class="form-group float-label">
                                            <label asp-for="DocUrl"></label>
                                            <input type="text" class="form-control form-control-sm" asp-for="DocUrl" style="min-height:45px" />
                                            <input id="UrlError" type="hidden" name="UrlError" value="@Localizer["Please enter a valid URL."]" />
                                        </div>
                                    </div>
                                </div>
                                @if(showTags)
                                {
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group float-label">
                                                <label asp-for="Tags"></label>
                                                @* Added style bec. of Edge layout issue*@
                                                <input type="text" class="form-control form-control-sm" asp-for="Tags"  style="height:43px"/>
                                            </div>
                                        </div>
                                   </div>
                                }
                                @if(showRemarks)
                                {
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group float-label">
                                                <label asp-for="Remarks"></label>
                                                <textarea class="form-control form-control-sm" rows="6" asp-for="Remarks"></textarea>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                        @*</div>*@
                    @*</div>*@

                    <div class="modal-footer">
                        <button id="save" type="submit" class="btn btn-primary"><i class="fa fa-check pr-2"></i>@Localizer["Save"]</button>
                        <button id="cancel" type="button" class="btn btn-secondary  float-right" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Cancel"]</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<style>
    #documentEditorDialog .modal-footer {
        margin-left: -16px;
        margin-right: -16px;
        margin-top: 10px;
    }
</style>
