@model DocketRequestViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var caseNumberLabel = settings.IsClientMatterOn ? Localizer[settings.LabelClientMatter ?? "Client Matter"] : Localizer[settings.LabelCaseNumber ?? "Case Number"];
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
    var caseTypeLabel = Localizer["Case Type"];
    var attorneyLabel = Localizer["Responsible Attorney"];
    var attorneyNameLabel = Localizer["Attorney Name"];
    var dialogTitle = Localizer["Request Docket"];
    var defaultResponsible = new string[1];
    if (Model.DefaultResponsibleId > 0)
    {
        defaultResponsible[0] = Model.DefaultResponsibleId.ToString();
    }
    
}

<script>
    function requestDocketRequestTypeChange(e) {
        var selectedItem = e.sender.dataItem();
        if (selectedItem.Value != "New Docket") {
            $("#docketRequestDialog").find(".due-date-entry").addClass("d-none");
        }
        else {
            $("#docketRequestDialog").find(".due-date-entry").removeClass("d-none");
        }
    }
</script>
<div class="modal fade" id="docketRequestDialog" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" asp-action="SaveDocketRequest" asp-controller="@Model.Controller" asp-area="@Model.Area">
                <input type="hidden" asp-for="ParentId" />
                <input type="hidden" asp-for="SystemType" />
                <div class="modal-header py-1">
                    <h4 class="modal-title">@dialogTitle</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pt-0 mainSearchDialog">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="form-row">
                                    <div class="@(Model.HasCountry ? "col-3" : "col-6")">
                                        <div class="form-group float-label">
                                            <label for="CaseNumber">@caseNumberLabel</label>
                                            <input type="text" class="form-control form-control-sm" asp-for="CaseNumber" asp-can-be-posted="true" asp-is-readonly="true" />
                                        </div>
                                    </div>

                                    @if (Model.HasCountry)
                                    {
                                        <div class="col-3">
                                            <div class="form-group float-label">
                                                <label asp-for="Country">@countryLabel</label>
                                                <div class="d-flex">
                                                    <input type="text" class="form-control form-control-sm" asp-for="Country" asp-can-be-posted="true" asp-is-readonly="true" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (Model.HasSubCase)
                                    {
                                        <div class="col-3">
                                            <div class="form-group float-label">
                                                <label asp-for="SubCase">@Localizer["Sub Case"]</label>
                                                <input type="text" class="form-control form-control-sm" asp-for="SubCase" asp-can-be-posted="true" asp-is-readonly="true" />
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div class="form-row">
                                    <div class="@(Model.HasCaseType ? "col-6" : "col-9")">
                                        <div class="form-group float-label">
                                            <label asp-for="Title">@Localizer["Title"]</label>
                                            <input type="text" class="form-control form-control-sm" asp-for="Title" asp-is-readonly="true" />
                                        </div>
                                    </div>
                                    @if (Model.HasCaseType)
                                    {
                                        <div class="col-3">
                                            <div class="form-group float-label">
                                                <label asp-for="CaseType">@caseTypeLabel</label>
                                                <input type="text" class="form-control form-control-sm" asp-for="CaseType" asp-is-readonly="true" />
                                            </div>
                                        </div>
                                    }
                                    @if (Model.HasStatus)
                                    {
                                        <div class="col-3">
                                            <div class="form-group float-label">
                                                <label asp-for="Status">@Localizer["Status"]</label>
                                                <input type="text" class="form-control form-control-sm" asp-for="Status" asp-is-readonly="true" />
                                            </div>
                                        </div>
                                    }

                                </div>
                                <div class="form-row">
                                    <div class="col-3">
                                        <div class="form-group float-label">
                                            <label asp-for="RequestType"></label>
                                            @(Html.Kendo().DropDownList()
                                                .Name("RequestType")
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .Value(Model.RequestType)
                                                .AutoBind(true)
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("GetRequestTypes", "DocketRequest", new { Area = "Shared"});
                                                    })
                                                    .ServerFiltering(true);
                                                })
                                                .Events(events =>
                                                {
                                                    events.Change("requestDocketRequestTypeChange");
                                                })
                                                .HtmlAttributes(new { style = "width: 100%" })
                                                )
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group float-label">
                                            <label asp-for="ResponsibleId">@Localizer["Responsible Attorney"]</label>
                                            @*   @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AttorneyID("ResponsibleId", attorneyLabel, attorneyNameLabel, "DocketRequest", "Shared", "", Model.ResponsibleId, Model.Responsible)) *@
                                            @await Component.InvokeAsync("MultiSelect", MultiSelectOptions.AttorneyId("ResponsibleId", attorneyLabel, attorneyNameLabel, "DocketRequest", defaultResponsible))
                                            <span asp-validation-for="ResponsibleId"></span>
                                        </div>
                                    </div>
                                    <div class="col-3 due-date-entry">
                                        <div class="form-group float-label">
                                            <label asp-for="DueDate"></label>
                                            @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DueDate") { Value = null})
                                            <span asp-validation-for="DueDate"></span>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <a href="#" class="upload-doc"><span class="pt-3"><i class='fal fa-file-upload pt-3 pr-2'></i>@Localizer["Upload Document"]</span></a>
                                        <input type="file" id="DocFile" name="DocFile" style="display:none" />
                                        <span class="pl-4 upload-doc-filename"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group float-label">
                                            <label asp-for="Remarks">@Localizer["Remarks"]</label>
                                            <textarea rows="4" class="form-control form-control-sm" asp-for="Remarks"></textarea>
                                            <span asp-validation-for="Remarks"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-settings">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Cancel"]</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-check pr-2"></i>@Localizer["Save"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("#docketRequestDialog").on("click", ".upload-doc", (e) => {
        e.preventDefault();
        e.stopPropagation();

        const docketRequestDialog = $("#docketRequestDialog");
        const input = docketRequestDialog.find("#DocFile");
        input.on("change", (e) => {
            let fileName = input.val();
            if (fileName) {
                const fileSplit = fileName.split("\\");
                fileName = fileSplit[fileSplit.length - 1];
                docketRequestDialog.find(".upload-doc-filename").html(fileName);
            }
        });
        input.trigger("click");

        
    });

    function refreshRequestDocketPendingCount() {
        $.get('@Model.RefreshCountUrl').done((result) => {
              $(".request-docket-count").html(result.count);
        });
    }

    function showRequestDocketForm() {
        const docketRequestDialog = $("#docketRequestDialog");
        docketRequestDialog.modal("show");
        let entryForm = docketRequestDialog.find("form")[0];
        entryForm = $(entryForm);
        entryForm.cpiPopupEntryForm(
            {
                dialogContainer: docketRequestDialog,
                afterSubmit: (result) => {
                    docketRequestDialog.modal("hide");
                    if (result) {
                        
                        if (result.message) {
                            pageHelper.showSuccess(result.message);
                            refreshRequestDocketPendingCount();
                        }
                        if (result.emailWorkflows) {
                            pageHelper.handleEmailWorkflow(result);
                        }
                    }
                }
            }
        );
    }
   
    

</script>
@if (Model.LoadScreen){
<script>showRequestDocketForm();</script>
}
