@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using R10.Core.Identity
@using Microsoft.Extensions.Configuration;
@using Microsoft.Extensions.Options;
@using System.Text.Encodings.Web;

@model LoginViewModel
@inject SignInManager<CPiUser> SignInManager
@inject IConfiguration Configuration
@inject IOptions<CPiIdentitySettings> Options
@inject CPiUserManager UserManager
@inject IStringLocalizer<SharedResource> Localizer
@inject JavaScriptEncoder JSEncoder
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment Env
@inject ISystemSettings<DefaultSetting> Settings
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = Localizer["Log In"].Value;
    CPiIdentitySettings CPiSettings = Options.Value;

    var IsMaintenanceMode = Model.SystemStatusType == SystemStatusType.Maintenance;
    var IsReadOnlyMode = Model.SystemStatusType == SystemStatusType.ReadOnly;

    ViewBag.SystemStatusType = Model.SystemStatusType;

    //show registration link based on system type
    var systems = await UserManager.GetSystems();
    var allowRegistration = systems.Any(s => s.Id == SystemType.DMS);

    //video background
    var settings = await Settings.GetSetting();
    var showVideo = !settings.DisableVideoBackground;
    var hasAudio = false;

    if (showVideo)
    {
        showVideo = System.IO.File.Exists(System.IO.Path.Combine(Env.WebRootPath, "images", "login-cover-with-audio.mp4"));
        hasAudio = showVideo;
        if (!showVideo)
        {
            showVideo = System.IO.File.Exists(System.IO.Path.Combine(Env.WebRootPath, "images", "login-cover.mp4"));
        }
    }
}
@if (Model.CookieConsent?.Active ?? false)
{
    @await Component.InvokeAsync("AlertDialog")
    <script>

        $(document).ready(function () {
            var content = `<div class="row message-wrap"><div class="col-2 text-center pl-md-4 pt-1"><i class="text-info far fa-info-circle fa-2x"></i></div><div class="col-10"><p>@Html.Raw(Localizer[Model.CookieConsent.Message].Value)</p></div></div>`;
            cpiAlert.open({
                title: "Cookie Consent",
                message: content,
                onClose: function () {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("CookieConsent", "Account")"
                    });
                },
                button: { "class": "btn-primary", "label": "I Agree", "icon": "fa fa-check" },
                allowCancel: false
            });
        })
    </script>
}
@if (showVideo)
{
    <video autoplay muted loop poster="~/images/login-cover-blank.png" id="bg-video">
        <source src="~/images/login-cover@(hasAudio ? "-with-audio" : "").mp4" type="video/mp4">
    </video>
    @if (hasAudio)
    {
        <div class="audio d-none d-sm-block">
            <div class="bg pulse"></div>
            <div class="volume far fa-volume-mute"></div>
        </div>
        <script>
            $(document).ready(function () {
                const video = $("#bg-video")[0];
                const audio = $(".audio");
                const background = $(".bg");
                
                if (window.innerWidth < 992) {
                    video.removeAttribute("autoplay");
                    audio.removeClass("d-sm-block");
                }

                $(".volume").on("click", function (e) {
                    const volume = $(e.target);

                    video.muted = !video.muted;
                    if (video.muted) {
                        volume.addClass("fa-volume-mute");
                        volume.removeClass("fa-volume");
                        background.addClass("pulse")
                    }
                    else {
                        volume.removeClass("fa-volume-mute");
                        volume.addClass("fa-volume");
                        background.removeClass("pulse")
                    }
                    background.removeClass("pulse");
                });

                $(".volume").on("mouseover", function (e) {
                    background.removeClass("pulse");
                });

                $(".volume").on("mouseout", function (e) {
                    if (video.muted)
                        background.addClass("pulse");
                });
            });
        </script>
    }
}
<div class="login-header">
    <div class="login-brand"></div>
</div>
<div class="row mt-3">
    <div class="col">
        <div class="card card-account border-secondary mx-auto">
            <h3 class="card-header bg-transparent border-0 mt-0 text-center">@ViewData["Title"]</h3>
            <div class="card-body pb-4">
                <form id="login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <input asp-for="SystemStatusType" type="hidden" />
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger alert-dismissible validation-summary-errors mb-4" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <div class="d-flex">
                                <div class="message"></div>
                                <div class="error-list">
                                    <ul class="list-unstyled">
                                        @foreach (var key in ViewData.ModelState.Keys)
                                        {
                                            @foreach (var error in ViewData.ModelState[key].Errors)
                                            {
                                                <li>@Html.Raw(error.ErrorMessage)</li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-group float-label">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" asp-is-autofocus="@(string.IsNullOrEmpty(Model?.Email))" class="form-control form-control-sm" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <i class="fal fa-user"></i>
                    </div>
                    <div class="form-group float-label">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" asp-is-autofocus="@(!string.IsNullOrEmpty(Model?.Email))" class="form-control form-control-sm pwd" autocomplete="off"/>
                        <span class="toggle-pwd far fa-eye-slash text-muted"></span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <i class="fal fa-lock"></i>
                    </div>
                    @if (CPiSettings.SignIn.AllowSaveEmail)
                    {
                        <div class="form-group">
                            <div class=" custom-control custom-checkbox">
                                <input asp-for="SaveEmail" class="custom-control-input" />
                                <label asp-for="SaveEmail" class="custom-control-label">
                                </label>
                            </div>
                        </div>
                    }
                    @if (CPiSettings.SignIn.AllowStaySignedIn)
                    {
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input asp-for="StaySignedIn" class="custom-control-input" />
                                <label asp-for="StaySignedIn" class="custom-control-label">
                                </label>
                            </div>
                        </div>
                    }
                    <div class="form-group pt-4">
                        <button type="submit" class="btn btn-primary btn-block-xs">@Localizer["Log in"].Value</button>
                    </div>
                    @if (!IsMaintenanceMode)
                    {
                        <div class="form-group pt-2">
                            <a asp-action="ForgotPassword">Forgot your password?</a>
                        </div>
                        @if (allowRegistration && !IsReadOnlyMode && CPiSettings.Registration.Allowed)
                        {
                            <div class="form-group">
                                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">@Localizer["Register as a new Inventor?"]</a>
                            </div>
                        }
                    }
                </form>
            </div>
            @if (!IsMaintenanceMode)
            {
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count > 0)
                {
                    <div class="card-footer bg-transparent border-0 pb-md-4">
                        <section>
                            <hr class="mt-0 mb-4" style="width: 150px;" />
                            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div class="row">
                                    <div class="col">
                                        <div class="mx-auto">
                                            @foreach (var provider in loginProviders)
                                            {
                                                var displayName = Configuration[$"Authentication:{provider.Name}:Name"] ?? provider.DisplayName;
                                                var title = Localizer[$"Log in using your {displayName} account"].Value;
                                                var label = Localizer[$"Log in with {displayName}"].Value;
                                                
                                                if (Configuration[$"Authentication:{provider.Name}:EntityId"] == null ||
                                                    Configuration[$"Authentication:{provider.Name}:EntityId"] != "")
                                                {
                                                    <div class="btn-group btn-block external-login" role="group" aria-label="@title">
                                                        <button type="submit" class="btn btn-@provider.Name p-0" name="provider" value="@provider.Name" title="@title"><img src="~/images/signin-@(provider.Name).png" class="signin-logo" alt="@provider.Name" /></button>
                                                        <button type="submit" class="btn btn-@provider.Name btn-outline-secondary btn-block text-left" name="provider" value="@provider.Name" title="@title"><span>@label</span></button>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                }
            }
        </div>
    </div>
</div>
<style>
    #login i {
        position: absolute;
        left: 15px;
        top: 13px;
    }

    #login input {
        padding-left: 40px;
    }

    #login label {
        padding-left: 33px;
    }

    #login .pwd {
        padding-right: 40px !important;
    }

    #login .toggle-pwd {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
    }

    #login a {
        color: #3b6280;
    }

    .login-brand {
        z-index: 999;
    }

    #bg-video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
</style>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#login").floatLabels();

            $("#login .toggle-pwd").on("click", function () {
                var pwd = $(" #login .pwd");
                if (pwd.attr('type') === "password") {
                    pwd.attr('type', 'text');
                    $(this).removeClass("fa-eye-slash text-muted").addClass("fa-eye")
                } else {
                    pwd.attr('type', 'password');
                    $(this).removeClass("fa-eye").addClass("fa-eye-slash text-muted")
                }
                pwd.focus();
            })
        })
    </script>
}
