@model SystemSettingsViewModel
@using R10.Web.Areas.Admin.Services
@using System.Text.RegularExpressions
@inject IActionIndicatorService ActionIndicatorService
@inject IStringLocalizer<SharedResource> Localizer
@{
    var indicators = (await ActionIndicatorService.GetActionIndicators())
                .Select(i => new KeyValuePair<string, string>(Regex.Replace(i.ToLower(), @"[^a-zA-Z0-9_]+", "-"), i))
                .GroupBy(i => i.Key)
                .Select(g => g.First())
                .ToDictionary();
}

<div class="col-12 indicators">
    <ul class="enabled">
        <li class="d-flex justify-content-between">
            <label for="Enabled">@Localizer["Enable"]</label>
            <span>
                <label class="toggle-switch">
                    <input id="Enabled" name="Enabled" type="checkbox" checked="@Model.ActionIndicator.Enabled" class="toggle-option" onchange="saveActionIndicator(event);">
                    <span class="slider round"></span>
                </label>
            </span>
        </li>
    </ul>
    <ul class="colors">
        @foreach (var indicator in indicators)
        {
            <li class="indicator d-flex justify-content-between" data-key="@indicator.Key">
                <span class="name">@indicator.Value</span>
                <span class="color">
                @(Html.Kendo().ColorPicker()
                    .Name(indicator.Key)
                    .Palette(new string[]
                    {
                        "#cccccc", "#80ffff", "#80ff80", "#ffff80", "#ffc080", "#ff8080", "#ff80ff",
                        "#ffffff", "#bfffff", "#bfffbf", "#ffffbf", "#ffdfbf", "#ffbfbf", "#ffbfff"
                    })
                    .Columns(7)
                    .TileSize(30)
                    .View(ColorPickerView.Palette)
                    //uncomment to disable gradient view
                    //.Views(new string[] { "palette" })
                    .Buttons(false)
                    .CloseOnSelect(true)
                    .Preview(false)
                    .Value(Model.ActionIndicator.Colors.ContainsKey(indicator.Key) ? Model.ActionIndicator.Colors[indicator.Key] : "#FFFFFF")
                    .Events(events => events.Change("saveActionIndicator"))
                )
                </span>
            </li>
        }
    </ul>
</div>
<style>
    .indicators ul.colors {
        height: 100vh;
    }
    .indicators ul {
        column-fill: auto;
        padding: 10px 0;
        padding-inline-start: 0px;
    }

    .indicators ul li {
        list-style-type: none;
        break-inside: avoid-column;
    }

    @@media (min-width: 34em) {
        .indicators ul {
          columns: 1;
          -webkit-columns: 1;
          -moz-columns: 1;
        }
    }

    @@media (min-width: 48em) {
        .indicators ul {
          columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2;
          column-gap: 10%;
        }
    }

    @@media (min-width: 62em) {
        .indicators ul {
          columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2;
          column-gap: 10%;
        }
    }

    @@media (min-width: 75em) {
        .indicators ul {
          columns: 3;
          -webkit-columns: 3;
          -moz-columns: 3;
          column-gap: 5%;
        }
    }
</style>