@model PatDesCaseType
@using R10.Core.Entities.Patent
@inject IStringLocalizer<SharedResource> Localizer
@{
    var addMode = Model.IsNewRecord;
    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
}

<form cpi-detail-form action="Save">
    @if (addMode)
    {
        <input type="hidden" name="IsNewRecord" value="true" class="boolean" />
    }
    <input type="hidden" name="OriginalSystems" value="@(addMode ? "__NEW__" : (string.IsNullOrEmpty(Model.Systems) ? "__EMPTY__" : Model.Systems))" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content detail cpiMainEntry">
        <div class="form-row align-items-end">
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="IntlCode"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="IntlCode" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="IntlCode"></span>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="CaseType"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="CaseType" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "CaseType", controller = "CaseType", area = "Patent", action = "GetPicklistData", defaultValue = Model.CaseType })
                        <span asp-validation-for="CaseType"></span>
                    }
                </div>
            </div>
            @if (!addMode)
            {
                <div class="col-auto mb-3">
                    <button type="button" class="btn btn-warning btn-sm" id="btnMoveToDelete"
                            data-url="@Url.Action("MoveToDelete", new { intlCode = Model.IntlCode, caseType = Model.CaseType, desCountry = Model.DesCountry, desCaseType = Model.DesCaseType, defaultVal = Model.Default, systems = Model.Systems })">
                        <i class="fal fa-exchange-alt pr-1"></i> Move to Delete
                    </button>
                </div>
            }
        </div>
        <div class="form-row">
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="DesCountry"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="DesCountry" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "DesCountry", controller = "Country", area = "Patent", action = "GetPicklistData", textProperty = "Country", defaultValue = Model.DesCountry })
                        <span asp-validation-for="DesCountry"></span>
                    }
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="DesCaseType"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="DesCaseType" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "DesCaseType", controller = "DesCaseType", area = "Patent", action = "GetPicklistData", textProperty = "DesCaseType", defaultValue = Model.DesCaseType })
                        <span asp-validation-for="DesCaseType"></span>
                    }
                </div>
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <div class="form-check">
                    <input type="checkbox" class="k-checkbox" asp-for="Default" disabled="@(isReadOnly ? "disabled" : null)" />
                    <label class="k-checkbox-label" asp-for="Default">@Localizer["Default?"]</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group float-label">
                    <label asp-for="Systems"></label>
                    @await Html.PartialAsync("~/Views/Shared/_SystemsDropdown.cshtml", null, new ViewDataDictionary(ViewData) {
                        { "SystemsValue", Model.Systems },
                        { "SystemsPrefix", "patDCT" },
                        { "SystemsAction", Url.Action("GetSystemList") },
                        { "SystemsReadOnly", false }
                    })
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    patDesCaseTypePage.afterInsert = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    patDesCaseTypePage.showDetails = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    $(document).ready(function() {
        $('#btnMoveToDelete').on('click', function() {
            var btn = $(this);
            var url = btn.data('url');
            cpiConfirm.confirm('Move to Delete', 'Are you sure you want to move this record to the delete table?', function() {
                cpiLoadingSpinner.show();
                $.post(url).done(function(result) {
                    cpiLoadingSpinner.hide();
                    pageHelper.showSuccess(result.success || 'Record moved to delete table successfully.');
                    pageHelper.showSearchScreen('@Url.Action("Index")');
                }).fail(function(e) {
                    cpiLoadingSpinner.hide();
                    pageHelper.showErrors(e);
                });
            });
        });
        $('.page-nav.add-record').off('click').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = $(this).data('url');
            if (url) pageHelper.openLink(url, true);
        });
        $('.copy-record').off('click').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = $(this).data('url');
            if (url) pageHelper.openLink(url, true);
        });
    });
</script>