@model EFSGenerationViewModel
@inject IStringLocalizer<SharedResource> Localizer
@{
    var docGroups = Model.Forms.GroupBy(d => d.GroupDesc);
    var count = docGroups.Count();
    var counter = 0;

}
<div class="modal fade" id="efsGenerationDialog" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header py-1">
                <div class="col-md-5">
                    <h4 class="modal-title">@Localizer["Form Generation"]</h4>
                </div>
                <div class="col-md-7">
                    <div class="d-flex">
                        <div class="form-group float-label" style="width:97%">
                            <label>@Localizer["Signatory"]</label>
                            <div class="cpi-combobox d-flex">
                                @(Html.Kendo().ComboBox()
                                          .Name("Signatory")
                                          .DataTextField("Text")
                                          .DataValueField("Value")
                                          .Value(Model.Signatories.FirstOrDefault()?.Value)
                                          .BindTo(Model.Signatories)
                                          .HtmlAttributes(new { style = "width:100%;" })
                                    )
                            </div>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body py-0">
                <div class="container-fluid">
                    <h5>@Localizer["Click on the generate icon of the corresponding form to generate."]</h5>
                    <div class="accordion pb-3" id="efsForms">

                        @foreach (var item in docGroups)
                        {
                            counter++;
                            <div class="card@(count==1 ? " border border-bottom" : "")">
                                <div class="card-header py-1" id="efsFormHead@(counter)">
                                    <div>
                                        <button class="d-flex align-items-center justify-content-between btn btn-link @(count > 1 ? "collapsed": "")" type="button" data-toggle="collapse" data-target="#@BuildHtmlIdFromString(item.Key)" aria-expanded="@(count > 1 ? "true": "false")"
                                                aria-controls="collapseOne" style="font-size:.8rem">
                                            @item.Key
                                            <span class="fa-stack fa-sm pt-2">
                                                <i class="fal fa-chevron-down float-right chevron"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>

                                <div id="@BuildHtmlIdFromString(item.Key)" class="collapse @(count > 1 ? "": "show")" aria-labelledby="efsFormHead@(counter)" data-parent="#efsForms">
                                    <div class="card-body px-3 py-2">
                                        @foreach (var form in Model.Forms.Where(f => f.GroupDesc == item.Key))
                                        {
                                            <div class="row"
                                                 data-params='{"recId":@Model.RecId,"docType":"@form.DocType","subType": "@form.SubType","pageNo": @form.PageNo, "pageCount": @form.NoOfPages, "docPath": "@form.DocPath","mapFile": "@form.MapFile",
                                                                "sourceTables": "@form.SourceTables","efsDocId":@form.EfsDocId,"dataKey":"@Model.DataKey","docxId":"@form.DOCXId","sharePointRecKey":"@Model.SharePointRecKey","docDesc":"@form.DocDesc"}'>
                                                <div class="col-md-10">
                                                    <p class="font-weight-normal" style="font-size:.8rem">@form.DocDesc</p>
                                                </div>
                                                <div class="col-md-2 d-flex justify-content-end">
                                                    @if (form.DOCXId != null)
                                                    {
                                                        <a class="nav-link efs-DOCX-generate pt-0" href="#" title="@Localizer["Generate DOCX"]">
                                                        <i class="fal fa-file-word fa-sm"></i>
                                                        </a>
                                                        <a class="nav-link efs-DOCX-preview pt-0" href="#" title="@Localizer["Preview DOCX"]">
                                                            <i class="fal fa-search fa-sm"></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="nav-link efs-generate pt-0" href="#" title="@Localizer["Generate"]">
                                                            <i class="fal fa-file-pdf fa-sm"></i>
                                                        </a>
                                                        <a class="nav-link efs-preview pt-0" href="#" title="@Localizer["Preview"]">
                                                            <i class="fal fa-search fa-sm"></i>
                                                        </a>
                                                    }
                                                </div>
                                            </div>


                                        }
                                        <form action="@Url.Action("GenEFSDoc", "EFS", new {Area = "Shared"})" method="post" id="efsForm">
                                            <input type="hidden" name="formParams" id="efsFormParams" />
                                        </form>
                                        <form action="@Url.Action("Generate", "DOCX", new {Area = "Shared"})" method="post" id="docx">
                                            <input type="hidden" name="docxFormParams" id="docxFormParams" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times-circle pr-2"></i>@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
@functions
{

    string BuildHtmlIdFromString(string name)
    {
        return name.Replace(" ", "").Replace("(", "").Replace(")", "");
    }

}

<script>
    idsLib.showEFSGenForm();
    $(".accordion").on("hide.bs.collapse show.bs.collapse", e => {
        $(e.target)
            .prev()
            .find("i:last-child")
            .toggleClass("fa-chevron-down fa-chevron-up");
    });
</script>

<style>
    .accordion .card-header {
        background: transparent;
    }

    .accordion .fa-stack {
        font-size: 18px;
    }

    .accordion .btn {
        width: 100%;
        font-weight: bold;
        color: var(--text-body);
        font-size: .9rem;
        padding: 0;
    }

    .accordion .btn-link:hover,
    .accordion .btn-link:focus {
        text-decoration: none;
    }
</style>


