@model IDSManageOptions
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<PatSetting> Settings
@{
    var settings = await Settings.GetSetting();

    var appIdParam = $"{{appId: {Model.AppId}}}";
    var caseNumberLabel = settings.IsClientMatterOn ? Localizer[settings.LabelClientMatter] : Localizer[settings.LabelCaseNumber];
    var parent = $"idsManage_{Model.AppId}";
}

<div class="border-top ids-manage-app" data-id="@Model.AppId" data-keep="false">    
    <div class="ids-header">
        <a href='@Url.Action("Detail", "CountryApplication", new { id = @Model.AppId, singleRecord = true,tab="countryAppIDSTab"})' class='details-link data'><span class="label">@Model.CaseNumber</span></a>
        <span class="label data">@Model.Country</span>
        <span class="label data">@Model.SubCase</span>
    </div>
    <div class="k-grid ids-toolbar"><div class="k-toolbar k-grid-toolbar">
        <nav class="nav nav-left">
            @if (Model.Permission.CanAddRecord)
            {
                <a class="k-button k-button-icontext copy-link" href="#"><span class='k-icon fal fa-copy'></span>@Localizer["Copy To Family"]</a>
                <a class="k-button k-button-icontext update-date-link" href="#"><span class='k-icon fal fa-pencil'></span>@Localizer["Update IDS File Date"]</a>
            }
            <a class="k-button k-button-icontext keep-open-link" href="#"><span class='k-icon fal fa-folder-open'></span>@Localizer["Keep Open"]</a>
            <a class="k-button k-button-icontext close-link  d-none" href="#"><span class='k-icon fal fa-times-circle'></span>@Localizer["Close"]</a>
        </nav>
    </div></div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs nav-tabs-horizontal" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="@($"ref_{Model.AppId}")Tab" data-toggle="tab" role="tab" aria-controls="@($"ref_{Model.AppId}")TabContent" aria-selected="false" href="#@($"ref_{Model.AppId}")TabContent">@Localizer["References"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="@($"nonPat_{Model.AppId}")Tab" data-toggle="tab" role="tab" aria-controls="@($"nonPat_{Model.AppId}")TabContent" aria-selected="false" href="#@($"nonPat_{Model.AppId}")TabContent">@Localizer["Non-Patent Literature"]</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" id="@($"ref_{Model.AppId}")TabContent" role="tabpanel"
                     aria-labelledby="@($"ref_{Model.AppId}")Tab">

                    @(Html.Kendo().Grid<PatIDSRelatedCase>
    ()
    .Name($"relatedCasesGrid_{Model.AppId}")
    .Columns(columns =>
    {
    if (Model.Permission.CanAddRecord)
    {
        columns.Select().Width(50).HtmlAttributes(new { @class = "no-dirty" });
    }
    columns.Bound(r => r.Relationship).ClientHeaderTemplate($"<div class='pb-1'>{Helper.BuildSortableLink("Relationship", Localizer["Relationship"])}</div>");
        columns.Bound(r => r.RelatedCaseNumber).ClientHeaderTemplate($"<div class='pb-1'>{Helper.BuildSortableLink("RelatedCaseNumber", Localizer[caseNumberLabel])}</div><div>{Helper.BuildSortableLink("RelatedCountry", Localizer["Country"])+"/"+ Helper.BuildSortableLink("RelatedSubCase", Localizer["Sub Case"])}</div>")
        .ClientTemplate("<div>#=idsManagePage.formatToGridDisplay(RelatedCaseNumber)#</div><div>#=RelatedCountry#&nbsp;#=RelatedSubCase#</div>");

        columns.Bound(r => r.RelatedPubNumber).ClientHeaderTemplate($"<div class='pb-1'>{Helper.BuildSortableLink("RelatedPubNumber",Localizer["Publication No."])}</div><div>{Helper.BuildSortableLink("RelatedPubDate", Localizer["Publication Date"])}</div>")
        .ClientTemplate("<div>#=idsManagePage.formatToGridDisplay(RelatedPubNumber)#</div><div>#=idsManagePage.formatDateToGridDisplay(RelatedPubDate)#</div>");

        columns.Bound(r => r.RelatedPatNumber).ClientHeaderTemplate($"<div class='pb-1'>{Helper.BuildSortableLink("RelatedPatNumber", Localizer["Patent No."])}</div><div>{Helper.BuildSortableLink("RelatedIssDate", Localizer["Issue Date"])}</div>")
        .ClientTemplate("<div>#=idsManagePage.formatToGridDisplay(RelatedPatNumber)#</div><div>#=idsManagePage.formatDateToGridDisplay(RelatedIssDate)#</div>");

        columns.Bound(r => r.RelatedFirstNamedInventor).ClientHeaderTemplate($"<div class='pb-1'>{Helper.BuildSortableLink("RelatedFirstNamedInventor", Localizer["Applicant"])}</div><div>{Helper.BuildSortableLink("ReferenceSrc", Localizer["Ref. Source"])}</div>")
        .ClientTemplate("<div>#=idsManagePage.formatToGridDisplay(RelatedFirstNamedInventor)#</div><div>#=idsManagePage.formatToGridDisplay(ReferenceSrc)#</div>");

        columns.Bound(r => r.ReferenceDate).ClientHeaderTemplate($"<div class='pb-1'>{Helper.BuildSortableLink("ReferenceDate",Localizer["Reference Date"])}</div><div>{Helper.BuildSortableLink("RelatedDateFiled", Localizer["IDS File Date"])}</div>")
        .ClientTemplate("<div>#=idsManagePage.formatDateToGridDisplay(ReferenceDate)#</div><div>#=idsManagePage.formatDateToGridDisplay(RelatedDateFiled)#</div>");

        columns.Bound(r => r.ActiveSwitch).ClientHeaderTemplate($"<div class='pb-1'>{Helper.BuildSortableLink("ActiveSwitch", Localizer["Applicable?"])}</div><div>{Helper.BuildSortableLink("ReliedUpon", Localizer["Relied Upon?"])}</div>")
        .ClientTemplate("<div><i class='fa fal #: ActiveSwitch ? ' fa-check' : '' #'></i></div><div><i class='fa fal #: ReliedUpon ? ' fa-check' : '' #'></i></div>")
        .Width(100);
        columns.Bound(r => r.KindCode).ClientHeaderTemplate($"<div class='pb-1'>{Helper.BuildSortableLink("KindCode", Localizer["Kind Code"])}</div><div>{Helper.BuildSortableLink("HasTranslation", Localizer["Has Translation?"])}</div>")
        .ClientTemplate("<div>#=idsManagePage.formatToGridDisplay(KindCode)#</div><div><i class='fa fal #: HasTranslation ? ' fa-check' : '' #'></i></div>")
        .Width(100);
        columns.Bound(r => r.RefPages).ClientHeaderTemplate($"<div class='pb-1'>{Helper.BuildSortableLink("RefPages", Localizer["Ref. Pages"])}</div><div>{Helper.BuildSortableLink("Remarks", Localizer["Remarks"])}</div>")
        .ClientTemplate("<div>#=idsManagePage.formatToGridDisplay(RefPages)#</div><div>#=idsManagePage.formatToGridDisplay(Remarks)#</div>");

    })
                        .Pageable(page => page.Responsive(false))
    .PersistSelection()
    .AutoBind(true)
    .DataSource(dataSource => dataSource
    .Ajax()
    .Batch(true)
    .ServerOperation(false)
    .PageSize(10)
    .Model(model =>
    {
        model.Id(r => r.RelatedCasesId);
    })
    .Read(create => create.Action("RelatedCasesRead", "PatIDS").Data(@appIdParam))
    .Sort(sort => sort.Add(c => c.RelatedCountry))

    .Events(events =>
    {
        events.Error("pageHelper.onGridError");
    })
    )
    .HtmlAttributes(new { @class = "kendo-Grid" })
    )

</div>
                <div class="tab-pane" id="@($"nonPat_{Model.AppId}")TabContent" role="tabpanel"
                     aria-labelledby="@($"nonPat_{Model.AppId}")Tab">
                    @(Html.Kendo().Grid<PatIDSNonPatLiterature>()
                            .Name($"nonPatLiteratureGrid_{Model.AppId}")
                            .Columns(columns =>
                            {
        if (Model.Permission.CanAddRecord)
        {
            columns.Select().Width(50).HtmlAttributes(new { @class = "no-dirty" });
        }
        columns.Bound(r => r.NonPatLiteratureInfo).ClientTemplate("#if(NonPatLiteratureInfo.length>150){# # var literature =NonPatLiteratureInfo; #  # var litDisplay = literature.substring(0,150); # <span>#=kendo.toString(litDisplay)#</span> #}else{# <span>#=NonPatLiteratureInfo#</span> #}#");
        columns.Bound(r => r.RelatedDateFiled).Format("{0:dd-MMM-yyyy}").Width(150).EditorTemplateName("Date");
        columns.Bound(r => r.ActiveSwitch).ClientTemplate("<i class='fa fal #: ActiveSwitch ? 'fa-check' : ''#'></i>").Width(100).EditorTemplateName("CheckBox");
    })
                            .Pageable(page => page.Responsive(false))
                            .Sortable(sort => sort.AllowUnsort(false))
                            .PersistSelection()
                            .AutoBind(true)
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Batch(true)
                                .ServerOperation(false)
                                .PageSize(5)
                                .Model(model =>
                                {
        model.Id(r => r.NonPatLiteratureId);
    })
                                .Read(create => create.Action("NonPatLiteratureRead", "PatIDS").Data(@appIdParam))
                                .Events(events =>
                                {
        events.Error("pageHelper.onGridError");
    })
                            )
                            .HtmlAttributes(new { @class = "kendo-Grid" })
                        )
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    /*.k-grid-header span.k-link {
        color: var(--link-label) !important;
        font-weight:400;
    }*/
    .ids-header {
        padding-top: 10px;
    }
    .ids-header .label {
        font-weight: bold;
    }
    .ids-header .data {
        padding-left: 7px;
    }
    .ids-toolbar {
        padding-bottom: 5px;
    }
</style>