@using Microsoft.AspNetCore.Mvc.Localization
@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    ViewBag.Title = SharedLocalizer["Search Results"];
    ViewBag.Url = Url.Action("Search", "DOCXCategory").ToLower();
    var detailsUrl = Url.Action("Detail", "DOCXCategory", new { id = "#: DOCXCatId#", fromSearch = true });
    var detailsLinkTemplate = string.Format("<a href='{0}' class='details-link' data-id='#: DOCXCatId#'>#: DOCXCatDesc#</a>", detailsUrl);
    var resultsGrid = "docxCategorySearchResultGrid";
    var container = "docxCategorySearchResult";
}

<div id="@container">
    <div class="mb-md-2 text-right">
        <div class="row">
            <div class="col-md-4 text-left">
                <h3 class="page-title">@ViewData["Title"]</h3>
            </div>
            <div class="col-md mb-md-2 ml-md-3 pt-3 text-right cpiButtonsSearch">
                <button class="btn btn-link cpiButtonSearch" data-url="@ViewBag.SearchUrl"><span class="fas fa-binoculars"></span> @SharedLocalizer["Back to Search"]</button>
            </div>
        </div>
    </div>
    @(Html.Kendo().Grid<DOCXCategory>()
          .Name(resultsGrid)
          .Columns(columns =>
          {
              columns.Bound(l => l.DOCXCatId).Hidden();
              columns.Bound(l => l.DOCXCatDesc).ClientTemplate(detailsLinkTemplate).Width(300);
              columns.Bound(l => l.CreatedBy).Hidden();
              columns.Bound(l => l.CreatedBy).Hidden();
              columns.Bound(l => l.UpdatedBy).Hidden();
              columns.Bound(l => l.DateCreated).Format("{0:dd-MMM-yyyy}").Hidden();
              columns.Bound(l => l.LastUpdate).Format("{0:dd-MMM-yyyy}").Hidden();
          })
          .ToolBar(tools => tools.Excel())
          .AutoBind(false)
          .Pageable(page => page.PageSizes(true).Refresh(true))
          .Sortable(sort => sort.AllowUnsort(false))
          //.ColumnMenu()
          .Excel(excel => excel.FileName("DOCXCategoryList.xlsx").AllPages(true).ProxyURL(Url.Action("ExcelExportSave", "DOCXCategory")))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Events(events => events.RequestEnd("docxCategoryPage.searchResultGridRequestEnd"))
              .PageSize((int)ViewBag.PageSize)
              .Read(read => read.Action("ReadCategoryGrid", "DOCXCategory")
                  .Data("page.gridMainSearchFilters('#docxCategorySearchForm')"))
              .Sort(sort => sort.Add(l => l.DOCXCatDesc))
          )
          .HtmlAttributes(new { @class = "kendo-Grid" }))
</div>

<script>
    $(document).ready(function () {
        var title = '@ViewBag.Title';
        var url = '@ViewBag.Url';

        page.initializeSearchResultGrid(docxCategoryPage, "@resultsGrid");
        page.breadCrumbs.addNode({
            name: '@container', label: title, url: url, refresh: true, updateHistory: true, refreshHandler: docxCategoryPage.refreshSearchResultGrid
        });
        $("#@container").find(".cpiButtonsSearch").cpiMainButtons();
    });
</script>

