@inject IStringLocalizer<SharedResource> SharedLocalizer
@using R10.Web.Extensions;
@{
    if (Context.Request.IsAjax())
    {
        Layout = null;
    }
    ViewBag.Title = SharedLocalizer["DOCX Category Search"];
    var searchUrl = Url.Action("Search", "DOCXCategory").ToLower();
    ViewBag.Url = $"{searchUrl}{(!searchUrl.EndsWith("search") ? "/search" : "")}";
    var screen = "docxCategorySearch";
}

<form id="docxCategorySearchForm" method="post" asp-action="Search">
    <vc:search-page-buttons can-add="ViewBag.CanAddRecord" title="@ViewData["Title"]"></vc:search-page-buttons>
    <div class="container-fluid">
        <div class="row form-group">
            <div class="col-md-8">
                <label for="DOCXCatDesc">@SharedLocalizer["Category"]</label>
                @await Component.InvokeAsync("ComboBox", new { name = "DOCXCatDesc", controller = "DOCXCategory", area = "Shared", screen = screen })
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <label for="Remarks">@SharedLocalizer["Remarks"]</label>
                <textarea type="text" name="Remarks" class="form-control" rows="2"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="CreatedBy">@SharedLocalizer["Created By"]</label>
                @await Component.InvokeAsync("ComboBox", new { name = "CreatedBy", controller = "DOCXCategory", area = "Shared", screen = screen })
            </div>
            <div class="col-md-4">
                <label for="DateCreatedFrom">@SharedLocalizer["Date Created"]</label>
                @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DateCreatedFrom"))
            </div>
            <div class="col-md-4">
                <label for="DateCreatedTo">@SharedLocalizer["To"]</label>
                @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DateCreatedTo"))
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="UpdatedBy">@SharedLocalizer["Updated By"]</label>
                @await Component.InvokeAsync("ComboBox", new { name = "UpdatedBy", controller = "DOCXCategory", area = "Shared", screen = screen })
            </div>
            <div class="col-md-4">
                <label for="LastUpdateFrom">@SharedLocalizer["Last Update"]</label>
                @await Component.InvokeAsync("DatePicker", new DatePickerOptions("LastUpdateFrom"))
            </div>
            <div class="col-md-4">
                <label for="LastUpdateTo">@SharedLocalizer["To"]</label>
                @await Component.InvokeAsync("DatePicker", new DatePickerOptions("LastUpdateTo"))
            </div>
        </div>
    </div>
</form>


<script>
    $(document).ready(function () {
        var url = '@ViewBag.Url';
        var title = '@ViewBag.Title';
        var searchForm = 'docxCategorySearchForm';
        container = $("#"+searchForm);

        page.initializeSearchPage(url, title, searchForm);
        container.find(".cpiButtonsSearch").cpiMainButtons();
    });
    var docxCategoryPage = new ActivePage();
</script>
