@model MatterSelectionGridOption
@inject IStringLocalizer<SharedResource> Localizer
@inject IStringLocalizer<MatterResource> GMLocalizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var parentId = Model.ParentId;
    var dialogName = "relatedMatterAddDialog";
    var screen = "relatedMatterAdd";
    var gridName = "relatedMatterSelectionGrid";
    var caseNumberLabel = settings.IsClientMatterOn ? GMLocalizer[settings.LabelClientMatter] : GMLocalizer[settings.LabelCaseNumber];
    var goodsTemplate = "<span class='k-state-default'>#: data.ClassDesc #</span>";
    var enableComboPaging = settings.EnableComboBoxPaging;
    var comboPagingSize = settings.ComboBoxPagingSize;
    var controller = Model.Controller;
    var area = Model.Area;

    var keyId = Model.KeyId;
    var addMode = keyId == 0;
}

<div class="modal fade" id="@dialogName" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header py-1">
                @if (addMode)
                {
                    <h4 class="modal-title">@Localizer["Select Matter"]</h4>
                }
                else
                {
                    <h4 class="modal-title">@Localizer["Edit Matter"]</h4>
                }
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @if (!addMode)
            {
                <div class="modal-body py-0">
                    <div class="container-fluid">
                        @(Html.Kendo().Grid<SharedRelatedMatterViewModel>()
                            .Name("MatterReplaceGrid") // difference than Shared\Components\GridRelatedMatter
                            .Columns(columns =>
                            {
                                columns.Bound(r => r.RelatedCaseNumber).Title(Localizer["Matter"]).HtmlAttributes(new { @class = "relatedCaseNumber-field nowrap" });
                                columns.Bound(t => t.MatterTitle).Width(250).ClientTemplate("<div class='col' style='padding-right: 0; padding-left: 0;'><div class='tmkNameSearchResult-collapsible'>#: MatterTitle#</div></div>");
                                columns.Bound(r => r.SubCase).Width(100).HtmlAttributes(new { @class = "subCase-field" });
                                columns.Bound(r => r.MatterType).Width(150).HtmlAttributes(new { @class = "caseType-field" });
                                columns.Bound(t => t.MatterStatus);
                            })
                            .Selectable(selectable => selectable.Enabled(true))
                            .Editable(editable => editable.Enabled(false))
                            .Sortable(sort => sort.AllowUnsort(false))
                            .Pageable(p => p.AlwaysVisible(false))
                            .AutoBind(true)
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .Batch(true)
                            .ServerOperation(false)
                            .Model(model =>
                            {
                                model.Id(r => r.KeyId);
                            })
                            .Read(create => create.Action("GetSelectedRelatedMatter", controller, new { keyId = keyId, parentId = parentId }))
                            .Events(events =>
                            {
                                events.Error("pageHelper.onGridError");
                            })
                            )
                            .Events(events =>
                            {
                                events.DataBound("relatedMatterPage.onMatterReplaceGridDataBound");
                            })
                            .HtmlAttributes(new { @class = "kendo-Grid" })
                            )
                    </div>
                </div>
                <div></div>
            }
            <div class="modal-body py-0">
                <div class="container-fluid">
                    <form>
                        <input type="hidden" id="ParentId" value="@parentId" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group float-label">
                                    <label>@GMLocalizer[caseNumberLabel]</label>
                                    @await Component.InvokeAsync("ComboBox", new
                                        {
                                            name = "CaseNumber",
                                            controller = controller,
                                            area = area,
                                            action = "GetMatterPicklistData",
                                            enablePaging = enableComboPaging,
                                            pagingSize = comboPagingSize,
                                            data = "function (e) {var filterText = ''; if (e.filter.filters[0]) {filterText = e.filter.filters[0].value;} return { parentId: " + parentId.ToString() + ", text: filterText };}",
                                            //OnChange = "relatedMatterPage.getRelatedMatterSources"
                                        })

                                </div>
                            </div>
@*                             <div class="col-md-4">
                                <div class="form-group float-label">
                                    <label>@GMLocalizer["Country"]</label>
                                    @await Component.InvokeAsync("ComboBox", new
                                        {
                                            name = "Country",
                                            controller = controller,
                                            area = area,
                                            action = "GetMatterPicklistData",
                                            enablePaging = enableComboPaging,
                                            data = $"{{parentId: '{parentId}'}}",
                                            pagingSize = comboPagingSize,
                                            //OnChange = "relatedMatterPage.getRelatedMatterSources"
                                        })
                                </div>
                            </div> *@
                            <div class="col-md-4">
                                <div class="form-group float-label">
                                    <label>@GMLocalizer["Sub Case"]</label>
                                    @await Component.InvokeAsync("ComboBox", new
                                        {
                                            name = "SubCase",
                                            controller = controller,
                                            area = area,
                                            action = "GetMatterPicklistData",
                                            enablePaging = enableComboPaging,
                                            pagingSize = comboPagingSize,
                                            data = "function (e) {var filterText = ''; if (e.filter.filters[0]) {filterText = e.filter.filters[0].value;} return { parentId: " + parentId.ToString() + ", text: filterText };}",
                                            //OnChange = "relatedMatterPage.getRelatedMatterSources"
                                        })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group float-label">
                                    <label>@GMLocalizer["Project Name"]</label>
                                    @await Component.InvokeAsync("ComboBox", new
                                        {
                                            name = "ProjectName",
                                            controller = controller,
                                            area = area,
                                            action = "GetMatterPicklistData",
                                            enablePaging = enableComboPaging,
                                            pagingSize = comboPagingSize,
                                            data = "function (e) {var filterText = ''; if (e.filter.filters[0]) {filterText = e.filter.filters[0].value;} return { parentId: " + parentId.ToString() + ", text: filterText };}",
                                            //OnChange = "relatedMatterPage.getRelatedMatterSources"
                                        })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group float-label">
                                    <label>@GMLocalizer["Program"]</label>
                                    @await Component.InvokeAsync("ComboBox", new
                                        {
                                            name = "Program",
                                            controller = controller,
                                            area = area,
                                            action = "GetMatterPicklistData",
                                            enablePaging = enableComboPaging,
                                            pagingSize = comboPagingSize,
                                            data = "function (e) {var filterText = ''; if (e.filter.filters[0]) {filterText = e.filter.filters[0].value;} return { parentId: " + parentId.ToString() + ", text: filterText };}",
                                            //OnChange = "relatedMatterPage.getRelatedMatterSources"
                                        })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group float-label">
                                    <label>@GMLocalizer["Matter Title"]</label>
                                    @await Component.InvokeAsync("ComboBox", new
                                        {
                                            name = "MatterTitle",
                                            controller = controller,
                                            area = area,
                                            action = "GetMatterPicklistData",
                                            enablePaging = enableComboPaging,
                                            pagingSize = comboPagingSize,
                                            data = "function (e) {var filterText = ''; if (e.filter.filters[0]) {filterText = e.filter.filters[0].value;} return { parentId: " + parentId.ToString() + ", text: filterText };}",
                                            //OnChange = "relatedMatterPage.getRelatedMatterSources"
                                        })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="grid-options">
                                    <div class="show-active-only">
                                        <label class="option-name" for="showActiveOnly">@Localizer["Show Active Cases Only"]</label>
                                        <span>
                                            <label class="toggle-switch">
                                                <input id="showActiveOnly" type="checkbox" class="toggle-option" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col" style="display: flex; justify-content: flex-end;">
                                <a class="nav-link search-submit" href="#" title="@Localizer["Search"]" role="button">
                                    <i class="fal fa-search pr-1"></i><span>@Localizer["Search"]</span>
                                </a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <div>
                <div class="container-fluid"
                     data-update-success="@Localizer["Related Matter has been saved successfully."]"
                     data-updates-success="@Localizer["Related Matters have been saved successfully."]">

                    @(Html.Kendo().Grid<MatterSelectionViewModel>
                        ()
                        .Name(gridName)
                        .Columns(columns =>
                        {
                            columns.Bound(r => r.CaseNumber).Title(Localizer[caseNumberLabel]).Filterable(ftb => ftb.Multi(true).Search(true)).HtmlAttributes(new { @class = "nowrap" });
                            columns.Bound(r => r.MatterTitle).Width(200).ClientTemplate("<div class='col' style='padding-right: 0; padding-left: 0;'><div class='tmkNameSearchResult-collapsible'>#: MatterTitle#</div></div>").Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Bound(r => r.SubCase).Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Bound(r => r.MatterType).Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Bound(r => r.ProjectName).Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Bound(r => r.Program).Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Select().Width(50);
                        })
                        .Pageable(p => p.Responsive(false))
                        .Filterable(ftb => ftb.Enabled(true))
                        .Sortable(sort => sort.AllowUnsort(false))
                        .Events(ev => ev.Change($"function() {{relatedMatterPage.relatedMatterSelectionChange('{@dialogName}');}}"))
                        .PersistSelection()
                        .AutoBind(false)
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Model(model => model.Id(r => r.MatId))
                        .PageSize(10)
                        .Read(read => read.Action("RelatedMatterSelectionRead", controller)
                        .Data($"function() {{return relatedMatterPage.getRrelatedMatterParam('{dialogName}')}}"))
                        .ServerOperation(false)
                        )
                        .Events(events =>
                        {
                            events.DataBound("relatedMatterPage.onMattersGridDataBound");
                        })
                        .HtmlAttributes(new { @class = "kendo-Grid" })
                        )
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Cancel"]</button>
                <button type="button" class="btn btn-primary" disabled id="save" data-url="@Url.Action(addMode ? "RelatedMattersAddSave" : "RelatedMattersEditSave", controller)"><i class="fa fa-save pr-2"></i>@Localizer["Add"]</button>
            </div>
        </div>
    </div>
    <style>
        button {
            cursor: not-allowed;
        }
    </style>
</div>

