@model LetterPopupViewModel
@inject IStringLocalizer<SharedResource> Localizer

@{
    var recordKey = Model.RecordKey;
    var recordId = Model.RecordId;
    var letterScreenCode = Model.ScreenCode;
    var letterContainer = "letterContainer";
}
<input type="hidden" id="letterRecordKey" value="@recordKey" />
<input type="hidden" id="letterRecordId" value="@recordId" />
<input type="hidden" id="letterScreenCode" value="@letterScreenCode" />

<div id="letterGenDialog" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="letterGenDialogTitle" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">

            <div class="modal-header py-1">
                <h5 class="modal-title">@Localizer["Letter Generation"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container-fluid py-0">
                <div id="errorSummary" class="alert alert-danger d-none alert-dismissible fade show" role="alert">
                    <div class="content"></div>
                    <button type="button" class="close alert-close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group float-label">
                            <label>@Localizer["Source Screen"]</label>
                            <input type="text" class="form-control form-control-sm" asp-for="ScreenName" readonly="readonly" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group float-label">
                            <label for="LetCatId">@Localizer["Category"]</label>
                            @await Component.InvokeAsync("ComboBox", new
                                {
                                    name = "LetterCategory",
                                    textProperty = "LetCatDesc",
                                    valueProperty = "LetCatId",
                                    controller = "LetterCategory",
                                    area = "Shared",
                                    action = "GetCategoryListBySystem",
                                    onChange = "letter.letterCategory_change",
                                    data = $"{{system: '{Model.SystemType}'}}"
                                })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group float-label" style="width:100%">
                            <label for="pat-search-str">@Localizer["Search Letter Name"]</label>
                            <input type="text" id="letter-search" class="form-control form-control-sm" />
                            <i class="far fa-search text-muted letter-search-submit" title="@Localizer["Search"]"></i>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group float-label">
                            <label for="LetSubCatId">@Localizer["Sub Category"]</label>
                            @await Component.InvokeAsync("ComboBox", new
                                {
                                    name = "LetSubCat",
                                    textProperty = "LetSubCat",
                                    valueProperty = "LetSubCatId",
                                    controller = "LetterSubCategory",
                                    area = "Shared",
                                    action = "GetLetterSubCategoryList",
                                    onChange = "letter.letterCategory_change"
                                })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group float-label">
                            <label for="Tags">@Localizer["Tags"]</label>
                            @*                             @await Component.InvokeAsync("ComboBox", new
                            {
                            name = "Tag",
                            textProperty = "Tag",
                            valueProperty = "Tag",
                            Controller = "Letter",
                            area = "Shared",
                            action = "GetTagPickListData",
                            onChange = "letter.letterCategory_change"
                            }) *@
                            @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                       {
                           Controller = "Letter",
                           Area = "Shared",
                           Action = "GetTagPickListData",
                           Name = "Tag",
                           DataTextProperty = "Tag",
                           DataValueProperty = "Tag",
                           ListWidth = 500,
                           OnChange = "letter.letterCategory_change"
                       })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <span style="font-style:italic; font-size: small; font-weight: bold;" class="pt-2 pb-2">@Localizer["Please select a letter to generate."]</span>
                    </div>
                </div>
                <div class="p-1" id="@letterContainer" data-filter-url="@Url.Action("UpdatePopupFilter", "Letter")"
                     data-gen-title="@Localizer["Generate Letter"]"
                     data-gen-log-message="@Localizer["Please confirm that you want to preview and log this letter:"]"
                     data-gen-nolog-message="@Localizer["Please confirm that you want to preview this letter without logging:"]"
                     data-no-letter-selected="@Localizer["Please select a letter to generate."]"
                     data-no-contacts="@Localizer["Unable to generate the letter. There are no contacts listed."]"
                     data-no-selected-contacts="@Localizer["Please select at least one recipient contact."]"
                     data-no-template-file="@Localizer["Unable to generate the letter. It has no template file."]">
                    <div class="form-row">
                        <div class="col">
                            @(Html.Kendo().Grid<LetterListViewModel>()
                                .Name("letterListGrid")
                                .Columns(columns =>
                                {
                                    columns.Bound(l => l.LetId).Hidden();
                                    columns.Bound(l => l.LetName);
                                    columns.Bound(l => l.TemplateFile);
                                })
                                .AutoBind(false)
                                .Pageable(page => page.Responsive(false).PageSizes(true).Refresh(true))
                                .Sortable(sortable => sortable.SortMode(GridSortMode.SingleColumn).ShowIndexes(true))
                                .Selectable()
                                .DataSource(dataSource => dataSource
                                .Ajax()
                                .Model(model =>
                                {
                                    model.Id(l => l.LetId);
                                })
                                .Events(events => events.Error("letterSetup.searchResultGridError"))
                                //.Events(events => events.RequestEnd("letterSetup.searchResultGridRequestEnd"))

                                .PageSize(8)
                                //.Read(read => read.Action("PageRead", "Letter").Data($"{{systemType: '{Model.SystemType}', screenCode: '{Model.ScreenCode}', letterName: letter.getSearchedLetter()}}"))
                                .Read(read => read.Action("PageRead", "Letter").Data("letter.getSearchedLetter"))
                                .Sort(sort => sort.Add(i => i.LetName))
                                )
                                .Events(events => events
                                .Change("letter.gridDisplayDetail")
                                )
                                .HtmlAttributes(new { @class = "k-grid-border" })
                                )
                        </div>
                        <form action="@Url.Action("Generate", "Letter", new {Area = "Shared"})" method="post" id="letterForm">
                            <input type="hidden" name="letterFormParams" id="letterFormParams" />
                        </form>
                    </div>
                </div>
                <div class="p-1">
                    <ul class="nav nav-tabs nav-tabs-horizontal scrolling" id="letterTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="letterRecipientTab" data-toggle="tab" href="#letterRecipientTabContent" role="tab" aria-controls="letterRecipientTabContent" aria-selected="false"> @Localizer["Recipients"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="letterFilterTab" data-toggle="tab" href="#letterFilterTabContent" role="tab" aria-controls="letterFilterTabContent" aria-selected="true"> @Localizer["Filters"]</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="letterTabContent">
                        <div class="tab-pane show active py-2" id="letterRecipientTabContent" role="tabpanel" aria-labelledby="letterRecipientTabContent">
                            <div class="p-2">
                                @await Html.PartialAsync("_GridContact")
                            </div>
                        </div>
                        <div class="tab-pane show py-2" id="letterFilterTabContent" role="tabpanel" aria-labelledby="letterFilterTabContent">
                            <div class="p-2">
                                @await Html.PartialAsync("_GridFilter")
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="generateLetterButton" type="button" class="btn btn-primary float-right"><i class="fal fa-file-plus pr-2"></i>@Localizer["Preview & Log"]</button>
                @*<button id="previewLetterButton"  type="button" class="btn btn-primary float-right"><i class="fal fa-search pr-2"></i>@Localizer["Preview Only"]</button>*@
                <button id="previewLetterButton" type="button" class="btn btn-primary float-right">@Localizer["Preview Only"]</button>
                <button id="cancel" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle pr-2"></i>@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        letter.initialize({
            letterContainer: "#@letterContainer",
            letterDialog: "#letterGenDialog",
            systemType: "@(Model.SystemType)",
            screenCode: "@(Model.ScreenCode)"
        });

    });

</script>

<style>
    #letterListGrid tr:hover {
        cursor: pointer;
    }

    #letterListGrid tr.k-state-selected {
        background-color: var(--grid-hover) !important;
    }

    #letterGenDialog i.fa-search {
        position: absolute;
        top: 15px;
        right: 10px;
        cursor: pointer;
    }

</style>