@using Microsoft.AspNetCore.Internal
@using Microsoft.AspNetCore.Mvc.Localization;
@using R10.Web.Extensions;
@inject IStringLocalizer<SharedResource> SharedLocalizer
@model LetterCategory

@{
    var requestContext = Context.Request;
    if (requestContext.IsAjax())
    {
        Layout = null;
    }
    ViewBag.Title = SharedLocalizer["Letter Category Detail"];
    ViewBag.DetailUrl = Url.Action("Detail", "LetterCategory", new {id = "recId"}).ToLower();
    ViewBag.SearchUrl = Url.Action("Search", "LetterCategory").ToLower();
    var fromSearch = ViewBag.FromSearch != null && (bool)ViewBag.FromSearch;
    var mainContainer = "letterCategoryDetailsView";
    var navContainer = "letterCategoryDetailNavigator";
    var infoContainer = "letterCategoryInfo";
}

<div id="@mainContainer">
    <script>
        if (letterCategoryPage === undefined) {
            var letterCategoryPage = new ActivePage();
        }

        $(document).ready(function () {
            var params = {
                detailUrl: '@ViewBag.DetailUrl',
                searchUrl: '@ViewBag.SearchUrl',
                title: '@ViewBag.Title',
                recordId: @Model.LetCatId,
                mainDetailContainer: '@mainContainer',
                recordNavigatorContainer: '@navContainer',
                detailContentContainer: '@infoContainer',
                activePage: letterCategoryPage,
                singleRecord: @(ViewBag.SingleRecord !=null && (bool)ViewBag.SingleRecord ? "true":"false")
            };
            page.initializeDetailPage(params);

        });
    </script>
    <div id="@infoContainer" class="cpiDataContainer">
        @await Html.PartialAsync("_DetailContent", Model)
    </div>
    <div class="cpiContainerPopup"></div>

    @if (Model.LetCatId > 0)
    {
        <div id="@navContainer" class="mt-md-3">
            @await Html.PartialAsync("_RecordNavigator")
        </div>
    }
</div>