@model DocVerificationActionDocZoomViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@inject IAuthorizationService AuthorizationService
@{
    var settings = await Settings.GetSetting();
    var caseNumberLabel = settings.IsClientMatterOn ? Localizer[settings.LabelClientMatter ?? "Client Matter"] : Localizer[settings.LabelCaseNumber ?? "Case Number"];
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];    

    var viewerAction = ViewBag.FromTemp != null && (bool)ViewBag.FromTemp ? "GetTempFileDocumentViewer" : "GetDocumentViewer";
    var docUrl = Url.Action(viewerAction, "DocViewer", new { Area = "Shared", docFileName = Model.DocFileName, system = Model.System, screenCode = Model.ScreenCode, key = Model.ParentId, fileType = Model.FileType, sideBarView = GleamTech.DocumentUltimate.AspNet.UI.DocumentViewerSidebarView.None });

    var detailsUrl = Url.Action("DetailLink", "ActionDue", new { area = Model.System, id = "#: ActId#" });
    var detailsLinkTemplate = $"<a href={detailsUrl} target='_blank' class='details-link' >#: ActionDue#</a>";
    var actionParam = $"{{parentId: {Model.ActId}}}";

    var actionVerifiedDateKey = string.Empty;
    var caseNumberUrl = string.Empty;
    var countryUrl = string.Empty;
    var systemLabel = string.Empty;
    var caseTypeLabel = Localizer["Case Type"];
    var filDateLabel = Localizer["Filing Date"];
    if (Model.System == SystemType.Patent)
    {
        actionVerifiedDateKey = SystemTypeCode.Patent + Model.ActId.ToString() + "|";
        systemLabel = Localizer["Patent"].ToString();
        caseNumberUrl = Url.Action("Detail", "Invention", new { area = "Patent", id = Model.InvId, fromSearch = true });
        countryUrl = Url.Action("Detail", "CountryApplication", new { area = "Patent", id = Model.ParentId, fromSearch = true });
    }
    else if (Model.System == SystemType.Trademark)
    {
        actionVerifiedDateKey = SystemTypeCode.Trademark + Model.ActId.ToString() + "|";
        systemLabel = Localizer["Trademark"].ToString();
        countryUrl = Url.Action("Detail", "TmkTrademark", new { area = "Trademark", id = Model.ParentId, fromSearch = true });
    }
    else if (Model.System == SystemType.GeneralMatter)
    {
        actionVerifiedDateKey = SystemTypeCode.GeneralMatter + Model.ActId.ToString() + "|";
        caseTypeLabel = Localizer["Matter Type"];
        filDateLabel = Localizer["Effective Open Date"];
        systemLabel = Localizer["Gen Matter"].ToString();
        caseNumberUrl = Url.Action("Detail", "Matter", new { area = "GeneralMatter", id = Model.ParentId, fromSearch = true });
    }

    var popupTitle = Model.DocName;

    if (string.IsNullOrEmpty(Model.DocFileName))
    {
        popupTitle = Model.ActionType;
        docUrl = "";
    }
}

<div id="docVerificationActDocZoomDialog" class="modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="docVerificationActDocZoomDialogTitle" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:80%; max-height:92vh;">
        <div class="modal-content">
            <form method="post">
                <input type="hidden" id="actionVerifiedDateKey" value="@actionVerifiedDateKey" />                
                <div class="modal-header">
                    <h4 class="modal-title" id="docVerificationActDocZoomDialogTitle">@popupTitle</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="@Localizer["Close"]">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-6">
                            <div id="docVerificationActDocViewerContainer" data-viewer-url="@docUrl">                                                                
                            </div>
                            @if (string.IsNullOrEmpty(docUrl))
                            {
                                <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                                    <span>@Localizer["No document available"]</span>
                                </div>
                            }
                        </div>
                        <div class="col-6">
                            <div id="actDocZoomPopupSummary" class="page-status alert alert-danger alert-dismissible boxy collapse" role="alert">
                                <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <span class="message"></span>
                            </div>
                            <div class="form-row">                            
                                <div class="col-4">
                                    <div class="form-group float-label">
                                        <label for="CaseNumber">@caseNumberLabel</label>
                                        @if (Model.System != SystemType.Trademark)
                                        {
                                            <div class="d-flex">
                                                <input type="text" class="form-control form-control-sm" asp-for="CaseNumber" asp-is-readonly="true" />
                                                <a href="@caseNumberUrl" target="_blank"><i cpi-button-link></i></a>
                                            </div>
                                        }
                                        else
                                        {
                                            <input type="text" class="form-control form-control-sm" asp-for="CaseNumber" asp-is-readonly="true" />
                                        }
                                    </div>
                                </div>
                                <div class="col-4">
                                    @if (Model.System != SystemType.GeneralMatter)
                                    {
                                        <div class="form-group float-label">
                                            <label asp-for="Country">@countryLabel</label>
                                            <div class="d-flex">
                                                <input type="text" class="form-control form-control-sm" asp-for="Country" asp-is-readonly="true" />
                                                <a href="@countryUrl" target="_blank"><i cpi-button-link></i></a>
                                            </div>
                                        </div>
                                    }                                
                                </div>
                                <div class="col-4">
                                    <div class="form-group float-label">
                                        <label asp-for="System">@Localizer["System"]</label>
                                        <input type="text" class="form-control form-control-sm" readonly value="@systemLabel" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-4">
                                    <div class="form-group float-label">
                                        <label asp-for="SubCase">@Localizer["Sub Case"]</label>
                                        <input type="text" class="form-control form-control-sm" asp-for="SubCase" asp-is-readonly="true" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group float-label">
                                        <label asp-for="CaseType">@caseTypeLabel</label>
                                        <input type="text" class="form-control form-control-sm" asp-for="CaseType" asp-is-readonly="true" />
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group float-label">
                                        <label asp-for="Status">@Localizer["Status"]</label>
                                        <input type="text" class="form-control form-control-sm" asp-for="Status" asp-is-readonly="true" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-4">
                                    @if(Model.System != SystemType.GeneralMatter)
                                    {
                                        <div class="form-group float-label">
                                            <label asp-for="AppNumber">@Localizer["Application No."]</label>
                                            <input type="text" class="form-control form-control-sm" asp-for="AppNumber" asp-is-readonly="true" />
                                        </div>
                                    }                                
                                </div>
                                <div class="col-4">

                                </div>
                                <div class="col-4">
                                    <div class="form-group float-label">
                                        <label asp-for="FilDate">@filDateLabel</label>
                                        <input type="text" class="form-control form-control-sm" asp-for="FilDate" asp-is-readonly="true" value="@(Model.FilDate.FormatToDisplay())" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-8">
                                    <div class="form-group float-label">
                                        <label asp-for="ActionType"></label>
                                        <input type="text" class="form-control form-control-sm" asp-for="ActionType" asp-is-readonly="true" />
                                    </div>
                                </div>          
                                <div class="col-4">
                                    <div class="form-group float-label">
                                        <label asp-for="BaseDate"></label>
                                        <input type="text" class="form-control form-control-sm" asp-for="BaseDate" asp-is-readonly="true" value="@(((DateTime?)Model.BaseDate).FormatToDisplay())" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-4">
                                    <div class="form-group float-label">
                                        <label asp-for="VerifiedBy"></label>
                                        <input type="text" class="form-control form-control-sm" asp-for="VerifiedBy" asp-is-readonly="true" />
                                    </div>
                                </div>
                                @if (Model.CanVerifyAction)
                                {
                                    <div class="col-4 d-flex verified-date">
                                        <div class="form-group float-label">
                                            <label asp-for="DateVerified"></label>
                                            @* @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DateVerified") { Value = Model.DateVerified, ValidationMessage = Localizer["The Action Verified Date field is required."].Value }) *@
                                            @* <span asp-validation-for="DateVerified"></span> *@
                                            @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DateVerified") { Value = Model.DateVerified })

                                        </div>
                                        <div class="pl-2" style="padding-top:15px;cursor:pointer;">
                                            <span class="verified-date-default" title="@Localizer["Set to current date"]"><i class="fal fa-calendar-check"></i></span>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-4">
                                        <div class="form-group float-label">
                                            <label asp-for="DateVerified"></label>
                                            <input type="text" class="form-control form-control-sm" asp-for="DateVerified" asp-is-readonly="true" value="@(((DateTime?)Model.DateVerified).FormatToDisplay())" />
                                        </div>                                        
                                    </div>
                                }                                
                            </div>
                            <div class="form-row">
                                <div class="col" id="docVerificationActionsContainer">
                                    @(Html.Kendo().Grid<ActionDueViewModel>().Name("docVerificationActionsGrid")
                                        .Columns(columns =>
                                        {
                                            columns.Bound(a => a.ActionDue)
                                            .ClientTemplate(detailsLinkTemplate).Width(250);
                                            columns.Bound(a => a.DueDate).Format("{0:dd-MMM-yyyy}").Width(115);
                                            columns.Bound(a => a.Indicator).Width(50);
                                            columns.Bound(a => a.DateTaken).Format("{0:dd-MMM-yyyy}").Width(115);
                                        })
                                        .Pageable(pageable => pageable.Responsive(false).ButtonCount(5))
                                        .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .PageSize(settings.SubFormPageSize)
                                        .Read(create => create.Action("GridRead", "ActionDueDate", new { area = Model.System }).Data(@actionParam))
                                        .Events(events =>
                                        {
                                            events.Error("page.gridErrorHandler");
                                        })
                                        )
                                        .HtmlAttributes(new { @class = "kendo-Grid" })
                                        )
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="modal-footer" style="display:block !important;">
                    <div class="row">
                        <div class="col-8" id="docVerificationActDocZoomDialogPager">
                            <div class="k-pager-wrap k-grid-pager k-widget k-floatwrap">
                                <a class="k-link k-pager-nav navigate" data-dir="top" tabindex="-1">
                                    <span class="k-icon k-i-seek-w"></span>
                                </a>
                                <a class="k-link k-pager-nav navigate" data-dir="prev" tabindex="-1">
                                    <span class="k-icon k-i-arrow-w"></span>
                                </a>
                                <a class="k-link k-pager-nav navigate" data-dir="next" tabindex="-1">
                                    <span class="k-icon k-i-arrow-e"></span>
                                </a>
                                <a class="k-link k-pager-nav navigate" data-dir="last" tabindex="-1">
                                    <span class="k-icon k-i-seek-e"></span>
                                </a>
                                <input type="text" style="border: 1px solid var(--control-border); width:80px;height: 80%; text-align:center;" class="currentRecPosition" />&nbsp;@Localizer["of"]&nbsp;<span class="navTotalRecs"></span>&nbsp;@Localizer["records"]
                            </div>
                        </div>
                        <div class="col-4">
                            @if (Model.CanVerifyAction)
                            {
                                <button type="button" class="btn btn-primary save-verified-date float-right" style="margin-left:.50rem !important;"><i class="fa fa-check pr-2"></i>@Localizer["Save"]</button>
                            }
                            <button id="cancel" type="button" class="btn btn-secondary float-right" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Close"]</button>                        
                        </div>
                    </div>                
                </div>
            </form>
        </div>       
    </div>
    
</div>
<style>
    #docVerificationActDocViewerContainer .ui-resizable {
        width: 100% !important;
        height: 75vh !important;
    }

    #docVerificationActDocZoomDialog .modal-body {
        min-height: 68vh !important;
    }
</style>