@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@inject IAuthorizationService AuthorizationService
@{
    var settings = await Settings.GetSetting();

    var caseNumberLabel = settings.IsClientMatterOn ? Localizer[settings.LabelClientMatter ?? "Client Matter"] : Localizer[settings.LabelCaseNumber ?? "Case Number"];
    var countryLabel = Localizer["Country"];

    var additionalData = "function() {return documentVerificationPage.getCriteria(documentVerificationPage.refineSearchContainer);}";

    var canModifyPatDoc = (await AuthorizationService.AuthorizeAsync(User, PatentAuthorizationPolicy.CanUploadDocuments)).Succeeded;
    var canModifyTmkDoc = (await AuthorizationService.AuthorizeAsync(User, TrademarkAuthorizationPolicy.CanUploadDocuments)).Succeeded;
    var canModifyGMDoc = (await AuthorizationService.AuthorizeAsync(User, GeneralMatterAuthorizationPolicy.CanUploadDocuments)).Succeeded;

    var canUploadDoc = canModifyPatDoc || canModifyTmkDoc || canModifyGMDoc;

    var documentStorageOptions = settings.DocumentStorage;
    
    var docsStorageOption = ((int)(settings.DocumentStorage)).ToString();
    var docsSharePoint = ((int)DocumentStorageOptions.SharePoint).ToString();
    var docsIManage = ((int)DocumentStorageOptions.iManage).ToString();
    var docsNetDocs = ((int)DocumentStorageOptions.NetDocuments).ToString();
    var docsController = "DocDocuments";
    
    if (docsStorageOption == docsSharePoint) 
        docsController = "SharePointGraph"; 
    else if (docsStorageOption == docsIManage)
        docsController = "iManageWork";
    else if (docsStorageOption == docsNetDocs)
        docsController = "NetDocs";
}
<div class="page-header cpiButtonsDetail" id="communicationHeaderContainer">
    <nav class="nav nav-left pt-2 sidebar-link" style="align-items:center;">
        @if (canUploadDoc)
        {
            <a class="nav-link select-all-record" href="#" role="button"><i class="fal fa-check pr-1"></i><span>@Html.Raw(Localizer["Select all"])</span></a>
            <a class="nav-link responsible-doc" href="#" role="button"><i class="fal fa-user pr-1"></i><span>@Html.Raw(Localizer["Delegate Task"])</span></a>
        }
        <a class="nav-link print-record" href="#" role="button"><i class="fal fa-file-arrow-down pr-1"></i><span>@Html.Raw(Localizer["Print View"])</span></a>
        <a class="nav-link excel-export" href="#" role="button"><i class="fal fa-file-excel pr-1"></i><span>@Html.Raw(Localizer["Export to Excel"])</span></a>
    </nav>
    <form id="communicationExportToExcel" action="@Url.Action("ExportToExcel")" method="post">
        <input type="hidden" name="exportCriteria" id="commExportCriteria" value="" />
    </form>
</div>

<div id="communicationContainer">
    <div id="commHeaderContainer_fake">
        <table>
            <thead class="commHeaderContainer">
                <tr>
                    <th style="width:45%"><a data-id="Comm_DocName" href="#">@Html.Raw(Localizer["Document"])</a></th>
                    <th style="width:10%"><a data-id="Comm_CaseNumber" href="#">@Html.Raw(caseNumberLabel)</a></th>
                    <th style="width:5%"><a data-id="Comm_Country" href="#">@Html.Raw(countryLabel)</a></th>
                    <th style="width:5%"><a data-id="Comm_SubCase" href="#">@Html.Raw(Localizer["Sub Case"])</a></th>
                    <th style="width:15%"><a data-id="Comm_RespReporting" href="#">@Html.Raw(Localizer["Responsible (Reporting)"])</a></th>
                    <th style="width:5%"><a data-id="Comm_DocLibrary" href="#">@Html.Raw(Localizer["System"])</a></th>
                    <th style="width:15%"><a data-id="Comm_UploadedDate" href="#">@Html.Raw(Localizer["Uploaded Date"])</a></th>
                    <th style="width:7%"><a href="#"></a></th>
                </tr>
            </thead>
        </table>
    </div>
    <table>
        <thead id="commHeaderContainer_real" class="commHeaderContainer">
            <tr>
                <th style="width:45%"><a data-id="Comm_DocName" href="#">@Html.Raw(Localizer["Document"])</a></th>
                <th style="width:10%"><a data-id="Comm_CaseNumber" href="#">@Html.Raw(caseNumberLabel)</a></th>
                <th style="width:5%"><a data-id="Comm_Country" href="#">@Html.Raw(countryLabel)</a></th>
                <th style="width:5%"><a data-id="Comm_SubCase" href="#">@Html.Raw(Localizer["Sub Case"])</a></th>
                <th style="width:15%"><a data-id="Comm_RespReporting" href="#">@Html.Raw(Localizer["Responsible (Reporting)"])</a></th>
                <th style="width:5%"><a data-id="Comm_DocLibrary" href="#">@Html.Raw(Localizer["System"])</a></th>
                <th style="width:15%"><a data-id="Comm_UploadedDate" href="#">@Html.Raw(Localizer["Uploaded Date"])</a></th>
                <th style="width:7%"><a href="#"></a></th>
            </tr>
        </thead>
        @(Html.Kendo().ListView<DocumentVerificationCommunicationDTO>()
            .Name("documentVerificationCommunicationGrid")
            .TagName("tbody")
            .ContentElement("")
            .ClientTemplateId("commTemplate")
            .AutoBind(false)
            .Events(e => e.DataBound("documentVerificationPage.communicationDataBound"))
            .DataSource(dataSource => dataSource
                .Ajax()
                .ServerOperation(false)
                .Read(read => read.Action("Communication_Read", "DocumentVerification")
                .Data(additionalData))
                .Sort(sort => sort.Add(c => c.UploadedDate).Descending())
                .PageSize(User.GetSearchResultsPageSize(settings.SearchResultsPageSize))
                .Events(e => {
                    e.RequestEnd("documentVerificationPage.communicationRequestEnd");
                })
            )
            .Pageable(pageable => pageable
                .Refresh(true)
                .ButtonCount(5)
                .PageSizes(settings.SearchResultsPageSizeOptions)
            )            
            .HtmlAttributes(new { @class = "kendo-listView" })
            )
    </table>
    <script type="text/x-kendo-tmpl" id="commTemplate">
        <tr class="main item">
            <td style="width:45%">
                <input type="checkbox" class="click" name="chkCommunicationLink" value="#:DocId#" data-doc-name="#:DocName#" data-system-type="#:System#"/>                
                #if ("@docsStorageOption"==="@docsSharePoint") {#
                    <span><a href="javascript:documentVerificationPage.viewSPDocument('#:DocLibrary#', '#:DriveItemId#')"><i class="fal fa-search-plus" title="@Html.Raw(Localizer["View"])"></i>#=DocName#</a></span>
                #}
                else if ("@docsStorageOption"==="@docsIManage" || "@docsStorageOption"==="@docsNetDocs"){#
                    <span><a href="@(Url.Action("Open", docsController, new { area = "", id = "" }))/#:DriveItemId#" target="_blank" rel="noopener" draggable="false"><i class="fal fa-search-plus" title="@Html.Raw(Localizer["View"])"></i>#=DocName#</a></span>
                #}
                else {#
                    <span><a href="javascript:documentVerificationPage.viewDocument('', '#:DocFileName#', #:ParentId#)"><i class="fal fa-search-plus" title="@Html.Raw(Localizer["View"])"></i>#=DocName#</a></span>
                #}#
            </td>            
            <td style="width:10%">
                #if((System === '@SystemTypeCode.Patent' || System === '@SystemTypeCode.GeneralMatter') && canAccessSystem(System))
                {#
                    <span><a href="javascript:documentVerificationPage.redirectToRecordByCaseNumber('#:System#', '#:CaseNumber#', #:ParentId#)"><i class='fal fa-search-plus'></i> #=(CaseNumber == null) ? '' : CaseNumber#</a></span>
                #} else {#
                    <span>#=(CaseNumber == null) ? '' : CaseNumber#</span>
                #}#
            </td>
            <td style="width:5%">
                #if((System === '@SystemTypeCode.Patent' || System === '@SystemTypeCode.Trademark') && canAccessSystem(System))
                {#
                    <span><a href="javascript:documentVerificationPage.redirectToRecordByCountry('#:System#', #:ParentId#)"><i class='fal fa-search-plus'></i> #=(Country == null) ? '' : Country#</a></span>
                #} else {#
                    <span>#=(Country == null) ? '' : Country#</span>
                #}#                
            </td>
            <td style="width:5%">
                <span>#=(SubCase == null) ? '' : SubCase#</span>
            </td>
            <td style="width:15%">
                <span>#=(RespReporting == null) ? '' : RespReporting#</span>
            </td>
            <td style="width:5%">
                #if(System === '@SystemTypeCode.Patent')
                {#
                <span>#=getDVLabel('patentLabel')#</span>
                #}                
                else if(System === '@SystemTypeCode.Trademark') {#
                <span>#=getDVLabel('trademarkLabel')#</span>
                #}
                else if (System === '@SystemTypeCode.GeneralMatter')
                {#
                <span>#=getDVLabel('genMatterLabel')#</span>
                #}
                else if (System === 'O' || System == null || System === '')
                {#
                <span>#=getDVLabel('orphanageLabel')#</span>
                #}
                #
            </td>           
            <td style="width:15%">
                <span>#= kendo.toString(UploadedDate,'dd-MMM-yyyy hh:mm:ss tt')#</span>
            </td>    
            <td style="width:7%; text-align:right;">
                #if (CanUploadDocument) {#
                    #if ("@docsStorageOption"==="@docsSharePoint") {#
                        <a href="javascript:documentVerificationPage.editSPDocument('#:DriveItemId#')"><i class="fal fa-pencil-alt pr-1" title="@Html.Raw(Localizer["Edit"])"></i></a>
                    #} else if ("@docsStorageOption"==="@docsIManage"){#
                        <a href="javascript:documentVerificationPage.editIMDocument('#:System#', '#:DriveItemId#', #:ParentId#, '#:DocName#')"><i class="fal fa-pencil-alt pr-1" title="@Html.Raw(Localizer["Edit"])"></i></a>
                    #} else {#
                        <a href="javascript:documentVerificationPage.editDocument('#:System#', #:ParentId#, #:DocId#)"><i class="fal fa-pencil-alt pr-1" title="@Html.Raw(Localizer["Edit"])"></i></a>
                    #}#

                    #if (canSendToClient(System)) {#
                    <a href="javascript:documentVerificationPage.viewCommDocument('#:System#', #:DocId#, '#:DriveItemId#', #:ParentId#)"><i class="fal fa-envelope pr-1" title="@Html.Raw(Localizer["Email"])"></i></a>
                    #}#
                    <a href="javascript:documentVerificationPage.viewCommDocumentQELog('#:System#', #:DocId#, '#:DriveItemId#', #:ParentId#)"><i class="fal fa-file-lines pr-1" title="@Html.Raw(Localizer["Email Logs"])"></i></a>
                    <a class="#:(System === '' || System == null || System === 'O') ? 'd-none' : ''#" href="javascript:documentVerificationPage.editResponsible('#:System#', 'DocId|#:DocId#', '#:DocName#', @((int)DocRespLogType.Reporting))"><i class="fal #:((RespReporting != '' && RespReporting != null)) ? 'fa-users' : 'fa-user'# pr-1" title="@Html.Raw(Localizer["Delegate Task"])"></i></a>
                #} else {#
                    #if ("@docsStorageOption"==="@docsSharePoint") {#
                        <a href="javascript:documentVerificationPage.viewSPDocument('#:DocLibrary#', '#:DriveItemId#')"><i class="fal fa-file pr-1" title="@Html.Raw(Localizer["View"])"></i></a>
                    #} else if ("@docsStorageOption"==="@docsIManage" || "@docsStorageOption"==="@docsNetDocs"){#
                        <a href="@(Url.Action("Open", docsController, new { area = "", id = "" }))/#:DriveItemId#" target="_blank" rel="noopener" draggable="false"><i class="fal fa-file pr-1" title="@Html.Raw(Localizer["View"])"></i></a>
                    #} else {#
                        <a href="javascript:documentVerificationPage.viewDocument('', '#:DocFileName#', #:ParentId#)"><i class="fal fa-file pr-1" title="@Html.Raw(Localizer["View"])"></i></a>
                    #}#
                #}#
            </td>
        </tr>
    </script>
    <div class="cpiContainerPopup"></div>
</div>
<style>   
    #communicationContainer table {
        width: 100%;
        table-layout: fixed;
        font-size: .8rem;
    }

    #commHeaderContainer_fake {
        background-color: var(--bg-main);
        z-index: 1000;
        display: none;
        position: fixed;
        top: 0px;
    }

    #commHeaderContainer_fake table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    .commHeaderContainer {
        vertical-align: bottom;
    }

    .commHeaderContainer td, .commHeaderContainer th {
        border-bottom: 1px solid #ddd;
        padding: .5em .6em .4em .6em;
    }

    .commHeaderContainer td, .commHeaderContainer th, .item td {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: .3em;
        border-spacing: 1px;
        font-weight: 400;
        text-align: left;
        outline: 0;
    }

    .commHeaderContainer a, .commHeaderContainer a:hover {
        color: var(--link-label);
        font-weight: 400;
        font-size: .9rem;
        text-decoration: none;
    }

    .commHeaderContainer th {
        color: var(--text-header);
        background-color: var(--bg-main);
            border-bottom: 1px solid var(--text-body);
    }

    #documentVerificationCommunicationGrid tr.main:not(:first-child) {
        border-top: 1px solid var(--separator);
    }
   
    #documentVerificationCommunicationGrid_pager .k-pager-info {
        display: block !important;
    }
</style>
