@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@inject IAuthorizationService AuthorizationService
@{
    var settings = await Settings.GetSetting();

    var caseNumberLabel = settings.IsClientMatterOn ? Localizer[settings.LabelClientMatter ?? "Client Matter"] : Localizer[settings.LabelCaseNumber ?? "Case Number"];
    var deDocketLabel = Localizer["De-Docket"].ToString();
    var instructionLabel = Localizer["Instruction"].ToString();
    var deDocketRemarksLabel = Localizer["De-Docket Remarks"].ToString();
    var instructedByLabel = Localizer["Instructed By"].ToString();
    var instructionDateLabel = Localizer["Instruction Date"].ToString();
    var completedLabel = Localizer["Completed?"].ToString();

    var requestDocketLabel = Localizer["Request Docket"].ToString();
    var docketRequiredLabel = Localizer["Docket Required"].ToString();

    var additionalData = "function() {return documentVerificationPage.getCriteria(documentVerificationPage.refineSearchContainer);}";

    var canModifyPatDoc = (await AuthorizationService.AuthorizeAsync(User, PatentAuthorizationPolicy.CanUploadDocuments)).Succeeded;
    var canModifyTmkDoc = (await AuthorizationService.AuthorizeAsync(User, TrademarkAuthorizationPolicy.CanUploadDocuments)).Succeeded;
    var canModifyGMDoc = (await AuthorizationService.AuthorizeAsync(User, GeneralMatterAuthorizationPolicy.CanUploadDocuments)).Succeeded;
    var canUploadDoc = canModifyPatDoc || canModifyTmkDoc || canModifyGMDoc;

    var canAddPatAct = (await AuthorizationService.AuthorizeAsync(User, PatentAuthorizationPolicy.FullModify)).Succeeded;
    var canAddTmkAct = (await AuthorizationService.AuthorizeAsync(User, TrademarkAuthorizationPolicy.FullModify)).Succeeded;
    var canAddGMAct = (await AuthorizationService.AuthorizeAsync(User, GeneralMatterAuthorizationPolicy.FullModify)).Succeeded;

    var canAccessPatent = (await AuthorizationService.AuthorizeAsync(User, PatentAuthorizationPolicy.CanAccessSystem)).Succeeded;
    var canAccessTrademark = (await AuthorizationService.AuthorizeAsync(User, TrademarkAuthorizationPolicy.CanAccessSystem)).Succeeded;
    var canAccessGeneralMatter = (await AuthorizationService.AuthorizeAsync(User, GeneralMatterAuthorizationPolicy.CanAccessSystem)).Succeeded;
    var canAccessDueDateList = (await AuthorizationService.AuthorizeAsync(User, SharedAuthorizationPolicy.CanAccessDueDateList)).Succeeded 
                                && (canAccessPatent || canAccessTrademark || canAccessGeneralMatter);

    var isDocketRequestOn = settings.IsDocketRequestOn;
    var includeDeDocket = settings.IsDeDocketOn && settings.IncludeDeDocketInVerification;

    var docsStorageOption = ((int)(settings.DocumentStorage)).ToString();
    var docsSharePoint = ((int)DocumentStorageOptions.SharePoint).ToString();
    var docsIManage = ((int)DocumentStorageOptions.iManage).ToString();
    var docsNetDocs = ((int)DocumentStorageOptions.NetDocuments).ToString();
    var docsController = "DocDocuments";
    
    if (docsStorageOption == docsSharePoint) 
        docsController = "SharePointGraph"; 
    else if (docsStorageOption == docsIManage)
        docsController = "iManageWork";
    else if (docsStorageOption == docsNetDocs)
        docsController = "NetDocs";
}


<div class="page-header cpiButtonsDetail" id="docVerificationHeaderContainer">
    <nav class="nav nav-left pt-2 sidebar-link" style="align-items:center;">
        @if (canUploadDoc)
        {            
            <a class="nav-link select-all-record" href="#" role="button"><i class="fal fa-check pr-1"></i><span>@Html.Raw(Localizer["Select all"])</span></a>
            <a class="nav-link responsible-doc" href="#" role="button"><i class="fal fa-user pr-1"></i><span>@Html.Raw(Localizer["Delegate Task"])</span></a>
            <a class="nav-link delete-doc" href="#" role="button"><i class="fal fa-trash-alt pr-1"></i><span>@Html.Raw(Localizer["Delete"])</span></a>
        }
        <a class="nav-link print-record" href="#" role="button"><i class="fal fa-file-arrow-down pr-1"></i><span>@Html.Raw(Localizer["Print View"])</span></a>
        <a class="nav-link excel-export" href="#" role="button"><i class="fal fa-file-excel pr-1"></i><span>@Html.Raw(Localizer["Export to Excel"])</span></a>
        <a class="nav-link productivity-report" href="#" role="button"><i class="fal fa-file-chart-pie pr-1"></i><span>@Html.Raw(Localizer["Productivity Reports"])</span></a>
        @if (canAccessDueDateList)
        {
            <a class="nav-link quick-docket" href="#" role="button"><i class="fal fa-files pr-1"></i><span>@Html.Raw(Localizer["Quick Docket"])</span></a>
        }        
    </nav>
    <form id="dvExportToExcel" action="@Url.Action("ExportToExcel")" method="post">
        <input type="hidden" name="exportCriteria" id="dvExportCriteria" value="" />
    </form>
</div>

<div id="documentVerificationContainer">
    <div class="sidebar-link"></div>
    <div id="dvHeaderContainer_fake" style="position:fixed; top:0px; z-index:999">
        <table>
            <thead class="dvHeaderContainer">
                <tr class="firstHeader">
                <th style="width:9%">
                    <a data-id="Doc_UploadedDate" href="#">@Html.Raw(Localizer["Uploaded Date"])</a>
                </th>
                <th style="width:14%">
                    <a data-id="Doc_DocName" href="#">@Html.Raw(Localizer["Document"])</a>
                </th>
                <th style="width:14%">
                    @if (isDocketRequestOn) 
                    {
                        <a data-id="Doc_ActionType" href="#">@Html.Raw(Localizer["Action Type"])</a>                        
                        <span data-id="dkrHeader" class="sub-field dkrHeader" style="cursor:pointer"><i class="far fa-plus-square icon">&nbsp;</i>@requestDocketLabel</span>
                    }
                    else 
                    {
                        <a data-id="Doc_ActionType" href="#">@Html.Raw(Localizer["Action Type"])</a>
                    }                    
                </th>
                <th style="width:5%">
                    <a data-id="Doc_CaseNumber" href="#">@Html.Raw(caseNumberLabel)</a>
                </th>
                <th style="width:4%">
                    <a data-id="Doc_Country" href="#">@Html.Raw(Localizer["Country"])</a>
                </th>
                <th style="width:5%">
                    <a data-id="Doc_CaseType" href="#">@Html.Raw(Localizer["Case Type"])</a>
                </th>
                <th style="width:6%">
                    <a data-id="Doc_AppNumber" href="#">@Html.Raw(Localizer["Application No."])</a>
                </th>
                <th style="width:8%">                    
                    <a data-id="Doc_RespDocketing" href="#">@Html.Raw(Localizer["Responsible (Docketing)"])</a>
                </th>
                <th style="width:4%">
                    <span data-id="entitiesHeader" class="sub-field entitiesHeader" style="cursor:pointer"><i class="far fa-plus-square icon">&nbsp;</i>@Localizer["Entities"]</span>
                </th>
                <th style="width:5%"></th>
            </tr>
            <tr class="secondHeader">
                <th style="width:9%"></th>
                <th style="width:14%"></th>
                @if (!includeDeDocket)
                {
                    <th style="width:14%"></th>
                }
                else
                {
                    <th style="width:14%">
                        <a data-id="Doc_ActionDue" href="#">@Html.Raw(Localizer["Action Due"])</a>                        
                        <span data-id="ddkHeader" class="sub-field ddkHeader" style="cursor:pointer"><i class="far fa-plus-square icon">&nbsp;</i>@deDocketLabel</span>
                    </th>
                }
                @if (!includeDeDocket && !isDocketRequestOn)
                {
                    <th style="width:5%"></th>
                }                
                <th style="width:4%">
                    <a data-id="Doc_SubCase" href="#">@Html.Raw(Localizer["Sub Case"])</a>
                </th>
                <th style="width:5%">
                    <a data-id="Doc_Status" href="#">@Html.Raw(Localizer["Status"])</a>
                </th>
                <th style="width:6%">
                    <a data-id="Doc_FilDate" href="#">@Html.Raw(Localizer["Filing Date"])</a>
                </th>
                <th style="width:8%">
                    <a data-id="Doc_AssignedDate" href="#">@Html.Raw(Localizer["Assigned Date"])</a>
                </th>
                @if (includeDeDocket || isDocketRequestOn)
                {
                    <th style="width:5%">
                        <a data-id="Doc_Type" href="#">@Html.Raw(Localizer["Request Type"])</a>
                    </th>
                }
                <th style="width:4%">
                    <a data-id="Doc_System" href="#">@Html.Raw(Localizer["System"])</a>
                </th>                
                <th style="width:5%"></th>
            </tr>
            </thead>
        </table>
    </div>
    <table>
        <thead id="dvHeaderContainer_real" class="dvHeaderContainer">
            <tr class="firstHeader">
                <th style="width:9%">
                    <a data-id="Doc_UploadedDate" href="#">@Html.Raw(Localizer["Uploaded Date"])</a>
                </th>
                <th style="width:14%">
                    <a data-id="Doc_DocName" href="#">@Html.Raw(Localizer["Document"])</a>
                </th>
                <th style="width:14%">
                    @if (isDocketRequestOn) 
                    {
                        <a data-id="Doc_ActionType" href="#">@Html.Raw(Localizer["Action Type"])</a>                        
                        <span data-id="dkrHeader" class="sub-field dkrHeader" style="cursor:pointer"><i class="far fa-plus-square icon">&nbsp;</i>@requestDocketLabel</span>
                    }
                    else 
                    {
                        <a data-id="Doc_ActionType" href="#">@Html.Raw(Localizer["Action Type"])</a>
                    }
                </th>
                <th style="width:5%">
                    <a data-id="Doc_CaseNumber" href="#">@Html.Raw(caseNumberLabel)</a>
                </th>
                <th style="width:4%">
                    <a data-id="Doc_Country" href="#">@Html.Raw(Localizer["Country"])</a>
                </th>
                <th style="width:5%">
                    <a data-id="Doc_CaseType" href="#">@Html.Raw(Localizer["Case Type"])</a>
                </th>
                <th style="width:6%">
                    <a data-id="Doc_AppNumber" href="#">@Html.Raw(Localizer["Application No."])</a>
                </th>
                <th style="width:8%">                    
                    <a data-id="Doc_RespDocketing" href="#">@Html.Raw(Localizer["Responsible (Docketing)"])</a>
                </th>
                <th style="width:4%">
                    <span data-id="entitiesHeader" class="sub-field entitiesHeader" style="cursor:pointer"><i class="far fa-plus-square icon">&nbsp;</i>@Localizer["Entities"]</span>
                </th>
                <th style="width:5%"></th>
            </tr>
            <tr class="secondHeader">
                <th style="width:9%"></th>
                <th style="width:14%"></th>
                @if (!includeDeDocket)
                {
                    <th style="width:14%"></th>
                }
                else
                {
                    <th style="width:14%">
                        <a data-id="Doc_ActionDue" href="#">@Html.Raw(Localizer["Action Due"])</a>                        
                        <span data-id="ddkHeader" class="sub-field ddkHeader" style="cursor:pointer"><i class="far fa-plus-square icon">&nbsp;</i>@deDocketLabel</span>
                    </th>
                }
                @if (!includeDeDocket && !isDocketRequestOn)
                {
                    <th style="width:5%"></th>
                }                
                <th style="width:4%">
                    <a data-id="Doc_SubCase" href="#">@Html.Raw(Localizer["Sub Case"])</a>
                </th>
                <th style="width:5%">
                    <a data-id="Doc_Status" href="#">@Html.Raw(Localizer["Status"])</a>
                </th>
                <th style="width:6%">
                    <a data-id="Doc_FilDate" href="#">@Html.Raw(Localizer["Filing Date"])</a>
                </th>
                <th style="width:8%">
                    <a data-id="Doc_AssignedDate" href="#">@Html.Raw(Localizer["Assigned Date"])</a>
                </th>
                @if (includeDeDocket || isDocketRequestOn)
                {
                    <th style="width:5%">
                        <a data-id="Doc_Type" href="#">@Html.Raw(Localizer["Request Type"])</a>
                    </th>
                }
                <th style="width:4%">
                    <a data-id="Doc_System" href="#">@Html.Raw(Localizer["System"])</a>
                </th>                
                <th style="width:5%"></th>
            </tr>
        </thead>
        @(Html.Kendo().ListView<DocumentVerificationDTO>()
            .Name("documentVerificationSearchResults-Grid")
            .TagName("tbody")
            .ContentElement("")
            .ClientTemplateId("dvTemplate")
            .AutoBind(false)
            .Events(e => e.DataBound("documentVerificationPage.dataBound"))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("DocVerification_Read", "DocumentVerification")
                .Data(additionalData))
                .Sort(sort => sort.Add(c => c.UploadedDate))
                .PageSize(User.GetSearchResultsPageSize(settings.SearchResultsPageSize))
                .Events(e => {
                    e.RequestEnd("documentVerificationPage.requestListRequestEnd");
                })
            )
            .Pageable(pageable => pageable
            .Refresh(true)
            .ButtonCount(5)
            .PageSizes(settings.SearchResultsPageSizeOptions)
            )
            .HtmlAttributes(new { @class = "kendo-listView" })
            )
    </table>
    <script type="text/x-kendo-tmpl" id="dvTemplate">
        <tr class="main item">
            <td style="width:9%">
                #if(CanUploadDocument || CanViewDocketRequest || CanViewInstruction) {#
                    <input type="checkbox" class="click" name="chkDocLink" value="#:KeyId#" data-doc-name="#:(KeyId.startsWith('verifyid') || KeyId.startsWith('reqid')) ? (DocName ?? ActionType) : (KeyId.startsWith('dedocketid') ? ActionDue : DocName)#" data-system-type="#:System#" data-doc-id="#:DocId#"/>
                #}#
                <span>#=(UploadedDate == null) ? '' : kendo.toString(UploadedDate,'dd-MMM-yyyy hh:mm:ss tt')#</span>
            </td>
            <td style="width:14%">                
                #if (DocFileName > '' || DriveItemId > '') {
                    if ("@docsStorageOption"==="@docsSharePoint") {#
                        <span><a href="javascript:documentVerificationPage.viewSPDocument('#:DocLibrary#', '#:DriveItemId#')"><i class="fal fa-search-plus" title="@Html.Raw(Localizer["View"])"></i>#=(DocName == null) ? '' : DocName #</a></span>
                    #} else if ("@docsStorageOption"==="@docsIManage" || "@docsStorageOption"==="@docsNetDocs"){#
                        <span><a href="@(Url.Action("Open", docsController, new { area = "", id = "" }))/#:DriveItemId#" target="_blank" rel="noopener" draggable="false"><i class="fal fa-search-plus" title="@Html.Raw(Localizer["View"])"></i>#=(DocName == null) ? '' : DocName #</a></span>
                    #} else {#
                        <span><a href="javascript:documentVerificationPage.viewDocument('#:System#', '#:DocFileName#', #:ParentId#, '#:KeyId#')"><i class="fal fa-search-plus" title="@Html.Raw(Localizer["View"])"></i>#=(DocName == null) ? '' : DocName #</a></span>
                    #}
                }#
            </td>
            <td style="width:14%">
                #if(ActionType > '') {
                    if(KeyId.startsWith('verifyid') && canAddAct(System)) {#
                        <a href="javascript:documentVerificationPage.openAddAction('#:System#', #:ParentId#, #:ActionTypeID#)"><i class="fal fa-plus pr-1"></i>#=ActionType#</a>
                    #}                    
                    else {#
                        <span>#=ActionType#</span>
                    #}
                }#
            </td>
            <td style="width:5%">
                #if(System === '@SystemTypeCode.Patent' || System === '@SystemTypeCode.GeneralMatter')
                {#
                    <span><a href="javascript:documentVerificationPage.redirectToRecordByCaseNumber('#:System#', '#:CaseNumber#', #:ParentId#)"><i class='fal fa-search-plus'></i> #=(CaseNumber == null) ? '' : CaseNumber#</a></span>
                #} else {#
                    <span>#=(CaseNumber == null) ? '' : CaseNumber#</span>
                #}#
            </td>
            <td style="width:4%">
                #if(System === '@SystemTypeCode.Patent' || System === '@SystemTypeCode.Trademark')
                {#
                    <span><a href="javascript:documentVerificationPage.redirectToRecordByCountry('#:System#', #:ParentId#)"><i class='fal fa-search-plus'></i> #=(Country == null) ? '' : Country#</a></span>
                #} else {#
                    <span>#=(Country == null) ? '' : Country#</span>
                #}#
            </td>
            <td style="width:5%">
                <span>#=(CaseType == null) ? '' : CaseType#</span>
            </td>
            <td style="width:6%">
                <span>#=(AppNumber == null) ? '' : AppNumber#</span>
            </td>
            <td style="width:8%">
                <span>#=(RespDocketing == null) ? '' : RespDocketing#</span>
            </td>
            <td colspan="2">  
                <span class="sub-field entities-container" style="cursor:pointer"><i class="far fa-plus-square icon">&nbsp;</i>#=getDVLabel('entitiesLabel')#</span>
                <div class="d-none sub-field entities">
                    <div>
                        <span>#=getDVLabel('clientLabel')#/#=getDVLabel('clientRefLabel')#:</span>
                        <span>#=(Client == null) ? '' : Client#;</span>
                        <span>#=(ClientRef == null) ? '' : ClientRef#</span>
                    </div>
                    <div>
                        <span>#=getDVLabel('ownerLabel')#:</span>
                        <span>#=(Owners == null) ? '' : Owners#</span>
                    </div>
                    <div>
                        <span>#=getDVLabel('attorneysLabel')#:</span>
                        <span>#=(Attorneys == null) ? '' : Attorneys#;</span>                        
                    </div>
                </div>
            </td>           
        </tr>
        <tr class="item">
            #if ('@includeDeDocket.ToString().ToLower()' === 'false') {#
                <td colspan="#='@(isDocketRequestOn.ToString().ToLower())' === 'true' ? 3 : 4#">
                    <span class="pl-5 sub-field">
                    #var title = (Title == null) ? '' : Title;#
                    #if(title != '')
                    {#
                    #var label = (System === '@SystemTypeCode.Patent') ?  getDVLabel('titleLabel') : (System === '@SystemTypeCode.Trademark' ? getDVLabel('trademarkLabel') : getDVLabel('matterTitleLabel'));#
                    <span class="pr-2">#=label#:</span>
                    #}#
                    </span>
                    <span>#=(Title == null) ? '&nbsp' : Title#</span>
                </td>
            #} else {#
                <td colspan="2">
                    <span class="pl-5 sub-field">
                    #var title = (Title == null) ? '' : Title;#
                    #if(title != '')
                    {#
                    #var label = (System === '@SystemTypeCode.Patent') ?  getDVLabel('titleLabel') : (System === '@SystemTypeCode.Trademark' ? getDVLabel('trademarkLabel') : getDVLabel('matterTitleLabel'));#
                    <span class="pr-2">#=label#:</span>
                    #}#
                    </span>
                    <span>#=(Title == null) ? '&nbsp' : Title#</span>
                </td>
                <td colspan="1">
                    #if (KeyId.startsWith('dedocketid') && canAccessSystem(System)) {#
                        <a href="javascript:documentVerificationPage.redirectToAction('#:System#', #:ActId#)"><i class="fal fa-search-plus pr-1" title="@Html.Raw(Localizer["View"])"></i>
                            #=getActionDueDisplay(ActionDue, DueDate, Indicator)#
                        </a>
                    #} else {#
                        #=getActionDueDisplay(ActionDue, DueDate, Indicator)#
                    #}#
                </td>
            #}#
            <td style="width:4%">
                <span>#=(SubCase == null) ? '&nbsp' : SubCase#</span>
            </td>
            <td style="width:5%">
                <span>#=(Status == null) ? '&nbsp' : Status#</span>
            </td>
            <td style="width:6%">
                <span>#=pageHelper.cpiDateFormatToDisplay(FilDate)#</span>
            </td>
            <td style="width:8%">
                <span>#=pageHelper.cpiDateFormatToDisplay(AssignedDate)#</span>
            </td>
            #if ('@((includeDeDocket || isDocketRequestOn).ToString().ToLower())' === 'true') {#
                <td style="width:5%">
                    <span>#=getDataType(KeyId)#</span>
                </td>
            #}#
            <td style="width:4%">
                #if(System === '@SystemTypeCode.Patent')
                {#
                <span>#=getDVLabel('patentLabel')#</span>
                #}                
                else if(System === '@SystemTypeCode.Trademark') {#
                <span>
                    #=getDVLabel('trademarkLabel')#
                </span>
                #}
                else if (System === '@SystemTypeCode.GeneralMatter')
                {#
                <span>
                    #=getDVLabel('genMatterLabel')#
                </span>
                #}
                #
            </td>            
            <td colspan="1" style="text-align:right;">               
                
                @* Edit Request, Edit File, View, Delegate Task, Delete Icons 
                   If record is DocVerification type, icons available: Edit Request, Edit File, View, Delegate Task, Delete
                   If record is Request Docket type, icons available: Edit Request, View, Delegate Task, Delete
                   If record is De-Docket type, icons available: Edit Request, View, Delegate Task                   
                *@
                
                @* DocVerification *@
                #if(KeyId.startsWith('verifyid')) {#
                    
                    #if (CanUploadDocument) {#
                    
                        <a href="javascript:documentVerificationPage.viewRequest('#:System#', #:ParentId#, 'DocId|#:DocId#')"><i class="fal fa-pencil-alt pr-1" title="@Html.Raw(Localizer["Edit Request"])"></i></a>

                        #if ("@docsStorageOption"==="@docsSharePoint") {#
                            <a href="javascript:documentVerificationPage.editSPDocument('#:DriveItemId#')"><i class="fal fa-file-lines pr-1" title="@Html.Raw(Localizer["Edit file"])"></i></a>
                        #} else if ("@docsStorageOption"==="@docsIManage"){#
                            <a href="javascript:documentVerificationPage.editIMDocument('#:System#', '#:DriveItemId#', #:ParentId#, '#:DocName#')"><i class="fal fa-file-lines pr-1" title="@Html.Raw(Localizer["Edit file"])"></i></a>
                        #} else {#
                            <a href="javascript:documentVerificationPage.editDocument('#:System#', #:ParentId#, #:DocId#)"><i class="fal fa-file-lines pr-1" title="@Html.Raw(Localizer["Edit file"])"></i></a>
                        #}#

                    #}#

                    #if (DocFileName > '' || DriveItemId > '') {#
                        #if ("@docsStorageOption"==="@docsSharePoint") {#
                            <a href="javascript:documentVerificationPage.viewSPDocument('#:DocLibrary#', '#:DriveItemId#')"><i class="fal fa-file pr-1" title="@Html.Raw(Localizer["View"])"></i></a>
                        #} else if ("@docsStorageOption"==="@docsIManage" || "@docsStorageOption"==="@docsNetDocs"){#
                            <a href="@(Url.Action("Open", docsController, new { area = "", id = "" }))/#:DriveItemId#" target="_blank" rel="noopener" draggable="false"><i class="fal fa-file pr-1" title="@Html.Raw(Localizer["View"])"></i></a>
                        #} else {#
                            <a href="javascript:documentVerificationPage.viewDocument('#:System#', '#:DocFileName#', #:ParentId#, '#:KeyId#')"><i class="fal fa-file pr-1" title="@Html.Raw(Localizer["View"])"></i></a>
                        #}#
                    #}#

                    #if (CanUploadDocument) {#
                        <a href="javascript:documentVerificationPage.editResponsible('#:System#', 'DocId|#:DocId#', '#:DocName#', @((int)DocRespLogType.Docketing))"><i class="fal #:((RespDocketing != '' && RespDocketing != null)) ? 'fa-users' : 'fa-user'# pr-1" title="@Html.Raw(Localizer["Delegate Task"])"></i></a>

                        <a href="javascript:documentVerificationPage.deleteLinkedAction('#:System#' + '|' + '#:KeyId#')"><i class="fal fa-trash-alt pr-1" title="@Html.Raw(Localizer["Delete"])"></i></a>
                    #}#

                #}
                @* Request Docket *@
                else if (KeyId.startsWith('reqid') && CanViewDocketRequest) {#
                    <a href="javascript:documentVerificationPage.viewRequest('#:System#', #:ParentId#, '#:KeyId#')"><i class="fal fa-pencil-alt pr-1" title="@Html.Raw(Localizer["Edit Request"])"></i></a>

                    <a href="javascript:documentVerificationPage.editResponsible('#:System#', '#:KeyId#', '#:DocName ?? ActionType#', @((int)DocRespLogType.Docketing))"><i class="fal #:((RespDocketing != '' && RespDocketing != null)) ? 'fa-users' : 'fa-user'# pr-1" title="@Html.Raw(Localizer["Delegate Task"])"></i></a>

                    #if (DocFileName > '' || DriveItemId > '') {#
                        #if ("@docsStorageOption"==="@docsSharePoint") {#
                            <a href="javascript:documentVerificationPage.viewSPDocument('#:DocLibrary#', '#:DriveItemId#')"><i class="fal fa-file pr-1" title="@Html.Raw(Localizer["View"])"></i></a>
                        #} else if ("@docsStorageOption"==="@docsIManage" || "@docsStorageOption"==="@docsNetDocs"){#
                            <a href="@(Url.Action("Open", docsController, new { area = "", id = "" }))/#:DriveItemId#" target="_blank" rel="noopener" draggable="false"><i class="fal fa-file pr-1" title="@Html.Raw(Localizer["View"])"></i></a>
                        #} else {#
                            <a href="javascript:documentVerificationPage.viewDocument('#:System#', '#:DocFileName#', #:ParentId#, '#:KeyId#')"><i class="fal fa-file pr-1" title="@Html.Raw(Localizer["View"])"></i></a>
                        #}#
                    #}#

                    <a href="javascript:documentVerificationPage.deleteLinkedAction('#:System#' + '|' + '#:KeyId#')"><i class="fal fa-trash-alt pr-1" title="@Html.Raw(Localizer["Delete"])"></i></a>

                #}
                @* De-Docket *@
                else if (KeyId.startsWith('dedocketid') && CanViewInstruction) {#
                    <a href="javascript:documentVerificationPage.viewRequest('#:System#', #:ParentId#, '#:KeyId#')"><i class="fal fa-pencil-alt pr-1" title="@Html.Raw(Localizer["Edit Request"])"></i></a>

                    #if (DocFileName > '' || DriveItemId > '') {#
                        #if ("@docsStorageOption"==="@docsSharePoint") {#
                            <a href="javascript:documentVerificationPage.viewSPDocument('#:DocLibrary#', '#:DriveItemId#')"><i class="fal fa-file pr-1" title="@Html.Raw(Localizer["View"])"></i></a>
                        #} else if ("@docsStorageOption"==="@docsIManage" || "@docsStorageOption"==="@docsNetDocs"){#
                            <a href="@(Url.Action("Open", docsController, new { area = "", id = "" }))/#:DriveItemId#" target="_blank" rel="noopener" draggable="false"><i class="fal fa-file pr-1" title="@Html.Raw(Localizer["View"])"></i></a>
                        #} else {#
                            <a href="javascript:documentVerificationPage.viewDocument('#:System#', '#:DocFileName#', #:ParentId#, '#:KeyId#')"><i class="fal fa-file pr-1" title="@Html.Raw(Localizer["View"])"></i></a>
                        #}#
                    #}#

                    <a href="javascript:documentVerificationPage.editResponsible('#:System#', '#:KeyId#', '#:DocName ?? ActionDue#', @((int)DocRespLogType.Docketing))"><i class="fal #:((RespDocketing != '' && RespDocketing != null)) ? 'fa-users' : 'fa-user'# pr-1" title="@Html.Raw(Localizer["Delegate Task"])"></i></a>
                #}#

            </td>
        </tr>
        @if (includeDeDocket)
        {
            <tr class="item">
                <td class="pl-5" colspan="10">
                    #if(CanViewInstruction && (System == 'P' || System == 'T' || System == 'G' ))
                    {#
                    <div class="sub-field ddk-main # if(Instruction==null){ #d-none#}#">
                        <span class="ddk-container" style="cursor:pointer">
                            <i class="far fa-plus-square icon"></i>&nbsp;#=getDVLabel('deDocketLabel')#
                        </span>
                        <div class="d-none ddk row">
                        <div class="col-md-2">
                            <span>#=getDVLabel('instructionLabel')#:</span>
                            <span class="ddk-instruction">#=Instruction#</span>
                        </div>
                        <div class="col-md-2">
                            <span>#=getDVLabel('instructedByLabel')#:</span>
                            <span class="ddk-instructed-by">#=InstructedBy#</span>
                        </div>
                        <div class="col-md-2">
                            <span>#=getDVLabel('instructionDateLabel')#:</span>
                            <span class="ddk-instruction-date">#=pageHelper.cpiDateFormatToDisplay(InstructionDate)#</span>
                        </div>
                        <div class="col-md-2">
                            <span>#=getDVLabel('completedLabel')#:</span>
                            <span class="ddk-instruction-completed">
                                #: InstructionCompleted ? getDVLabel('yesLabel') : getDVLabel('noLabel')#
                            </span>
                        </div>                        
                        </div>
                        #if(CanViewRemarks && (System == 'P' || System == 'T' || System == 'G' ))
                        {#
                        <div class="d-none ddk">
                            <span>#=getDVLabel('deDocketRemarksLabel')#:</span>
                            <span class="ddk-remarks">#=DeDocketRemarks ?? ""#</span>
                        </div>
                        #}#
                    </div> 
                    #}#
                </td>
            </tr>
        }
        @if (isDocketRequestOn)
        {
            <tr class="item">
                <td class="pl-5" colspan="10">
                    #if(CanViewDocketRequest && (System == 'P' || System == 'T' || System == 'G' ))
                    {#
                    <div class="sub-field dkr-main # if(DocketRequest_CreatedBy==null){ #d-none#}#">
                        <span class="dkr-container" style="cursor:pointer">
                            <i class="far fa-plus-square icon"></i>&nbsp;#=getDVLabel('requestDocketLabel')#
                        </span>
                        <div class="d-none dkr row">                        
                        <div class="col-md-2">
                            <span>#=getDVLabel('requestDocketCreatedByLabel')#:</span>
                            <span class="dkr-request-by">#=DocketRequest_CreatedBy#</span>
                        </div>
                        <div class="col-md-2">
                            <span>#=getDVLabel('requestDocketDateCreatedLabel')#:</span>
                            <span class="dkr-request-date">#=pageHelper.cpiDateFormatToDisplay(DocketRequest_DateCreated)#</span>
                        </div>                                               
                        </div>
                        #if(CanViewRemarks && (System == 'P' || System == 'T' || System == 'G' ))
                        {#
                        <div class="d-none dkr">
                            <span>#=getDVLabel('requestDocketRemarksLabel')#:</span>
                            <span class="dkr-remarks">#=DocketRequest_Remarks ?? ""#</span>
                        </div>
                        #}#
                    </div> 
                    #}#
                </td>
            </tr>
        }
    </script>
    <div class="cpiContainerPopup"></div>
</div>
<style>
    #documentVerificationContainer table {
        width: 100%;
        table-layout: fixed;
        font-size: .8rem;
    }

    /* Container for the fake sticky header */
    #dvHeaderContainer_fake {
        background-color: var(--bg-main);
        width: 100%; /* Ensure it spans the grid width */
    }

    #dvHeaderContainer_fake table {
        width: 100%;
        table-layout: fixed; /* Crucial for aligning columns */
        border-collapse: collapse;
    }

    .dvHeaderContainer {
        vertical-align: bottom;
    }

    .dvHeaderContainer .secondHeader td, 
    .dvHeaderContainer .secondHeader th {
        border-bottom: 1px solid #ddd;
        padding: .1em .1em .1em .3em;
    }

    .dvHeaderContainer td, 
    .dvHeaderContainer th {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: .3em;
        border-spacing: 1px;
        font-weight: 400;
        text-align: left;
        outline: 0;
    }

    .dvHeaderContainer a, 
    .dvHeaderContainer a:hover {
        color: var(--link-label);
        font-weight: 400;
        font-size: .9rem;
        text-decoration: none;
        display: inline-block;
    }

    .dvHeaderContainer .secondHeader th {
        color: var(--text-header);
        background-color: var(--bg-main);
        border-bottom: 1px solid var(--text-body) !important;
    }

    .dvHeaderContainer .firstHeader th {
        color: var(--text-header);
        background-color: var(--bg-main);
        border-bottom: none !important;
    }

    /* Ensure icons have a little space */
    .dvHeaderContainer a span.k-icon {
        margin-left: 4px;
    }

    
    #dvHeaderContainer_fake {
        display: none;
        position: fixed;
        top: 0;
        z-index: 1000;
        background-color: var(--bg-main);
        overflow: hidden; /* Prevents internal rounding errors from showing */
    }

    /* Ensure the tables/grids inside them don't have extra margins */
    .dvHeaderContainer {
        margin-top: 0 !important;
    }
   
    #documentVerificationSearchResults-Grid tr.main:not(:first-child) {
        border-top: 1px solid var(--separator);
    }    

    #documentVerificationContainer .sub-field {
        font-size: .7rem !important;
    }

    #documentVerificationContainer .sub-head {
        font-size: .7rem !important;
        color: var(--text-header);
    }
</style>
<script>
    function getDataType(keyId) {
        if (keyId && keyId > "") {
            var keyArr = keyId.split("|");
            var dataKey = keyArr[0];
            var dataKeyValue = keyArr[1];

            if (dataKey && dataKey.toLowerCase() === 'verifyid') {
                return "@docketRequiredLabel";
            }
            else if (dataKey && dataKey.toLowerCase() === "reqid") {
                return "@requestDocketLabel";
            }
            else if (dataKey && dataKey.toLowerCase() === "dedocketid") {
                return "@deDocketLabel";
            }
            else {
                return "";
            }
        }
        return '';
    }    
    
    function canAddAct(System) {
        if ((System === "@SystemTypeCode.Patent" && "@canAddPatAct.ToString().ToLower()"==="true") ||
            (System === "@SystemTypeCode.Trademark" && "@canAddTmkAct.ToString().ToLower()"==="true") ||
            (System === "@SystemTypeCode.GeneralMatter" && "@canAddGMAct.ToString().ToLower()"==="true"))
        {
            return true;
        }
        else {
            return false;
        }
    }    

    function getActionDueDisplay(actionDue, dueDate, indicator) {
        var displayTemplate = "<span>[actiondue]</span> <span class='sub-field'>([duedate] - [indicator])</span>";
        if (actionDue) {
            return displayTemplate.replace("[actiondue]", actionDue).replace("[duedate]", pageHelper.cpiDateFormatToDisplay(dueDate)).replace("[indicator]", indicator);
        }
        else {
            return "";
        }
    }
</script>