@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var seriesColors = string.IsNullOrEmpty(settings.ColorScheme) ? new string[] { } : settings.ColorScheme.Split("|");    
}
<script>
    function loadWidget(widgetId) {        
        var container = $("#" + widgetId +"WidgetContainer");
        var url = "@Url.Action("GetWidget", "DocumentVerification")";
        var data = { id: widgetId };    
        
        container.html("<div class='widget-spinner text-center'><h4><span>@(Localizer["Loading"])</span><i class='ml-2 fa fa-circle-notch fa-spin'></i></h4></div><div class='widget-container'></div>");
        var spinner = container.find(".widget-spinner");
        spinner.show();

        $.ajax({
            type: "POST",
            url: url,
            data: data,
            dataType: "html",
            success: function (data) {
                spinner.hide();
                container.empty();
                container.show();
                container.append(data);
            },
            error: function (data) {
                spinner.hide();
                kendo.alert("@Localizer["Unable to refresh widget. Please try again."]");
            }
        });
    }

    function saveSetting(id, setting, successCallback, errorCallback) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveWidgetSetting", "DocumentVerification")",
            data: { id: id, settings: setting },
            dataType: "json",
            success: function (data) {
                if (successCallback && typeof successCallback === "function") {
                    successCallback();
                }
            },
            error: function (data) {
                if (errorCallback && typeof errorCallback === "function") {
                    errorCallback();
                }
            }
        });
    };

    $(document).ready(function () {        
        $(".exporttopdf").click(function () {            
            var draw = kendo.drawing;

            draw.drawDOM($("#mainProductivityReportsDialog"))
                .then(function (root) {
                    // Chaining the promise via then
                    return draw.exportPDF(root, {
                        paperSize: "auto",
                        margin: "1cm",
                        landscape: true
                    });
                })
                .done(function (data) {
                    // Here 'data' is the Base64-encoded PDF file
                    kendo.saveAs({
                        dataURI: data,
                        fileName: "ProductivityReports.pdf"
                    });
                });
        });

        $(".exporttoppt").click(function () {            
            var draw = kendo.drawing;

            draw.drawDOM($("#mainProductivityReportsDialog"))
                .then(function (group) {
                    // Render the result as a png file
                    return kendo.drawing.exportImage(group, {
                        //width: "1100px",
                        //height: "1100px"
                    });
                })
                .done(function (data) {
                    kendo.saveAs({
                        dataURI: data,
                        fileName: '@Localizer["Productivity Reports|map"]',
                        proxyURL: "@Url.Action("ExportToPowerPoint", "DocumentVerification")",
                        forceProxy: true
                    });
                });
        });

        loadWidget("taskDistribution");
        loadWidget("workloadHistogram");

         //widget setting open/close
        $(document).off("click", ".dvWidget .settings, .dvWidget .widget-settings .settings-close");
        $(document).on("click", ".dvWidget .settings, .dvWidget .widget-settings .settings-close", function (e) {
            var widget = $(e.target).closest(".dvWidget");
            var id = widget.data("widget-id");
            var settings = widget.find(".widget-settings");
            settings.slideToggle("fast");
        });

        //refresh widget data
        $(document).off("click", ".dvWidget .refresh");
        $(document).on("click", ".dvWidget .refresh", function (e) {
            var widget = $(e.target).closest(".dvWidget");
            var id = widget.data("widget-id");
            var container = $("#" + id + "WidgetContainer");
            var url = "@Url.Action("GetWidget", "DocumentVerification")";
            var data = { id: id };

            container.html("<div class='widget-spinner text-center'><h4><span>@(Localizer["Loading"])</span><i class='ml-2 fa fa-circle-notch fa-spin'></i></h4></div><div class='widget-container'></div>");
            var spinner = container.find(".widget-spinner");
            spinner.show();
            
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: "html",
                success: function (data) {
                    spinner.hide();
                    container.empty();
                    container.show();
                    container.append(data);
                },
                error: function (data) {
                    spinner.hide();
                    kendo.alert("@Localizer["Unable to refresh widget. Please try again."]");
                }
            });

        });


    });


</script>
<div class="modal fade" id="productivityReportsDialog" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="width: 1500px !important; max-width: 1500px !important;">
        <div class="modal-content">            
            <div class="modal-header py-1">
                <h4 class="modal-title">@Localizer["Productivity Reports"]</h4>
                <a class="productivityReportsAction" href="#">
                    <i class="fal fa-file-pdf pr-1 exporttopdf" title=@Localizer["Export to PDF"]></i>
                </a>
                <a class="productivityReportsAction" href="#">
                    <i class="fal fa-file-powerpoint pr-1 exporttoppt" title=@Localizer["Export to PowerPoint"]></i>
                </a>
                <a class="productivityReportsAction" href="#">
                    <i class="remove fal fa-times" data-dismiss="modal" title=@Localizer["Close"]></i>
                </a>

            </div>
            <div class="modal-body pt-3">
                <div id="mainProductivityReportsDialog" class="container" style="max-width: 1500px !important;">
                    <div class="row">
                        <div class="col">
                            <div class="row ">
                                <div class="col-6 widgetContainer">
                                    <div class="row">
                                        <div class="col" id="taskDistributionWidgetContainer"></div>
                                    </div>                                   
                                </div>
                                <div class="col-6">
                                    <div class="row widgetContainer">
                                        <div class="col" id="workloadHistogramWidgetContainer"></div>
                                    </div>
                                    <div class="row widgetContainer">
                                        <div class="col">
                                            <div class="workloadManagementEmptyOverlay emptyOverlay">
                                                <div class="emptyWidgetCircle"><div id="no-data-text">@Localizer["No data available"]</div></div>
                                            </div>
                                            @(Html.Kendo().Chart<ChartDTO>()
                                                .Name("workloadManagementChart")
                                                .ChartArea(chartArea => chartArea
                                                .Background("transparent")
                                                //.Width(300)
                                                //.Height(300)
                                                )
                                                .Title(title => title
                                                    .Text(@Localizer["Workload Management"])
                                                    .Position(ChartTitlePosition.Top)
                                                    .Align(ChartTextAlignment.Left)
                                                    .Font("font-size: 14px !important; font-weight: 600 !important; text-decoration: none; fill: #3c3c3c")
                                                )
                                                .Legend(legend => legend
                                                    .Visible(true)
                                                    .Position(ChartLegendPosition.Bottom)
                                                )
                                                .Series(series => series
                                                    .Donut(m => m.Value, m => m.Category)
                                                    .StartAngle(-45)
                                                    .ExplodeField("Explode")
                                                    .Overlay(o => o.Gradient(ChartSeriesGradient.None))
                                                    .Labels(labels => labels
                                                        .Visible(true)
                                                        .Template("#= category#\n#= value#")
                                                        .Background("transparent")
                                                        .Position(ChartPieLabelsPosition.OutsideEnd)
                                                        .Align(ChartPieLabelsAlign.Column)
                                                    )
                                                )
                                                .DataSource(ds =>
                                                {
                                                    ds.Read(read => read.Action("GetWorkloadManagementChart", "DocumentVerification", new { area = "Shared" }));
                                                })
                                                .Events(events =>
                                                {
                                                    events.DataBound("function(e) {var view = e.sender.dataSource.view(); $('.workloadManagementEmptyOverlay').toggle(view.length === 0);}");
                                                })
                                                .SeriesColors(seriesColors)
                                                .Tooltip(tooltip => tooltip
                                                    .Visible(true)
                                                    .Template("#= dataItem.Category #: #= dataItem.Value #")
                                                )
                                                )                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="modal-footer" style="border-top:none">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times pr-2"></i>@Localizer["Close"]</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>    
    .emptyWidgetCircle {
        height: 250px;
        width: 250px;
        font-size: 20px;
        border-radius: 50%;
        line-height: 200px;
        margin: 0 auto;
        cursor: default;
        border: 1px solid #999;
        position: relative;
        top: 10%;
        background-color: lightgrey;
    }

    .emptyOverlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        margin-top: 25px;
    }
    
    .widgetContainer {
        padding: 0px;        
        border: 1px solid var(--separator);
        border-radius: 0.2rem;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .productivityReportsAction {
        padding-left: 10px !important;
    }    

    #mainProductivityReportsDialog .dvWidget {       
        margin: 0 10px 10px 0;
        padding: 0;        
        background-color: var(--bg-main);       
        position: relative;
        z-index: 0;
    }
   
    #mainProductivityReportsDialog .dvWidget text {
        fill: var(--text-body);
    }

    #mainProductivityReportsDialog .dvWidget .widget-spinner {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 40%;
        left: 0;
        z-index: 8;
    }

    #mainProductivityReportsDialog .dvWidget .widget-settings {
        font-size: 14px;
        width: 100%;
        position: absolute;
        top: 32px;
        left: 0;
        z-index: 9;
        padding: 10px;
        background-color: #e7e7e7;
        overflow: auto;
    }

    #mainProductivityReportsDialog .dvWidget .widget-settings .settings-header,
    #mainProductivityReportsDialog .dvWidget .widget-settings .settings-body {
        color: #525252;
        margin-bottom: 15px;
    }

    #mainProductivityReportsDialog .dvWidget .widget-content {
        padding: 0 10px 10px 10px;
        min-height: 50px;
        z-index: 1;
    }

    #mainProductivityReportsDialog .dvWidget .widget-content > ul {
        padding-left: 20px;
    }

    #mainProductivityReportsDialog .dvWidget .widget-header .widget-title {
        margin: 0;
        padding: 8px 10px 0px;
        display: inline-block;
        width: 45%;
        overflow: hidden;
        font-weight: 600 !important;
        text-decoration: none !important;
        fill: #3c3c3c !important;
        white-space: pre;
    }

    #mainProductivityReportsDialog .dvWidget .widget-header i {        
        float: right;
        color: dimgray;
        padding: 8px 10px;
        position: relative;
        z-index: 2;
    }

    
    #mainProductivityReportsDialog .widget-settings .delete-filter {
        cursor: pointer;
        color: var(--link-active);
    }

    #mainProductivityReportsDialog .widget-settings .delete-filter:hover {
        color: var(--link-hover);
    }

    #mainProductivityReportsDialog .widget-settings .list-group-item {
        background-color: var(--bg-main);
    }
</style>