@model PageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@inject IAuthorizationService AuthorizationService
@{
    var settings = await Settings.GetSetting();
    var clientLabel = settings.LabelClient ?? "Client";    
    var ownerLabel = Localizer[settings.LabelOwner ?? "Owner"];
    var clientRefLabel = Localizer[settings.LabelClientRef ?? "Client Ref"];
    var entitiesLabel = Localizer["Entities"].ToString();
    var attorneysLabel = Localizer["Attorneys"].ToString();

    var patentLabel = Localizer["Patent"].ToString();    
    var trademarkLabel = Localizer["Trademark"].ToString();
    var genMatterLabel = Localizer["Gen Matter"].ToString();
    var orphanageLabel = Localizer["Orphanage"].ToString();

    var titleLabel = Localizer["Title"].ToString();
    var matterTitleLabel = Localizer["Matter Title"].ToString();

    var verifyLabel = Localizer["Action Verify Date"].ToString();
    var verifyByLabel = Localizer["Action Verify By"].ToString();
    var editRemarksLabel = Localizer["Edit remarks"].ToString();

    var setCurrentDateLabel = Localizer["Set to current date"].ToString();
    var saveLabel = Localizer["Save"].ToString();
    var cancelLabel = Localizer["Cancel"].ToString();

    var yesLabel = Localizer["Yes"].ToString();
    var noLabel = Localizer["No"].ToString();

    var deDocketLabel = Localizer["De-Docket"].ToString();
    var instructionLabel = Localizer["Instruction"].ToString();
    var deDocketRemarksLabel = Localizer["De-Docket Remarks"].ToString();
    var instructedByLabel = Localizer["Instructed By"].ToString();
    var instructionDateLabel = Localizer["Instruction Date"].ToString();
    var completedLabel = Localizer["Completed?"].ToString();

    var requestDocketLabel = Localizer["Request Docket"].ToString();
    var requestDocketCreatedByLabel = Localizer["Request By"].ToString();
    var requestDocketDateCreatedLabel = Localizer["Request Date"].ToString();
    var requestDocketRemarksLabel = Localizer["Request Docket Remarks"].ToString();

    var isPatDocVerifier = (await AuthorizationService.AuthorizeAsync(User, PatentAuthorizationPolicy.DocumentVerificationModify)).Succeeded;
    var isTmkDocVerifier = (await AuthorizationService.AuthorizeAsync(User, TrademarkAuthorizationPolicy.DocumentVerificationModify)).Succeeded;
    var isGmDocVerifier = (await AuthorizationService.AuthorizeAsync(User, GeneralMatterAuthorizationPolicy.DocumentVerificationModify)).Succeeded;
    var isDocVerifier = isPatDocVerifier || isTmkDocVerifier || isGmDocVerifier;

    var canAccessPatent = (await AuthorizationService.AuthorizeAsync(User, PatentAuthorizationPolicy.CanAccessSystem)).Succeeded;
    var canAccessTrademark = (await AuthorizationService.AuthorizeAsync(User, TrademarkAuthorizationPolicy.CanAccessSystem)).Succeeded;
    var canAccessGeneralMatter = (await AuthorizationService.AuthorizeAsync(User, GeneralMatterAuthorizationPolicy.CanAccessSystem)).Succeeded;
}
<div id="dvContentPage" 
    data-label-delete-warning="@Html.Raw(Localizer["Please select record(s) to delete"])"
    data-label-delete-msg="@Html.Raw(Localizer["Are you sure you want to delete the record(s)?"])"
    data-label-responsible-warning="@Html.Raw(Localizer["Please select records to update Responsible."])"
    data-label-responsible-error="@Html.Raw(Localizer["Please select only linked records."])"
    data-label-delete-header="@Html.Raw(Localizer["Confirm Delete"])"
    data-label-print-warning="@Html.Raw(Localizer["Please select record(s) to print."])"
    data-label-link-warning="@Html.Raw(Localizer["Please select documents to link."])"
    data-label-link-error="@Html.Raw(Localizer["One or more selected documents are already linked."])">
    <ul class="nav nav-tabs nav-tabs-horizontal flush-left" id="documentVerification-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="documentVerificationUpload-tab" data-toggle="tab" role="tab" aria-controls="docUpload" aria-selected="false" href="#docUpload">
                @Localizer["Documents For Review"]
                <span class="documents-review-count"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="documentVerificationMainInfo-tab" data-toggle="tab" role="tab" aria-controls="mainInfo" aria-selected="true" href="#mainInfo">
                @Localizer["Docketing Requests"]
                <span class="docketing-requests-count"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="documentVerificationAction-tab" data-toggle="tab" role="tab" aria-controls="action" aria-selected="false" href="#action">
                @Localizer["Dockets For Verification"]
                <span class="dockets-verification-count"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="documentVerificationCommunication-tab" data-toggle="tab" role="tab" aria-controls="communication" aria-selected="false" href="#communication">
                @Localizer["Documents For Sending"]
                <span class="communication-count"></span>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane page-content px-1" id="docUpload" role="tabpanel" aria-labelledby="docUpload">
            @await Html.PartialAsync("_NewDocuments")
        </div>
        <div class="tab-pane page-content show active" id="mainInfo" role="tabpanel" aria-labelledby="mainInfo">
            @await Html.PartialAsync("_Documents")
        </div>
        <div class="tab-pane page-content px-1" id="action" role="tabpanel" aria-labelledby="action">
            @await Html.PartialAsync("_Actions")
        </div>
        <div class="tab-pane page-content px-1" id="communication" role="tabpanel" aria-labelledby="communication">
            @await Html.PartialAsync("_Communications")
        </div>
    </div>
</div>
<script>
    documentVerificationPage.initializeDocumentVerification("@((int)settings.DocumentStorage)");

    function getDVLabel(type) {
        switch (type) {
            case 'patentLabel': return '@Html.Raw(patentLabel)';
            case 'trademarkLabel': return '@Html.Raw(trademarkLabel)';
            case 'genMatterLabel': return '@Html.Raw(genMatterLabel)';
            case 'orphanageLabel': return '';

            case 'titleLabel': return '@Html.Raw(titleLabel)';
            case 'matterTitleLabel': return '@Html.Raw(matterTitleLabel)';

            case 'saveLabel': return '@Html.Raw(saveLabel)';
            case 'cancelLabel': return '@Html.Raw(cancelLabel)';
            case 'verifyLabel': return '@Html.Raw(verifyLabel)';
            case 'verifyByLabel': return '@Html.Raw(verifyByLabel)';

            case 'setCurrentDateLabel': return '@setCurrentDateLabel';

            case 'clientLabel': return '@clientLabel';
            case 'clientRefLabel': return '@clientRefLabel';
            case 'ownerLabel': return '@ownerLabel';
            case 'entitiesLabel': return '@entitiesLabel';
            case 'attorneysLabel': return '@attorneysLabel';

            case 'yesLabel': return '@yesLabel';
            case 'noLabel': return '@noLabel';

            case 'deDocketLabel': return '@deDocketLabel';
            case 'instructionLabel': return '@instructionLabel';
            case 'deDocketRemarksLabel': return '@deDocketRemarksLabel';
            case 'instructedByLabel': return '@instructedByLabel';
            case 'instructionDateLabel': return '@instructionDateLabel';
            case 'completedLabel': return '@completedLabel';

            case 'requestDocketLabel': return '@requestDocketLabel';
            case 'requestDocketCreatedByLabel': return '@requestDocketCreatedByLabel';
            case 'requestDocketDateCreatedLabel': return '@requestDocketDateCreatedLabel';
            case 'requestDocketRemarksLabel': return '@requestDocketRemarksLabel';
        }
        return "";
    }

    function canAccessSystem(System) {
        if ((System === "@SystemTypeCode.Patent" && "@canAccessPatent.ToString().ToLower()"==="true") ||
            (System === "@SystemTypeCode.Trademark" && "@canAccessTrademark.ToString().ToLower()"==="true") ||
            (System === "@SystemTypeCode.GeneralMatter" && "@canAccessGeneralMatter.ToString().ToLower()"==="true"))
        {
            return true;
        }
        else {
            return false;
        }
    }

    function canSendToClient(System) {
        if ((System === "@SystemTypeCode.Patent" && "@isPatDocVerifier.ToString().ToLower()"==="true") ||
            (System === "@SystemTypeCode.Trademark" && "@isTmkDocVerifier.ToString().ToLower()"==="true") ||
            (System === "@SystemTypeCode.GeneralMatter" && "@isGmDocVerifier.ToString().ToLower()"==="true"))
        {
            return true;
        }
        else {
            return false;
        }
    }
</script>
<style>
    #documentVerificationSearchResults .page-header.page-crumbs {
        display: none;
    }

    #documentVerificationSearchResults .page-header.cpiButtonsDetail,
    #documentVerificationSearchResults .open-collapsed-sidebar {
        background-color: var(--bg-main);
        padding-bottom: 0;
    }

    #documentVerificationSearchResults .page-header .nav-link {
        padding-bottom: 0;
    }

    #documentVerificationUpload-tab .documents-review-count, 
    #documentVerificationMainInfo-tab .docketing-requests-count, 
    #documentVerificationAction-tab .dockets-verification-count,
    #documentVerificationCommunication-tab .communication-count {
        font-size: .75rem;
        font-weight: bold;
        color: #fff;        
        background-color: var(--btn-primary);        
        margin: 5px;
        padding: 2px;
        /* border-color: #fff !important;
        border-radius: 50%;
        border: 1px solid #000; */
    }

    #documentVerificationUpload-tab.active .documents-review-count, 
    #documentVerificationMainInfo-tab.active .docketing-requests-count, 
    #documentVerificationAction-tab.active .dockets-verification-count,
    #documentVerificationCommunication-tab.active .communication-count {
        font-size: .75rem;
        font-weight: bold;
        color: #000;        
        background-color: #fff;        
        margin: 5px;
        padding: 2px;
        /* border-color: #000 !important;
        border-radius: 50%;
        border: 1px solid #000; */
    }

    .page-content {
        padding: 0px;
    }

    .kendo-listView {
        border-style: none;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .titleHeader {
        color: var(--text-header);
    }

    #altItem th {
        background-color: var(--grid-alt-row);
    }

    #item th {
        background-color: var(--bg-main);
    }    
</style>