@model string
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@inject IAuthorizationService AuthService
@using Newtonsoft.Json.Linq
@using Microsoft.EntityFrameworkCore;
@using System.Globalization;
@{
    var settings = await Settings.GetSetting();
    
    var seriesColors = string.IsNullOrEmpty(settings.ColorScheme) ? new string[] { } : settings.ColorScheme.Split("|");
    var widgetId = "taskDistribution";

    JObject userSettings = new JObject();    
    if (!string.IsNullOrEmpty(Model))
        userSettings = JObject.Parse(Model);
    
    List<SelectListItem> responsibles = new List<SelectListItem>();
    var responsiblesSettings = userSettings.Property("Responsibles");
    if (responsiblesSettings != null)
    {
        try
        {
            string[] responsibleFilter = ((JArray)responsiblesSettings.Value).Select(a => (string)(a.ToString()) ?? "").Where(a => !string.IsNullOrEmpty(a)).ToArray();

            if (responsibleFilter.Count() > 0)
            {

                responsibles = responsibleFilter.Select(d => 
                    { 
                        var respArr = d.Split("|"); 
                        var responsibleItem = new SelectListItem() { Text = respArr[0], Value = respArr[1] }; 
                        return responsibleItem;
                    }).ToList();
            }
        }
        catch (Exception e) { var err = e.Message; }
    }

    string assignedDateFromStr = userSettings.Property("AssignedDateFrom") != null ? (userSettings["AssignedDateFrom"] ?? "").Value<string>() ?? "" : "";
    DateTime? assignedDateFrom = !string.IsNullOrEmpty(assignedDateFromStr) ? DateTime.ParseExact(assignedDateFromStr, "MM/dd/yyyy", CultureInfo.InvariantCulture) : null;
    string assignedDateToStr = userSettings.Property("AssignedDateTo") != null ? (userSettings["AssignedDateTo"] ?? "").Value<string>() ?? "" : "";
    DateTime? assignedDateTo = !string.IsNullOrEmpty(assignedDateToStr) ? DateTime.ParseExact(assignedDateToStr, "MM/dd/yyyy", CultureInfo.InvariantCulture) : null;

    bool showPatent = userSettings.Property("ShowPatent") != null ? (userSettings["ShowPatent"] ?? false).Value<bool>() : true;
    bool showTrademark = userSettings.Property("ShowTrademark") != null ? (userSettings["ShowTrademark"] ?? false).Value<bool>() : true;
    bool showGenmatter = userSettings.Property("ShowGenMatter") != null ? (userSettings["ShowGenMatter"] ?? false).Value<bool>() : true;

    var CanAccessPatDocVer = (await AuthService.AuthorizeAsync(User, PatentAuthorizationPolicy.CanAccessDocumentVerification)).Succeeded;
    var CanAccessTmkDocVer = (await AuthService.AuthorizeAsync(User, TrademarkAuthorizationPolicy.CanAccessDocumentVerification)).Succeeded;
    var CanAccessGmDocVer = (await AuthService.AuthorizeAsync(User, GeneralMatterAuthorizationPolicy.CanAccessDocumentVerification)).Succeeded;
}
<style>
    .clearAssignedDateRangePicker_@widgetId {
        color: dimgray;
        padding: 8px 10px;
    }

    .clearAssignedDateRangePicker_@widgetId :hover {
        cursor: pointer;
        color: black;
        background-color: #e7e7e7;
    }    
</style>
<script>
    var refresh = false;
    var selectedTaskDistributionEntity = "";

    function saveAssignedDateRange(e) {        
        var dateRange = this.range();
        var selectedStartDate = "";
        var selectedEndDate = "";
        if (dateRange) {
            if (dateRange.start) {
                selectedStartDate = kendo.toString(dateRange.start, 'MM/dd/yyyy');
            }
            if (dateRange.end) {
                selectedEndDate = kendo.toString(dateRange.end, 'MM/dd/yyyy');
            }
        }
        saveSetting('@widgetId', `{ AssignedDateFrom: "${selectedStartDate}", AssignedDateTo: "${selectedEndDate}" }`, function () { refresh = true;});
    }

    function assignedDateRangeOnClose(e) {
        $("#AssignedDateRangePicker_@widgetId input").blur();
    }

    $(document).ready(function () {        
        var responsibleList = "@String.Join(",", responsibles.Select(r => r.Text + "|" + r.Value).ToList())".split(",").filter(item => item);

        $(document).off("click", "#@(widgetId)WidgetContainer .widget-settings .toggle-option");
        $(document).on("click", "#@(widgetId)WidgetContainer .widget-settings .toggle-option", function (e) {
            saveSetting('@widgetId', `{ ${$(this).data("setting")}: ${$(this).is(':checked')} }`, function () { refresh = true; });
        });

        $(document).off("click", "#@(widgetId)WidgetContainer .settings, #@(widgetId)WidgetContainer .widget-settings .settings-close");
        $(document).on("click", "#@(widgetId)WidgetContainer .settings, #@(widgetId)WidgetContainer .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@(widgetId)WidgetContainer .refresh").click();
            }
        });

        $(document).on("click", ".clearAssignedDateRangePicker_@widgetId", function (e) {
            var daterangepicker = $("#AssignedDateRangePicker_" + '@widgetId').data("kendoDateRangePicker");
            daterangepicker.range({
                start: null,
                end: null
            });
            daterangepicker.trigger('change');
        });
        $("#AssignedDateRangePicker_@widgetId input").addClass("non-sortable");
        var assignedDateRange = { start: null, end: null };
        if ('@assignedDateFrom') {
            assignedDateRange.start = new Date('@assignedDateFrom');
        }
        if ('@assignedDateTo') {
            assignedDateRange.end = new Date('@assignedDateTo');
        }
        var assignedDRPicker = $("#AssignedDateRangePicker_@widgetId").data("kendoDateRangePicker");
        assignedDRPicker.range(assignedDateRange);

        $(document).off("click", "#responsibleFilter_@widgetId .delete-responsible");
        $(document).off("change", "#Responsible_@widgetId");
        $(document).on("click", "#responsibleFilter_@widgetId .delete-responsible", function (e) {
            var item = $.inArray($(this).data("id"), responsibleList);

            if (item !== -1) {``
                responsibleList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting('@widgetId', `{ Responsibles: ['${responsibleList.join("','")}'] }`, function () { refresh = true; });
                }
            });
        $(document).on("change", "#Responsible_@widgetId", function (e) {
            var updated = $(this).data("kendoComboBox");

            if (updated.selectedIndex >= 0) {
                var dataItem = updated.dataItem(updated.selectedIndex);
                var responsibleText = dataItem.Responsible;
                var responsibleValue = dataItem.ResponsibleId;
                var responsibleItem = responsibleText + "|" + responsibleValue;

                if ($.inArray(responsibleItem, responsibleList) == -1) {
                    responsibleList.push(responsibleItem);
                    $("#responsibleFilter_@widgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="responsible">${responsibleText}</span></div><div class="delete-filter delete-responsible" data-id="${responsibleItem}" title="Remove ${responsibleText}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting('@widgetId', `{ Responsibles: ['${responsibleList.join("','")}'] }`, function () { refresh = true; });
                    }
                }

            updated.value("");
        });

        //Bind click on Task Distribution vanilla chocolate cheesecake pie chart (yummy)
        var chart = $("#@widgetId").data("kendoChart");
        chart.bind("seriesClick", onSeriesClick);              
    });

    function onSeriesClick(e) {
        selectedTaskDistributionEntity = e.dataItem["Color"];
        var grid = $("#taskDistributionGrid").data("kendoGrid");
        grid.dataSource.read({ selectedTaskDistributionEntity: selectedTaskDistributionEntity });
    };
    function taskDistributionGridSearchFilters() {
        return { selectedTaskDistributionEntity: selectedTaskDistributionEntity };
    };
</script>
<div data-widget-id="taskDistribution" class="dvWidget">    
    <div class="widget-header">
        <div class="row">
            <div class="col">
                <span class="widget-title">@Localizer["Task Distribution"]</span>
                <span class="widget-actions">
                    <i class="refresh fal fa-sync" title="@Localizer["Refresh"]"></i>
                    <i class="settings fal fa-cog" title="@Localizer["Settings"]"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="widget-content">
        <div class="widget-settings" style="max-height: 425px; display:none;">
            <div class="settings-body">
                <ul class="list-group">
                    @if (CanAccessPatDocVer)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <span>@Localizer["Patent"]</span>
                            <span>
                                <label class="toggle-switch">
                                    <input id="@widgetId-show-patent" type="checkbox" checked="@showPatent" data-setting="ShowPatent" class="toggle-option">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                        </li>
                    }
                    @if (CanAccessTmkDocVer)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <span>@Localizer["Trademark"]</span>
                            <span>
                                <label class="toggle-switch">
                                    <input id="@widgetId-show-trademark" type="checkbox" checked="@showTrademark" data-setting="ShowTrademark" class="toggle-option">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                        </li>
                    }
                    @if (CanAccessGmDocVer)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <span>@Localizer["General Matter"]</span>
                            <span>
                                <label class="toggle-switch">
                                    <input id="@widgetId-show-generalmatter" type="checkbox" checked="@showGenmatter" data-setting="ShowGenMatter" class="toggle-option">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                        </li>
                    }                    
                </ul>                
                <ul id="responsibleFilter_@widgetId" class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@Localizer["Responsible (Docketing)"]</span>
                        <span>
                            @await Component.InvokeAsync("ComboBox", new { name = "Responsible", controller = "DocumentVerification", action = "GetRespDocketingList", screen = widgetId, valueProperty = "ResponsibleId", textProperty = "Responsible", listWidth = 350 })
                        </span>
                    </li>
                    @foreach (var responsible in responsibles)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <span class="responsible">@responsible.Text</span>
                            </div>
                            <div class="delete-filter delete-responsible" data-id="@(responsible.Text + "|" + responsible.Value)" title="Remove @responsible.Text"><i class="fal fa-trash-alt"></i></div>
                        </li>
                    }
                </ul>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@Localizer["Assigned Date Range"]</span>
                        <span style="display:flex;">
                            @(Html.Kendo().DateRangePicker()
                                .Name("AssignedDateRangePicker_" + widgetId)
                                .Format("dd-MMM-yyyy")
                                .Range(r => r.Start(assignedDateFrom).End(assignedDateTo))
                                .Labels(false)
                                .Events(e => e.Change("saveAssignedDateRange").Close("assignedDateRangeOnClose"))
                                .HtmlAttributes(new { style = "width: 100%" })
                                )
                            <i class="fal fa-times clearAssignedDateRangePicker_@widgetId" title=@Localizer["Remove"]></i>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="settings-footer mt-4">
                <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>@Localizer["Close"]</button>
            </div>
        </div>
        <div class="@(widgetId)EmptyOverlay emptyOverlay">
            <div class="emptyWidgetCircle"><div id="no-data-text">@Localizer["No data available"]</div></div>
        </div>
        @(Html.Kendo().Chart<ChartDTO>()
            .Name(widgetId)
            .ChartArea(chartArea => chartArea
            .Background("transparent")
            //.Width(300)
            //.Height(300)
            )
            .Title("")
            .Legend(legend => legend
            .Visible(true)
            .Position(ChartLegendPosition.Bottom)
            )
            .Series(series => series
            .Donut(m => m.Value, m => m.Category)
            .StartAngle(-45)
            .ExplodeField("Explode")
            .Overlay(o => o.Gradient(ChartSeriesGradient.None))
            .Labels(labels => labels
            .Visible(true)
            .Template("#= category#\n#= value#%")
            .Background("transparent")
            .Position(ChartPieLabelsPosition.OutsideEnd)
            .Align(ChartPieLabelsAlign.Column)
            )
            )
            .DataSource(ds =>
            {
                ds.Read(read => read.Action("GetTaskDistributionChart", "DocumentVerification", new { area = "Shared" }));
            })
            .Events(events =>
            {
                events.DataBound($"function(e) {{var view = e.sender.dataSource.view(); $('.{@widgetId}EmptyOverlay').toggle(view.length === 0); }}");
            })
            .SeriesColors(seriesColors)
            .Tooltip(tooltip => tooltip
            .Visible(true)
            .Template("#= dataItem.Category #: #= dataItem.Value #%")
            )
            )

        @(Html.Kendo().Grid<DocketingTaskDistributionViewModel>()
            .Name("taskDistributionGrid")
            .Columns(columns =>
            {
                columns.Bound(a => a.Name).HtmlAttributes(new { @class = "text-nowrap" });
                columns.Bound(a => a.NoOfAssigned);
                columns.Bound(a => a.NoOfCompleted);
                columns.Bound(a => a.NoOfOutstanding);
                columns.Bound(a => a.CompletePercent).ClientTemplate("#:CompletePercent#%");
            })
            //.AutoBind(false)
            .Pageable(page => page.PageSizes(settings.SearchResultsPageSizeOptions))
            .Sortable(sort => sort.AllowUnsort(false))
            .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(settings.SearchResultsPageSize)
            .Read(read => read.Action("GetTaskDistributionGrid", "DocumentVerification", new { area = "Shared" }).Data("taskDistributionGridSearchFilters"))
            )
            .HtmlAttributes(new { @class = "kendo-Grid", style = "width:100%" })
            )
    </div>
</div>