@model string
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@inject IAuthorizationService AuthService
@inject IClientService ClientService
@using Newtonsoft.Json.Linq
@using Microsoft.EntityFrameworkCore;
@using System.Globalization;
@{
    var settings = await Settings.GetSetting();
    var clientLabel = Localizer[settings.LabelClient ?? "Client"];
    var clientNameLabel = Localizer[settings.LabelClientName ?? "Client Name"];

    var seriesColors = string.IsNullOrEmpty(settings.ColorScheme) ? new string[] { } : settings.ColorScheme.Split("|");
    var widgetId = "workloadHistogram";

    JObject userSettings = new JObject();    
    if (!string.IsNullOrEmpty(Model))
        userSettings = JObject.Parse(Model);

    List<ClientListViewModel> clients = new List<ClientListViewModel>();
    var clientSettings = userSettings.Property("Clients");
    if (clientSettings != null)
    {
        try
        {
            int[] clientFilter = ((JArray)clientSettings.Value).Select(a => (int)a).ToArray();

            if (clientFilter.Count() > 0)
            {
                clients = await ClientService.QueryableList
                                        .Where(c => clientFilter.Contains(c.ClientID))
                                        .Select(c => new ClientListViewModel
                                                {
                                                    ClientID = c.ClientID,
                                                    ClientCode = c.ClientCode,
                                                    ClientName = c.ClientName
                                                })
                                        .ToListAsync();
            }
        }
        catch (Exception e) { var err = e.Message; }
    }
    
    bool showPatent = userSettings.Property("ShowPatent") != null ? (userSettings["ShowPatent"] ?? false).Value<bool>() : true;
    bool showTrademark = userSettings.Property("ShowTrademark") != null ? (userSettings["ShowTrademark"] ?? false).Value<bool>() : true;
    bool showGenmatter = userSettings.Property("ShowGenMatter") != null ? (userSettings["ShowGenMatter"] ?? false).Value<bool>() : true;

    var CanAccessPatDocVer = (await AuthService.AuthorizeAsync(User, PatentAuthorizationPolicy.CanAccessDocumentVerification)).Succeeded;
    var CanAccessTmkDocVer = (await AuthService.AuthorizeAsync(User, TrademarkAuthorizationPolicy.CanAccessDocumentVerification)).Succeeded;
    var CanAccessGmDocVer = (await AuthService.AuthorizeAsync(User, GeneralMatterAuthorizationPolicy.CanAccessDocumentVerification)).Succeeded;
}
<script>
    var refresh = false;

    function saveAssignedDateRange(e) {        
        var dateRange = this.range();
        var selectedStartDate = "";
        var selectedEndDate = "";
        if (dateRange) {
            if (dateRange.start) {
                selectedStartDate = kendo.toString(dateRange.start, 'MM/dd/yyyy');
            }
            if (dateRange.end) {
                selectedEndDate = kendo.toString(dateRange.end, 'MM/dd/yyyy');
            }
        }
        saveSetting('@widgetId', `{ AssignedDateFrom: "${selectedStartDate}", AssignedDateTo: "${selectedEndDate}" }`, function () { refresh = true;});
    }

    function assignedDateRangeOnClose(e) {
        $("#AssignedDateRangePicker_@widgetId input").blur();
    }

    $(document).ready(function () {        
        var clientList = [@String.Join(",", clients.Select(a => a.ClientID).ToList())];

        $(document).off("click", "#@(widgetId)WidgetContainer .widget-settings .toggle-option");
        $(document).on("click", "#@(widgetId)WidgetContainer .widget-settings .toggle-option", function (e) {
            saveSetting('@widgetId', `{ ${$(this).data("setting")}: ${$(this).is(':checked')} }`, function () { refresh = true; });
        });

        $(document).off("click", "#@(widgetId)WidgetContainer .settings, #@(widgetId)WidgetContainer .widget-settings .settings-close");
        $(document).on("click", "#@(widgetId)WidgetContainer .settings, #@(widgetId)WidgetContainer .widget-settings .settings-close", function (e) {
            if (refresh) {
                $("#@(widgetId)WidgetContainer .refresh").click();
            }
        });
        
        $(document).off("click", "#clientFilter_@widgetId .delete-client");
        $(document).off("change", "#ClientCode_@widgetId");
        $(document).on("click", "#clientFilter_@widgetId .delete-client", function (e) {
            var item = $.inArray($(this).data("id"), clientList);

            if (item !== -1) {
                clientList.splice(item, 1);
                $(this).closest("li").remove();

                saveSetting('@widgetId', `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
            }
        });
        $(document).on("change", "#ClientCode_@widgetId", function (e) {
            var client = $(this).data("kendoMultiColumnComboBox");

            if (client.selectedIndex >= 0) {
                var dataItem = client.dataItem(client.selectedIndex);

                var clientId = dataItem.ClientID;
                var clientCode = dataItem.ClientCode;
                var clientName = dataItem.ClientName;

                if ($.inArray(clientId, clientList) == -1) {
                    clientList.push(clientId);
                    $("#clientFilter_@widgetId").append(`<li class="list-group-item d-flex justify-content-between"><div><span class="client-code">${clientCode}</span><span class="client-name">${clientName}</span></div><div class="delete-filter delete-client" data-id="${clientId}" title="Remove ${clientCode}"><i class="fal fa-trash-alt"></i></div></li>`);

                    saveSetting('@widgetId', `{ Clients: [${clientList.toString()}] }`, function () { refresh = true; });
                }
            }

            client.value("");
        });                    
    });    
</script>
<div data-widget-id="workloadHistogram" class="dvWidget">    
    <div class="widget-header">
        <div class="row">
            <div class="col">
                <span class="widget-title">@Localizer["Workload Histogram"]</span>
                <span class="widget-actions">
                    <i class="refresh fal fa-sync" title="@Localizer["Refresh"]"></i>
                    <i class="settings fal fa-cog" title="@Localizer["Settings"]"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="widget-content">
        <div class="widget-settings" style="max-height: 425px; display:none;">
            <div class="settings-body">
                <ul class="list-group">
                    @if (CanAccessPatDocVer)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <span>@Localizer["Patent"]</span>
                            <span>
                                <label class="toggle-switch">
                                    <input id="@widgetId-show-patent" type="checkbox" checked="@showPatent" data-setting="ShowPatent" class="toggle-option">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                        </li>
                    }
                    @if (CanAccessTmkDocVer)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <span>@Localizer["Trademark"]</span>
                            <span>
                                <label class="toggle-switch">
                                    <input id="@widgetId-show-trademark" type="checkbox" checked="@showTrademark" data-setting="ShowTrademark" class="toggle-option">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                        </li>
                    }
                    @if (CanAccessGmDocVer)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <span>@Localizer["General Matter"]</span>
                            <span>
                                <label class="toggle-switch">
                                    <input id="@widgetId-show-generalmatter" type="checkbox" checked="@showGenmatter" data-setting="ShowGenMatter" class="toggle-option">
                                    <span class="slider round"></span>
                                </label>
                            </span>
                        </li>
                    }                    
                </ul>
                <ul id="clientFilter_@widgetId" class="list-group">
                    <li class="list-group-item d-flex justify-content-between">
                        <span>@clientLabel</span>
                        <span>@await Component.InvokeAsync("ComboBox", ComboBoxHelper.ClientID("ClientCode", @clientLabel, @clientNameLabel, "Client", "Shared", widgetId))</span>
                    </li>
                    @foreach (ClientListViewModel client in clients)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <div>
                                <span class="client-code">@client.ClientCode</span>
                                <span class="client-name">@client.ClientName</span>
                            </div>
                            <div class="delete-filter delete-client" data-id="@client.ClientID" title="Remove @client.ClientCode"><i class="fal fa-trash-alt"></i></div>
                        </li>
                    }
                </ul>                
            </div>
            <div class="settings-footer mt-4">
                <button type="button" class="settings-close btn btn-primary float-right"><i class="fa fa-times pr-2"></i>@Localizer["Close"]</button>
            </div>
        </div>       
        @(Html.Kendo().Chart<R10.Web.Models.DashboardViewModels.StackedChartViewModel>()
            .Name(widgetId)
            .Title("")
            .Legend(legend => legend
                .Visible(true)
                .Position(ChartLegendPosition.Bottom)
            )
            .ChartArea(chartArea => chartArea
                .Background("transparent")
            )
            .SeriesDefaults(seriesDefaults => seriesDefaults.Column().Stack(true).Overlay(o => o.Gradient(ChartSeriesGradient.None)))
            .Series(series =>
            {
                series.Column(model => model.StackLayer1).Color(seriesColors[0]).Name(Localizer["Number of tasks"]);
                series.Column(model => model.StackLayer2).Color(seriesColors[1]).Name(Localizer["Number of assigned"]);
                series.Column(model => model.StackLayer3).Color(seriesColors[2]).Name(Localizer["Number of completed"]);
            })
            .DataSource(ds =>
            {
                ds.Read(read => read.Action("GetWorkloadHistogramChart", "DocumentVerification", new { area = "Shared" }));
            })            
            .CategoryAxis(axis => axis.Categories(model => model.Category))
            .SeriesColors(seriesColors)
            .Tooltip(tooltip => tooltip
            .Visible(true)
            .Template("#= series.name# (#= category #): #= value == null ? 0 : value #")
            )
            //Settings for PDF export using kendo built-in function
            .Pdf(pdf => pdf
                .FileName(Localizer["WorkloadHistogram"])
                //.PaperSize("A4")
                .Landscape(false)
                .Margin(m => m
                .Left(10)
                .Right(10)
                .Top(10)
                .Bottom(10))
            )
        )
    </div>
</div>