@model PatCountry
@inject IStringLocalizer<SharedResource> SharedLocalizer
@{
    var id = Model.Country;
    var isCopy = ViewBag.CopyOptions != null;
    var addMode = string.IsNullOrEmpty(id) || isCopy;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord;
    bool isReadOnly = !fullModify;
}

<form cpi-detail-form action="Save">
    <input type="hidden" asp-for="Country" />
    @if (addMode)
    {
        <input type="hidden" name="IsNewRecord" value="true" class="boolean" />
    }
    <input type="hidden" name="OriginalSystems" value="@(addMode ? "__NEW__" : (string.IsNullOrEmpty(Model.Systems) ? "__EMPTY__" : Model.Systems))" />
    @await Component.InvokeAsync("DetailPageNavLinks", new { pagePermission = detailPagePermission, title = "", addMode = addMode })

    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="Country"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Country" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="Country"></span>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5 order-3">
                <div class="form-group float-label">
                    <label asp-for="CountryName"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="CountryName" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="CountryName"></span>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-5 order-last"></div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 order-sm-3 order-lg-last">
                <div class="form-group float-label">
                    <label asp-for="CPICode"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="CPICode" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="CPICode"></span>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 order-sm-3 order-lg-last">
                <div class="form-group float-label">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" checked disabled class="custom-control-input" id="CountryPaidThruCPIDisplay" />
                        <label for="CountryPaidThruCPIDisplay" class="custom-control-label">@SharedLocalizer["Country Paid Thru CPI"]</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group float-label">
                    <label asp-for="Systems"></label>
                    @await Html.PartialAsync("~/Views/Shared/_SystemsDropdown.cshtml", null, new ViewDataDictionary(ViewData) {
                        { "SystemsValue", Model.Systems },
                        { "SystemsPrefix", "patCtry" },
                        { "SystemsAction", Url.Action("GetSystemList") },
                        { "SystemsReadOnly", false }
                    })
                </div>
            </div>
        </div>
    </div>
    @if (!addMode)
    {
        <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" role="tablist">
            <li class="nav-item">
                <a id="patCountryDetailAreaTab" href="#patCountryDetailAreaTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="patCountryDetailAreaTabContent" title="@SharedLocalizer["Areas"]">@SharedLocalizer["Areas"]</a>
            </li>
        </ul>
        <div class="tab-content detail">
            <div class="tab-pane active show" id="patCountryDetailAreaTabContent" role="tabpanel" aria-labelledby="patCountryDetailAreaTab">
                @await Component.InvokeAsync("GridAreas", new AreaGridOptions { Country = Model.Country, Area = "Patent" })
            </div>
        </div>
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.UserID" date-created="@Model.DateCreated" updated-by="@Model.UserID" last-update="@Model.LastUpdate" t-stamp="null"></vc:record-stamps>
        </div>
    }
</form>

<script>
    patCountryPage.afterInsert = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    patCountryPage.showDetails = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    patCountryPage.editableGrids = [
            {
             title: '@SharedLocalizer["Areas"]', name: 'areasGrid', isDirty: false, filter: { country: '@Model.Country'},
             afterSubmit: patCountryPage.updateRecordStamps
            }
    ];

    $(document).ready(() => {
        const areasGrid = $("#areasGrid");
        areasGrid.on("click", ".areaLink", (e) => {
            e.stopPropagation();

            let url = $(e.target).data("url");
            const row = $(e.target).closest("tr");
            const dataItem = areasGrid.data("kendoGrid").dataItem(row);
            const linkUrl = url.replace("actualValue", dataItem.Area);
            pageHelper.openLink(linkUrl, false);
        });
    })
</script>

<script>
    $(document).ready(function() {
        $('.page-nav.add-record').off('click').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = $(this).data('url');
            if (url) pageHelper.openLink(url, true);
        });
    });
</script>
