@model int
@inject IStringLocalizer<SharedResource> Localizer

@{
    int id = Model;
    string gridContainer = "dataSourceGridList";
    string gridName = "fieldListGrid";
}
<div id="@gridContainer" data-export-excel-url="@Url.Action("ExportToExcel", "QuickEmailDataSourceSetup")">
    <div class="col nav-right">
        <a class="nav-link export-excel pr-2" href="#" title="Export to Excel" role="button"><i class="fal fa-file-excel pr-2"></i><span>@Localizer["Export to Excel"]</span></a>
    </div>
    <div>
        @(Html.Kendo().Grid<QEFieldListDTO>()
            .Name(gridName)
            .Columns(column =>
            {
                column.Bound(fl => fl.ColumnName).Width(250);
                column.Bound(fl => fl.DataType).Width(100);
            })
            .AutoBind(false)
            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
            .Filterable(f => f.Operators(o => o.ForString(s => s
            .Clear()
            .Contains("Contains")
            .IsEqualTo("Equals")
            .StartsWith("Starts with")
            .EndsWith("Ends with")
            )))
            .Pageable(page => page.PageSizes(true).Refresh(true).Responsive(false))
            .Scrollable()
            .Sortable(sortable => sortable.SortMode(GridSortMode.SingleColumn).ShowIndexes(true))
            .DataSource(dataSource => dataSource
                .Ajax()
            .Read(read => read.Action("GetDataSourceFieldList", "QuickEmailDataSourceSetup").Data($"{{dataSourceId: {id}}}"))
                .Events(events =>
                {
                    events.Error("pageHelper.onGridError");
                })
                .Sort(sort => sort.Add(fl => fl.ColumnName))
            )
            .HtmlAttributes(new { @class = "kendo-Grid" })
        )
    </div>
</div>

<script>
    $(document).ready(function () {
        quickEmailDataSourceSetup.initializeFieldList({ gridContainer: "@gridContainer", gridName: "@gridName" });
    });
</script>
