@model LetterSubCategory
@inject IStringLocalizer<SharedResource> SharedLocalizer
@{
    var id = Model.LetSubCatId;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    bool isReadOnlyRemarks = !(fullModify || detailPagePermission.CanEditRemarksOnly);
}
<form cpi-detail-form action="@(detailPagePermission.CanEditRemarksOnly ? "SaveRemarks" :"Save")">
    <input type="hidden" asp-for="LetSubCatId" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content  detail cpiMainEntry">
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="LetSubCat"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="LetSubCat" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="LetSubCat"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-8 col-md-7 col-lg-6 col-xl-5">
                <div class="form-group float-label">
                    <label asp-for="LetSubCatDesc"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="LetSubCatDesc" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="LetSubCatDesc"></span>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-sm-12 col-md-12 col-lg-9 col-xl-6">
                <div class="form-group float-label">
                    <label asp-for="Remarks"></label>
                    <textarea class="form-control form-control-sm" rows="10" asp-for="Remarks" asp-is-readonly="@isReadOnlyRemarks">Remarks</textarea>
                </div>
            </div>
        </div>
    </div>

    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
        </div>
    }
</form>
