@model DataTypeSelectionViewModel
@inject IStringLocalizer<DataImportResource> Localizer
@inject ISystemSettings<TmkSetting> TmkSettings
@inject ISystemSettings<PatSetting> PatSettings

@{
    var dataGroups = new List<IGrouping<string, DataImportType>>();
    if (Model.DataTypes != null)
        dataGroups = Model.DataTypes.GroupBy(d => d.DataGroup).ToList();
    var count = dataGroups.Count();
    var counter = 0;

    var updDataGroups = new List<IGrouping<string, DataImportType>>();
    if (Model.UpdateDataTypes != null)
        updDataGroups = Model.UpdateDataTypes.GroupBy(d => d.DataGroup).ToList();
    var updCount = updDataGroups.Count();
    var updCounter = 0;

    DefaultSetting settings;

    if (ViewBag.SystemType == "P") {
        settings = await PatSettings.GetSetting();
    }
    else {
        settings = await TmkSettings.GetSetting();
    }
}


    @if (dataGroups.Any())
    {
        <div class="accordion pb-3" id="importDataType">
            @foreach (var item in dataGroups)
            {
                counter++;
                <div class="card@(count==1 ? " border border-bottom" : "")">
                    <div class="card-header py-1" id="importFormHead@(counter)">
                        <div>
                            <button class="d-flex align-items-center justify-content-between btn btn-link @(count > 1 ? "collapsed": "")" type="button" data-toggle="collapse" data-target="#@BuildHtmlIdFromString(item.Key)" aria-expanded="@(count > 1 ? "true": "false")" aria-controls="@BuildHtmlIdFromString(item.Key)">
                                @Localizer[item.Key]
                                <span class="fa-stack fa-sm pt-2">
                                    <i class="fal fa-chevron-up float-right chevron"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div id="@BuildHtmlIdFromString(item.Key)" class="collapse @(count > 1 ? "": "show")" aria-labelledby="importFormHead@(counter)" data-parent="#importDataType">
                        <div class="card-body">
                            <div class="row">
                                @foreach (var dataType in Model.DataTypes.Where(d => d.DataGroup == item.Key))
                                {
                                    var id = $"{Model.SelectionType}-dataType-{dataType.DataTypeId.ToString()}";
                                    <div class="col-md-3">                                   
                                        <div class="form-check">
                                            <input class="form-check-input mt-2" type="radio" name="dataType" id="@id" value="@($"{dataType.DataTypeId.ToString()}")">
                                            <label class="form-check-label mt-0" for="@id">
                                                @Localizer[GetDataTypeLabel(dataType.DataType,settings)]
                                            </label>
                                            <a id="getStructure" href='@Url.Action("GetStructure","DataImport", new {dataTypeId=dataType.DataTypeId})' style="display:inline-block" class="pt-1"><span class="pl-2"><i class="fal fa-question-circle" style="font-size:1.2rem"></i></span></a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else if (updDataGroups.Any())
    {
        <div class="accordion pb-3" id="updateDataType">
            @foreach (var item in updDataGroups)
            {
                updCounter++;
                <div class="card@(updCount==1 ? " border border-bottom" : "")">
                    <div class="card-header py-1" id="updateFormHead@(updCounter)">
                        <div>
                            <button class="d-flex align-items-center justify-content-between btn btn-link @(updCount > 1 ? "collapsed": "")" type="button" data-toggle="collapse" data-target="#@BuildHtmlIdFromString(item.Key)_upd" aria-expanded="@(updCount > 1 ? "true": "false")" aria-controls="@BuildHtmlIdFromString(item.Key)_upd">
                                @Localizer[item.Key]
                                <span class="fa-stack fa-sm pt-2">
                                    <i class="fal fa-chevron-up float-right chevron"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div id="@BuildHtmlIdFromString(item.Key)_upd" class="collapse @(updCount > 1 ? "": "show")" aria-labelledby="updateFormHead@(updCounter)" data-parent="#updateDataType">
                        <div class="card-body">
                            <div class="row">
                                @foreach (var dataType in Model.UpdateDataTypes.Where(d => d.DataGroup == item.Key))
                                {
                                    var id = $"{Model.SelectionType}-dataType-{dataType.DataTypeId.ToString()}";
                                    <div class="col-md-3">                                    
                                        <div class="form-check">
                                            <input class="form-check-input mt-2" type="radio" name="dataType" id="@id" value="@($"{dataType.DataTypeId.ToString()}")">
                                            <label class="form-check-label mt-0" for="@id">
                                                @Localizer[GetDataTypeLabel(dataType.DataType,settings)]
                                            </label>
                                            <a id="getUpdateStructure" href='@Url.Action("GetStructure","DataImport", new {dataTypeId=dataType.DataTypeId})' style="display:inline-block" class="pt-1"><span class="pl-2"><i class="fal fa-question-circle" style="font-size:1.2rem"></i></span></a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }

@functions
{
    string BuildHtmlIdFromString(string name)
    {
        return name.Replace(" ", "").Replace("(", "").Replace(")", "");
    }

    string GetDataTypeLabel(string dataType, DefaultSetting settings)
    {

        switch (dataType.ToLower())
        {
            case "client":
                return settings.LabelClient;
            case "agent":
                return settings.LabelAgent; 
            case "owner":
                return settings.LabelOwner;
            default:
                return dataType;
        }
    }
}
@*<script>
        $(".accordion").on("hide.bs.collapse show.bs.collapse", e => {
            $(e.target)
                .prev()
                .find("i:last-child")
                .toggleClass("fa-chevron-down fa-chevron-up");
        });
    </script>*@
<style>

    #importDataType button.collapsed i.chevron {
        transform: rotate(180deg);
    }

    #updateDataType button.collapsed i.chevron {
        transform: rotate(180deg);
    }

    .accordion .card-header {
        background: transparent;
    }

    .accordion .fa-stack {
        font-size: 18px;
    }

    .accordion .btn {
        width: 100%;
        font-weight: bold;
        color: var(--text-body);
        font-size: .9rem;
        padding: 0;
    }

    .accordion .btn-link:hover,
    .accordion .btn-link:focus {
        text-decoration: none;
    }
</style>
