@model DataImportType
@inject IStringLocalizer<DataImportResource> Localizer
@inject ISystemSettings<TmkSetting> TmkSettings
@inject ISystemSettings<PatSetting> PatSettings
@{
    DefaultSetting settings;
    if (ViewBag.SystemType == "P")
    {
        settings = await PatSettings.GetSetting();
    }
    else
    {
        settings = await TmkSettings.GetSetting();
    }
}
<div class="modal fade" id="dataImportTypeColumnsDialog" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h4 class="modal-title">@Localizer["View Structure"]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body py-1 mx-2">
                <div>
                    <h5>@Localizer["Data type:"]<span class="ml-3"> @Localizer[GetDataTypeLabel(Model.DataType, settings)]</span></h5>
                    <div style="line-height: 60%;font-size:.8rem">
                        <p class="pb-1">@Localizer[Model.Description]</p>
                        <p><span class="font-weight-bold">@Localizer["Key:"]</span><span class="ml-3">@Model.KeyColumns</span></p>
                    </div>
                </div>
                @await Html.PartialAsync("_GridTypeColumns", Model.TableType)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fal fa-times-circle pr-2"></i>@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>
@functions
{
    string GetDataTypeLabel(string dataType, DefaultSetting settings)
    {

        switch (dataType.ToLower())
        {
            case "client":
                return settings.LabelClient;
            case "agent":
                return settings.LabelAgent;
            case "owner":
                return settings.LabelOwner;
            default:
                return dataType;
        }
    }
}