@model DataImportHistory
@inject IStringLocalizer<DataImportResource> Localizer
@using Newtonsoft.Json.Linq
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    string dataType = Localizer[Model.DataType != null ? (Model.DataType.DataType ?? "") : ""];

    var showOptions = Model.NoOfRecords != Model.NoOfRecordsImported;

    var showIgnoreDupes = false;
    var showIgnoreOrphans = false;
    var ignoreDupes = false;
    var ignoreOrphans = false;

    if (!string.IsNullOrEmpty(Model.Options))
    {
        try
        {
            var jsonOptions = JObject.Parse(Model.Options);

            if (Model.Options.Contains("IgnoreDupes"))
            {                
                if (jsonOptions["IgnoreDupes"] != null)
                {
                    showIgnoreDupes = true;
                    ignoreDupes = (bool)(jsonOptions["IgnoreDupes"] ?? false);
                }
            }  
            if (Model.Options.Contains("IgnoreOrphans"))
            {
                if (jsonOptions["IgnoreOrphans"] != null)
                {
                    showIgnoreOrphans = true;
                    ignoreOrphans = (bool)(jsonOptions["IgnoreOrphans"] ?? false);
                }
            }
        }
        catch (Newtonsoft.Json.JsonReaderException ex)
        {

        }
    }

    var noOfSkipped = Model.NoOfRecords - Model.NoOfRecordsImported;
    if (noOfSkipped < 0) noOfSkipped = 0;
}
<div class="d-flex flex-row">
    <div class="rounded-circle bg-success" style="width:45px; height:45px">
        <span>
            <i class="far fa-flag-alt" style="padding:10px;font-size: 25px; color: #fff"></i>
        </span>
    </div>
    <div class="pl-3">
        <h4 class="pb-1">@Localizer["Import Successful"]</h4>
    </div>

</div>
<div class="mt-5">
    <h5>@Localizer["Data type:"]<span class="ml-3">@dataType</span></h5>
    <p class="pt-3" style="font-size: .9rem;">@Localizer["Total number of records in the file:"]<span class="ml-3">@Model.NoOfRecords</span></p>
    <p style="font-size: .9rem;">@Localizer["Total number of records imported:"]<span class="ml-3">@Model.NoOfRecordsImported</span></p>
    @if (showIgnoreDupes || showIgnoreOrphans)
    {
        <p style="font-size: .9rem;">@Localizer["Total number of records skipped:"]<span class="ml-3">@noOfSkipped</span></p>
    }
</div>
@if (showOptions)
{
    <div class="mt-5">
        <h5>@Localizer["Options"]</h5>
        @if (showIgnoreDupes)
        {
            @Html.Kendo().CheckBox().Name("TempIgnoreDupes").Checked(ignoreDupes).Label(Localizer["Ignore duplicates or records that are already existing (based on key)"]).Enable(false)
            <br />
        }
        @if (showIgnoreOrphans)
        {
            @Html.Kendo().CheckBox().Name("TempIgnoreOrphans").Checked(ignoreOrphans).Label(Localizer["Ignore records that don't exist (based on key)"]).Enable(false)
        }
    </div>

    <div class="mt-5">        
            <div class="d-flex justify-content-between">
                <h5>@Localizer["Record(s) Skipped"]</h5>
                <div id="downloadIgnored">
                    <form action="@Url.Action("DownloadErrors","DataImport")" method="post">
                        <input type="hidden" name="ImportId" value="@Model.ImportId" />
                        <input type="hidden" name="ignoredOnly" value="true" />
                    </form>
                    <a class="nav-link" href="#">
                        <i class="fal fa-arrow-circle-down pr-2"></i>
                        <span>@Localizer["Download"]</span>
                    </a>
                </div>
            </div>        
            @(Html.Kendo().Grid<DataImportError>()
                .Name("dataImportIgnores")
                .Columns(columns =>
                {
                    columns.Bound(e => e.Row).Width("10%");
                    columns.Bound(e => e.Error).Title(Localizer["Data"]);
                })
                .Pageable(page => page.PageSizes(settings.SearchResultsPageSizeOptions))
                .Sortable(sort => sort.AllowUnsort(false))
                .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))            
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(create => create.Action("ImportErrorsRead", "DataImport", new { importId = Model.ImportId, ignoredOnly = true }))
                    .Sort(sort => sort.Add(e => e.Row))
                    //.PageSize(User.GetSearchResultsPageSize(settings.SearchResultsPageSize))
                    .PageSize(10)
                )
                .HtmlAttributes(new { @class = "kendo-Grid", style = "width:100%" })
            )       
    </div>
}