@inject IStringLocalizer<DataImportResource> Localizer
@{
    var options = (DataImportOptionsPortfolioViewModel)ViewBag.ImportOptions;
}
<div>
    <h5>@Localizer["Options:"]</h5>
    <form method="post" id="optionsForm">
        @Html.Kendo().CheckBox().Name("IgnoreDupes").Checked(options.IgnoreDupes).Label(Localizer["Ignore duplicates or records that are already existing (based on key)"])
        @Html.Kendo().CheckBox().Name("GenCountryLaw").Checked(options.GenCountryLaw).Label(Localizer["Generate country law actions"]).Checked(true)
        <div class="pl-4" id="countryLawOptions">
            <div>
                <div class="form-group float-label">
                    <label>@Localizer["Only generate actions that are due after this date"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DueDateCutOff") {Value=options.DueDateCutOff })
                </div>
            </div>
            <div>
                @(Html.Kendo().CheckBox().Name("Active").Checked(options.Active).Label(Localizer["Generate actions for active records only"]))
            </div>
        </div>
    </form>
</div>
