@inject IStringLocalizer<DataImportResource> Localizer
@{ 
    var dataTypes = new DataTypeSelectionViewModel { SelectionType = "upd", UpdateDataTypes = ViewBag.DataUpdateTypes };
}
<div class="d-flex flex-row">
    <div class="rounded-circle update-icon" style="width:55px; height:55px;">
        <span>
            <i class="fal fa-cloud-upload-alt" style="padding:10px;font-size: 30px; color: #fff"></i>
        </span>

    </div>
    <div class="pl-3">
        <h4 class="pb-1">@Localizer["Upload file to update"]</h4>
        <span style="font-size: .9rem;">@Localizer["You can update up to 30,000 records at a time."]</span>
    </div>
</div>
<div class="mt-5">
    <form id="updateFileForm" asp-action="UploadUpdateFile" method="post">
        <h5>@Localizer["Please select the type of data you are updating:"]</h5>
        @await Html.PartialAsync("_DataTypeSelection", dataTypes)
        <div id="updateFileDropZone">
            <input type="hidden" name="systemType" value="@ViewBag.SystemType" />
            <input type="hidden" id="updateId" name="updateId" value="0" />
            <input type="hidden" id="updateFileModified" name="updateFileModified" value="false" />
            <input type="hidden" id="updateProcess" value="false" />
            <input type="file" id="updateFile" name="UpdateFile" accept=".xlsx" style="display: none">

            <div class="dropZoneElement">
                <span id="updateFileName"></span>
                <div class="textWrapper">
                    <h5>@Localizer["Click to choose or drop a single Excel (.xlsx) file here. The first row of the file should contain the column names."]</h5>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end pt-3 pb-2">
            <button class="btn btn-primary" type="submit" disabled><span class="fal fa-arrow-right"></span> @Localizer["Next"]</button>
        </div>
    </form>
</div>

<style>
    /* image drop zone */
    .dropZoneElement {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 70px;
        text-align: center;
        justify-content: center;
    }

    .textWrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        font-size: 24px;
        line-height: 1.2em;
        font-family: Arial,Helvetica,sans-serif;
        color: var(--text-body);
    }

    .wrapper:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .file {
        float: left;
        margin: 20px 30px;
        text-align: center;
    }

        .file img {
            display: block;
            margin-bottom: 10px;
        }
</style>