@inject IStringLocalizer<DataImportResource> Localizer
@{
    var options = (DataUpdateOptionsPortfolioViewModel)ViewBag.UpdateOptions;
    var hasRemarksUpdate = (bool)(ViewBag.HasRemarksUpdate ?? false);
}
<div>
    <h5>@Localizer["Options:"]</h5>
    <form method="post" id="updateOptionsForm">        
        @Html.Kendo().CheckBox().Name("IgnoreOrphans_Update").Checked(options.IgnoreOrphans).Label(Localizer["Ignore records that don't exist (based on key)"])
        <br/>
        @Html.Kendo().CheckBox().Name("GenCountryLaw_Update").Checked(options.GenCountryLaw).Label(Localizer["Generate country law actions"]).Checked(true)
        <div class="pl-4" id="countryLawOptions">
            <div>
                <div class="form-group float-label">
                    <label>@Localizer["Only generate actions that are due after this date"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DueDateCutOff_Update") {Value=options.DueDateCutOff })
                </div>
            </div>
            <div>
                @(Html.Kendo().CheckBox().Name("Active_Update").Checked(options.Active).Label(Localizer["Generate actions for active records only"]))
            </div>
        </div>
        @if (hasRemarksUpdate)
        {
            <label>@Localizer["Insert Remarks At:"]</label>
            <div class="pl-4">                
                <div>
                    @(Html.Kendo().RadioButton().Name("RemarksPosition1").Checked(options.RemarksPosition == 1).HtmlAttributes(new { @name = "RemarksPosition" }).Label(Localizer["Beginning"]).Value(1))
                </div>
                <div>
                    @(Html.Kendo().RadioButton().Name("RemarksPosition2").Checked(options.RemarksPosition == 2).HtmlAttributes(new { @name = "RemarksPosition" }).Label(Localizer["End"]).Value(2))
                </div>
            </div>            
        }
    </form>
</div>
