@model PageViewModel
@inject IStringLocalizer<AdminResource> Localizer
@{
}

<div class="tab-content search page-content">
    <div class="tab-pane show active" id="groupMainInfoTabContent" aria-labelledby="groupMainInfoTab" role="tabpanel">        
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Name">@Localizer["Name"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Name" })
                </div>
            </div>
            <div class="col-md-4 col-xl-5">
                <div class="form-group float-label">
                    <label for="Description">@Localizer["Description"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Description" })
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="form-group d-flex justify-content-md-center">
                    @*<label for="IsEnabled">@Localizer["Status"]</label>*@
                    <div>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-outline">
                                <input type="radio" name="IsEnabled" class="form-control" value="true" data-role="option"> @Localizer["Enabled"]
                            </label>
                            <label class="btn btn-outline">
                                <input type="radio" name="IsEnabled" class="form-control" value="false" data-role="option"> @Localizer["Disabled"]
                            </label>
                            <label class="btn btn-outline active">
                                <input type="radio" name="IsEnabled" class="form-control" value="" data-role="option"> @Localizer["All"]
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>