@inject IStringLocalizer<MenuResource> Localizer
@model IEnumerable<R10.Web.Models.MenuViewModels.MenuItemViewModel>

<h3>@ViewData["Title"]</h3>
<div class="card-columns mt-4">
    @foreach (var subMenu in Model)
    {
        <div class="card border-0 bg-transparent">
            <div class="system-title">@Localizer[subMenu.Title]</div>
            <ul class="system-menu">
                @foreach (var menu in subMenu.SubMenuItems.Select((item, index) => new { item, index }))
                {
                    @if (menu.item.Page != null)
                    {
                        <li class="nav-item"><a asp-all-route-data="@menu.item.Page.RouteData" asp-controller="@menu.item.Page.Controller" asp-action="@menu.item.Page.Action" title="@Localizer[menu.item.Title]" class="nav-link">@Localizer[menu.item.Title]</a></li>
                    }
                    else if (!string.IsNullOrEmpty(menu.item.AbsoulteUri))
                    {
                        <li class="nav-item"><a href="@menu.item.AbsoulteUri" title="@Localizer[menu.item.Title]" class="nav-link" target="_blank">@Localizer[menu.item.Title]</a></li>
                    }
                }
            </ul>
        </div>
    }
</div>
