@model PatDesCaseTypeDelete
@using R10.Core.Entities.Patent
@inject IStringLocalizer<SharedResource> Localizer
@{
    var addMode = Model.IsNewRecord;
    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    bool keyFieldsReadOnly = isReadOnly || !addMode; // Key fields readonly on edit
}

<form cpi-detail-form action="Save">
    @if (addMode)
    {
        <input type="hidden" name="IsNewRecord" value="true" class="boolean" />
    }
    <input type="hidden" name="OriginalSystems" value="@(addMode ? "__NEW__" : (string.IsNullOrEmpty(Model.Systems) ? "__EMPTY__" : Model.Systems))" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="IntlCode"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="IntlCode" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="IntlCode"></span>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="CaseType"></label>
                    @if (keyFieldsReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="CaseType" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "CaseType", controller = "CaseType", area = "Patent", action = "GetPicklistData", defaultValue = Model.CaseType })
                        <span asp-validation-for="CaseType"></span>
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="DesCountry"></label>
                    @if (keyFieldsReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="DesCountry" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "DesCountry", controller = "Country", area = "Patent", action = "GetPicklistData", textProperty = "Country", defaultValue = Model.DesCountry })
                        <span asp-validation-for="DesCountry"></span>
                    }
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="DesCaseType"></label>
                    @if (keyFieldsReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="DesCaseType" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "DesCaseType", controller = "DesCaseType", area = "Patent", action = "GetPicklistData", textProperty = "DesCaseType", defaultValue = Model.DesCaseType })
                        <span asp-validation-for="DesCaseType"></span>
                    }
                </div>
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <div class="form-check">
                    <input type="checkbox" class="k-checkbox" asp-for="Default" disabled="@(isReadOnly ? "disabled" : null)" />
                    <label class="k-checkbox-label" asp-for="Default">@Localizer["Default?"]</label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="IntlCodeNew"></label>
                    <input type="hidden" name="IntlCodeNew" id="IntlCodeNew" value="@Model.IntlCodeNew" />
                    <input type="text" class="form-control form-control-sm" id="IntlCodeNewDisplay" value="@Model.IntlCodeNew" readonly />
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="CaseTypeNew"></label>
                    <input type="hidden" name="CaseTypeNew" id="CaseTypeNew" value="@Model.CaseTypeNew" />
                    <input type="text" class="form-control form-control-sm" id="CaseTypeNewDisplay" value="@Model.CaseTypeNew" readonly />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="DesCountryNew"></label>
                    <input type="hidden" name="DesCountryNew" id="DesCountryNew" value="@Model.DesCountryNew" />
                    <input type="text" class="form-control form-control-sm" id="DesCountryNewDisplay" value="@Model.DesCountryNew" readonly />
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="DesCaseTypeNew"></label>
                    <input type="hidden" name="DesCaseTypeNew" id="DesCaseTypeNew" value="@Model.DesCaseTypeNew" />
                    <input type="text" class="form-control form-control-sm" id="DesCaseTypeNewDisplay" value="@Model.DesCaseTypeNew" readonly />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group float-label">
                    <label asp-for="Systems"></label>
                    <input type="hidden" name="Systems" id="patDCTDelSystemsHidden" value="@Model.Systems" />
                    <div class="border rounded p-2 position-relative" style="min-height: 60px; padding-top: 30px !important;">
                        @if (!isReadOnly)
                        {
                            <div class="position-absolute" style="top: 4px; right: 8px;">
                                <label class="small mb-0" style="cursor:pointer;"><input type="checkbox" id="patDCTDelSystemsToggleAll" class="mr-1"/>Select All</label>
                            </div>
                        }
                        <div id="patDCTDelSystemsCheckboxes"></div>
                    </div>
                    <script>
                        $(document).ready(function() {
                            var disabled = @(isReadOnly ? "true" : "false");
                            var selected = ($('#patDCTDelSystemsHidden').val() || '').split(',').filter(function(s) { return s.length > 0; });
                            $.getJSON('@Url.Action("GetSystemList", "DesCaseTypeDelete")', function(data) {
                                var html = '';
                                $.each(data, function(i, name) {
                                    var checked = selected.indexOf(name) > -1 ? ' checked' : '';
                                    var dis = disabled ? ' disabled' : '';
                                    html += '<label class="mr-3" style="white-space:nowrap;"><input type="checkbox" class="patDCTDelSystemChk mr-1" value="' + name + '"' + checked + dis + '/>' + name + '</label>';
                                });
                                $('#patDCTDelSystemsCheckboxes').html(html);
                                var allCount = $('.patDCTDelSystemChk').length;
                                var checkedCount = $('.patDCTDelSystemChk:checked').length;
                                $('#patDCTDelSystemsToggleAll').prop('checked', allCount > 0 && allCount === checkedCount);
                            });
                            $(document).on('change', '.patDCTDelSystemChk', function() {
                                var vals = [];
                                $('.patDCTDelSystemChk:checked').each(function() { vals.push($(this).val()); });
                                $('#patDCTDelSystemsHidden').val(vals.join(',')).trigger('change');
                                var allCount = $('.patDCTDelSystemChk').length;
                                var checkedCount = $('.patDCTDelSystemChk:checked').length;
                                $('#patDCTDelSystemsToggleAll').prop('checked', allCount > 0 && allCount === checkedCount);
                            });
                            $('#patDCTDelSystemsToggleAll').click(function() {
                                var isChecked = $(this).prop('checked');
                                $('.patDCTDelSystemChk').prop('checked', isChecked).first().trigger('change');
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    $(document).ready(function() {
        function syncNewFields() {
            var intlCode = $('[name=IntlCode]').val() || $('input[name=IntlCode]').val() || '';
            $('#IntlCodeNew').val(intlCode);
            $('#IntlCodeNewDisplay').val(intlCode);
            var caseType = $('[name=CaseType]').val() || $('input[name=CaseType]').val() || '';
            $('#CaseTypeNew').val(caseType);
            $('#CaseTypeNewDisplay').val(caseType);
            var desCountry = $('[name=DesCountry]').val() || $('input[name=DesCountry]').val() || '';
            $('#DesCountryNew').val(desCountry);
            $('#DesCountryNewDisplay').val(desCountry);
            var desCaseType = $('[name=DesCaseType]').val() || $('input[name=DesCaseType]').val() || '';
            $('#DesCaseTypeNew').val(desCaseType);
            $('#DesCaseTypeNewDisplay').val(desCaseType);
        }
        // Only sync on change, not on load (model values are already set)
        $(document).on('change', '[name=IntlCode], [name=IntlCode_input]', syncNewFields);
        $(document).on('change', '[name=CaseType], [name=CaseType_input]', syncNewFields);
        $(document).on('change', '[name=DesCountry], [name=DesCountry_input]', syncNewFields);
        $(document).on('change', '[name=DesCaseType], [name=DesCaseType_input]', syncNewFields);
    });
    patDesCaseTypeDeletePage.afterInsert = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    patDesCaseTypeDeletePage.showDetails = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    $(document).ready(function() {
        $('.page-nav.add-record').off('click').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = $(this).data('url');
            if (url) pageHelper.openLink(url, true);
        });
        $('.copy-record').off('click').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = $(this).data('url');
            if (url) pageHelper.openLink(url, true);
        });
    });
</script>
