@* @model TrademarkSelectionGridOption
@inject IStringLocalizer<SharedResource> Localizer
@inject IStringLocalizer<TrademarkResource> TmkLocalizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var matId = Model.MatId;
    var gmtId = Model.GMTId;
    var data = Model;
    var dialogName = "relatedTrademarkEditDialog";
    var screen = "relatedTrademarkEdit";
    var caseNumberLabel = settings.IsClientMatterOn ? TmkLocalizer[settings.LabelClientMatter] : TmkLocalizer[settings.LabelCaseNumber];
    var goodsTemplate = "<span class='k-state-default'>#: data.ClassDesc #</span>";
    var enableComboPaging = settings.EnableComboBoxPaging;
    var comboPagingSize = settings.ComboBoxPagingSize;
}

<script>
    function getRelatedTrademarkSources() {
        const grid = $("#@gridName").data("kendoGrid");
        grid._selectedIds = {};
        grid.clearSelection();
        grid.dataSource.read();
    }

    function relatedTrademarkSelectionChange(parent) {
        const addButton = $(`#${parent}`).find("#save");

        const grid = $("#@gridName").data("kendoGrid");
        if (grid.selectedKeyNames().length > 0)
            addButton.removeAttr("disabled");
        else
            addButton.attr("disabled", "disabled");
    }

    function getRrelatedTrademarkParam(dialogContainerName) {
        let form = $(`#${dialogContainerName}`).find("form")[0];
        form = $(form);

        const param = {
            caseNumber: form.find("input[name = 'CaseNumber']").val(),
            country: form.find("input[name = 'Country']").val(),
            subCase: form.find("input[name = 'SubCase']").val(),
            appNumber: form.find("input[name = 'AppNumber']").val(),
            regNumber: form.find("input[name = 'RegNumber']").val(),
            classIdList: form.find("select[name = 'ClassId']").data("kendoMultiSelect").value(),
            goods: form.find("input[name = 'Goods']").val(),
            trademarkName: form.find("input[name = 'TrademarkName']").val(),
            activeOnly: form.find("#showActiveOnly").is(':checked'),
            parentId: form.find("#ParentId").val()
        };

        if (form.find("#SearchText").length > 0)
            param.searchText = form.find("#SearchText").val();

        return param;

    }

    function onTrademarksGridDataBound(e) {
        var gridId = e.sender.element[0].id;
        var grid = $("#" + gridId).data("kendoGrid");
        var view = grid.dataSource.view();

        for (var i = 0; i < view.length; i++) {
            if (view[i].ReadOnly) {
                grid.tbody.find("tr[data-uid='" + view[i].uid + "']").addClass("read-only");
            }
        }

        const data = e.sender.dataSource.data();
        if (data.length > 0) {
            const listView = e.sender.element;
            $.each(listView.find(".tmkNameSearchResult-collapsible"), function () {
                $(this).textOverflow();
            });
        }
    }
</script>

<div class="modal fade" id="@dialogName" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h4 class="modal-title">@Localizer["Edit Trademark"]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body py-0">
                <div class="container-fluid">
                    @(Html.Kendo().Grid<RelatedTrademarkViewModel>()
                        .Name("gmMatterTrademarkReplaceGrid") // difference than Shared\Components\GridRelatedTrademark
                        .Columns(columns =>
                        {
                            columns.Bound(r => r.RelatedCaseNumber).HtmlAttributes(new { @class = "relatedCaseNumber-field nowrap" });
                            columns.Bound(t => t.Trademark).ClientTemplate("<div class='col' style='padding-right: 0; padding-left: 0;'><div class='tmkNameSearchResult-collapsible'>#: Trademark#</div></div>");
                            columns.Bound(r => r.Country).Width(100).HtmlAttributes(new { @class = "country-field" });
                            columns.Bound(r => r.SubCase).Width(100).HtmlAttributes(new { @class = "subCase-field" });
                            columns.Bound(r => r.CaseType).Width(100).HtmlAttributes(new { @class = "caseType-field" });
                            columns.Bound(t => t.AppNumber);
                            columns.Bound(t => t.FilDate).Format("{0:dd-MMM-yyyy}").HtmlAttributes(new { @class = "nowrap" });
                            columns.Bound(t => t.TrademarkStatus);
                        })
                        .Selectable(selectable => selectable.Enabled(true))
                        .Editable(editable => editable.Enabled(false))
                        .Sortable(sort => sort.AllowUnsort(false))
                        .Pageable(p => p.AlwaysVisible(false))
                        .AutoBind(true)
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Batch(true)
                        .ServerOperation(false)
                        .Model(model =>
                        {
                            model.Id(r => r.GMTId);
                        })
                        .Read(create => create.Action("GetSelectedRelatedTrademark", "MatterTrademarks", new { gmtId = gmtId }))
                        .Events(events =>
                        {
                            events.Error("pageHelper.onGridError");
                        })
                        )
                        .Events(events =>
                        {
                            events.DataBound("ongmMatterTrademarkReplaceGridDataBound");
                        })
                        .HtmlAttributes(new { @class = "kendo-Grid" })
                        )
                </div>
            </div>
            <div></div>
            <div class="modal-body py-0">
                <div class="container-fluid">
                    <form>
                        <input type="hidden" id="ParentId" value="@parentId" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group float-label">
                                    <label>@TmkLocalizer[caseNumberLabel]</label>
                                    @await Component.InvokeAsync("ComboBox", new
                                        {
                                            name = "CaseNumber",
                                            controller = controller,
                                            area = area,
                                            action = "GetTrademarkPicklistData",
                                            enablePaging = enableComboPaging,
                                            data = $"{{parentId: '{parentId}'}}",
                                            pagingSize = comboPagingSize,
                                            OnChange = "getRelatedTrademarkSources"
                                        })

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group float-label">
                                    <label>@TmkLocalizer["Country"]</label>
                                    @await Component.InvokeAsync("ComboBox", new
                                        {
                                            name = "Country",
                                            controller = controller,
                                            area = area,
                                            action = "GetTrademarkPicklistData",
                                            enablePaging = enableComboPaging,
                                            data = $"{{parentId: '{parentId}'}}",
                                            pagingSize = comboPagingSize,
                                            OnChange = "getRelatedTrademarkSources"
                                        })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group float-label">
                                    <label>@TmkLocalizer["Sub Case"]</label>
                                    @await Component.InvokeAsync("ComboBox", new
                                        {
                                            name = "SubCase",
                                            controller = controller,
                                            area = area,
                                            action = "GetTrademarkPicklistData",
                                            enablePaging = enableComboPaging,
                                            data = $"{{parentId: '{parentId}'}}",
                                            pagingSize = comboPagingSize,
                                            OnChange = "getRelatedTrademarkSources"
                                        })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group float-label">
                                    <label>@TmkLocalizer["Application No."]</label>
                                    @await Component.InvokeAsync("ComboBox", new
                                        {
                                            name = "AppNumber",
                                            controller = controller,
                                            area = area,
                                            action = "GetTrademarkPicklistData",
                                            enablePaging = enableComboPaging,
                                            data = $"{{parentId: '{parentId}'}}",
                                            pagingSize = comboPagingSize,
                                            OnChange = "getRelatedTrademarkSources"
                                        })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group float-label">
                                    <label>@TmkLocalizer["Registration No."]</label>
                                    @await Component.InvokeAsync("ComboBox", new
                                        {
                                            name = "RegNumber",
                                            controller = controller,
                                            area = area,
                                            action = "GetTrademarkPicklistData",
                                            enablePaging = enableComboPaging,
                                            data = $"{{parentId: '{parentId}'}}",
                                            pagingSize = comboPagingSize,
                                            OnChange = "getRelatedTrademarkSources"
                                        })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group float-label">
                                    <label>@TmkLocalizer["Classes"]</label>
                                    @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                               {
                                   Name = "ClassId",
                                   Controller = controller,
                                   Area = area,
                                   Action = "GetClassList",
                                   DataTextProperty = "ClassDesc",
                                   DataValueProperty = "ClassId",
                                   ItemTemplate = goodsTemplate,
                                   Screen = screen,
                                   OnChange = "getRelatedTrademarkSources"
                               })
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group float-label">
                                    <label>@TmkLocalizer["Goods"]</label>
                                    @(Html.Kendo()
                                        .TextBox()
                                        .Name("Goods")
                                        .HtmlAttributes(new { style = "width:100%;", id = $"Goods_{screen};" })
                                        .Events(e => e.Change("getRelatedTrademarkSources"))
                                        )
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group float-label">
                                    <label>@TmkLocalizer["Trademark"]</label>
                                    @await Component.InvokeAsync("ComboBox", new
                                        {
                                            name = "TrademarkName",
                                            controller = controller,
                                            area = area,
                                            action = "GetTrademarkPicklistData",
                                            enablePaging = enableComboPaging,
                                            data = $"{{parentId: '{parentId}'}}",
                                            pagingSize = comboPagingSize,
                                            OnChange = "getRelatedTrademarkSources"
                                        })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="grid-options">
                                    <div class="show-active-only">
                                        <label class="option-name" for="showActiveOnly">@Localizer["Show Active Cases Only"]</label>
                                        <span>
                                            <label class="toggle-switch">
                                                <input id="showActiveOnly" type="checkbox" class="toggle-option" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <div>
                <div class="container-fluid"
                     data-update-success="@Localizer["Related Trademark has been saved successfully."]"
                     data-updates-success="@Localizer["Related Trademarks have been saved successfully."]">

                    @(Html.Kendo().Grid<TrademarkSelectionViewModel>
                        ()
                        .Name("relatedTrademarkSelectionGrid")
                        .Columns(columns =>
                        {
                            columns.Bound(r => r.CaseNumber).Title(Localizer[caseNumberLabel]).Filterable(ftb => ftb.Multi(true).Search(true)).HtmlAttributes(new { @class = "nowrap" });
                            columns.Bound(r => r.Country).Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Bound(r => r.SubCase).Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Bound(r => r.CaseType).Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Bound(r => r.TrademarkName)
                            .ClientTemplate("<div class='col' style='padding-right: 0; padding-left: 0;'><div class='tmkNameSearchResult-collapsible'>#: TrademarkName#</div></div>")
                            .Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Bound(r => r.AppNumber).Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Bound(r => r.RegNumber).Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Bound(r => r.Classes).Width(100)
                            .ClientTemplate("<div class='col' style='padding-right: 0; padding-left: 0;'><div class='tmkNameSearchResult-collapsible'>#: Classes#</div></div>")
                            .Filterable(ftb => ftb.Multi(true).Search(true));
                            columns.Select().Width(50);
                        })
                        .Pageable(p => p.Responsive(false))
                        .Filterable(ftb => ftb.Enabled(true))
                        .Sortable(sort => sort.AllowUnsort(false))
                        .Events(ev => ev.Change($"function() {{relatedTrademarkSelectionChange('{@dialogName}');}}"))
                        .PersistSelection()
                        .DataSource(dataSource => dataSource
                        .Ajax()
                        .Model(model => model.Id(r => r.TmkId))
                        .PageSize(10)
                        .Read(read => read.Action("RelatedTrademarkSelectionRead", "MatterTrademarks")
                        .Data($"function() {{return getRrelatedTrademarkParam('{dialogName}')}}"))
                        .ServerOperation(false)
                        )
                        .Events(events =>
                        {
                            events.DataBound("ongmMatterTrademarksGridDataBound");
                        })
                        .HtmlAttributes(new { @class = "kendo-Grid" })
                        )
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Cancel"]</button>
                <button type="button" class="btn btn-primary" disabled id="save" data-url="@Url.Action("RelatedTrademarksEditSave", "MatterTrademarks")"><i class="fa fa-save pr-2"></i>@Localizer["Save"]</button>
            </div>
        </div>
    </div>
    <style>
        button {
            cursor: not-allowed;
        }

        .k-grid .nowrap {
            white-space: nowrap;
        }
    </style>
    </style>
</div>
 *@