@model GridOptions
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var detailPagePermission = Model.Permission ?? (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    var pageName = ViewBag.ActivePage;
    var gridName = $"licenseesGrid_{ViewData["PageId"]}";
    var id = Model.ParentId;
    bool addMode = id == 0;

    var dataRouteValues = new Microsoft.AspNetCore.Routing.RouteValueDictionary(new { parentId = Model.ParentId });
    if (!string.IsNullOrEmpty(Model.Area))
    {
        dataRouteValues.Add("area", Model.Area);
    }

    var system = Model.ParentScreen == "CountryApp" ? SystemType.Patent : SystemType.Trademark;
    var screenCode = "lce";
    var downloadUrl = Url.Action("ViewImage", "FileViewer", new { Area = "", system = system, screenCode = screenCode, key = Model.ParentId, fileType = ImageHelper.CPiSavedFileType.Licensees });
    var downloadLink = $"<a href='{downloadUrl}&thumbnailFile=#=DocFilePath#' title='{SharedLocalizer["Download?"]}' target='_blank'>#=CurrentDocFile#</a>";

    if (Model.Permission.CanEditRecord)
    {
        downloadLink = $"{downloadLink}<a href='##' class='pl-3 delete-file-link' data-id='#:LicenseeId#' title='{SharedLocalizer["Delete file"].ToString()}'><i class='fal fa-times-circle'></i></a>";
    }

    var downloadTemplate = "#if(CurrentDocFile){#" + downloadLink + " #}else{##}#";
    var uploadTemplate = "#if(LicenseeId > 0){# <a href='##' class='upload-link' data-id='#:LicenseeId#' data-file='#:FileId#'><i class='fal fa-file-upload' style='font-size:1.5rem;'></i></a> #}else{# #}#";

    if (!Model.Permission.CanEditRecord)
    {
        uploadTemplate = "<span></span>";
    }
}

<div data-upload-msg="@SharedLocalizer["Uploading a new file will overwrite the previous one. \n Do you want to continue?"]"
     data-upload-title="@SharedLocalizer["Please Confirm"]"
     data-delete-file-msg="@SharedLocalizer["Are you sure you want to delete this uploaded file?"]"
     data-upload-success="@SharedLocalizer["File uploaded successfully."]"
     data-viewer-url="@Url.Action("ZoomLicenseeLink", "DocViewer", new { Area = "Shared",system=system})" class="grid-container">

@(Html.Kendo().Grid<LicenseeViewModel>()
                .Name(gridName)
                .Columns(columns =>
                {
                    columns.Bound(l => l.Licensor)
                            .EditorTemplateName("ComboBox")
                            .EditorViewData(new { action = "GetPicklistData", controller = Model.Controller, area = Model.Area, dataValueField= "Licensor", property = "Licensor",limitToList=false })
                            .Width(300)
                            .Editable($"{pageName}.isGridColumnEditable")
                            .HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null);
                    columns.Bound(l => l.Licensee)
                            .EditorTemplateName("ComboBox")
                            .EditorViewData(new { action = "GetPicklistData", controller = Model.Controller, area = Model.Area, dataValueField = "Licensee", property = "Licensee", limitToList = false })
                            .Width(300)
                            .Editable($"{pageName}.isGridColumnEditable")
                            .HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null);
                    columns.Bound(l => l.LicenseNo).EditorTemplateName("String").Width(200)
                            .Editable($"{pageName}.isGridColumnEditable")
                            .HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null);
                    columns.Bound(l => l.LicenseStart).Format("{0:dd-MMM-yyyy}").Width(150)
                            .Editable($"{pageName}.isGridColumnEditable")
                            .EditorTemplateName("Date")
                            .HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null);
                    columns.Bound(l => l.LicenseExpire).Format("{0:dd-MMM-yyyy}").Width(150)
                            .Editable($"{pageName}.isGridColumnEditable")
                            .EditorTemplateName("Date")
                            .HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null);
                    columns.Bound(l => l.LicenseType).ClientTemplate("#=LicenseType !=null ? kendo.htmlEncode(LicenseType) : ''#").Title(SharedLocalizer["Type"]).EditorTemplateName("DropdownList")
                             .EditorViewData(new
                              {
                                  data = new string[] { "Exclusive", "Non-Exclusive" }
                              }).Width(150)                              
                            .HtmlAttributes(fullModify ? new { @class = "editable-cell" } : null);
                    columns.Bound(a => a.Remarks)
            .Visible(!detailPagePermission.HasLimitedRead)
                            .EditorTemplateName("TextArea")
                            .Editable($"{pageName}.isGridColumnEditable")
                            .HtmlAttributes(fullModify || detailPagePermission.CanEditRemarksOnly ? new { @class = "editable-cell pre-wrap" } : new { @class = "pre-wrap" });
                    columns.Bound(r => r.CurrentDocFile).ClientTemplate(downloadTemplate).Width(250);
                    columns.Command(command =>
                    {
                    command.Custom("View").Click("function(e) {" + pageName+".handleGridDocViewer(e,this)}").IconClass("k-icon fal fa-search-plus")
                                        .Visible("function(dataItem) { return dataItem.DocFilePath !== null && dataItem.DocFilePath !== ''; }")
                                    .HtmlAttributes(new { style = "width:80px;" });
                                    }).Width(10);
                                    columns.Bound(r => r.DocFilePath).Title(SharedLocalizer["Upload Doc"]).ClientTemplate(uploadTemplate);
                    columns.Command(command =>
                    {
                        if (detailPagePermission.CanDeleteRecord)
                            command.Custom("Delete")
                                    .Click("function(e) {" + pageName + ".deleteGridRow(e,this)}")
                                    .IconClass("k-icon fal fa-trash-alt")
                                    .Text($"<span class='grid-action-label'>{SharedLocalizer["Delete"]}</span>")
                                    .HtmlAttributes(new { @class = "grid-action" });
                    }).Width(10);
                })
                .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                .ToolBar(toolbar =>
                {
                    if (detailPagePermission.CanAddRecord & !addMode)
                    {
                        toolbar.Create().IconClass("k-icon fal fa-plus").Text(SharedLocalizer["Add"]).HtmlAttributes(new { @class = "grid-action" });
                    }
                    if (detailPagePermission.CanEditRecord || detailPagePermission.CanEditRemarksOnly)
                    {
                        toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(SharedLocalizer["Save"]).HtmlAttributes(new { @class = "d-none" });
                        toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(SharedLocalizer["Cancel"]).HtmlAttributes(new { @class = "d-none" });
                    }
                })
                .Editable(editable => editable.Enabled(detailPagePermission.CanEditRecord || detailPagePermission.CanEditRemarksOnly)
                            .Mode(GridEditMode.InCell).
                            ConfirmDelete(@SharedLocalizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
                .Sortable(sort => sort.AllowUnsort(false))
        .Pageable(page => page.Responsive(false))
                .AutoBind(false)
                .Events(e=> e.DataBound($"{pageName}.licenseeRefreshIndicator"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Batch(true)
                    .PageSize(settings.SubFormPageSize)
                    //.Batch(detailPagePermission.CanEditRecord && !detailPagePermission.CanEditRemarksOnly)
                    .ServerOperation(false)
                    .Model(model =>
                    {
                        model.Id(l => l.LicenseeId );
                        model.Field(l => l.Licensor).Editable(fullModify);
                        model.Field(l => l.Licensee).Editable(fullModify);
                        model.Field(l => l.LicenseNo).Editable(fullModify);
                        model.Field(l => l.LicenseStart).Editable(fullModify);
                        model.Field(l => l.LicenseExpire).Editable(fullModify);
                        model.Field(l => l.DocFilePath).Editable(false);
                        model.Field(l => l.CurrentDocFile).Editable(false);
                        model.Field(l => l.Remarks).Editable(detailPagePermission.CanEditRecord || detailPagePermission.CanEditRemarksOnly);
                    })
                    .Read(create => create.Action("LicenseesRead", Model.Controller, dataRouteValues))
                    .Update(create => create.Action(detailPagePermission.CanEditRemarksOnly ? "LicenseesUpdateRemarksOnly": "LicenseesUpdate", Model.Controller, dataRouteValues))
                    .Destroy(create => create.Action("LicenseeDelete", Model.Controller, dataRouteValues))
                    .Events(events =>
                    {
                        events.Error("pageHelper.onGridError");
                    })
                )
                .HtmlAttributes(new { @class = "kendo-Grid" })
        )
</div>    