@model ActionGridOptions
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject ISystemSettings<DefaultSetting> Settings
@inject IAuthorizationService AuthorizationService
@{
    var settings = await Settings.GetSetting();
    var id = Model.ParentId;
    var pageName = ViewBag.ActivePage;
    var detailPagePermission = Model.ActionPagePermission == null ? (DetailPagePermission)ViewData["PagePermission"] : Model.ActionPagePermission;
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    var isParentActionDue = Model.ComputerGenerated != null;
    var gridName = $"actionsGrid_{ViewData["PageId"]}";

    var actionDueController = Model.Controller.ToLower().EndsWith("inv") ? "ActionDueInv" : "ActionDue";
    var actionDueDateController = Model.Controller.ToLower().EndsWith("inv") ? "ActionDueDateInv" : "ActionDueDate";

    var canAddSoftDocket = false;
    var canModifySoftDocket = false;

    if (settings.IsSoftDocketOn)
    {
        var canAddSoftDocketPolicy = "";
        var canModifySoftDocketPolicy = "";

        if (string.Equals(Model.Area, SystemType.Patent, StringComparison.OrdinalIgnoreCase))
        {
            canAddSoftDocketPolicy = PatentAuthorizationPolicy.SoftDocketAdd;
            canModifySoftDocketPolicy = PatentAuthorizationPolicy.SoftDocketModify;
        }
        else if (string.Equals(Model.Area, SystemType.Trademark, StringComparison.OrdinalIgnoreCase))
        {
            canAddSoftDocketPolicy = TrademarkAuthorizationPolicy.SoftDocketAdd;
            canModifySoftDocketPolicy = TrademarkAuthorizationPolicy.SoftDocketModify;
        }
        else if (string.Equals(Model.Area, SystemType.GeneralMatter, StringComparison.OrdinalIgnoreCase))
        {
            canAddSoftDocketPolicy = GeneralMatterAuthorizationPolicy.SoftDocketAdd;
            canModifySoftDocketPolicy = GeneralMatterAuthorizationPolicy.SoftDocketModify;
        }

        if (!string.IsNullOrEmpty(canAddSoftDocketPolicy) && Model.ResponsibleID == null)
            canAddSoftDocket = (await AuthorizationService.AuthorizeAsync(User, canAddSoftDocketPolicy)).Succeeded;

        if (!string.IsNullOrEmpty(canModifySoftDocketPolicy) && Model.ResponsibleID != null)
            canModifySoftDocket = (await AuthorizationService.AuthorizeAsync(User, Model.ResponsibleID, canModifySoftDocketPolicy)).Succeeded;
    }

    var canRequestDocket = false;
    if (settings.IsDocketRequestOn)
    {
        var canRequestDocketPolicy = "";

        if (string.Equals(Model.Area, SystemType.Patent, StringComparison.OrdinalIgnoreCase))
        {
            canRequestDocketPolicy = PatentAuthorizationPolicy.CanRequestDocket;
        }
        else if (string.Equals(Model.Area, SystemType.Trademark, StringComparison.OrdinalIgnoreCase))
        {
            canRequestDocketPolicy = TrademarkAuthorizationPolicy.CanRequestDocket;
        }
        else if (string.Equals(Model.Area, SystemType.GeneralMatter, StringComparison.OrdinalIgnoreCase))
        {
            canRequestDocketPolicy = GeneralMatterAuthorizationPolicy.CanRequestDocket;
        }

        if (!string.IsNullOrEmpty(canRequestDocketPolicy) && Model.ResponsibleID == null)
            canRequestDocket = (await AuthorizationService.AuthorizeAsync(User, canRequestDocketPolicy)).Succeeded;
    }

    var softDocketEditableFunction = $"function(data) {{return ({fullModify.ToString().ToLower()} || (data.Indicator.toLowerCase() == 'soft docket' && {canModifySoftDocket.ToString().ToLower()})) && {pageName}.isGridColumnEditable(data);}}";

    var detailsUrl = Url.Action("DetailFromMain", actionDueController, new { id = "#: ActId#" });
    var detailsLinkTemplate = isParentActionDue ? "#: ActionDue#" : $"<a href={detailsUrl} class='details-link action-link' >#: ActionDue#</a>";
    //var dateTakenEditableFunction = Model.DateTakenEditableFunction == "" ? $"{pageName}.isGridColumnEditable" : Model.DateTakenEditableFunction;
    var dateTakenEditableFunction = String.IsNullOrEmpty(Model.DateTakenEditableFunction) ? softDocketEditableFunction : Model.DateTakenEditableFunction;
    //var toolbarTemplate = $"<div class='row'><nav class='nav nav-left col-6' style='padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px'>&nbsp&nbsp&nbsp&nbsp&nbsp";
    //toolbarTemplate += detailPagePermission.CanAddRecord ? (!isParentActionDue?$"<a class='k-button k-button-icontext grid-action details-link' href='{Url.Action("DetailLink", "ActionDue", new { id = 0, parentId = id })}'><span class='k-icon fal fa-plus'></span>{SharedLocalizer["Add"]}</a>":(!(Model.ComputerGenerated ?? false)?$"<a class='k-button k-button-icontext k-grid-add grid-action' href='\\#'><span class='k-icon fal fa-plus'></span>{SharedLocalizer["Add"]}</a>":"")):"";
    //toolbarTemplate += detailPagePermission.CanEditRecord || detailPagePermission.CanEditRemarksOnly ? $"<a class='k-button k-button-icontext k-grid-Save d-none' href='\\#'><span class='k-icon fal fa-save'></span>{SharedLocalizer["Save"]}</a><a class='k-button k-button-icontext k-grid-Cancel d-none' href='\\#'><span class='k-icon fal fa-times'></span>{SharedLocalizer["Cancel"]}</a></nav>":"";
    //toolbarTemplate += detailPagePermission.CanAddRecord ? $"<nav class='nav nav-right col-6' " :$"<nav class='nav nav-right col-12' ";
    //toolbarTemplate += $"style='padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px'><a class='k-button k-button-icontext k-grid-excel no-results-hide' href='\\#'><i class='fal fa-file-excel pr-2'></i>{SharedLocalizer["Export to Excel"]}</a>&nbsp&nbsp&nbsp&nbsp&nbsp</nav></div>";
    var toolbarTemplate = $"<nav class='nav nav-left'>";
    toolbarTemplate += detailPagePermission.CanAddRecord ? (!isParentActionDue?$"<a class='k-button k-button-icontext grid-action details-link' href='{Url.Action("DetailLink", actionDueController, new { id = 0, parentId = id })}'><span class='k-icon fal fa-plus'></span>{SharedLocalizer["Add"]}</a>":(!(Model.ComputerGenerated ?? false)?$"<a class='k-button k-button-icontext k-grid-add grid-action' href='\\#'><span class='k-icon fal fa-plus'></span>{SharedLocalizer["Add"]}</a>":"")):"";
    if (!isParentActionDue && settings.IsSoftDocketOn && canAddSoftDocket)
    {
        toolbarTemplate = toolbarTemplate + $"<a class='k-button k-button-icontext grid-action soft-docket-entry' data-url='{Url.Action("SoftDocketEntry", Model.Controller.ToLower().EndsWith("inv") ? "ActionDueInv" : "ActionDue", new { Area = Model.Area, parentId = id })}'><span class='k-icon fal fa-file-plus'></span>{SharedLocalizer["Add Soft Docket"]}</a>";
    }
    if (!isParentActionDue && settings.IsDocketRequestOn && Model.IsDocumentVerificationOn && canRequestDocket)
    {
        toolbarTemplate = toolbarTemplate + $"<a class='k-button k-button-icontext grid-action request-docket-entry' data-url='{Url.Action("DocketRequestEntry", Model.Controller.ToLower().EndsWith("inv") ? "ActionDueInv" : "ActionDue", new { Area = Model.Area, parentId = id })}'><span class='k-icon fal fa-tasks'></span>{SharedLocalizer["Request Docket"]}<span class='request-docket-count badge badge-pill badge-info' data-history-url='{Model.RequestDocketHistoryUrl}'>{Model.RequestDocketPendingCount}</span></a>";
    }
    toolbarTemplate += $"<a class='k-button k-button-icontext k-grid-excel no-results-hide' href='\\#'><i class='fal fa-file-excel pr-2'></i>{SharedLocalizer["Export to Excel"]}</a>";
    toolbarTemplate += detailPagePermission.CanEditRecord || detailPagePermission.CanEditRemarksOnly ? $"<a class='k-button k-button-icontext k-grid-Save d-none' href='\\#'><span class='k-icon fal fa-save'></span>{SharedLocalizer["Save"]}</a><a class='k-button k-button-icontext k-grid-Cancel d-none' href='\\#'><span class='k-icon fal fa-times'></span>{SharedLocalizer["Cancel"]}</a>":"";
    toolbarTemplate += "</nav>";

    var isDelegationOn = settings.IsDelegationOn;
    var updateDateTakenUrl = Url.Action("UpdateDateTaken", actionDueDateController);
    var dueDateExtensionSettingUrl = Url.Action("GetDueDateExtensionSetting", actionDueDateController);
    var dueDateExtendedTemplate = $"&nbsp;<a class='extended-marker fal fa-calendar-clock #if(!DueDateExtended) {{#d-none#}}#' title='{SharedLocalizer["Due date extended"]}'></a>";
    
}

@if (isParentActionDue)
{
    <script>       
        @(gridName)_gridReadData = function() {
            return { parentId: @id };
        };
        $(document).ready(function () { setupSoftDocket(); setupDocketRequest();});
    </script>
}
else
{
    <script>       
        @(gridName)_gridReadData = function() {
            return { parentId: @id, 
                     outstandingOnly: $("#@(ViewData["PageId"])").find(".grid-options #showOutstandingActionsOnly").is(':checked'), 
                     showSoftDockets: $("#@(ViewData["PageId"])").find(".grid-options #showSoftDocketsActions").is(':checked'), 
                   };
        };

        $(document).ready(function () {
            $("#@(ViewData["PageId"])").find(".grid-options #showOutstandingActionsOnly").change(function () {
                var grid = $("#@(gridName)").data("kendoGrid");
                var outstandingOnly = $(this).is(':checked');
                @(pageName).showOutstandingActionsOnly = outstandingOnly;
                @*ServerOperation is false. Call both page(1) and read to reset to page 1 before refreshing data.*@
                @*page(1) will call GridRead if there is no data resulting to two GridRead calls*@
                if (grid.dataSource.data().length > 0) 
                    grid.dataSource.page(1);

                grid.dataSource.read().then(() => {
                    @*refresh grid filter multi checkboxes*@
                    var ftbs = $(grid.element).find(".k-filterable");
                    if (ftbs != null) {
                        for (i = 0; i < ftbs.length; i++) {
                            var fmc = $(ftbs[i]).data("kendoFilterMultiCheck");
         
                            if (fmc != null) {
                                fmc._init();
                            }
                        }
                    }
                });
            });

              $("#@(ViewData["PageId"])").find(".grid-options #showSoftDocketsActions").change(function () {
                var grid = $("#@(gridName)").data("kendoGrid");
                var showSoftDocketsActions = $(this).is(':checked');
                @(pageName).showSoftDocketsActions = showSoftDocketsActions;
                if (grid.dataSource.data().length > 0) 
                    grid.dataSource.page(1);

                grid.dataSource.read().then(() => {
                    var ftbs = $(grid.element).find(".k-filterable");
                    if (ftbs != null) {
                        for (i = 0; i < ftbs.length; i++) {
                            var fmc = $(ftbs[i]).data("kendoFilterMultiCheck");
         
                            if (fmc != null) {
                                fmc._init();
                            }
                        }
                    }
                });
            });
            setupSoftDocket();
            setupDocketRequest();
        })
    </script>
    <div class="grid-options">
        <div class="show-outstanding-actions pr-5">
            <label class="option-name" for="showOutstandingActionsOnly">@SharedLocalizer["Show Outstanding Actions Only"]</label>
            <span>
                <label class="toggle-switch">
                    <input id="showOutstandingActionsOnly" type="checkbox" class="toggle-option">
                    <span class="slider round"></span>
                </label>
            </span>
        </div>
        @if (settings.IsSoftDocketOn)
        {
        <div class="show-softdockets-actions">
            <label class="option-name" for="showSoftDocketsActions">@SharedLocalizer["Show Soft Dockets"]</label>
            <span>
                <label class="toggle-switch">
                    <input id="showSoftDocketsActions" type="checkbox" class="toggle-option">
                    <span class="slider round"></span>
                </label>
            </span>
        </div>    
        }
    </div>
}

<script>
    function dueDateGridDataBound(e) {
        var dueDateIndex = e.sender.wrapper.find(".k-grid-header [data-field=" + "DueDate" + "]").index();
        var dateTakenIndex = e.sender.wrapper.find(".k-grid-header [data-field=" + "DateTaken" + "]").index();
        var indicatorIndex = e.sender.wrapper.find(".k-grid-header [data-field=" + "Indicator" + "]").index();

        var dataItems = e.sender.dataSource.view();
        for (var j = 0; j < dataItems.length; j++) {
            var indicator = dataItems[j].get("Indicator");

            var row = e.sender.tbody.find("[data-uid='" + dataItems[j].uid + "']");
            var dueDateCell = row.children().eq(dueDateIndex);
            var dateTakenCell = row.children().eq(dateTakenIndex);
            var indicatorCell = row.children().eq(indicatorIndex);

            if (!e.sender.columns[dueDateIndex].editable(dataItems[j])) {
                dueDateCell.removeClass("editable-cell");
            }

            if (indicator.toLowerCase() === "soft docket") {
                indicatorCell.removeClass("editable-cell");
            }

            if (indicator.toLowerCase() === "ren/due" || !e.sender.columns[dateTakenIndex].editable(dataItems[j])) {
                dateTakenCell.removeClass("editable-cell");
                row.find(".k-grid-CurrentDate").remove();
            }

            var delegateCell = row.children("td.gridcell-delegate");
            if (delegateCell && dataItems[j].DateTaken) {
                 delegateCell.remove();
            }
            row.addClass(`${IndicatorToClassName(indicator)}`);

            if (dataItems[j].IsRMSInstructable)
                row.find(".show-renewal-docs").show();
            else
                row.find(".show-renewal-docs").hide();

            if (dataItems[j].IsFFInstructable)
                row.find(".show-foreign-filing-docs").show();
            else
                row.find(".show-foreign-filing-docs").hide();

            if (dataItems[j].DateTaken || (dataItems[j].ComputerGenerated && dataItems[j].Indicator !='Reminder'))
                row.find(".k-grid-ExtendDueDate").hide();
            else
                row.find(".k-grid-ExtendDueDate").show();
        }

        var currentGrid;
        if ($("#@gridName").length > 0) currentGrid = $("#@gridName");
        else if (e.sender.wrapper.length > 0) currentGrid = e.sender.wrapper;

        document.querySelectorAll('.action-calendar').forEach(element => {
            if (currentGrid) {
                var currentDataItem;
                try{
                    currentDataItem = currentGrid.data("kendoGrid").dataItem($(element).closest("tr"));
                }catch{

                }
                if (currentDataItem && currentDataItem.DueDate != null) {
                    const config = {
                    name: currentDataItem.ActionDue + " " + currentDataItem.CaseInfo,
                    description: currentDataItem.Title,
                    startDate: pageHelper.cpiDateFormatToSave(currentDataItem.DueDate),
                    endDate: pageHelper.cpiDateFormatToSave(new Date(currentDataItem.DueDate.getTime() + (3600 * 1000 * 24))),
                    options: ["Google", "Outlook.com", "iCal"],
                    trigger: "click",
                    "timeZone":Intl.DateTimeFormat().resolvedOptions().timeZone,
                    iCalFileName: currentDataItem.ActionDue,
                    };
                    element.addEventListener('click', () => { 
                        atcb_action(config, element); 
                        const dropdown = $(".atcb-dropdown"); 
                        const left = dropdown.css("left");
                        const newLeft = parseInt(left.replace("px", "")) - 100;
                        dropdown.css("left", newLeft + "px"); 
                    });

                }
            }
        });

        document.querySelectorAll('.k-grid-Delegate').forEach(element => {
            if (currentGrid) {
                var currentDataItem;
                try{
                    currentDataItem = currentGrid.data("kendoGrid").dataItem($(element).closest("tr"));
                }catch{

                }   
                if (currentDataItem && currentDataItem.DateTaken != null) {
                    element.classList.add("d-none");
                }
            }
        });

        document.querySelectorAll('.delegate-icon').forEach(element => {
            if (currentGrid) {
                var currentDataItem;
                try{
                    currentDataItem = currentGrid.data("kendoGrid").dataItem($(element).closest("tr"));
                }catch{

                }
                if (currentDataItem && currentDataItem.HasDelegations) {
                    element.classList.remove("fa-user");
                    element.classList.add("fa-users");
                }
            }
        });

        //for viewing in action due screen
        const grid = e.sender;
        const dataSource = grid.dataSource;
        const data = dataSource.data();
        const sort = dataSource.sort();
        const query = new kendo.data.Query(data);
        const sortedData = query.sort(sort).data;
        @(pageName).actionActIds = [...new Set(sortedData.map(e => e.ActId))];
    }

    function girdDelegationIconCheck(DDId, hasDelegations) {
        document.querySelectorAll('.delegate-icon').forEach(element => {
            var currentDataItem = $("#@gridName").data("kendoGrid").dataItem($(element).closest("tr"));
            if (currentDataItem.DDId == DDId) {
                if (hasDelegations) {
                    if (element.classList.contains("fa-user")) {
                        element.classList.remove("fa-user");
                        element.classList.add("fa-users");
                    }
                } else {
                    if (element.classList.contains("fa-users")) {
                        element.classList.remove("fa-users");
                        element.classList.add("fa-user");
                    }
                }
            }
        });
    }

    function DueDateGridRead() {
        var grid = $("#@(gridName)").data("kendoGrid");
                var outstandingOnly = $(this).is(':checked');
                @(pageName).showOutstandingActionsOnly = outstandingOnly;
                @*ServerOperation is false. Call both page(1) and read to reset to page 1 before refreshing data.*@
                grid.dataSource.page(1);
                grid.dataSource.read();
    }

    function dueDateGridSetDateTaken(e,grid) {
        const row = $(e.currentTarget).closest("tr");
        const dataItem = grid.dataItem(row);
        
        const currentDate = new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate());
        
        const url = "@(updateDateTakenUrl)";
        $.post(url, {ddId: dataItem.DDId, dateTaken: pageHelper.cpiDateFormatToSave(currentDate)})
              .done((result) => {
                   dataItem.DateTaken = currentDate;
                   $(row).find(".data-taken-field").html(kendo.toString(currentDate,'dd-MMM-yyyy'));

                   if (result) {
                       grid.dataSource.read().then(() => {
                            @(pageName).showCheckDocket(result);
                       });
                       @(pageName).updateRecordStamps();
                   }
              })
              .fail(function (error) {
            pageHelper.showErrors(error.responseText);
        });
        //dataItem.dirty=true;
        //$("#@(gridName)").addClass("dirty");
        //pageHelper.kendoGridDirtyHandler($("#@(gridName)"));

        //const entryForm = $(e.currentTarget).closest("form");
        //const entryFormInstance = (entryForm).cpiEntryForm({activePage: @(pageName)});
        //entryFormInstance.refreshGridDirtyStatus('@gridName',true);
    }

    function dueDateGridExtendDueDate(e,grid) {
        const row = $(e.currentTarget).closest("tr");
        const dataItem = grid.dataItem(row);

        const getSettingUrl = '@(dueDateExtensionSettingUrl)';
        $.get(getSettingUrl, {ddId: dataItem.DDId, parentId: dataItem.ParentId})
            .done((setting) => {
                const baseUrl = $("body").data("base-url");
                const url = `${baseUrl}/Shared/ExtendDueDate/ExtendDueDateEntry`;
                
                if (!setting) {
                    setting = {};
                    setting.DDId=dataItem.DDId;
                }
                setting.Area = '@(Model.Area)';
                setting.Controller = '@actionDueDateController';
                
                setting.CurrentDueDate = pageHelper.cpiDateFormatToSave(dataItem.DueDate);
                $.post(url, {setting:setting}).done((result) => {
                    if (result) {
                        $(".cpiContainerPopup").empty();
                        const popupContainer = $(".cpiContainerPopup").last();
                        popupContainer.html(result);
                        const dialog = $("#patExtendDueDateDialog");
                        dialog.modal("show");

                        let entryForm = dialog.find("form")[0];
                        entryForm = $(entryForm);
                        entryForm.cpiPopupEntryForm(
                            {
                                dialogContainer: dialog,
                                afterSubmit: (result) => {
                                    if (result.dueDate) {
                                        //let newDueDate = dialog.find("#NewDueDateJs").val();
                                        let newDueDate = dialog.find("#NewDueDate").val();
                                        newDueDate = new Date(newDueDate);
                                        const newDueDateFormatted = dialog.find("#NewDueDateFormatted").val();
                                        dataItem.DueDate = newDueDate;
                                        const ddtd = $(row).find(".data-dd-field");
                                        ddtd.find(".due-date").html(newDueDateFormatted);                
                                        ddtd.find(".extended-marker").removeClass("d-none");
                                    }
                                    if (result.nextRunDate) {
                                       pageHelper.showSuccess(result.message);
                                    }
                                    @(pageName).updateRecordStamps();
                                    dialog.modal("hide");
                                }
                            }
                        );
                    }
                }).fail(function (error) {
                    pageHelper.showErrors(error.responseText);
                });    

            
            })
            .fail(function (error) {
            pageHelper.showErrors(error.responseText);
            });



        
    }

    function setupSoftDocket() {
        var grid = $("#@(gridName)");
        grid.on("click", ".soft-docket-entry", function () {
            const ele = $(this);
            const url = ele.data("url");
            
            $.get(url).done((result) => {
            if (result) {
                const popupContainer = $(".site-content .popup").last();
                popupContainer.empty();

                popupContainer.html(result);
                const dialog = $("#softDocketDialog");
                dialog.modal("show");
                dialog.floatLabels();

                let entryForm = dialog.find("form")[0];
                entryForm = $(entryForm);
                entryForm.cpiPopupEntryForm(
                    {
                        dialogContainer: dialog,
                        afterSubmit: (result) => {
                            dialog.modal("hide");
                            grid.data("kendoGrid").dataSource.read();
                            if (result) {
                                if (result.message) {
                                    pageHelper.showSuccess(result.message);
                                }

                                if (result.emailWorkflows) {
                                    pageHelper.handleEmailWorkflow(result);
                                }
                              }   

                        }
                    }
                );
            }

        }).fail(function (error) {
            pageHelper.showErrors(error.responseText);
        });
        });
    }

    function setupDocketRequest() {
        var grid = $("#@(gridName)");
        grid.on("click", ".request-docket-entry", function () {
            const ele = $(this);
            const url = ele.data("url");

            $.get(url).done((result) => {
                if (result) {
                    const popupContainer = $(".site-content .popup").last();
                    popupContainer.empty();

                    popupContainer.html(result);
                    const dialog = $("#docketRequestDialog");
                    dialog.modal("show");
                    dialog.floatLabels();

                    let entryForm = dialog.find("form")[0];
                    entryForm = $(entryForm);
                    entryForm.cpiPopupEntryForm(
                        {
                            dialogContainer: dialog,
                            afterSubmit: (result) => {
                                dialog.modal("hide");
                                grid.data("kendoGrid").dataSource.read();
                                if (result) {
                                    if (result.message) {
                                        pageHelper.showSuccess(result.message);
                                        refreshRequestDocketPendingCount();
                                    }
                                    if (result.emailWorkflows) {
                                        pageHelper.handleEmailWorkflow(result);
                                    }
                                }

                            }
                        }
                    );
                }

            }).fail(function (error) {
                pageHelper.showErrors(error.responseText);
            });
        });


        grid.on("click", ".request-docket-count", function (e) {
            e.stopPropagation();

            const ele = $(this);
            const url = ele.data("history-url");

            $.get(url).done((result) => {
                if (result) {
                    const popupContainer = $(".site-content .popup").last();
                    popupContainer.empty();
                    popupContainer.html(result);
                    const dialog = $("#docketRequestHistoryDialog");
                    dialog.modal("show");
                }

            }).fail(function (error) {
                pageHelper.showErrors(error.responseText);
            });
        });

    }

    function showCommandButton(data, fullModify, canModifySoftDocket) {
        if (!fullModify && data.Indicator.toLowerCase() == 'soft docket')
            return canModifySoftDocket;

        return fullModify;
    }
</script>

        @(Html.Kendo().Grid<ActionDueViewModel>().Name(gridName)
                    .Columns(columns =>
                    {
                        if (!isParentActionDue)
                            columns.Bound(a => a.ActionType).Filterable(ftb => ftb.Multi(true).Search(true));

                        columns.Bound(a => a.ActionDue)
                                .ClientTemplate(detailsLinkTemplate)
                                .Editable($"{pageName}.isGridColumnEditable")
                                .Filterable(ftb => ftb.Multi(true).Search(true))
                                .HtmlAttributes(!(Model.ComputerGenerated ?? true) && fullModify ? new { @class = "editable-cell indicator-cell" } : new { @class = "indicator-cell" });
                        columns.Bound(a => a.DueDate)
                                .ClientTemplate($"<span class='due-date'>#= (DueDate == null) ? '' : kendo.toString(DueDate,'dd-MMM-yyyy')#</span>{dueDateExtendedTemplate}")
                                .EditorTemplateName("Date")
                                //.Editable($"{pageName}.isGridColumnEditable")
                                .Width(150)
                                //.HtmlAttributes(!(Model.ComputerGenerated ?? true) && fullModify ? new { @class = "editable-cell data-dd-field" } : new { @class = "data-dd-field" });
                                .Editable(softDocketEditableFunction)
                                .HtmlAttributes(!(Model.ComputerGenerated ?? true) && (fullModify || canModifySoftDocket) ? new { @class = "editable-cell data-dd-field" } : new { @class = "data-dd-field" });

                        columns.Command(command =>
                        {
                            if (fullModify || canModifySoftDocket)
                                command.Custom("ExtendDueDate")
                                        .Visible($"function(data) {{ return showCommandButton(data, {fullModify.ToString().ToLower()}, {canModifySoftDocket.ToString().ToLower()}); }}")
                                        .Click("function(e) {dueDateGridExtendDueDate(e,this);}")
                                        .IconClass("k-icon fal fa-calendar-plus")
                                        .Text(" ")
                                        .HtmlAttributes(new { @class = "grid-action", title = SharedLocalizer["Extend Due Date"] });
                        });

                        //columns.Bound(a => a.ComputerGenerated)
                        //        .ClientTemplate("#=ComputerGenerated ? '' : ' '#")
                        //        .ClientHeaderTemplate(" ")
                        //        .HtmlAttributes(new { @class = "computer-generated" })
                        //        .Sortable(false)
                        //        .Width(1);
                        columns.Bound(a => a.Indicator)
                                .EditorTemplateName("ComboBox")
                                .EditorViewData(new { action = "GetPicklistData", controller = "Indicator", dataValueField = "Indicator" })
                                //.Editable("function(e) { return ! e.ComputerGenerated; }")
                                //.Editable($"{pageName}.isGridColumnEditable")
                                .Editable($"function(data) {{return data.Indicator.toLowerCase() != 'soft docket' && {pageName}.isGridColumnEditable(data);}}")
                                .Filterable(ftb => ftb.Multi(true).Search(true))
                                .HtmlAttributes(!(Model.ComputerGenerated ?? true) && fullModify ? new { @class = "editable-cell indicator" } : new { @class = "indicator" });
                        columns.Bound(a => a.ResponsibleName).Visible(!isParentActionDue).Filterable(ftb => ftb.Multi(true).Search(true));
                        if(!Model.IsIDSAction){
                            columns.Bound(a => a.DueDateAttorneyName)
                                .EditorTemplateName("ComboBox")
                                .EditorViewData(new
                                {
                                    area = "Shared",
                                    action = "GetAllActiveAttorneyList",
                                    controller = "Attorney",
                                    dataValueField = "DueDateAttorneyName",
                                    dataTextField = "DueDateAttorneyName",
                                    listWidth=400,
                                    columns = new List<ComboBoxColumn> {
                                new ComboBoxColumn{Name="DueDateAttorneyCode",Header=SharedLocalizer["Attorney"]},
                                new ComboBoxColumn{Name="DueDateAttorneyName",Header=SharedLocalizer["Attorney Name"]}
                                },
                                   serverFiltering=false,
                                    onSelect = $"{pageName}.onDueDateAttorneyChange",
                                    onChange = $"{pageName}.clearDueDateAttorney",
                                    valuePrimitive = true
                                })
                                .Editable($"{pageName}.isGridColumnEditable")
                                .Filterable(ftb => ftb.Multi(true).Search(true))
                                .HtmlAttributes(fullModify ? new { @class = "editable-cell attorneyID" } : new { @class = "attorneyID" });
                        }
                        columns.Bound(a => a.DateTaken)
                                .EditorTemplateName("Date")
                                .ClientTemplate("#= (DateTaken == null) ? '' : kendo.toString(DateTaken,'dd-MMM-yyyy')#")
                                .Editable(dateTakenEditableFunction)
                                .Width(150)
                                //.HtmlAttributes(fullModify ? new { @class = "editable-cell data-taken-field" } : null);
                                .HtmlAttributes((fullModify || canModifySoftDocket) ? new { @class = "editable-cell data-taken-field" } : null);

                        columns.Command(command =>
                        {
                            if (fullModify || canModifySoftDocket)
                                command.Custom("CurrentDate")
                                        .Visible($"function(data) {{ return showCommandButton(data, {fullModify.ToString().ToLower()}, {canModifySoftDocket.ToString().ToLower()}); }}")
                                        .Click("function(e) {dueDateGridSetDateTaken(e,this);}")
                                        .IconClass("k-icon fal fa-calendar-check")
                                        .Text(" ")
                                        .HtmlAttributes(new { @class = "grid-action", title = SharedLocalizer["Set to current date"] });
                        });

                        columns.Bound(a => a.Remarks)
                                .Visible(!detailPagePermission.HasLimitedRead)
                                .EditorTemplateName("TextArea")
                                .Editable($"{pageName}.isGridColumnEditable")
                                .ClientTemplate("<span>#= Remarks == null ? '' : kendo.htmlEncode(Remarks)#</span>")
                                .HtmlAttributes(fullModify || detailPagePermission.CanEditRemarksOnly ? new { @class = "editable-cell hide-overflow" } : new { @class = "hide-overflow" });
                        columns.Command(command =>
                        {
                            if (detailPagePermission.CanDeleteRecord || canModifySoftDocket)
                                command.Custom("Delete")
                                        .Visible($"function(data) {{ return showCommandButton(data, {detailPagePermission.CanDeleteRecord.ToString().ToLower()}, {canModifySoftDocket.ToString().ToLower()}); }}")
                                        .Click("function(e) {" + pageName + ".deleteDueDate(e, this, '" + HtmlEncoder.Encode(SharedLocalizer["Action Due record will also be deleted."]) + "<br>" + HtmlEncoder.Encode(SharedLocalizer["Are you sure you want to delete this record?"]) + "')}")
                                        .IconClass("k-icon fal fa-trash-alt")
                                        .Text($"<span class='grid-action-label'>{SharedLocalizer["Delete"]}</span>")
                                        .HtmlAttributes(new { @class = "grid-action", title = SharedLocalizer["Delete"] });

                            if (isDelegationOn && !Model.IsIDSAction && ((detailPagePermission.CanEditRecord && !detailPagePermission.CanEditRemarksOnly) || User.GetUserType() == CPiUserType.Attorney || Model.IsUserDeDocketer))
                            {
                                    command.Custom("Delegate")
                                        .Click("function(e) {" + pageName + ".showDueDateDelegateScreen(e, this)}")
                                        .IconClass("delegate-icon k-icon fal fa-user")
                                        .Text($"<span class='grid-action-label'>{SharedLocalizer["Delegate"]}</span>")
                                        .HtmlAttributes(new { @class = "grid-action action-delegate gridcell-delegate", title = SharedLocalizer["Delegate"] });
                            }

                            command.Custom("Calendar")
                                        .IconClass("k-icon fal fa-calendar-alt")
                                        .Text($"<span class='grid-action-label'>{SharedLocalizer["Calendar"]}</span>")
                                        .HtmlAttributes(new { @class = "grid-action action-calendar", title = SharedLocalizer["Calendar"] });

                            
                            if (detailPagePermission.CanEmail)
                                command.Custom("Email")
                                        .Click("function(e) {" + pageName + ".showDueDateEmailScreen(e, this)}")
                                        .IconClass("k-icon fal fa-envelope")
                                        .Text($"<span class='grid-action-label'>{SharedLocalizer["Email"]}</span>")
                                        .HtmlAttributes(new { @class = "grid-action", title = SharedLocalizer["Email"] });
                                        
                            if (detailPagePermission.CanGenerateLetter)
                                command.Custom("Letter")
                                        .Click("function(e) {" + pageName + ".showLetterScreen(e, this)}")
                                        .IconClass("k-icon fal fa-file-word")
                                        .Text($"<span class='grid-action-label'>{SharedLocalizer["Letter"]}</span>")
                                        .HtmlAttributes(new { @class = "grid-action", title = SharedLocalizer["Letter"] });
                                        
                            command.Custom("RenewalDocs")
                                        .Click("function(e) { rmsPortfolioReviewPage.showActionDueDocsManagement(e, '" + gridName + "') }")
                                        .IconClass("k-icon fal fa-file-exclamation")
                                        .Text($"<span class='grid-action-label'>{SharedLocalizer["Renewal"]}</span>")
                                        .HtmlAttributes(new { @class = "grid-action show-renewal-docs", title = SharedLocalizer["Renewal"] });
                                        
                            command.Custom("ForeignFilingDocs")
                                        .Click("function(e) { ffPortfolioReviewPage.showActionDueDocsManagement(e, '" + gridName + "') }")
                                        .IconClass("k-icon fal fa-file-exclamation")
                                        .Text($"<span class='grid-action-label'>{SharedLocalizer["Foreign Filing"]}</span>")
                                        .HtmlAttributes(new { @class = "grid-action show-foreign-filing-docs", title = SharedLocalizer["Foreign Filing"], style = "display: none;" });
                        });
                    })
                    .Filterable()
                    .Pageable(page => page.Responsive(false).PageSizes(settings.SubFormPageSizeOptions).Refresh(true))
                    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                    .ToolBar(toolbar =>
                    {
    @*if (detailPagePermission.CanAddRecord)
                        {
                            if (!isParentActionDue)
                            {
                                toolbar.Custom().IconClass("k-icon fal fa-plus").Text(SharedLocalizer["Add"]).HtmlAttributes(new { @class = "grid-action details-link", href = Url.Action("DetailLink", "ActionDue", new { id = 0, parentId = id }) });
                            }
                            else if (!(Model.ComputerGenerated ?? false)) {
                                toolbar.Create().IconClass("k-icon fal fa-plus").Text(SharedLocalizer["Add"]).HtmlAttributes(new { @class = "grid-action" });
                            }
                        }

                        if (detailPagePermission.CanEditRecord || detailPagePermission.CanEditRemarksOnly)
                        {
                            toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(SharedLocalizer["Save"]).HtmlAttributes(new { @class = "d-none" });
                            toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(SharedLocalizer["Cancel"]).HtmlAttributes(new { @class = "d-none" });
                        }*@
                        toolbar.ClientTemplate(toolbarTemplate);
                    })
                    .Excel(excel => excel.FileName($"ExportList.xlsx").AllPages(true).ProxyURL(Url.Action("ExcelExportSave", Model.Controller)))
                    .Editable(editable => editable.Enabled(detailPagePermission.CanEditRecord || detailPagePermission.CanEditRemarksOnly || canModifySoftDocket)
                                .Mode(GridEditMode.InCell).
                                ConfirmDelete(@SharedLocalizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
                    .Sortable(sort => sort.AllowUnsort(false))
                    .AutoBind(false)
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Batch(true)
                        .PageSize(settings.SubFormPageSize)
                        .ServerOperation(false) //allow pending changes to persist when paging or sorting
                        .Model(model =>
                        {
                            model.Id(a => a.DDId);
                            model.Field(a => a.ActionType).Editable(false);
                            model.Field(a => a.ActionDue).Editable(!(Model.ComputerGenerated ?? true) && fullModify);
                            //model.Field(a => a.DueDate).Editable(!(Model.ComputerGenerated ?? true) && fullModify);
                            model.Field(a => a.DueDate).Editable(!(Model.ComputerGenerated ?? true) && (fullModify || canModifySoftDocket));
                            model.Field(a => a.Indicator).Editable(!(Model.ComputerGenerated ?? true) && fullModify);
                            //model.Field(a => a.DateTaken).Editable(fullModify);
                            model.Field(a => a.DateTaken).Editable(fullModify || canModifySoftDocket);
                            model.Field(a => a.Remarks).Editable(detailPagePermission.CanEditRecord || detailPagePermission.CanEditRemarksOnly);
                            model.Field(a => a.ResponsibleName).Editable(false);
                            model.Field(a => a.DueDateAttorneyName).Editable(fullModify);
                            model.Field(a => a.ComputerGenerated);
                        })
                        .Read(create => create.Action("GridRead", Model.Controller).Data($"{gridName}_gridReadData"))
                        .Sort(sort => sort.Add("DueDate").Ascending())
                        .Update(create => create.Action(detailPagePermission.CanEditRemarksOnly ? "GridUpdateRemarksOnly" : "GridUpdate", Model.Controller))
                        .Destroy(create => create.Action("GridDelete", Model.Controller))
                        .Events(events =>
                        {
                            events.Error("pageHelper.onGridError");
                        })
                    )
                    .Events(events => events.DataBound("dueDateGridDataBound"))
                    .Events(events => events.CellClose("function(e) {console.log(e)}"))
                    .HtmlAttributes(new { @class = "kendo-Grid" })
        )

<div class="due-tooltip-container">
@(
Html.Kendo().Tooltip()
    .Name($"{gridName}-DueTooltip")
    .For($"#{@gridName} table")
    .Filter("td.hide-overflow span")
    .Position(TooltipPosition.Top)
    .ContentTemplateId("popUpDueTooltip")
)
</div>

<script id="popUpDueTooltip" type="text/x-kendo-template">
    #var el = $(target);#
    #var data = el.text();#
    #if(data) {#
    <div class="due-tooltip">#:data#</div>
    #}#
</script>
        
<style>
    #@gridName .k-command-cell {
        text-align: right;
        padding:0px;
    }
        #@gridName .k-command-cell button {
            margin: 3px 3px 0px 0px!important;
            padding: 5px !important;
        }
            #@gridName .k-command-cell button .k-icon {
                overflow: unset;
            }
    #@gridName table td {
        white-space: nowrap;
    }
    #@gridName table td.hide-overflow {
        max-width: 200px;
        overflow: hidden;
    }
    #@gridName table td.hide-overflow span {
        cursor: pointer;
    }
    #@gridName table td .grid-action-label {
        display: none;
    }
    .due-tooltip {
        max-width: 300px;
    }
</style>

 @await Html.PartialAsync("_IndicatorStyle")