@model AMSInstructionPageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@{
    ViewData["ActivePage"] = "portfolioReviewPage";
    ViewData["IsSidebarPageLayout"] = true;

    string gridId = $"{Model.PageId}-Grid";
    string formId = $"{Model.PageId}-RefineSearch";
}
<form id="@formId" class="search-top" style="display:none;" data-no-results="@Localizer["Your search did not match any records."]" data-toggle-button-container=".page-main .sidebar-link" data-toggle-button-show="@Localizer["Show filters"]" data-toggle-button-hide="@Localizer["Hide filters"]">
    <ul class="nav nav-tabs refine-search" role="tablist">
        @await Html.PartialAsync("~/Areas/AMS/Views/PortfolioReview/_SearchNavItems.cshtml")
    </ul>
    @await Html.PartialAsync("~/Areas/AMS/Views/PortfolioReview/_SearchTabContent.cshtml", Model)
</form>
@await Html.PartialAsync("~/Areas/AMS/Views/Shared/_Tickler.cshtml", Model)

<script>
    $(document).ready(function () {
        if (typeof @(ViewData["ActivePage"]) != "undefined") {
            @(ViewData["ActivePage"]).initializeSidebarPage({
                container: "#@Model.PageId",
                url: "@Context.Request.PathBase@Context.Request.Path",
                title: "@Model.Title",
                grid: "#@gridId",
                form: "#@formId"
            });
        }
    });
</script>