@model DocumentViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@inject ISystemSettings<PatSetting> PatSettings
@inject ISystemSettings<TmkSetting> TmkSettings
@inject IAuthorizationService AuthService
@{
    var settings = await Settings.GetSetting();
    var patSettings = await PatSettings.GetSetting();
    var tmkSettings = await TmkSettings.GetSetting();

    var documentLink = (ViewData["DocumentLink"] ?? "").ToString();
    var documentLinkArray = (documentLink ?? "").Split("|");
    string systemType = "", screenCode = "", dataKey = "", dataKeyValue = "";
    if (documentLinkArray != null && documentLinkArray.Length > 3)
    {
        systemType = documentLinkArray[0];
        screenCode = documentLinkArray[1];
        dataKey = documentLinkArray[2];
        dataKeyValue = documentLinkArray[3];
    }

    bool showVerification = false;   //hide verification when uploading new RMS required document
    bool showPatVerification = false, showTmkVerification = false;
    if (!string.IsNullOrEmpty(screenCode))
    {
        showPatVerification = patSettings.IsDocumentVerificationOn && screenCode.ToUpper() == ScreenCode.Application.ToUpper() && dataKey.ToLower() == "appid";
        showTmkVerification = tmkSettings.IsDocumentVerificationOn && screenCode.ToUpper() == ScreenCode.Trademark.ToUpper() && dataKey.ToLower() == "tmkid";
    }
    showVerification = showPatVerification || showTmkVerification;

    var isEdit = Model.DocId > 0;
    var showTags = Model.DocId > 0; //hide tags when uploading new document
    var showName = Model.DocId > 0; //hide name and type when uploading new document
    var showOptions = true;         //hide options when uploading new RMS required document

    var fileSizeLimit = settings.FileUploadSizeLimit;

    var isNewDocVerification = (bool)(ViewData["IsNewDocVerification"] ?? false);
    if (isNewDocVerification) showVerification = false;

    var defaultRespDocketings = new List<string>();
    if (Model.DefaultRespDocketings != null && Model.DefaultRespDocketings.Any())
        defaultRespDocketings = Model.DefaultRespDocketings.Where(d => !string.IsNullOrEmpty(d)).ToList();

    var defaultRespReportings = new List<string>();
    if (Model.DefaultRespReportings != null && Model.DefaultRespReportings.Any())
        defaultRespReportings = Model.DefaultRespReportings.Where(d => !string.IsNullOrEmpty(d)).ToList();

    var fromParent = (bool)(ViewData["FromParent"] ?? false);
    var showDefault = Model.IsImage && !fromParent;

    var requiredDocs = (List<RequiredDocumentViewModel>?)(ViewData["RequiredDocs"]);
    if (requiredDocs != null)
    {
        showOptions = false;
        showVerification = false;
    }

    var isPatFullModify = (await AuthService.AuthorizeAsync(User, PatentAuthorizationPolicy.FullModify)).Succeeded && showPatVerification;
    var isTmkFullModify = (await AuthService.AuthorizeAsync(User, TrademarkAuthorizationPolicy.FullModify)).Succeeded && showTmkVerification;
    var isActFullModify = isPatFullModify || isTmkFullModify;

    string actionLink = "";
    if (!string.IsNullOrEmpty(systemType))
    {
        var areaStr = "";
        if (systemType.ToUpper() == SystemTypeCode.Patent.ToUpper())
            areaStr = "Patent";
        else if (systemType.ToUpper() == SystemTypeCode.Trademark.ToUpper())
            areaStr = "Trademark";

        actionLink = Url.Action("DetailLink", "ActionDue", new { area = areaStr, id = 0, parentId = dataKeyValue, actionTypeId = "actualValue" });
    };

    var activePage = "";
    if (screenCode.ToUpper() == ScreenCode.Application.ToUpper())
        activePage = "patCountryAppPage";
    else if (screenCode.ToUpper() == ScreenCode.Trademark.ToUpper())
        activePage = "tmkTrademarkPage";
}
@if (showVerification)
{
    <script>
        $(document).ready(() => {
            $("#IsActRequired").change(function (e) {
                if (e.target.checked) {
                    $(".checkAct-box").removeClass("d-none");
                    $(".document-verification").removeClass("d-none");
                }
                else {
                    $(".checkAct-box").addClass("d-none");
                    $(".document-verification").addClass("d-none");

                    $("#CheckAct").prop("checked", false);
                }
            });

            $("#IsVerified").change(function (e) {
                if (e.target.checked) {
                    $(".sendToClient-box").removeClass("d-none");
                    $(".isActRequired-box").removeClass("d-none");
                }
                else {
                    $(".sendToClient-box").addClass("d-none");
                    $(".isActRequired-box").addClass("d-none");

                    $("#SendToClient").prop("checked", false);
                    $("#IsActRequired").prop("checked", false);
                }
                $("#IsActRequired").trigger("change");
            });

            pageHelper.kendoGridDirtyTracking($(`#documentVerificationActGrid`), { name: 'documentVerificationActGrid' });
        });

        function docActionTypeOnChange(e) {
            if (e.dataItem) {
                const row = $(`#${e.sender.element[0].id}`).closest("tr");
                const keyId = e.dataItem["KeyId"];
                const baseDate = e.dataItem["BaseDate"];

                const grid = $("#documentVerificationActGrid").data("kendoGrid");
                const dataItem = grid.dataItem(row);

                if (keyId) {
                    var keyArr = keyId.split("|");
                    var dataKey = keyArr[0];
                    var dataKeyValue = keyArr[1];
                    if (dataKey.toLowerCase() == "actid") {
                        dataItem.ActId = dataKeyValue;
                        dataItem.ActionTypeID = 0;
                    }
                    else if (dataKey.toLowerCase() == "actiontypeid") {
                        dataItem.ActionTypeID = dataKeyValue;
                        dataItem.ActId = 0;
                    }
                }
                dataItem.BaseDate = e.dataItem["BaseDate"];
                var baseDateField = $(row).find(".baseDate-field")
                if (baseDateField) {
                    baseDateField.html(kendo.htmlEncode(baseDate));
                    if (dataItem.BaseDate) {
                        baseDateField.removeClass("editable-cell");
                    }
                    else if (@isActFullModify.ToString().ToLower() && !dataItem.BaseDate) {
                        baseDateField.addClass("editable-cell");
                    }
                }
            }
        };

        function docVerificationDataBinding(e) {
            e.sender.tbody.find(".k-grid-delete").hide();
            const grid = $("#" + e.sender.element[0].id).data("kendoGrid");
            const data = grid.dataSource.view();
            if (data) {
                var filteredData = data.filter(function (el) { return el.VerifyId > 0; });
                if (filteredData && filteredData.length > 1) {
                    for (var i = 0; i < filteredData.length; i++) {
                        var trow = grid.tbody.find("tr[data-uid='" + filteredData[i].uid + "']");
                        trow.find(".k-grid-delete").show();
                        filteredData[i].CanDelete = true;
                    }
                }
                else if (filteredData && filteredData.length <= 1) {
                    for (var i = 0; i < filteredData.length; i++) {
                        var trow = grid.tbody.find("tr[data-uid='" + filteredData[i].uid + "']");
                        trow.find(".k-grid-delete").hide();
                        filteredData[i].CanDelete = false;
                    }
                }
            }
        };

        function docVerificationDataBound(e) {
            const gridId = e.sender.element[0].id;
            const grid = $("#" + gridId).data("kendoGrid");
            const data = grid.dataSource.view();
            for (var i = 0; i < data.length; i++) {
                const trow = grid.tbody.find("tr[data-uid='" + data[i].uid + "']");
                if (@isActFullModify.ToString().ToLower() && !data[i].BaseDate || data[i].BaseDate == null) {
                    trow.children("td.baseDate-field").addClass("editable-cell");
                }
            }
        }
    </script>
}

<div class="document-editor">
    <ul class="nav nav-tabs nav-tabs-horizontal" id="docDetailTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="docDetailTab" data-toggle="tab" role="tab" aria-controls="docDetailTabContent" aria-selected="true" href="#docDetailTabContent">@Localizer["Details"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="docRemarksTab" data-toggle="tab" role="tab" aria-controls="docRemarksTabContent" aria-selected="true" href="#docRemarksTabContent">@Localizer["Remarks"]</a>
        </li>
        @if (showTags)
        {
            <li class="nav-item">
                <a class="nav-link" id="docTagsTab" data-toggle="tab" role="tab" aria-controls="docTagsTabContent" href="#docTagsTabContent">
                    @Localizer["Tags"]
                </a>
            </li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane page-content show active" id="docDetailTabContent" role="tabpanel" aria-labelledby="docDetailTab">
            <form method="post" action="@ViewData["FormAction"]">
                @* iManage fields *@
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Extension" />
                <input type="hidden" asp-for="WorkName" />
                <input type="hidden" asp-for="WorkType" />
                @* tblDocDocument fields *@
                <input type="hidden" asp-for="DocId" />
                <input type="hidden" asp-for="FolderId" /> @* asp-for gets imanage folderId if value is not explicit *@
                <input type="hidden" asp-for="Author" />
                <input type="hidden" asp-for="DocName" />
                <input type="hidden" asp-for="DocTypeId" />
                <input type="hidden" asp-for="DocUrl" />
                <input type="hidden" asp-for="FileId" />
                <input type="hidden" asp-for="LockedBy" />
                <input type="hidden" asp-for="CreatedBy" />
                <input type="hidden" asp-for="UpdatedBy" />
                <input type="hidden" asp-for="DateCreated" value="@Model.DateCreated.FormatToSave()" />
                <input type="hidden" asp-for="LastUpdate" value="@Model.LastUpdate.FormatToSave()" />
                <input type="hidden" asp-for="tStamp" />
                <input type="hidden" asp-for="Tags" />
                <input type="hidden" asp-for="Source" />
                <input type="hidden" asp-for="RandomGuid" />
                @if (requiredDocs != null)
                {
                    <input type="hidden" name="DueId" value="@Model.DueId" />
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group float-label">
                                <label>@Localizer["Document"]</label>
                                @(Html.Kendo().DropDownList()
                                            .Name("RequiredDocId")
                                            .DataTextField("DocName")
                                            .DataValueField("DocId")
                                            .BindTo(requiredDocs)
                                            .Value(Model.RequiredDocId.ToString())
                                            )
                            </div>
                        </div>
                    </div>
                }
                <div class="form-row pt-2 pb-2 entry-file" style="font-size: small">
                    <div class="file-upload col-12">
                        @(Html.Kendo().Upload()
                                    .Name("FormFile")
                                    .Messages(m => m.Select(string.IsNullOrEmpty(Model.Id) ? Localizer["Select a file to upload..."].ToString() : Localizer["Upload new version..."].ToString()))
                                    .Multiple(false)
                                    //Drag and drop has no file size validation
                                    //.Validation(validation => validation.MaxFileSize(fileSizeLimit))
                                    .HtmlAttributes(new { data_required = (string.IsNullOrEmpty(Model.Id) ? Localizer["Please select a file to upload."].ToString() : "") })
                                    .Events(events => events
                                        .Select("iManage.formFileOnSelect")
                                        .Remove("iManage.formFileOnRemove")
                                        )
                                    )
                        <span asp-validation-for="FormFile"></span>
                    </div>
                </div>
                @if (showOptions || isEdit)
                {
                    @if (showName)
                    {
                        <div class="form-row doc-filename">
                            <div class="col-md-8">
                                <div class="form-group float-label">
                                    <label asp-for="Name"></label>
                                    <input type="text" class="form-control form-control-sm" asp-for="Name" style="min-height:45px" />
                                    <span asp-validation-for="Name"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group float-label">
                                    <label asp-for="Type"></label>
                                    @(
                                                Html.Kendo().DropDownList()
                                                .Name("Type")
                                                .DataTextField("Text")
                                                .DataValueField("Value")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        //read.Action("GetTypes", "iManageWork", new { Area = "" }).Data("iManage.defaultFolderReadData");
                                                        read.Action("GetTypes", "iManageWork", new { Area = "" });
                                                    });
                                                })
                                                .Value(Model.Type)
                                                .HtmlAttributes(new { style = "width: 100%" })
                                                )
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-row">
                        <div class="col-md">
                            <fieldset class="group">
                                <legend></legend>
                                <ul class="doc-settings @(!isNewDocVerification ? "": "d-none")">
                                    <li><input type="checkbox" asp-for="IsPrintOnReport" /><label asp-for="IsPrintOnReport"></label></li>
                                    <li class="default-box @(showDefault ? "": "d-none")"><input type="checkbox" asp-for="IsDefault" /><label asp-for="IsDefault"></label></li>
                                    <li><input type="checkbox" asp-for="IsPrivate" /><label asp-for="IsPrivate"></label></li>
                                    <li><input type="checkbox" asp-for="IsVerified" /><label asp-for="IsVerified"></label></li>
                                    <li><input type="checkbox" asp-for="IncludeInWorkflow" /><label asp-for="IncludeInWorkflow"></label></li>                                    
                                    @if (showVerification)
                                    {
                                        <li class="sendToClient-box @(Model.IsVerified ? "" : "d-none")"><input type="checkbox" asp-for="SendToClient" /><label asp-for="SendToClient"></label></li>
                                        <li class="isActRequired-box @(Model.IsVerified ? "" : "d-none")"><input type="checkbox" asp-for="IsActRequired" /><label asp-for="IsActRequired"></label></li>
                                        <li class="check-act @(Model.IsVerified && Model.IsActRequired ? "" : "d-none")"><input type="checkbox" asp-for="CheckAct" /><label asp-for="CheckAct"></label></li>
                                    }
                                    else
                                    {
                                        <li class="d-none"><input type="hidden" asp-for="SendToClient" /></li>
                                        <li class="d-none"><input type="hidden" asp-for="IsActRequired" /></li>
                                        <li class="d-none"><input type="hidden" asp-for="CheckAct" /></li>
                                    }                                    
                                </ul>
                            </fieldset>
                        </div>
                    </div>
                    @if (!isNewDocVerification)
                    {
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group float-label">
                                    <label asp-for="RespDocketings"></label>
                                    @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions("RespDocketings", "DocumentVerification", "Shared", false, "Name", "GetDocResponsibleCombinedList", "", "Id", "", defaultRespDocketings.ToArray()))
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group float-label">
                                    <label asp-for="RespReportings"></label>
                                    @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions("RespReportings", "DocumentVerification", "Shared", false, "Name", "GetDocResponsibleCombinedList", "", "Id", "", defaultRespReportings.ToArray()))
                                </div>
                            </div>
                        </div>
                    }
                    @if (showVerification)
                    {
                        <div class="form-row document-verification @(Model.IsActRequired ? "" : "d-none")">
                            <div class="col-md-12">
                                @(Html.Kendo().Grid<DocVerificationViewModel>()
                                    .Name("documentVerificationActGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.ActionType).Width("25%")
                                        .Title(Localizer["Action Type"])
                                        .EditorTemplateName("ComboBox")
                                        .EditorViewData(new
                                        {
                                            action = "GetCorrespondingActList",
                                            controller = "DocumentVerification",
                                            area = "Shared",
                                            dataValueField = "ActionType",
                                            dataTextField = "ActionType",
                                            onSelect = "docActionTypeOnChange",
                                            limitToList = true,
                                            serverFiltering = false,
                                            valuePrimitive = true,
                                            readData = $"function() {{return {{screenCode: '{screenCode}', parentId: {dataKeyValue} }} }}",
                                            listWidth = 500,
                                            columns = new List<ComboBoxColumn> {
                                                new ComboBoxColumn { Name = "ActionType", Header = Localizer["Action Type"], Width = 400 },
                                                new ComboBoxColumn { Name = "BaseDate", Header = Localizer["Base Date"], Width = 100 },
                                                new ComboBoxColumn { Name = "Source", Header = Localizer["Source"], Width = 90 }
                                            }
                                        })
                                        .HtmlAttributes(new { @class = "editable-cell actionType-field" });

                                        columns.Bound(a => a.BaseDate)
                                        .ClientTemplate("#= (BaseDate == null) ? '' : kendo.toString(BaseDate,'dd-MMM-yyyy')#")
                                        .EditorTemplateName("Date")
                                        .Editable($"function(e) {{ return ({isActFullModify.ToString().ToLower()} && (e.BaseDate == null || e.ActionTypeID > 0));}}")
                                        .HtmlAttributes(new { @class = "baseDate-field" })
                                        .Width("12%");

                                        columns.Bound(a => a.VerifiedBy).Title(Localizer["Verified By"]).Width("10%");
                                        columns.Bound(a => a.DateVerified).Title(Localizer["Verified Date"]).Format("{0:dd-MMM-yyyy}").Width("12%");

                                        columns.Bound(opt => opt.ActionTypeID).Hidden(true);
                                        columns.Bound(opt => opt.ActId).Hidden(true);

                                        columns.Command(command =>
                                        {
                                            command.Custom("AddAction")
                                            .Click($"function(e) {{ var dataItem = this.dataItem($(e.currentTarget).closest('tr')); var url = '{actionLink}'; url = url.replace('actualValue', dataItem.ActionTypeID); window.open(url, '_blank');}}")
                                            .IconClass("k-icon fal fa-search-plus")
                                            .Text($"<span class='grid-action-label'>{Localizer["Add Action"]}</span>")
                                            .HtmlAttributes(new { @class = "grid-action" })
                                            .Visible("function(dataItem) { return (dataItem.ActionTypeID > 0 && dataItem.ActId == 0);}");

                                            command.Custom("Delete")
                                            .Click($"function(e) {{ {@activePage}.deleteGridRow(e,this); }}")
                                            .IconClass("k-icon fal fa-trash-alt")
                                            .Text($"<span class='grid-action-label'>{Localizer["Delete"]}</span>")
                                            .HtmlAttributes(new { @class = "grid-action" });
                                            //.Visible("function(dataItem){ return dataItem.CanDelete; }");
                                        }).Width("5%").HtmlAttributes(new { style = "display: flex; align-items: end; flex-direction: column;" });
                                    })
                                    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                                    .ToolBar(toolbar =>
                                    {
                                        toolbar.Create().IconClass("k-icon fal fa-plus").Text(Localizer["Add"]).HtmlAttributes(new { @class = "grid-action" });
                                        toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(Localizer["Save"]).HtmlAttributes(new { @class = "d-none" });
                                        toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(Localizer["Cancel"]).HtmlAttributes(new { @class = "d-none" });
                                    })
                                    .Editable(editable => editable
                                    .Enabled(true)
                                    .Mode(GridEditMode.InCell)
                                    .ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false)
                                    )
                                    .Pageable()
                                    .AutoBind(true)
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Batch(true)
                                        .PageSize(settings.SubFormPageSize)
                                        .ServerOperation(false)
                                        .Model(model =>
                                        {
                                            model.Id(opt => opt.VerifyId);
                                            model.Field(opt => opt.DocId).Editable(false);
                                            model.Field(opt => opt.ActionType).Editable(true);
                                            model.Field(opt => opt.BaseDate).Editable(isActFullModify);
                                            model.Field(opt => opt.VerifiedBy).Editable(false);
                                            model.Field(opt => opt.DateVerified).Editable(false);
                                            model.Field(opt => opt.DriveItemId).Editable(false).DefaultValue(Model.DriveItemId);
                                            model.Field(opt => opt.RandomGuid).Editable(false).DefaultValue(Model.RandomGuid);
                                            model.Field(opt => opt.WorkflowStatus).Editable(false).DefaultValue(R10.Core.Entities.Documents.DocVerificationWorkflowStatus.DoNotProcess);
                                        })
                                        .Read(read => read.Action("DocVerificationRead", "DocumentVerification", new { area = "Shared", docId = Model.DocId, documentLink = documentLink, randomGuid = Model.RandomGuid }))
                                        .Update(update => update.Action("DocVerificationUpdate", "DocumentVerification", new { area = "Shared", docId = Model.DocId, documentLink = documentLink }))
                                        .Destroy(destroy => destroy.Action("DocVerificationDelete", "DocumentVerification", new { area = "Shared" }))
                                        .Events(events =>
                                        {
                                            events.Error("pageHelper.onGridError");                                                    
                                        })
                                    )
                                    .Events(events =>
                                    {
                                        events.DataBound("docVerificationDataBound");
                                        events.DataBinding("docVerificationDataBinding");
                                    })
                                    .HtmlAttributes(new { @class = "k-grid-border", data_required = Localizer["Please select action(s)."].ToString() })
                                    )
                                <span class="actGrid field-validation-valid" data-valmsg-for="documentVerificationActGrid" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    }
                }
            </form>
        </div>
        <div class="tab-pane page-content" id="docRemarksTabContent" role="tabpanel" aria-labelledby="docRemarksTab">
            <textarea class="form-control form-control-sm" rows="6" asp-for="Remarks"></textarea>
        </div>
        @if (showTags)
        {
            <div class="tab-pane" id="docTagsTabContent" role="tabpanel" aria-labelledby="docTagsTab">
                @await Component.InvokeAsync("GridDocumentsTag", new GridOptions { ParentId = Model.DocId, Controller = "DocDocuments", Area = "Shared" })
            </div>
        }
    </div>
</div>
<style>
    ul.doc-settings {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        ul.doc-settings li {
            display: inline-block;
            width: 15em;
        }

            ul.doc-settings li input {
                margin-right: .25em;
            }

            ul.doc-settings li label {
                margin-left: 5px;
            }
</style>
<script>
    $(document).ready(function () {
        iManage.initializeEditor();
    });
</script>