@model Folder
@{
    var folder = Model;
    var folderLevel = ViewData["FolderLevel"]?.ToString();
    var hasSubFolders = folder.HasSubFolders ?? false;
    var denyChildFolders = false;
    var activeFolder = ViewData["ActiveFolder"]?.ToString();
    var permission = ViewData["Permission"] == null ? new DocumentViewerPermission() : ((DocumentViewerPermission?)ViewData["Permission"] ?? new DocumentViewerPermission());
}

<li class="nav-item @folderLevel">
    <a href="#" @(permission.CanUpload ? "ondragover=iManage.folderOnDragOver(event) ondragleave=iManage.folderOnDragLeave(event) ondrop=iManage.folderOnDrop(event) ondragend=iManage.folderOnDragEnd(event)" : "") 
                ondragstart="@(permission.CanUpload && folderLevel == "child-folder" ? "iManage.folderOnDragStart(event)" : "return false;")"
                data-folder="@folder.Id"  data-type="@folder.ContainerType" 
                data-has-documents="@((folder.HasDocuments ?? false).ToString().ToLower())"
                data-has-subfolders="@((folder.HasSubFolders ?? false).ToString().ToLower())"
                class="folder @(denyChildFolders ? "" : "breeder") nav-link @(string.Equals(folder.Id, activeFolder, StringComparison.OrdinalIgnoreCase) ? "active" : "")">
        <span class="folder-toggle">
            <i class="@(hasSubFolders ? "toggle fal fa-angle-down" : "toggle-spacer")"></i>
        </span>
        <span class="icon fal fa-folder"></span>
        <span class="name">@folder.Name</span>
    </a>
    @if (hasSubFolders && folder.SubFolders != null)
    {
        <ul class="nav nav-pills cpi-nav-vertical flex-column child-folders">
            @foreach (var subFolder in folder.SubFolders)
            {
                ViewData["FolderLevel"] = "child-folder";
                @await Html.PartialAsync("_Folder", subFolder)
            }
        </ul>
    }
</li>