@inject IStringLocalizer<SharedResource> Localizer
@model SetupViewModel
@{
    var canCreateWorkspace = (bool?)ViewData["CanCreateWorkspace"] ?? false;
}

<div class="setup k-grid">@* emulate editableGrid *@
    @if (Model.Permission?.CanSetupFolder ?? false)
    {
        <h5>iManage Setup</h5>
        <div class="form-row">
            <div class="col-12">
                <div class="float-label">@* DO NOT ADD form-group class. It will disable controls when tab is dirty *@
                    <label class="required" asp-for="DocRootContainerId">@Localizer["Root Container Id"]</label>
                    <div class="input-group">
                        <input asp-for="DocRootContainerId" type="text" class="form-control form-control-sm" title="@Localizer["Workspace id or root folder id"]" data-url="@Url.Action("GetContainer", "iManageWork", new { Area = "" })" />
                        @if (canCreateWorkspace)
                        {
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-new-workspace" type="button" data-url="@Url.Action("NewWorkspace", "iManageWork", new { Area = "" })" title="@Localizer["New Workspace"]"><i class="toggle-pwd far fa-square-dashed-circle-plus"></i></button>
                            </div>
                        }
                    </div>
                    <span asp-validation-for="DocRootContainerId"></span>
                </div>
            </div>
            <div class="col-12">
                <div class="disabled float-label">
                    <label class="required" asp-for="DocRootContainerName">@Localizer["Root Container Name"]</label>
                    <input asp-for="DocRootContainerName" type="text" class="form-control form-control-sm" title="@Localizer["Workspace or folder name"]" disabled />
                </div>
            </div>
            <div class="col-12">
                <div class="float-label">
                    <label asp-for="DocDefaultFolderId" class="required">@Localizer["Default Folder"]</label>
                    @(Html.Kendo().DropDownList()
                        .Name("DocDefaultFolderId")
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .Template("<span class=\"#: data.Name == '' ? '' : 'fal fa-folder pr-1'#\" style=\"padding-left: #: data.Level * 10 #px; padding-right: 5px;\"></span>#: data.Name #")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetFolderList", "iManageWork", new { Area = "" }).Data("iManage.defaultFolderReadData");
                            });
                        })
                        .Value(Model.DocDefaultFolderId)
                    )
                    <span class="field-validation-valid" data-valmsg-for="DocDefaultFolderId" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>
        <div class="toolbar d-flex justify-content-end pt-1 pb-2">
            @* emulate grid toolbar *@
            <div class="k-grid">
                <div class="k-toolbar k-grid-toolbar">
                    <nav class="nav nav-left">
                        <a class="k-button cancel" href="#" title="@Localizer["Cancel"].ToString()"><i class="fal fa-times"></i><span class="label">@Localizer["Cancel"].ToString()</span></a>
                        <a class="k-button save" href="#" title="@Localizer["Save"].ToString()" data-url="@Url.Action("Setup", "iManageWork", new { Area = ""})"><i class="fal fa-save"></i><span class="label">@Localizer["Save"].ToString()</span></a>
                    </nav>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="error">
            @Localizer["Access denied."].Value
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        iManage.initializeSetup();
    });
</script>