@model ProductDetailViewModel
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject ICountryLookupViewModelService CountryLookupService
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();

    var id = Model.ProductId;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    bool isReadOnlyRemarks = !(fullModify || detailPagePermission.CanEditRemarksOnly);

    var countryLabel = SharedLocalizer["Country of Origin"];
    var countryNameLabel = SharedLocalizer["Country Name"];
    var childViewModel = new ChildViewModel { Id = id, Permission = new DetailPagePermission() };
    var isPatentOn = User.IsInSystem(SystemType.Patent);
    var isTrademarkOn = User.IsInSystem(SystemType.Trademark);
    var isGeneralMatterOn = User.IsInSystem(SystemType.GeneralMatter);
    var isAMSStandalone = !(User.IsAMSIntegrated());

    var seriesColors = settings.ColorScheme.Split("|");
    var childImageViewModel = new ChildImageViewModel { ParentId = id, Area = "Shared", Controller = "ProductImage", 
        Permission = detailPagePermission, ActivePage = ViewBag.ActivePage, 
        DocumentLink = "S|Prd|ProductId|" + id.ToString(),
        SharePointDocLibrary = SharePointDocLibrary.Shared,
        SharePointDocLibraryFolder = SharePointDocLibraryFolder.Product,
        SharePointRecKey = Model.ProductCode
    };
}
<form cpi-detail-form action="@(detailPagePermission.CanEditRemarksOnly ? "SaveRemarks" :"Save")">
    <input type="hidden" asp-for="ProductId" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content  detail cpiMainEntry">
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-row">
                    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-4">
                        <div class="form-group float-label">
                            <label asp-for="ProductCode"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="ProductCode" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                            <span asp-validation-for="ProductCode"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-8">
                        <div class="form-group float-label">
                            <label asp-for="ProductName"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="ProductName" asp-is-readonly="@isReadOnly" />
                            <span asp-validation-for="ProductName"></span>
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-10">
                        <div class="form-group float-label">
                            <label asp-for="Description"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="Description" asp-is-readonly="@isReadOnly" />
                            <span asp-validation-for="Description"></span>
                        </div>
                    </div>
                    <div class="col col-sm-3 col-md-3 col-lg-3 col-xl-2 mt-4 pt-1 ml-">
                        <div class="form-group float-label">
                            <div class=" custom-control custom-checkbox">
                                <input asp-for="Active" class="custom-control-input" asp-is-readonly="@isReadOnly" />
                                <label asp-for="Active" class="custom-control-label">
                                </label>
                            </div>
                            <span asp-validation-for="Active"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-10">
                        <div class="form-group float-label">
                            <label asp-for="MarketingClaims"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="MarketingClaims" asp-is-readonly="@isReadOnly" />
                            <span asp-validation-for="MarketingClaims"></span>
                        </div>
                    </div>                    
                </div>
                <div class="form-row">
                    <div class="col-sm-4 col-md-4 col-lg-3 col-xl-4">
                        <div class="form-group float-label">
                            <label asp-for="ProductGroup"></label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="ProductGroup" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AuxiliaryWithLink(
                                                       name: "ProductGroup",
                                                       labels: new string[] { SharedLocalizer["Product Group"], SharedLocalizer["Description"] },
                                                       textProperty: "ProductGroupName",
                                                       columns: new string[] { "ProductGroupName", "Description" },
                                                       defaultValue: Model.ProductGroup
                                                       ))
                                <span asp-validation-for="ProductGroup"></span>
                            }
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-3 col-xl-4">
                        <div class="form-group float-label">
                            <label asp-for="ProductCategory"></label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="ProductCategory" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AuxiliaryWithLink(
                                                       name: "ProductCategory",
                                                       labels: new string[] { SharedLocalizer["Product Category"], SharedLocalizer["Description"] },
                                                       textProperty: "ProductCategoryName",
                                                       columns: new string[] { "ProductCategoryName", "Description" },
                                                       defaultValue: Model.ProductCategory
                                                       ))
                                <span asp-validation-for="ProductCategory"></span>
                            }
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-3 col-xl-4">
                        <div class="form-group float-label">
                            <label asp-for="Brand"></label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="Brand" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", ComboBoxHelper.AuxiliaryWithLink(
                                                       name: "Brand",
                                                       labels: new string[] { SharedLocalizer["Brand"], SharedLocalizer["BrandType"] },
                                                       textProperty: "BrandName",
                                                       columns: new string[] { "BrandName", "BrandType" },
                                                       defaultValue: Model.Brand
                                                       ))
                                <span asp-validation-for="Brand"></span>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-12">
                        <div class="form-group float-label">
                            <label asp-for="Supplier"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="Supplier" asp-is-readonly="@isReadOnly" />
                            <span asp-validation-for="Supplier"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-12">
                        <div class="form-group float-label">
                            <label asp-for="Manufacturer"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="Manufacturer" asp-is-readonly="@isReadOnly" />
                            <span asp-validation-for="Manufacturer"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-4 col-md-4 col-lg-3 col-xl-4">
                        <div class="form-group float-label">
                            <label asp-for="Country"></label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="Country" disabled />
                            }
                            else
                            {
                                @await Component.InvokeAsync("ComboBox", new
                                {
                                    name = "Country",
                                    defaultValue = Model.Country,
                                    controller = "Product",
                                    action = "GetCountryList",
                                    listWidth = 500,
                                    headerTemplate = ComboBoxHelper.GetHeaderTemplate(SharedLocalizer["Country"], countryNameLabel),
                                    itemTemplate = ComboBoxHelper.GetItemTemplate("Country", "CountryName"),
                                    onChange = "productPage.onCountryChange",

                                })
                                <span asp-validation-for="Country"></span>
                            }
                        </div>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-6 col-xl-8">
                        <div class="form-group float-label">
                            <label asp-for="CountryName"></label>
                            <input type="text" id="Country_@(ViewData["PageId"])_Name" class="form-control form-control-sm" asp-for="CountryName" readonly="readonly" />
                        </div>
                    </div>
                </div>
                @if (!detailPagePermission.HasLimitedRead) {
                    <div class="form-row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="form-group float-label">
                                <label asp-for="Remarks"></label>
                                <input type="text" class="form-control form-control-sm" asp-for="Remarks" asp-is-readonly="@isReadOnlyRemarks" />
                                <span asp-validation-for="Remarks"></span>
                            </div>
                        </div>                    
                    </div>
                }                
            </div>
            <div class="col-md-6">
                @if (!addMode)
                {
                    <div class="form-row widgetContainer" style="padding-left:1em;">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                            <div class="form-row">
                                    @(Html.Kendo().Chart<ChartDTO>()
                                .Name("Sales-Chart")
                                .Legend(legend => legend
                                    .Visible(true)
                                    .Position(ChartLegendPosition.Top)
                                )
                                .Title(SharedLocalizer["Sales"])
                                .ChartArea(chartArea => chartArea
                                    .Background("transparent")
                                )
                                .Series(series => series
                                    .Line(model => model.Value, model => model.Category)
                                    .Style(ChartSeriesStyle.Smooth)
                                    .ColorField("Color")
                                    .Overlay(o => o.Gradient(ChartSeriesGradient.None))
                                    .Labels(labels => labels
                                        .Visible(true)
                                        .Format("{0}")
                                        .Template("#= kendo.format('{0:n0}', value) #")
                                        .Position(ChartBarLabelsPosition.OutsideEnd)
                                    )
                                )
                                .DataSource(ds => ds
                                        .Read(read => read.Action("GetSaleChart", "Product", new { productId = Model.ProductId }))
                                        .Group(group => group.Add(model => model.Group))
                                )

                                .SeriesColors(seriesColors)
                                .Tooltip(tooltip => tooltip
                                    .Visible(true)
                                    .Template("#= series.name # (#= category #): #= kendo.format('{0:n0}', value) #")
                                )
                                .Events(events => events
                                    //Sorting years in order regardless of Group order
                                    .DataBound("function(e) {var axis = e.sender.options.categoryAxis; axis.categories = axis.categories.sort();}")
                                )
                            )
                            </div>
                            <div class="form-row active-count">
                                @if (isAMSStandalone)
                                {
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <div class="text-center" style="font-size: 25px;">
                                            <span class="chart-label">
                                                @String.Format("{0:n0}", Model.ActivePatents)
                                            </span>
                                        </div>
                                        <div class="text-center">
                                            <span class="patProd chart-label">@SharedLocalizer["Patents"]</span>
                                        </div>
                                    </div>
                                }
                                @if (isPatentOn)
                                {
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <div class="text-center" style="font-size: 25px;">
                                            <span class="chart-label">
                                                @String.Format("{0:n0}", Model.ActivePatents)
                                            </span>
                                        </div>
                                        <div class="text-center">
                                            <span class="patProd chart-label">@SharedLocalizer["Patents"]</span>
                                        </div>
                                    </div>
                                }
                                @if (isTrademarkOn)
                                {
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <div class="text-center" style="font-size: 25px;">
                                            <span class="chart-label">
                                                @String.Format("{0:n0}", Model.ActiveTrademarks)
                                            </span>
                                        </div>
                                        <div class="text-center">
                                            <span class="tmkProd chart-label">@SharedLocalizer["Trademarks"]</span>
                                        </div>
                                    </div>
                                }
                                @if (isGeneralMatterOn)
                                {
                                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <div class="text-center" style="font-size: 25px;">
                                            <span class="chart-label">
                                                @String.Format("{0:n0}", Model.ActiveGeneralMatters)
                                            </span>
                                        </div>
                                        <div class="text-center">
                                            <span class="gnmProd chart-label">@SharedLocalizer["General Matters"]</span>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">                            
                            @(Html.Kendo().Map()
                            .Name("TopCountries-Map")
                            
                            .Center(23, 10)
                            .Zoom(1)
                            .MinZoom(1)
                            .MaxZoom(4)
                            .Wraparound(true)
                            .Layers(layers =>
                            {
                                layers.Add()
                                    .Type(MapLayerType.Tile)
                                    //https://api.mapbox.com/styles/v1/mapbox/light-v10/tiles/#= zoom #/#= x #/#= y #?access_token=pk.eyJ1IjoiY3AxZDN2MHBlcjIwMjAiLCJhIjoiY2tpdDhuaTZqMGprajJzbXAxY2hvZG9tMiJ9.mrCSafPlgfVkPaMp85SKaQ
                                    .UrlTemplate("https://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png")
                                .Subdomains("a", "b", "c")
                                .Attribution("&copy; <a href='http://osm.org/copyright'>OpenStreetMap contributors</a>");

                                layers.Add()
                                    .Type(MapLayerType.Bubble)
                                    .Style(style => style
                                        .Fill(fill => fill.Color("#58ccd8").Opacity(0.4))   //#58ccd8
                                        .Stroke(stroke => stroke.Width(1))
                                    )
                                    .DataSource(dataSource => dataSource
                                            .Read(read => read.Action("GetTopCountriesMap", "Product", new { productId = Model.ProductId }))
                                    )
                                    .LocationField("Location")
                                    .ValueField("Value");

                            })
                            .Events(events => events
                                .ShapeMouseEnter("function(e) {var oe = e.originalEvent;var x = oe.pageX || oi.clientX;var y = oe.pageY || oi.clientY;popup.element.html(template(e.shape.dataItem));popup.open(x,y);}")
                                .ShapeMouseLeave("function(e) {if (!$(e.originalEvent.relatedTarget).is('.k-popup, .k-animation-container')){popup.close();popup.element.kendoStop(true,true);};}")
                            )
                            .HtmlAttributes( new { style = "height:425px !important;" })

                        )
                        </div>
                    </div>                   
                }
            </div>
        </div>
    </div>

    @if (!addMode)
    {
        <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" role="tablist">
            <li class="nav-item @(addMode ? "d-none" : null)">
                <a class="nav-link active" id="productDocumentsTab" data-toggle="tab" role="tab" aria-controls="productDocumentsTabContent" href="#productDocumentsTabContent">@SharedLocalizer["Documents"]</a>
            </li>
            <li class="nav-item @(addMode ? "d-none" : null)">
                <a class="nav-link" id="productRelatedProductsTab" data-toggle="tab" role="tab" aria-controls="productRelatedProductsTabContent" href="#productRelatedProductsTabContent">@SharedLocalizer["Related Products"]</a>
            </li>
            <li class="nav-item @(addMode ? "d-none" : null)">
                <a class="nav-link" id="productSalesTab" data-toggle="tab" role="tab" aria-controls="productSalesTabContent" href="#productSalesTabContent">@SharedLocalizer["Sales"]</a>
            </li>
            @if (isPatentOn)
            {
                <li class="nav-item @(addMode ? "d-none" : null)">
                    <a class="nav-link" id="productRelatedPatentTab" data-toggle="tab" role="tab" aria-controls="productRelatedPatentTabContent" aria-selected="false" href="#productRelatedPatentTabContent">@SharedLocalizer["Related Patents"]</a>
                </li>
            }
            @if (isTrademarkOn)
            {
                <li class="nav-item @(addMode ? "d-none" : null)">
                    <a class="nav-link" id="productRelatedTrademarkTab" data-toggle="tab" role="tab" aria-controls="productRelatedTrademarkTabContent" aria-selected="false" href="#productRelatedTrademarkTabContent">@SharedLocalizer["Related Trademarks"]</a>
                </li>
            }
            @if (isGeneralMatterOn)
            {
                <li class="nav-item @(addMode ? "d-none" : null)">
                    <a class="nav-link" id="productRelatedGeneralMatterTab" data-toggle="tab" role="tab" aria-controls="productRelatedGeneralMatterTabContent" aria-selected="false" href="#productRelatedGeneralMatterTabContent">@SharedLocalizer["Related General Matters"]</a>
                </li>
            }
        </ul>

        <div class="tab-content">
            <div class="tab-pane show active" id="productDocumentsTabContent" role="tabpanel" aria-labelledby="productDocumentsTab">
                  @await Html.PartialAsync("~/Views/Document/_DocumentViewer.cshtml", childImageViewModel)
            </div>
            <div class="tab-pane show" id="productRelatedProductsTabContent" role="tabpanel" aria-labelledby="productRelatedProductsTab">
                @await Html.PartialAsync("_RelatedProducts.cshtml", childViewModel)
            </div>
            <div class="tab-pane" id="productSalesTabContent" role="tabpanel" aria-labelledby="productSalesTab">
                @await Html.PartialAsync("_Sales.cshtml", childViewModel)
            </div>
            @if (isPatentOn)
            {
                <div class="tab-pane" id="productRelatedPatentTabContent" role="tabpanel" aria-labelledby="productRelatedPatentTab">
                    @await Html.PartialAsync("_RelatedPatents.cshtml", Model.ProductCode)
                </div>
            }
            @if (isTrademarkOn)
            {
                <div class="tab-pane" id="productRelatedTrademarkTabContent" role="tabpanel" aria-labelledby="productRelatedTrademarkTab">
                    @await Html.PartialAsync("_RelatedTrademarks.cshtml", Model.ProductCode)
                </div>
            }
            @if (isGeneralMatterOn)
            {
                <div class="tab-pane" id="productRelatedGeneralMatterTabContent" role="tabpanel" aria-labelledby="productRelatedGeneralMatterTab">
                    @await Html.PartialAsync("_RelatedGeneralMatters.cshtml", Model.ProductCode)
                </div>
            }
        </div>
    }

    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
        </div>
    }
</form>

<script>
    @(ViewBag.ActivePage).editableGrids = [
        {
            title: '@SharedLocalizer["Sales"]',
            name: 'productSaleGrid',
            isDirty: false,
            filter: { productId: @id },
            afterSubmit: @(ViewBag.ActivePage).updateRecordStamps
        },
        {
            title: '@SharedLocalizer["Related Product"]',
            name: 'prodRelatedProductsGrid',
            isDirty: false,
            filter: { productId: @id },
            afterSubmit: @(ViewBag.ActivePage).updateRecordStamps
        }
    ];

    var popup = $("<div class='toolTipPopup'></div>")
        .appendTo(document.body)
        .kendoPopup()
        .data("kendoPopup");
     
    $(document).ready(() => {
       productPage.image.initializeImage(productPage);
    });

    function template(item) {
        return "<table class='mapTooltip'><tr><td><p style='display:inline;'><img src='../../../images/flags/" + item.Country + ".gif' />" + item.CountryName + " " + item.Value + "</p></td></tr></table>";
        //<tr><td>Count:</td><td>" + item.Value + "</td></tr>
    };
</script>

<style>
    #Sales-Chart.k-chart {
        height: 280px !important;
        width: 400px !important;
    }
    .active-count {
        width: 400px; /*same width as chart*/
    }
    .mapTooltip p {
        color: #575050;
    }    
    .chart-label {
        text-decoration: none;
        color: #8e8e8e; /*same color as Sales label*/
        font-size: 16px;
    }
    .widgetContainer {
        padding-left: 1em;
        border: 1px solid var(--separator);
        border-radius: 0.2rem;
        margin-top: 5px;
        margin-bottom: 5px;
        position: relative;
    }
</style>