@model EmailSetupDetailViewModel
@using System.Net
@inject IStringLocalizer<SharedResource> SharedLocalizer
@{
    var id = Model.EmailSetupId;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    var screen = ViewData["PageId"];


    var contentType = $"function() {{ return {{ contentType: '{Model.ContentType}' }}; }}";
}
<form cpi-detail-form action="Save">
    <input type="hidden" asp-for="EmailSetupId" />
    <input type="hidden" asp-for="EmailTypeId" />
    <input type="hidden" asp-for="LanguageCulture" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content  detail cpiMainEntry">
        <div class="form-row">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group float-label">
                    <label asp-for="Name"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Name" asp-is-readonly=true />
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3 order-lg-last">
                <div class="form-group float-label">
                    <label asp-for="ContentTypeDescription"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="ContentTypeDescription" asp-is-readonly=true />
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 d-none d-sm-block">
                <div class="form-group float-label">
                    <label asp-for="Description"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Description" asp-is-readonly=true />
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="form-group float-label">
                    <label asp-for="Language"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="Language" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", ComboBoxHelper.LanguageWithLink("Language", Model.Language, SharedLocalizer["The Langauge field is required."].Value))
                        <span asp-validation-for="Language"></span>
                    }
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-5 col-xl-5">
                <div class="d-flex justify-content-start">
                    <label asp-for="Default" class="mr-4"></label>
                    <span>
                        <label class="toggle-switch">
                            <input type="checkbox" id="Default" name="Default" checked="@(Model.Default)" class="toggle-option" @(isReadOnly ? "disabled" : "")>
                            <span class="slider round"></span>
                        </label>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-row cpiMainEntry">
            <div class="col-12 @(!isReadOnly ? "col-md-9" : "")">
                <div class="form-group float-label">
                    <label asp-for="Subject"></label>
                    <input type="text" class="form-control form-control-sm" id="Subject" name="Subject" asp-for="Subject" asp-is-readonly="@isReadOnly" />
                </div>
            </div>
            @if (!isReadOnly)
            {
                <div class="col-12 col-md-3">
                    <div class="form-group float-label">
                        <label>@SharedLocalizer["Data Fields"]</label>
                        @(Html.Kendo().ComboBox()
                                .Name("SubjectDataFields")
                                .Placeholder("Data Fields")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .Events(events => events.Change($"{ViewBag.ActivePage}.subjectDataFieldsChange"))
                                .HtmlAttributes(new { style = "width: 100%" })
                                .AutoBind(false)
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetDataFieldsList","EmailSetupDetail").Data(contentType);
                                    });
                                }))
                    </div>
                </div>
            }
            <div class="col-12 mt-2">
                <div class="html-editor @(isReadOnly ? "disabled" : "")">
                    @(Html.Kendo().Editor()
                            .Name("Body")
                            .Value(WebUtility.HtmlDecode(Model.Body))
                            .HtmlAttributes(new {style = "height:440px", aria_label = "editor" })
                            .Resizable(resizable => resizable.Content(true).Toolbar(false))
                            .Events(events => events
                                .Change($"{ViewBag.ActivePage}.editorModified")
                                .Execute($"{ViewBag.ActivePage}.markDirty")
                                .Paste($"{ViewBag.ActivePage}.markDirty")
                                )
                            .Tools(tools => tools.Clear()
                                .CustomTemplate(x => x.Template(
                                    Html.Kendo().ComboBox()
                                    .Name("BodyDataFields")
                                    .Placeholder("Data Fields")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .AutoBind(false)
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetDataFieldsList", "EmailSetupDetail").Data(contentType);
                                        });
                                    })
                                    .Events(events => events.Change($"{ViewBag.ActivePage}.bodyDataFieldsChange"))
                                    .ToClientTemplate()
                                        .ToString()
                                    ))
                                .Bold().Italic().Underline().Strikethrough()
                                .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull().InsertUnorderedList().InsertOrderedList()
                                .Outdent().Indent().CreateLink().Unlink().InsertImage().ViewHtml().Print()
                                .Formatting().CleanFormatting()
                                .FontName().FontSize().ForeColor().BackColor()
                                .TableEditing()
                            ))
                </div>
            </div>
        </div>
    </div>
    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
        </div>
    }
</form>

