@model PatCountryExp
@inject IStringLocalizer<SharedResource> Localizer
@{
    var id = Model.CExpId;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;

    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
}
<form cpi-detail-form action="Save">
    <input type="hidden" asp-for="CExpId" />
    <input type="hidden" asp-for="Country" />
    <input type="hidden" asp-for="CaseType" />
    @if (addMode)
    {
        <input type="hidden" name="IsNewRecord" value="true" class="boolean" />
    }
    <input type="hidden" name="OriginalSystems" value="@(addMode ? "__NEW__" : (string.IsNullOrEmpty(Model.Systems) ? "__EMPTY__" : Model.Systems))" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="Country"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="Country" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", ComboBoxHelper.CountryWithLink("Country", countryLabel, countryNameLabel, Model.Country))
                        <span asp-validation-for="Country"></span>
                    }
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="CaseType"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="CaseType" readonly />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "CaseType", controller = "CaseType", area = "Patent", action = "GetPicklistData", defaultValue = Model.CaseType })
                        <span asp-validation-for="CaseType"></span>
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="Type"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="Type" readonly />
                    }
                    else
                    {
                        @(Html.Kendo().DropDownList()
                            .Name("Type")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .BindTo(new[] {
                                new { Text = "Tax Start", Value = "Tax Start" },
                                new { Text = "Expiration", Value = "Expiration" }
                            })
                            .Value(Model.Type)
                            .HtmlAttributes(new { style = "width:100%" })
                        )
                        <span asp-validation-for="Type"></span>
                    }
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="BasedOn"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="BasedOn" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "BasedOn", defaultValue = Model.BasedOn })
                        <span asp-validation-for="BasedOn"></span>
                    }
                </div>
            </div>
        </div>
        <div class="form-row align-items-end">
            <div class="col-4 col-sm-3 col-md-2 col-lg-1" style="min-width:80px;">
                <div class="form-group float-label mb-2">
                    <label asp-for="Yr"></label>
                    @if (isReadOnly)
                    {
                        <input type="number" class="form-control form-control-sm" asp-for="Yr" readonly />
                    }
                    else
                    {
                        @(Html.Kendo().NumericTextBox<int>().Name("Yr").Format("0").Value(Model.Yr).Min(0).Decimals(0).HtmlAttributes(new { style = "width: 100%" }))
                        <span asp-validation-for="Yr"></span>
                    }
                </div>
            </div>
            <div class="col-4 col-sm-3 col-md-2 col-lg-1" style="min-width:80px;">
                <div class="form-group float-label mb-2">
                    <label asp-for="Mo"></label>
                    @if (isReadOnly)
                    {
                        <input type="number" class="form-control form-control-sm" asp-for="Mo" readonly />
                    }
                    else
                    {
                        @(Html.Kendo().NumericTextBox<int>().Name("Mo").Format("0").Value(Model.Mo).Min(0).Max(12).Decimals(0).HtmlAttributes(new { style = "width: 100%" }))
                        <span asp-validation-for="Mo"></span>
                    }
                </div>
            </div>
            <div class="col-4 col-sm-3 col-md-2 col-lg-1" style="min-width:80px;">
                <div class="form-group float-label mb-2">
                    <label asp-for="Dy"></label>
                    @if (isReadOnly)
                    {
                        <input type="number" class="form-control form-control-sm" asp-for="Dy" readonly />
                    }
                    else
                    {
                        @(Html.Kendo().NumericTextBox<int>().Name("Dy").Format("0").Value(Model.Dy).Min(0).Max(31).Decimals(0).HtmlAttributes(new { style = "width: 100%" }))
                        <span asp-validation-for="Dy"></span>
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="EffBasedOn"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="EffBasedOn" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new { name = "EffBasedOn", defaultValue = Model.EffBasedOn })
                        <span asp-validation-for="EffBasedOn"></span>
                    }
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="EffStartDate"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" value="@Model.EffStartDate?.ToString("d")" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("DatePicker", new DatePickerOptions("EffStartDate") { Value = Model.EffStartDate })
                        <span asp-validation-for="EffStartDate"></span>
                    }
                </div>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="EffEndDate"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" value="@Model.EffEndDate?.ToString("d")" disabled />
                    }
                    else
                    {
                        @await Component.InvokeAsync("DatePicker", new DatePickerOptions("EffEndDate") { Value = Model.EffEndDate })
                        <span asp-validation-for="EffEndDate"></span>
                    }
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group float-label">
                    <label asp-for="Systems"></label>
                    <input type="hidden" name="Systems" id="cexpSystemsHidden" value="@Model.Systems" />
                    <div class="border rounded p-2 position-relative" style="min-height: 60px; padding-top: 30px !important;">
                        @if (!isReadOnly)
                        {
                            <div class="position-absolute" style="top: 4px; right: 8px;">
                                <label class="small mb-0" style="cursor:pointer;"><input type="checkbox" id="cexpSystemsToggleAll" class="mr-1"/>Select All</label>
                            </div>
                        }
                        <div id="cexpSystemsCheckboxes"></div>
                    </div>
                    <script>
                        $(document).ready(function() {
                            var disabled = @(isReadOnly ? "true" : "false");
                            var selected = ($('#cexpSystemsHidden').val() || '').split(',').filter(function(s) { return s.length > 0; });
                            $.getJSON('@Url.Action("GetSystemList", "CountryExp")', function(data) {
                                var html = '';
                                $.each(data, function(i, name) {
                                    var checked = selected.indexOf(name) > -1 ? ' checked' : '';
                                    var dis = disabled ? ' disabled' : '';
                                    html += '<label class="mr-3" style="white-space:nowrap;"><input type="checkbox" class="cexpSystemChk mr-1" value="' + name + '"' + checked + dis + '/>' + name + '</label>';
                                });
                                $('#cexpSystemsCheckboxes').html(html);
                                var allCount = $('.cexpSystemChk').length;
                                var checkedCount = $('.cexpSystemChk:checked').length;
                                $('#cexpSystemsToggleAll').prop('checked', allCount > 0 && allCount === checkedCount);
                            });
                            $(document).on('change', '.cexpSystemChk', function() {
                                var vals = [];
                                $('.cexpSystemChk:checked').each(function() { vals.push($(this).val()); });
                                $('#cexpSystemsHidden').val(vals.join(',')).trigger('change');
                                var allCount = $('.cexpSystemChk').length;
                                var checkedCount = $('.cexpSystemChk:checked').length;
                                $('#cexpSystemsToggleAll').prop('checked', allCount > 0 && allCount === checkedCount);
                            });
                            $('#cexpSystemsToggleAll').click(function() {
                                var isChecked = $(this).prop('checked');
                                $('.cexpSystemChk').prop('checked', isChecked).first().trigger('change');
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    patCountryExpPage.afterInsert = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
    patCountryExpPage.showDetails = function(result) {
        if (result && result.redirectUrl) {
            pageHelper.openLink(result.redirectUrl, true);
        }
    };
</script>
