@model OwnerDetailViewModel
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject ICountryLookupViewModelService CountryLookupService
@inject IAuthorizationService AuthorizationService
@{
    var id = Model.OwnerID;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    bool isReadOnlyRemarks = !(fullModify || detailPagePermission.CanEditRemarksOnly);

    var countryLabel = SharedLocalizer["Country"];
    var countryNameLabel = SharedLocalizer["Country Name"];
    var ownerLabel = "Owner";
    var ownerNameLabel = "Owner Name";
    var clientLabel = "Client";

    var childViewModel = new ChildViewModel { Id = id, Permission = detailPagePermission };
    var pageId = ViewData["PageId"];
    var isShowCustomFieldOn = false;
}
<form cpi-detail-form action="@(detailPagePermission.CanEditRemarksOnly ? "SaveRemarks" :"Save")"
      data-confirm-title="@SharedLocalizer["Please Confirm"]"
      data-copy-success-msg="@SharedLocalizer["Record has been copied successfully."]"
      data-copy-owner-msg="@SharedLocalizer[$"The current {ownerLabel} will be copied over to the {clientLabel} table. Do you want to continue?"]">
    <input type="hidden" asp-for="OwnerID" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>
    <div class="page-content  detail cpiMainEntry">
        <div class="form-row">
            <div class="col-md-3">
                <div class="form-group float-label">
                    <label for="OwnerCode" class="required">@SharedLocalizer[ownerLabel]</label>
                    <input type="text" class="form-control form-control-sm" asp-for="OwnerCode" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="OwnerCode"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group float-label">
                    <label for="OwnerName" class="required">@SharedLocalizer[ownerNameLabel]</label>
                    <input type="text" class="form-control form-control-sm" asp-for="OwnerName" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="OwnerName"></span>
                </div>
            </div>
             <div class="col-md-3 pt-3">
                    @if (isReadOnly)
                    {
                        @(Html.Kendo().CheckBoxFor(m => m.IsActive).HtmlAttributes(new {id="Owner_IsActive", disabled = "true" }))
                    }
                    else
                    {
                        @(Html.Kendo().CheckBoxFor(m => m.IsActive).HtmlAttributes(new {id="Owner_IsActive" }))
                    }
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="ownerDetailMainTab" data-toggle="tab" role="tab" aria-controls="ownerDetailMainTabContent" aria-selected="true" href="#ownerDetailMainTabContent">@SharedLocalizer[$"{ownerLabel} Info"] </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="ownerDetailAddressTab" data-toggle="tab" role="tab" aria-controls="ownerDetailAddressTabContent" aria-selected="false" href="#ownerDetailAddressTabContent">@SharedLocalizer["Address"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="ownerDetailPOBoxAddressTab" data-toggle="tab" role="tab" aria-controls="ownerDetailPOBoxAddressTabContent" aria-selected="false" href="#ownerDetailPOBoxAddressTabContent">@SharedLocalizer["PO Box"]</a>
        </li>
        @if (!detailPagePermission.HasLimitedRead)
        {
            <li class="nav-item">
                <a class="nav-link @(string.IsNullOrEmpty(Model.Remarks) ? null : "has-remarks")" id="ownerDetailRemarksTab" data-toggle="tab" role="tab" aria-controls="ownerDetailRemarksTabContent" aria-selected="false" href="#ownerDetailRemarksTabContent">@SharedLocalizer["Remarks"]</a>
            </li>
        }
        @if (!addMode)
        {
            <li class="nav-item">
                <a class="nav-link" id="ownerDetailContactsTab" data-toggle="tab" role="tab" aria-controls="ownerDetailContactsTabContent" aria-selected="false" href="#ownerDetailContactsTabContent">@SharedLocalizer["Contact Persons"]</a>
            </li>            
        }
        @if (isShowCustomFieldOn && Model.SysCustomFieldSettings != null && Model.SysCustomFieldSettings.Any())
        {
            <li class="nav-item">
                <a class="nav-link" id="ownerCustomFieldTab" data-toggle="tab" role="tab" aria-controls="ownerCustomFieldTabContent" aria-selected="false" href="#ownerCustomFieldTabContent">@SharedLocalizer[""]</a>
            </li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane page-content cpiMainEntry show active" id="ownerDetailMainTabContent" role="tabpanel" aria-labelledby="ownerDetailMainTab">
            <div class="form-row">
                <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                    <div class="form-group float-label">
                        <label asp-for="Language"></label>
                        @if (isReadOnly)
                        {
                            <input type="text" class="form-control form-control-sm" asp-for="Language" readonly />
                        }
                        else
                        {
                            @await Component.InvokeAsync("ComboBox", ComboBoxHelper.LanguageWithLink("Language", Model.Language))
                        }
                    </div>
                </div>
            </div>
            <div class="form-row mt-4">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="PhoneNumber"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="PhoneNumber" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="PhoneNumber"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="FaxNumber"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="FaxNumber" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="FaxNumber"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="MobileNumber"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="MobileNumber" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="MobileNumber"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="EMail"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="EMail" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="EMail"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="WebSite"></label>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" asp-for="WebSite" asp-is-readonly="@isReadOnly" />
                            @if (!string.IsNullOrEmpty(Model.WebSite))
                            {
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary p-0 pl-2 pr-2" type="button" onClick="window.open('@Model.WebSite')" title="@SharedLocalizer["Open website in new window."]"><i class="fal fa-external-link"></i></button>
                                </div>
                            }
                        </div>
                        <span asp-validation-for="WebSite"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane page-content cpiMainEntry" id="ownerDetailAddressTabContent" role="tabpanel" aria-labelledby="ownerDetailAddressTab">
            <div class="form-row">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="Address1"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="Address1" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="Address1"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <input type="text" class="form-control form-control-sm" asp-for="Address2" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="Address2"></span>
                </div>
            </div>
            <div class="form-row pt-1">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <input type="text" class="form-control form-control-sm" asp-for="Address3" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="Address3"></span>
                </div>
            </div>
            <div class="form-row pt-1 pb-1">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <input type="text" class="form-control form-control-sm" asp-for="Address4" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="Address4"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="City"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="City" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="City"></span>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-3">
                    <div class="form-group float-label">
                        <label asp-for="State"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="State" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="State"></span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 col-xl-2">
                    <div class="form-group float-label">
                        <label asp-for="ZipCode"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="ZipCode" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="ZipCode"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group float-label">
                        <label asp-for="Country"></label>
                        @if (isReadOnly)
                        {
                            <input type="text" class="form-control form-control-sm" asp-for="Country" disabled />
                        }
                        else
                        {
                            @await Component.InvokeAsync("ComboBox", ComboBoxHelper.CountryWithLink("Country", countryLabel, countryNameLabel, Model.Country, showLinkButton: User.IsInSystem(CountryLookupService.CountrySource)))
                            <span asp-validation-for="Country"></span>
                        }
                    </div>
                </div>
                <div class="col-md-8 col-lg-9 col-xl-7">
                    <div class="form-group float-label">
                        <label for="Country_@(pageId)_Name">@SharedLocalizer["Country Name"]</label>
                        <input type="text" class="form-control form-control-sm" id="Country_@(pageId)_Name" readonly="readonly" asp-for="CountryName" />
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane page-content cpiMainEntry" id="ownerDetailPOBoxAddressTabContent" role="tabpanel" aria-labelledby="ownerDetailPOBoxAddressTab">
            <div class="form-row">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="POAddress1"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="POAddress1" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="POAddress1"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <input type="text" class="form-control form-control-sm" asp-for="POAddress2" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="POAddress2"></span>
                </div>
            </div>
            <div class="form-row pt-1">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <input type="text" class="form-control form-control-sm" asp-for="POAddress3" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="POAddress3"></span>
                </div>
            </div>
            <div class="form-row pt-1 pb-1">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <input type="text" class="form-control form-control-sm" asp-for="POAddress4" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="POAddress4"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-7 col-lg-6 col-xl-4">
                    <div class="form-group float-label">
                        <label asp-for="POCity"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="POCity" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="POCity"></span>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4 col-xl-3">
                    <div class="form-group float-label">
                        <label asp-for="POState"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="POState" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="POState"></span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-2 col-xl-2">
                    <div class="form-group float-label">
                        <label asp-for="POZipCode"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="POZipCode" asp-is-readonly="@isReadOnly" />
                        <span asp-validation-for="POZipCode"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 col-lg-3 col-xl-2">
                    <div class="form-group float-label">
                        <label asp-for="POCountry"></label>
                        @if (isReadOnly)
                        {
                            <input type="text" class="form-control form-control-sm" asp-for="POCountry" disabled />
                        }
                        else
                        {
                            @await Component.InvokeAsync("ComboBox", ComboBoxHelper.CountryWithLink("POCountry", countryLabel, countryNameLabel, Model.POCountry, showLinkButton: User.IsInSystem(CountryLookupService.CountrySource)))
                            <span asp-validation-for="POCountry"></span>
                        }
                    </div>
                </div>
                <div class="col-md-8 col-lg-9 col-xl-7">
                    <div class="form-group float-label">
                        <label for="POCountry_@(pageId)_Name">@SharedLocalizer["Country Name"]</label>
                        <input type="text" class="form-control form-control-sm" id="POCountry_@(pageId)_Name" readonly="readonly" asp-for="POCountryName" />
                    </div>
                </div>
            </div>
        </div>
        @if (!detailPagePermission.HasLimitedRead)
        {
            <div class="tab-pane page-content cpiMainEntry" id="ownerDetailRemarksTabContent" role="tabpanel" aria-labelledby="ownerDetailRemarksTab">
                <div class="form-row">
                    <div class="col">
                        <textarea class="form-control form-control-sm" rows="12" asp-for="Remarks" asp-is-readonly="@isReadOnlyRemarks">Remarks</textarea>
                    </div>
                </div>
            </div>
        }
        @if (!addMode)
        {
            <div class="tab-pane" id="ownerDetailContactsTabContent" role="tabpanel" aria-labelledby="ownerDetailContactsTab">
                @await Html.PartialAsync("_GridContactPersons", childViewModel)
            </div>           
        }
        @if (isShowCustomFieldOn && Model.SysCustomFieldSettings != null && Model.SysCustomFieldSettings.Any())
        {
            <div class="tab-pane" id="ownerCustomFieldTabContent" role="tabpanel" aria-labelledby="ownerCustomFieldTab">
                <div class="page-content cpiMainEntry">
                    <div class="form-row">
                        @foreach (var item in Model.SysCustomFieldSettings)
                        {
                            var customFieldValue = Model.GetType().GetProperty(item.ColumnName).GetValue(Model, null);

                            object htmlAttributes;
                            if (@isReadOnly)
                            {
                                htmlAttributes = new
                                {@@class = "form-control form-control-sm",
                                    @readonly = "true"
                                };
                            }
                            else
                            {
                                htmlAttributes = new
                                {@@class = "form-control form-control-sm"
                                };
                            }

                            <div class="col-md-4">

                                @if (item.EditorType.ToLower() != "checkbox")
                                {
                                    <div class="form-group float-label">
                                        <label>@SharedLocalizer[item.ColumnLabel]</label>
                                        @if (item.EditorType.ToLower() == "textbox")
                                        {
                                            @Html.TextBox(item.ColumnName, customFieldValue, "", htmlAttributes)
                                        }
                                        else if (item.EditorType.ToLower() == "textarea")
                                        {
                                            @Html.TextArea(item.ColumnName, (string)customFieldValue, 10, 0, htmlAttributes)
                                        }
                                        else if (item.EditorType.ToLower() == "combobox")
                                        {
                                            if (isReadOnly)
                                            {
                                                @Html.TextBox(item.ColumnName, customFieldValue, "", htmlAttributes)
                                            }
                                            else
                                            {
                                                @await Component.InvokeAsync("ComboBox", new { name = item.ColumnName, controller = "Owner", defaultValue = (string)customFieldValue })
                                            }

                                        }
                                        else if (item.EditorType.ToLower() == "datepicker")
                                        {
                                            if (isReadOnly)
                                            {
                                                customFieldValue = customFieldValue != null ? ((DateTime?)Convert.ToDateTime(customFieldValue)).FormatToDisplay() : "";
                                                @Html.TextBox(item.ColumnName, customFieldValue, "", htmlAttributes)
                                            }
                                            else
                                            {
                                                @await Component.InvokeAsync("DatePicker", new DatePickerOptions(item.ColumnName) { Screen = pageId.ToString(), Value = customFieldValue == null ? (DateTime?)null : Convert.ToDateTime(customFieldValue) })
                                            }
                                        }

                                    </div>
                                }
                                else
                                {
                                    <div class="form-check form-check-inline">
                                        @if (isReadOnly)
                                        {
                                            @Html.CheckBox(item.ColumnName, customFieldValue == null ? false : Convert.ToBoolean(customFieldValue), new { id = $"{item.ColumnName}_{pageId}", @class = "form-check-input",@disabled="disabled"})
                                        }
                                        else
                                        {
                                            @Html.CheckBox(item.ColumnName, customFieldValue == null ? false : Convert.ToBoolean(customFieldValue), new { id = $"{item.ColumnName}_{pageId}", @class = "form-check-input"})
                                        }
                                        <label class="form-check-label" for="@($"{item.ColumnName}_{pageId}")">@SharedLocalizer[item.ColumnLabel]</label>
                                    </div>
                                }
                            </div>

                        }
                    </div>
                </div>
            </div>
        }
    </div>
    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
        </div>
    }
</form>

<script>
    ownerPage.initialize(@id,'@pageId.ToString()',@((int)CPiEntityType.Owner));
</script>

