@model ChildViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    var settings = await Settings.GetSetting();
    var ownerIdParam = $"{{ownerId: {Model.Id}}}";
    var fullModify = Model.Permission.CanEditRecord && !Model.Permission.CanEditRemarksOnly;
    var genLetterTemplate = $"<span>#=GenAllLettersDescription#</span>#if (GenAllLetters===2 && OwnerContactID > 0 ){{#<i class='far fa-list-alt pl-2 letter-entry' data-owner-id='#=OwnerID#' data-contact-id='#=ContactID#' title='{Localizer["Show Letter Types"]}'></i>#}}#";
    var contactLinkUrl = Url.Action("DetailLink", "ContactPerson", new
    {
        Area = "Shared",
        id = "actualValue"
    });
    var contactNameTemplate = $"<span class='pr-3'>#=kendo.htmlEncode(ContactName)#</span><i class='fal fa-search-plus btn-link contactLink' data-url='{contactLinkUrl}' title='{Localizer["Open Contact Screen"]}'></i>";
    var showLettersOptions = User.IsInSystem(SystemType.Patent) || User.IsInSystem(SystemType.Trademark) || User.IsInSystem(SystemType.GeneralMatter);

    var showPat = User.IsInSystem(SystemType.Patent);
    var showTmk = User.IsInSystem(SystemType.Trademark);
    var showGM = User.IsInSystem(SystemType.GeneralMatter);
}

<div id="ownerContactsContainer" data-unsave-letter-msg="@Localizer["Please save or cancel your letter settings changes first."]">
    @*<span class="mb-2 d-inline-block">@Localizer["Contacts"]</span>*@
    @(Html.Kendo().Grid<OwnerContactViewModel>()
                    .Name("ownerContactsGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(cc => cc.ContactID).ClientTemplate(contactNameTemplate).Width(400)
                                            .HeaderHtmlAttributes(new { title = Localizer["Contact Person"].ToString() })
                                            .EditorTemplateName("ContactDropdown")
                                            .EditorViewData(new { id = "ownerContactsGrid_Contact", onSelect = "ownerPage.contacts_updateName" })
                                            .Editable("ownerPage.isGridColumnEditable")
                                            .HtmlAttributes(new { @class = fullModify ? "editable-cell" : "", title = Localizer["Contact Person"].ToString() });
                        columns.Bound(cc => cc.Default)
                                            .ClientTemplate("<i class='fa fal #: Default ? 'fa-check' : ''#'></i>")
                                            .HeaderHtmlAttributes(new { @class = "-text-center", title = Localizer["Default?"].ToString() })
                                            .Width(100)
                                            .EditorTemplateName("CheckBox")
                                            .Editable("ownerPage.isGridColumnEditable")
                                            .HtmlAttributes(new { @class = fullModify ? "editable-cell" : "", title = Localizer["Default?"].ToString() })
                                            .Visible(showLettersOptions);
                        columns.Bound(m => m.GenAllLetters)
                                            .HeaderHtmlAttributes(new { title = Localizer["Send Letters?"].ToString() })
                                            .EditorTemplateName("LetterOptions")
                                            .EditorViewData(new { onSelect = "ownerPage.contacts_updateName" })
                                            .ClientTemplate(genLetterTemplate)
                                            .Editable("ownerPage.isGridColumnEditable")
                                            .Width(150)
                                            .HtmlAttributes(new { @class = fullModify ? "editable-cell" : "", title = Localizer["Send Letters?"].ToString() })
                                            .Visible(showLettersOptions);
                        columns.Bound(m => m.LetterSendAs)
                                            .ClientTemplate("#=kendo.htmlEncode(LetterSendAsDescription)#")
                                            .HeaderHtmlAttributes(new { title = Localizer["Send As"].ToString() })
                                            .EditorTemplateName("SendAsOptions")
                                            .EditorViewData(new { onSelect = "ownerPage.contacts_updateName" })
                                            .Editable("ownerPage.isGridColumnEditable")
                                            .Width(150)
                                            .HtmlAttributes(new { @class = fullModify ? "editable-cell" : "", title = Localizer["Send As"].ToString() })
                                            .Visible(showLettersOptions);
                            columns.Bound(cc => cc.IsPatentContact)
                                                .ClientTemplate("<i class='fa fal #: IsPatentContact ? 'fa-check' : ''#'></i>").HtmlAttributes(new { @class = "text-center" })
                                                .HeaderHtmlAttributes(new { @class = "-text-center", title = Localizer["Patent Contact"].ToString() })
                                                .Width(100)
                                                .EditorTemplateName("CheckBox")
                                                .Editable("ownerPage.isGridColumnEditable")
                                                .HtmlAttributes(new { @class = fullModify ? "editable-cell" : "", title = Localizer["Patent Contact"].ToString() })
                                                .Visible(showPat);
                            columns.Bound(cc => cc.IsTrademarkContact)
                                                .ClientTemplate("<i class='fa fal #: IsTrademarkContact ? 'fa-check' : ''#'></i>").HtmlAttributes(new { @class = "text-center" })
                                                .HeaderHtmlAttributes(new { @class = "-text-center", title = Localizer["Trademark Contact"].ToString() })
                                                .Width(100)
                                                .EditorTemplateName("CheckBox")
                                                .Editable("ownerPage.isGridColumnEditable")
                                                .HtmlAttributes(new { @class = fullModify ? "editable-cell" : "", title = Localizer["Patent Contact"].ToString() })
                                                .Visible(showTmk);
                            columns.Bound(cc => cc.IsGeneralMatterContact)
                                                .ClientTemplate("<i class='fa fal #: IsGeneralMatterContact ? 'fa-check' : ''#'></i>").HtmlAttributes(new { @class = "text-center" })
                                                .HeaderHtmlAttributes(new { @class = "-text-center", title = Localizer["General Matter Contact"].ToString() })
                                                .Width(100)
                                                .EditorTemplateName("CheckBox")
                                                .Editable("ownerPage.isGridColumnEditable")
                                                .HtmlAttributes(new { @class = fullModify ? "editable-cell" : "", title = Localizer["General Matter Contact"].ToString() })
                                                .Visible(showGM);
                        columns.Command(command =>
                        {
                            if (Model.Permission.CanDeleteRecord)
                                command.Custom("Delete")
                                        .Click("function(e) {ownerPage.deleteGridRow(e,this)}")
                                        .IconClass("k-icon fal fa-trash-alt")
                                        .Text($"<span class='grid-action-label'>{Localizer["Delete"]}</span>")
                                        .HtmlAttributes(new { @class = "grid-action" });

                        }).Width(10);
                    })
                    .Events(events =>
                    {
                        events.Change("ownerPage.contacts_onRowSelect");
                        events.Remove("ownerPage.contacts_onRemove");
                        events.Edit("ownerPage.contacts_onEdit");
                    })
                    .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                    .ToolBar(toolbar =>
                    {
                        if (fullModify)
                        {
                            toolbar.Create().IconClass("k-icon fal fa-plus").Text(Localizer["Add"])
                                .HtmlAttributes(new { @class = "grid-action" });
                        }
                        if (Model.Permission.CanEditRecord && !Model.Permission.CanEditRemarksOnly)
                        {
                            toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(Localizer["Save"]).HtmlAttributes(new { @class = "d-none" });
                            toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(Localizer["Cancel"]).HtmlAttributes(new { @class = "d-none" });
                        }

                    })
                    .Editable(editable => editable.Enabled(Model.Permission.CanEditRecord && !Model.Permission.CanEditRemarksOnly)
                                .Mode(GridEditMode.InCell).
                                ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
                    .Sortable(sort => sort.AllowUnsort(false))
        .Pageable(page => page.Responsive(false))
        //.Scrollable()
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Batch(true)
                    //.Batch(Model.Permission.CanEditRecord && !Model.Permission.CanEditRemarksOnly)
                    .PageSize(settings.SubFormPageSize)
                    .ServerOperation(false)
                    .Model(model =>
                    {
                        model.Id(c => c.OwnerContactID);
                        model.Field(c => c.GenAllLetters).DefaultValue(1);
                        model.Field(c => c.LetterSendAs).DefaultValue("T");
                        model.Field(c => c.IsPatentContact).DefaultValue(false);
                        model.Field(c => c.IsTrademarkContact).DefaultValue(false);
                        model.Field(c => c.IsGeneralMatterContact).DefaultValue(false);
                    })
                    .Read(create => create.Action("ContactsRead", "Owner").Data(@ownerIdParam))
                    .Update(create => create.Action("ContactsUpdate", "Owner").Data(@ownerIdParam))
                    .Destroy(create => create.Action("ContactsDelete", "Owner"))
                    .Events(events =>
                    {
                        events.Error("page.gridErrorHandler");
                    })
                    )
                    .HtmlAttributes(new { @class = "mb-2 kendo-Grid" })
)
</div>
<div class="col-md mt-5" style="display:none;" id="ownerContactLetters">
    <span class="mb-2 d-inline-block">@Localizer["Please enter the specific letters to send to the selected contact."]</span>
    @(Html.Kendo().Grid<LetterEntitySettingViewModel>()
                    .Name("ownerContactLettersGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(ls => ls.LetterCategory).ClientTemplate("#=kendo.htmlEncode(LetterCategory.LetCatDesc)#").Width(200);
                        columns.Bound(ls => ls.LetterSendAs).EditorTemplateName("SendAsOptions")
                               .ClientTemplate("#=kendo.htmlEncode(LetterSendAsDescription)#")
                               .EditorViewData(new { onSelect = "ownerPage.letters_updateName" });

                        columns.Command(command =>
                        {
                            if (Model.Permission.CanDeleteRecord)
                                command.Custom("Delete").Click("function(e) {ownerPage.deleteGridRow(e,this)}").IconClass("k-icon fal fa-trash-alt");
                        }).Width(10);
                    })
                    .ToolBar(toolbar =>
                    {
                        if (fullModify)
                        {
                            toolbar.Create().IconClass("k-icon fal fa-plus").Text(Localizer["Add"]);
                        }
                        if (fullModify)
                        {
                            toolbar.Custom().Name("Save").IconClass("k-icon fal fa-save").Text(Localizer["Save"]).HtmlAttributes(new { @class = "d-none" });
                            toolbar.Custom().Name("Cancel").IconClass("k-icon fal fa-times").Text(Localizer["Cancel"]).HtmlAttributes(new { @class = "d-none" });

                        }

                    })
                    .Editable(editable => editable.Enabled(Model.Permission.CanEditRecord && !Model.Permission.CanEditRemarksOnly)
                                .Mode(GridEditMode.InCell).ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
                    .AutoBind(false)
                    .DataSource(dataSource => dataSource
                    .Ajax()
                    .Batch(true)
                    //.Batch(Model.Permission.CanEditRecord && !Model.Permission.CanEditRemarksOnly)
                    .ServerOperation(false)
                    .Model(model =>
                    {
                        model.Id(ls => ls.SettingId);
                        model.Field(c => c.LetterCategory).DefaultValue(new LetterCategory { LetCatDesc = "" });
                        model.Field(c => c.LetterSendAs).DefaultValue("T");
                    })
                    .Read(create => create.Action("SettingRead", "LetterEntitySetting").Data("ownerPage.getContactLettersFilter"))
                    .Update(create => create.Action("SettingsUpdate", "LetterEntitySetting"))
                    .Destroy(create => create.Action("SettingDelete", "LetterEntitySetting"))
                    .Events(events =>
                    {
                        events.Error("page.gridErrorHandler");
                    })
                    )
                    .Events(events =>
                        {
                            events.Edit("ownerPage.letters_onEdit");
                    })
                    .HtmlAttributes(new { @class = "kendo-Grid" })
        )
</div>
<style>
    #ownerContactsGrid tr.k-state-selected.contact-selected {
        background-color: var(--grid-hover) !important;
    }
</style>
