@model PageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@{
    var countryLabel = Localizer["Country"];
    var countryNameLabel = Localizer["Country Name"];
}

<div class="tab-content search page-content">
    <div class="tab-pane show active" id="areaSearchMainTabContent" aria-labelledby="areaSearchMainTab" role="tabpanel">
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Area">@Localizer["Area"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Area" })
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group float-label">
                    <label for="Description">@Localizer["Description"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Description" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Country">@Localizer["Member Country"]</label>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.SharedCountry("Country", countryLabel, countryNameLabel, "PatCountryAreas"))
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group float-label">
                    <label for="CountryName">@Localizer["Member Country Name"]</label>
                    @await Component.InvokeAsync("ComboBox", ComboBoxHelper.SharedCountryName("CountryName", "PatCountryAreas"))
                </div>
            </div>
        </div>
        <div class="form-row mt-4">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="CreatedBy">@Localizer["Created By"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "CreatedBy" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="DateCreatedFrom">@Localizer["Date Created From"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DateCreatedFrom"))
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="DateCreatedTo">@Localizer["Date Created To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("DateCreatedTo"))
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="UpdatedBy">@Localizer["Updated By"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "UpdatedBy" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="LastUpdateFrom">@Localizer["Last Update From"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("LastUpdateFrom"))
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="LastUpdateTo">@Localizer["Last Update To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("LastUpdateTo"))
                </div>
            </div>
        </div>
    </div>
</div>