@using R10.Web.Views.Shared.Components.ListBox


@model ListBoxOptions
@{
    var headerTemplate = Model.HeaderTemplate.Length > 0 ? Model.HeaderTemplate : "<span></span>";
    var itemTemplate = "<span class='k-state-default' style='background-color: green'>#: data #</span>";// class='k-state-default'
                                                                                                       //var dataTextProperty = "";

    if (!string.IsNullOrEmpty(Model.DataTextProperty)) // && Model.DataTextProperty != Model.DataValueProperty || Model.EnablePaging)
    {
        itemTemplate = $"<span class='k-state-default' style='background-color: green'>#: data.{Model.DataTextProperty} #</span>";// class='k-state-default'
                                                                                                                                 //dataTextProperty = Model.DataTextProperty;
    }

    itemTemplate = Model.ItemTemplate.Length > 0 ? Model.ItemTemplate : itemTemplate;


    //var onSelect = Model.OnSelect.Length > 0 ? Model.OnSelect : "function(e) { page.doNothing(); }";
    var onOpen = Model.OnOpen.Length > 0 ? Model.OnOpen : "function(e) {{ if (this.element.data('fetched')===0) {{this.dataSource.read();}} this.element.data('fetched',1);}}";
    //getPagedComboBoxValue causes issues when there is default value ??
    //---list data is filtered to default value
    //---can't locate default value when paging is enabled
    //var additionalData = Model.Data.Length > 0 ? Model.Data : "function() { { return page.getPagedComboBoxValue('" + Model.Id + "'); } }";
    //var additionalData = Model.Data;
    var additionalData = Model.Data.Length > 0 ? Model.Data : Model.EnablePaging ? "function() { { return pageHelper.getPagedComboBoxValue('" + Model.Id + "'); } }" : "";

    var pageSize = (Model.PageSize > 0) ? Model.PageSize : 8000;
    //var textProperty = string.IsNullOrEmpty(Model.DataTextProperty) ? Model.DataValueProperty : Model.DataTextProperty;

    IDictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    IDictionary<string, object> htmlAttributes4Target = new Dictionary<string, object>();
    htmlAttributes.Add("style", "width: " + Model.Width.ToString() + "%; height: " + Model.Height);
    htmlAttributes.Add("id", Model.Name+ "_Selected");
    //htmlAttributes.Add("selected", "false");
    htmlAttributes4Target.Add("style", "width: " + Model.Width.ToString() + "%; height: " + Model.Height);
    htmlAttributes4Target.Add("id", Model.Name + "_Selected");
    var tempId = Model.Name + "_Selected";
    //htmlAttributes.Add("defaultSelected", false);
    if (Model.Required) { htmlAttributes.Add("required", "required"); }

    //kendo
    //if (!string.IsNullOrEmpty(Model.ValidationMessage)) { htmlAttributes.Add("validationmessage", Model.ValidationMessage); }

    //bootstrap
    if (!string.IsNullOrEmpty(Model.ValidationMessage)) { htmlAttributes.Add("data-val", "true"); }
    if (!string.IsNullOrEmpty(Model.ValidationMessage)) { htmlAttributes.Add("data-val-required", Model.ValidationMessage); }

    if (!string.IsNullOrEmpty(Model.LimitToListMessage)) { htmlAttributes.Add("data-invalid", Model.LimitToListMessage); }
    //htmlAttributes.Add("Style", "height:300px");
    Microsoft.AspNetCore.Routing.RouteValueDictionary dataRouteValues = new Microsoft.AspNetCore.Routing.RouteValueDictionary(
new { property = Model.DataTextProperty, filterType = Model.ListFilterType, requiredRelation = Model.RequiredRelation });

    Microsoft.AspNetCore.Routing.RouteValueDictionary linkRouteValues = new Microsoft.AspNetCore.Routing.RouteValueDictionary(
        new { id = "actualValue" });

    if (!string.IsNullOrEmpty(Model.Area))
    {
        dataRouteValues.Add("area", Model.Area);
        linkRouteValues.Add("area", Model.Area);
    }
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

    if (!string.IsNullOrEmpty(Model.Controller))
    {
        controllerName = Model.Controller;
    }
    var linkButtonUrl = string.IsNullOrEmpty(Model.LinkButtonUrl) ? Url.Action("DetailLink", controllerName, linkRouteValues) : Model.LinkButtonUrl;

    //multiple style = "height:@Model.Height;width:@Model.Width%"
}

<div class="cpi-listbox d-flex">

    <select id="@tempId" Name="@tempId" multiple style = "height:@Model.Height;width:@Model.Width%"></select>
    <script>
        @*$('#@tempId').select({
            ajax: {
                url: '@Url.Action(Model.Action, controllerName, dataRouteValues)',
                type: 'GET'
                // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
            }
        });*@
        $.getJSON('@Url.Action(Model.Action, controllerName, dataRouteValues)', function (data) {
                $.each(data, function (index, value) {
                    // APPEND OR INSERT DATA TO SELECT ELEMENT.
                    $('#@tempId').append('<option value="' + value.@Model.Property + '">' + value.@Model.Property + '</option>');
                });
            });
    </script>

   
    @*@(Html.Kendo().ListBox()
                        .Name(Model.Name + "_Selected")//_Options
                        .DataTextField(Model.DataTextProperty)
                        .DataValueField(Model.DataValueProperty)
                        //.Toolbar(toolbar =>
                        //{
                        //    toolbar.Tools(tools => tools
                        //                    .TransferTo()
                        //                    .TransferFrom()
                        //                    .TransferAllTo()
                        //                    .TransferAllFrom()
                        //                );
                        //})
                        //.ConnectWith(Model.Name + "_Selected")
                        .DataSource(source =>
                        {
                            if (Model.EnablePaging)
                            {
                                source.Ajax().PageSize(pageSize);
                            }
                            source.Read(read =>
                            {
                                read.Action(Model.Action, controllerName, dataRouteValues)
                                    .Data(additionalData);

                            })
                            .ServerFiltering(Model.ServerFiltering || Model.EnablePaging)

                            ;
                        })
                        //.BindTo(Model.test)
                        .Template(itemTemplate)
                                .Selectable(ListBoxSelectable.Multiple)
                                .HtmlAttributes(htmlAttributes)
        )*@

    @*@(Html.Kendo().ListBox()
                            .Name(Model.Name + "_Selected")
                            .BindTo(new List<string>())
                            .Selectable(ListBoxSelectable.Multiple)
                            .DataTextField(Model.DataTextProperty)
                            .DataValueField(Model.DataValueProperty)
                .HtmlAttributes(htmlAttributes4Target)
        )*@
</div>

    @*<input asp-for=@Model.Name id=@Model.Name type="text" hidden value="" />*@

    @if (Model.ListWidth > 0)
    {
        <style>
        @@media screen and (min-width: 576px) {
            #@Model.Id-list {
                width: @(Model.ListWidth)px !important;
            }
        }
        </style>
    }

