@model MailDataMapDetailViewModel
@inject IStringLocalizer<AdminResource> Localizer
@{
    var addMode = Model.Id == 0;
    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var screen = ViewData["PageId"];
    var isReadOnly = addMode ? false : !detailPagePermission.CanEditRecord;
}

<form cpi-detail-form action="Save">
    <input asp-for="Id" class="form-control" value="@Model.Id" hidden />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>
    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group float-label">
                            <label asp-for="Name"></label>
                            <input type="text" class="form-control form-control-sm" asp-for="Name" asp-is-readonly="@isReadOnly" />
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group float-label">
                            <label for="@(screen)_AttributeId">@Localizer["Field Name"]</label>
                            @if (isReadOnly)
                            {
                                <input type="text" class="form-control form-control-sm" asp-for="AttributeName" disabled />
                            }
                            else
                            {
                                @(Html.Kendo().DropDownList()
                                    .Name("AttributeId")
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetMaps", "MailDataMap");
                                        });
                                    })
                                    //.AutoBind(false)
                                    .Value(Model.AttributeId.ToString())
                                    .HtmlAttributes(new { id = $"{screen}_AttributeId" })
                                    )
                                <span asp-validation-for="AttributeId"></span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (!addMode)
    {
        <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" role="tablist">
            <li class="nav-item">
                <a id="mapPatternsTab" href="#mapPatternsTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="mapPatternsTabContent" title="@Localizer["Patterns"]">@Localizer["Patterns"]</a>
            </li>
        </ul>
        <div class="tab-content detail">
            <div class="tab-pane active show" id="mapPatternsTabContent" role="tabpanel" aria-labelledby="mapPatternsTab">
                @await Html.PartialAsync("_GridMapPatterns", Model.Id)
            </div>
        </div>
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
        </div>
    }
</form>

<script>
    @(ViewBag.ActivePage).editableGrids =[
        {
            name: 'mapPatterns', isDirty: false, filter: { id: "@Model.Id" },
            afterSubmit: @(ViewBag.ActivePage).updateRecordStamps
        }
    ];
</script>

