@using R10.Web.Areas.Shared.ViewModels.ReportScheduler
@model RSMainCopyViewModel
@inject ISystemSettings<TmkSetting> Settings
@inject IStringLocalizer<SharedResource> Localizer
@{
    var screen = "RSMainCopy";

}


<div class="modal fade" id="rSScheduleCopyDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">@Localizer["Copy Schedule"]</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="rSCopyBody" data-url-copy="@Url.Action("CopySchedule", "ReportScheduler", new { id=Model.CopyTaskId})" data-url-detail="@Url.Action("Detail", "ReportScheduler")">
                    <div class="container-fluid">
                        <input type="hidden" asp-for="CopyTaskId" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group float-label">
                                    <label asp-for="CopyScheduleName"></label>
                                    <input type="text" class="form-control form-control-sm" asp-for="CopyScheduleName" />
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <h5>@Localizer["Data to Copy:"]</h5>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" class="k-checkbox" asp-for="CopyActions">
                                    <label class="k-checkbox-label" asp-for="CopyActions"></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" class="k-checkbox" asp-for="CopyCriteria">
                                    <label class="k-checkbox-label" asp-for="CopyCriteria"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" class="k-checkbox" asp-for="CopyPrintOptions">
                                    <label class="k-checkbox-label" asp-for="CopyPrintOptions"></label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input type="checkbox" class="k-checkbox" asp-for="CopySettings">
                                    <label class="k-checkbox-label" asp-for="CopySettings"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Cancel"]</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" id="rSCopyButton"><i class="fa fa-check pr-2"></i>@Localizer["Copy"]</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        ReportSchedulerPage.showCopyScreen();
    });
</script>
