@inject ISystemSettings<TmkSetting> Settings
@inject IStringLocalizer<SharedResource> Localizer
@{
    var screen = "SchedulerCriteriaHelp";
    var isTrademarkOn = User.IsInSystem(SystemType.Trademark);
}

<div class="modal fade show" id="criteriaHelpDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <table border="1" width="100%" cellpadding="3" cellspacing="0">
                <tr>
                    <td class="DetailLabelRequired" width="20%">@Localizer["Field"]</td>
                    <td class="DetailLabelRequired" width="40%">@Localizer["Criteria"]</td>
                    <td class="DetailLabelRequired" width="40%">@Localizer["Description/Example"]</td>
                </tr>
                <tr>
                    <td class="DetailLabel">@Localizer["Any Singular Field"]</td>
                    <td class="DetailLabel">@Localizer["Single Criteria"]</td>
                    <td class="DetailLabel">@Localizer["US"]</td>
                </tr>
                <tr>
                    <td class="DetailLabel">@Localizer["Any Plural Field"]</td>
                    <td class="DetailLabel">@Localizer["Multiple criteria separated by commas"]</td>
                    <td class="DetailLabel">@Localizer["US,CA,EP"]</td>
                </tr>
                <tr>
                    <td class="DetailLabel">@Localizer["Status Code"]</td>
                    <td class="DetailLabel">@Localizer["Enter Active for active or Inactive for inactive or All for all"]</td>
                    <td class="DetailLabel">@Localizer["Active"]</td>
                </tr>
                <tr>
                    <td class="DetailLabel">@Localizer["Operator"]</td>
                    <td class="DetailLabel">@Localizer["= or <>"]</td>
                    <td class="DetailLabel">@Localizer["<>"]</td>
                </tr>
                <tr>
                    <td class="DetailLabel">@Localizer["Filter Attorney"]</td>
                    <td class="DetailLabel">@Localizer["A1,A2,A3,AR separated by commas."]</td>
                    <td class="DetailLabel">@Localizer["List is the equivalent of checking the box to include that field on the Due Date List."]</td>
                </tr>
                <tr>
                    <td class="DetailLabel">@Localizer["Print Systems"]</td>
                    <td class="DetailLabel">@Localizer["Select P for Patent, T for Trademark, G for General Matters, and A for AMS"]</td>
                    <td class="DetailLabel">@Localizer["P,T,G,A"]</td>
                </tr>
                @* @if (isTrademarkOn)
                {
                    <tr>
                        <td class="DetailLabel">@Localizer["Class/Goods"]</td>
                        <td class="DetailLabel">@Localizer["Classes Only, Goods Only, Classes and Goods, or Don't Print. Don't Print is default."]</td>
                        <td class="DetailLabel">@Localizer["Classes and Goods"]</td>
                    </tr>
                } *@
                <tr>
                    <td class="DetailLabel">@Localizer["Layout Format"]</td>
                    <td class="DetailLabel">@Localizer["Comprehensive or Concise. Comprehensive is default format"]</td>
                    <td class="DetailLabel">@Localizer["Concise"]</td>
                </tr>
                <tr>
                    <td class="DetailLabel">@Localizer["Wild Cards"]</td>
                    <td class="DetailLabel">@Localizer["Wild Cards can be used on Singular fields."]</td>
                    <td class="DetailLabel">@Localizer["For example, if you want all action types that begin with US enter US*."]</td>
                </tr>
            </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-close"><i class="fa fa-times-circle pr-2"></i>@Localizer["Close"]</button>
                </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const popupContainer = $(".site-content .popup").last();
        const dialogContainer = popupContainer.find("#criteriaHelpDialog");
        dialogContainer.modal("show");
        $(dialogContainer).on("click",".btn-close,.close",()=> {
            dialogContainer.modal("hide");
        });
    });
</script>