@model Brand
@inject IStringLocalizer<SharedResource> SharedLocalizer
@{
    var id = Model.BrandId;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnly = !fullModify;
    bool isReadOnlyRemarks = !(fullModify || detailPagePermission.CanEditRemarksOnly);
}
<form cpi-detail-form action="@(detailPagePermission.CanEditRemarksOnly ? "SaveRemarks" :"Save")">
    <input type="hidden" asp-for="BrandId" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content  detail cpiMainEntry">
        <div class="form-row">
            <div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="BrandName"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="BrandName" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="BrandName"></span>
                </div>
            </div>
            <div class="col col-sm-7 col-md-8 col-lg-6 col-xl-4">
                <div class="form-group float-label">
                    <label asp-for="BrandType"></label>
                    @if (isReadOnly)
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="BrandType" disabled />
                    }
                    else
                    {
                        @(Html.Kendo().DropDownList()
                                        .Name("BrandType")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .BindTo(new List<SelectListItem>() {
                                                new SelectListItem() { Text = SharedLocalizer["Product"], Value = "Product" },
                                                new SelectListItem() { Text = SharedLocalizer["Service"], Value = "Service" },
                                        })
                                        .Value(Model.BrandType)
                                        .HtmlAttributes(new { style = "width: 100%" })
                        )
                        <span asp-validation-for="BrandType"></span>
                    }
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col col-sm-12 col-md-12 col-lg-9 col-xl-6">
                <div class="form-group float-label">
                    <label asp-for="Remarks"></label>
                    <textarea class="form-control form-control-sm" rows="10" asp-for="Remarks" asp-is-readonly="@isReadOnlyRemarks">Remarks</textarea>
                </div>
            </div>
        </div>
    </div>


    @*<ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" role="tablist">
        @if (!detailPagePermission.HasLimitedRead)
        {
            <li class="nav-item">
                <a class="nav-link active @(string.IsNullOrEmpty(Model.Remarks) ? null : "has-remarks")" id="DetailRemarksTab" data-toggle="tab" role="tab" aria-controls="DetailRemarksTabContent" aria-selected="false" href="#DetailRemarksTabContent">@SharedLocalizer["Remarks"]</a>
            </li>
        }
    </ul>
    <div class="tab-content">
        @if (!detailPagePermission.HasLimitedRead)
        {
            <div class="tab-pane page-content cpiMainEntry active" id="DetailRemarksTabContent" role="tabpanel" aria-labelledby="DetailRemarksTab">
                <div class="form-row">
                    <div class="col">
                        <textarea class="form-control form-control-sm" rows="12" asp-for="Remarks" asp-is-readonly="@isReadOnlyRemarks">Remarks</textarea>
                    </div>
                </div>
            </div>
        }
    </div>*@

    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
        </div>
    }
</form>
