@model AgentCEFee
@inject IStringLocalizer<SharedResource> Localizer
@{
    var isCPIAdmin = User.IsSuper();
    var costFactor1Label = Localizer["Estimated number of words per page"];
    var costFactor2Label = Localizer["Estimated fee"];
    var costFactor3Label = Localizer["word"];
    var disclaimer1Label = Localizer["If the translation cost is per word, enter the estimated fee per 1 word."];
    var disclaimer2Label = Localizer["If the translation cost is per page, enter the estimated number of words per page and the estimated number of words to apply the estimated fee. For instance, if there are 300 words on each page, the estimated fee applies to every 100 words."];
}
<div class="modal-body agentCEFeeEditor">
    @Html.HiddenFor(model => model.FeeID)    
    <div class="editor-content-wrapper">
        <div class="form-group">            
            <div class="form-row">
                <div class="col-2">
                    <div class="form-row float-label">
                        <label for="Country">@Localizer["Country"]</label>                                                  
                        @(Html.Kendo().ComboBox()
                            .Name("Country")
                            .DataTextField("Text")
                            .DataValueField("Text")                            
                            .ValuePrimitive(true)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetCECountryCurrencyList","Country", new { area = "Shared", property = "Country" });
                                });
                            })
                            .HeaderTemplate(ComboBoxHelper.GetHeaderTemplate(new Dictionary<string, int>() { { Localizer["Country"], 150 }, { Localizer["Country Name"], 450 } }) )
                            .Template(ComboBoxHelper.GetItemTemplate(new Dictionary<string, int>() { { "Text", 150 }, { "Value", 450 } }) )
                            .AutoWidth(true)
                        )                                             
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-row float-label">
                        <label for="SystemTypeName">@Localizer["System Type"]</label>                                                  
                        @(Html.Kendo().ComboBox()
                            .Name("SystemTypeName")
                            .DataTextField("Text")
                            .DataValueField("Text")                            
                            .ValuePrimitive(true)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetSystemTypeList","Agent", new { area = "Shared", property = "Text" });
                                });
                            })                            
                        )                                             
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-row float-label">
                        <label for="CostType">@Localizer["Fee Type"]</label>
                        @(Html.Kendo().ComboBox()
                            .Name("CostType")
                            .DataTextField("Text")
                            .DataValueField("Text")
                            .ValuePrimitive(true)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetCostTypeList", "Agent", new { area = "Shared", property = "Text" });
                                });
                            })
                            )
                    </div>
                </div>                                
            </div>
            <div class="form-row">
                <div class="col-2">
                    <div class="form-row float-label">
                        <label for="CurrencyType">@Localizer["Currency Type"]</label>                                                  
                        @(Html.Kendo().ComboBox()
                            .Name("CurrencyType")
                            .DataTextField("CurrencyType")
                            .DataValueField("CurrencyType")                            
                            .ValuePrimitive(true)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetCurrencyTypeList","CurrencyType", new { area = "Shared", property = "CurrencyType" });
                                });
                            })
                            .HeaderTemplate(ComboBoxHelper.GetHeaderTemplate(new Dictionary<string, int>() { { Localizer["Currency Code"], 150 }, { Localizer["Currency Name"], 450 } }) )
                            .Template(ComboBoxHelper.GetItemTemplate(new Dictionary<string, int>() { { "CurrencyType", 150 }, { "Description", 450 } }))
                            .AutoWidth(true)
                        )                                             
                    </div>
                </div>
                <div class="col-2 amountDiv">
                    <div class="form-row float-label">
                        <label for="Amount">@Localizer["Amount"]</label>
                        @(Html.Kendo().NumericTextBox<decimal>()
                        .Name("Amount")
                        .Decimals(2)
                        .Format("{0:N}")
                        .Min(0)
                    )
                    </div>
                </div>
                <div class="col-md-2" style="display: none;" id="translationTypeDiv">
                    <div class="form-row float-label">
                        <label for="TranslationType">@Localizer["Translation Type"]</label>                                                  
                        @(Html.Kendo().DropDownList()
                        .Name("TranslationType")
                        .DataTextField("Text")
                        .DataValueField("Value")                        
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetTranslationTypeList","Agent");
                            });
                        })                        
                        )                                                  
                    </div>
                </div>
                <div class="col-3 originatingLanguageDiv" style="display: none;">
                    <div class="form-row float-label">
                        <label for="OriginatingLanguage">@Localizer["Originating Language"]</label>                                                  
                        @Html.EditorFor(model => model.OriginatingLanguage, new { maxLength = 125 })
                    </div>
                </div>
            </div>
        </div>        
        <br />
        <div class="form-row" style="display: none;" id="costFactorSettings">
            <div class="d-flex align-items-center">
                <div class="costFactor1Div me-1 px-1">
                    <span id="costFactor1Label">@costFactor1Label</span>
                </div>
                <div class="costFactor1Div me-3">
                    @(Html.Kendo().NumericTextBox<decimal>()
                        .Name("CostFactor1")
                        .Decimals(0)
                        .Format("0")
                        .Min(1)
                    )
                </div>
                <div class="costFactor2Div me-1 px-1">
                    <span>@costFactor2Label</span>
                </div>
                <div class="costFactor2Div me-3">
                    @Html.EditorFor(model => model.CostFactor2, "Double")
                </div>
                <div class="costFactor3Div d-flex align-items-center">
                    <span class="me-1 px-1">@Localizer["per"]</span>
                    @(Html.Kendo().NumericTextBox<decimal>()
                        .Name("CostFactor3")
                        .Decimals(0)
                        .Format("0")
                        .Min(1)
                    )
                    <span class="ms-1 px-1">@costFactor3Label</span>
                </div>
            </div>
            <div class="form-row" style="padding-top:20px;">
                <div class="col">
                    <span id="disclaimer1Label">@disclaimer1Label</span>
                </div>
            </div>
            <div class="form-row" style="padding-top:10px;">
                <div class="col">
                    <span id="disclaimer2Label">@disclaimer2Label</span>
                </div>
            </div>
        </div>
    </div>     
    <div class="k-edit-form-footer">
        <div class="record-stamp">
            <div class="form-row">
                <div class="col-sm-6 col-lg-2">
                    <div class="form-group float-label active">
                        <label for="CreatedBy">@Localizer["Created By"]</label>
                        <input type="text" class="form-control form-control-sm" disabled asp-for="CreatedBy" style="height:25px !important;"/>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group float-label active">
                        <label for="DateCreated">@Localizer["Date Created"]</label>                                                    
                        <input type="text" class="form-control form-control-sm" disabled asp-for="DateCreated" style="height:25px !important;" />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="form-group float-label active">
                        <label for="UpdatedBy">@Localizer["Updated By"]</label>
                        <input type="text" class="form-control form-control-sm" disabled asp-for="UpdatedBy" style="height:25px !important;"/>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="form-group float-label active">
                        <label for="LastUpdate">@Localizer["Last Update"]</label>
                        <input type="text" class="form-control form-control-sm" disabled asp-for="LastUpdate" style="height:25px !important;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>