@using R10.Core.Entities.ReportScheduler
@using System.Net
@model RSAction
@inject ISystemSettings<TmkSetting> Settings
@inject ITmkCountryLawService CountryLawService
@inject IStringLocalizer<SharedResource> Localizer

@{
    var settings = await Settings.GetSetting();

    var enableComboPaging = settings.EnableComboBoxPaging;
    var comboPagingSize = settings.ComboBoxPagingSize;

    var addMode = Model.ActionId == 0;

    var screen = "ActionEntry";
    var OnlyAllowEnabled = ViewBag.ReportId == 7 || ViewBag.ReportId == 8;
    var emailBody = WebUtility.HtmlDecode(Model.EmailBody);
    var emailHeader = WebUtility.HtmlDecode(Model.EmailHeader);
    var emailFooter = WebUtility.HtmlDecode(Model.EmailFooter);
}

<div class="modal fade" id="rSActionEntryDialog" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form method="post" asp-action="ActionSave" id="RSActionEntryForm"
            data-save-message="@Localizer["Record has been saved successfully."]"
            data-sort-order-url="@Url.Action("GetSortOrderList", "RSAction", new { Area="Shared"})">
                <div class="modal-header">
                    @if (addMode)
                    {
                        <h4 class="modal-title">@Localizer["Add Schedule Action"]</h4>
                    }
                    else
                    {
                        <h4 class="modal-title">@Localizer["Edit Schedule Action"]</h4>
                    }

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <input type="hidden" asp-for="TaskId" />
                        <input type="hidden" asp-for="ActionId" />

                        @if (!addMode)
                        {
                            <input type="hidden" name="tStamp" value="@Convert.ToBase64String(Model.tStamp)" />
                        }

                        <div class="row col-md-12">
                            <div class="col-md-6 @(OnlyAllowEnabled ? "d-none" : null)">
                                <div class="form-group float-label">
                                    <label class="required" asp-for="ActionTypeId"></label>
                                    @await Component.InvokeAsync("ComboBox", new { name = "ActionTypeId", controller = "RSAction", action = "GetActionTypeList", area = "Shared", textProperty = "Name", valueProperty = "ActionTypeId", defaultValue = Model.ActionTypeId != 0 ? Model.ActionTypeId.ToString() : "1", defaultText = Model.ActionTypeId <= 1 ? "Email" : (Model.ActionTypeId == 2 ? "FTP Upload" : ""), screen = screen })
                                    <span asp-validation-for="ActionTypeId"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" custom-control custom-checkbox">
                                    <input asp-for="IsEnabled" />
                                    <label>
                                        @Localizer["Enabled"]
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12 @(OnlyAllowEnabled ? "d-none" : null)">
                            <div class="col-md-6">
                                <div class="form-group float-label">
                                    <label class="required" asp-for="OutputFormat"></label>
                                    @await Component.InvokeAsync("ComboBox", new { name = "OutputFormat", property = "FileFormat", controller = "RSAction", action = "GetFileFormatList", area = "Shared", textProperty = "FileFormat", valueProperty = "FileFormat", defaultValue = Model.OutputFormat, defaultText = Model.OutputFormat })
                                    <span asp-validation-for="OutputFormat"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group float-label">
                                    <label class="required" asp-for="SortOrder"></label>
                                    @await Component.InvokeAsync("ComboBox", new { name = "SortOrder", controller = "RSAction", action = "GetSortOrderList", area = "Shared", defaultValue = Model.SortOrder, defaultText = Model.SortOrder, screen = screen })

                                    <span asp-validation-for="SortOrder"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row @(OnlyAllowEnabled ? "d-none" : null)">
                            <div id="emailOptions" class="col-sm-12">
                                <div id="attorneyOptOptions" class="input-group input-group-sm mb-1 col-md-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="toText">@Localizer["To"]</span>
                                    </div>
                                    <textarea id="emailToInput" type="text" name="EmailTo" class="form-control form-control-sm" rows="1" asp-for="EmailTo"></textarea>
                                </div>
                                <div class="input-group input-group-sm mb-1 col-md-12">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="ccText">@Localizer["Cc"]</span>
                                    </div>
                                    <textarea type="text" name="EmailCopyTo" class="form-control form-control-sm" rows="1" asp-for="EmailCopyTo"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group float-label">
                                        <label class="required" asp-for="EmailSubject"></label>
                                        <input type="text" class="form-control form-control-sm required" maxlength="200" asp-for="EmailSubject" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 body-nav">
                                        <ul class="nav body-nav-options" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active py-1 ml-1" id="detailTab" data-toggle="tab" href="#detailTabContent" role="tab" aria-controls="detailTabContent" aria-selected="true">@Localizer["Detail Section"]</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link py-1 ml-0" id="headerTab" data-toggle="tab" href="#headerTabContent" role="tab" aria-controls="headerTabContent" aria-selected="false">
                                                    @Localizer["Detail Header"]
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link py-1 ml-0" id="footerTab" data-toggle="tab" href="#footerTabContent" role="tab" aria-controls="footerTabContent" aria-selected="false">@Localizer["Detail Footer"]</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane show active parent-tab" id="detailTabContent" role="tabpanel" aria-labelledby="detailTab">
                                                <fieldset class="cpiMainEntry">
                                                    @(Html.Kendo().Editor()
                                                        .Name("EmailBody")
                                                        .Value(emailBody)
                                                        .HtmlAttributes(new { style = "height: 350px; padding: 25px", aria_label = "editor" })
                                                        .Events(events => events
                                                        .Change($"pageHelper.editorModified")
                                                        )
                                                        .Resizable(resizable => resizable.Content(true).Toolbar(false))
                                                        .Tools(tools => tools.Clear()
                                                        .Bold().Italic().Underline().Strikethrough()
                                                        .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull().InsertUnorderedList().InsertOrderedList()
                                                        .Outdent().Indent().CreateLink().Unlink().InsertImage().ViewHtml().Print()
                                                        .Formatting().CleanFormatting()
                                                        .FontName().FontSize().ForeColor().BackColor()
                                                        .TableEditing()
                                                        )
                                                    )
                                                    <span asp-validation-for="EmailBody" class="text-danger"></span>
                                                </fieldset>
                                            </div>
                                            <div class="tab-pane cpi-tab" id="headerTabContent" role="tabpanel" aria-labelledby="headerTab">
                                                <fieldset class="">
                                                    @(Html.Kendo().Editor()
                                                        .Name("EmailHeader")
                                                        .Value(emailHeader)
                                                        .HtmlAttributes(new { style = "height: 350px; padding: 25px", aria_label = "editor" })
                                                        .Events(events => events
                                                        .Change($"pageHelper.editorModified")
                                                        )
                                                        .Resizable(resizable => resizable.Content(true).Toolbar(false))
                                                        .Tools(tools => tools.Clear()
                                                        .Bold().Italic().Underline().Strikethrough()
                                                        .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull().InsertUnorderedList().InsertOrderedList()
                                                        .Outdent().Indent().CreateLink().Unlink().InsertImage().ViewHtml().Print()
                                                        .Formatting().CleanFormatting()
                                                        .FontName().FontSize().ForeColor().BackColor()
                                                        .TableEditing()
                                                        )
                                                    )
                                                </fieldset>
                                            </div>
                                            <div class="tab-pane cpi-tab" id="footerTabContent" role="tabpanel" aria-labelledby="footerTab">
                                                <fieldset class="cpiMainEntry">
                                                    @(Html.Kendo().Editor()
                                                        .Name("EmailFooter")
                                                        .Value(emailFooter)
                                                        .HtmlAttributes(new { style = "height: 350px; padding: 25px", aria_label = "editor" })
                                                        .Events(events => events
                                                        .Change($"pageHelper.editorModified")
                                                        )
                                                        .Resizable(resizable => resizable.Content(true).Toolbar(false))
                                                        .Tools(tools => tools.Clear()
                                                        .Bold().Italic().Underline().Strikethrough()
                                                        .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull().InsertUnorderedList().InsertOrderedList()
                                                        .Outdent().Indent().CreateLink().Unlink().InsertImage().ViewHtml().Print()
                                                        .Formatting().CleanFormatting()
                                                        .FontName().FontSize().ForeColor().BackColor()
                                                        .TableEditing()
                                                        )
                                                    )
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row @(OnlyAllowEnabled ? "d-none" : null)">
                            <div id="ftpOptions" class="col-sm-12">
                                <div class="col-md-12">
                                    <div class="form-group float-label">
                                        <label class="required" asp-for="FTPAddress"></label>
                                        <input type="text" class="form-control form-control-sm" maxlength="100" asp-for="FTPAddress" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group float-label">
                                        <label class="required" asp-for="FTPUserID"></label>
                                        <input type="text" class="form-control form-control-sm" maxlength="50" asp-for="FTPUserID" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group float-label">
                                        <label class="required" asp-for="FTPPassword"></label>
                                        <input type="text" class="form-control form-control-sm" maxlength="50" asp-for="FTPPassword" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (!addMode)
                {
                    <div class="content-stamp">
                        <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate" t-stamp="@Model.tStamp"></vc:record-stamps>
                    </div>
                }
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Cancel"]</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check pr-2"></i>@Localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var action = document.getElementById("ActionTypeId_ActionEntry");
        action.setAttribute("onchange", "ActionChange();");
        ActionChange();

        $('#rSActionEntryDialog').on('shown.bs.modal', function () {
            $(document).off('focusin.modal');
        });

        var sort = document.getElementById("SortOrder_ActionEntry");
        sort.setAttribute("onchange", "SortChange();");
        SetSortOrderDataSource();
        SortChange();
    });

    function ActionChange() {
        var actionChanged = document.getElementById("ActionTypeId_ActionEntry");
        var emailOptions = document.getElementById("emailOptions");
        var ftpOptions = document.getElementById("ftpOptions");

        if (actionChanged.value == 1) {//email
            emailOptions.removeAttribute("hidden");
            ftpOptions.setAttribute("hidden", "hidden");
        } else {//ftp
            emailOptions.setAttribute("hidden", "hidden");
            ftpOptions.removeAttribute("hidden");
        }
    }

    function SortChange() {
        var sortChanged = document.getElementById("SortOrder_ActionEntry");
        var attorneyOptOptions = document.getElementById("attorneyOptOptions");
        var emailToInput = document.getElementById("emailToInput");
        if (sortChanged.value == "Attorney") {//attorney
            attorneyOptOptions.setAttribute("hidden", "hidden");
            emailToInput.removeAttribute("required");
        } else {
            attorneyOptOptions.removeAttribute("hidden");
            emailToInput.setAttribute("required", "required");
        }
    }

    function SetSortOrderDataSource() {
        var taskId = @Model.TaskId;
        var sortOrderDataSourceUrl = $("#RSActionEntryForm").data("sort-order-url");
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: sortOrderDataSourceUrl + "?taskId=" + taskId,
                }
            }
        });
        $("#SortOrder_ActionEntry").data("kendoComboBox").setDataSource(dataSource);
    }
</script>

<style>
    .body-nav .body-nav-options {
        background-color: var(--tab-child-horizontal-background);
        font-size: .9rem;
    }

    .body-nav .body-nav-options .nav-link {
        color: #000;
        margin-top: 2px;
        border-right: 1px solid #fff;
    }

    .body-nav .body-nav-options .nav-link.active {
        /*color: #5e5656;*/
        color: var(--text-body);
        background-color: var(--bg-main);
        margin-top: 3px;
        margin-left: 8px;
    }

    .body-nav .body-nav-options .nav-link.active:hover {
        /*color: #5e5656;*/
        color: var(--text-body);
    }

    .body-nav .body-nav-options .nav-link:hover {
        color: var(--text-body);
    }

    .body-nav .tab-content {
        border: 1px solid var(--separator) !important;
        border-top: none !important;
    }
</style>