@using Microsoft.AspNetCore.Mvc.Localization
@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    ViewBag.Title = SharedLocalizer["Search Results"];
    ViewBag.Url = Url.Action("Search", "QEDataSource").ToLower();
    var detailsUrl = Url.Action("Detail", "QEDataSource", new { id = "#: DataSourceID#", fromSearch = true });
    var detailsLinkTemplate = string.Format("<a href='{0}' class='details-link' data-id='#: DataSourceID#'>#: DataSourceName#</a>", detailsUrl);
    var resultsGrid = "qeDataSourceSearchResultGrid";
    var container = "qeDataSourceSearchResult";
}

<div id="@container">
    <div class="mb-md-2 text-right">
        <div class="row">
            <div class="col-md-4 text-left">
                <h3 class="page-title">@ViewData["Title"]</h3>
            </div>
            <div class="col-md mb-md-2 ml-md-3 pt-3 text-right cpiButtonsSearch">
                <button class="btn btn-link cpiButtonSearch" data-url="@ViewBag.SearchUrl"><span class="fas fa-binoculars"></span> @SharedLocalizer["Back to Search"]</button>
            </div>
        </div>
    </div>
    @(Html.Kendo().Grid<QEDataSource>()
                                    .Name(resultsGrid)
                                    .Columns(columns =>
                                    {
                                        columns.Bound(c => c.DataSourceName).ClientTemplate(detailsLinkTemplate).Width(200);
                                        columns.Bound(c => c.ViewName);
                                        columns.Bound(c => c.CreatedBy).Hidden();
                                        columns.Bound(c => c.UpdatedBy).Hidden();
                                        columns.Bound(c => c.DateCreated).Format("{0:dd-MMM-yyyy}").Hidden();
                                        columns.Bound(c => c.LastUpdate).Format("{0:dd-MMM-yyyy}").Hidden();
                                    })
                                    .ToolBar(tools => tools.Excel())
                                    .AutoBind(false)
                                    .Pageable(page => page.PageSizes(true).Refresh(true))
                                    .Sortable(sort => sort.AllowUnsort(false))
                                    //.Selectable(selectable=>selectable.Mode(GridSelectionMode.Single))
                                    //.ColumnMenu()
                                    .Excel(excel => excel.FileName("DataSourceList.xlsx").AllPages(true).ProxyURL(Url.Action("ExcelExportSave", "QEDataSource")))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Events(events => events.RequestEnd("qeDataSourcePage.searchResultGridRequestEnd"))
                                        .PageSize((int)ViewBag.PageSize)
                                        .Read(read => read.Action("PageRead", "QEDataSource")
                                        .Data("pageHelper.gridMainSearchFilters('#qeDataSourceSearchForm')"))
                                    .Sort(sort => sort.Add(c => c.DataSourceName))
                                )
                                .HtmlAttributes(new { @class = "kendo-Grid" })
    )
    <script>
        $(document).ready(function () {
           var title = '@ViewBag.Title';
           var url = '@ViewBag.Url';

           page.initializeSearchResultGrid(qeDataSourcePage, "@resultsGrid");
           page.breadCrumbs.addNode({
                  name: '@container', label: title, url: url, refresh: true, updateHistory: true, refreshHandler: qeDataSourcePage.refreshSearchResultGrid
            });
            $("#@container").find(".cpiButtonsSearch").cpiMainButtons();
        });
    </script>
</div>
