@model PatIndicator
@inject IStringLocalizer<SharedResource> SharedLocalizer
@{
    var id = Model.IndicatorId;
    var addMode = id == 0;

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord;
    bool isReadOnly = !fullModify;
}

<form cpi-detail-form action="Save">
    <input type="hidden" asp-for="IndicatorId" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2">
                <div class="form-group float-label">
                    <label asp-for="Indicator"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Indicator" asp-is-readonly="@isReadOnly" asp-is-autofocus="@addMode" />
                    <span asp-validation-for="Indicator"></span>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5">
                <div class="form-group float-label">
                    <label asp-for="Description"></label>
                    <input type="text" class="form-control form-control-sm" asp-for="Description" asp-is-readonly="@isReadOnly" />
                    <span asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="col-auto d-flex align-items-center">
                <div class="form-check mr-3">
                    <input type="checkbox" class="k-checkbox" asp-for="CPIIndicator" disabled="@(isReadOnly ? "disabled" : null)" />
                    <label class="k-checkbox-label" asp-for="CPIIndicator">@SharedLocalizer["CPI Indicator"]</label>
                </div>
            </div>
            <div class="col-auto d-flex align-items-center">
                <div class="form-check">
                    <input type="checkbox" class="k-checkbox" asp-for="FFIndicator" disabled="@(isReadOnly ? "disabled" : null)" />
                    <label class="k-checkbox-label" asp-for="FFIndicator">@SharedLocalizer["FF Indicator"]</label>
                </div>
            </div>
        </div>
    </div>
    @if (!addMode)
    {
        <div class="content-stamp">
            <vc:record-stamps created-by="@Model.CreatedBy" date-created="@Model.DateCreated" updated-by="@Model.UpdatedBy" last-update="@Model.LastUpdate"></vc:record-stamps>
        </div>
    }
</form>

<script>
    $(document).ready(function() {
        $('.page-nav.add-record').off('click').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            var url = $(this).data('url');
            if (url) pageHelper.openLink(url, true);
        });
    });
</script>
