@model DataQueryDetailViewModel
@inject IStringLocalizer<SharedResource> Localizer

@{
    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];

    var id = Model.QueryId;
    var addMode = id == 0;

    var pageId = ViewData["PageId"];
    var gridId = $"{pageId}-Grid";

    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnlyHeader = !(fullModify && Model.IsMyQuery && id > -1);
    bool isAQBEditable = fullModify && (Model.IsMyQuery || Model.IsEditable || addMode);
    bool isAQBReadOnly = !isAQBEditable || id < 0;

    string havingCustomWidget = (ViewBag.HavingCustomWidget ?? "false").ToString().ToLower();
    string recordStampUrl = Url.Action("GetRecordStamps", new { id = "recid" });
}

<form cpi-detail-form action="@(detailPagePermission.CanEditRemarksOnly ? "SaveRemarks" :"Save")" delete-message=@Localizer["You are about to delete this record and all its related information. This operation cannot be undone."]
      data-recordstamp-url="@recordStampUrl">

    <input type="hidden" asp-for="QueryId" />
    <input type="hidden" asp-for="OwnedBy" />
    <input type="hidden" asp-for="SQLExpr" />
    <input type="hidden" asp-for="Remarks" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="DateCreated" value="@Model.DateCreated.FormatToSave()" />
    <input type="hidden" asp-for="UpdatedBy" />
    <input type="hidden" asp-for="LastUpdate" value="@Model.LastUpdate.FormatToSave()" />
    <input type="hidden" id="tStamp" name="tStamp" />
    <input type="hidden" id="isReadOnlyHeader" name="isReadOnlyHeader" value="@isReadOnlyHeader.ToString()" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content detail cpiMainEntry">
        <div class="form-row">
            <div class="col col-4">
                <div class="form-group float-label">
                    <label class="required" asp-for="QueryName"></label>
                    @if (isReadOnlyHeader)
                    {
                        <input type="text" id="QueryNameToo" class="form-control form-control-sm" asp-for="QueryName" asp-is-readonly="true" />
                        <input type="hidden" asp-for="QueryName" />
                    }
                    else
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="QueryName" asp-is-readonly="false" asp-is-autofocus="@addMode" />
                    }
                    <span asp-validation-for="QueryName"></span>
                </div>
            </div>
            <div class="col col-4">
                <div class="form-group float-label">
                    <label asp-for="DQCatId"></label>
                    @if (isReadOnlyHeader)
                    {
                        <input type="text" id="DQCat" class="form-control form-control-sm" asp-for="DQCat" asp-is-readonly="true" />
                        <input type="hidden" asp-for="DQCatId" />
                    }
                    else
                    {
                        @await Component.InvokeAsync("ComboBox", new
                            {
                                name = "DQCatId",
                                action = "GetDataQueryCategoryList",
                                controller = "DataQueryCategory",
                                area = "Shared",
                                defaultValue = Model.DQCatId == 0 ? "" : Model.DQCatId.ToString(),
                                defaultText = Model.DQCat == null ? "" : Model.DQCat.ToString(),
                                textProperty = "DQCat",
                                valueProperty = "DQCatId",
                                onChange = "dataQuery.markDirty",
                            })
                        ;
                    }
                    <span asp-validation-for="DQCatId"></span>
                </div>
            </div>
            <div class="col col-4">
                <div class="form-group disabled float-label">
                    <label asp-for="OwnedBy"></label>
                    <div class="form-group float-label">
                        <label asp-for="OwnedBy"></label>
                        <input type="text" id="OwnedByToo" class="form-control form-control-sm" asp-for="OwnedBy" asp-is-readonly="true" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col col-2">
                <div class="form-group float-label">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="IsShared" class="custom-control-input" asp-is-readonly="@isReadOnlyHeader" />
                        <label asp-for="IsShared" class="custom-control-label">
                        </label>
                    </div>
                    <span asp-validation-for="IsShared"></span>

                </div>
            </div>
            <div class="col col-2">
                <div class="form-group float-label">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="IsEditable" class="custom-control-input" asp-is-readonly="@isReadOnlyHeader" />
                        <label asp-for="IsEditable" class="custom-control-label"></label>
                    </div>
                    <span asp-validation-for="IsEditable"></span>
                </div>
            </div>
            <div class="col col-2">
                <div class="form-group float-label">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="UsedInWidget" class="custom-control-input" asp-is-readonly="true" />
                        <label asp-for="UsedInWidget" class="custom-control-label"></label>
                    </div>
                    <span asp-validation-for="UsedInWidget"></span>
                </div>
            </div>
        </div>

    </div>

</form>

<script>


    $(document).ready(function () {
        dataQuery.initializeDetailContentHeader({
            detailHeaderContainer: "@pageId",
            id: @id,
            addMode: @(id == 0 ? "true" : "false"),
            isAQBReadOnly: @(isAQBReadOnly == true ? "true" : "false"),
            havingCustomWidget: @havingCustomWidget
            });
    });
</script>