@inject IStringLocalizer<SharedResource> Localizer
@{
    var excelButton = $"<a class='k-button k-button-icontext k-grid-excel no-results-hide' href='\\#'><i class='fal fa-file-excel pr-2'></i>{Localizer["Export to Excel"]}</a>";
    var toolbar = $"<nav class='nav nav-right'>{excelButton}</nav>";
}

<div id="queryHelpDialog" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="queryHelpDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="queryHelpDialogTitle">@Localizer["Custom Query"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <ul class="nav nav-tabs detail cpiDetailInfoNav nav-tabs-horizontal" id="patWorkflow-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="dataQueryHelpTab" data-toggle="tab" role="tab" aria-controls="dataQueryHelpContent" aria-selected="true" href="#dataQueryHelpTabContent">@Localizer["General"] </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="dataQueryFunctionTab" data-toggle="tab" role="tab" aria-controls="dataQueryFunctionContent" aria-selected="true" href="#dataQueryFunctionTabContent">@Localizer["SQL Function"] </a>
                </li>
            </ul>

            <div class="tab-content detail">
                <div class="tab-pane page-content active" id="dataQueryHelpTabContent" role="tabpanel" aria-labelledby="dataQueryHelpTab">
                    <div class="form-row">
                        <div class="col-4 pr-2">
                            <div class="row">
                                <div class="col-12 help-subtitle">
                                    @Localizer["Single quotes"]
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <ul>
                                        <li>@Localizer["Use single quotes (') around text and date values"]</li>
                                        <li>@Localizer["Do not use quotes around numeric values"]</li>
                                        <li>@Localizer["Do not use double quotes (\")"]</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 help-subtitle">
                                    @Localizer["Comparison operators"]
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <ul class="no-bullets">
                                        <li>= &nbsp;&nbsp;&nbsp; @Localizer["Equal to"]</li>
                                        <li>> &nbsp; &nbsp; &nbsp; @Localizer["Greater than"]</li>
                                        <li>< &nbsp; &nbsp; &nbsp; @Localizer["Less than"]</li>
                                        <li>>= &nbsp; &nbsp; @Localizer["Greater than or equal"]</li>
                                        <li><= &nbsp; &nbsp; @Localizer["Less than or equal"]</li>
                                        <li><> &nbsp; &nbsp; @Localizer["Not equal"]</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col-12 help-subtitle">
                                    @Localizer["Wildcard characters"]
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <ul class="no-bullets">
                                        <li>% or * &nbsp; &nbsp; @Localizer["Matches any string of zero or more characters. This wildcard character can be used as either a prefix or a suffix"]</li>
                                        <li>_ or ? &nbsp; &nbsp; @Localizer["Matches any single character in a string comparison operation that involves pattern matching"]</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 help-subtitle">
                                    @Localizer["Boolean values"]
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <ul class="no-bullets">
                                        <li>1 &nbsp; &nbsp; @Localizer["TRUE"]</li>
                                        <li>0 &nbsp; &nbsp; @Localizer["FALSE"]</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 help-subtitle">
                                    @Localizer["Blank Values"]
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <ul class="no-bullets">
                                        <li>Is Null &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @Localizer["Locates blank values"]</li>
                                        <li>Is Not Null &nbsp; &nbsp; @Localizer["Locates fields that do not contain blank values"]</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 help-subtitle">
                                    @Localizer["Logical operators"]
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <ul class="no-bullets">
                                        <li>AND &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Localizer["TRUE if both Boolean expressions are TRUE"]</li>
                                        <li>BETWEEN &nbsp;&nbsp; @Localizer["TRUE if the operand is within the specified range"]</li>
                                        <li>IN &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Localizer["TRUE if the operand is equal to one item in the given list of expressions"]</li>
                                        <li>LIKE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Localizer["TRUE if the operand matches the specified pattern"]</li>
                                        <li>NOT &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Localizer["Reverses the result of any other Boolean operator"]</li>
                                        <li>OR &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Localizer["TRUE if at at least one Boolean expressions is TRUE"]</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 help-subtitle">
                            @Localizer["Examples"]
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-4 pr-2">
                            <div class="row">
                                <div class="col">
                                    @Localizer["Match a single criteria"]
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col">= 'US'</div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col">= '12/01/2007'</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @Localizer["Search for multiple values"]
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col">IN ('US', 'CA')</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @Localizer["Exclude multiple values"]
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col">NOT IN ('GB', 'DE')</div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col">
                                    @Localizer["Specify a date range"]
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col">BETWEEN '12/04/2007' AND '12/31/2007'</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @Localizer["Pattern matching using wildcards"]
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col">LIKE '%method%'</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @Localizer["Search for active statuses using ActiveSwitch field"]
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col">= 1</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    @Localizer["Search for cases a field is not null"]
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col">Is Not Null</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane page-content" id="dataQueryFunctionTabContent" role="tabpanel" aria-labelledby="dataQueryFunctionTab">
                    <div>
                        @(
                            Html.Kendo().Grid<DataQueryAllowedFunction>()
                            .Name("dataQueryFunctionGrid")
                            .Columns(columns =>
                            {
                                columns.Bound(f => f.FunctionName).Width(100);
                                columns.Bound(f => f.FunctionDescription).Width(300);
                            })
                            .ToolBar(tools => tools.ClientTemplate(toolbar))
                            .AutoBind(true)
                            .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                            .Filterable(f => f.Operators(o => o.ForString(s => s
                            .Clear()
                            .Contains("Contains")
                            .IsEqualTo("Equals")
                            .StartsWith("Starts with")
                            .EndsWith("Ends with")
                            )))
                            .Pageable(page => page.PageSizes(true).Refresh(true).Responsive(false))
                            .Sortable(sortable => sortable.SortMode(GridSortMode.SingleColumn).ShowIndexes(true))
                            .Excel(excel => excel.FileName("SQLFunctionList.xlsx").AllPages(true))
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .Read(read => read.Action("FunctionGridRead", "DataQuery"))
                            .Events(events =>
                            {
                                events.Error("pageHelper.onGridError");
                            })
                            .Sort(sort => sort.Add(fl => fl.FunctionName))
                            )
                            .HtmlAttributes(new { @class = "kendo-Grid" })
                            )
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="cancel" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times pr-2"></i>@Localizer["Close"]</button>
            </div>

        </div>
    </div>
</div>
@*<div class="col-1">•</div>*@
<style>
    .form-row {
        font-size: small;
    }

    .help-subtitle {
        font-size: medium;
        font-weight: bold;
        color: #3A587E;
        margin-top: 10px;
    }

    ul.no-bullets {
        list-style-type: none;
        margin-left: 10px;
        padding: 0;
    }
</style>

<script>
    $(document).ready(function () {
        $("#queryHelpDialog").modal("show");
    });
</script>