@model DataQueryExportToWidgetViewModel
@inject ISystemSettings<TmkSetting> Settings
@inject ITmkCountryLawService CountryLawService
@inject IStringLocalizer<SharedResource> Localizer

@{
    var settings = await Settings.GetSetting();

    var enableComboPaging = settings.EnableComboBoxPaging;
    var comboPagingSize = settings.ComboBoxPagingSize;

    var queryIdParam = $"{{queryId: {Model.QueryId}}}";

    var screen = "ExportToWidgetEntry";
}

<div class="modal fade" id="dqExportToWidgetDialog" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="post" asp-action="WidgetSave" id="ExportToWidgetEntryForm"
                  data-save-message="@Localizer["Record has been saved successfully."]"
                  data-query-header-url="@Url.Action("GetQueryHeaderList", "DataQuery", new { Area="Shared"})"
                  data-widget-type-url="@Url.Action("GetCustomWidgetTypeList", "DataQuery", new { Area="Shared"})"
                  >
                <div class="modal-header">
                    @if(Model.CustomWidgetType != null)
                    {
                        <h4 class="modal-title">@Localizer["Modify Widget"]</h4>
                    }
                    else
                    {
                        <h4 class="modal-title">@Localizer["Create Widget"]</h4>
                    }

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <input type="hidden" asp-for="QueryId" />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group float-label">
                                    <label class="required" asp-for="Title"></label>
                                    <input asp-for="Title" type="text" class="form-control form-control-sm" value="@Model.Title"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class=" custom-control custom-checkbox">
                                    <input asp-for="SharedWidget" value="@Model.SharedWidget"/>
                                    <label>
                                        @Localizer["Share Widget?"]
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 WidgetTypeOptions Column-Option Bar-Option Count-Option Donut-Option Line-Option List-Option Pie-Option" hidden>
                                <div class=" custom-control custom-checkbox">
                                    <input asp-for="CanExport" value="@Model.CanExport"/>
                                    <label>
                                        @Localizer["Can Export?"]
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                @if (Model.AvaliableCharts.Contains("|Bar|"))
                                {
                                    <a class="CustomWidgetType CustomWidgetType-Bar" title="Bar" onclick="WidgetTypeChange(this)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 448 512"><path d="M160 32H288V480H160V32zM0 224H128V480H0V224zM448 96V480H320V96H448z" /></svg>
                                    </a>
                                }
                                @if (Model.AvaliableCharts.Contains("|Count|"))
                                {
                                    <a class="CustomWidgetType CustomWidgetType-Count" title="Count" onclick="WidgetTypeChange(this)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M32 32H56 80h24V56 176h8 24v48H112h-8H56 48 24V176H48h8V80H32V32zM8 352c0-35.3 28.7-64 64-64H89.2c34.7 0 62.8 28.1 62.8 62.8c0 17.7-7.5 34.6-20.5 46.5L93.4 432H128h24v48H128 32 8V456v-.6V444.8l7.8-7.1 83.3-75.9c3.1-2.8 4.8-6.8 4.8-11c0-8.2-6.6-14.8-14.8-14.8H72c-8.8 0-16 7.2-16 16H8zM224 64H480h32v64H480 224 192V64h32zm0 160H480h32v64H480 224 192V224h32zm0 160H480h32v64H480 224 192V384h32z" /></svg>
                                    </a>
                                }
                                @if (Model.AvaliableCharts.Contains("|Donut|"))
                                {
                                    <a class="CustomWidgetType CustomWidgetType-Donut" title="Donut" onclick="WidgetTypeChange(this)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-352a96 96 0 1 1 0 192 96 96 0 1 1 0-192z" /></svg>
                                    </a>
                                }
                                @if (Model.AvaliableCharts.Contains("|Line|"))
                                {
                                    <a class="CustomWidgetType CustomWidgetType-Line" title="Line" onclick="WidgetTypeChange(this)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64 64V32H0V64 448v32H32 480h32V416H480 64V64zm288 64l-32 32 41.4 41.4L304 258.7l-73.4-73.4L208 162.7l-22.6 22.6-80 80 45.3 45.3L208 253.3l73.4 73.4L304 349.3l22.6-22.6 80-80L448 288l32-32V128H352z" /></svg>
                                    </a>
                                }
                                @if (Model.AvaliableCharts.Contains("|List|"))
                                {
                                    <a class="CustomWidgetType CustomWidgetType-List" title="List" onclick="WidgetTypeChange(this)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M112 48H16v96h96V48zm80 16H160v64h32H480h32V64H480 192zm0 160H160v64h32H480h32V224H480 192zm0 160H160v64h32H480h32V384H480 192zM16 208v96h96V208H16zm96 160H16v96h96V368z" /></svg>
                                    </a>
                                }
                                @if (Model.AvaliableCharts.Contains("|Pie|"))
                                {
                                    <a class="CustomWidgetType CustomWidgetType-Pie" title="Pie" onclick="WidgetTypeChange(this)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 576 512"><path d="M304 240V.6c5.3-.4 10.6-.6 16-.6C443.7 0 544 100.3 544 224c0 5.4-.2 10.7-.6 16H304zM32 272C32 144.8 130.9 40.8 256 32.5V288L425 457c-41.5 34.4-94.8 55-153 55C139.5 512 32 404.6 32 272zm288 16H575.5C571 355.9 538.3 416.1 489 457L320 288z" /></svg>
                                    </a>
                                }
                                <input asp-for="CustomWidgetType" required hidden/>
                                <label id="CustomWidgetInitLabel" class="field-validation-error">@Localizer["Please select a chart type."]</label>
                            </div>
                            <div class="col-md-6 WidgetTypeOptions Column-Option Bar-Option Donut-Option Line-Option Pie-Option" hidden>
                                <div class="form-group float-label">
                                    <label class="required" asp-for="RecordsLimit"></label>
                                    <input asp-for="RecordsLimit" type="number" class="form-control form-control-sm" value="@Model.RecordsLimit"/>
                                </div>
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group float-label WidgetTypeOptions Column-Option Bar-Option Donut-Option Line-Option Pie-Option" hidden>
                                    <label class="required" asp-for="Category"></label>
                                    @await Component.InvokeAsync("ComboBox", new { name = "Category", textProperty = "Header", valueProperty = "Header", action = "GetQueryHeaderList", area = "Shared", screen = screen, data = queryIdParam, defaultValue=Model.Category })
                                    <span asp-validation-for="Category"></span>
                                </div>
                            </div>
                            <div class="col-md-6 WidgetTypeOptions Column-Option Bar-Option Line-Option" hidden>
                                <div class="form-group float-label">
                                    <label class="required" asp-for="Group"></label>
                                    @await Component.InvokeAsync("ComboBox", new { name = "Group", textProperty = "Header", valueProperty = "Header", action = "GetQueryHeaderList", area = "Shared", screen = screen, data = queryIdParam, defaultValue=Model.Group })
                                    <span asp-validation-for="Group"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group float-label WidgetTypeOptions Column-Option Count-Option Bar-Option Donut-Option Line-Option Pie-Option" hidden>
                                    <label class="required" asp-for="CountColumn"></label>
                                    @await Component.InvokeAsync("ComboBox", new { name = "CountColumn", textProperty = "Header", valueProperty = "Header", action = "GetQueryHeaderList", area = "Shared", screen = screen, data = queryIdParam, defaultValue=Model.CountColumn })
                                    <span asp-validation-for="CountColumn"></span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Cancel"]</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check pr-2"></i>@Localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .CustomWidgetType {
        background-color: white;
        border:1px solid black;
        display: inline-block;
        height:34px; /*height of image*/
        width:34px; /*width of image*/
    }
    </style >
    <script>
    $(document).ready(function () {
        var customWidgetType = document.getElementById("CustomWidgetType");
        var widgetType = document.getElementsByClassName("CustomWidgetType-" + customWidgetType.value);
        if(widgetType.length > 0){
            WidgetTypeChange(widgetType[0]);
        }
    });
    </script>