@model PageViewModel
@inject IStringLocalizer<AdminResource> Localizer
<div class="tab-content search page-content">
    <div class="tab-pane show active" id="adminUserSetupSearchTabContent" aria-labelledby="adminUserSetupSearchTab" role="tabpanel">
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="LastLoginDateFrom">@Localizer["Last Login Date From"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("LastLoginDateFrom"))
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="LastLoginDateTo">@Localizer["Last Login Date To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("LastLoginDateTo"))
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="FullName">@Localizer["Last Name"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "LastName", multiSelect = true })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="FullName">@Localizer["First Name"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "FirstName", multiSelect = true })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="Email">@Localizer["Email"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "Email", multiSelect = true })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group text-right mt-4">
                    @await Component.InvokeAsync("InitialButtonGroup", new InitialButtonGroupOptions { Name = "Initial" })
                </div>
            </div>
        </div>
    </div>
</div>