@using R10.Web.Areas.Shared.ViewModels.SharePoint;
@model SharePointGraphDriveItemParamViewModel
@inject IStringLocalizer<SharedResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings

@{
    var settings = await Settings.GetSetting();
    var fileSizeLimit = settings.FileUploadSizeLimit;
    var grid = "VersionHistory";
}

<script>
    function fileHistoryGridDataBound(e) {
        const dataItems = e.sender.dataSource.view();
        for (var j = 0; j < dataItems.length; j++) {
            var restoreUrl = dataItems[j].get("RestoreUrl");
            if (!restoreUrl || restoreUrl.length === 0) {
                const row = e.sender.tbody.find("[data-uid='" + dataItems[j].uid + "']");
                console.log("row",row);
                row.find(".k-grid-Restore").addClass("d-none");
            }
        }
    }

</script>
<div id="spDocumentVersionDialog"
     data-restore-message="@Localizer["You are about to replace the current version with the selected version. Are you sure you want to continue?"]"
     data-restore-title="@Localizer["Please Confirm"]"
    class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="documentVersionDialogTitle" aria-hidden="true">
    <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="documentVersionDialogTitle">@Model.Name @Localizer["Version History"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="@Localizer["Close"]">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body container-fluid">
                <form id="documentVersionForm" asp-area="Shared" asp-controller="SharePointGraph" asp-action="" method="post" enctype="multipart/form-data">
                    <div id="errorSummary" class="alert alert-danger d-none alert-dismissible fade show" role="alert">
                        <div class="content"></div>
                        <button type="button" class="close alert-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="image-container" id="SPImageVersionContainer">
                        @(
                            Html.Kendo().Grid<SharePointGraphDriveItemVersionViewModel>()
                            .Name(grid)
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.Id).Width(100);
                                columns.Bound(p => p.DateModified).ClientTemplate("#= (DateModified == null) ? '' : kendo.toString(DateModified,'dd-MMM-yyyy hh:mm:ss tt')#").Sortable(true);
                                columns.Bound(p => p.ModifiedBy);
                                columns.Command(command =>
                                {
                                    command.Custom("Download").Text(Localizer["Download"]).Click($"function(e) {{sharePointGraphHelper.downloadFileGrid(e, '{grid}')}}").IconClass("k-icon fal fa-file-download").HtmlAttributes(new { style = "width:100px;" });
                                    command.Custom("Restore").Text(Localizer["Restore"]).Click($"function(e) {{sharePointGraphHelper.restoreVersion(e, '{grid}')}}").IconClass("k-icon fal fa-trash-restore").HtmlAttributes(new { style = "width:100px;" });
                                });
                            })
                            .PersistSelection()
                            .Sortable(sort => sort.AllowUnsort(false))
                            .Editable(editable => editable.Enabled(true)
                            .Mode(GridEditMode.InCell).
                            ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
                            .HtmlAttributes(new { style = "height:300px;" })
                            .AutoBind(true)
                            .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(10)
                            .Model(model =>
                            {
                                model.Id(i => i.Id);
                                model.Field(p => p.ModifiedBy).Editable(false);
                                model.Field(p => p.DateModified).Editable(false);
                                model.Field(p => p.Name).Editable(false);
                               
                            })
                            .Read(read => read.Action("GetVersionHistory", "SharePointGraph", new { Area = "Shared", docLibrary=Model.DocLibrary,name=Model.Name,driveItemId=Model.DriveItemId }))
                            .Events(events =>
                            {
                                events.Error("pageHelper.onGridError");
                            })
                            )
                            .Pageable(pageable => pageable
                            .Refresh(true)
                            .PageSizes(true)
                            .ButtonCount(5))
                            .Events(events => events.DataBound($"function(e) {{fileHistoryGridDataBound(e);}}"))
                            .HtmlAttributes(new { @class = "imageGridView kendo-Grid" })
                            )
                    </div>

                    <div class="modal-footer">
                        <button id="cancel" type="button" class="btn btn-secondary  float-right" data-dismiss="modal"><i class="fa fa-times-circle pr-2"></i>@Localizer["Close"]</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>