@model PageViewModel
@inject IStringLocalizer<SharedResource> Localizer

<div class="tab-content search page-content">
    <div class="tab-pane show active" id="desCaseTypeFieldsSearchMainTabContent" aria-labelledby="desCaseTypeFieldsSearchMainTab" role="tabpanel">
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="DesCaseType">@Localizer["Des Case Type"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "DesCaseType", multiSelect = true })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="FromField">@Localizer["From Field"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "FromField", multiSelect = true })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="ToField">@Localizer["To Field"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "ToField", multiSelect = true })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="SystemName">@Localizer["Systems"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "SystemName", controller = "System", area = "Shared", action = "GetPicklistData", multiSelect = true })
                </div>
            </div>
            <div class="col-md-4">
                <label for="IsExt">@Localizer["_Ext"]</label>
                <div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline">
                            <input type="radio" name="IsExt" class="form-control" value="true" data-role="option"> @Localizer["Yes"]
                        </label>
                        <label class="btn btn-outline">
                            <input type="radio" name="IsExt" class="form-control" value="false" data-role="option"> @Localizer["No"]
                        </label>
                        <label class="btn btn-outline active">
                            <input type="radio" name="IsExt" class="form-control" value="" data-role="option"> @Localizer["All"]
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label for="InUse">@Localizer["In Use"] <small class="text-muted">(@Localizer["_Ext only"])</small></label>
                <div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-outline">
                            <input type="radio" name="InUse" class="form-control" value="true" data-role="option"> @Localizer["Yes"]
                        </label>
                        <label class="btn btn-outline">
                            <input type="radio" name="InUse" class="form-control" value="false" data-role="option"> @Localizer["No"]
                        </label>
                        <label class="btn btn-outline active">
                            <input type="radio" name="InUse" class="form-control" value="" data-role="option"> @Localizer["All"]
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
