@model List<MapDTO>
@using Microsoft.AspNetCore.Html

@inject ISystemSettings<DefaultSetting> Settings
@inject IStringLocalizer<SharedResource> Localizer
@{
    var isTrademarkScreen = ViewBag.Screen == "Trademark";

    //when using mapbox
    //var settings = await Settings.GetSetting();
    //var accessToken = settings.MapServiceAccessToken;
    //var mapUrlTemplate = $"https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/#=zoom#/#=x#/#=y#?access_token={accessToken}";

    var mapUrlTemplate = "http://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png";

    var url = Url.Action((string)ViewBag.Screen, "Map", new { area = "Shared", id = $"{ViewBag.Id}" });

    var countries = Model.Where(e => e.Latitude != 0 && e.Longitude != 0 && e.DisplayType == "M");
    var orgs = Model.Where(e => e.Latitude == 0 || e.Longitude == 0 || e.DisplayType == "S").OrderBy(e => e.Country);



    Func<MapDTO, IHtmlContent> template =@<table class="mapTooltip">
        <tr>
            <td colspan="2">
                <p>
                    <img src="~/images/flags/@(item.Country).gif" />
                    @item.CountryName
                </p>
            </td>
        </tr>
        @if (item.SystemType == "T")
        {
            <tr>
                <td colspan="2" style="padding-bottom:.6rem">
                    @item.Title
                </td>
            </tr>
        }
        <tr>
            <td>Status:</td>
            <td class="@(item.ActiveSwitch ? "status-active" :"status-inactive")">@item.Status</td>
        </tr>
        <tr>
            <td>@Localizer["App. Number"]:</td>
            <td>@item.AppNumber</td>
        </tr>
        <tr>
            <td>@Localizer["Filing Date"]:</td>
            <td>@item.FilDate.FormatToDisplay()</td>
        </tr>
        <tr>
            <td>@Localizer[isTrademarkScreen ? "Reg. Number" : "Pat. Number"]:</td>
            <td>@item.PatRegNumber</td>
        </tr>
        <tr>
            <td>@Localizer[isTrademarkScreen ? "Reg. Date" : "Issue Date"]:</td>
            <td>@item.IssRegDate.FormatToDisplay()</td>
        </tr>
    </table>;

}

<div id="mapDetailView">
    <div class="page-main">
        <div class="page-header page-crumbs"></div>
        <div class="map">
            @(Html.Kendo().Map()
                .Name("map")
                .Center(23, 10)
                .Zoom(3)
                .Layers(layers =>
                {
                    layers.Add()
                        .Type(MapLayerType.Tile)
                        .UrlTemplate(mapUrlTemplate)
                        .Subdomains("a", "b", "c")
                        //.Attribution("Map data &copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>");
                        .Attribution("&copy; <a href='http://osm.org/copyright'>OpenStreetMap contributors</a>");

                })
                .Markers(markers =>
                {
                    foreach (var entry in countries)
                    {
                        markers.Add()
                       .Location(entry.Latitude, entry.Longitude)
                       .Shape(MapMarkersShape.PinTarget)
                       .Tooltip(tooltip => tooltip.Content(template(entry).GetString()))
                       .HtmlAttributes(new { @style = $"color: #{(entry.ActiveSwitch ? "739DAF" : "A65367")} !important" });

                    }
                })
            )

            <div class="row">
                @foreach (var entry in orgs)
                {
                    <div class="col-md-2">
                        <div class="m-3 org-item">
                            @template(entry)
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
    <script>
        var url = "@url";
        var node = {
            name: "mapDetailView",
                label: "@Html.Raw(Localizer["Map"].ToString())",
                url: url,
                refresh: false,
                updateHistory: true
        };

        $(document).ready(function () {
            pageHelper.moveBreadcrumbs("#mapDetailView");
            history.replaceState("", "", url);
            cpiBreadCrumbs.addNode(node);
        });

    </script>
    <style>
        .mapTooltip td {
            text-align: left;
        }

        .mapTooltip p {
            color: #575050;
            font-weight: bold;
        }

        .status-active {
            background-color: #739DAF; /*#13895D;*/
            color: #fff;
        }

        .status-inactive {
            background-color: #A65367; /*#A53403;*/
            color: #fff;
        }

        .org-item {
            border-radius: 3px;
            padding: 1rem;
            box-shadow: 0 0 5px 2px rgba(0,0,0,.18);
            background-color: #fff;
        }

        .k-map, .k-marker {
            color: #ff6358 !important;
        }

        .k-tooltip {
            color: #8A8383 !important;
            background-color: #fff !important;
        }
    </style>

</div>



