@inject IStringLocalizer<SharedResource> Localizer
@model ReportPageOption
@{
    
}
<nav class="nav nav-right mt-2">
    @if (Model.CanPrint)
    {
        <a class="nav-link page-nav print-report" href="#" title="Print" role="button"><i class="fal fa-file-arrow-down pr-2"></i><span>@Localizer["Print View"]</span></a>
    }
    @if (Model.CanEmail)
    {
        <a class="nav-link page-nav email-report" href="#" title="Email" role="button"><i class="fal fa-envelope pr-2"></i><span>@Localizer["Email"]</span></a>
    }
    @if (Model.CanSave)
    {
        <a class="nav-link page-nav search-save" href="#" title="Save Current Filter" role="button"><i class="fal fa-save pr-2"></i><span>@Localizer["Save Criteria"]</span></a>
    }
    @if (Model.CanLoad)
    {
        <a class="nav-link page-nav search-load" href="#" title="Load Saved Filters" role="button"><i class="fal fa-download pr-2"></i><span>@Localizer["Load Criteria"]</span></a>
    }
    @if (Model.CanClear)
    {
        <a class="nav-link page-nav search-clear pr-2" href="@(Model.Url.Contains("?")?Model.Url+"&d=false":Model.Url+"?d=false")" title="Clear" role="button"><i class="fal fa-times pr-2"></i><span>@Localizer["Clear"]</span></a>
    }
</nav>