@model PageViewModel
@inject IStringLocalizer<AdminResource> Localizer
@{
}

<div class="tab-content search page-content">

    <div class="tab-pane show active" id="activityLogMainInfoTabContent" role="tabpanel" aria-labelledby="activityLogMainInfoTab">
        <div class="form-row group">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="ActivityDateFrom">@Localizer["Date From"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("ActivityDateFrom"))
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="ActivityDateTo">@Localizer["Date To"]</label>
                    @await Component.InvokeAsync("DatePicker", new DatePickerOptions("ActivityDateTo"))
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="UserId">@Localizer["User Id"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "UserId" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="HostName">@Localizer["Host Name"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "HostName" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="HostIP">@Localizer["Host IP"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "HostIP" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="RequestUrl">@Localizer["Request URL"]</label>
                    <input type="text" class="form-control" id="RequestUrl" name="RequestUrl" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="RequestForm">@Localizer["Request Form"]</label>
                    <input type="text" class="form-control" id="RequestForm" name="RequestForm" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="RequestMethod">@Localizer["Request Method"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "RequestMethod" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="StatusCode">@Localizer["Status Code"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "StatusCode" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="RemoteAddress">@Localizer["Remote Address"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "RemoteAddress" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="UserAgent">@Localizer["User Agent"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "UserAgent" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="AcceptLanguage">@Localizer["Accept Language"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "AcceptLanguage" })
                </div>
            </div>
        </div>
    </div>        
</div>
