@model R10.Web.Areas.Admin.ViewModels.Catalog.CPiCatalog
@inject ISystemSettings<DefaultSetting> Settings
@{
    var title = ViewData["Title"].ToString();
    var container = ViewData["PageId"].ToString();
    var settings = await Settings.GetSetting();
    
    title += $"<span class='ml-2 badge badge-secondary'>R10 {settings.ReleaseVersion ?? ""}</span>";
}

<div class="page-content">
    <ul class="catalog mt-3">
        @foreach(var system in Model.Systems) {            
            <li class="system mb-3">
                <div id="@system.Id">
                    <span class="name @(system.IsEnabled ? "" : "disabled text-muted")">@system.Name</span>
                </div>
                <ul class="modules">                    
                    @foreach(var module in Model.Modules.Where(m => m.SystemId == system.Id).OrderBy(m => m.Description)) 
                    {            
                        <li class="module">
                            <div id="@module.OptionKey">
                                <span class="name @(module.Enabled ? "" : "text-muted")">@module.Description</span>
                            </div>
                        </li>
                    }
                </ul>
            </li>
        }
        @foreach (var module in Model.Modules.Where(m => string.IsNullOrEmpty(m.SystemId)).OrderBy(m => m.Description))
        {
            <li class="module mb-1">
                <div id="@module.OptionKey">
                    <span class="name @(module.Enabled ? "" : "text-muted")">@module.Description</span>
                </div>
            </li>
        }
    </ul>
</div>
<style>
.catalog .system > div > .name,
.catalog > .module .name {
    font-size: .9rem;
    font-weight: 400;
    color: var(--link-label);
}
ul.catalog {
    padding-inline-start: 0px;
    font-size: .9rem;
}
ul.catalog li {
    list-style-type: none;
    break-inside: avoid-column;
}
ul.modules {
    padding-inline-start: 20px;
    font-size: .9rem;
}
ul.modules li {    
  list-style-type: disc;
}

@@media (min-width: 34em) {
    ul.catalog {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    }
}

@@media (min-width: 48em) {
    ul.catalog {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
}

@@media (min-width: 62em) {
    ul.catalog {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
}

@@media (min-width: 75em) {
    ul.catalog {
      columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;
    }
}
</style>

<script>    
    $(document).ready(function () {
        const container = "#@container";
        const sidebar = pageHelper.initializeSidebarPage(`${container} .page-sidebar`, `${container} .page-main`);
        pageHelper.moveBreadcrumbs(container);
        window.cpiBreadCrumbs.addNode({
            name: container,
            label: "@Html.Raw(title)",
            url: "",
            updateHistory: true
        });
    });
</script>