@inject IStringLocalizer<AdminResource> Localizer

<li class="nav-item">
    <a id="adminUserSetupSearchTab" href="#adminUserSetupSearchTabContent" class="nav-link active" data-toggle="tab" role="tab" aria-controls="adminUserSetupSearchTabContent" title="@Localizer["User"]">@Localizer["User"]</a>
</li>
<li class="nav-item">
    <a id="adminUserRoleSetupSearchTab" href="#adminUserRoleSetupSearchTabContent" class="nav-link" data-toggle="tab" role="tab" aria-controls="adminUserRoleSetupSearchTabContent" title="@Localizer["Role"]">@Localizer["Role"]</a>
</li>
<li class="nav-item">
    <a id="adminUserGroupSetupSearchTab" href="#adminUserGroupSetupSearchTabContent" class="nav-link" data-toggle="tab" role="tab" aria-controls="adminUserGroupSetupSearchTabContent" title="@Localizer["Group"]">@Localizer["Group"]</a>
</li>
<li class="nav-item">
    <a id="adminUserSettingSetupSearchTab" href="#adminUserSettingSetupSearchTabContent" class="nav-link" data-toggle="tab" role="tab" aria-controls="adminUserSettingSetupSearchTabContent" title="@Localizer["Account Setting"]">@Localizer["Account Setting"]</a>
</li>