@model string
@using R10.Web.Areas.Shared.ViewModels
@inject ISystemSettings<DefaultSetting> Settings
@inject IStringLocalizer<SharedResource> Localizer
@{
    var settings = await Settings.GetSetting();

    var IdParam = $"{{id: \"{Model}\"}}";
    var caseNumberLabel = Localizer[settings.LabelCaseNumber];
    var clientLabel = Localizer[settings.LabelClient];
    var attorneyLabel = Localizer["Attorney"];

    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];
    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);

    var enableComboPaging = settings.EnableComboBoxPaging;
    var comboPagingSize = settings.ComboBoxPagingSize;

    var partialViewModel = new { Controller = "TimeTracker", Area = "Shared" };

    var toolbarTemplate = "<nav class='nav nav-left'>" +
    (detailPagePermission.CanAddRecord ? $"<a class='k-button k-button-icontext k-grid-add' href='\\#'><span class='k-icon fal fa-plus'></span>{Localizer["Add"]}</a>" : "") +
    $"<a class='k-button k-button-icontext k-grid-Save d-none' href='\\#'><span class='k-icon fal fa-save'></span>{Localizer["Save"]}</a>" +
    $"<a class='k-button k-button-icontext k-grid-Cancel d-none' href='\\#'><span class='k-icon fal fa-times'></span>{Localizer["Cancel"]}</a>" +
    $"<a class='k-button k-button-icontext k-grid-TimeTrackerExportToCost no-results-hide' href='\\#'><i class='fal fa-sync'></i>{Localizer["Export to Cost Tracking"]}</a>" +
    $"<a class='k-button k-button-icontext k-grid-excel-server no-results-hide' href='\\#'><i class='fal fa-file-excel'></i>{Localizer["Export to Excel"]}</a>" +
    $"<a class='k-button k-button-icontext TimeTrackerSearch no-results-hide' href='\\#'><i class='fal fa-search'></i>{Localizer["Search"]}</a>" +
    "</nav>";

    var exportToExcelUrl = Url.Action("ExportToExcel", "TimeTracker", new { area = "Shared" });
}
<div class="col-md-12" id="timeTrackerSearchComponent" hidden>
    <input id="SearchUserId" value="@Model" hidden />
    <div class="form-row group ">
        <div class="col-2">
        </div>
        <div class="form-group float-label col-2">
            <label for="SearchSystemType">@Localizer["System Type"]</label>
            @await Component.InvokeAsync("ComboBox", new { name = "SearchSystemType", id = "SearchSystemType", textProperty = "SystemType", valueProperty = "SystemType", controller = partialViewModel.Controller, action = "GetSystemTypeList", area = partialViewModel.Area, onChange = "userDetailPage.TimeTrackerGridRead" })
        </div>
        <div class="form-group float-label col-2">
            <label for="SearchCaseNumber">@Localizer[caseNumberLabel]</label>
            @await Component.InvokeAsync("ComboBox", new { name = "SearchCaseNumber", id = "SearchCaseNumber", textProperty = "CaseNumber", valueProperty = "CaseNumber", controller = partialViewModel.Controller, action = "GetSearchCaseNumberList", area = partialViewModel.Area, enablePaging = enableComboPaging, pagingSize = comboPagingSize, valueMapper = "userDetailPage.caseNumberSearchValueMapper", onChange = "userDetailPage.TimeTrackerGridRead" })
        </div>
        <div class="form-group float-label col-2">
            <label for="SearchCountry">@Localizer["Country"]</label>
            @await Component.InvokeAsync("ComboBox", new { name = "SearchCountry", id = "SearchCountry", textProperty = "Country", valueProperty = "Country", controller = partialViewModel.Controller, action = "GetSearchCountryList", area = partialViewModel.Area, readData = "userDetailPage.timeTrackerSearchParam()", onChange = "userDetailPage.TimeTrackerGridRead" })
        </div>
        <div class="form-group float-label col-2">
            <label for="SearchSubCase">@Localizer["Sub Case"]</label>
            @await Component.InvokeAsync("ComboBox", new { name = "SearchSubCase", id = "SearchSubCase", textProperty = "SubCase", valueProperty = "SubCase", controller = partialViewModel.Controller, action = "GetSearchSubCaseList", area = partialViewModel.Area, readData = "userDetailPage.timeTrackerSearchParam()", onChange = "userDetailPage.TimeTrackerGridRead" })
        </div>
        <div class="form-group float-label col-2">
            <label for="SearchClientCode">@Localizer[clientLabel]</label>
            @await Component.InvokeAsync("ComboBox", new { name = "SearchClientCode", id = "SearchClientCode", textProperty = "ClientCode", valueProperty = "ClientCode", controller = partialViewModel.Controller, action = "GetSearchClientCodeList", area = partialViewModel.Area, readData = "userDetailPage.timeTrackerSearchParam()", onChange = "userDetailPage.TimeTrackerGridRead" })
        </div>
    </div>
    <div class="form-row group ">
        <div class="col-2"></div>
        <div class="col-6">
            <input id="ShowOutstandingOnly" name="SearchOutstandingOnly" type="radio" value="0" onclick="userDetailPage.TimeTrackerGridRead();" checked>
            <label>@Localizer["Show Outstanding Only"]</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="ShowExportedOnly" name="SearchOutstandingOnly" type="radio" value="1" onclick="userDetailPage.TimeTrackerGridRead();">
            <label>@Localizer["Show Exported Only"]</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="ShowAll" name="SearchOutstandingOnly" type="radio" value="2" onclick="userDetailPage.TimeTrackerGridRead();">
            <label>@Localizer["Show All"]</label>
        </div>
        <div class="form-group float-label col-2">
            <label for="FromDate">@Localizer["From Entry Date"]</label>
            @await Component.InvokeAsync("DatePicker", new DatePickerOptions("EntryDateFrom", "userDetailPage.TimeTrackerGridRead"))
        </div>

        <div class="form-group float-label col-2">
            <label for="ToDate">@Localizer["To Entry Date"]</label>
            @await Component.InvokeAsync("DatePicker", new DatePickerOptions("EntryDateTo", "userDetailPage.TimeTrackerGridRead"))
        </div>
    </div>
</div>

<div class="col-md-12" id="timeTrackerContainer">
    @(Html.Kendo().Grid<TimeTrackerViewModel>()
        .Name("timeTrackersGrid")
        .Columns(columns =>
        {
            columns.Bound(p => p.TimeTrackerId).Hidden();
            @*                  columns.Bound(p => p.Title);
    columns.Bound(p => p.CaseType);
    columns.Bound(p => p.Status);
    columns.Bound(p => p.ApplicationNumber);
    columns.Bound(p => p.FilDate);*@
            columns.Bound(p => p.Exported)
    .ClientTemplate("<i class='fa fal #: Exported ? 'fa-check' : ''#'></i>").Width(40);
            columns.Bound(p => p.SystemType)
            .EditorTemplateName("ComboBox")
            .HtmlAttributes(fullModify ? new { @class = "d-md-table-cell data-SystemType editable-cell" } : new { @class = "d-md-table-cell data-SystemType" })
            .Width(140)
            .EditorViewData(new { action = "GetSystemTypeList", controller = "TimeTracker", area = "Shared", dataValueField = "SystemType", limitToList = true, required = true, valuePrimitive = true }).Editable("userDetailPage.RecordEditable");
            columns.Bound(p => p.CaseNumber).EditorTemplateName("ComboBox")
            .HtmlAttributes(fullModify ? new { @class = "d-md-table-cell data-CaseNumber editable-cell" } : new { @class = "d-md-table-cell data-CaseNumber" })
            .EditorViewData(new
            {
                action = "GetTimeTrackerCaseNumberList",
                controller = "TimeTracker",
                dataTextField = "CaseNumber",
                dataValueField = "CaseNumber",
                enablePaging = enableComboPaging,
                pageSize = comboPagingSize,
                limitToList = true,
                routeValues = new { area = "Shared", property = "CaseNumber" },
                readData = "userDetailPage.timeTrackerGetParam",
                valueMapper = "userDetailPage.caseNumberDetailValueMapper"
            }).Width(250)
            .ClientTemplate(Html.GetDetailsLinkTemplate(Url.Action("Detail", "CostTracking", new { id = "#: CostTrackId#", area = "Patent", singleRecord = true, fromSearch = true }), "CaseNumber"))
            .Title(caseNumberLabel).Editable("userDetailPage.RecordEditable");
            columns.Bound(p => p.Country).EditorTemplateName("ComboBox")
            .HtmlAttributes(fullModify ? new { @class = "d-md-table-cell data-Country editable-cell" } : new { @class = "d-md-table-cell data-Country" })
            .EditorViewData(new
            {
                action = "GetTimeTrackerCountryList",
                controller = "TimeTracker",
                dataTextField = "Country",
                dataValueField = "Country",
                limitToList = true,
                routeValues = new { area = "Shared", property = "Country" },
                readData = "userDetailPage.timeTrackerGetParam",
            }).Width(150).Editable("userDetailPage.RecordEditable");
            columns.Bound(p => p.SubCase).EditorTemplateName("ComboBox")
            .HtmlAttributes(fullModify ? new { @class = "d-md-table-cell data-SubCase editable-cell" } : new { @class = "d-md-table-cell data-SubCase" })
            .EditorViewData(new
            {
                action = "GetTimeTrackerSubCaseList",
                controller = "TimeTracker",
                dataTextField = "SubCase",
                dataValueField = "SubCase",
                limitToList = true,
                routeValues = new { area = "Shared", property = "SubCase" },
                readData = "userDetailPage.timeTrackerGetParam",
            }).Width(150).Editable("userDetailPage.RecordEditable");
            columns.Bound(p => p.TimeTrackerClientCode)
            .HtmlAttributes(new { @class = "name-field" })
            .Title(clientLabel).Width(150);
            columns.Bound(p => p.Duration)
            .EditorTemplateName("TextBox").Width(50)
            .HtmlAttributes(fullModify ? new { @class = "d-md-table-cell data-Duration editable-cell" } : new { @class = "d-md-table-cell data-Duration" });
            columns.Bound(p => p.EntryDate)
            .Format("{0:dd-MMM-yyyy}").EditorTemplateName("Date").Width(150)
            .HtmlAttributes(fullModify ? new { @class = "d-none d-md-table-cell data-EntryDate editable-cell" } : new { @class = "d-none d-md-table-cell data-EntryDate" })
            .Editable("userDetailPage.TimeTrackerEditable");
            columns.Bound(p => p.Description)
            .EditorTemplateName("TextArea")
            .HtmlAttributes(fullModify ? new { @class = "d-md-table-cell data-Description editable-cell" } : new { @class = "d-md-table-cell data-Description" })
            .Editable("userDetailPage.TimeTrackerEditable");
            columns.Command(command =>
            {
                if (fullModify)
                    command.Custom("Delete")
                .Click("function(e) {attorneyPage.deleteGridRow(e,this)}")
                .IconClass("k-icon fal fa-trash-alt")
                .Text($"<span class='grid-action-label'>{Localizer["Delete"]}</span>")
                .HtmlAttributes(new { @class = "grid-action" });
            }).Width(10);
        })
        .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
        .ToolBar(toolbar =>
        {
            toolbar.ClientTemplate(toolbarTemplate);
        })
        .Editable(editable => editable.Enabled(detailPagePermission.CanEditRecord || detailPagePermission.CanEditRemarksOnly)
        .Mode(GridEditMode.InCell).
        ConfirmDelete(@Localizer["Are you sure you want to delete this record?"]).DisplayDeleteConfirmation(false))
        .Sortable(sort => sort.AllowUnsort(false))
        .Pageable()
        //  .Scrollable(s=>s.Height(200))
        .AutoBind(false)
        .DataSource(dataSource => dataSource
        .Ajax()
        .Batch(true)
        .PageSize(settings.SubFormPageSize)
        .ServerOperation(false)
        .Model(model =>
        {
            model.Id(s => s.TimeTrackerId);
            model.Field(s => s.Exported).Editable(false);
            model.Field(s => s.AttorneyID).Editable(false);
            model.Field(s => s.CostTrackId).Editable(false);
            model.Field(s => s.SystemType);//.Editable(false);
            model.Field(s => s.CaseNumber);//.Editable(false);
            model.Field(s => s.Country);//.Editable(false);
            model.Field(s => s.SubCase);//.Editable(false);
            model.Field(s => s.Title).Editable(false);
            model.Field(s => s.TimeTrackerClientCode).Editable(false);
            model.Field(s => s.Duration);
            model.Field(s => s.EntryDate);
            model.Field(s => s.Description);
            model.Field(s => s.ExportedDate).Editable(false);
        })
        .Read(create => create.Action("TimeTrackersRead", "TimeTracker", new { area = "Shared" }).Data("userDetailPage.timeTrackerSearchParam"))
        .Update(create => create.Action("TimeTrackersUpdateByUserId", "TimeTracker", new { area = "Shared" }).Data(@IdParam))
        .Destroy(create => create.Action("TimeTrackersDelete", "TimeTracker", new { area = "Shared" }))
        .Events(events =>
        {
            events.Error("pageHelper.onGridError");
        })
        )
        .Events(events =>
        {
            events.Edit("userDetailPage.onEdit");
            events.DataBound("userDetailPage.EditableCellHandler");
        })
        .HtmlAttributes(new { @class = "kendo-Grid", data_export_excel_url = @exportToExcelUrl })
        @*.HtmlAttributes(new { @class = "kendo-Grid" })*@
        )
</div>

<script>
    $(document).ready(function () {
        const timeTrackerGrid = $("#timeTrackersGrid");
        timeTrackerGrid.find(".k-grid-toolbar").on("click",
            ".TimeTrackerSearch",
            () => {
                const searchComponent = document.getElementById("timeTrackerSearchComponent");
                //if (searchComponent.getAttributeNames().includes("hidden")) {
                if (searchComponent.hidden) {
                    searchComponent.removeAttribute("hidden");
                    searchComponent.hidden = false;
                } else {
                    searchComponent.setAttribute("hidden", "hidden");
                    searchComponent.hidden = true;
                }
            });

        timeTrackerGrid.find(".k-grid-toolbar").on("click",
            ".k-grid-TimeTrackerExportToCost",
            () => {
                const url = "@Url.Action("ExportToCost", "TimeTracker", new { area = "shared"})";
                var data = userDetailPage.timeTrackerSearchParam();
                cpiLoadingSpinner.show();
                $.ajax({
                    url: url,
                    type: "Post",
                    data: data,
                    success: function (result) {
                        pageHelper.showSuccess(result.success);
                        userDetailPage.TimeTrackerGridRead();
                        cpiLoadingSpinner.hide();
                    },
                    error: function (e) {
                        pageHelper.showErrors(e);
                        cpiLoadingSpinner.hide();
                    }
                });
            });
        userDetailPage.TimeTrackerGridRead();

        var _wr = function (type) {
            var orig = history[type];
            return function () {
                var rv = orig.apply(this, arguments);
                var e = new Event(type);
                e.arguments = arguments;
                window.dispatchEvent(e);
                return rv;
            };
        };
        history.pushState = _wr('pushState'), history.replaceState = _wr('replaceState');

        window.addEventListener('replaceState', function (e) {
            userDetailPage.TimeTrackerGridRead();
        });

        timeTrackerGrid.find('.k-grid-excel-server').on('click', (e) => {
            e.preventDefault();
            searchResultsExportToExcel();
        });
    });

    function searchResultsExportToExcel() {
        const timeTrackerGrid = $("#timeTrackersGrid");
        const url = timeTrackerGrid.data("export-excel-url");
        if (url) {
            const data = userDetailPage.timeTrackerSearchParam();
            const dataJSON = JSON.stringify(data);
            //const columns = self.getSearchResultsGridHiddenColumns();

            let sortField = "";
            let sortDirection = "";

            const sort = timeTrackerGrid.data("kendoGrid").dataSource.sort();
            if (sort) {
                sortField = sort[0].field;
                sortDirection = sort[0].dir;
            }

            const html = '<form method="POST" id="excel-server-export-form" action="' + url + '">';
            let form = $(html);
            form.append($('<input type="hidden" name="mainSearchFiltersJSON"/>').val(dataJSON));
            //form.append($('<input type="hidden" name="hiddenColumns"/>').val(columns.join()));
            form.append($('<input type="hidden" name="sortField"/>').val(sortField));
            form.append($('<input type="hidden" name="sortDirection"/>').val(sortDirection));
            $("body").append(form);
            form.submit();
            $("#excel-server-export-form").remove();
        }
    }
</script>