@using R10.Core.Entities.ReportScheduler
@model CustomReportUploadViewModel
@inject ISystemSettings<TmkSetting> Settings
@inject ITmkCountryLawService CountryLawService
@inject IStringLocalizer<SharedResource> Localizer

@{
    var settings = await Settings.GetSetting();

    var screen = "customReportUpload";
}

<div class="modal fade" id="customReportUploadDialog" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="post" asp-action="CustomReportSave" id="CustomReportForm"
                  data-save-message="@Localizer["Report has been saved successfully."]">
                <div class="modal-header">
                    <h4 class="modal-title">@Localizer["Add/Edit Custom Report"]</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div class="container-fluid">
                        <input asp-for="ReportName" hidden />
                        <input asp-for="Updating" hidden />
                        <div class="col-12" style="text-align: center">
                            @if (Model.Updating)
                            {
                                <label style="font-size:20px;"><strong>@Model.ReportName</strong></label>
                            }
                            else
                            {
                                <label style="font-size:20px;"><strong>@Localizer["Report Name will be the file name"]</strong></label>
                            }
                        </div>

                        <div class="col-12">
                            <div class="form-group float-label">
                                <label asp-for="Remarks"></label>
                                <input type="text" class="form-control form-control-sm" asp-for="Remarks" />
                            </div>
                        </div>
                        @*<div class="col-12">
                            <label asp-for="OtherUsersPermission"><strong>@Localizer["Permission"]</strong></label><br />
                            <input asp-for="OtherUsersPermission" type="radio" value="0" asp-is-readonly=!ViewBag.IsOwner>
                            <label>@Localizer["Do not show to others"]</label><br />
                            <input asp-for="OtherUsersPermission" type="radio" value="1" asp-is-readonly=!ViewBag.IsOwner>
                            <label>@Localizer["Others can view"]</label><br />
                            <input asp-for="OtherUsersPermission" type="radio" value="2" asp-is-readonly=!ViewBag.IsOwner>
                            <label>@Localizer["Others can Edit"]</label><br />
                        </div>*@
                        <div class="col-12">
                            <div id="uploadImageRow">
                                @(Html.Kendo().Upload()
                                        .Name("Files")
                                        .Multiple(false) // limit upload to one file at a time
                                        .Messages(m => m.Select(Localizer["Select file to upload"].ToString()))
                                        .Validation(validation => validation.AllowedExtensions(".rdl"))
                                    )
                                <input type="hidden" id="FilesError" name="FilesError" value="@Localizer["Please upload an image or document."]" />
                            </div>
                        </div>
                    </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Cancel"]</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check pr-2"></i>@Localizer["Save"]</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var files = document.getElementById("Files");
        files.setAttribute("accept", ".rdl");
    })
</script>