@using R10.Web.Areas
@model CustomReportDetailViewModel
@inject IStringLocalizer<SharedResource> Localizer

@{
    var title = Localizer["Custom Report"].ToString();
    var detailPagePermission = (DetailPagePermission)ViewData["PagePermission"];

    var id = Model.ReportId;
    var addMode = id == 0;

    var pageId = ViewData["PageId"];
    var gridId = $"{pageId}-Grid";

    var fullModify = detailPagePermission.CanEditRecord && (!detailPagePermission.CanEditRemarksOnly);
    bool isReadOnlyHeader = !((fullModify && Model.IsMyReport) || addMode);
    bool isRemarksReadOnly = !((detailPagePermission.CanEditRecord && (Model.IsMyReport || Model.IsEditable)) || addMode);

    string recordStampUrl = Url.Action("GetRecordStamps", new { id = "recid" });
}

<form cpi-detail-form action="CustomReportSave" delete-message=@Localizer["You are about to delete this record and all its related information. This operation cannot be undone."]
      data-recordstamp-url="@recordStampUrl" id="CustomReportForm"
      data-url="@Url.Action("CustomReport","Report", new { Area = "Shared"})"
      data-email-report-url="@Url.Action("EmailCustomReport","Report", new { Area = "Shared", subjectTitle = title})">

    <input type="hidden" asp-for="ReportId" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="DateCreated" value="@Model.DateCreated.FormatToSave()" />
    <input type="hidden" asp-for="UpdatedBy" />
    <input type="hidden" asp-for="LastUpdate" value="@Model.LastUpdate.FormatToSave()" />
    <input type="hidden" id="tStamp" name="tStamp" />
    <vc:detail-page-nav-links page-permission="detailPagePermission" title="" add-mode="addMode"></vc:detail-page-nav-links>

    <div class="page-content detail cpiMainEntry">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="col-12 col-md-6">
                <div class="form-group float-label">
                    <label class="required" for="ReportName">@Localizer["Report Name"]</label>
                    @if (isReadOnlyHeader)
                    {
                        <input type="text" id="ReportNameToo" class="form-control form-control-sm" asp-for="ReportName" asp-is-readonly="true" />
                        <input type="hidden" asp-for="ReportName" />
                    }
                    else
                    {
                        <input type="text" class="form-control form-control-sm" asp-for="ReportName" asp-is-readonly="false" asp-is-autofocus="@addMode" />
                    }

                    <span asp-validation-for="ReportName"></span>
                </div>
            </div>
            <div class="col col-3">
                <div class="form-group disabled float-label">
                    <label for="ReportFile">@Localizer["Report File"]</label>
                    <input type="text" class="form-control form-control-sm" asp-for="ReportFile" asp-is-readonly="true" />
                </div>
            </div>
            <div class="col col-3">
                <div class="form-group disabled float-label">
                    <label for="ReportDataSource">@Localizer["Report Data Source"]</label>
                    <div class="form-group float-label">
                        <label asp-for="ReportDataSource"></label>
                        <input type="text" class="form-control form-control-sm" asp-for="ReportDataSource" asp-is-readonly="true" />
                    </div>
                </div>
            </div>
            <div class="col col-md-6" id="ReportFormatContainer">
                <label for="ReportFormat">@Localizer["Report Format"]</label>
                @(Html.Kendo().DropDownList()
                    .Name("ReportFormatForCustomReport")
                    .HtmlAttributes(new { style = "width: 100px" })
                    .BindTo(Html.GetEnumSelectList<ReportOutputType>().Where(e => Int32.Parse(e.Value) != 3 && Int32.Parse(e.Value) != 5))
                    .Events(events => events.Open("function() {this.element.getKendoDropDownList().list.find('li.k-item').first().hide();}"))
                    )
            </div>
            <div class="col col-12">
                <div class="form-group float-label">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="IsShared" class="custom-control-input" asp-is-readonly="@isReadOnlyHeader" />
                        <label asp-for="IsShared" class="custom-control-label">
                            @Localizer["Share Report"]
                        </label>
                    </div>
                </div>
            </div>
            <div class="col col-12">
                <div class="form-group float-label">
                    <div class="custom-control custom-checkbox">
                        <input asp-for="IsEditable" class="custom-control-input" asp-is-readonly="@isReadOnlyHeader" />
                        <label asp-for="IsEditable" class="custom-control-label">@Localizer["Allow Others to Edit"]</label>
                    </div>
                </div>
            </div>
            @if (isReadOnlyHeader)
            {
                <input type="hidden" asp-for="IsShared" />
                <input type="hidden" asp-for="IsEditable" />
            }
        </div>
        <div class="form-row">
            <div class="col col-12">
                <div class="form-group float-label">
                    <label for="Remarks">@Localizer["Remarks"]</label>
                    <textarea asp-for="Remarks" class="form-control form-control-sm" rows="12" asp-is-readonly="isRemarksReadOnly">Remarks</textarea>
                </div>
            </div>
        </div>
        <div class="form-row" id="uploadImage">
            <div class="col-12">
                <div id="uploadImageRow">
                    @(Html.Kendo().Upload()
                        .Name("Files")
                        .Multiple(false) // limit upload to one file at a time
                        .Messages(m => m.Select(Localizer["Select file to upload"].ToString()))
                        .Validation(validation => validation.AllowedExtensions(".rdl"))
                        )
                    @*<input type="hidden" id="FilesError" name="FilesError" value="@Localizer["Please upload a rdl document."]" />*@
                    @if (addMode)
                    {
                        <input type="hidden" asp-for="Files" />
                        <span asp-validation-for="Files"></span>
                    }
                </div>
            </div>
        </div>
    </div>

</form>

<script>
    $(document).ready(function () {
        customReport.initializeDetailContentHeader({
            detailHeaderContainer: "@pageId",
            id: "@id",
            addMode: @(addMode ? "true" : "false"),
        });

        var files = document.getElementById("Files");
        files.setAttribute("accept", ".rdl");

        hideUpload(@(isRemarksReadOnly ? "true" : "false"));
        hideReportFormat(@(addMode ? "true" : "false"));
        const form = $("#CustomReportForm");
        form.find("#ReportFormatForCustomReport").on("change", function (e) { customReport.ReportFormatChangeForCustomReport() })
    });

    function hideUpload(canNotEdit) {
        if (canNotEdit) {
            var uploader = document.getElementById("uploadImage");
            uploader.setAttribute("hidden", "hidden");
        }
    }

    function hideReportFormat(addModel) {
        if (addModel) {
            var uploader = document.getElementById("ReportFormatContainer");
            uploader.setAttribute("hidden", "hidden");
        }
    }

    function downloadCustomReport(form) {
        const json = pageHelper.formDataToJson(form);
        const reportName = json.payLoad.ReportName;

        fetch("@Url.Action("DownloadCustomReport", "CustomReport", new { Area = "Shared" })",
            {
                method: "POST",
                headers: {
                    Accept: "arraybuffer",
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(json.payLoad),
            }
        ).then(response => {
            if (!response.ok)
                throw response;

            return response.blob();
        })
            .then(data => {
                cpiLoadingSpinner.hide();
                const a = document.createElement("a");
                document.body.appendChild(a);
                const blobUrl = window.URL.createObjectURL(data);
                a.href = blobUrl;
                a.download = reportName + ".rdl";
                a.click();
                setTimeout(() => {
                    window.URL.revokeObjectURL(blobUrl);
                    document.body.removeChild(a);
                }, 0);
            })
            .catch(error => {
                cpiLoadingSpinner.hide();
                error.text().then(errorMessage => {
                    pageHelper.showErrors(errorMessage);
                })
            });
    }

    function printReport(form) {
        cpiLoadingSpinner.show();
        const url = form.data("url")
        const json = pageHelper.formDataToJson(form);
        const reportName = json.payLoad.ReportName;

        //use fetch to get report and open new tab to display it
        //displaying in new tab does not work when using $.ajax
        //with fetch, get response as blob --> response.blob()
        //then turn blob to object url --> URL.createObjectURL(blobData)
        fetch(url, {
            method: "POST",
            headers: {
                Accept: "arraybuffer",
                "Content-Type": "application/json",
            },
            //body: json.payLoad
            body: JSON.stringify(json.payLoad)
        })
            //if response ok, get response as blob
            //if not ok, throw response as error
            .then(response => {
                if (!response.ok)
                    throw response;

                return response.blob();
            })
            .then(data => {
                cpiLoadingSpinner.hide();

                if (document.getElementById("ReportFormatForCustomReport").value == 4) {
                    const a = document.createElement("a");
                    document.body.appendChild(a);
                    const blobUrl = window.URL.createObjectURL(data);
                    a.href = blobUrl;
                    a.target = "_blank"
                    a.click();
                    setTimeout(() => {
                        window.URL.revokeObjectURL(blobUrl);
                        document.body.removeChild(a);
                    }, 0);
                }
                else {
                    const a = document.createElement("a");
                    document.body.appendChild(a);
                    const blobUrl = window.URL.createObjectURL(data);
                    a.href = blobUrl;
                    a.download = reportName;
                    a.click();
                    setTimeout(() => {
                        window.URL.revokeObjectURL(blobUrl);
                        document.body.removeChild(a);
                    }, 0);
                }

            })
            .catch(error => {
                cpiLoadingSpinner.hide();
                if (error.status >= 500)
                    pageHelper.showErrors("Unhandled error.");
                else
                    error.text().then(errorMessage => {
                        pageHelper.showErrors(errorMessage);
                    })
            });
    }

    function emailReport(form) {
        cpiLoadingSpinner.show();

        if (document.getElementById("token") == null) {
            $.validator.unobtrusive.parse(form);
            form.data("validator").settings.ignore = "";
            const criteriaData = new FormData(form[0]);

            $.ajax({
                type: "POST",
                url: form.data("email-report-url"),
                data: criteriaData,
                contentType: false,
                processData: false,
                success: function (result) {
                    const popupContainer = $(".popup").last();
                    popupContainer.html(result);
                    cpiLoadingSpinner.hide();
                },
                error: function (e) {
                    pageHelper.showErrors(e);
                    cpiLoadingSpinner.hide();
                }
            });
        } else {
            const tokenUrl = form.data("token-url");
            const username = form.data("username");

            //get token
            $.ajax({
                url: tokenUrl,
                data: { username: username, password: "_", grant_type: "password" },
                type: "POST",
                contentType: "application/x-www-form-urlencoded",
                success: function (result) {
                    form.find("#token").val(result.access_token);
                    $.validator.unobtrusive.parse(form);
                    form.data("validator").settings.ignore = "";
                    const criteriaData = new FormData(form[0]);
                    $.ajax({
                        type: "POST",
                        url: form.data("email-report-url"),
                        headers: {
                            "RequestVerificationToken": result.access_token
                        },
                        data: criteriaData,
                        contentType: false,
                        processData: false,
                        success: function (result) {
                            const popupContainer = $(".popup").last();
                            popupContainer.html(result);
                            cpiLoadingSpinner.hide();
                        },
                        error: function (e) {
                            pageHelper.showErrors(e);
                            cpiLoadingSpinner.hide();
                        }
                    });
                },
                error: function (error) {
                    cpiLoadingSpinner.hide();
                    pageHelper.showErrors(error);
                }
            });
        }
    }
</script>