@model CustomReportPageViewModel
@inject IStringLocalizer<SharedResource> Localizer
@{
    var pageId = Model.PageId;
}

<ul class="nav nav-tabs refine-search nav-tabs-vertical" role="tablist">
    <li class="nav-item">
        <a id="@(pageId)MainTab" href="#@(pageId)MainTabContent" class="nav-link active" data-toggle="tab" role="tab"
           aria-controls="@(pageId)MainTabContent" title="@Localizer["Main"]">@Localizer["Main"]</a>
    </li>
</ul>

<div class="accordion-content show">
    <div class="tab-pane show form-sidebar active" id="@(pageId)MainTabContent" aria-labelledby="@(pageId)MainTab" role="tabpanel">
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="ReportName">@Localizer["Report Name"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "ReportName", action = "GetCustomReportNameList", controller = "CustomReport", area = "Shared", screen = pageId })
                </div>
            </div>
        </div>
        @*<div class="form-row">
            <div class="col-md-4">
                <div class="form-group float-label">
                    <label for="QueryOwner">@Localizer["Owner"]</label>
                    @await Component.InvokeAsync("ComboBox", new { name = "OwnedBy", action = "GetPicklistData", controller = "CustomReport", area = "Shared", screen = pageId })
                </div>
            </div>
        </div>*@
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="label" for="ShowOnlyMyReports">@Localizer["Show Only My Reports"]</label>
                    <label class="toggle-switch">
                        <input id=" ShowOnlyMyReports" name="ShowOnlyMyReports" type="checkbox" class="toggle-option">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>



