@model QuickEmailDetailViewModel
@inject IStringLocalizer<QuickEmailResource> Localizer
@{
    ViewBag.Title = "Quick Email";
    var id = Model.QESetupID;
    var systemType = Model.SystemType;
    var pagePermission = (DetailPagePermission)ViewBag.PermissionViewModel;
    var areaController = QuickEmailHelper.GetQEAreaController(systemType);
 
    var detailUrl = Url.Action("GetQuickEmail", "QuickEmail");
    var childViewModel = new ChildQuickEmailViewModel { SystemType = systemType, RoleLink = Model.RoleLink, Permission = pagePermission, ParentViewModel = Model };
}

<div id="quickEmailDialog">
    <form id="quickEmailForm" asp-action="SendEmail" method="post" enctype="multipart/form-data"
          data-success="@Localizer["Email has been sent successfully."]">
        @* <div class="modal-header py-1">
        <h5 class="modal-title" id="setEntityFilterDialogLabel">@Localizer["Quick Email"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> *@
        <div class="modal-body container-fluid py-0">
            <input type="hidden" name="QESetupID" asp-for="QESetupID" data-url="@detailUrl" />
            <input type="hidden" name="ScreenId" asp-for="ScreenId" />
            <input type="hidden" name="SystemType" asp-for="SystemType" />
            <input type="hidden" name="ParentKey" asp-for="ParentKey" />
            <input type="hidden" name="ParentId" asp-for="ParentId" />
            <input type="hidden" name="LogParentKey" asp-for="LogParentKey" />
            <input type="hidden" name="LogParentId" asp-for="LogParentId" />
            <input type="hidden" name="ParentTable" asp-for="ParentTable" />
            <input type="hidden" name="ScreenName" asp-for="ScreenName" />
            <input type="hidden" name="ScreenCode" asp-for="ScreenCode" />
            <input type="hidden" name="ParentScreenName" asp-for="ParentScreenName" />
            <input type="hidden" name="RoleLink" asp-for="RoleLink" />
            <input type="hidden" asp-for="DataSourceID" />
            <input type="hidden" asp-for="ImageParentId" />
            <input type="hidden" asp-for="OptOutSetting" />
            <input type="hidden" asp-for="BodyMailTo" />
            <input type="hidden" asp-for="HasNonAscii" />
            <input type="hidden" asp-for="SharePointDocLibrary" />
            <input type="hidden" asp-for="SharePointDocLibraryFolder" />
            <input type="hidden" asp-for="SharePointRecKey" />
            <div id="qePopupSummary" class="page-status alert alert-danger alert-dismissible boxy collapse" role="alert">
                <button type="button" class="close" data-hide="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="message"></span>
            </div>
            <div class="p-2">
                <div class="form-group float-label">
                    <label>@Localizer["Source Screen"]</label>
                    <input type="text" class="form-control form-control-sm" readonly value="@Model.ScreenName" />
                </div>

                <div class="form-group float-label">
                    <label>@Localizer["Email Template"]</label>

                    @(Html.Kendo().ComboBox()
                        .Name("TemplateName")
                        .DataTextField("TemplateName")
                        .DataValueField("QESetUpID")
                        .Value(Model.QESetupID.ToString())
                        .Text(Model.TemplateName)
                        .Events(events => events.Change("quickEmail.onChange_Template"))
                        .HtmlAttributes(new { style = "width: 100%" })
                        .Filter(FilterType.Contains)
                        .AutoBind(false)
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("GetTemplateNamesList", "QuickEmail", new { textProperty = "TemplateName", screenId = Model.ScreenId, filterType = FilterType.StartsWith, requiredRelation = "" });
                            })
                            .ServerFiltering(true);
                        })
                        )

                </div>

                <div class="form-group float-label">
                    <label>@Localizer["Subject"]</label>
                    <textarea type="text" name="Subject" class="form-control form-control-sm" rows="1" asp-for="Subject"></textarea>
                </div>
            </div>
            <div class="p-1">
                <ul class="nav nav-tabs nav-tabs-horizontal scrolling" id="qeMainTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="eqRecipientTab" data-toggle="tab" href="#eqRecipientTabContent" role="tab" aria-controls="eqRecipientTabContent" aria-selected="false"> @Localizer["Recipients"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="qeBodyTab" data-toggle="tab" href="#qeBodyTabContent" role="tab" aria-controls="qeBodyTabContent" aria-selected="true"> @Localizer["Body"]</a>
                    </li>
                    @if (!Model.ShowAttachments)
                    {
                        @if (Model.DisplayImages)
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="qeImagesLinksTab" data-toggle="tab" href="#qeImagesLinksTabContent" role="tab" aria-controls="qeImagesLinksTabContent" aria-selected="true"> @Localizer["Documents"]</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" id="qeUploadFilesTab" data-toggle="tab" href="#qeUploadFilesTabContent" role="tab" aria-controls="qeUploadFilesTabContent" aria-selected="true"> @Localizer["Upload Files"]</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" id="qeAttachmentsTab" data-toggle="tab" href="#qeAttachmentsTabContent" role="tab" aria-controls="qeAttachmentsTabContent" aria-selected="true"> @Localizer["Attachments"]</a>
                        </li>
                    }
                </ul>
                <div class="tab-content" id="qeMainTabsContent">
                    <div class="tab-pane show active py-2" id="eqRecipientTabContent" role="tabpanel" aria-labelledby="eqRecipientTab">
                        <div class="p-2">
                            <div class="input-group input-group-sm mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="toText">@Localizer["To"]</span>
                                </div>
                                <textarea type="text" name="To" class="form-control form-control-sm" rows="1" asp-for="To"></textarea>
                            </div>
                            <div class="input-group input-group-sm mb-1">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="ccText">@Localizer["Cc"]</span>

                                </div>
                                <textarea type="text" name="CopyTo" class="form-control form-control-sm" rows="1" asp-for="CopyTo"></textarea>
                                <div class="input-group-append">
                                    <button id="moreButton" class="btn btn-outline-secondary" type="button" aria-label="More">
                                        <i id="downIcon" class="fal fa-chevron-down font-weight-bold"></i>
                                        <i id="upIcon" class="fal fa-chevron-up font-weight-bold"></i>
                                    </button>
                                </div>
                            </div>
                            <div id="moreContainer">
                                <div id="bccContainer" class="input-group input-group-sm mb-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="bccText">@Localizer["Bcc"]</span>

                                    </div>
                                    <textarea type="text" name="Bcc" class="form-control form-control-sm" rows="1" asp-for="Bcc"></textarea>
                                </div>
                                <div id="fromContainer" class="input-group input-group-sm mb-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="toText">From</span>
                                    </div>
                                    <textarea type="text" name="FromAddress" class="form-control form-control-sm" rows="1" asp-for="FromAddress"></textarea>
                                </div>
                                <div id="replyToContainer" class="input-group input-group-sm mb-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="replyToText">Reply-to</span>
                                    </div>
                                    <textarea type="text" name="ReplyToAddress" class="form-control form-control-sm" rows="1" asp-for="ReplyToAddress"></textarea>
                                </div>
                            </div>
                            @await Html.PartialAsync("_QERecipient.cshtml", childViewModel)
                        </div>
                    </div>
                    <div class="tab-pane py-2" id="qeBodyTabContent" role="tabpanel" aria-labelledby="qeBodyTab">
                        <div class="p-2">
                            @(Html.Kendo().Editor()
                                .Name("Body")
                                .Value(Model.Body)
                                .HtmlAttributes(new { style = "height: 350px; padding: 25px", aria_label = "editor" })
                                .Resizable(resizable => resizable.Content(true).Toolbar(false))
                                .Events(events => events
                                .Change($"pageHelper.editorModified")
                                )
                                .Tools(tools => tools.Clear()
                                .Bold().Italic().Underline().Strikethrough()
                                .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull().InsertUnorderedList().InsertOrderedList()
                                .Outdent().Indent().CreateLink().Unlink().InsertImage().ViewHtml().Print()
                                .Formatting().CleanFormatting()
                                .FontName().FontSize().ForeColor().BackColor()
                                .TableEditing()
                                )
                                )
                        </div>
                    </div>
                    @if (!Model.ShowAttachments)
                    {
                        @if (Model.DisplayImages)
                        {
                            <div class="tab-pane py-2" id="qeImagesLinksTabContent" role="tabpanel" aria-labelledby="qeImagesLinksTab">
                                @await Html.PartialAsync("_QEImagesLinks.cshtml", childViewModel)
                            </div>
                        }
                        <div class="tab-pane py-2" id="qeUploadFilesTabContent" role="tabpanel" aria-labelledby="qeUploadFilesTab">
                            <br />
                            <div class="row form-group">
                                <div id="uploadImage" class="col text-center">
                                    @(Html.Kendo().Upload()
                                        .Name("Files")
                                        .Multiple(true)
                                        .Messages(m => m.Select(Localizer["Select files to upload or drop files here"].ToString()))
                                        .HtmlAttributes(new { aria_label = "Files" })
                                        //.Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".png" })))
                                        )
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @if (Model.ShowAttachments)
                        {
                            <div class="tab-pane py-2" id="qeAttachmentsTabContent" role="tabpanel" aria-labelledby="qeAttachmentsTab">
                                @await Html.PartialAsync("_QEAttachments.cshtml", childViewModel)
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div>
            <div class="modal-footer">
                <button id="open" type="button" class="btn btn-secondary"><i class="far fa-envelope pr-2"></i>@Localizer["Open in default Email"]</button>
                <button id="download" type="button" class="btn btn-secondary"><i class="far fa-download pr-2"></i>@Localizer["Download"]</button>
                @* <button id="cancel" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle pr-2"></i>@Localizer["Close"]</button> *@
                <button id="ok" type="submit" class="btn btn-primary float-right"><i class="fal fa-paper-plane pr-2"></i>@Localizer["Send"]</button>
            </div>
        </div>
    </form>
</div>
<script>
    quickEmail.initializePopup();
</script>

<style>
    /*sets the width of your addons*/
    .input-group > .input-group-prepend {
        flex: 0 0 12%;
    }
    /*forces the inputs to take up all of their parent container.*/
    .input-group .input-group-text {
        width: 100%;
    }

    .k-dropzone {
        padding: 0px;
    }
</style>