@model QuickEmailDetailViewModel
@inject IStringLocalizer<QuickEmailResource> Localizer
@inject ISystemSettings<DefaultSetting> Settings
@{
    ViewBag.Title = "Quick Email";
    var id = Model.QESetupID;
    var systemType = Model.SystemType;
    var pagePermission = (DetailPagePermission)ViewBag.PermissionViewModel;
    var areaController = QuickEmailHelper.GetQEAreaController(systemType);

    var detailUrl = Url.Action("GetQuickEmail", "QuickEmail");
    var childViewModel = new ChildQuickEmailViewModel { SystemType = systemType, RoleLink = Model.RoleLink, Permission = pagePermission, ParentViewModel = Model };
    var settings = await Settings.GetSetting();
    var screenId = Model.ScreenId;
    var templateName = Model.TemplateName ?? "";
}

<div id="quickEmailDialog" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="quickEmailDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <form id="quickEmailForm" asp-action="SendEmail" method="post" enctype="multipart/form-data"
                  data-success="@Localizer["Email has been sent successfully."]">
                <div class="modal-header py-1">
                    <h5 class="modal-title" id="setEntityFilterDialogLabel">@Localizer["Quick Email"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container-fluid py-0">
                    <input type="hidden" name="QESetupID" asp-for="QESetupID" data-url="@detailUrl" />
                    <input type="hidden" name="ScreenId" asp-for="ScreenId" />
                    <input type="hidden" name="SystemType" asp-for="SystemType" />
                    <input type="hidden" name="ParentKey" asp-for="ParentKey" />
                    <input type="hidden" name="ParentId" asp-for="ParentId" />
                    <input type="hidden" name="LogParentKey" asp-for="LogParentKey" />
                    <input type="hidden" name="LogParentId" asp-for="LogParentId" />
                    <input type="hidden" name="ParentTable" asp-for="ParentTable" />
                    <input type="hidden" name="ScreenName" asp-for="ScreenName" />
                    <input type="hidden" name="ScreenCode" asp-for="ScreenCode" />
                    <input type="hidden" name="ParentScreenName" asp-for="ParentScreenName" />
                    <input type="hidden" name="RoleLink" asp-for="RoleLink" />
                    <input type="hidden" asp-for="DataSourceID" />
                    <input type="hidden" asp-for="ImageParentId" />
                    <input type="hidden" asp-for="OptOutSetting" />
                    <input type="hidden" asp-for="BodyMailTo" />
                    <input type="hidden" asp-for="HasNonAscii" />
                    <input type="hidden" asp-for="TemplateName" />
                    <input type="hidden" asp-for="SharePointDocLibrary" />
                    <input type="hidden" asp-for="SharePointDocLibraryFolder" />
                    <input type="hidden" asp-for="SharePointRecKey" />
                    <div id="errorSummary" class="alert alert-danger d-none alert-dismissible fade show" role="alert">
                        <div class="content"></div>
                        <button type="button" class="close alert-close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div>
                        <a style="font-style:italic; font-size: small; font-weight: bold; display: none;" href="#" id="expandSearch"><u>@Localizer["Expand Template Search >>"]</u></a>
                    </div>
                    <div class="search">
                        <div class="form-row">
                            <div class="col-md-6">
                                <span style="font-style:italic; font-size: small; font-weight: bold;">@Localizer["Template Search"]</span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group float-label">
                                    <label>@Localizer["Source Screen"]</label>
                                    <input type="text" class="form-control form-control-sm" readonly value="@Model.ScreenName" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group float-label" style="width:100%">
                                    <label for="pat-search-str">@Localizer["Template Name"]</label>
                                    @* <input type="text" id="qe-search" class="form-control form-control-sm" /> *@
                                    @* <i class="far fa-search text-muted qe-search-submit" title="@Localizer["Search"]"></i> *@
                                    @await Component.InvokeAsync("ComboBox", new
                                        {
                                            name = "TemplateName_Search",
                                            controller = "QuickEmail",
                                            area = "Shared",
                                            textProperty = "TemplateName",
                                            action = "GetTemplateNamesList",
                                            data = "function (e) {var filterText = ''; if (e.filter) {filterText = e.filter.filters[0].value;}"
                                             + " return { screenId: " + @screenId.ToString() + ", text: filterText, textProperty: \"TemplateName\" };}",
                                            onChange = "quickEmail.searchTemplate"
                                        })
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group float-label">
                                    <label for="QECatId">@Localizer["Category"]</label>
                                    @await Component.InvokeAsync("ComboBox", new
                                        {
                                            name = "QECat",
                                            textProperty = "QECat",
                                            valueProperty = "QECatId",
                                            controller = "QuickEmailCategory",
                                            area = "Shared",
                                            action = "GetQECategoryList",
                                            onChange = "quickEmail.searchTemplate"
                                        })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group float-label">
                                    <label for="Tags">@Localizer["Tags"]</label>
                                    @await Component.InvokeAsync("MultiSelect", new MultiSelectOptions
                               {
                                   Controller = "QuickEmailSetup",
                                   Area = "Shared",
                                   Action = "GetTagPickListData",
                                   Name = "Tag",
                                   DataTextProperty = "Tag",
                                   DataValueProperty = "Tag",
                                   ListWidth = 500,
                                   OnChange = "quickEmail.searchTemplate"
                               })
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <span style="font-style:italic; font-size: small; font-weight: bold;" class="pt-2 pb-2">@Localizer["Please select a template to use"]</span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                @(
                                    Html.Kendo().Grid<QuickEmailListViewModel>()
                                    .Name("qeListGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(l => l.QESetupId).Hidden();
                                        columns.Bound(l => l.TemplateName);
                                    })
                                    .AutoBind(true)
                                    .Pageable(page => page.Responsive(false).PageSizes(true).Refresh(true))
                                    .Sortable(sortable => sortable.SortMode(GridSortMode.SingleColumn).ShowIndexes(true))
                                    .Selectable()
                                    .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(l => l.QESetupId);
                                    })
                                    .Events(events => events.Error("quickEmailSetup.searchResultGridError"))
                                    .PageSize(5)
                                    .Read(read => read.Action("PageRead", "QuickEmail").Data("quickEmail.getSearchedQE"))
                                    .Sort(sort => sort.Add(i => i.TemplateName))
                                    )
                                    .Events(events =>
                                    {
                                        events.Change("quickEmail.onChange_Template");
                                        events.DataBound($"function(e) {{quickEmail.qeListGridDataBound(\"{@templateName}\", e);}}");
                                    })
                                    .HtmlAttributes(new { @class = "k-grid-border" })
                                    )
                            </div>
                        </div>
                    </div>
                    <div class="data">
                        <div class="p-2">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group float-label">
                                        <label>@Localizer["Subject"]</label>
                                        <textarea type="text" name="Subject" class="form-control form-control-sm" rows="1" asp-for="Subject"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="p-1">
                            <ul class="nav nav-tabs nav-tabs-horizontal scrolling" id="qeMainTabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="eqRecipientTab" data-toggle="tab" href="#eqRecipientTabContent" role="tab" aria-controls="eqRecipientTabContent" aria-selected="false"> @Localizer["Recipients"]</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="qeBodyTab" data-toggle="tab" href="#qeBodyTabContent" role="tab" aria-controls="qeBodyTabContent" aria-selected="true"> @Localizer["Body"]</a>
                                </li>
                                @if (!Model.ShowAttachments)
                                {
                                    @if (Model.DisplayImages)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link" id="qeImagesLinksTab" data-toggle="tab" href="#qeImagesLinksTabContent" role="tab" aria-controls="qeImagesLinksTabContent" aria-selected="true"> @Localizer["Documents"]</a>
                                        </li>
                                    }
                                    <li class="nav-item">
                                        <a class="nav-link" id="qeUploadFilesTab" data-toggle="tab" href="#qeUploadFilesTabContent" role="tab" aria-controls="qeUploadFilesTabContent" aria-selected="true"> @Localizer["Upload Files"]</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" id="qeAttachmentsTab" data-toggle="tab" href="#qeAttachmentsTabContent" role="tab" aria-controls="qeAttachmentsTabContent" aria-selected="true"> @Localizer["Attachments"]</a>
                                    </li>
                                }
                            </ul>
                            <div class="tab-content" id="qeMainTabsContent">
                                <div class="tab-pane show active py-2" id="eqRecipientTabContent" role="tabpanel" aria-labelledby="eqRecipientTab">
                                    <div class="p-2">
                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="toText">@Localizer["To"]</span>
                                            </div>
                                            <textarea type="text" name="To" class="form-control form-control-sm" rows="1" asp-for="To"></textarea>
                                        </div>
                                        <div class="input-group input-group-sm mb-1">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="ccText">@Localizer["Cc"]</span>

                                            </div>
                                            <textarea type="text" name="CopyTo" class="form-control form-control-sm" rows="1" asp-for="CopyTo"></textarea>
                                            <div class="input-group-append">
                                                <button id="moreButton" class="btn btn-outline-secondary" type="button" aria-label="More">
                                                    <i id="downIcon" class="fal fa-chevron-down font-weight-bold"></i>
                                                    <i id="upIcon" class="fal fa-chevron-up font-weight-bold"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div id="moreContainer">
                                            <div id="bccContainer" class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="bccText">@Localizer["Bcc"]</span>

                                                </div>
                                                <textarea type="text" name="Bcc" class="form-control form-control-sm" rows="1" asp-for="Bcc"></textarea>
                                            </div>
                                            <div id="fromContainer" class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="toText">From</span>
                                                </div>
                                                <textarea type="text" name="FromAddress" class="form-control form-control-sm" rows="1" asp-for="FromAddress"></textarea>
                                            </div>
                                            <div id="replyToContainer" class="input-group input-group-sm mb-1">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="replyToText">Reply-to</span>
                                                </div>
                                                <textarea type="text" name="ReplyToAddress" class="form-control form-control-sm" rows="1" asp-for="ReplyToAddress"></textarea>
                                            </div>
                                        </div>
                                        @await Html.PartialAsync("_QERecipient.cshtml", childViewModel)
                                    </div>
                                </div>
                                <div class="tab-pane py-2" id="qeBodyTabContent" role="tabpanel" aria-labelledby="qeBodyTab">
                                    <div class="p-2">
                                        @(Html.Kendo().Editor()
                                            .Name("Body")
                                            .Value(Model.Body)
                                            .HtmlAttributes(new { style = "height: 350px; padding: 25px", aria_label = "editor" })
                                            .Events(events => events
                                            .Change($"pageHelper.editorModified")
                                            .Keydown("quickEmail.divFadeOut")
                                            .Select("quickEmail.divFadeOut")
                                            )
                                            .Resizable(resizable => resizable.Content(true).Toolbar(false))

                                            .Tools(tools => tools.Clear()
                                            .Bold().Italic().Underline().Strikethrough()
                                            .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull().InsertUnorderedList().InsertOrderedList()
                                            .Outdent().Indent().CreateLink().Unlink().InsertImage().ViewHtml().Print()
                                            .Formatting().CleanFormatting()
                                            .FontName().FontSize().ForeColor().BackColor()
                                            .TableEditing()
                                            )
                                            )
                                    </div>
                                </div>
                                @if (!Model.ShowAttachments)
                                {
                                    @if (Model.DisplayImages)
                                    {
                                        <div class="tab-pane py-2" id="qeImagesLinksTabContent" role="tabpanel" aria-labelledby="qeImagesLinksTab">
                                            @await Html.PartialAsync("_QEImagesLinks.cshtml", childViewModel)
                                        </div>
                                    }
                                    <div class="tab-pane py-2" id="qeUploadFilesTabContent" role="tabpanel" aria-labelledby="qeUploadFilesTab">
                                        <br />
                                        <div class="row form-group">
                                            <div id="uploadImage" class="col text-center">
                                                @(Html.Kendo().Upload()
                                                    .Name("Files")
                                                    .Multiple(true)
                                                    .Messages(m => m.Select(Localizer["Select files to upload or drop files here"].ToString()))
                                                    .HtmlAttributes(new { aria_label = "Files" })
                                                    //.Validation(validation => validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".png" })))
                                                    )
                                            </div>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    @if (Model.ShowAttachments)
                                    {
                                        <div class="tab-pane py-2" id="qeAttachmentsTabContent" role="tabpanel" aria-labelledby="qeAttachmentsTab">
                                            @await Html.PartialAsync("_QEAttachments.cshtml", childViewModel)
                                        </div>
                                    }
                                }


                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="modal-footer">
                        <button id="open" type="button" class="btn btn-secondary"><i class="far fa-envelope pr-2"></i>@Localizer["Open in default Email"]</button>
                        <button id="download" type="button" class="btn btn-secondary"><i class="far fa-download pr-2"></i>@Localizer["Download"]</button>
                        <button id="cancel" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times-circle pr-2"></i>@Localizer["Close"]</button>
                        <button id="ok" type="submit" class="btn btn-primary float-right"><i class="fal fa-paper-plane pr-2"></i>@Localizer["Send"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    quickEmail.initialize();

    //Fix issue with popups from Kendo editor: hyperlink/image/file
    $(document).ready(function () {
        $('#quickEmailDialog').on('shown.bs.modal', function () {
            $(document).off('focusin.modal');
        });

        $(".data").on("click", quickEmail.divFadeOut);

        // When clicking the expand button, show the search div again with animation
        $("#expandSearch").on("click", function () {
            $(".search").slideDown(300);
            $(this).fadeOut(200);
        });

    });
</script>



<style>
    /*sets the width of your addons*/
    .input-group > .input-group-prepend {
        flex: 0 0 12%;
    }
    /*forces the inputs to take up all of their parent container.*/
    .input-group .input-group-text {
        width: 100%;
    }

    .k-dropzone {
        padding: 0px;
    }

/*     .collapsed {
        display: none;
    } */
</style>