@model R10.Core.Entities.Log
@inject IStringLocalizer<SharedResource> Localizer
<div class="modal fade" id="errorLogDetailsDialog" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header py-1">
                <h4 class="modal-title">@Localizer["Error Details"]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <div class="container">
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>@Localizer["Id"]</label>
                        </div>
                        <div class="col-md-9">
                            @Model.Id
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>@Localizer["Date"]</label>
                        </div>
                        <div class="col-md-9">
                            @Model.TimeStamp
                        </div>
                    </div>
                    @*<div class="row form-group">
                        <div class="col-md-3">
                            <label>@Localizer["Level"]</label>
                        </div>
                        <div class="col-md-9">
                            @Model.Level
                        </div>
                    </div>*@
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>@Localizer["Message"]</label>
                        </div>
                        <div class="col-md-9 word-wrap">
                            <div class="overflow-auto border border-info" style="height:250px">
                                @Model.Message
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>@Localizer["Message Template"]</label>
                        </div>
                        <div class="col-md-9 word-wrap">
                            @Model.MessageTemplate
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>@Localizer["Exception"]</label>
                        </div>
                        <div class="col-md-9 word-wrap">
                            <div class="overflow-auto border border-info" style="height:250px">
                                @Model.Exception
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>@Localizer["Properties"]</label>
                        </div>
                        <div class="col-md-9 word-wrap">
                            <div class="overflow-auto border border-info" style="height:250px">
                                @Model.Properties
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer" style="border-top:none">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-undo-alt pr-2"></i>@Localizer["Close"]</button>
            </div>
        </div>
    </div>
</div>









